@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../fonts/GothamPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
  src: url('../fonts/GothamPro-Bold.woff') format('woff'); /* Modern Browsers */
  src: url('../fonts/GothamPro-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  /*src: url('GothamPro-Bold.svg#svgFontName') format('svg');*/ /* Legacy iOS */
  src: url('../fonts/GothamPro-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  src: url('../fonts/GothamPro-Bold.ttf') format('truetype');
}
.custom_profile_header{
  width: 50px; 
  height: 50px; 
  border-radius: 25px
}
.profile_image{
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background: #e8e3ff;
}

.sphere_error_class{
	color: #ff0000;
}
.msgStatusIcon{
  background-repeat: no-repeat !important;
  height: 25px !important;
  width: 28px !important;
  float:right;
}
.custom_search_div{
  padding-right: 0px !important;
}
.ru_text li a{
  font-family: 'GothamPro-Bold'!important;
}