
<article>
  <section class="history-section">
    <div class="container">
      <div class="page-content-block">
        <div class="heading-div">
          <h3 class="uppercase">My History</h3>
        </div>
        <div class="block-head-div filter-div">
          <div class="row">
            <div class="col-sm-4">
              <div class="search-div">
                <input type="text" placeholder="Search" class="form-control" ng-model="filter.searchText" id="searchText">
                <button class="btn btn-green" ng-click="gethistories()">Search</button>
              </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-2 col-md-3">
              <div class="table-div">
                <label>My Courses</label>
                <div class="custom-select-dropdown">
                  <select class="form-control" ng-model="filter.course" ng-change="gethistories()">
                    <option ng-value="0">Course</option>
                    <option ng-value="[[course.course_id]]" ng-repeat="course in myCourses">[[course.course_details.course_name]]</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-md-4">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td width="80" align="center"><label>Time</label></td>
                  <td><div class="bob-select-div">
                      <input type="text" class="form-control datepicker" ng-model="filter.fromDate" ng-change="gethistories()" placeholder="From Date" >
                      <i class="fa fa-calendar"></i> </div></td>
                  <td width="30" align="center"><label>To</label></td>
                  <td><div class="table-div">
                      <div class="bob-select-div">
                        <input type="text" class="form-control datepicker" ng-model="filter.toDate" ng-change="gethistories()" placeholder="To Date" >
                        <i class="fa fa-calendar"></i> </div>
                    </div></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="content-div">
          <div class="transactions-list">
            <div class="tbl-design">
              <table cellpadding="0" cellspacing="0" width="100%" class="table table-bordered">
                <thead>
                  <tr>
                    <th width="200">Date</th>
                    <th>Descriptin</th>
                    <th width="150" align="center" class="text-center">Event</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="history in histories">
                    <td>[[history.event_at]]</td>
                    <td>[[history.history_message]]</td>
                    <td align="center">[[history.event]]</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <default-pagination currentpage="currentPaging" like="gethistories(page)" paginate="paginate" range="rangepage"></default-pagination>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
