<section class="home-header-banner" style="background-image: url(resources/assets/images/sphere/header.jpg)">
  <div class="container">
    <div class="h-copy">
      <div>
        <h2>Learn any subject online from<br>
          a community of great teachers!</h2>
        <p>Join Sphere Now <a href="sphere-signup" class="btn btn-green">Sign In</a></p>
      </div>
    </div>
  </div>
</section>
<article>
  <section class="home-3-block-icon">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="icon-box">
            <div class="icon-circle"> <img src="resources/assets/images/sphere/home/icon01.png" width="69" height="40" alt=""/> </div>
            <p>Join a community of students from across 15 countries and give you career a unique edge</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="icon-box">
            <div class="icon-circle"> <img src="resources/assets/images/sphere/home/icon02.png" width="69" height="40" alt=""/> </div>
            <p>Join a community of students from across 15 countries and give you career a unique edge</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="icon-box">
            <div class="icon-circle"> <img src="resources/assets/images/sphere/home/icon03.png" width="69" height="40" alt=""/> </div>
            <p>Join a community of students from across 15 countries and give you career a unique edge</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="testimonials-section">
    <div class="container">
      <h2>What are parents saying about sphere!</h2>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"> 
           	<div class="content-div">
           		<img src="resources/assets/images/sphere/home/q-left.png" width="76" height="54" alt="" class="l-img"/>
            <div class="quote-inner"> Sphere brought about a totally new experience to my daughter Tara’s learning. The subject that she was bored of studying earlier are her favorite subjects now. Sheeagerly waits for the upcoming classes in Sphere now. I am so happy I choose Sphere for her.
              <div class="by-div"> <strong>Jessica Anderson</strong><br>
                <em>Businesswomen & mother of Tara Anderson</em> <img src="resources/assets/images/sphere/home/t-img.png" width="101" height="101" alt=""/> </div>
            </div>
            <img src="resources/assets/images/sphere/home/q-right.png" width="76" height="54" alt="" class="r-img"/> 
           	</div>
            </div>
              <div class="swiper-slide"> 
           	<div class="content-div">
           		<img src="resources/assets/images/sphere/home/q-left.png" width="76" height="54" alt="" class="l-img"/>
            <div class="quote-inner"> Sphere brought about a totally new experience to my daughter Tara’s learning. The subject that she was bored of studying earlier are her favorite subjects now. Sheeagerly waits for the upcoming classes in Sphere now. I am so happy I choose Sphere for her.
              <div class="by-div"> <strong>Jessica Anderson</strong><br>
                <em>Businesswomen & mother of Tara Anderson</em> <img src="resources/assets/images/sphere/home/t-img.png" width="101" height="101" alt=""/> </div>
            </div>
            <img src="resources/assets/images/sphere/home/q-right.png" width="76" height="54" alt="" class="r-img"/> 
           	</div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </section>
  <section class="home-bottom-team-section">
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-6">
  				<div class="content-div">
  					<h3>Willing to teach on Sphere?</h3>
  					<p>Join the community of the best teachers in the world and start earning for all the classes you take.</p>
  					
  					<a href="sphere-signup" class="btn btn-green">Sign Up</a>
  				</div>
  			</div>
  			<div class="col-sm-6">
  				<div class="image-div">
			    	<img src="resources/assets/images/sphere/home/team-img.png" width="591" height="392" alt=""/>
			     </div>
  			</div>
  		</div>
  	</div>
  </section>
</article>


<script>
$(document).ready(function(){ 
	$('body').addClass('home-page');
});
</script>