 <article>
  <section class="teachers-section">
    <div class="container">
     	<div class="page-content-block">
			<div class="heading-div">
				<h3 class="uppercase">Sphere Teachers</h3>
			</div>  
			<div class="block-head-div filter-div">
				<div class="row">
					<div class="col-sm-5">
						<div class="search-div">
						 	<input type="text" placeholder="Search" class="form-control" id="searchText" ng-model="searchText">
						 	<button class="btn btn-green" ng-disabled="searchText == undefined || searchText == ''" ng-click="filterList()">Search</button>
						</div>
					</div>
					<div class="col-sm-3 col-md-4"></div>
					<div class="col-sm-4 col-md-3">
						 <div class="table-div">
							<label>Subject</label>
							<div class="custom-select-dropdown">
								<select class="form-control" ng-change="filterList()" ng-model="selectedSubject">
									<option value="" ng-disabled="true" style='display: none'>Select Subject</option>
									<option ng-repeat="sub in subjects" ng-value="sub.id">[[sub.subject_name]]</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-div">
				<div class="teacher-profile-block">
					<div class="row">
						<div class="col-sm-6 col-md-3 item-div" ng-repeat="teacher in teachersList">
							<div class="teacher-profile-post">
								<div class="img-div">
							    	<img ng-src="[[teacher.display_image]]" width="90px" height="87px" alt=""/>
							     </div>
								<h3>[[ teacher.display_name ]]</h3>
								<h4>
									<i class="fa fa-map-marker" aria-hidden="true"></i> [[ teacher.city_state.name ]], [[ teacher.city_state.state.name ]]
									<br>
									<i class="fa fa-map-marker" aria-hidden="true"></i> [[ teacher.country.name ]]
								</h4>
								<div class="copy-text">
									<!-- <p read-more content="[[ teacher.bio ]]"></p> -->
									<show-more text="teacher.bio" limit="200"> </show-more>
								</div>
								<div class="bottom-btn">
								  <a href="teacher-profile/[[teacher.slug]]" class="btn btn-sm btn-green">View Profile</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 

		<default-pagination currentpage="currentPage" like="getTeachers(page)" paginate="paginate" range="range">
        </default-pagination>
   
    </div>
  </section> 
</article>
