<section class="section cases special-cases">
	<div class="container">
		<div class="title">
			SPECIAL CASES
		</div>
		<div class="my-cases unsiggned-case">
			<div class="sub-header text-red margin-bt20 special-case-header">
				Unassigned Case(s)
			</div>
			<ul class="list-unstyled panel-group" id="accordion">
				<li class="panel margin-zero">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
								<div>Level 1 Accessor : <span> Jason Lin </span></div>
								<div>Client :<span><a href="javascript:void(0)"> Nicole Thompson </a></span></div>
							</div>
							<div class="right-side pull-right">
								<ul class="list-unstyled list-inline">
									<li class="border-right">
										<div>Case ID:</div>
										<div><b>4342</b></div>
									</li>
									<li class="border-right">
										<div>Total Words: </div>
										<div><b>442</b></div>
									</li>
									<li class="">
										<div>Total Fee: </div>
										<div><b>$75.00</b></div>
									</li>
								</ul>
							</div>
							<span class="icon-dd remove">
								<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-2" class="collapsed" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
								<div>Level 1 Accessor : <span> Jason Lin </span></div>
								<div>Client :<span><a href="javascript:void(0)"> Nicole Thompson </a></span></div>
							</div>
							<div class="right-side pull-right">
								<ul class="list-unstyled list-inline">
									<li class="border-right">
										<div>Case ID:</div>
										<div><b>4342</b></div>
									</li>
									<li class="border-right">
										<div>Total Words: </div>
										<div><b>442</b></div>
									</li>
									<li class="">
										<div>Total Fee: </div>
										<div><b>$75.00</b></div>
									</li>
								</ul>
							</div>
							<span class="icon-dd remove">
								<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-2" class="collapsed" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
								<div>Level 1 Accessor : <span> Jason Lin </span></div>
								<div>Client :<span><a href="javascript:void(0)"> Nicole Thompson </a></span></div>
							</div>
							<div class="right-side pull-right">
								<ul class="list-unstyled list-inline">
									<li class="border-right">
										<div>Case ID:</div>
										<div><b>4342</b></div>
									</li>
									<li class="border-right">
										<div>Total Words: </div>
										<div><b>442</b></div>
									</li>
									<li class="">
										<div>Total Fee: </div>
										<div><b>$75.00</b></div>
									</li>
								</ul>
							</div>
							<span class="icon-dd remove">
								<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-2" class="collapsed" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
					<div id="case-details-2" class="panel-collapse collapse in" aria-expanded="true" style="">
						<div class="sub-header pd-tp20 border-tp margin-tp30 text-red">CASE DETAILS</div>
						<ul class="list-unstyled list-inline case-list">
							<li class="">
								<div>Case ID:</div>
								<div><b>4342</b></div>
							</li>
							<li class="">
								<div>Total Words: </div>
								<div><b>442</b></div>
							</li>
							<li class="">
								<div>Total Fee: </div>
								<div><b>$75.00</b></div>
							</li>
							<li class="">
								<div>Language: </div>
								<div><b>English</b></div>
							</li>
							<li class="">
								<div>File Size: </div>
								<div><b>204.3 KB</b></div>
							</li>
							<li class="change-btn">
								<a class="btn">Assign Accessor</a>
							</li>
						</ul>
						<div class="sub-header pd-tp10 margin-zero text-red">CASE TIMELINE</div>
						<ul class="list-unstyled list-inline progress-indicator">
							<li class="submitted">
								<span class="bubble back-red"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>Document Submitted</div>
									<div class="btn-file">
										<a class="btn">Original File</a>
									</div>
								</div>
							</li>
							<li class="completed-1">
								<span class="bubble back-blue"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>1st Level Accessment Completed</div>
									<div class="btn-file">
										<a class="btn"><i class="sci-download"></i> Accessed File</a>
									</div>
								</div>
							</li>
							<li class="completed-2">
								<span class="bubble back-yellow"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>2nd Level Accessment Completed</div>
									<div class="btn-file">
										<a class="btn"><i class="sci-download"></i> Download File</a>
									</div>
								</div>
							</li>
							<li class="download">
								<span class="bubble back-green"></span>
								<div class="timeline-details">
									<b>12 Apr, 5:00 pm</b>
									<div>File downloaded</div>
									<div class="btn-file">
										<a class="btn"><i class="sci-cancel"></i> Cancel Case</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div class="my-cases delayed-caes">
			<div class="sub-header text-red margin-bt20 special-case-header">
				Delayed Case(s)
			</div>
			<ul class="list-unstyled panel-group" id="accordion">
				<li class="panel margin-zero">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
								<div>Level 1 Accessor : <span> Jason Lin </span></div>
								<div>Client :<span><a href="javascript:void(0)"> Nicole Thompson </a></span></div>
							</div>
							<div class="right-side pull-right">
								<ul class="list-unstyled list-inline">
									<li class="border-right">
										<div>Case ID:</div>
										<div><b>4342</b></div>
									</li>
									<li class="border-right">
										<div>Total Words: </div>
										<div><b>442</b></div>
									</li>
									<li class="">
										<div>Total Fee: </div>
										<div><b>$75.00</b></div>
									</li>
								</ul>
							</div>
							<span class="icon-dd remove">
								<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-2" class="collapsed" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
								<div>Level 1 Accessor : <span> Jason Lin </span></div>
								<div>Client :<span><a href="javascript:void(0)"> Nicole Thompson </a></span></div>
							</div>
							<div class="right-side pull-right">
								<ul class="list-unstyled list-inline">
									<li class="border-right">
										<div>Case ID:</div>
										<div><b>4342</b></div>
									</li>
									<li class="border-right">
										<div>Total Words: </div>
										<div><b>442</b></div>
									</li>
									<li class="">
										<div>Total Fee: </div>
										<div><b>$75.00</b></div>
									</li>
								</ul>
							</div>
							<span class="icon-dd remove">
								<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-2" class="collapsed" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="my-cases high-word-count-case">
			<div class="sub-header text-red margin-bt20 special-case-header">
				High Word Count Case(s)
			</div>
			<ul class="list-unstyled panel-group" id="accordion">
				<li class="panel margin-zero">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
								<div>Level 1 Accessor : <span> Jason Lin </span></div>
								<div>Client :<span><a href="javascript:void(0)"> Nicole Thompson </a></span></div>
							</div>
							<div class="right-side pull-right">
								<ul class="list-unstyled list-inline">
									<li class="border-right">
										<div>Case ID:</div>
										<div><b>4342</b></div>
									</li>
									<li class="border-right">
										<div>Total Words: </div>
										<div><b>442</b></div>
									</li>
									<li class="">
										<div>Total Fee: </div>
										<div><b>$75.00</b></div>
									</li>
								</ul>
							</div>
							<span class="icon-dd remove">
								<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-2" class="collapsed" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
								<div>Level 1 Accessor : <span> Jason Lin </span></div>
								<div>Client :<span><a href="javascript:void(0)"> Nicole Thompson </a></span></div>
							</div>
							<div class="right-side pull-right">
								<ul class="list-unstyled list-inline">
									<li class="border-right">
										<div>Case ID:</div>
										<div><b>4342</b></div>
									</li>
									<li class="border-right">
										<div>Total Words: </div>
										<div><b>442</b></div>
									</li>
									<li class="">
										<div>Total Fee: </div>
										<div><b>$75.00</b></div>
									</li>
								</ul>
							</div>
							<span class="icon-dd remove">
								<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-2" class="collapsed" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>