<section class="user-dashboard-banner  about-six-cloud without-bt-head-title">
	<div class="header ">
		<img src="assets/images/logo-icon.png" class="margin-bt20">
		<h2 class="title text-white text-uppercase">About SixClouds</h2>
		
	</div>
	<div class="overlay"></div>	
</section>
<section class=" course-contents partition-content  pd-tp0 about-six-cloud">
			
		<div class="container">
		 <div class="content-box sc-content-text margin-bt0">
		 	<div class="sc-c-title">Why should you learn English?</div>
		 	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

		 	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		 </div>
		  <div class="sub-title text-uppercase sub-title-w-icon">
		   <i class="fa fa-play-circle" aria-hidden="true"></i>
		   Watch the videos to know more about our programs.
		   </div>

		  <div class="video-content margin-tp40">
		  		<div class="video">
		  			<div class="img">
		  				<img src="assets/images/important-english2.png" class="img-responsive">
		  				<div class="overlay">
		  					<span class="icon"><i class="fa fa-play"></i></span>
		  				</div>
		  			</div>
		  		</div>
		  		<div class="video-desc">
		  			<div class="content-box border-radius0">
		  				<h4 class=" margin-tp0 margin-bt20 text-red sidebar-title">
		  					Importance of English Learning & Training Program
		  				</h4>	
		  				<p>
		  					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
		  				</p>
		  			</div>
		  		</div>
		  </div> 
		   <div class="video-content margin-tp40 reverse-content">
		  		<div class="video">
		  			<div class="img">
		  				<img src="assets/images/important-english.png"  class="img-responsive">
		  				<div class="overlay">
		  					<span class="icon">
		  						<i class="fa fa-play"></i>
		  					</span>
		  				</div>
		  			</div>		  		
		  		</div>
		  		<div class="video-desc">
		  			<div class="content-box border-radius0">
		  				<h4 class=" margin-tp0   margin-bt20  text-red sidebar-title">Importance of English Learning & Training Program</h4>	
		  				<p>
		  					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
		  				</p>
		  			</div>
		  		</div>
		  </div> 
	</div>
</section>
<section class="about-six-cloud progaram-section">
	<div class="box-bottom back-yellow">
		
	</div>
		<div class="box-top-right back-yellow">
		
	</div>
	 <div class="container">
	 	 <div class="sub-title text-uppercase text-left ">		
			 Meet our member
		 </div>
		 <div class="team-member-list margin-tp40">
		 	<ul class="list-unstyled">
		 	  <li>
		 		<div class="member-content">
		 			<div class="member-detail">
		 					<div class="img">
		 						<img src="assets/images/user.jpg">
		 					</div>
		 					<div class="detail">
		 						<div class="name  text-uppercase"> Charles cheng</div>
		 						<div class="location">
		 							<span>
		 								<label class="control-label"> Loaction :</label>
		 								<span> Shanghai, China</span>
		 							</span>	
		 							<span>
		 								<label class="control-label"> Email :</label>
		 								<span> jim.ho.chang133@foxmail.com</span>
		 							</span>
		 						</div>
		 					</div>	
		 			</div>
		 			<div class="member-desc">
		 				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.	
		 			</div>
		 		</div>	
		 	  </li>
		 	   <li>
		 		<div class="member-content ">
		 			<div class="member-detail">
		 					<div class="img">
		 						<img src="assets/images/user.jpg">
		 					</div>
		 					<div class="detail">
		 						<div class="name  text-uppercase"> Charles cheng</div>
		 						<div class="location">
		 							<span>
		 								<label class="control-label"> Loaction :</label>
		 								<span> Shanghai, China</span>
		 							</span>	
		 							<span>
		 								<label class="control-label"> Email :</label>
		 								<span> jim.ho.chang133@foxmail.com</span>
		 							</span>
		 						</div>
		 					</div>	
		 			</div>
		 			<div class="member-desc">
		 				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.	
		 			</div>
		 		</div>	
		 	  </li>
		 	</ul>	
		 </div>
	 </div>
</section>