<div class="main after-signup">
	<div class="box-bottom">
	</div>
	<div class="user-signup">
		<div class="bg-box">
			<div class="box-left">
				<div class="addbox">
				</div>
			</div>
			<div class="dots pull-right">
				<img src="assets/images/dots.png">
			</div>
			<div class="box-right">
			</div>
		</div>
	</div>
	<div class="user-content">
		<div class="container">
			<div class="text-center margin-tp40 main-title">
				<h2 class="title text-black">ENGLISH LEARNING TRAINING ANNUAL PLANS</h2>
				<span>SELECT A PLAN OF YOUR CHOICE</span>
			</div>
			<div class="sub-header text-black">ANNUAL SUBSCRIPTION PLANS</div>
			<div class="progaram-section ">
				<div class="box-list select-plan">
					<div class="box">
						<div class="sub-header">BASIC</div>
						<div class="box-content">
							<p>An all round access to the entire catalog of videos from the training program.</p>
							<p>Email support for all your technical queries.</p>
						</div>
						<div class="margin-bt20 box-btn">
							<p class="text-black margin-bt25">&yen; 100 per year</p>
							<a class="btn" href="javascript:void(0);">
								<i class="sci-Submit"></i>
								Select
							</a>
						</div>
					</div>
					<div class="box">
						<div class="sub-header">PREMIUM</div>
						<div class="box-content">
							<p>An all round access to the entire catalog of videos from the training program.</p>
							<p>Access to participate in the expert webinars.</p>
							<p>Email support for all your technical queries.</p>
						</div>
						<div class="margin-bt20 box-btn">
							<p class="text-black margin-bt25">&yen; 200 per year</p>
							<a class="btn" href="javascript:void(0);">
								<i class="sci-Submit"></i>
								Select
							</a>
						</div>
					</div>
					<div class="box">
						<div class="sub-header">ADVANCED</div>
						<div class="box-content">
							<p>An all round access to the entire catalog of videos from the training program.</p>
							<p>Access to participate in the expert webinars.</p>
							<p>Accessto one-on-one councelling sessions.</p>
							<p>Email support for all your technical queries.</p>
						</div>
						<div class="margin-bt20 box-btn">
							<p class="text-black margin-bt25">&yen; 200 per year</p>
							<a class="btn" href="javascript:void(0);">
								<i class="sci-Submit"></i>
								Select
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="training margin-bt30">
				<div class="box">
					<div class="sub-header">English Learning Training</div>
					<form>
						<div class="margin-bt20">
							<label class="control-label label-large">You're registering as:</label>
							<div class="margin-tp20 form-group label-large">
								<label class="radio-inline radio-button">
									<input type="radio" name="optradio" value="0">
									<div class="radio-checked"></div>
									A Parent (for your kid)
								</label>
								<label class="radio-inline radio-button">
									<input type="radio" name="optradio" value="0">
									<div class="radio-checked"></div>
									A Student (for yourself)
								</label>
							</div>
						</div>
						<div class="form">
							<label class="control-label label-large">Please provide your kid's details:</label>
							<div class="margin-tp20">
								<div class="form-group input-label">
									<input type="" name="" class="form-control">
									<span>First Name</span>
								</div>
								<div class="form-group input-label">
									<input type="" name="" class="form-control">
									<span>Last Name</span>
								</div>
								<div class="form-group input-label">
									<input type="" name=""  class="form-control">
									<span>Email Address</span>
								</div>
								<div class="form-group input-label">
									<div class="input-group date" data-provide="datepicker">
										<input type="text" class="form-control input-label single-datepicker">
										<div class="input-group-addon">
											<i class="sci-Dete-of-Birth"></i>

										</div>
									</div>
								</div>
								<div class="form-group input-label">
									<input type="" name="" class="form-control">
									<span>School Name</span>
								</div>
								<div class="form-group input-label">
									<input type="" name="" class="form-control">
									<span>English Proficiency</span>
								</div>
								<div class="label-large view-pricing">
									<label class="control-label">Register Now & get a freebie!</label>
								
								</div>
							</div>
						</div>
						
					</form>
				</div>
			</div>
			<div class="payment-details margin-bt30">
				<div class="box">
					<div class="sub-header">Your Payment Details</div>
					<form>
						<div class="margin-bt20 label-large">
							<label class="control-label ">Payment Options:</label>
							<div class="margin-tp20 form-group">
								<label class="radio-inline radio-button">
									<input type="radio" name="optradio" value="0">
									<div class="radio-checked"></div>
									Credit Card
								</label>
								<label class="radio-inline radio-button">
									<input type="radio" name="optradio" value="0">
									<div class="radio-checked"></div>
									Debit Card
								</label>
								<label class="radio-inline radio-button">
									<input type="radio" name="optradio" value="0">
									<div class="radio-checked"></div>
									Pay via WeChat
								</label>
								<label class="radio-inline radio-button">
									<input type="radio" name="optradio" value="0">
									<div class="radio-checked"></div>
									Pay via AliPay
								</label>
							</div>
						</div>
						<div class="user-payment">
							<div class="row">
								<div class="col-md-6 border-right">
									<label class="control-label label-large">Your Payment Details:</label>
									<div class="box-details ">
										<div class="form-group">
											<div class="row">
												<label class="control-label col-sm-4">Card Number:</label>
												<div class="col-sm-8">
													<input type="" name="" class="form-control" placeholder="000 000 000 000 ">
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<label class="control-label col-sm-4">Name On Card:</label>
												<div class="col-sm-8">
													<input type="" name="" class="form-control">
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												
												<div class="col-sm-3 cals col-xs-6">
													<label class="control-label ">Expiry:</label>
												    <span>
												    <span class="select-dropdown">
														<select class="form-control">
															<option value="volvo" selected="">MM</option>
															<option value="">01</option>
															<option value="">02	</option>
															<option value="">03</option>
															<option value="">04</option>
															<option value="">05</option>
															<option value="">06</option>
															<option value="">07</option>
															<option value="">08</option>
															<option value="">09</option>
															<option value="">10</option>
															<option value="">11</option>
															<option value="">12</option>
														</select>
														<span class="caret"></span>
	                     								</span>	
													</span>
													</div>
													<div class="col-sm-4 cals col-xs-6">
													<label class="control-label " style="opacity: 0" >Expiry:</label>
													<span>
														<span class="select-dropdown">
															<select class="form-control">
																<option value="" selected="">YYYY</option>
																<option value="">12</option>
																<option value="">13</option>
																<option value="">14</option>
																<option value="">15</option>
																<option value="">16</option>
																<option value="">17</option>
																<option value="">18</option>
																<option value="">19</option>
																<option value="">20</option>
															</select>
														 <span class="caret"></span>
	                     								</span>
	                     								</span>		
													</div>	
												
												
												<div class="col-sm-5 col-xs-12">
													<label class="control-label ">CVV:</label>
													<input type="" name="" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 ">
									<div class="border">
										<div class="pd-20 total-payment">
											<div class="label-large">TOTAL PAYMENT:</div>
											<div class="">
												<span>Yearly subscription of English Learning Training</span>
												<span class="pull-right">&yen; 100</span>
											</div>
											<div class="">
												<span>Your Credit Balance</span>
												<span class="pull-right">- &yen; 50</span>
											</div>
											
										</div>
										<div class="border-tp total">
											<span class="label-large">TOTAL AMOUNT</span>
											<span class="pull-right">&yen; 50</span>
										</div>
									</div>
									<div class="">
										<span>
											<a class="btn" href="#user-dashboard"><i class="sci-Submit"></i> Pay & Submit</a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>