<section class="user-dashboard-banner">
	<div class="header">
		<i class="sci-Edit-icon icon-white"></i>
		<h2 class="title text-white ">Edit Profile</h2>
	</div>
	<div class="overlay"></div>
</section>
<section class=" course-contents partition-content">
	<div class="container">
			<div class="my-account">
				<div class="sub-title text-red text-uppercase margin-bt20">
				GENERAL INFORMATION
				</div>
				<div class="back-white details">
				<div class="profile-section text-center">
					<div class="img">
						<img src="assets/images/user.jpg">
					</div>
					<div class="update-btn upload-file-name">
						<span>
							<div class="fileinput fileinput-new" data-provides="fileinput">
								<span class="btn btn-default btn-file">
									<span class="fileinput-new">
										<i class="sci-attache"></i>
										 Upload File
									</span>
									<span class="fileinput-exists">
										Change
									</span>
									<input type="hidden">
									<input type="hidden">
									<input type="file" name="...">
								</span>								
								<span class="fileinput-filename"></span>
								<a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">
									×
								</a>	
							</div>
						</span>
					</div>
					<div class="">
						<span>Reporting Officer:</span>
					</div>
					<div>
						<label>Lewis Howes</label>
					</div>
				</div>
				<div class="profile-details">
					<form class="ng-pristine ng-valid">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<input type="" name="" placeholder="First Name" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="" name="" placeholder="Last Name" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="" name="" placeholder="Email Address" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="" name="" placeholder="Phone Number" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<div class="select-dropdown">
									<select class="form-control">
										<option value="volvo" selected="">Select Country</option>
										<option value="">Country 1</option>
										<option value="">Country 2</option>
										<option value="">Country 3</option>
										<option value="">Country 4</option>
										<option value="">Country 5</option>
										<option value="">Country 6</option>
									</select>
									 <span class="caret"></span>
	                     		</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
								<div class="select-dropdown">
								
									<select class="form-control">
										<option value="volvo" selected="">Select Province</option>
										<option value="">Province 1</option>
										<option value="">Province 2</option>
										<option value="">Province 3</option>
										<option value="">Province 4</option>
										<option value="">Province 5</option>
										<option value="">Province 6</option>
									</select>
									 <span class="caret"></span>
	                     		</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
								<div class="select-dropdown">
									<select class="form-control">
										<option value="volvo" selected="">Select City</option>
										<option value="">City 1</option>
										<option value="">City 2</option>
										<option value="">City 3</option>
										<option value="">City 4</option>
										<option value="">City 5</option>
										<option value="">City 6</option>
									</select>
									 <span class="caret"></span>
	                     		</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<div class="select-dropdown">
									    <select class="form-control">
											<option value="volvo" selected="">Select School</option>
											<option value="">School 1</option>
											<option value="">School 2</option>
											<option value="">School 3</option>
											<option value="">School 4</option>
											<option value="">School 5</option>
											<option value="">School 6</option>
										</select>
									 <span class="caret"></span>
	                     		</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<input type="" name="" placeholder="ID" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="select-dropdown">
		                           <select class="select2 form-control" name="states[]" multiple="multiple">
									  <option value="AL">Alabama</option>	
									  <option value="WY">Wyoming</option>
									</select>
	                           	   <span class="caret"></span>
	                     		</div>
							</div>
								<div class="col-sm-12">
								<div class="form-group">
									<a class="btn btn-sm margin-tp15">
										<i class="sci-Upload">
										</i>Update Info
									</a>
								</div>
						
						</div>
					</form>
				</div>
				</div>
			</div> 
			<div class="my-account margin-tp30">
				<div class="sub-title text-red text-uppercase margin-bt20">
			 	  Change Password
				</div>
				<div class="back-white details">
				<div class="pwd-details">
					<form class="ng-pristine ng-valid">
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group">
									<input type="" name="" placeholder="current Password" class="form-control">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<input type="" name="" placeholder="New Password" class="form-control">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<input type="" name="" placeholder="Confirm Password" class="form-control">
								</div>
							</div>
							<div class="col-sm-12">
								<div class="">
									<a class="btn btn-sm">
										<i class="sci-Upload">
										</i>Update Password
									</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			</div>
			
	</div>		
</section>