<section class="user-dashboard-banner">
	<div class="header">
		<i class="sci-abc"></i>
		<h2 class="title text-white">ENGLISH LEARNING TRAINING</h2>
	</div>
	<div class="overlay"></div>
	<div class="banner-header sub-header margin-zero">
		My Dashboard
	</div>
</section>
<section class="course-contents">
	<div class="container">
		<div class="content-list margin-tp40">
			<div class="content-list margin-tp40">
				<ul class="list-unstyled panel-group accordion " id="accordion3">
				<li class="panel">
					<div class="box-list panel-heading">
						<a class=" box section accordion-toggle accordion-toggle-styled collapsed text-green" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_1" aria-expanded="false">
							SECTION #1
						</a> 
						<a class=" box name text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_1" aria-expanded="false">
							INTRODUCTION AND HISTORY
						</a>
						<a class="box video-time text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_1" aria-expanded="false">
							<div class="box-list">
								<span class="box left">
									<i class="sci-video-player icon-green"></i> 7 VIDEOS
								</span>
								<span class="box right">
									<i class="sci-time icon-green"></i> 36:00
								</span>
							</div>
						</a>
					</div>
					<div  id="collapse_3_1" class="panel-collapse collapse" aria-expanded="false">
						<div class="divider"></div>
						<p>In this section, we'll be covering the basic parts of speech that constitute the basis of English Grammar. Using these parts of speech, you'd be able to frame your sentences and begin using the language. Parts of speech, as the name suggests, are the backbone of the English language. There are 7 parts of speech in the English Language and each one of them serves a definite purpose. </p>
						<div class="table-responsive">
							<table width="100%" class="table table-striped table-bordered">
								<tbody>
									<tr class="border-g">
										<td width="10%" class="text-center">
											1
										</td>
										<td width="35%">
											Nouns
										</td>
										<td width="20%">
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td width="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-g">
										<td  class="text-center">
											2
										</td>
										<td >
											Adjectives
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											3
										</td>
										<td >
											Verbs
										</td>
										<td>
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td class="text-center">
											4
										</td>
										<td>
											Adverbs
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td class="text-center">
											5
										</td>
										<td >
											Pronouns
										</td>
										<td>
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td>
											<i class="sci-time"></i> 05:50
										</td>
										<td>
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td class="text-center">
											6
										</td>
										<td>
											Conjunctions
										</td>
										<td>
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td>
											<i class="sci-time"></i> 05:50
										</td>
										<td>
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td class="text-center">
											7
										</td>
										<td>
											Prepositions
										</td>
										<td>
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td>
											<i class="sci-time"></i> 05:50
										</td>
										<td>
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="box-list panel-heading" data-toggle="collapse" data-target="#content-details">
						<a class=" box section accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_2" aria-expanded="false">
							SECTION #2
						</a> 
						<a class=" box name text-black  accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_2" aria-expanded="false">
							Part of speech
						</a>
						<a class="box video-time text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_2" aria-expanded="false">
							<div class="box-list">
								<span class="box left">
									<i class="sci-video-player"></i> 7 VIDEOS
								</span>
								<span class="box right">
									<i class="sci-time"></i> 36:00
								</span>
							</div>
						</a>
					</div>
					<div  id="collapse_3_2" class="panel-collapse collapse" aria-expanded="false">
						<div class="divider"></div>
						<p>In this section, we'll be covering the basic parts of speech that constitute the basis of English Grammar. Using these parts of speech, you'd be able to frame your sentences and begin using the language. Parts of speech, as the name suggests, are the backbone of the English language. There are 7 parts of speech in the English Language and each one of them serves a definite purpose. </p>
						<div class="table-responsive">
							<table width="100%" class="table table-striped table-bordered">
								<tbody>
									<tr class="border-g">
										<td width="10%" class="text-center">
											1
										</td>
										<td width="35%">
											Nouns
										</td>
										<td width="20%">
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td width="15%" >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-g">
										<td class="text-center">
											2
										</td>
										<td >
											Adjectives
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											3
										</td>
										<td >
											Verbs
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											4
										</td>
										<td >
											Adverbs
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											5
										</td>
										<td >
											Pronouns
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											6
										</td>
										<td >
											Conjunctions
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											7
										</td>
										<td >
											Prepositions
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="box-list panel-heading" data-toggle="collapse" data-target="#content-details">
						<a class=" box section accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_3" aria-expanded="false">
							SECTION #3
						</a> 
						<a class=" box name text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_3" aria-expanded="false">
							Fingres of speech
						</a>
						<a class="box video-time text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_3" aria-expanded="false">
							<div class="box-list">
								<span class="box left">
									<i class="sci-video-player"></i> 7 VIDEOS
								</span>
								<span class="box right">
									<i class="sci-time"></i> 36:00
								</span>
							</div>
						</a>
					</div>
					<div  id="collapse_3_3" class="panel-collapse collapse" aria-expanded="false">
						<div class="divider"></div>
						<p>In this section, we'll be covering the basic parts of speech that constitute the basis of English Grammar. Using these parts of speech, you'd be able to frame your sentences and begin using the language. Parts of speech, as the name suggests, are the backbone of the English language. There are 7 parts of speech in the English Language and each one of them serves a definite purpose. </p>
						<div class="table-responsive">
							<table width="100%" class="table table-striped table-bordered">
								<tbody>
									<tr class="border-g">
										<td width="10%" class="text-center">
											1
										</td>
										<td width="35%">
											Nouns
										</td>
										<td width="20%">
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td width="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-g">
										<td  class="text-center">
											2
										</td>
										<td >
											Adjectives
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											3
										</td>
										<td >
											Verbs
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											4
										</td>
										<td >
											Adverbs
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											5
										</td>
										<td >
											Pronouns
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											6
										</td>
										<td >
											Conjunctions
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td>
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											7
										</td>
										<td >
											Prepositions
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="box-list panel-heading" data-toggle="collapse" data-target="#content-details">
						<a class=" box section accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_4" aria-expanded="false">
							SECTION #4
						</a> 
						<a class=" box name text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_4" aria-expanded="false">
							English composition & vocabulary
						</a>
						<a class="box video-time text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_4" aria-expanded="false">
							<div class="box-list">
								<span class="box left">
									<i class="sci-video-player"></i> 7 VIDEOS
								</span>
								<span class="box right">
									<i class="sci-time"></i> 36:00
								</span>
							</div>
						</a>
					</div>
					<div  id="collapse_3_4" class="panel-collapse collapse" aria-expanded="false">
						<div class="divider"></div>
						<p>In this section, we'll be covering the basic parts of speech that constitute the basis of English Grammar. Using these parts of speech, you'd be able to frame your sentences and begin using the language. Parts of speech, as the name suggests, are the backbone of the English language. There are 7 parts of speech in the English Language and each one of them serves a definite purpose. </p>
						<div class="table-responsive">
							<table width="100%" class="table table-striped table-bordered">
								<tbody>
									<tr class="border-g">
										<td width="10%" class="text-center">
											1
										</td>
										<td width="35%">
											Nouns
										</td>
										<td width="20%">
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td width="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-g">
										<td  class="text-center">
											2
										</td>
										<td >
											Adjectives
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											3
										</td>
										<td >
											Verbs
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											4
										</td>
										<td >
											Adverbs
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											5
										</td>
										<td >
											Pronouns
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											6
										</td>
										<td >
											Conjunctions
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td>
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											7
										</td>
										<td >
											Prepositions
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</li>
					<li class="panel">
					<div class="box-list panel-heading" data-toggle="collapse" data-target="#content-details">
						<a class=" box section accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_5" aria-expanded="false">
							SECTION #5
						</a> 
						<a class=" box name text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_5" aria-expanded="false">
							IDIOMS & Phrases
						</a>
						<a class="box video-time text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_5" aria-expanded="false">
							<div class="box-list">
								<span class="box left">
									<i class="sci-video-player"></i> 7 VIDEOS
								</span>
								<span class="box right">
									<i class="sci-time"></i> 36:00
								</span>
							</div>
						</a>
					</div>
					<div  id="collapse_3_5" class="panel-collapse collapse" aria-expanded="false">
						<div class="divider"></div>
						<p>In this section, we'll be covering the basic parts of speech that constitute the basis of English Grammar. Using these parts of speech, you'd be able to frame your sentences and begin using the language. Parts of speech, as the name suggests, are the backbone of the English language. There are 7 parts of speech in the English Language and each one of them serves a definite purpose. </p>
						<div class="table-responsive">
							<table width="100%" class="table table-striped table-bordered">
								<tbody>
									<tr class="border-g">
										<td  class="text-center">
											1
										</td>
										<td >
											Nouns
										</td>
										<td>
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td>
											<i class="sci-time"></i> 05:50
										</td>
										<td>
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-g">
										<td  class="text-center">
											2
										</td>
										<td >
											Adjectives
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											3
										</td>
										<td >
											Verbs
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											4
										</td>
										<td >
											Adverbs
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											5
										</td>
										<td >
											Pronouns
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											6
										</td>
										<td >
											Conjunctions
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td>
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td  class="text-center">
											7
										</td>
										<td >
											Prepositions
										</td>
										<td >
											<a href="#/video-viewing"><i class="sci-video-player"></i> Watch Video</a>
										</td>
										<td >
											<i class="sci-time"></i> 05:50
										</td>
										<td >
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</li>	
			</ul>
		</div>
		</div>
	</div>
</section>