<section class="user-dashboard-banner">
	<div class="header">
		<i class="sci-graphic-design"></i>
		<h2 class="title text-white">[['lbl_design_marketplace'|translate]]</h2>
		
	</div>
	<div class="overlay"></div>
	<div class="banner-header sub-header margin-zero text-uppercase">
		<span>
			Joseph
		</span>		
	</div>
	
</section>
<section class=" course-contents partition-content">
	<div class="container">
		<div class=" main-content-box">
			 <div class="tab-section">
	 	<ul class="nav nav-tabs">
		  <li class="active">
		  	<a data-toggle="tab" href="javascript:void(0)#openjobs">Portfolio</a>
		  </li>
		  <li>
		  	<a data-toggle="tab" href="javascript:void(0)#myjobs">Jobs</a>
		  </li>		 
		</ul>
		<div class="tab-content">
		   <div id="openjobs" class="tab-pane fade in active">
		    	<div class="project-list">
		    		<ul class="list-unstyled">
		    			<li>
		    			  	<div class="project-content">
		    			  		<div class="img">
		    			  			<img src="assets/images/project.jpg" class="img-responsive">
		    			  		</div>
		    			  		<div class="desc">
		    			  			<div>
		    			  				<span>
		    			  					<span class="name">Web Design</span>
		    			  					<span class="clearfix"></span>
			    			  				<span class="rating">
			    			  					<i class="fa fa-star" aria-hidden="true"></i>
			    			  					4.2/5(66)
			    			  				</span>
		    			  				</span>
		    			  				<span class="share pull-right">
		    			  					<i class="fa fa-share-alt" aria-hidden="true"></i>
		    			  				</span>
		    			  			</div>
		    			  		</div>
		    			  	</div>
		    			</li>
		    			<li>
		    			  	<div class="project-content">
		    			  		<div class="img">
		    			  			<img src="assets/images/project4.jpg" class="img-responsive">
		    			  		</div>
		    			  		<div class="desc">
		    			  			<div>
		    			  				<span>
		    			  					<span class="name">Web Design</span>
		    			  					<span class="clearfix"></span>
			    			  				<span class="rating">
			    			  					<i class="fa fa-star" aria-hidden="true"></i>
			    			  					4.2/5(66)
			    			  				</span>
		    			  				</span>
		    			  				<span class="share pull-right">
		    			  					<i class="fa fa-share-alt" aria-hidden="true"></i>
		    			  				</span>
		    			  			</div>
		    			  		</div>
		    			  	</div>
		    			</li>
		    			<li>
		    			  	<div class="project-content">
		    			  		<div class="img">
		    			  			<img src="assets/images/project2.jpg" class="img-responsive">
		    			  		</div>
		    			  		<div class="desc">
		    			  			<div>
		    			  				<span>
		    			  					<span class="name">Web Design</span>
		    			  					<span class="clearfix"></span>
			    			  				<span class="rating">
			    			  					<i class="fa fa-star" aria-hidden="true"></i>
			    			  					4.2/5(66)
			    			  				</span>
		    			  				</span>
		    			  				<span class="share pull-right">
		    			  					<i class="fa fa-share-alt" aria-hidden="true"></i>
		    			  				</span>
		    			  			</div>
		    			  		</div>
		    			  	</div>
		    			</li>
		    			<li>
		    			  	<div class="project-content">
		    			  		<div class="img">
		    			  			<img src="assets/images/project3.jpg" class="img-responsive">
		    			  		</div>
		    			  		<div class="desc">
		    			  			<div>
		    			  				<span>
		    			  					<span class="name">Web Design</span>
		    			  					<span class="clearfix"></span>
			    			  				<span class="rating">
			    			  					<i class="fa fa-star" aria-hidden="true"></i>
			    			  					4.2/5(66)
			    			  				</span>
		    			  				</span>
		    			  				<span class="share pull-right">
		    			  					<i class="fa fa-share-alt" aria-hidden="true"></i>
		    			  				</span>
		    			  			</div>
		    			  		</div>
		    			  	</div>
		    			</li>
		    			<li>
		    			  	<div class="project-content">
		    			  		<div class="img">
		    			  			<img src="assets/images/project4.jpg" class="img-responsive">
		    			  		</div>
		    			  		<div class="desc">
		    			  			<div>
		    			  				<span>
		    			  					<span class="name">Web Design</span>
		    			  					<span class="clearfix"></span>
			    			  				<span class="rating">
			    			  					<i class="fa fa-star" aria-hidden="true"></i>
			    			  					4.2/5(66)
			    			  				</span>
		    			  				</span>
		    			  				<span class="share pull-right">
		    			  					<i class="fa fa-share-alt" aria-hidden="true"></i>
		    			  				</span>
		    			  			</div>
		    			  		</div>
		    			  	</div>
		    			</li>
		    			<li>
		    			  	<div class="project-content">
		    			  		<div class="img">
		    			  			<img src="assets/images/project.jpg" class="img-responsive">
		    			  		</div>
		    			  		<div class="desc">
		    			  			<div>
		    			  				<span>
		    			  					<span class="name">Web Design</span>
		    			  					<span class="clearfix"></span>
			    			  				<span class="rating">
			    			  					<i class="fa fa-star" aria-hidden="true"></i>
			    			  					4.2/5(66)
			    			  				</span>
		    			  				</span>
		    			  				<span class="share pull-right">
		    			  					<i class="fa fa-share-alt" aria-hidden="true"></i>
		    			  				</span>
		    			  			</div>
		    			  		</div>
		    			  	</div>
		    			</li>
		    		</ul>
		    		<div class="text-center margin-bt20">
		    			<a href="#/mp-project-details"  class="btn text-uppercase"><i class="sci-View-More"></i> View More</a>
		    		</div>
		    	</div>
		  </div>
		  <div id="myjobs" class="tab-pane fade">
		    <div class="project-list">
		    		<ul class="list-unstyled">
		    			<li>
		    			  	<div class="project-content">
		    			  		<div class="img">
		    			  			<img src="assets/images/project.jpg" class="img-responsive">
		    			  		</div>
		    			  		<div class="desc">
		    			  			<div>
		    			  				<span>
		    			  					<span class="name">Web Design</span>
		    			  					<span class="clearfix"></span>
			    			  				<span class="rating">
			    			  					<i class="fa fa-star" aria-hidden="true"></i>
			    			  					4.2/5(66)
			    			  				</span>
		    			  				</span>
		    			  				<span class="share pull-right">
		    			  					<i class="fa fa-share-alt" aria-hidden="true"></i>
		    			  				</span>
		    			  			</div>
		    			  		</div>
		    			  	</div>
		    			</li>
		    			<li>
		    			  	<div class="project-content">
		    			  		<div class="img">
		    			  			<img src="assets/images/project4.jpg" class="img-responsive">
		    			  		</div>
		    			  		<div class="desc">
		    			  			<div>
		    			  				<span>
		    			  					<span class="name">Web Design</span>
		    			  					<span class="clearfix"></span>
			    			  				<span class="rating">
			    			  					<i class="fa fa-star" aria-hidden="true"></i>
			    			  					4.2/5(66)
			    			  				</span>
		    			  				</span>
		    			  				<span class="share pull-right">
		    			  					<i class="fa fa-share-alt" aria-hidden="true"></i>
		    			  				</span>
		    			  			</div>
		    			  		</div>
		    			  	</div>
		    			</li>
		    			<li>
		    			  	<div class="project-content">
		    			  		<div class="img">
		    			  			<img src="assets/images/project2.jpg" class="img-responsive">
		    			  		</div>
		    			  		<div class="desc">
		    			  			<div>
		    			  				<span>
		    			  					<span class="name">Web Design</span>
		    			  					<span class="clearfix"></span>
			    			  				<span class="rating">
			    			  					<i class="fa fa-star" aria-hidden="true"></i>
			    			  					4.2/5(66)
			    			  				</span>
		    			  				</span>
		    			  				<span class="share pull-right">
		    			  					<i class="fa fa-share-alt" aria-hidden="true"></i>
		    			  				</span>
		    			  			</div>
		    			  		</div>
		    			  	</div>
		    			</li>
		    			<li>
		    			  	<div class="project-content">
		    			  		<div class="img">
		    			  			<img src="assets/images/project3.jpg" class="img-responsive">
		    			  		</div>
		    			  		<div class="desc">
		    			  			<div>
		    			  				<span>
		    			  					<span class="name">Web Design</span>
		    			  					<span class="clearfix"></span>
			    			  				<span class="rating">
			    			  					<i class="fa fa-star" aria-hidden="true"></i>
			    			  					4.2/5(66)
			    			  				</span>
		    			  				</span>
		    			  				<span class="share pull-right">
		    			  					<i class="fa fa-share-alt" aria-hidden="true"></i>
		    			  				</span>
		    			  			</div>
		    			  		</div>
		    			  	</div>
		    			</li>
		    			<li>
		    			  	<div class="project-content">
		    			  		<div class="img">
		    			  			<img src="assets/images/project4.jpg" class="img-responsive">
		    			  		</div>
		    			  		<div class="desc">
		    			  			<div>
		    			  				<span>
		    			  					<span class="name">Web Design</span>
		    			  					<span class="clearfix"></span>
			    			  				<span class="rating">
			    			  					<i class="fa fa-star" aria-hidden="true"></i>
			    			  					4.2/5(66)
			    			  				</span>
		    			  				</span>
		    			  				<span class="share pull-right">
		    			  					<i class="fa fa-share-alt" aria-hidden="true"></i>
		    			  				</span>
		    			  			</div>
		    			  		</div>
		    			  	</div>
		    			</li>
		    			<li>
		    			  	<div class="project-content">
		    			  		<div class="img">
		    			  			<img src="assets/images/project.jpg" class="img-responsive">
		    			  		</div>
		    			  		<div class="desc">
		    			  			<div>
		    			  				<span>
		    			  					<span class="name">Web Design</span>
		    			  					<span class="clearfix"></span>
			    			  				<span class="rating">
			    			  					<i class="fa fa-star" aria-hidden="true"></i>
			    			  					4.2/5(66)
			    			  				</span>
		    			  				</span>
		    			  				<span class="share pull-right">
		    			  					<i class="fa fa-share-alt" aria-hidden="true"></i>
		    			  				</span>
		    			  			</div>
		    			  		</div>
		    			  	</div>
		    			</li>
		    		</ul>
		    	</div>
		  </div>
		
		</div>
	</div>


			<div class="reviews">
				<div class="sub-header text-black text-uppercase">Reviews</div>
				<div class="reviews-list">
					<ul class="list-unstyled">
						<li>
						 <div class="reviewer-content">
						 	<div class="reviewer-heading">Design a logo for a pharma company(ID: 4456)</div>
						 	<div class="reviews-detils">
						 		<span>
						 			<i class="sci-calendar"></i> 23, July 2017
						 		</span>
						 		<span>
						 			<i class="fa fa-users" aria-hidden="true"></i> 45 Entries | 3Shortlisted
						 		</span>
						 		<span>
						 			&yen; 2,325
						 		</span>
						 	</div>
						 	<div class="reviews-msg">
						 		<div class="msg-img">
						 			<img src="assets/images/chinese-tutor.jpg" alt="Reviews img" class="img-responsive">	
						 		</div>
						 		<div class="reviews-msg-content">
						 			<div class="name" ><span>Jhon Tiang</span> <span class="address">
						 				Shanghai, China
						 			</span></div>
						 			<div class="rating" >
						 				<i class="fa fa-star"></i>
						 				<i class="fa fa-star"></i>
						 				<i class="fa fa-star"></i>
						 				<i class="fa fa-star"></i>						 				
						 			</div>
						 			<div class="description" >
						 				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
						 			</div>
						 		</div>
						 	</div>
						 </div>

						</li>
	<li>
						 <div class="reviewer-content">
						 	<div class="reviewer-heading">Design a logo for a pharma company(ID: 4456)</div>
						 	<div class="reviews-detils">
						 		<span>
						 			<i class="sci-calendar"></i> 23, July 2017
						 		</span>
						 		<span>
						 			<i class="fa fa-users" aria-hidden="true"></i> 45 Entries | 3Shortlisted
						 		</span>
						 		<span>
						 			&yen; 2,325
						 		</span>
						 	</div>
						 	<div class="reviews-msg">
						 		<div class="msg-img">
						 			<img src="assets/images/chinese-tutor.jpg" alt="Reviews img" class="img-responsive">	
						 		</div>
						 		<div class="reviews-msg-content">
						 			<div class="name" ><span>Jhon Tiang</span> <span class="address">
						 				Shanghai, China
						 			</span></div>
						 			<div class="rating" >
						 				<i class="fa fa-star"></i>
						 				<i class="fa fa-star"></i>
						 				<i class="fa fa-star"></i>
						 				<i class="fa fa-star"></i>						 				
						 			</div>
						 			<div class="description" >
						 				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
						 			</div>
						 		</div>
						 	</div>
						 </div>

						</li>
							<li>
						 <div class="reviewer-content">
						 	<div class="reviewer-heading">Design a logo for a pharma company(ID: 4456)</div>
						 	<div class="reviews-detils">
						 		<span>
						 			<i class="sci-calendar"></i> 23, July 2017
						 		</span>
						 		<span>
						 			<i class="fa fa-users" aria-hidden="true"></i> 45 Entries | 3Shortlisted
						 		</span>
						 		<span>
						 			&yen; 2,325
						 		</span>
						 	</div>
						 	<div class="reviews-msg">
						 		<div class="msg-img">
						 			<img src="assets/images/chinese-tutor.jpg" alt="Reviews img" class="img-responsive">	
						 		</div>
						 		<div class="reviews-msg-content">
						 			<div class="name" ><span>Jhon Tiang</span> <span class="address">
						 				Shanghai, China
						 			</span></div>
						 			<div class="rating" >
						 				<i class="fa fa-star"></i>
						 				<i class="fa fa-star"></i>
						 				<i class="fa fa-star"></i>
						 				<i class="fa fa-star"></i>						 				
						 			</div>
						 			<div class="description" >
						 				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
						 			</div>
						 		</div>
						 	</div>
						 </div>

						</li>
							<li>
						 <div class="reviewer-content">
						 	<div class="reviewer-heading">Design a logo for a pharma company(ID: 4456)</div>
						 	<div class="reviews-detils">
						 		<span>
						 			<i class="sci-calendar"></i> 23, July 2017
						 		</span>
						 		<span>
						 			<i class="fa fa-users" aria-hidden="true"></i> 45 Entries | 3Shortlisted
						 		</span>
						 		<span>
						 			&yen; 2,325
						 		</span>
						 	</div>
						 	<div class="reviews-msg">
						 		<div class="msg-img">
						 			<img src="assets/images/chinese-tutor.jpg" alt="Reviews img" class="img-responsive">	
						 		</div>
						 		<div class="reviews-msg-content">
						 			<div class="name" ><span>Jhon Tiang</span> <span class="address">
						 				Shanghai, China
						 			</span></div>
						 			<div class="rating" >
						 				<i class="fa fa-star"></i>
						 				<i class="fa fa-star"></i>
						 				<i class="fa fa-star"></i>
						 				<i class="fa fa-star"></i>						 				
						 			</div>
						 			<div class="description" >
						 				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
						 			</div>
						 		</div>
						 	</div>
						 </div>

						</li>
					</ul>
				</div>		
					
			</div>	
			</div>
		<div class="sidebar-content margin-tp50">
				<div class="content-box client-dl-info margin-tp20">					
					<div class="img text-center ">						
						<img src="assets/images/chinese-tutor.jpg" class="img-circle img-responsive">
					</div>
					<div class="margin-tp20 text-center">
						<label>73 Jobs Completed</label>
						<span class="clearfix"></span>
						<span class="rating">
							<i class="fa fa-star"></i>
							 4.2/5(66 Reviews)
						</span>
					</div>					
				</div>
				<div class="content-box designer-info">					
					<div class=" ">
						<h4  class="sidebar-title">General Information</h4>
					</div>		
					<div>	
						<label class="control-label">Name</label><br>	
						<span>	Joseph</span>
					</div>	
					<div>	
						<label class="control-label">Location</label><br>
						<span>	Shanghai, China</span>
					</div>		
					<div>	
						<label class="control-label">Study</label><br>
						<span>	Shanghai Institute of Visual Art</span>
					</div>	
					<div>	
						<label class="control-label">Skills</label><br>
						<span>	<span>Logo Design</span> <span>Mobile App Design</span>  <span>Web Design</span></span>
					</div>
				</div>
				<div class="content-box designer-info">					
					<div class=" ">
						<h4 class="sidebar-title">About Me</h4>
					</div>		
					<div>	
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book	</p>
					</div>						
				</div>
		</div>
	</div>
</section>