<section class="user-dashboard-banner">
	<div class="header">
		<i class="sci-graphic-design"></i>
		<h2 class="title text-white">[['lbl_design_marketplace'|translate]]</h2>
		
	</div>
	<div class="overlay"></div>
	<div class="banner-header sub-header margin-zero text-uppercase">
		<span>
			2346 Currently open jobs
		</span>
		&nbsp;&nbsp; 
		<span class="v-divider">
		    My Jobs 
			<span class="badge badge-circle text-red back-white btn-circle">
				6
			</span> 
		</span>
	</div>
	
</section>
<div class="filter back-white">
    <div class="container">
        <form class="" action="/action_page.php">
         <div class="row">
         	<div class="col-sm-4">         		
         		<div class="form-group margin-zero">
	         		<div class="row">
	         			<div class="col-md-5 col-sm-12">
	         				<label for=""  class="control-label">Select Category:</label>
	         			</div>
	         			<div class="col-md-7 col-sm-12">
	         				<div class="select-dropdown">
	         				<select class="form-control ">
								<option value="" selected="">
									All Categories
								</option>
								<option value="1">Category 1</option>
								<option value="2">Category 2</option>
								<option value="3">Category 3</option>
							</select>
							 <span class="caret"></span>
	                     	</div>
	         			</div>
	         		</div>
				</div>				
         	</div>	
         	<div class="col-sm-4">
         		<div class="form-group margin-zero">
         			<div class="row">
	         			<div class="col-md-3 col-sm-12">
	         				<label class="control-label">Sort By:</label>
	         			</div>
	         			<div class="col-md-9 col-sm-12">
	         			<div class="select-dropdown">
	         				<select class="form-control">
							  <option value="volvo" selected="">Submited Time</option>
							  <option value="saab">Time 1</option>
							  <option value="mercedes">Time 2</option>
							  <option value="audi">Time 3</option>
							</select>
							 <span class="caret"></span>
	                     	</div>
	         			</div>
	         		</div>	
				</div>
         	</div>
         	<div class="col-sm-4">
         		<div class="form-group margin-zero">
         			<div class="search-panel">
					  <input type="" name="" placeholder="Search" class="form-control">
					  <i class="sci-Search-Icon"></i>
					</div>
				</div>
         	</div>         	

         </div>				
		</form>
	</div>
</div>
<section class="bg-img">
 <div class="container">
    <div class="tab-section">
	 	<ul class="nav nav-tabs">
		  <li class="active">
		  	<a data-toggle="tab" href="javascript:void(0)#openjobs">Open jobs</a>
		  </li>
		  <li>
		  	<a data-toggle="tab" href="javascript:void(0)#myjobs">My Jobs</a>
		  </li>
		  <li>
		  	<a data-toggle="tab" href="javascript:void(0)#completejob">Completed Jobs</a>
		  	</li>
		</ul>
		<div class="tab-content">
		   <div id="openjobs" class="tab-pane fade in active">
		    	<div class="jobs-list">
		    		<ul class="list-unstyled">
		    			<li>
		    			  <div class="job-content ">
		    			 	  <span class="jobs-date">15 Nov 2017</span>
		    					<h3><a href="#/mp-open-jobinfo">Design a logo for a pharma company</a></h3>
		    					<p class="scrollbar">
		    						I want some one who can desgin and build a website  as beautiful as (url removed  login to view) and  with same functionality only that the wallet
		    					</p>
		    					<div class="job-details text-uppercase">
		    						<span>
		    							<label>11</label><br>
		    							<span>Total Bids</span	>
		    						</span>	
		    						<span>
		    							<label>&yen; 500</label><br>
		    							<span>Budget</span>
		    						</span>
		    					</div>
		    		      </div>
		    			</li>
		    			<li>
		    			  <div class="job-content ">
		    			 	  <span class="jobs-date">15 Nov 2017</span>
		    					<h3><a href="#/mp-open-jobinfo">Design a logo for a pharma company</a></h3>
		    					<p class="scrollbar">
		    						I want some one who can desgin and build a website  as beautiful as (url removed  login to view) and  with same functionality only that the wallet

		    						I want some one who can desgin and build a website  as beautiful as (url removed  login to view) and  with same functionality only that the wallet
		    					</p>
		    					<div class="job-details text-uppercase">
		    						<span>
		    							<label>11</label><br>
		    							<span>Total Bids</span	>
		    						</span>	
		    						<span>
		    							<label>&yen; 500</label><br>
		    							<span>Budget</span>
		    						</span>
		    					</div>
		    		      </div>
		    			</li>
		    			<li>
		    			  <div class="job-content ">
		    			 	  <span class="jobs-date">15 Nov 2017</span>
		    					<h3><a href="#/mp-open-jobinfo">Design a logo for a pharma company</a></h3>
		    				<p class="scrollbar">
		    						I want some one who can desgin and build a website  as beautiful as (url removed  login to view) and  with same functionality only that the wallet

		    						</p>
		    					<div class="job-details text-uppercase">
		    						<span>
		    							<label>11</label><br>
		    							<span>Total Bids</span	>
		    						</span>	
		    						<span>
		    							<label>&yen; 500</label><br>
		    							<span>Budget</span>
		    						</span>
		    					</div>
		    		      </div>
		    			</li>
		    			<li>
		    			  <div class="job-content ">
		    			 	  <span class="jobs-date">15 Nov 2017</span>
		    					<h3><a href="#/mp-open-jobinfo">Design a logo for a pharma company</a></h3>
		    						<p class="scrollbar">
		    						I want some one who can desgin and build a website  as beautiful as (url removed  login to view) and  with same functionality only that the wallet

		    						I want some one who can desgin and build a website  as beautiful as (url removed  login to view) and  with same functionality only that the wallet
		    					</p>
		    					<div class="job-details text-uppercase">
		    						<span>
		    							<label>11</label><br>
		    							<span>Total Bids</span	>
		    						</span>	
		    						<span>
		    							<label>&yen; 500</label><br>
		    							<span>Budget</span>
		    						</span>
		    					</div>
		    		      </div>
		    			</li>
		    		</ul>
		    	</div>
		  </div>
		  <div id="myjobs" class="tab-pane fade">
		    <div class="jobs-list">
		    		<ul class="list-unstyled">
		    			<li>
		    			  <div class="job-content ">
		    			 	  <span class="jobs-date">15 Nov 2017</span>
		    					<h3><a href="#/mp-jobinfo-apply">Design a logo for a pharma company</a></h3>
		    						<p class="scrollbar">
		    						I want some one who can desgin and build a website  as beautiful as (url removed  login to view) and  with same functionality only that the wallet
</p>
		    					<div class="job-details text-uppercase">
		    						<span>
		    							<label>11</label><br>
		    							<span>Total Bids</span	>
		    						</span>	
		    						<span>
		    							<label>&yen; 500</label><br>
		    							<span>Budget</span>
		    						</span>
		    					</div>
		    		      </div>
		    			</li>
		    			<li>
		    			  <div class="job-content  ">
		    			  <span class="jobs-date">15 Nov 2017</span>
		    					<h3><a href="#/mp-jobinfo-apply">Design a logo for a pharma company</a></h3>
		    						<p class="scrollbar">
		    						I want some one who can desgin and build a website  as beautiful as (url removed  login to view) and  with same functionality only that the wallet

		    						I want some one who can desgin and build a website  as beautiful as (url removed  login to view) and  with same functionality only that the wallet
		    					</p>
		    					<div class="job-details text-uppercase">
		    						<span>
		    							<label>11</label><br>
		    							<span>Total Bids</span	>
		    						</span>	
		    						<span>
		    							<label>&yen; 500</label><br>
		    							<span>Budget</span>
		    						</span>
		    					</div>
		    		      </div>
		    			</li>
		    			<li>
		    			  <div class="job-content ">
		    			 	  <span class="jobs-date">15 Nov 2017</span>
		    					<h3><a href="#/mp-jobinfo-apply">Design a logo for a pharma company</a></h3>
		    					<p class="scrollbar">
		    						I want some one who can desgin and build a website  as beautiful as (url removed  login to view) and  with same functionality only that the wallet
		    					</p>
		    					<div class="job-details text-uppercase">
		    						<span>
		    							<label>11</label><br>
		    							<span>Total Bids</span	>
		    						</span>	
		    						<span>
		    							<label>&yen; 500</label><br>
		    							<span>Budget</span>
		    						</span>
		    					</div>
		    		      </div>
		    			</li>
		    			<li>
		    			  <div class="job-content ">
		    			  <span class="jobs-date">15 Nov 2017</span>
		    					<h3><a href="#/mp-jobinfo-apply">Design a logo for a pharma company</a></h3>
		    				<p class="scrollbar">
		    						I want some one who can desgin and build a website  as beautiful as (url removed  login to view) and  with same functionality only that the wallet
		    					</p>
		    					<div class="job-details text-uppercase">
		    						<span>
		    							<label>11</label><br>
		    							<span>Total Bids</span	>
		    						</span>	
		    						<span>
		    							<label>&yen; 500</label><br>
		    							<span>Budget</span>
		    						</span>
		    					</div>
		    		      </div>
		    			</li>
		    		</ul>
		    	</div>
		  </div>
		 <div id="completejob" class="tab-pane fade">
		    <div class="jobs-list">
		    		<ul class="list-unstyled">
		    			<li>
		    			  <div class="job-content ">
		    			 	  <span class="jobs-date">15 Nov 2017</span>
		    					<h3><a href="#/mp-jobinfo-apply">Design a logo for a pharma company</a></h3>
		    				<p class="scrollbar">
		    						I want some one who can desgin and build a website  as beautiful as (url removed  login to view) and  with same functionality only that the wallet
		    					</p>
		    					<div class="job-details text-uppercase">
		    						<span>
		    							<label>11</label><br>
		    							<span>Total Bids</span	>
		    						</span>	
		    						<span>
		    							<label>&yen; 500</label><br>
		    							<span>Budget</span>
		    						</span>
		    					</div>
		    		      </div>
		    			</li>
		    			<li>
		    			  <div class="job-content ">
		    			  <span class="jobs-date">15 Nov 2017</span>
		    					<h3><a href="#/mp-jobinfo-apply">Design a logo for a pharma company</a></h3>
		    						<p class="scrollbar">
		    						I want some one who can desgin and build a website  as beautiful as (url removed  login to view) and  with same functionality only that the wallet
		    					</p>
		    					<div class="job-details text-uppercase">
		    						<span>
		    							<label>11</label><br>
		    							<span>Total Bids</span	>
		    						</span>	
		    						<span>
		    							<label>&yen; 500</label><br>
		    							<span>Budget</span>
		    						</span>
		    					</div>
		    		      </div>
		    			</li>
		    			<li>
		    			  <div class="job-content ">
		    			 	  <span class="jobs-date">15 Nov 2017</span>
		    					<h3><a href="#/mp-jobinfo-apply">Design a logo for a pharma company</a></h3>
		    						<p class="scrollbar">
		    						I want some one who can desgin and build a website  as beautiful as (url removed  login to view) and  with same functionality only that the wallet
		    					</p>
		    					<div class="job-details text-uppercase">
		    						<span>
		    							<label>11</label><br>
		    							<span>Total Bids</span	>
		    						</span>	
		    						<span>
		    							<label>&yen; 500</label><br>
		    							<span>Budget</span>
		    						</span>
		    					</div>
		    		      </div>
		    			</li>
		    			<li>
		    			  <div class="job-content ">
		    			  <span class="jobs-date">15 Nov 2017</span>
		    					<h3><a href="#/mp-jobinfo-apply">Design a logo for a pharma company</a></h3>
		    					<p class="scrollbar">
		    						I want some one who can desgin and build a website  as beautiful as (url removed  login to view) and  with same functionality only that the wallet
		    					</p>
		    					<div class="job-details text-uppercase">
		    						<span>
		    							<label>11</label><br>
		    							<span>Total Bids</span	>
		    						</span>	
		    						<span>
		    							<label>&yen; 500</label><br>
		    							<span>Budget</span>
		    						</span>
		    					</div>
		    		      </div>
		    			</li>
		    		</ul>
		    	</div>
		  </div>
		</div>
	</div>
 </div>
</section>
