<section class="user-dashboard-banner">
   <div class="header">
      <i class="sci-graphic-design"></i>
      <h2 class="title text-white">[['lbl_design_marketplace'|translate]]</h2>
   </div>
   <div class="overlay"></div>
   <div class="banner-header sub-header margin-zero text-text-uppercase">
      <span>
      2346 Currently open jobs
      </span>
      &nbsp;&nbsp; 
      <span class="v-divider">
      My Jobs 
      <span class="badge badge-circle text-red back-white btn-circle">
      6
      </span> 
      </span>
   </div>
</section>
<section class=" course-contents partition-content">
   <div class="container">
      <div class="content-box ">
         <div class=" job-info">
            <h3 class="content-title">
               Desgin a logo for a pharma company
               <span class="pull-right text-text-uppercase">Job id: 5477</span>
            </h3>
            <div class="desc">
               <p>I want some one who can desgin and build a website  as beautiful as <a href="javascript:void(0)">(url removed  login to view)</a> and  with same functionality only that the wallet.
               </p>
               <p>I want some one who can desgin and build a website  as beautiful.
               </p>
               <p>I want some one who can desgin and build a website  as beautiful as (url removed  login to view).</p>
            </div>
            <div class="skill-details">
               <ul class="list-inline list-unstyled margin-tp15 skill-category">
                  <li class="">
                     Logo Design
                  </li>
                  <li class="">
                     Banner Design
                  </li>
                  <li class="">
                     Brochure Design
                  </li>
                  <li>
                     Flyer Design
                  </li>
               </ul>
            </div>
            <div class="job-details text-text-uppercase">
               <span>
               <label>05d 12h</label><br>
               <span>Time Left</span	>
               </span>	
               <span>
               <label>05</label><br>
               <span>Total Bids</span>
               </span>
               <span>
               <label>&yen; 500</label><br>
               <span>Budget</span>
               </span>
            </div>
         </div>
         <div class="group-btn margin-tp15 text-uppercase">
            <a class="btn back-dark-gray" href="#/marketplace-post-new-job">
            <i class="sci-Edit-icon text-white icon-white"></i>	Edit Job
            </a>
            <a class="btn">
            <i class="sci-Delete-Icon"></i>	Delete Job
            </a>
         </div>
      </div>
      <div class="tab-section job-ci-tab">
         <ul class="nav nav-tabs">
            <li class="active">
               <a data-toggle="tab" href="javascript:void(0)#entries" aria-expanded="true" class="btn badge-btn">All Proposal
               <span class="badge badge-circle text-red back-white btn-circle">
               6
               </span>
               </a>
            </li>
            <li class="">
               <a data-toggle="tab" href="javascript:void(0)#shortlisted" aria-expanded="false" class="btn badge-btn"> Hidden proposal
               <span class="badge badge-circle text-red back-white btn-circle">
               6
               </span>
               </a>
            </li>
         </ul>
         <div class="tab-content">
            <div class="tab-content">
               <div id="entries" class="shortlisted tab-pane fade active in">
                  <ul class="list-inline list-unstyled margin-zero my-cases panel-group accordion" id="accordion1">
                     <li class="panel">
                        <div class="img">
                           <img src="assets/images/user.jpg">
                        </div>
                        <div class="empolyee-dec">
                           <div class="left-side">
                              <div class="sub-header text-black margin-zero">
                                 <a href="#/mp-cv-portfolio" class="">Tim Ferris</a>
                              </div>
                              <div>
                                 <span>
                                 <span>London, UK</span>
                                 <span>(45 Completed Jobs)</span>
                                 </span>
                              </div>
                              <div>
                                 <span> 14 mins ago</span>
                              </div>
                           </div>
                           <div class="group-btn pull-right text-uppercase">							
                           <a class="btn btn-sm" href="javascript:void(0)">
                              <i class="sci-hide"></i>	Entry Hide
                              </a>
                              <span class="icon-dd">
                              <a data-toggle="collapse" data-parent="#accordion1" href="javascript:void(0)#collapse_1" class="" aria-expanded="true">
                              <i class="sci-down-arrow down"></i>
                              <i class="sci-down-up up"></i>
                              </a>
                              </span>
                           </div>
                        </div>
                        <div class="info-content-box panel-collapse collapse-section collapse" id="collapse_1" aria-expanded="false" style="height: 0px;">
                           <div class="sub-header text-black text-uppercase margin-bt20">
                           Send your reply
                            <a href="javascript:void(0)" class="btn pull-right fn12">
							  <i class="sci-Submit"></i> <span class="text-uppercase ">Make Job As Completed</span>
						    </a>
                           </div>
                           <form class="ng-pristine ng-valid">
                              <div class="form-group">
                                 <textarea rows="5" placeholder="Add New Note" class="form-control comments margin-zero"></textarea>
                              </div>
                              <div class="submit-btn upload-file-name">
                                 <span>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                       <span class="btn btn-default btn-file"><span class="fileinput-new"><i class="sci-attache"></i> Attach File</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                       <span class="fileinput-filename"></span>
                                       <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                    </div>
                                 </span>
                                 <button class="btn">
                                 <i class="sci-Submit"></i> submit</button>
                              </div>
                           </form>
                           <div class="divider margin-tp30 margin-bt30"></div>
                           <div class="client-response">
                              <div class="chat margin-tp10">
                                 <ul class="list-unstyled">
                                    <li class="sender">
                                    <h4 class="margin-bt20"><span class="label label-default text-black ">Bid Amount : &yen 850.00</span></h4>
                                       <p>Hey there!</p>
                                       <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                       <p>Thanks</p>
                                       <div class="box-gallery gallery justify-normal">
                                          <div class="box">
                                             <img src="assets/images/project.jpg" class="img-responsive" >
                                          </div>
                                          <div class="box">
                                             <img src="assets/images/project2.jpg"  class="img-responsive">
                                          </div>
                                          <div class="box">
                                             <img src="assets/images/project3.jpg"  class="img-responsive">
                                          </div>
                                       </div>
                                       <div class="info-date margin-tp5">
                                          <label>10/06/2017 1:30PM</label>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="panel">
                        <div class="img">
                           <img src="assets/images/user.jpg">
                        </div>
                        <div class="empolyee-dec">
                           <div class="left-side">
                              <div class="sub-header text-black margin-zero">
                                 <a href="#/mp-cv-portfolio" class="">Tim Ferris</a>
                              </div>
                              <div>
                                 <span>
                                 <span>London, UK</span>
                                 <span>(45 Completed Jobs)</span>
                                 </span>
                              </div>
                              <div>
                                 <span> 14 mins ago</span>
                              </div>
                           </div>
                           <div class="group-btn pull-right text-uppercase">							<a class="btn btn-sm" href="javascript:void(0)">
                              <i class="sci-hide"></i>	Entry Hide
                              </a>										
                              <span class="icon-dd">
                              <a data-toggle="collapse" data-parent="#accordion1" href="javascript:void(0)#collapse_2" class="" aria-expanded="true">
                              <i class="sci-down-arrow down"></i>
                              <i class="sci-down-up up"></i>
                              </a>
                              </span>
                           </div>
                        </div>
                        <div class="info-content-box panel-collapse collapse-section collapse" id="collapse_2" aria-expanded="false" style="height: 0px;">
                           <div class="sub-header text-black text-uppercase margin-bt20">
                           Send your reply
                            <a href="javascript:void(0)" class="btn pull-right fn12">
							  <i class="sci-Submit"></i> <span class="text-uppercase ">Make Job As Completed</span>
						    </a>
                           </div>
                           <form class="ng-pristine ng-valid">
                              <div class="form-group">
                                 <textarea rows="5" placeholder="Add New Note" class="form-control comments margin-zero"></textarea>
                              </div>
                              <div class="submit-btn upload-file-name">
                                 <span>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                       <span class="btn btn-default btn-file"><span class="fileinput-new"><i class="sci-attache"></i> Attach File</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                       <span class="fileinput-filename"></span>
                                       <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                    </div>
                                 </span>
                                 <button class="btn">
                                 <i class="sci-Submit"></i> submit</button>
                              </div>
                           </form>
                           <div class="divider margin-tp30 margin-bt30"></div>
                           <div class="client-response">
                              <div class="chat margin-tp10">
                                 <ul class="list-unstyled">
                                    <li class="sender">
                                     <h4 class="margin-bt20"><span class="label label-default text-black ">Bid Amount : &yen 850.00</span></h4>
                                       <p>Hey there!</p>
                                       <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                       <p>Thanks</p>
                                       <div class="box-gallery gallery justify-normal">
                                          <div class="box">
                                             <img src="assets/images/project.jpg" class="img-responsive" >
                                          </div>
                                          <div class="box">
                                             <img src="assets/images/project2.jpg"  class="img-responsive">
                                          </div>
                                          <div class="box">
                                             <img src="assets/images/project3.jpg"  class="img-responsive">
                                          </div>
                                       </div>
                                       <div class="info-date margin-tp5">
                                          <label>10/06/2017 1:30PM</label>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="panel">
                        <div class="img">
                           <img src="assets/images/user.jpg">
                        </div>
                        <div class="empolyee-dec">
                           <div class="left-side">
                              <div class="sub-header text-black margin-zero"><a href="#/mp-cv-portfolio" class="">Tim Ferris</a></div>
                              <div>
                                 <span>
                                 <span>London, UK</span>
                                 <span>(45 Completed Jobs)</span>
                                 </span>
                              </div>
                              <div>
                                 <span> 14 mins ago</span>
                              </div>
                           </div>
                           <div class="group-btn pull-right text-uppercase">							<a class="btn btn-sm" href="javascript:void(0)">
                              <i class="sci-hide"></i>	Entry Hide
                              </a>
                              <span class="icon-dd">
                              <a data-toggle="collapse" data-parent="#accordion1" href="javascript:void(0)#collapse_3" class="" aria-expanded="true">
                              <i class="sci-down-arrow down"></i>
                              <i class="sci-down-up up"></i>
                              </a>
                              </span>
                           </div>
                        </div>
                        <div class="info-content-box panel-collapse collapse-section collapse" id="collapse_3" aria-expanded="false" style="height: 0px;">
                           <div class="sub-header text-black text-uppercase margin-bt20">
                           Send your reply
                            <a href="javascript:void(0)" class="btn pull-right fn12">
							  <i class="sci-Submit"></i> <span class="text-uppercase ">Make Job As Completed</span>
						    </a>
                           </div>
                           <form class="ng-pristine ng-valid">
                              <div class="form-group">
                                 <textarea rows="5" placeholder="Add New Note" class="form-control comments margin-zero"></textarea>
                              </div>
                              <div class="submit-btn upload-file-name">
                                 <span>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                       <span class="btn btn-default btn-file"><span class="fileinput-new"><i class="sci-attache"></i> Attach File</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                       <span class="fileinput-filename"></span>
                                       <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                    </div>
                                 </span>
                                 <button class="btn">
                                 <i class="sci-Submit"></i> submit</button>
                              </div>
                           </form>
                           <div class="divider margin-tp30 margin-bt30"></div>
                           <div class="client-response">
                              <div class="chat margin-tp10">
                                 <ul class="list-unstyled">
                                    <li class="sender">
                                     <h4 class="margin-bt20"><span class="label label-default text-black ">Bid Amount : &yen 850.00</span></h4>
                                       <p>Hey there!</p>
                                       <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                       <p>Thanks</p>
                                       <div class="box-gallery gallery justify-normal">
                                          <div class="box">
                                             <img src="assets/images/project.jpg" class="img-responsive" >
                                          </div>
                                          <div class="box">
                                             <img src="assets/images/project2.jpg"  class="img-responsive">
                                          </div>
                                          <div class="box">
                                             <img src="assets/images/project3.jpg"  class="img-responsive">
                                          </div>
                                       </div>
                                       <div class="info-date margin-tp5">
                                          <label>10/06/2017 1:30PM</label>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <div id="shortlisted" class="shortlisted tab-pane ">
                    <ul class="list-inline list-unstyled margin-zero my-cases panel-group accordion" id="accordion2">
                     <li class="panel">
                        <div class="img">
                           <img src="assets/images/user.jpg">
                        </div>
                        <div class="empolyee-dec">
                           <div class="left-side">
                              <div class="sub-header text-black margin-zero">
                                 <a href="#/mp-cv-portfolio" class="">Tim Ferris</a>
                              </div>
                              <div>
                                 <span>
                                 <span>London, UK</span>
                                 <span>(45 Completed Jobs)</span>
                                 </span>
                              </div>
                              <div>
                                 <span> 14 mins ago</span>
                              </div>
                           </div>
                           <div class="group-btn pull-right text-uppercase">							
                              <span class="icon-dd">
                              <a data-toggle="collapse" data-parent="#accordion2" href="javascript:void(0)#collapse_1_1" class="" aria-expanded="true">
                              <i class="sci-down-arrow down"></i>
                              <i class="sci-down-up up"></i>
                              </a>
                              </span>
                           </div>
                        </div>
                        <div class="info-content-box panel-collapse collapse-section collapse" id="collapse_1_1" aria-expanded="false" style="height: 0px;">
                           <div class="sub-header text-black text-uppercase margin-bt20">
                           Send your reply
                            <a href="javascript:void(0)" class="btn pull-right fn12">
							  <i class="sci-Submit"></i> <span class="text-uppercase ">Make Job As Completed</span>
						    </a>
                           </div>
                           <form class="ng-pristine ng-valid">
                              <div class="form-group">
                                 <textarea rows="5" placeholder="Add New Note" class="form-control comments margin-zero"></textarea>
                              </div>
                              <div class="submit-btn upload-file-name">
                                 <span>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                       <span class="btn btn-default btn-file"><span class="fileinput-new"><i class="sci-attache"></i> Attach File</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                       <span class="fileinput-filename"></span>
                                       <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                    </div>
                                 </span>
                                 <button class="btn">
                                 <i class="sci-Submit"></i> submit</button>
                              </div>
                           </form>
                           <div class="divider margin-tp30 margin-bt30"></div>
                           <div class="client-response">
                              <div class="chat margin-tp10">
                                 <ul class="list-unstyled">
                                    <li class="sender">
                                    <h4 class="margin-bt20"><span class="label label-default text-black ">Bid Amount : &yen 850.00</span></h4>
                                       <p>Hey there!</p>
                                       <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                       <p>Thanks</p>
                                       <div class="box-gallery gallery justify-normal">
                                          <div class="box">
                                             <img src="assets/images/project.jpg" class="img-responsive" >
                                          </div>
                                          <div class="box">
                                             <img src="assets/images/project2.jpg"  class="img-responsive">
                                          </div>
                                          <div class="box">
                                             <img src="assets/images/project3.jpg"  class="img-responsive">
                                          </div>
                                       </div>
                                       <div class="info-date margin-tp5">
                                          <label>10/06/2017 1:30PM</label>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="panel">
                        <div class="img">
                           <img src="assets/images/user.jpg">
                        </div>
                        <div class="empolyee-dec">
                           <div class="left-side">
                              <div class="sub-header text-black margin-zero">
                                 <a href="#/mp-cv-portfolio" class="">Tim Ferris</a>
                              </div>
                              <div>
                                 <span>
                                 <span>London, UK</span>
                                 <span>(45 Completed Jobs)</span>
                                 </span>
                              </div>
                              <div>
                                 <span> 14 mins ago</span>
                              </div>
                           </div>
                           <div class="group-btn pull-right text-uppercase">						
                           								
                              <span class="icon-dd">
                              <a data-toggle="collapse" data-parent="#accordion2" href="javascript:void(0)#collapse_2_1" class="" aria-expanded="true">
                              <i class="sci-down-arrow down"></i>
                              <i class="sci-down-up up"></i>
                              </a>
                              </span>
                           </div>
                        </div>
                        <div class="info-content-box panel-collapse collapse-section collapse" id="collapse_2_1" aria-expanded="false" style="height: 0px;">
                           <div class="sub-header text-black text-uppercase margin-bt20">
                           Send your reply
                            <a href="javascript:void(0)" class="btn pull-right fn12">
							  <i class="sci-Submit"></i> <span class="text-uppercase ">Make Job As Completed</span>
						    </a>
                           </div>
                           <form class="ng-pristine ng-valid">
                              <div class="form-group">
                                 <textarea rows="5" placeholder="Add New Note" class="form-control comments margin-zero"></textarea>
                              </div>
                              <div class="submit-btn upload-file-name">
                                 <span>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                       <span class="btn btn-default btn-file"><span class="fileinput-new"><i class="sci-attache"></i> Attach File</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                       <span class="fileinput-filename"></span>
                                       <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                    </div>
                                 </span>
                                 <button class="btn">
                                 <i class="sci-Submit"></i> submit</button>
                              </div>
                           </form>
                           <div class="divider margin-tp30 margin-bt30"></div>
                           <div class="client-response">
                              <div class="chat margin-tp10">
                                 <ul class="list-unstyled">
                                    <li class="sender">
                                     <h4 class="margin-bt20"><span class="label label-default text-black ">Bid Amount : &yen 850.00</span></h4>
                                       <p>Hey there!</p>
                                       <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                       <p>Thanks</p>
                                       <div class="box-gallery gallery justify-normal">
                                          <div class="box">
                                             <img src="assets/images/project.jpg" class="img-responsive" >
                                          </div>
                                          <div class="box">
                                             <img src="assets/images/project2.jpg"  class="img-responsive">
                                          </div>
                                          <div class="box">
                                             <img src="assets/images/project3.jpg"  class="img-responsive">
                                          </div>
                                       </div>
                                       <div class="info-date margin-tp5">
                                          <label>10/06/2017 1:30PM</label>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="panel">
                        <div class="img">
                           <img src="assets/images/user.jpg">
                        </div>
                        <div class="empolyee-dec">
                           <div class="left-side">
                              <div class="sub-header text-black margin-zero"><a href="#/mp-cv-portfolio" class="">Tim Ferris</a></div>
                              <div>
                                 <span>
                                 <span>London, UK</span>
                                 <span>(45 Completed Jobs)</span>
                                 </span>
                              </div>
                              <div>
                                 <span> 14 mins ago</span>
                              </div>
                           </div>
                           <div class="group-btn pull-right text-uppercase">							
                              <span class="icon-dd">
                              <a data-toggle="collapse" data-parent="#accordion2" href="javascript:void(0)#collapse_3_1" class="" aria-expanded="true">
                              <i class="sci-down-arrow down"></i>
                              <i class="sci-down-up up"></i>
                              </a>
                              </span>
                           </div>
                        </div>
                        <div class="info-content-box panel-collapse collapse-section collapse" id="collapse_3_1" aria-expanded="false" style="height: 0px;">
                           <div class="sub-header text-black text-uppercase margin-bt20">
                           Send your reply
                            <a href="javascript:void(0)" class="btn pull-right fn12">
							  <i class="sci-Submit"></i> <span class="text-uppercase ">Make Job As Completed</span>
						    </a>
                           </div>
                           <form class="ng-pristine ng-valid">
                              <div class="form-group">
                                 <textarea rows="5" placeholder="Add New Note" class="form-control comments margin-zero"></textarea>
                              </div>
                              <div class="submit-btn upload-file-name">
                                 <span>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                       <span class="btn btn-default btn-file"><span class="fileinput-new"><i class="sci-attache"></i> Attach File</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                       <span class="fileinput-filename"></span>
                                       <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                    </div>
                                 </span>
                                 <button class="btn">
                                 <i class="sci-Submit"></i> submit</button>
                              </div>
                           </form>
                           <div class="divider margin-tp30 margin-bt30"></div>
                           <div class="client-response">
                              <div class="chat margin-tp10">
                                 <ul class="list-unstyled">
                                    <li class="sender">
                                     <h4 class="margin-bt20"><span class="label label-default text-black ">Bid Amount : &yen 850.00</span></h4>
                                       <p>Hey there!</p>
                                       <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                       <p>Thanks</p>
                                       <div class="box-gallery gallery justify-normal">
                                          <div class="box">
                                             <img src="assets/images/project.jpg" class="img-responsive" >
                                          </div>
                                          <div class="box">
                                             <img src="assets/images/project2.jpg"  class="img-responsive">
                                          </div>
                                          <div class="box">
                                             <img src="assets/images/project3.jpg"  class="img-responsive">
                                          </div>
                                       </div>
                                       <div class="info-date margin-tp5">
                                          <label>10/06/2017 1:30PM</label>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>