<div class="section container">
	<span class="title">All TRANSACTIONS</span>
	<div class="all-transactions">
		<div class="filter">
			<div class="row">
				<div class="col-sm-4">
					<div class="search-panel">
						<input type="" name="" placeholder="Search" class="form-control">
						<i class="sci-Search-Icon"></i>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="row">
						<div class="col-sm-12">
							<select class="form-control">
								<option value="volvo" selected="">Plan</option>
								<option value="saab">Basic</option>
								<option value="mercedes">Standard</option>
								<option value="audi">Premium</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-offset-1 col-sm-4">
					<div class="row">
						<label class="col-sm-3 control-label">Export To:</label>
						<div class="col-sm-6">
							<select class="form-control">
								<option value="volvo" selected="">Excel</option>
								<option value="saab">PDF</option>
								<option value="mercedes">CSV</option>
							</select>
						</div>
						<div class="col-sm-3">
							<a class="btn">Export</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="">
			<table class="table table-bordered back-white">
				<thead>
					<tr>
						<th>Plan</th>
						<th>Name</th>
						<th>Transaction ID</th>
						<th>Purchased on</th>
						<th>Amount</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Basic</td>
						<td>Joseph Lee</td>
						<td>SCELT123</td>
						<td>12/12/17, 12:45 PM</td>
						<td>&yen; 560 <i class="sci-notice icon" data-toggle="tooltip" title="" data-original-title="The comments on the proof read documents will be in ENGLISH language."></i></td>
						<td class="text-green">Successful</td>
					</tr>
					<tr>
						<td>Premium</td>
						<td>Chan Yu</td>
						<td>SCELT123</td>
						<td>12/12/17, 12:45 PM</td>
						<td>&yen; 560 <i class="sci-notice icon" data-toggle="tooltip" title="" data-original-title="The comments on the proof read documents will be in ENGLISH language."></i></td>
						<td class="text-green">Successful</td>
					</tr>
					<tr>
						<td>Premium</td>
						<td>Chang Wong</td>
						<td>SCELT123</td>
						<td>12/12/17, 12:45 PM</td>
						<td>&yen; 560 <i class="sci-notice icon" data-toggle="tooltip" title="" data-original-title="The comments on the proof read documents will be in ENGLISH language."></i></td>
						<td class="text-green">Successful</td>
					</tr>
					<tr>
						<td>Standard</td>
						<td>Andrew Martin</td>
						<td>SCELT123</td>
						<td>12/12/17, 12:45 PM</td>
						<td>&yen; 560 <i class="sci-notice icon" data-toggle="tooltip" title="" data-original-title="The comments on the proof read documents will be in ENGLISH language."></i></td>
						<td class="text-green">Successful</td>
					</tr>
					<tr>
						<td>Basic</td>
						<td>Sean Siah</td>
						<td>SCELT123</td>
						<td>12/12/17, 12:45 PM</td>
						<td>&yen; 560 <i class="sci-notice icon" data-toggle="tooltip" title="" data-original-title="The comments on the proof read documents will be in ENGLISH language."></i></td>
						<td class="text-red">Failed</td>
					</tr>
					<tr>
						<td>Premium</td>
						<td>Chan Yu</td>
						<td>SCELT123</td>
						<td>12/12/17, 12:45 PM</td>
						<td>&yen; 560 <i class="sci-notice icon" data-toggle="tooltip" title="" data-original-title="The comments on the proof read documents will be in ENGLISH language."></i></td>
						<td class="text-green">Successful</td>
					</tr>
					<tr>
						<td>Premium</td>
						<td>Chang Wong</td>
						<td>SCELT123</td>
						<td>12/12/17, 12:45 PM</td>
						<td>&yen; 560 <i class="sci-notice icon" data-toggle="tooltip" title="" data-original-title="The comments on the proof read documents will be in ENGLISH language."></i></td>
						<td class="text-green">Successful</td>
					</tr>
					<tr>
						<td>Standard</td>
						<td>Andrew Martin</td>
						<td>SCELT123</td>
						<td>12/12/17, 12:45 PM</td>
						<td>&yen; 560 <i class="sci-notice icon" data-toggle="tooltip" title="" data-original-title="The comments on the proof read documents will be in ENGLISH language."></i></td>
						<td class="text-red">Failed</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>