@font-face {
  font-family: 'icomoon';
  src:  url('../../../admin/fonts/pr-icon/icomoon.eot?r05pxb');
  src:  url('../admin/fonts/pr-icon/icomoon.eot?r05pxb#iefix') format('embedded-opentype'),
    url('../../admin/fonts/pr-icon/icomoon.ttf?r05pxb') format('truetype'),
    url('../../admin/fonts/pr-icon/icomoon.woff?r05pxb') format('woff'),
    url('../../admin/fonts/pr-icon/icomoon.svg?r05pxb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\e900"; 
}
.icon-2:before {
  content: "\e901";
  color: #636262;
}
.icon-3:before {
  content: "\e902";
  color: #d8d8d8;
}
.icon-Combined-Shape:before {
  content: "\e903"; 
}
.icon-doc:before {
  content: "\e904"; 
}
