<div>
    <button class="btn tablinks btn-medium-pink" ng-click="goBack()" style="position: relative; margin-left: 1%; margin-bottom: 1%;" type="button">
        <i class="fa fa-arrow-left">
        </i>
    </button>
</div>
<div class="container">
    <div class="white-block listingPage">

        <div class="text-center selectedTabName" ng-if="transLang=='en' && selectedTabData.subcategory_name!=null">[[selectedTabData.category_name]] - [[selectedTabData.subcategory_name]]</div>
        <div class="text-center selectedTabName" ng-if="transLang=='chi' && selectedTabData.subcategory_name_chi!=null">[[selectedTabData.category_name_chi]] - [[selectedTabData.subcategory_name_chi]]</div>
        <div class="text-center selectedTabName" ng-if="transLang=='ru' && selectedTabData.subcategory_name_ru!=null">[[selectedTabData.category_name_ru]] - [[selectedTabData.subcategory_name_ru]]</div>

        <div class="text-center selectedTabName" ng-if="transLang=='en' && selectedTabData.subcategory_name==null">[[selectedTabData.category_name]]</div>
        <div class="text-center selectedTabName" ng-if="transLang=='chi' && selectedTabData.subcategory_name_chi==null">[[selectedTabData.category_name_chi]]</div>
        <div class="text-center selectedTabName" ng-if="transLang=='ru' && selectedTabData.subcategory_name_ru==null">[[selectedTabData.category_name_ru]]</div>

        <div class="tabs-div text-center" ng-if="categoriesExist">
            <div class="owl-carousel owl-theme margin_top_20" id="owl-carousel">
                <div class="item categories_dropdown" ng-repeat="category in categories">
                    <div ng-if="$index == 0" data-toggle="dropdown" ng-init="ChangeCategory(category.encoded_string,'categoryTab','category',category.id)"></div>
                    <button ng-if="transLang=='en'" ng-class="{active: selectedTabData.parent_id == category.id}" class="btn tablinks categoryTab" data-toggle="dropdown" id="categoryTab_[[category.id]]" ng-click="ChangeCategory(category.encoded_string,'categoryTab','category',category.id)">
                        [[category.category_name]]
                    </button>
                    <button ng-if="transLang=='chi'" ng-class="{active: selectedTabData.parent_id == category.id}" class="btn tablinks categoryTab" data-toggle="dropdown" id="categoryTab_[[category.id]]" ng-click="ChangeCategory(category.encoded_string,'categoryTab','category',category.id)">
                        [[category.category_name_chi]]
                    </button>
                    <button ng-if="transLang=='ru'" ng-class="{active: selectedTabData.parent_id == category.id}" class="btn tablinks categoryTab" data-toggle="dropdown" id="categoryTab_[[category.id]]" ng-click="ChangeCategory(category.encoded_string,'categoryTab','category',category.id)">
                        [[category.category_name_ru]]
                    </button>
                </div>
            </div>
            <!-- <div class="row margin_top_20">
                <div class="col-sm-[[categoriesCount]] categories_dropdown" ng-repeat="category in categories">
                    <button class="btn tablinks btn-medium-pink categoryTab" data-toggle="dropdown" id="categoryTab_[[category.id]]" ng-click="ChangeCategory(category.encoded_string,'categoryTab','category',category.id)">
                        [[category.category_name]]
                    </button>
                    <ul class="dropdown-menu dropdown-menu-form" aria-labelledby="dLabel" ng-if="subCategoriesExist && subCategories">
                        <li ng-repeat="subCategory in subCategories" id="subcategoryTab_[[subCategory.id]]" ng-click="ChangeCategory(subCategory.encoded_string,'subcategoryTab','subCategory',subCategory.id)" class="pointer">
                            <h6 class="subcategories_dropdown">[[subCategory.subcategory_name]]</h6>
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
        <div class="tabcontent" id="Buzz1Tab">
            <ul class="category-list" id="categories" aria-labelledby="dLabel" ng-if="subCategoriesExist && subCategories">
                <li class="pointer" ng-class="{active: selectedTabData.id == subCategory.id}" ng-repeat="subCategory in subCategories" id="subcategoryTab_[[subCategory.id]]" ng-click="ChangeCategory(subCategory.encoded_string,'subcategoryTab','subCategory',subCategory.id)">
                        <h6 ng-if="transLang=='en'" class="subcategories-dropdown">[[subCategory.subcategory_name]]</h6>
                        <h6 ng-if="transLang=='chi'" class="subcategories-dropdown">[[subCategory.subcategory_name_chi]]</h6>
                        <h6 ng-if="transLang=='ru'" class="subcategories-dropdown">[[subCategory.subcategory_name_ru]]</h6>
                </li>
            </ul>
            <div class="row">
                <center ng-if="transLang=='en'">[[dataAvailableMessage.en]]</center>
                <center ng-if="transLang=='chi'">[[dataAvailableMessage.chi]]</center>
                <center ng-if="transLang=='ru'">[[dataAvailableMessage.ru]]</center>

                <div class="col-sm-6 col-md-4 col-lg-3" ng-if="allData" ng-repeat="data in allData.allData">
                    <div class="thumb-block" ng-if="data.content_type==1">
                        <div class="img-div thumbnail_custom" style="background-image:url([[current_domain=='net'?'https://cdn.sixclouds.net/assets':'public/uploads']]/video_thumbnails/thumbnail_web/[[data.thumbnail_web]])">
                            <div class="time-div">
                                [[data.video_url.video_duration]]
                            </div>
                            <div>
                                <div ng-if="data.can_view==1">
                                    <div class="mid-content watch-again" ng-if="data.video_url.views_detail.video_viewing_app_status==1">
                                        <a class="icon-a" href="#" ng-click="redirect(data.slug,data.content_type,$index+1)">
                                        </a>
                                        <div class="bottom-text">
                                            [['lbl_watch_again'|translate]]
                                        </div>
                                    </div>
                                    <div class="mid-content resume-watching" ng-if="data.video_url.views_detail.video_viewing_app_status==2">
                                        <a class="icon-a" href="#" ng-click="redirect(data.slug,data.content_type,$index+1)">
                                        </a>
                                        <div class="bottom-text">
                                            [['lbl_resume'|translate]]
                                        </div>
                                    </div>
                                    <div ng-if="data.video_url.views_detail.video_viewing_app_status==0||!data.video_url.views_detail">
                                        <a class="icon-a" href="#" ng-click="redirect(data.slug,data.content_type,$index+1)">
                                        </a>
                                    </div>
                                </div>
                                <div class="overlap-btn" ng-if="data.can_view==0">
                                    <a class="custom_cursor_pointer" ng-click="Cantview(data.video_url.title, data.slug,data.content_type)" ng-if="data.watch_previous==0">
                                        <div class="lock-icon">
                                        </div>
                                    </a>
                                    <div class="custom_cursor_pointer" ng-if="data.watch_previous==1">
                                        <a class="icon-a" href="#" ng-click="redirect(data.slug,data.content_type,$index+1)">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content">
                            <a class="decoration_none_custom" href="#" ng-click="redirect(data.slug,data.content_type,$index+1)" ng-if="data.can_view==1">
                                <p ng-if="transLang=='en'">
                                    [[$index+1]]. [[data.title]]
                                </p>
                                <p ng-if="transLang=='chi'">
                                    [[$index+1]]. [[data.title_chi ]]
                                </p>
                                <p ng-if="transLang=='ru'">
                                    [[$index+1]]. [[data.title_ru ]]
                                </p>
                            </a>
                            <div ng-if="data.can_view==0">
                                <div class="custom_cursor_pointer" ng-click="Cantview(data.video_url.title,data.content_type)" ng-if="data.watch_previous==0">
                                    <p ng-if="transLang=='en'">
                                        [[$index+1]]. [[data.title]]
                                    </p>
                                    <p ng-if="transLang=='chi'">
                                        [[$index+1]]. [[data.title_chi ]]
                                    </p>
                                    <p ng-if="transLang=='ru'">
                                        [[$index+1]]. [[data.title_ru]]
                                    </p>
                                </div>
                                <div class="custom_cursor_pointer" ng-if="data.watch_previous==1">
                                    <a class="decoration_none_custom custom_cursor_pointer" href="#" ng-click="redirect(data.slug,data.content_type,$index+1)">
                                        <p ng-if="transLang=='en'">
                                            [[$index+1]]. [[data.title]]
                                        </p>
                                        <p ng-if="transLang=='chi'">
                                            [[$index+1]]. [[data.title_chi ]]
                                        </p>
                                        <p ng-if="transLang=='ru'">
                                            [[$index+1]]. [[data.title_ru ]]
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-block" ng-if="data.content_type==2">
                        <div class="img-div thumbnail_custom" style="background-image:url(resources/assets/images/ignite/quiz.png)">
                            <div class="overlap-btn" ng-if="data.can_view==1">
                                <a ng-if="data.alreadyattemptedquiz.length==0" class="btn btn-medium-pink btn-sm" href="#" ng-click="redirect(data.slug,data.content_type,$index+1)">
                                    [['lbl_take_quiz'|translate]]
                                </a>
                                <a ng-if="data.alreadyattemptedquiz.length>0" class="btn btn-medium-pink btn-sm" href="#" ng-click="redirect(data.slug,data.content_type,$index+1)">
                                    [['lbl_resume_quiz'|translate]]
                                </a>
                            </div>
                            <div class="overlap-btn" ng-if="data.can_view==0">
                                <a class="custom_cursor_pointer" ng-click="Cantview(data.quizlanguage.title, data.slug,data.content_type)" ng-if="data.watch_previous==0">
                                    <div class="lock-icon">
                                    </div>
                                </a>
                                <div class="overlap-btn" ng-if="data.watch_previous==1">
                                    <a ng-if="data.alreadyattemptedquiz.length==0" class="btn btn-medium-pink btn-sm" href="#" ng-click="redirect(data.slug,data.content_type,$index+1)">
                                        [['lbl_take_quiz'|translate]]
                                    </a>
                                    <a ng-if="data.alreadyattemptedquiz.length>0" class="btn btn-medium-pink btn-sm" href="#" ng-click="redirect(data.slug,data.content_type,$index+1)">
                                        [['lbl_resume_quiz'|translate]]
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content">
                            <a class="decoration_none_custom" href="#" ng-click="redirect(data.slug,data.content_type,$index+1)" ng-if="data.can_view==1">
                                <p ng-if="transLang=='en'">
                                    [[$index+1]]. [[data.title]]
                                </p>
                                <p ng-if="transLang=='chi'">
                                    [[$index+1]]. [[data.title_chi ]]
                                </p>
                                <p ng-if="transLang=='ru'">
                                    [[$index+1]]. [[data.title_ru ]]
                                </p>
                            </a>
                            <div ng-if="data.can_view==0">
                                <div class="custom_cursor_pointer" ng-click="Cantview(data.quizlanguage.title, data.slug,data.content_type)" ng-if="data.watch_previous==0">
                                    <p ng-if="transLang=='en'">
                                        [[$index+1]]. [[data.title]]
                                    </p>
                                    <p ng-if="transLang=='chi'">
                                        [[$index+1]]. [[data.title_chi ]]
                                    </p>
                                    <p ng-if="transLang=='ru'">
                                        [[$index+1]]. [[data.title_ru ]]
                                    </p>
                                </div>
                                <div class="custom_cursor_pointer" ng-if="data.watch_previous==1">
                                    <a class="decoration_none_custom custom_cursor_pointer" href="#" ng-click="redirect(data.slug,data.content_type,$index+1)">
                                        <p ng-if="transLang=='en'">
                                            [[$index+1]]. [[data.title]]
                                        </p>
                                        <p ng-if="transLang=='chi'">
                                            [[$index+1]]. [[data.title_chi ]]
                                        </p>
                                        <p ng-if="transLang=='ru'">
                                            [[$index+1]]. [[data.title_ru ]]
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-block" ng-if="data.content_type==3">
                        <div class="img-div thumbnail_custom" ng-if="data.thumbnail_web == null" style="background-image:url('resources/assets/images/ignite/worksheet.png')">
                            <div class="overlap-btn" ng-if="data.can_view==1">
                                <!-- <a class="btn btn-medium-pink btn-sm" download="[[data.category.category_name]] - [[data.worksheetlanguage.title]].pdf" href="public/uploads/worksheet_files/[[data.file_name]]" ng-if="data.can_view==1" target="_blank">
                                    [['lbl_download_worksheet'|translate]]
                                </a> -->
                                <a class="btn btn-medium-pink btn-sm" ng-click="downloadWorksheet(data)" ng-if="data.can_view==1 && data.download_button_text != null ">
                                    [[data.download_button_text]]
                                </a>
                                <a class="btn btn-medium-pink btn-sm" ng-click="downloadWorksheet(data)" ng-if="data.can_view==1 && data.download_button_text == null ">
                                    [['lbl_download_worksheet'|translate]]
                                </a>
                            </div>
                            <div class="overlap-btn" ng-if="data.can_view==0">
                                <a class="custom_cursor_pointer" ng-click="Cantview(data.title, data.slug,data.content_type)" ng-if="data.watch_previous==0">
                                    <div class="lock-icon">
                                    </div>
                                </a>
                                <div class="overlap-btn" ng-if="data.watch_previous==1">
                                    <!-- download="[[data.category.category_name]] - [[data.worksheetlanguage.title]].pdf" href="public/uploads/worksheet_files/[[data.file_name]]" target="_blank" -->
                                    <a class="btn btn-medium-pink btn-sm" ng-click="downloadWorksheet(data)" ng-if=" data.download_button_text != null ">
                                        [[data.download_button_text]]
                                    </a>
                                    <a class="btn btn-medium-pink btn-sm" ng-click="downloadWorksheet(data)" ng-if=" data.download_button_text == null "> 
                                        [['lbl_download_worksheet'|translate]]
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="img-div thumbnail_custom" ng-if="data.thumbnail_web != null" style="background-image:url('https://cdn.sixclouds.net/assets/worksheet_thumbnails/thumbnail_web/[[data.thumbnail_web]]')">
                            <div class="overlap-btn" ng-if="data.can_view==1">
                                <!-- <a class="btn btn-medium-pink btn-sm" download="[[data.category.category_name]] - [[data.worksheetlanguage.title]].pdf" href="public/uploads/worksheet_files/[[data.file_name]]" ng-if="data.can_view==1" target="_blank">
                                    [['lbl_download_worksheet'|translate]]
                                </a> -->
                                <a class="btn btn-medium-pink btn-sm" ng-click="downloadWorksheet(data)" ng-if="data.can_view==1 && data.download_button_text != null ">
                                    [[data.download_button_text]]
                                </a>
                                <a class="btn btn-medium-pink btn-sm" ng-click="downloadWorksheet(data)" ng-if="data.can_view==1 && data.download_button_text == null ">
                                    [['lbl_download_worksheet'|translate]]
                                </a>
                            </div>
                            <div class="overlap-btn" ng-if="data.can_view==0">
                                <a class="custom_cursor_pointer" ng-click="Cantview(data.title, data.slug,data.content_type)" ng-if="data.watch_previous==0">
                                    <div class="lock-icon">
                                    </div>
                                </a>
                                <div class="overlap-btn" ng-if="data.watch_previous==1">
                                    <!-- download="[[data.category.category_name]] - [[data.worksheetlanguage.title]].pdf" href="public/uploads/worksheet_files/[[data.file_name]]" target="_blank" -->
                                    <a class="btn btn-medium-pink btn-sm" ng-click="downloadWorksheet(data)" ng-if=" data.download_button_text != null ">
                                        [[data.download_button_text]]
                                    </a>
                                    <a class="btn btn-medium-pink btn-sm" ng-click="downloadWorksheet(data)" ng-if=" data.download_button_text == null "> 
                                        [['lbl_download_worksheet'|translate]]
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content">
                            <a class="decoration_none_custom" href="#" ng-click="redirect(data.slug,data.content_type,$index+1)" ng-if="data.can_view==1">
                                <p ng-if="transLang=='en'">
                                    [[$index+1]]. [[data.title]]
                                </p>
                                <p ng-if="transLang=='chi'">
                                    [[$index+1]]. [[data.title_chi ]]
                                </p>
                                <p ng-if="transLang=='ru'">
                                    [[$index+1]]. [[data.title_ru ]]
                                </p>
                            </a>
                            <div ng-if="data.can_view==0">
                                <div class="custom_cursor_pointer" ng-click="Cantview(data.title, data.slug,data.content_type)" ng-if="data.watch_previous==0">
                                    <p ng-if="transLang=='en'">
                                        [[$index+1]]. [[data.title]]
                                    </p>
                                    <p ng-if="transLang=='chi'">
                                        [[$index+1]]. [[data.title_chi ]]
                                    </p>
                                    <p ng-if="transLang=='ru'">
                                        [[$index+1]]. [[data.title_ru ]]
                                    </p>
                                </div>
                                <div class="custom_cursor_pointer" ng-if="data.watch_previous==1">
                                    <a class="decoration_none_custom" href="#" ng-click="redirect(data.slug,data.content_type,$index+1)">
                                        <p ng-if="transLang=='en'">
                                            [[$index+1]]. [[data.title]]
                                        </p>
                                        <p ng-if="transLang=='chi'">
                                            [[$index+1]]. [[data.title_chi ]]
                                        </p>
                                        <p ng-if="transLang=='ru'">
                                            [[$index+1]]. [[data.title_ru ]]
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-6 col-md-4 col-lg-3" ng-if="!allData">
                    <label class="text-center">No videos available</label>
                </div> -->
            </div>
        </div>
    </div>
</div>
