<!-- <div class="modal fade designer-my-uploads-popup" id="showVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">      
      <div class="modal-body" ng-if="current_domain=='cn'">        
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
          <video id="videoTag" controls width="540" poster="resources/assets/images/Thumbnail_for_Video.jpeg" height="310" >
            <source src="public/uploads/promotional-videos/Video_cn.mov">
          </video>    
      </div>
      <div class="modal-body" ng-if="current_domain=='net'">        
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
          <video id="videoTag" controls width="540" poster="resources/assets/images/Thumbnail_for_Video.jpeg" height="310" >
            <source  src="https://cdn.sixclouds.net/promovideo/Promo%20Video%20En-HD%20720p.mov">
          </video>    
      </div>
    </div>
  </div>
</div> -->
<article class="home-content-article">
  <div class="math-landing-section">
    <section class="welcome-section">
      <div class="container">
        <div class="head-div section-head">
          <h3>[['lbl_math_title'|translate]]</h3>
          <div class="inner-div">
             <div class="row">
              <div class="col-sm-12">
                <div class="center-content">
                  <p>[['lbl_math_title_description'|translate]]</p>
                </div>
              </div>
              <!-- <div class="col-sm-5">
                <table width="100" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="center" class="play-icon"><a ng-click="ShowVideo()" class="btn"> <span style="background-image:url(resources/assets/images/Thumbnail_for_Video.jpeg)"></span><i class="fa fa-play-circle" aria-hidden="true"></i> </a></td>
                  </tr>
                </table>
              </div> -->
            </div>
          </div>
        </div>
        <div class="lesson-videos-feature">
          <h3>[['lbl_math_video_feature'|translate]]</h3>
          <div class="row">
            <div class="col-sm-12">
              <ul>
                <li>
                  <div class="icon-div">
                    <span><img alt="" src="resources/assets/images/model.svg"></span>
                  </div>
                  <strong>[['lbl_math_success_model'|translate]]</strong><br>
                  [['lbl_math_success_model_description'|translate]]
                </li>
                <li>
                  <div class="icon-div">
                    <span><img alt="" src="resources/assets/images/certified.svg"></span>
                  </div>
                  <strong>[['lbl_math_certified_educators'|translate]]</strong><br>
                  [['lbl_math_certified_educators_description'|translate]]
                </li>
                <li>
                  <div class="icon-div">
                    <span><img alt="" src="resources/assets/images/formula.svg"></span>
                  </div>
                  <strong>[['lbl_math_formula_for_learning'|translate]]</strong> <br>
                  [['lbl_math_formula_for_learning_description'|translate]]
                </li>
                 <li>
                  <div class="icon-div">
                    <span><img alt="" src="resources/assets/images/themes.svg"></span>
                  </div>
                  <strong>[['lbl_math_themes_animation'|translate]]</strong> <br>
                  [['lbl_math_themes_animation_description'|translate]]
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <div class="globe-div"> <img src="resources/assets/images/globe.svg" width="100%" /> </div> -->
      </div>
    </section>



    <section class="buzz-english-section">
    <div class="container">
      <div class="buzz-english-heading math-program">
        <h2>[['lbl_ignite_mathematics_programme'|translate]]</h2>
        <h3>[['lbl_ignite_mathematics_programme_description'|translate]] </h3>
      </div>
      <div class="inner-space">
        <div class="row">
          <div class="col-sm-12 col-xs-6 box mar-btm">
            <div class="buzz-english-div">
              <div class="buzz-english-image">
                <img src="resources/assets/images/smile-sg-button.png" />
              </div>
              <div class="buzz-english-description">
                <p>[['lbl_ignite_smile_sg_description'|translate]]</p>
                <a class="common-btn" href="ignite-smile-singapore">[['lbl_ignite_learn_more'|translate]]</a>
              </div>  
            </div>
          </div>
          <div class="col-sm-12 col-xs-6 box mar-btm">
            <div class="buzz-english-div">
              <div class="buzz-english-image">
                <img src="resources/assets/images/smile-button.png" />
              </div>
              <div class="buzz-english-description">
                <p>[['lbl_ignite_maze_smile_description'|translate]]</p>
                <a class="common-btn" href="ignite-smile-international">[['lbl_ignite_learn_more'|translate]]</a>
              </div>  
            </div>
          </div>
          <div class="col-sm-12 col-xs-6 box mar-btm">
            <div class="buzz-english-div">
              <div class="buzz-english-image">
                <img src="resources/assets/images/maze-button.png" />
              </div>
              <div class="buzz-english-description">
                <p>[['lbl_ignite_maze_description'|translate]]</p>
                <a class="common-btn" href="ignite-maze">[['lbl_ignite_learn_more'|translate]]</a>
              </div>  
            </div>
          </div>
          <div class="col-sm-12 col-xs-6 box mar-btn">
            <div class="buzz-english-div">
              <div class="buzz-english-image">
                <img src="resources/assets/images/smile_phil_button_draft.png" />
              </div>
              <div class="buzz-english-description">
                <p>[['lbl_ignite_philippines_description'|translate]]</p>
                <a class="common-btn" href="ignite-smile-philippines">[['lbl_ignite_learn_more'|translate]]</a>
              </div>  
            </div>
          </div>
        </div>
      </div>
     <!--  <div class="guide-section">
        <h2>Guide to Parents</h2>
        <div class="row">
          <div class="col-sm-6 guide-box text-center">
            <img src="resources/assets/images/math-guide.png" /> 
          </div>
          <div class="col-sm-6 guide-box">
            <ul class="list-unstyled">
              <li class="">
                <strong class="">Themes </strong><br>
                Short animated, thematic lesson
              </li>
              <li class="">
                <strong class="">Practice</strong><br>
                For immediate reinforcement of the lesson
              </li>
              <li class="">
                <strong class="">Worksheets</strong> <br>
                Downloadable for extra paractice
              </li>
              <li class="">
                <strong class="">Themes </strong><br>
                Short animated, thematic lesson
              </li>
              <li class="">
                <strong class="">Practice</strong><br>
                For immediate reinforcement of the lesson
              </li>
              <li class="">
                <strong class="">Worksheets</strong> <br>
                Downloadable for extra paractice
              </li>
            </ul>
          </div>
        </div>
      </div> -->
      <div class="math-landing-learn">
        <div class="bottom-sec-head">
          <h3>[['lbl_way_to_learn_imath'|translate]]</h3>
          <div class="spacing-wrap">
            <div class="row learn-section">
              <div class="col-sm-5 learn-img">
                <div class="learning-process-img">
                  <figure>
                    <img src="resources/assets/images/process-math-landing.png">
                  </figure>
                </div>
              </div>
              <div class="col-sm-7 learn-desc">
                <div class="learning-process-content">
                  <ul class="learn-steps list-inline">
                    <li>
                      <h4>[['lbl_watch_imath'|translate]]<span></span></h4>
                      <p>[['lbl_watch_description_math'|translate]]</p>
                    </li>
                    <li>
                      <h4>[['lbl_learn_imath'|translate]]<span></span></h4>
                      <p>[['lbl_learn_description_math'|translate]]</p>
                    </li>
                    <li>
                      <h4>[['lbl_test_imath'|translate]]<span></span></h4>
                      <p>[['lbl_test_description_math'|translate]]</p>
                    </li>
                    <li>
                      <h4>[['lbl_repeat_imath'|translate]]<span></span></h4>
                      <p>[['lbl_repeat_description_imath'|translate]]</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </div>
  <section class="buzz-math-section buzz-math-landing-section">
    <div class="programmes-suits">
      <div class="container">
        <div class="section-head">
          <h3>[['lbl_math_guide_parents'|translate]]</h3>
          <div class="grade-section">
            <div class="main-box">
              <div class="box-section" data-toggle="modal" data-target="#grade-details">
                <div class="box">
                  <img src="resources/assets/images/learning_process.svg" class="icon">
                  <span class="grade-ttl">[['lbl_math_learning_process'|translate]]</span>
                  <p>[['lbl_math_learning_process_description'|translate]]</p>
                </div>
              </div>
              <div class="box-section">
                <div class="box">
                  <img src="resources/assets/images/pace_of_learning.svg" class="icon">
                  <span class="grade-ttl">[['lbl_math_pace_learning'|translate]]</span>
                  <p>[['lbl_math_pace_learning_description'|translate]]</p>
                </div>
              </div>
              <div class="box-section">
                <div class="box">
                  <img src="resources/assets/images/ensure_understanding.svg" class="icon">
                  <span class="grade-ttl">[['lbl_math_ensure_understanding'|translate]]</span>
                  <p>[['lbl_math_ensure_understanding_description'|translate]]</p>
                </div>
              </div>
              <div class="box-section">
                <div class="box">
                  <img src="resources/assets/images/support_their_learning.svg" class="icon">
                  <span class="grade-ttl">[['lbl_math_support_learning'|translate]]</span>
                  <p>[['lbl_math_support_learning_description'|translate]]</p>
                </div>
              </div>
              <div class="box-section">
                <div class="box">
                  <img src="resources/assets/images/maximize_performance.svg" class="icon">
                  <span class="grade-ttl">[['lbl_math_maximise_performance'|translate]]</span>
                  <p>[['lbl_math_maximise_performance_description'|translate]]</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="math-learning-table">
    <div class="container">
      <div class="math-landing-table">
        <h3 class="text-capitalize">[['lbl_math_learning_table'|translate]]</h3>
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>[['lbl_math_heading1'|translate]]</th>
              <th>[['lbl_math_heading2'|translate]]</th>
              <th>[['lbl_math_heading3'|translate]]</th>
              <th>[['lbl_math_heading4'|translate]]</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>[['lbl_math_suitability'|translate]]</td>
              <td colspan="4"><span>[['lbl_math_singapore_students'|translate]]</span><span>[['lbl_math_international_students'|translate]]</span><span> [['lbl_math_CIS_students'|translate]]</span><span>[['lbl_math_philippines_students'|translate]]</span></td>
            </tr>
            <tr>
              <td>[['lbl_math_language_versions'|translate]]</td>
              <td colspan="4"><span> [['lbl_math_singapore'|translate]]</span><span> [['lbl_math_english'|translate]]</span><span>[['lbl_math_russian'|translate]]</span><span>[['lbl_math_philippines'|translate]]</span></td>
            </tr>
            <tr>
              <td>[['lbl_math_curriculum'|translate]]</td>
              <td colspan="4"><span> [['lbl_math_singapore_math_aligned_singapore'|translate]]</span><span> [['lbl_math_singapore_math_aligned'|translate]]</span><span>[['lbl_math_singapore_math_aligned2'|translate]]</span><span>[['lbl_math_aligned_philippines'|translate]]</span></td>
            </tr>
            <tr>
              <td>[['lbl_math_payment'|translate]]</td>
              <td colspan="4"><span>[['lbl_math_SGD_USD'|translate]]</span></td>
            </tr>
            <tr>
              <td>[['lbl_math_measurement_units'|translate]]</td>
              <td colspan="4"><span>[['lbl_math_SI_units_singapore'|translate]]</span><span>[['lbl_math_US_system_of_measurement'|translate]]</span><span>[['lbl_math_SI_units'|translate]]</span><span>[['lbl_math_SI_units_philippines'|translate]]</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </section>
</article>
