<div class="body-div login-page display-table"> 
  <div class="display-cell">
      <div class="login-form">
        <!-- <div class="logo" ><img src="resources/assets/images/logo.svg"></div> -->
            <h3 ng-if="pageData == 'distributor'">[['lbl_distributor'|translate]][['lbl_sign_in'|translate]]</h3>
            <h3 ng-if="pageData == 'team'">[['lbl_salesperson_signin'|translate]]</h3>
            <h3 ng-if="pageData == 'users'">[['lbl_sign_in'|translate]]</h3>
            <div ng-if="show_error">
              <h5>[[login_error]]</h5>
            </div>
            <!-- <p class="weChat"><a href="#" class="btn">Log In Using Your WeChat Account <img src="resources/assets/images/wechat-icon.png"></a></p>
            <h3 class="or">OR</h3> -->
            <form class="FlowupLabels" id="igniteLoginForm" name="igniteLoginForm" novalidate="" ng-submit="igniteLoginForm.Dosignin()">
              <!-- <div class="form-group" ng-if="url == '/distributor' || url == '/distributor/team-login'">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="radio" name="check_for" value="distributor"> Distributor
                  </div>
                  <div class="col-sm-6">
                    <input type="radio" name="check_for" value="team"> Team 
                  </div>
                </div>
              </div> -->
              <div class="form-group">
                <div class="fl_wrap [[!email_address?email_address_error?'has-error':'':'has-success']]">
                  <input ng-model="email_address" type="text" id="rf_email"  required class="form-control" placeholder="[['lbl_email_address'|translate]]" autocomplete="off">
                  <i ng-if="email_address" class="fa fa-check-circle out-icon"></i>
                  <i ng-if="email_address_error && !email_address" class="fa fa-exclamation-circle out-icon"></i>
                </div>
              </div>
               <div class="form-group">
                <div class="fl_wrap [[!password?password_error?'has-error':'':'has-success']]">
                  <input ng-model="password" type="password" id="rf_name" required class="form-control" placeholder="[['lbl_password'|translate]]" autocomplete="off">
                  <i ng-if="password" class="fa fa-check-circle out-icon"></i>
                  <i ng-if="password_error && !password" class="fa fa-exclamation-circle out-icon"></i>
                </div>
              </div>
              <div class="form-group f-password">
                <a data-target="#forgetPassword" data-toggle="modal" href="javascript:;">[['lbl_forgot_password'|translate]]?</a>
              </div>
               <div class="form-group">
                <button ng-click="Dodistributorsignin()" class="btn btn-pink btn-block">[['lbl_submit'|translate]]</button>
              </div>
            </form>
            <div class="form-group already-have-account" ng-if="url=='/ignite-login'">
              [['lbl_dont_have_an_account'|translate]]? <a href="ignite-signup">[['lbl_sign_up'|translate]]</a>
            </div>
            <div class="form-group already-have-account" ng-if="url=='/distributor'">
              <a href="distributor/team-login">[['lbl_team_member_login'|translate]]</a>
            </div>
            <div class="form-group already-have-account" ng-if="url=='/distributor/team-login'">
              <a href="distributor">[['lbl_distributor_login'|translate]]</a>
            </div>
      </div>
    </div>
</div>
<div class="modal fade" id="forgetPassword" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close give-margin-button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">[['lbl_forgot_password'|translate]]</h5>
      </div>
      <div class="flowup-labels-form">  
        <form class="FlowupLabels" name="forgetPasswordForm" ng-submit="forgetPasswordForm.Forgetpassword()" novalidate="" id="forgetPasswordForm">
          <div class="modal-body modalBody">
            <div class="form-group">
                <div class="fl_wrap [[!email?forgot_email_address_error?'has-error':'':'has-success']]">
                  <input class="fl_input form-control forgot-password-input" style="height: 60%!important;" ng-model="email" type="email" placeholder="[['lbl_email_address'|translate]]" id="forgot_email_address" required>
                  <i ng-if="email" class="fa fa-check-circle out-icon forgot-password-circle"></i>
                  <i ng-if="forgot_email_address_error && !email" class="fa fa-exclamation-circle out-icon forgot-password-circle"></i>
                </div>
            </div>
            <div class="form-group">
              <div ng-if="show_error">
                <h5>[[login_error]]</h5>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button ng-click="Forgetpassword()" ng-disabled="!forgetPasswordForm.$valid" class="btn btn-pink submit-btn btn-sm forgot-password"> [['lbl_submit'|translate]]</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>