<section class="message-board-section">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Payment Processing
                </h3>
            </div>
            <div class="panel-body">
                <div class="content-div">
                    <ul  class="chat-list">
                        <li>
                            <div class="">
                                <div class="c-div">
                                    <p>
                                        <b>
                                            Processing your payment. Please kindly wait....
                                        </b>
                                    </p>
                                    <p>
                                        <b>
                                            If you are not automatically redirected within 10 seconds then...
                                        </b>
                                    </p>
 
                                    <!-- <form method="post" ng-if="domainInfo == 'net'" name="paypal_form" action="https://www.sandbox.paypal.com/cgi-bin/webscr" class=""> -->
                                        <form method="post" ng-if="domainInfo == 'net'" name="paypal_form" action="https://www.paypal.com/cgi-bin/webscr" class="">
                                        <input type="hidden" name="business" value="finance@sixclouds.cn">
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="notify_url" value="https://www.sixclouds.net/paypal-payment-details-ipn">
                                        <input type="hidden" name="cancel_return" value="https://www.sixclouds.net/my-subscription">
                                        <input type="hidden" name="return" value="https://www.sixclouds.net/my-subscription">
                                        <input type="hidden" name="currency_code" value="SGD">
                                        <input type="hidden" name="page_style" value="paypal">
                                        <input type="hidden" name="no_shipping" value="1">
                                                                    
                                        <input type="hidden" name="invoice" value="[[invoice]]">
                                        <input type="hidden" name="first_name" value="[[paymentInfo.projectpaymentuserdetailinfo.first_name]]">
                                        <input type="hidden" name="last_name" value="[[paymentInfo.projectpaymentuserdetailinfo.last_name]]">
                                        <input type="hidden" name="email" value="[[paymentInfo.projectpaymentuserdetailinfo.email_address]]">
                                        <input type="hidden" name="country" value="India" class="">
                                        <input type="hidden" name="upload" value="1">
                                        <input type="hidden" name="item_name_1" value="Ignite payment">
                                        <input type="hidden" name="item_number_1" value="1">
                                        <input type="hidden" name="quantity_1" value="1">
                                        <input type="hidden" name="amount_1" value="[[paymentInfo.payment_amount]]">
                                        <input type="submit" id="create_and_pay" class="btn btn-medium-pink submit-btn btn-sm" name="" value="Click Here">
                                    </form> 
                                    <form ng-if="domainInfo == 'cn'" name="alipay_form" action="[[domainIgniteURL]]" method="post">
                                        <input type="hidden" name="project_budget" value="[[paymentInfo.payment_amount]]">
                                        <input type="hidden" name="out_trade_no" value="[[paymentInfo.id]]">
                                        <input type="hidden" name="title" value="[[paymentInfo.remarks]]">
                                        <input type="hidden" name="desc" value="[[paymentInfo.remarks]]">
                                        <input type="submit" id="create_and_pay" class="btn btn-medium-pink btn-sm" name="" value="[['lbl_process_escrow'|translate]]">
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>