
<div class="container">
  <div class="white-block">
    <h2 class="page-title text-center">[['lbl_my_account'|translate]]</h2>
    <div class="tabs-div col-2 text-center">
      <div class="row">
      	<div class="col-sm-6 col-sm-offset-3">
        	<div class="row">
        <div class="col-xs-6">
          <button class="btn tablinks btn-medium-pink btn-block" ng-click="ChangeTab('UpdateProfileTab','UpdateProfileButton')" id="UpdateProfileButton">[['lbl_update_profile'|translate]]</button>
        </div>
        <div class="col-xs-6">
          <!-- <button class="btn tablinks btn-medium-pink btn-block" ng-click="ChangeTab('ChangePasswordTab','ChangePasswordButton')" id="ChangePasswordButton" ng-disabled="(distributorData.is_email == 0)">[['lbl_change_password'|translate]]</button> -->
          <button class="btn tablinks btn-medium-pink btn-block" ng-click="ChangeTab('ChangePasswordTab','ChangePasswordButton')" id="ChangePasswordButton">[['lbl_change_password'|translate]]</button>
        </div>
      </div>
        </div>
      </div>
    </div>
    <div id="UpdateProfileTab" ng-show="UpdateProfileTab" class="tabcontent">
      <section class="update-profile-section">
        <form id="updateForm">
          <div class="update-profile-form">
            <div class="form-group">
              <div style="background-image:url(resources/assets/images/user-img.png)" class="upload-profile-img"> 
                <!--Add Uploaded img URL-->
                <div ng-if="distributorData.userType!='ignite_user'" class="uploaded-img upload-profile-img distributor_profile_image" ng-click="imageClick()" id="previewImage" style="background-image:url(public/uploads/distributor_profile/[[distributorData.image]])"></div>
                <div ng-if="distributorData.userType=='ignite_user'" class="uploaded-img upload-profile-img distributor_profile_image" ng-click="imageClick()" id="previewImage" style="background-image:url(public/uploads/user_profile/[[distributorData.image]])"></div>
                <!--Add Uploaded img URL END-->
                
                <div class="edit-icon">
                  <input type="file" id="imagePic" name="image">
                  <i class="fa fa-pencil" aria-hidden="true"></i> </div>
              </div>
            </div>
            <div class="form-group" ng-show="(distributorData.is_email == 1)">
              <label class="fl_label" for="rf_email">[['lbl_email_address'|translate]]</label>
              <!-- <input ng-if="distributorData.userType=='ignite_user'" type="email" id="rf_email" class="form-control" value="[[distributorData.email_address]]" placeholder="[['lbl_email_address'|translate]]" disabled=""> -->

              <!-- <input ng-if="distributorData.userType!='ignite_user'" type="email" id="email_address" name="email_address" class="form-control" ng-model="distributorData.email_address" placeholder="[['lbl_email_address'|translate]]"> -->
              <input type="email" id="email_address" name="email_address" class="form-control" ng-model="distributorData.email_address" placeholder="[['lbl_email_address'|translate]]">
              <input type="hidden" class="form-control" value="[[distributorData.id]]" name="user_id">
            </div>
            <div ng-if="distributorData.userType!='distributor'">
              <div class="form-group">
                <label class="fl_label" for="first_name">[['lbl_first_name'|translate]]</label>
                <input type="text" ng-disabled="distributorData.userType=='ignite_user'" class="form-control" ng-model="distributorData.first_name" placeholder="[['lbl_first_name'|translate]]" id="first_name" name="first_name">
              </div>
              <div class="form-group">
                <label class="fl_label" for="last_name">[['lbl_last_name'|translate]]</label>
                <input type="text" ng-disabled="distributorData.userType=='ignite_user'" class="form-control" ng-model="distributorData.last_name" id="last_name" name="last_name" placeholder="[['lbl_last_name'|translate]]">
              </div>
            </div>
            <div ng-if="distributorData.userType=='distributor'">
              <div class="form-group">
                <label class="fl_label" for="company_name">[['lbl_company_name'|translate]]</label>
                <input type="text" class="form-control" ng-model="distributorData.company_name" id="company_name" name="company_name" placeholder="[['lbl_company_name'|translate]]">
              </div>
            </div>
            <!-- <div ng-if="distributorData.userType=='ignite_user'||distributorData.userType=='distributor'" class="form-group"> -->
            <div class="form-group">
              <label class="fl_label" for="country_dropdown">[['lbl_country'|translate]]</label>
              <div class="custom-select-dropdown">
                <select class="form-control" ng-click="getcountrystates()" ng-disabled="distributorData.userType=='ignite_user'" id="country_dropdown" name="country_id">
                  <option value="">[['lbl_select'|translate]]..</option>
                   <option ng-repeat='optioncountry in countries' id="[[optioncountry.name]]_[[optioncountry.id]]" value="[[optioncountry]]" ng-selected="distributorData.country_id == optioncountry.id">[[optioncountry.name]]</option>
                </select>
              </div>
            </div>
            <!-- <div ng-if="distributorData.userType=='ignite_user'||distributorData.userType=='distributor'" class="form-group"> -->
            <div class="form-group">
              <label class="fl_label" for="state_dropdown">[['lbl_province_state'|translate]]</label>
              <div class="custom-select-dropdown">
                <select class="form-control" ng-click="getstatecities()" id="state_dropdown" name="state_id">
                  <option value="">[['lbl_select'|translate]]..</option>
                   <option ng-repeat='optionstates in states' id="[[optionstates.name]]_[[optionstates.id]]" value="[[optionstates.id]]" ng-selected="distributorData.state_id == optionstates.id">[[optionstates.name]]</option>
                </select>
              </div>
            </div>
            <!-- <div ng-if="distributorData.userType=='ignite_user'||distributorData.userType=='distributor'" class="form-group"> -->
            <div class="form-group">
              <label class="fl_label" for="city_dropdown">[['lbl_city'|translate]]</label>
              <div class="custom-select-dropdown">
                <select class="form-control" id="city_dropdown" name="city_id">
                  <option value="">[['lbl_select'|translate]]..</option>
                   <option ng-repeat='option in cities' id="[[option.name]]_[[option.id]]" value="[[option.id]]" ng-selected="distributorData.city_id == option.id">[[option.name]]</option>
                </select>
              </div>
            </div>
            <div ng-if="distributorData.userType=='ignite_user'" class="form-group">
              <label class="fl_label" for="datepicker">[['lbl_dob'|translate]]</label>
              <div class="">
                <input class="form-control datetimepicker" ng-disabled="distributorData.userType=='ignite_user'" ng-model="distributorData.dob" ng-change=calculateAge(distributorData.dob) type="text" name="dob" id="datepicker" type="text" onkeydown="return false"/>
                <span class="custom_date_picker right-icon"> <i class="fa fa-calendar" aria-hidden="true"></i> </span> 
              </div>
            </div>
            <div class="form-group">
              <label class="fl_label" for="contact">[['lbl_phone_number'|translate]]</label>
              <div class="row">
                <div class="col-sm-3">
                    <!-- <p class="form-control phonecode_custom">+[[phonecode]]</p> -->
                    <input type="text" ng-model="phonecode" numbers-only id="phonecode" name="phonecode" class="phonecode_custom form-control" placeholder="+">
                </div>
                <div class="col-sm-9">
                 <input type="text" numbers-only class="form-control" id="contact" ng-model="distributorData.contact" name="contact" placeholder="[['lbl_phone_number'|translate]]">
                </div>
              </div>
            </div>
            <div ng-if="distributorData.userType=='ignite_user'" class="form-group">
              <label class="fl_label" for="city_dropdown">[['lbl_video_language_preference'|translate]]</label>
              <div class="custom-select-dropdown">
                <select class="form-control" id="zone_language_dropdown" name="zone_language_dropdown">
                  <option value="">[['lbl_select'|translate]]..</option>
                   <option ng-repeat='language in zoneLanguages' id="[[language.language]]_[[language.id]]" value="[[language.language]]" ng-selected="distributorData.video_language_preference == language.language">[[english?language.language:language.language_translation]]</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-pink btn-block submit_call" ng-click="Updatedistributorninfo()">[['lbl_save'|translate]]</button>
            </div>
          </div>
        </form>
      </section>
    </div>
    <div id="ChangePasswordTab" ng-show="ChangePasswordTab" class="tabcontent" ng-show="(distributorData.is_email == 1)">
      <section class="change-password-section">
        <form id="changepasswordform" novalidate="">
          <div class="form-div">
            <div class="form-group">
              <div class="fl_wrap">
                <label class="fl_label" for="old_password">[['lbl_old_password'|translate]]</label>
                <input type="password" class="form-control" id="old_password" ng-model="old_password" name="old_password" placeholder="[['lbl_old_password'|translate]]" >
                <!-- <i class="fa fa-check-circle out-icon" ng-if="old_password && !old_password_error"></i>
                <i class="fa fa-exclamation-circle out-icon" ng-if="!old_password && old_password_error" title="[['lbl_password_required' | translate]]"></i> -->
              </div>
            </div>
            <div class="form-group">
              <div class="fl_wrap">
                <label class="fl_label" for="new_password">[['lbl_new_password'|translate]]</label>
                <input type="password" class="form-control" ng-change="Checkexpression(new_password,'new')" id="new_password" ng-model="new_password" name="new_password" placeholder="[['lbl_new_password'|translate]]" />
                <!-- <i class="fa fa-check-circle out-icon" ng-if="new_password && !new_password_error&&!new_password_expression_error"></i>
                <i class="fa fa-exclamation-circle out-icon" ng-if="!new_password && new_password_error" title="[['lbl_password_required' | translate]]"></i>
                <i class="fa fa-exclamation-circle out-icon" ng-if="new_password_expression_error" title="[['lbl_password_text_distributor' | translate]]"></i> -->
              </div>
            </div>
            <div class="form-group">
              <div class="fl_wrap">
                <label class="fl_label" for="confirm_password">[['lbl_confirm_password'|translate]]</label>
                <input type="password" class="form-control" ng-change="Checkcnfpassword(confirm_password)" id="confirm_password" ng-model="confirm_password" name="confirm_password" placeholder="[['lbl_confirm_password'|translate]]" >
                <!-- <i class="fa fa-check-circle out-icon" ng-if="confirm_password && !confirm_password_error && !confirm_password_error_no_match"></i>
                <i class="fa fa-exclamation-circle out-icon" ng-if="!confirm_password && confirm_password_error" title="[['lbl_password_required' | translate]]"></i>
                <i class="fa fa-exclamation-circle out-icon" ng-if="confirm_password_error_no_match" title="[['lbl_new_confirm_not_match' | translate]]"></i> -->
              </div>
            </div>
            <div class="form-group update-btn text-center">
              <button class="btn btn-medium-pink btn-sm password_update" ng-click="Passwordupdate()">[['lbl_update'|translate]]</button>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>