
<div class="container">
  <div class="white-block">
    <div class="form-group">
      <h2 class="page-title text-center">[['lbl_my_subscription'|translate]]</h2>
      <select class="form-control rightAlign" ng-change="changeCartValue()" ng-model="price_type">
        <option value="" disabled>Select Price Type</option>
        <option ng-value="1">USD $</option>
        <option ng-value="2">SGD S$</option>
      </select>
    </div>
    <div class="tabs-div col-2 text-center">
      <div class="row">
        <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
          <div class="row">
            <div class="[[current_domain=='net'?'col-xs-6':'col-xs-12']]">
              <button class="btn tablinks btn-medium-pink btn-block btn_max_width" ng-click="changeTab('SubscriptionPlanTab')" id="SubscriptionPlanTabButton">[['lbl_subscription_plan'|translate]]</button>
            </div>
            <div class="col-xs-6" ng-if="current_domain=='net'">
              <button class="btn tablinks btn-medium-pink btn-block" ng-click="changeTab('TransactionsTab')" id="TransactionsTabButton">[['lbl_ignite_transactions'|translate]]</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs-div col-2 text-center" ng-if="SubscriptionPlanTab && price_type">
          <div class="row">
            <div class="col-sm-[[subjectsClass]]" ng-repeat="subject in subjects">
              <button class="btn tablinks btn-medium-pink btn-block btn_max_width subjects" ng-click="Getcategories(subject.encoded_string,subject.id,'selectSubject')" id="subjectButton_[[subject.id]]">[[subject.subject_display_name]]</button>
            </div>
          </div>
    </div>
    <div id="SubscriptionPlanTab" ng-show="SubscriptionPlanTab" class="tabcontent">
      <section class="my-membership-plan-section">
        <form id="ignite_payment_data" name="ignite_payment_data" ng-submit="ignite_payment_data.Ignitepayemnt()" novalidate="">
          <div class="inner-div">
            <div class="d-flex">
              <div class="box" ng-repeat="buzz in buzzData">
                <label class="check-box-membership">
                  <div class="membership-box">
                    <div class="title-box">
                      <div class="b1">
                        <div class="b2">
                          <div class="b3">[[transLang=='en'?buzz.category_name:(transLang=='chi'?buzz.category_name_chi:buzz.category_name_ru)]]</div>
                        </div>
                      </div>
                    </div>
                    <div class="b1">
                      <div class="b2">
                        <div class="b3">
                          <div class="inner-content">
                            <h2>[[transLang=='en'?buzz.description:(transLang=='chi'?buzz.description_chi:buzz.description_ru)]]</h2>
                            <!-- <h2>[[buzz.description_chi]]</h2> -->
                          </div>
                          <!-- <h1 ng-if="current_domain=='cn'">¥ [[buzz.category_price]]</h1> -->
                          <h1 ng-if="current_domain=='net' && price_type==1">$ [[buzz.category_price]]</h1>
                          <h1 ng-if="current_domain=='net' && price_type==2">S$ [[buzz.category_price_sgd]]</h1>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <input ng-show="current_domain=='net'" type="checkbox" ng-show="subscriptionData.length > 0" ng-repeat="mySubscription in subscriberBuzzes" ng-disabled="mySubscription==buzz.id" ng-checked="mySubscription==buzz.id" name="video_category_id[]" id="buzz_[[buzz.id]]" ng-click="mySubscription==buzz.id ? '' : price_type==1 ? Changecart(buzz.category_price,buzz.id) : Changecart(buzz.category_price_sgd,buzz.id)" value="[[buzz.id]]">
                  <input ng-show="current_domain=='net'" ng-show="subscriptionData.length == 0" type="checkbox" name="video_category_id[]" id="buzz_[[buzz.id]]" ng-click="price_type==1 ? Changecart(buzz.category_price,buzz.id) : Changecart(buzz.category_price_sgd,buzz.id)" value="[[buzz.id]]"> -->

                  <input ng-show="current_domain=='net'" type="checkbox" ng-show="subscriptionData.length > 0" ng-repeat="mySubscription in subscriberBuzzes track by $index" ng-disabled="mySubscription==buzz.id" ng-checked="mySubscription==buzz.id || buzz.id==wantPurchase.id" name="video_category_id[]" id="buzz_[[buzz.id]]" ng-click="mySubscription==buzz.id ? '' : Changecart(price_type==1 ? buzz.category_price : buzz.category_price_sgd,buzz.id)" value="[[buzz.id]]">
                  
                  <input ng-show="current_domain=='net'" ng-show="subscriptionData.length == 0" type="checkbox" name="video_category_id[]" id="buzz_[[buzz.id]]" ng-click="Changecart(price_type==1 ? buzz.category_price : buzz.category_price_sgd,buzz.id)" value="[[buzz.id]]">


                  <!-- <input type="checkbox" ng-show="subscriptionData.length > 0" ng-repeat="mySubscription in subscriberBuzzes" ng-disabled="mySubscription==buzz.id" ng-checked="mySubscription==buzz.id" name="video_category_id[]" id="buzz_[[$parent.$index]]" ng-click="mySubscription==buzz.id ? '' : Changecart(buzz.category_price,$parent.$index)" value="[[buzz.id]]">
                  <input ng-show="subscriptionData.length == 0" type="checkbox" name="video_category_id[]" id="buzz_[[$index]]" ng-click="Changecart(buzz.category_price,$index)" value="[[buzz.id]]"> -->
                  <span ng-show="current_domain=='net'" class="checkmark" id="buzzNew_[[buzz.id]]"></span>
                </label>
              </div>
            </div>

            <div ng-if="current_domain=='net'" class="bottom-btn text-right"> 
                <h2>[['lbl_promo_code'|translate]]</h2>

                <div class="row">
                  <div class="col-sm-8"></div>
                  <div class="col-sm-4">
                    <div class="row">
                      <div class="col-sm-4"></div>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" name="promo_code" id="promo_code" ng-model="promo_code" >
                      </div>
                      <div class="col-sm-2" ng-if="current_domain=='cn'">
                        <a href="javascript:;" class="btn btn_custom btn-medium-pink btn-sm apply_promo" ng-disabled="!promo_code" ng-click="Checkpromo(promo_code)">[['lbl_apply'|translate]]</a>
                      </div>
                      <div class="col-sm-2" ng-if="current_domain=='net'">
                        <a href="javascript:;" class="btn btn_custom btn-medium-pink btn-sm apply_promo" ng-disabled="!promo_code" ng-click="Checkpromo(promo_code)">[['lbl_apply'|translate]]</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" ng-if="noPromoMatch">
                  <div class="col-sm-6"></div>
                  <div class="col-sm-6">[[message]]</div>
                </div>
                <h2 ng-if="price_type==1">[['lbl_subscription_sub_total'|translate]]: $ [[cartSubTotal]]</h2>
                <h2 ng-if="price_type==2">[['lbl_subscription_sub_total'|translate]]: S$ [[cartSubTotal]]</h2>
                <h2 ng-if="price_type==1">[['lbl_subscription_total'|translate]]: $ [[cartTotal]]</h2>
                <h2 ng-if="price_type==2">[['lbl_subscription_total'|translate]]: S$ [[cartTotal]]</h2>
            <!-- <form method="post" name="paypal_form" action="https://www.sandbox.paypal.com/cgi-bin/webscr" class="">
                <input type="hidden" name="business" value="bhargav-facilitator@creolestudios.com">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="notify_url" value="https://www.sixclouds.net/paypal-payment-details">
                <input type="hidden" name="cancel_return" value="https://www.sixclouds.net/buyer-dashboard">
                <input type="hidden" name="return" value="https://www.sixclouds.net/buyer-dashboard">
                <input type="hidden" name="currency_code" value="SGD">
                <input type="hidden" name="page_style" value="paypal">
                <input type="hidden" name="no_shipping" value="1">
                                            
                <input type="hidden" name="invoice" value="[[invoice]]">
                <input type="hidden" name="first_name" value="John">
                <input type="hidden" name="last_name" value="Doe">
                <input type="hidden" name="email" value="nivedita@creolestudios.com">
                <input type="hidden" name="country" value="India" class="">
                <input type="hidden" name="upload" value="1">
                <input type="hidden" name="item_name_1" value="Escrow payment">
                <input type="hidden" name="item_number_1" value="1">
                <input type="hidden" name="quantity_1" value="1">
                <input type="hidden" name="amount_1" value="[[cartTotal]]">
                <input type="submit" id="create_and_pay" class="btn btn-medium-pink btn-sm" name="" value="[['lbl_process_escrow'|translate]]">
            </form> -->
            <!--paypal-->
                <div ng-if="current_domain=='cn'">
                  <input type="hidden" name="payment_amount" value="[[cartTotal]]">
                  <input type="hidden" name="payment_status" value="2">
                  <input type="hidden" name="paid_for" value="3">
                  <input type="hidden" name="access_platform" value="1">
                  <input type="hidden" name="remarks" value="New subscription">
                  <!-- <input type="hidden" name="paid_by" value="[[projectInfo.project_created_by_id]]"> -->
                  <a href="javascript:;" class="btn btn-medium-pink btn-sm ignite_payment_data" ng-disabled="!cartTotal" ng-click="Ignitepayemnt()">[['lbl_process_escrow'|translate]]</a>
                </div>
                <div ng-if="current_domain=='net'">
                  <!-- <input type="hidden" name="payment_amount" value="[[cartTotal]]">
                  <input type="hidden" name="payment_status" value="2">
                  <input type="hidden" name="paid_for" value="3">
                  <input type="hidden" name="access_platform" value="1">
                  <input type="hidden" name="remarks" value="New subscription"> -->
                  <a href="javascript:;" class="btn btn-medium-pink btn-sm stripe_payment_btn" ng-disabled="!cartTotal" ng-click="Stripepayemnt()">[['lbl_process_escrow'|translate]]</a>
                </div>
          </div>
        </form>
      </section>
    </div>
    <div id="TransactionsTab" ng-show="TransactionsTab&&current_domain=='net'" class="tabcontent">
      <section class="change-password-section">
        <div class="table-div">
          <table cellpadding="0" cellspacing="0" width="100%" class="table">
            <thead>
              <tr>
                <th>[['lbl_ignite_invoice'|translate]]</th>
                <th>[['lbl_subscription_plan'|translate]]</th>
                <th ng-if="current_domain=='cn'">[['lbl_amount'|translate]] (¥)</th>
                <th ng-if="current_domain=='net'">[['lbl_amount'|translate]] (S$)</th>
                <th>[['lbl_date'|translate]]</th>
                <th>[['lbl_status'|translate]]</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="trancsactions in subscriptionData">
                <td>[[trancsactions.system_transaction_number]]</td>
                <td>[[trancsactions.video_category_name]]</td>
                <td>[[trancsactions.payment_amount]]</td>
                <td>[[trancsactions.created_at]]</td>
                <td><span class="btn [[trancsactions.payment_status==1?'success': 'failed']]">[[trancsactions.paymentstatus]]</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
