<div class="container">
  <section class="my-team-section">
    <div class="white-block">
      <div class="head-div">
        <div class="row">
          <div class="col-sm-2">
            <h2 class="page-title">[['lbl_team_size'|translate]]: [[totalTeamMembers]]</h2>
          </div>
          <div class="col-sm-4">
            <input class="form-control left" type="text" ng-model="searchby" ng-change="search(searchby)" name="search" placeholder="[['lbl_subscribers_search'|translate]]">
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-8">
                <div class="custom-select-dropdown">
                  <select class="form-control" ng-model="export_type">
                    <option value="">[['lbl_subscribers_select_export'|translate]]</option>
                    <option value="1">Excel</option>
                    <option value="2">Csv</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3 distributor_all_referals_button">
                <button type="button" ng-class="{disabled: totalTeamMembers==0}" class="btn btn-medium-pink btn-sm" ng-click="Exportdata(export_type)">[['lbl_subscribers_export'|translate]]</button>
              </div>
            </div>
          </div>
          <div class="col-sm-2 distributor_all_referals_button"> 
            <a href="" class="btn btn-medium-pink btn-sm" data-toggle="modal" ng-click="Openmodal()" data-backdrop="static" data-keyboard="false">[['lbl_new_salesperson'|translate]]</a> 
          </div>
        </div>
      </div>
      <div class="block-div" ng-repeat="team in allTeamMembers">
        <div class="row">
          <div class="col-md-8">
            <h4><a class="decoration_none_custom" href="team-detail/[[team.slug]]">[[team.first_name]] [[team.last_name]]</a></h4>
            <ul>
              <li>[['lbl_email_address'|translate]] : <strong>[[team.email_address]]</strong></li>
              <li>[['lbl_sales_code'|translate]]: <strong>[[team.referal_code]]</strong></li>
              <li>[['lbl_contact_number'|translate]]: <strong>+[[team.phonecode]] [[team.contact]]</strong></li>
              <li>[['lbl_total_subscribers'|translate]] : <strong>[[team.distributor_referrals_count_count]]</strong></li>
              <li class="break-word">[['lbl_unique_url'|translate]] : <strong>[[team.unique_link]]</strong></li>
              <!-- <li>QR Code: <strong><a href="javascript:;" data-toggle="modal" data-target="#viewQRCode">View</a></strong></li> -->
              <li>[['lbl_qr_code'|translate]]: <strong><a href="javascript:;" ng-click="viewQRCodeModal(team.qrcode_file_name)">[['lbl_view'|translate]]</a></strong></li>
            </ul>
          </div>
          <div class="col-md-4 right-btn"> 
            <a href="#" class="btn btn-bright-orange btn-sm" ng-if="team.status == 1" ng-click="Deleteteammember(team.id)">[['lbl_suspend_user'|translate]]</a> 
            <!-- <a href="#" class="btn btn-bright-orange btn-sm" ng-if="team.status == 3">[['lbl_suspended_by_admin'|translate]]</a> -->
            <a href="#" class="btn btn-bright-orange btn-sm" ng-if="team.status == 3" ng-click="activeMember(team.id)">[['lbl_unsuspend_member'|translate]]</a>
            <a href="#" class="btn btn-bright-orange btn-sm" ng-if="team.status == 4">[['lbl_phone_not_verified'|translate]]</a>
            <a href="#" class="btn btn-bright-orange btn-sm" ng-if="team.status == 5">[['lbl_details_not_updated'|translate]]</a> 
            <a href="#" ng-if="team.status == 1" ng-click="Edituserinfo(team.id,team.first_name,team.last_name,team.email_address,team.contact,team.commission_percentage,team.renewal_commission_percentage)" class="btn btn-medium-pink btn-sm">[['lbl_edit_info'|translate]]</a> 
          </div>
        </div>
      </div>
      <default-pagination currentpage="currentTeamMemberPaging" like="Getallteamdata({searchby},page)" paginate="paginate" range="rangeTeamMemberpage"></default-pagination>
    </div>
  </section>
</div>



<!-- Modal -->
<div class="modal fade my-team-pupup" id="newTeamMember" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="Closemodal()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" ng-if="!editMember">[['lbl_add_salesperson'|translate]]</h4>
        <h4 class="modal-title" id="myModalLabel" ng-if="editMember">[['lbl_edit_salesperson'|translate]]</h4>
      </div>
      <form class="FlowupLabels" id="add_team_member" name="AddTeamForm"  ng-submit="AddTeamForm.AddTeamMember()" novalidate>
        <input ng-if="editMember" type="hidden" name="memberId" value="[[editMemberId]]">
        <div class="modal-body">
         	<div class="form-div">
              <div class="form-group">
                <div class="fl_wrap [[!team_first_name?team_first_name_error?'has-error':'':'has-success']]">
                  <input id="team_first_name" type="text" name="first_name" ng-model="team_first_name" required="" class="form-control" placeholder="[['lbl_first_name' | translate]]" />
                  <i ng-if="team_first_name" class="fa fa-check-circle out-icon"></i>
                  <i ng-if="team_first_name_error && !team_first_name" class="fa fa-exclamation-circle out-icon" title="[['lbl_first_name_required' | translate]]"></i>
                </div>
              </div>
              <div class="form-group">
                <div class="fl_wrap [[!team_last_name?team_last_name_error?'has-error':'':'has-success']]">
                  <input id="team_last_name" type="text" name="last_name" ng-model="team_last_name" required="" class="form-control" placeholder="[['lbl_last_name' | translate]]" />
                  <i ng-if="team_last_name" class="fa fa-check-circle out-icon"></i>
                  <i ng-if="team_last_name_error && !team_last_name" class="fa fa-exclamation-circle out-icon" title="[['lbl_last_name_required' | translate]]"></i>
                </div>
              </div>
              <div class="form-group">
                <div class="fl_wrap [[!team_email?team_email_error?'has-error':'':'has-success']]">
                  <input type="email" id="team_email" name="email_address" ng-model="team_email" required="" class="form-control" placeholder="[['lbl_email_address' | translate]]" />
                  <i ng-if="team_email" class="fa fa-check-circle out-icon"></i>
                  <i ng-if="team_email_error && !team_email" class="fa fa-exclamation-circle out-icon" title="[['lbl_email_address_required' | translate]]"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="fl_wrap [[commission_percentage_check_class]]">
                      <input type="text" id="commission_percentage" name="commission_percentage" ng-model="commission_percentage" ng-change="countDecimals(commission_percentage,1)" required="" class="form-control" placeholder="[['lbl_commission_percentage'|translate]]" />
                      <i ng-if="commission_percentage_check" class="[[commission_percentage_class]]" title="[[commission_percentage_title]]"></i>
                      <i ng-if="!commission_percentage_check" class="[[commission_percentage_class]]" title="[[commission_percentage_title]]"></i>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="fl_wrap [[renewal_commission_percentage_check_class]]">
                      <input type="text" id="renewal_commission_percentage" name="renewal_commission_percentage" ng-model="renewal_commission_percentage" ng-change="countDecimals(renewal_commission_percentage,2)" required="" class="form-control" placeholder="[['lbl_renewal_percentage'|translate]]" />
                      <i ng-if="renewal_commission_percentage_check" class="[[renewal_commission_percentage_class]]" title="[[renewal_commission_percentage_title]]"></i>
                      <i ng-if="!renewal_commission_percentage_check" class="[[renewal_commission_percentage_class]]" title="[[renewal_commission_percentage_title]]"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-if="showEffectiveDatePicker">
                <div class="fl_wrap">
                  <input type="text" ng-model="effective_date" name="effective_date" id="effective_date" class="form-control" placeholder="[['lbl_commission_effective_date'|translate]]" />
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
        	<button type="button" class="btn btn-medium-pink btn-sm submit_call_team" ng-if="!editMember" ng-click="AddTeamMember()">[['lbl_add'|translate]]</button>
          <button type="button" class="btn btn-medium-pink btn-sm submit_call_team" ng-if="editMember" ng-click="AddTeamMember()">[['lbl_submit'|translate]]</button> 
          <button type="button" class="btn btn-default btn-sm" ng-click="Closemodal()">[['lbl_close' | translate]]</button> 
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade my-team-pupup" id="viewQRCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">[['lbl_qr_code'|translate]]</h4>
      </div>
      <div class="modal-body text-center"><br />
        <br />
               	<img alt="" ng-src="public/uploads/distributor_qr_codes/team/[[qrfilename]]" /><br/>
        <br />
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">[['lbl_close' | translate]]</button> 
      </div>
    </div>
  </div>
</div>