<div id="overlay">
  <div id="text"><i class="fa fa-spinner fa-spin"></i> Please wait..  </div>
</div>
<section class="quiz-scroll-to-fix " >
  <div class="container">
       <div class="white-block m20"><!-- top_head_fixed_height -->
        <div id="Buzz1Tab" class="">
          <div class="quiz-head-div">
            <h2 class="page-title text-center">Quiz #[[index]]: [[quiz.title]]</h2>
            <div class="button-lr-div">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td class="l" id="end_quiz_td" width="80"><a href="#" ng-click="Endquiz()" class="button "><img class="custom_quiz_top" src="resources/assets/images/ignite/end-quiz@2x.png" width="60"/></a><span class="text-center custom_top_head_margin mid">End Quiz</span></td>
                  <td class="mid">Question [[currentQuestionAttempting]] of [[quiz.quizquestions.length]]</td>
                  <td class="r " width="80"><span class="number custom_quiz_top">[[quizscore]]</span><span class="mid">Quiz Score</span></td>
                </tr>
              </table>
            </div>
            <ul class="list-number list_number_custom">
              <li ng-repeat="number in quiz.quizquestions track by $index">
                <!-- <div class="no-div [[$index+1==currentQuestionAttempting?'blue':'']]" id="numberDiv_[[number.id]]"> [[$index+1]] </div> -->
                <div class="no-div" id="numberDiv_[[number.id]]"> [[$index+1]] </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="quiz-bottom-section">
  <div class="container">
    <div ng-repeat="question in quiz.quizquestions">
      <div class="white-block question-one m20" id="question_[[question.id]]" ng-if="question.question_type==1">
        <h2 class="page-title text-center">[[$index+1]]. [[question.question_title]]</h2>
        <div ng-if="question.question_audio" class="text-center"><audio preload="auto" controls><source ng-src="public/uploads/Quiz_options/[[question.question_audio]]"></audio> </div>
        <div ng-if="question.question_image" class="text-center"><div class="option_images question_image_custom quiz_image_align" style="background-image:url(public/uploads/Quiz_options/[[question.question_image]])"></div></div>
        <h5 class="text-center" ng-if="question.number_of_correct_answers>1">[[question.number_of_correct_answers]] correct answers </h5>
        <div class="inner-div">
          <div class="row">
            <div class="col-xs-6" ng-repeat="option in question.quizquestionsoptions">
              <label class="q-custon-checkbox" id="label_[[option.id]]">

                <input type="checkbox" id="answer_[[option.id]]" value="[[option.id]]" ng-click="Checkandchangequestion(question,option)">
                <span class="checkmark check_custom" id="spanId_[[option.id]]"><span class="text">[[option.answer]]</span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="white-block question-two sm-check-btn m20" id="question_[[question.id]]" ng-if="question.question_type==2">
        <h2 class="page-title text-center">[[$index+1]]. [[question.question_title]]</h2>
        <div ng-if="question.question_audio" class="text-center"><audio preload="auto" controls><source ng-src="public/uploads/Quiz_options/[[question.question_audio]]"></audio></div>
        <div ng-if="question.question_image" class="text-center"><div class="option_images question_image_custom quiz_image_align" style="background-image:url(public/uploads/Quiz_options/[[question.question_image]])"></div> </div>
        <h5 class="text-center" ng-if="question.number_of_correct_answers>1">[[question.number_of_correct_answers]] correct answers </h5>
        <div class="inner-div">
          <div class="row">
            <div class="col-xs-4 col-sm-6" ng-repeat="option in question.quizquestionsoptions">
              <div class="option_images" style="background-image:url(public/uploads/Quiz_options/[[option.answer]])">
              </div>
                <label class="q-custon-checkbox" id="label_[[option.id]]">
                  <input type="checkbox" id="answer_[[option.id]]" value="[[option.id]]" ng-click="Checkandchangequestion(question,option)">
                  <span class="checkmark check_custom quiz-option-img" id="spanId_[[option.id]]"></span> 
                </label>
            </div>
          </div>
        </div>
      </div>
      <div class="white-block question-three sm-check-play-btn m20" id="question_[[question.id]]" ng-if="question.question_type==3">
        <h2 class="page-title text-center">[[$index+1]]. [[question.question_title]]</h2>
        <div ng-if="question.question_audio" class="text-center"><audio preload="auto" controls><source ng-src="public/uploads/Quiz_options/[[question.question_audio]]"></audio></div>
        <div ng-if="question.question_image" class="text-center"><div class="option_images question_image_custom quiz_image_align" style="background-image:url(public/uploads/Quiz_options/[[question.question_image]])"></div> </div>
        <h5 class="text-center" ng-if="question.number_of_correct_answers>1">[[question.number_of_correct_answers]] correct answers </h5>
        <div class="inner-div">
          <table cellpadding="0" cellspacing="0" width="100%" ng-repeat="option in question.quizquestionsoptions">
            <tr>
              <td><audio preload="auto" controls>
                  <source ng-src="public/uploads/Quiz_options/[[option.answer]]">
                </audio></td>
              <td><label class="q-custon-checkbox" id="label_[[option.id]]">
                  <input type="checkbox" id="answer_[[option.id]]" value="[[option.id]]" ng-click="Checkandchangequestion(question,option)">
                  <span class="checkmark check_custom" id="spanId_[[option.id]]"></span> </label></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
</section>
