<div class="container">
	<section class="quiz-result-section">
    	<div class="white-block m20">
            <div id="Buzz1Tab" class="">
            	<div class="quiz-head-div">
               		<h2 class="page-title text-center" ng-if="transLang=='en'">Quiz #[[index]]: [[quizDetails.title]]</h2>
                    <h2 class="page-title text-center" ng-if="transLang=='chi'"><b>测验</b> #[[index]]: [[quizDetails.title_chi]]</h2>
                    <h2 class="page-title text-center" ng-if="transLang=='ru'"><b>викторина</b> #[[index]]: [[quizDetails.title_ru]]</h2>
                	<div class="button-lr-div">
                    	<table cellpadding="0" cellspacing="0" width="100%">
                        	<tr>
                            	
                                <td class="mid" ng-if="transLang=='en'">Congratulations!</td>
                                <td class="mid" ng-if="transLang=='chi'">测验完毕！</td>
                                <td class="mid" ng-if="transLang=='ru'">Поздравляю!</td>
                               
                            </tr>
                        </table>
                    </div>
                    <ul class="list-number">
                    	<li ng-repeat="number in quizResult">
                        	<div ng-if="number" class="no-div [[number.is_correct==1?'green':'red']]">[[$index+1]]</div>
                        </li>
                    </ul>
              </div>
              	<div class="score-bord-div">
                	<div class="row">
                    	<div class="col-sm-3 text-center">
                        	<a href="ignite-categories" class="btn btn-medium-pink btn-sm" ng-if="transLang=='en'">Home</a>
                            <a href="ignite-categories" class="btn btn-medium-pink btn-sm" ng-if="transLang=='chi'">桌面</a>
                            <a href="ignite-categories" class="btn btn-medium-pink btn-sm" ng-if="transLang=='ru'">Домой</a>
                        </div>
                        <div class="col-sm-6">
                        	<div class="membership-box">
                        	<div class="title-box">
                            	<div class="b1">
                                    <div class="b2">
                                        <div class="b3" ng-if="transLang=='en'">YOUR SCORE!</div>
                                        <div class="b3" ng-if="transLang=='chi'">得分</div>
                                        <div class="b3" ng-if="transLang=='ru'">Счет</div>
                                    </div>
                                </div>
                            </div>
                        	<div class="b1">
                            	<div class="b2">
                                    <div class="b3"> 
                                        <div class="inner-div">
                                        	<h1>[[quizScore]]/[[quizResult.length]]</h1>
                                        </div>
                               		 </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <!-- <div class="col-sm-3 text-center" ng-if="nextSlug"> -->
                        <div class="col-sm-3 text-center" ng-if="showNext=='hide' && quizDetails.id != allData[allData.length-1].id">
                            <a ng-click="cantView(nextSlug)" href="" class="btn btn-medium-pink btn-sm" ng-if="transLang=='en'">Next</a>
                            <a ng-click="cantView(nextSlug)" href="" class="btn btn-medium-pink btn-sm" ng-if="transLang=='chi'">下一页</a>
                            <a ng-click="cantView(nextSlug)" href="" class="btn btn-medium-pink btn-sm" ng-if="transLang=='ru'">Следующий</a>
                        </div>
                        <div class="col-sm-3 text-center" ng-if="showNext=='show' && quizDetails.id != allData[allData.length-1].id">
                            <a href="#" ng-click="redirect(nextSlug,nextContentType,+index+1)" class="btn btn-medium-pink btn-sm" ng-if="transLang=='en'">Next</a>
                            <a href="#" ng-click="redirect(nextSlug,nextContentType,+index+1)" class="btn btn-medium-pink btn-sm" ng-if="transLang=='chi'">下一页</a>
                            <a href="#" ng-click="redirect(nextSlug,nextContentType,+index+1)" class="btn btn-medium-pink btn-sm" ng-if="transLang=='ru'">Следующий</a>
                        </div>
                    </div>
                </div>
                <div ng-if="score_per_attempts.length>0" class="previous-attempts-div">
                	<span class="text" ng-if="transLang=='en'">Previous Attempts:</span> 
                    <span class="text" ng-if="transLang=='chi'">以前的尝试:</span> 
                    <span class="text" ng-if="transLang=='ru'">Предыдущие попытки:</span> 
                    <ul>
                        <li ng-repeat="score in score_per_attempts">
                        	<a href="#">[[score.score_per_attempt]]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>	
    </section>        
</div>