<div>
    <button type="button" class="btn tablinks btn-medium-pink" ng-click="goBack()" style="position: relative; margin-left: 1%; margin-bottom: 1%;"><i class="fa fa-arrow-left"></i></button>
</div>
<div class="modal fade designer-my-uploads-popup" id="showVideoModal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content no-radius">      
      <div class="modal-header">
        <button type="button" ng-click="Closemodal()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
          <!-- <div id="player-con"></div> -->
          <video id="videoTag" controls width="540" height="310" ></video>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <section class="video-info-section">
    <div class="white-block">
      <div id="Buzz1Tab" class="">
        <div class="row">
          <div class="col-md-5 col-lg-4">
            <div class="thumb-block" ng-if="content_type==1">
              <div class="img-div thumbnail_custom" style="background-image:url([[current_domain=='net'?'https://cdn.sixclouds.net/assets':'public/uploads']]/video_thumbnails/thumbnail_web/[[detailData.thumbnail_web]])">
                <div ng-if="content_type==1" class="time-div">[[detailData.video_url.video_duration]]</div>
                <div ng-if="detailData.video_url.views_detail.view_status==1" class="mid-content watch-again">
                    <a href="#" class="icon-a" ng-click="Showvideo(detailData.thumbnail_web,detailData.video_url)"></a>
                    <div class="bottom-text">[[ 'lbl_watch_again' | translate ]]</div>
                </div>
                <div ng-if="detailData.video_url.views_detail.view_status==2" class="mid-content resume-watching">
                    <a href="#" class="icon-a" ng-click="Showvideo(detailData.thumbnail_web,detailData.video_url)"></a>
                    <div class="bottom-text">[[ 'lbl_resume' | translate ]]</div>
                </div>
                <div ng-if="detailData.video_url.views_detail.view_status==0||!detailData.video_url.views_detail">
                    <a href="#" class="icon-a" ng-click="Showvideo(detailData.thumbnail_web,detailData.video_url)"></a>
                </div>
                <!-- <a href="#" class="icon-a"></a>  -->
              </div>
              <div class="bottom-content" ng-if="content_type==3">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td align="center"><a href="public/uploads/worksheet_files/[[detailData.file_name]]" target="_blank" download="[[detailData.worksheetlanguage.title]].pdf" class="btn btn-medium-pink btn-sm">[['lbl_download'|translate]]</a></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="thumb-block" ng-if="content_type==2">
              <div class="img-div thumbnail_custom" style="background-image:url(resources/assets/images/ignite/quiz.png)"> 
                  <div class="overlap-btn">
                      <a ng-if="resumeQuiz" href="#" ng-click="takeQuiz(detailData.slug,index)" ng-click="takeQuiz(detailData)" class="btn btn-medium-pink btn-sm">[['lbl_resume_quiz'|translate]]</a>
                      <a ng-if="!resumeQuiz" href="#" ng-click="takeQuiz(detailData.slug,index)" ng-click="takeQuiz(detailData)" class="btn btn-medium-pink btn-sm">[['lbl_take_quiz'|translate]]</a>
                  </div>
              </div>
            </div>
            <div class="thumb-block" ng-if="content_type==3">
              <div class="img-div thumbnail_custom" style="background-image:url(resources/assets/images/ignite/worksheet.png)" ng-if="detailData.thumbnail_web == null ">
              </div>
              <div class="img-div thumbnail_custom" style="background-image:url(https://cdn.sixclouds.net/assets/worksheet_thumbnails/thumbnail_web/[[detailData.thumbnail_web]])" ng-if="detailData.thumbnail_web != null ">
              </div>
              <div class="bottom-content" ng-if="content_type==3">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <!-- href="public/uploads/worksheet_files/[[detailData.file_name]]" target="_blank" download="[[detailData.category.category_name]] - [[detailData.worksheetlanguage.title]].pdf" -->
                    <td align="center"><a class="btn btn-medium-pink btn-sm" ng-click="downloadWorksheet(detailData)" ng-if="detailData.download_button_text == null ">[['lbl_download_worksheet'|translate]]</a></td>
                    <td align="center"><a class="btn btn-medium-pink btn-sm" ng-click="downloadWorksheet(detailData)" ng-if="detailData.download_button_text != null ">[[detailData.download_button_text]]</a></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-8">
            <div class="right-content">
              <!-- <a href="#" class="flag-right"><img src="resources/assets/images/ignite/ic-flag.png" width="37" height="40" ng-click="flag()" /></a> -->
              <!-- <h3 ng-if="content_type!=1">#[[detailData.order]] [[detailData.title]]</h3> -->
              <h3 ng-if="content_type==1&&changeLangs=='en'">#[[ index ]] [[ detailData.title ]]</h3>
              <h3 ng-if="content_type==1&&changeLangs=='chi'">#[[ index ]] [[ detailData.title_chi ]]</h3>
              <h3 ng-if="content_type==1&&changeLangs=='ru'">#[[ index ]] [[ detailData.title_ru ]]</h3>

              <h3 ng-if="content_type==2&&changeLangs=='en'">#[[ index ]] [[ detailData.title ]]</h3>
              <h3 ng-if="content_type==2&&changeLangs=='chi'">#[[ index ]] [[ detailData.title_chi ]]</h3>
              <h3 ng-if="content_type==2&&changeLangs=='ru'">#[[ index ]] [[ detailData.title_ru ]]</h3>

              <h3 ng-if="content_type==3&&changeLangs=='en'">#[[ index ]] [[ detailData.title ]]</h3>
              <h3 ng-if="content_type==3&&changeLangs=='chi'">#[[ index ]] [[ detailData.title_chi ]]</h3>
              <h3 ng-if="content_type==3&&changeLangs=='ru'">#[[ index ]] [[ detailData.title_ru ]]</h3>

            <!-- <p ng-if="content_type!=1">[[detailData.description]]</p> -->
            <p ng-if="content_type==1&&changeLangs=='en'">[[ detailData.description ]]</p>
            <p ng-if="content_type==1&&changeLangs=='chi'">[[ detailData.description_chi ]]</p>
            <p ng-if="content_type==1&&changeLangs=='ru'">[[ detailData.description_ru ]]</p>

            <p ng-if="content_type==2&&changeLangs=='en'">[[ detailData.description ]]</p>
            <p ng-if="content_type==2&&changeLangs=='chi'">[[ detailData.description_chi ]]</p>
            <p ng-if="content_type==2&&changeLangs=='ru'">[[ detailData.description_ru ]]</p>

            <p ng-if="content_type==3&&changeLangs=='en'">[[ detailData.description ]]</p>
            <p ng-if="content_type==3&&changeLangs=='chi'">[[ detailData.description_chi ]]</p>
            <p ng-if="content_type==3&&changeLangs=='ru'">[[ detailData.description_ru ]]</p>

            <!-- <p ng-if="content_type==1">[[ english==true ? detailData.description : detailData.description_chi ]]</p>
            <p ng-if="content_type==2">[[ english==true ? detailData.description : detailData.description_chi ]]</p>
            <p ng-if="content_type==3">[[ english==true ? detailData.description : detailData.description_chi ]]</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-content">
        <table cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td ng-if="previousSlug && previousContentType && !noPrevious" width="44"><a href="#" ng-click="redirect(previousSlug,previousContentType,index-1)"><img src="resources/assets/images/ignite/parents-prev.png" width="60" height="61" /></a></td>

            <td ng-if="noPrevious && category_purchase_status == 1" width="44"><a href="#" ng-click="redirect(previousSlug,previousContentType,index-1)" class="custom_cursor_pointer"><img src="resources/assets/images/ignite/parents-prev.png" width="60" height="61" /></a></td>

            <td ng-if="noPrevious && category_purchase_status == 0" width="44"><a class="custom_cursor_pointer" ng-click="Cantview(noPreviousKey,'previous')"><img src="resources/assets/images/ignite/parents-prev.png" width="60" height="61" />[[isFirst]]</a></td>
            <td align="center"></td>
            <td ng-if="nextSlug && nextContentType && !noNext && category_purchase_status == 1" width="44"><a href="#" ng-click="redirect(nextSlug,nextContentType,+index+1)"><img src="resources/assets/images/ignite/parents-next.png" width="60" height="61" /></a></td>
            <td ng-if="noNext && category_purchase_status == 1" width="44"><a href="#" ng-click="redirect(nextSlug,nextContentType,+index+1)" class="custom_cursor_pointer"><img src="resources/assets/images/ignite/parents-next.png" width="60" height="61" /></a></td>

            <td ng-if="category_purchase_status == 0" width="44"><a class="custom_cursor_pointer" ng-click="Cantview(noNextKey,'next')"><img src="resources/assets/images/ignite/parents-next.png" width="60" height="61" /></a></td>
            <!-- <td ng-if="noNext" width="44"><a class="custom_cursor_pointer" ng-click="Cantview(noNextKey,'next')"><img src="resources/assets/images/ignite/parents-next.png" width="60" height="61" /></a></td> -->
          </tr>
        </table>
      </div>
    </div>
  </section>
</div>