<div class="section container">
   <span class="title">COURSE VIDEOS</span>
   <span class="pull-right"><a class="btn" data-target="#upload-video" data-toggle="modal">Upload New Video</a></span>
   <div class="content-list">
      <ul class="list-unstyled">
         <li>
            <div class="box-list" data-toggle="collapse" data-target="#content-details">
               <a href="" class="box section">
                  SECTION #1
               </a>
               <a href="" class="box name sub-header">
                  Introduction to  English Grammar
               </a>
               <a href="" class="box video-time  ">
                  <div class="box-list">
                     <span class="box left">
                        (7 VIDEOS)
                     </span>
                     <span class="box right icon-dd">
                        <i class="sci-arrow-down down"></i>
                        <i class="sci-arrow-up up"></i>
                     </span>
                  </div>
               </a>
            </div>
            <div id="content-details" class="collapse">
               <div class="divider"></div>
               <div class="my-cases">
                  <ul class="list-unstyled">
                     <li class="divider">
                        <div class="media">
                           <div class="media-left">
                              <img src="assets/images/eng-teacher.jpg">
                           </div>
                           <div class="media-body case-dec">
                              <div class="left-side">
                                 <div class="sub-header   margin-zero">Introduction to Parts of Speech</div>
                                 <div class="list">
                                    <ul class="list-unstyled list-inline margin-zero">
                                       <li>
                                          <i class="sci-time"></i> 05:34
                                       </li>
                                       <li>
                                          <i class="sci-Play-Video-o"></i> 7,567 Views
                                       </li>
                                       <li>
                                          <i class="sci-calendar"></i> 12 March, 2017
                                       </li>
                                    </ul>
                                 </div>
                                 <p>English grammar is a very strcutred program and learning it takes some time. But it can be studied easily and grasped comfortably with limited knowledge about the language as well. It has that simplicity ...</p>
                              </div>
                              <span class="icon-dd">
                                 <a class="btn text-white dwnld-file back-lg"> Free</a>
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="divider">
                        <div class="media">
                           <div class="media-left">
                              <img src="assets/images/English-teacher.jpg">
                           </div>
                           <div class="media-body case-dec">
                              <div class="left-side">
                                 <div class="sub-header   margin-zero">All about Nouns & Pronouns</div>
                                 <div class="list">
                                    <ul class="list-unstyled list-inline margin-zero">
                                       <li>
                                          <i class="sci-time"></i> 05:34
                                       </li>
                                       <li>
                                          <i class="sci-Play-Video-o"></i> 7,567 Views
                                       </li>
                                       <li>
                                          <i class="sci-calendar"></i> 12 March, 2017
                                       </li>
                                    </ul>
                                 </div>
                                 <p>English grammar is a very strcutred program and learning it takes some time. But it can be studied easily and grasped comfortably with limited knowledge about the language as well. It has that simplicity ...</p>
                              </div>
                              <span class="icon-dd">
                                 <a class="btn text-white dwnld-file back-lr"> Paid</a>
                              </span>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="media">
                           <div class="media-left">
                              <img src="assets/images/image22431.jpg">
                           </div>
                           <div class="media-body case-dec">
                              <div class="left-side">
                                 <div class="sub-header   margin-zero">Adjectives - Noun's best friends</div>
                                 <div class="list">
                                    <ul class="list-unstyled list-inline margin-zero">
                                       <li>
                                          <i class="sci-time"></i> 05:34
                                       </li>
                                       <li>
                                          <i class="sci-Play-Video-o"></i> 7,567 Views
                                       </li>
                                       <li>
                                          <i class="sci-calendar"></i> 12 March, 2017
                                       </li>
                                    </ul>
                                 </div>
                                 <p>English grammar is a very strcutred program and learning it takes some time. But it can be studied easily and grasped comfortably with limited knowledge about the language as well. It has that simplicity ...</p>
                              </div>
                              <span class="icon-dd">
                                 <a class="btn text-white dwnld-file back-lr"> Paid</a>
                              </span>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </li>
         <li>
            <div class="box-list" data-toggle="collapse" data-target="#content-details1">
               <a href="" class="box section">
                  SECTION #2
               </a>
               <a href="" class="box name sub-header">
                  Learning Figures Of Speech
               </a>
               <a href="" class="box video-time  ">
                  <div class="box-list">
                     <span class="box left">
                        (7 VIDEOS)
                     </span>
                     <span class="box right icon-dd">
                        <i class="sci-arrow-down down"></i>
                        <i class="sci-arrow-up up"></i>
                     </span>
                  </div>
               </a>
            </div>
            <div id="content-details1" class="collapse">
               <div class="divider"></div>
               <div class="my-cases">
                  <ul class="list-unstyled">
                     <li class="divider">
                        <div class="media">
                           <div class="media-left">
                              <img src="assets/images/eng-teacher.jpg">
                           </div>
                           <div class="media-body case-dec">
                              <div class="left-side">
                                 <div class="sub-header   margin-zero">Introduction to Parts of Speech</div>
                                 <div class="list">
                                    <ul class="list-unstyled list-inline margin-zero">
                                       <li>
                                          <i class="sci-time"></i> 05:34
                                       </li>
                                       <li>
                                          <i class="sci-Play-Video-o"></i> 7,567 Views
                                       </li>
                                       <li>
                                          <i class="sci-calendar"></i> 12 March, 2017
                                       </li>
                                    </ul>
                                 </div>
                                 <p>English grammar is a very strcutred program and learning it takes some time. But it can be studied easily and grasped comfortably with limited knowledge about the language as well. It has that simplicity ...</p>
                              </div>
                              <span class="icon-dd">
                                 <a class="btn text-white dwnld-file back-lg"> Free</a>
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="divider">
                        <div class="media">
                           <div class="media-left">
                              <img src="assets/images/English-teacher.jpg">
                           </div>
                           <div class="media-body case-dec">
                              <div class="left-side">
                                 <div class="sub-header   margin-zero">All about Nouns & Pronouns</div>
                                 <div class="list">
                                    <ul class="list-unstyled list-inline margin-zero">
                                       <li>
                                          <i class="sci-time"></i> 05:34
                                       </li>
                                       <li>
                                          <i class="sci-Play-Video-o"></i> 7,567 Views
                                       </li>
                                       <li>
                                          <i class="sci-calendar"></i> 12 March, 2017
                                       </li>
                                    </ul>
                                 </div>
                                 <p>English grammar is a very strcutred program and learning it takes some time. But it can be studied easily and grasped comfortably with limited knowledge about the language as well. It has that simplicity ...</p>
                              </div>
                              <span class="icon-dd">
                                 <a class="btn text-white dwnld-file back-lr"> Paid</a>
                              </span>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="media">
                           <div class="media-left">
                              <img src="assets/images/image22431.jpg">
                           </div>
                           <div class="media-body case-dec">
                              <div class="left-side">
                                 <div class="sub-header   margin-zero">Adjectives - Noun's best friends</div>
                                 <div class="list">
                                    <ul class="list-unstyled list-inline margin-zero">
                                       <li>
                                          <i class="sci-time"></i> 05:34
                                       </li>
                                       <li>
                                          <i class="sci-Play-Video-o"></i> 7,567 Views
                                       </li>
                                       <li>
                                          <i class="sci-calendar"></i> 12 March, 2017
                                       </li>
                                    </ul>
                                 </div>
                                 <p>English grammar is a very strcutred program and learning it takes some time. But it can be studied easily and grasped comfortably with limited knowledge about the language as well. It has that simplicity ...</p>
                              </div>
                              <span class="icon-dd">
                                 <a class="btn text-white dwnld-file back-lr"> Paid</a>
                              </span>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </li>
         <li>
            <div class="box-list" data-toggle="collapse" data-target="#content-details2">
               <a href="" class="box section">
                  SECTION #3
               </a>
               <a href="" class="box name sub-header">
                  Sentence Structuring
               </a>
               <a href="" class="box video-time  ">
                  <div class="box-list">
                     <span class="box left">
                        (7 VIDEOS)
                     </span>
                     <span class="box right icon-dd">
                        <i class="sci-arrow-down down"></i>
                        <i class="sci-arrow-up up"></i>
                     </span>
                  </div>
               </a>
            </div>
            <div id="content-details2" class="collapse">
               <div class="divider"></div>
               <div class="my-cases">
                  <ul class="list-unstyled">
                     <li class="divider">
                        <div class="media">
                           <div class="media-left">
                              <img src="assets/images/eng-teacher.jpg">
                           </div>
                           <div class="media-body case-dec">
                              <div class="left-side">
                                 <div class="sub-header   margin-zero">Introduction to Parts of Speech</div>
                                 <div class="list">
                                    <ul class="list-unstyled list-inline margin-zero">
                                       <li>
                                          <i class="sci-time"></i> 05:34
                                       </li>
                                       <li>
                                          <i class="sci-Play-Video-o"></i> 7,567 Views
                                       </li>
                                       <li>
                                          <i class="sci-calendar"></i> 12 March, 2017
                                       </li>
                                    </ul>
                                 </div>
                                 <p>English grammar is a very strcutred program and learning it takes some time. But it can be studied easily and grasped comfortably with limited knowledge about the language as well. It has that simplicity ...</p>
                              </div>
                              <span class="icon-dd">
                                 <a class="btn text-white dwnld-file back-lg"> Free</a>
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="divider">
                        <div class="media">
                           <div class="media-left">
                              <img src="assets/images/English-teacher.jpg">
                           </div>
                           <div class="media-body case-dec">
                              <div class="left-side">
                                 <div class="sub-header   margin-zero">All about Nouns & Pronouns</div>
                                 <div class="list">
                                    <ul class="list-unstyled list-inline margin-zero">
                                       <li>
                                          <i class="sci-time"></i> 05:34
                                       </li>
                                       <li>
                                          <i class="sci-Play-Video-o"></i> 7,567 Views
                                       </li>
                                       <li>
                                          <i class="sci-calendar"></i> 12 March, 2017
                                       </li>
                                    </ul>
                                 </div>
                                 <p>English grammar is a very strcutred program and learning it takes some time. But it can be studied easily and grasped comfortably with limited knowledge about the language as well. It has that simplicity ...</p>
                              </div>
                              <span class="icon-dd">
                                 <a class="btn text-white dwnld-file back-lr"> Paid</a>
                              </span>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="media">
                           <div class="media-left">
                              <img src="assets/images/image22431.jpg">
                           </div>
                           <div class="media-body case-dec">
                              <div class="left-side">
                                 <div class="sub-header   margin-zero">Adjectives - Noun's best friends</div>
                                 <div class="list">
                                    <ul class="list-unstyled list-inline margin-zero">
                                       <li>
                                          <i class="sci-time"></i> 05:34
                                       </li>
                                       <li>
                                          <i class="sci-Play-Video-o"></i> 7,567 Views
                                       </li>
                                       <li>
                                          <i class="sci-calendar"></i> 12 March, 2017
                                       </li>
                                    </ul>
                                 </div>
                                 <p>English grammar is a very strcutred program and learning it takes some time. But it can be studied easily and grasped comfortably with limited knowledge about the language as well. It has that simplicity ...</p>
                              </div>
                              <span class="icon-dd">
                                 <a class="btn text-white dwnld-file back-lr"> Paid</a>
                              </span>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </li>
         <li>
            <div class="box-list" data-toggle="collapse" data-target="#content-details3">
               <a href="" class="box section">
                  SECTION #4
               </a>
               <a href="" class="box name sub-header">
                  Ancient English & Grammar History
               </a>
               <a href="" class="box video-time  ">
                  <div class="box-list">
                     <span class="box left">
                        (7 VIDEOS)
                     </span>
                     <span class="box right icon-dd">
                        <i class="sci-arrow-down down"></i>
                        <i class="sci-arrow-up up"></i>
                     </span>
                  </div>
               </a>
            </div>
            <div id="content-details3" class="collapse">
               <div class="divider"></div>
               <div class="my-cases">
                  <ul class="list-unstyled">
                     <li class="divider">
                        <div class="media">
                           <div class="media-left">
                              <img src="assets/images/eng-teacher.jpg">
                           </div>
                           <div class="media-body case-dec">
                              <div class="left-side">
                                 <div class="sub-header   margin-zero">Introduction to Parts of Speech</div>
                                 <div class="list">
                                    <ul class="list-unstyled list-inline margin-zero">
                                       <li>
                                          <i class="sci-time"></i> 05:34
                                       </li>
                                       <li>
                                          <i class="sci-Play-Video-o"></i> 7,567 Views
                                       </li>
                                       <li>
                                          <i class="sci-calendar"></i> 12 March, 2017
                                       </li>
                                    </ul>
                                 </div>
                                 <p>English grammar is a very strcutred program and learning it takes some time. But it can be studied easily and grasped comfortably with limited knowledge about the language as well. It has that simplicity ...</p>
                              </div>
                              <span class="icon-dd">
                                 <a class="btn text-white dwnld-file back-lg"> Free</a>
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="divider">
                        <div class="media">
                           <div class="media-left">
                              <img src="assets/images/English-teacher.jpg">
                           </div>
                           <div class="media-body case-dec">
                              <div class="left-side">
                                 <div class="sub-header   margin-zero">All about Nouns & Pronouns</div>
                                 <div class="list">
                                    <ul class="list-unstyled list-inline margin-zero">
                                       <li>
                                          <i class="sci-time"></i> 05:34
                                       </li>
                                       <li>
                                          <i class="sci-Play-Video-o"></i> 7,567 Views
                                       </li>
                                       <li>
                                          <i class="sci-calendar"></i> 12 March, 2017
                                       </li>
                                    </ul>
                                 </div>
                                 <p>English grammar is a very strcutred program and learning it takes some time. But it can be studied easily and grasped comfortably with limited knowledge about the language as well. It has that simplicity ...</p>
                              </div>
                              <span class="icon-dd">
                                 <a class="btn text-white dwnld-file back-lr"> Paid</a>
                              </span>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="media">
                           <div class="media-left">
                              <img src="assets/images/image22431.jpg">
                           </div>
                           <div class="media-body case-dec">
                              <div class="left-side">
                                 <div class="sub-header   margin-zero">Adjectives - Noun's best friends</div>
                                 <div class="list">
                                    <ul class="list-unstyled list-inline margin-zero">
                                       <li>
                                          <i class="sci-time"></i> 05:34
                                       </li>
                                       <li>
                                          <i class="sci-Play-Video-o"></i> 7,567 Views
                                       </li>
                                       <li>
                                          <i class="sci-calendar"></i> 12 March, 2017
                                       </li>
                                    </ul>
                                 </div>
                                 <p>English grammar is a very strcutred program and learning it takes some time. But it can be studied easily and grasped comfortably with limited knowledge about the language as well. It has that simplicity ...</p>
                              </div>
                              <span class="icon-dd">
                                 <a class="btn text-white dwnld-file back-lr"> Paid</a>
                              </span>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </li>
         <li>
            <div class="box-list" data-toggle="collapse" data-target="#content-details4">
               <a href="" class="box section">
                  SECTION #5
               </a>
               <a href="" class="box name sub-header">
                  Professional Writing & Speaking
               </a>
               <a href="" class="box video-time  ">
                  <div class="box-list">
                     <span class="box left">
                        (7 VIDEOS)
                     </span>
                     <span class="box right icon-dd">
                        <i class="sci-arrow-down down"></i>
                        <i class="sci-arrow-up up"></i>
                     </span>
                  </div>
               </a>
            </div>
            <div id="content-details4" class="collapse">
               <div class="divider"></div>
               <div class="my-cases">
                  <ul class="list-unstyled">
                     <li class="divider">
                        <div class="media">
                           <div class="media-left">
                              <img src="assets/images/eng-teacher.jpg">
                           </div>
                           <div class="media-body case-dec">
                              <div class="left-side">
                                 <div class="sub-header   margin-zero">Introduction to Parts of Speech</div>
                                 <div class="list">
                                    <ul class="list-unstyled list-inline margin-zero">
                                       <li>
                                          <i class="sci-time"></i> 05:34
                                       </li>
                                       <li>
                                          <i class="sci-Play-Video-o"></i> 7,567 Views
                                       </li>
                                       <li>
                                          <i class="sci-calendar"></i> 12 March, 2017
                                       </li>
                                    </ul>
                                 </div>
                                 <p>English grammar is a very strcutred program and learning it takes some time. But it can be studied easily and grasped comfortably with limited knowledge about the language as well. It has that simplicity ...</p>
                              </div>
                              <span class="icon-dd">
                                 <a class="btn text-white dwnld-file back-lg"> Free</a>
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="divider">
                        <div class="media">
                           <div class="media-left">
                              <img src="assets/images/English-teacher.jpg">
                           </div>
                           <div class="media-body case-dec">
                              <div class="left-side">
                                 <div class="sub-header   margin-zero">All about Nouns & Pronouns</div>
                                 <div class="list">
                                    <ul class="list-unstyled list-inline margin-zero">
                                       <li>
                                          <i class="sci-time"></i> 05:34
                                       </li>
                                       <li>
                                          <i class="sci-Play-Video-o"></i> 7,567 Views
                                       </li>
                                       <li>
                                          <i class="sci-calendar"></i> 12 March, 2017
                                       </li>
                                    </ul>
                                 </div>
                                 <p>English grammar is a very strcutred program and learning it takes some time. But it can be studied easily and grasped comfortably with limited knowledge about the language as well. It has that simplicity ...</p>
                              </div>
                              <span class="icon-dd">
                                 <a class="btn text-white dwnld-file back-lr"> Paid</a>
                              </span>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="media">
                           <div class="media-left">
                              <img src="assets/images/image22431.jpg">
                           </div>
                           <div class="media-body case-dec">
                              <div class="left-side">
                                 <div class="sub-header   margin-zero">Adjectives - Noun's best friends</div>
                                 <div class="list">
                                    <ul class="list-unstyled list-inline margin-zero">
                                       <li>
                                          <i class="sci-time"></i> 05:34
                                       </li>
                                       <li>
                                          <i class="sci-Play-Video-o"></i> 7,567 Views
                                       </li>
                                       <li>
                                          <i class="sci-calendar"></i> 12 March, 2017
                                       </li>
                                    </ul>
                                 </div>
                                 <p>English grammar is a very strcutred program and learning it takes some time. But it can be studied easily and grasped comfortably with limited knowledge about the language as well. It has that simplicity ...</p>
                              </div>
                              <span class="icon-dd">
                                 <a class="btn text-white dwnld-file back-lr"> Paid</a>
                              </span>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </li>
         <li>
            <div class="box-list">
               <form class="form-inline">
                  <div class="row">
                     <div class="col-sm-2">
                        <label class="control-label">Add New Section :</label>
                     </div>
                     <div class="col-sm-8">
                        <input type="" name="" class="form-control large-input" placeholder="Enter the name of new section">
                     </div>
                     <div class="col-sm-2">
                        <a class="btn"><i class="sci-add"></i>   CREATE </a>
                     </div>
                  </div>
               </form>
            </div>
         </li>
      </ul>
   </div>
</div>
<div class="modal fade" id="upload-video">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Upload New Video</h4>
         </div>
         <div class="modal-body">
            <div class="upload-details">
               <form>
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="form-group">
                           <label class="control-label">Video Title:</label>
                           <input type="" name="" class="form-control">
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="row">
                           <div class="form-group">
                              <label class="control-label col-sm-5">Select Section:</label>
                              <div class="col-sm-7">
                                 <select class="form-control">
                                    <option>Section #1</option>
                                    <option>Section #2</option>
                                    <option>Section #3</option>
                                    <option>Section #4</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="row">
                           <div class="form-group">
                              <label class="control-label col-sm-6">Video Position:</label>
                              <div class="col-sm-6">
                                 <select class="form-control">
                                    <option>#1</option>
                                    <option>#2</option>
                                    <option>#3</option>
                                    <option>#4</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-12">
                        <div class="form-group">
                           <div class="row">
                              <label class="control-label col-sm-3">Video Type:</label>
                              <div class="col-sm-9 control-label">
                                 <span>Free</span>
                                 <span class="checkbox-set">
                                    <input type="checkbox" name="">
                                    <span class="checkbox-btn">
                                    </span>
                                 </span>
                                 <span>Paid</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-12">
                        <div class="form-group">
                           <div class="row">
                              <label class="control-label col-sm-3">Video File:</label>
                              <div class="col-sm-9">
                                 <span class="btn upload-btn back-light-gray text-black">
                                    <span class="upload-file">
                                       <i class="sci-attache"></i>  Browse Files
                                       <input type="file" name="">
                                    </span>
                                 </span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="modal-footer">
         <div class="pull-left">
            <a class="btn">
               <i class="sci-Upload"></i>  Upload
            </a>
         </div>
      </div>
      </div>
   </div>
</div>