<div class="section container plans margin-bt20">
	<span class="title">SUBSCRIPTION PLANS</span>
	<span class="pull-right"><a class="btn" href="#/ELT-all-transactions">View All Transactions</a></span>
	<div class="subscription-plans content-box">
		<div id="plans" class="owl-carousel">
			<div class="box">
				<div class="sub-header">BASIC</div>
				<div class="box-content">
					<div class="label-large text-center">&yen; 498.0 PER YEAR
					<span class="dlt-btn">
						<a class="btn"><i class="sci-Delete-Icon"></i></a>
					</span>
					</div>
					<div class="details">
						<div class="dec">
							<i class="sci-Users">
							</i>
							Active Users: <span>455</span>
						</div>
						<div class="dec">
							<i class="sci-ernings">
							</i>
							Lifetime Earnings: <span>&yen; 244,000</span>
						</div>
						<div class="dec">
							<i class="sci-calendar">
							</i>
							Avg Monthly Sign ups: <span>&yen; 12</span>
						</div>
					</div>
					<div class="chart">
						<div id="highchart"></div>
					</div>
					<div class="margin-bt20 box-btn text-center">
						<a class="btn">
							<i class="sci-eraser"></i>
							Modify Plan
						</a>
						<a class="btn">
							<i class="sci-pause"></i>
							Pause Plan
						</a>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="sub-header">PREMIUM</div>
				<div class="box-content">
					<div class="label-large text-center">&yen; 798.0 PER YEAR
					<span class="dlt-btn">
						<a class="btn"><i class="sci-Delete-Icon"></i></a>
					</span>
					</div>
					<div class="details">
						<div class="dec">
							<i class="sci-Users">
							</i>
							Active Users: <span>455</span>
						</div>
						<div class="dec">
							<i class="sci-ernings">
							</i>
							Lifetime Earnings: <span>&yen; 244,000</span>
						</div>
						<div class="dec">
							<i class="sci-calendar">
							</i>
							Avg Monthly Sign ups: <span>&yen; 12</span>
						</div>
					</div>
					<div class="chart">
						<div id="highchart1"></div>
					</div>
					<div class="margin-bt20 box-btn text-center">
						<a class="btn">
							<i class="sci-eraser"></i>
							Modify Plan
						</a>
						<a class="btn">
							<i class="sci-pause"></i>
							Pause Plan
						</a>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="sub-header">ADVANCED</div>
				<div class="box-content">
					<div class="label-large text-center">&yen; 999.0 PER YEAR
					<span class="dlt-btn">
						<a class="btn"><i class="sci-Delete-Icon"></i></a>
					</span>
					</div>
					<div class="details">
						<div class="dec">
							<i class="sci-Users">
							</i>
							Active Users: <span>455</span>
						</div>
						<div class="dec">
							<i class="sci-ernings">
							</i>
							Lifetime Earnings: <span>&yen; 244,000</span>
						</div>
						<div class="dec">
							<i class="sci-calendar">
							</i>
							Avg Monthly Sign ups: <span>&yen; 12</span>
						</div>
					</div>
					<div class="chart">
						<div id="highchart3"></div>
					</div>
					<div class="margin-bt20 box-btn text-center">
						<a class="btn">
							<i class="sci-eraser"></i>
							Modify Plan
						</a>
						<a class="btn">
							<i class="sci-pause"></i>
							Pause Plan
						</a>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="sub-header">BASIC</div>
				<div class="box-content">
					<div class="label-large text-center">&yen; 498.0 PER YEAR
					<span class="dlt-btn">
						<a class="btn"><i class="sci-Delete-Icon"></i></a>
					</span>
					</div>
					<div class="details">
						<div class="dec">
							<i class="sci-Users">
							</i>
							Active Users: <span>455</span>
						</div>
						<div class="dec">
							<i class="sci-ernings">
							</i>
							Lifetime Earnings: <span>&yen; 244,000</span>
						</div>
						<div class="dec">
							<i class="sci-calendar">
							</i>
							Avg Monthly Sign ups: <span>&yen; 12</span>
						</div>
					</div>
					<div class="chart">
						<div id="highchart2"></div>
					</div>
					<div class="margin-bt20 box-btn text-center">
						<a class="btn">
							<i class="sci-eraser"></i>
							Modify Plan
						</a>
						<a class="btn">
							<i class="sci-pause"></i>
							Pause Plan
						</a>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="sub-header">BASIC</div>
				<div class="box-content">
					<div class="label-large text-center">&yen; 498.0 PER YEAR
					<span class="dlt-btn">
						<a class="btn"><i class="sci-Delete-Icon"></i></a>
					</span>
					</div>
					<div class="details">
						<div class="dec">
							<i class="sci-Users">
							</i>
							Active Users: <span>455</span>
						</div>
						<div class="dec">
							<i class="sci-ernings">
							</i>
							Lifetime Earnings: <span>&yen; 244,000</span>
						</div>
						<div class="dec">
							<i class="sci-calendar">
							</i>
							Avg Monthly Sign ups: <span>&yen; 12</span>
						</div>
					</div>
					<div class="chart">
						<div id="highchart4"></div>
					</div>
					<div class="margin-bt20 box-btn text-center">
						<a class="btn">
							<i class="sci-eraser"></i>
							Modify Plan
						</a>
						<a class="btn">
							<i class="sci-pause"></i>
							Pause Plan
						</a>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="sub-header">BASIC</div>
				<div class="box-content">
					<div class="label-large text-center">&yen; 498.0 PER YEAR
					<span class="dlt-btn">
						<a class="btn"><i class="sci-Delete-Icon"></i></a>
					</span>
					</div>
					<div class="details">
						<div class="dec">
							<i class="sci-Users">
							</i>
							Active Users: <span>455</span>
						</div>
						<div class="dec">
							<i class="sci-ernings">
							</i>
							Lifetime Earnings: <span>&yen; 244,000</span>
						</div>
						<div class="dec">
							<i class="sci-calendar">
							</i>
							Avg Monthly Sign ups: <span>&yen; 12</span>
						</div>
					</div>
					<div class="chart">
						<div id="highchart5"></div>
					</div>
					<div class="margin-bt20 box-btn text-center">
						<a class="btn">
							<i class="sci-eraser"></i>
							Modify Plan
						</a>
						<a class="btn">
							<i class="sci-pause"></i>
							Pause Plan
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>