<section class="user-dashboard-banner pr-my-cases">
	<div class="header">
		<i class="sci-abc"></i>
		<h2 class="title text-white">ENGLISH & CHINESE DOCUMENT PROOF READING SERVICE</h2>
	</div>
	<div class="overlay"></div>
</section>
<section class="cases back-white">
	<div class="container">
		<div class="new-cases my-cases">
			<div class="sub-title">
				New Case(s)
			</div>
			<ul class="list-unstyled">
				<div class="file-upload-div">
					<li class="back-light-gray text-center drop-files" id="fileuploader">
						<span class="sub-header"> DROP FILE(S) TO SUBMIT NEW CASES</span>
					</li>
				</div>
				<li class="li-border new-cases-services package-table">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">[[uploadedFileDetails.case_original_file_name]]</div>
								<div>
									Size: [[uploadedFileDetails.case_file_size | number]] KB
									<span class="total">
										Total Words:
										<span class="">[[uploadedFileDetails.total_words]]</span>
									</span>
								</div>
							</div>
							<div class="new-cases-details">
								<div class="sub-header text-black">Select from the below Services </div>
								<table class="table margin-zero" width="100%">
									<thead width="100%">
										<tr>
											<th width="33%" class="text-center">Target</th>
											<th width="33%" class="text-center">Standard Fees <i class="sci-notice icon" data-toggle="tooltip" title="The comments on the proof read documents will be in ENGLISH language."></i>
											</th>
											<th width="33%" class="text-center">Premium Fees <i class="sci-notice icon" data-toggle="tooltip" title="The comments on the proof read documents will be in ENGLISH & MANDARIN languages."></i></th>
										</tr>
									</thead>
									<tbody width="100%">
										<tr id="tr_[[$index]]" ng-repeat="package in uploadedFileDetails.packages">
											<td class="hours" align="center">
												<a class="">[[package.service_package]] hours</a>
											</td>
											<td align="center">
												<label class="radio-inline radio-button">
													<input type="radio" name="optradio" ng-click="radio_standard_price($index,package.standard_price * uploadedFileDetails.total_words,package.service_package,package.id,1)" >
													<div class="radio-checked"></div>
													&yen; [[package.standard_price * uploadedFileDetails.total_words | number]]
												</label>
											</td>
											<td align="center">
												<label class="radio-inline radio-button">
													<input type="radio" name="optradio" ng-click="radio_premium_price($index,package.premium_price * uploadedFileDetails.total_words,package.service_package,package.id,2)">
													<div class="radio-checked"></div>
													&yen; [[package.premium_price * uploadedFileDetails.total_words | number]]
												</label>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<span class="icon-dd">
								<button class="btn bg-green accept_file" ng-click="accept_file(uploadedFileDetails)"><i class="sci-accept"></i> Accept</button>
								<a class="btn text-white reject_file" ng-click="reject_file(uploadedFileDetails.case_file_name)"><i class="sci-reject"></i> Reject </a>
							</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="my-cases">
			<div class="sub-title">
				My Cases
			</div>
			<ul class="list-unstyled panel-group accordion" id="accordion1">
				
				<li class="[[case.case_class]] panel" ng-repeat="case in cases">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">[[case.case_original_file_name]]</div>
								<div>Current Status: <span> [[case.case_status_to_string]] </span></div>
								
								<div>Document Submitted: 
									<span>
										[[case.document_submitted_at]] 
									</span>
								</div>
							</div>
							<span class="icon-dd">
								<button ng-if="case.case_status == 3 || case.case_status == 4" class="btn text-white dwnld-file back-green download-accessed" ng-click="download(case,$index,1)"><i class="sci-download text-white"></i> Download file</button>
								<a id="download_accessed_file_[[case.id]]" download></a>
								<a class="accordion-toggle collapsed" id="arrow_[[$index]]" ng-click="abc($index)" href="javascript:void(0)#case-details_[[case.id]]" data-toggle="collapse" data-parent="#accordion1"><i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
					<div id="case-details_[[case.id]]" class="panel-collapse collapse collapse-section">
								<div class="sub-header pd-tp10 text-black margin-zero">Case Timeline</div>
								<ul class="list-unstyled list-inline progress-indicator">
									<li class="submitted">
										<span class="bubble back-red"></span>
										<div class="timeline-details">
											<b>[[case.document_submitted_at]]</b>
											<div>Document Submitted</div>
										</div>
									</li>
									<li class="completed-1">
										<div ng-if="!case.accessor_one_time">
											<span class="bubble back-gray"></span>
											<div class="timeline-details">
												<i class="icon">
													<span class="sci-Time-And-file"></span>
												</i>
											</div>
										</div>
										<div ng-if="case.accessor_one_time">
											<span class="bubble [[case.accessor_one_case_bubble]]"></span>
											<div class="timeline-details">
												<b>[[case.accessor_one_time]]</b>
												<div>1st Level Accessment Completed</div>
											</div>	
										</div>
									</li>
									<li class="completed-2">
										<div ng-if="!case.accessor_two_time">
											<span class="bubble back-gray"></span>
											<div class="timeline-details">
												<i class="icon">
													<span class="sci-Time-And-file"></span>
												</i>
											</div>
										</div>
										<div ng-if="case.accessor_two_time">
											<span class="bubble [[case.accessor_two_case_bubble]]"></span>
											<div class="timeline-details">
												<b>[[case.accessor_two_time]]</b>
												<div>2nd Level Accessment Completed</div>
											</div>	
										</div>
									</li>
									<li class="download">
										<div ng-if="case.case_status != 4">
											<span class="bubble back-gray"></span>
											<div class="timeline-details">
												<i class="icon">
													<span class="sci-Time-And-file"></span>
												</i>
											</div>
										</div>
										<div ng-if="case.case_status == 4">
											<span class="bubble [[case.file_download_bubble]]"></span>
											<div class="timeline-details">
												<div>[[case.file_downloaded]]</div>
											</div>	
										</div>
									</li>
								</ul>
								<div class="sub-header pd-tp10 text-black margin-zero">Case Details</div>
								<ul class="list-unstyled list-inline case-list">
									<li class="">
										<div>Case ID: <span>[[case.id]]</span></div>
									</li>
									<li class="">
										<div>Total Words: <span>[[case.total_words]]</span></div>
									</li>
									<li class="">
										<div>Total Fee: <span>&yen; [[case.total_price]]</span></div>
									</li>
									<li class="">
										<div>Language: <span>[[case.file_language]]</span></div>
									</li>
									<li class="">
										<div>File Size: <span>[[case.case_file_size]] KB</span></div>
									</li>
								</ul>
								<div class="group-btn" >
									<button class="btn text-white dwnld-file back-green" ng-click="download(case,$index)" id="download_o_[[$index]]" ><i class="sci-download text-white"></i> Original file</button>
									<a id="download_file_[[case.id]]" download></a>
									<button ng-if="case.case_status == 3 || case.case_status == 4" class="btn text-white dwnld-file back-green download-accessed" ng-click="download(case,$index,1)"><i class="sci-download text-white"></i> Download file</button>
									<a id="download_accessed_file_[[case.id]]" download></a>
								</div>
							</div>
				</li>
				<li class="back-lr" ng-if="myCaseLength == 0">
					<div class="list-unstyled list-inline">
						<div class="media-body case-dec">
							<span class="sub-header">Whoops, no cases uploaded yet</span>
						</div>
					</div>
				</li>
				<li class="pd-zero add" ng-if="[[$index]] == 1">
					<a href="">
						<img src="resources/assets/images/Add-1.png">
					</a>
					
				</li>
				<!-- <li class="pd-zero add" ng-if="([[$index]] % 6 == 0 && [[$index]] != 0) || ([[$last]] == 'true')"> -->
				<li class="pd-zero add" ng-if="[[$index]] == 3">
					<a href="">
						<img src="resources/assets/images/marketplace-banner.jpg">
					</a>
					
				</li>
				
			</ul>
		</div>
	</div>
</section>
