<article class="accessor-sccount-info-page">
  <section>
    <div class="container">
      <div class="white-panel-div">
        <div class="page-heading">
          <h2>Accessor Account Info</h2>
        </div>
        <div class="box-width-border accessor-account-info">
          <div class="media">
            <div class="pull-left"> <a href="#"> <img ng-src="[[accessor.image]]" width="81" height="81" /> </a> </div>
            <div class="media-body">
              <h5>[[accessor.first_name]] [[accessor.last_name]] <span class="level">(Level [[accessor.level_type]])</span></h5>
              <div class="row">
                <div class="col-sm-6 col-lg-4">
                  <p>Email: [[accessor.email_address]]</p>
                  <p>Call: [[accessor.phone_number]]</p>
                </div>
                <div class="col-sm-6  col-lg-4">
                  <p>Location: Beijing, China</p>
                  <p>Language:English & Chinese (Simplified)</p>
                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="right-btn">
                    <table cellpadding="0" cellspacing="0">
                      <tr>
                        <td><a href="javascript:;" class="btn btn-dark-gray btn-sm">Reset Password</a></td>
                        <td><a href="javascript:;" class="btn btn-dark-gray btn-sm">Update Info</a></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--More Info-->
        <h3 class="title-sub-section uppercase">More Info</h3>
        <div class="box-width-border accessor-more-info">
          <div class="row">
            <div class="col-sm-6 col-lg-7">
              <div class="payment-mode"> Payment Mode:
                <label class="circle-radio-btn">Level:1
                  <input type="radio" name="r1">
                  <span class="checkmark"></span> </label>
                <label class="circle-radio-btn">Level:1
                  <input type="radio" name="r1">
                  <span class="checkmark"></span> </label>
                <label class="circle-radio-btn">Level:1
                  <input type="radio" name="r1">
                  <span class="checkmark"></span> </label>
              </div>
            </div>
            <div class="col-sm-6 col-lg-5 text-right"> Lifetime Earnings: RMB 324,000 </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <div class="left-form">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Account Number</label>
                      <input type="text"  value="**** 3455" class="form-control"/>
                    </div>
                  </div>
                  <div class="col-sm-4" ng-if="accessor.level_type==1">
                    <div class="form-group">
                      <label>Reporting Manager</label>
                      <span class="custom-select-dropdown d-inline">
                        <select class="form-control" id="accessor_id" name="accessor_id">
                          <option value="[[officer.id]]" ng-selected="officer.id == accessor.accessor_id" ng-repeat="officer in reportingOfficers">[[officer.first_name]] [[officer.last_name]]</option>
                        </select>
                      </span> </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Operating Level</label>
                      <span class="custom-select-dropdown d-inline">
                      <select class="form-control" id="team" name="team" ng-model="accessor.team">
                        <option value="[[team.value]]" ng-repeat="team in teams">[[team.name]]</option>
                      </select>
                      </span> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row">
                <div class="col-xs-4 line">
                  <p>Date Of Birth</p>
                  <p>[[accessor.dob]]</p>
                </div>
                <div class="col-xs-4 line">
                  <p>Joined Since</p>
                  <p>[[accessor.joining_date]]</p>
                </div>
                <div class="col-xs-4 line">
                  <p>Total Jobs</p>
                  <p>[[accessor.total_jobs_count]]</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--Job History-->
        <h3 class="title-sub-section uppercase">Job History</h3> 
        <!--Listing-->
        <ul class="cases-list border">
          <li class="gray" ng-if="accessorCompletedJobCount > 0" ng-repeat="case in accessor.accessment_time">
            <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn" ng-click="openCase(case.pr_case.id)" id="case_[[case.pr_case.id]]"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
              <div class="row">
                <div class="col-sm-7 col-lg-7">
                  <table cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                      <td><h5>[[case.pr_case.case_original_file_name]]</h5>
                        <p ng-repeat="accessor_info in accessor.accessment_time">Level [[$index+1]] Accessor: [[accessor_info.accessor_information.first_name]] [[accessor_info.accessor_information.last_name]]</p>
                        <p>Client: <a href="#">[[case.pr_case.case_user.first_name]] [[case.pr_case.case_user.last_name]]</a></p></td>
                    </tr>
                  </table>
                </div>
                <div class="col-sm-5 col-lg-5 text-right">
                  <div class="right-content-block">
                    <div class="row">
                      <div class="col-xs-4 line">
                        <h5>Total Fees</h5>
                        &yen; [[case.pr_case.total_price]] </div>
                      <div class="col-xs-4 line">
                        <h5>Target</h5>
                        12h 35m </div>
                      <div class="col-xs-4 line">
                        <h5>Assigned Date</h5>
                        12 JUL</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="expand-content" id="case-details_[[case.pr_case.id]]">
              <h6>Case Details</h6>
              <div class="row">
                <div class="col-md-9 col-lg-9">
                  <ul class="case-d-list">
                    <li>Case ID:<br />
                      [[case.pr_case.id]]</li>
                    <li>Total Words:<br />
                      [[case.pr_case.total_words]]</li>
                    <li>Service<br />
                      Premium</li>
                    <li>Language:<br />
                      [[case.pr_case.file_language]]</li>
                    <li>File Size:<br />
                      [[case.pr_case.case_file_size]] KB</li>
                  </ul>
                </div>
                <!-- <div class="col-md-3 col-lg-3 right-btn"> <a href="javascript:;" class="btn btn-dark-gray btn-sm">Change Accessor</a> </div> -->
              </div>
              <h6>Case Timeline</h6>
              <div class="box-outer-div">
                <div class="row">
                  <div class="col-xs-6 col-sm-3 dot-status red">
                    <div class="box01">
                      <div>
                        <h4>[[case.pr_case.document_submitted_at]]</h4>
                        <p>Document Submitted</p>
                        <button class="btn btn-dark-gray btn-sm download-original" ng-click="download(case.pr_case,$index,1,'download-original')"><i class="sci-download"></i> Original file</button>
                        <a id="download_accessed_file_[[case.id]]" download></a>
                        <!-- <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a> </div> -->
                    </div>
                  </div>
                </div>
                  <div class="col-xs-6 col-sm-3 dot-status blue" ng-if="case.pr_case.accessor_one_time">
                    <div class="box01">
                      <div >
                        <h4>[[case.pr_case.access_1_time]]</h4>
                        <p>1st Level Accessment Completed</p>
                        <button class="btn btn-dark-gray btn-sm download-access1" ng-click="download(accessor,$index,2,'download-access1')"> Download file</button>
                        <!-- <a href="javascript:;" class="btn btn-dark-gray btn-sm">Accessed File</a> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status gray" ng-if="!case.pr_case.accessor_one_time">
                    <div class="box01">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status yellow" ng-if="case.pr_case.accessor_two_time">
                    <div class="box01">
                      <div >
                        <h4>[[case.pr_case.accessor_two_time]]</h4>
                        <p>2nd Level Accessment Completed</p>
                        <button class="btn btn-dark-gray btn-sm download-access2" ng-click="download(case,$index,3,'download-access2')"><i class="sci-download"></i> Download file</button>
                        <!-- <a href="javascript:;" class="btn btn-dark-gray btn-sm">Download File</a>  -->
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status gray" ng-if="!case.pr_case.accessor_two_time">
                    <div class="box01">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status gray" ng-if="case.pr_case.case_status != 4">
                    <div class="box01">
                      <div >
                        <p>File not yet downloaded</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status green" ng-if="case.pr_case.case_status == 4">
                    <div class="box01">
                      <div>
                        <p>[[case.pr_case.file_downloaded]]</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="gray" ng-if="accessorCompletedJobCount==0">No jobs yet</li>
          <!-- <li class="gray">
            <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
              <div class="row">
                <div class="col-sm-7 col-lg-7">
                  <table cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                      <td><h5>Final Semester Thesis 2017.docx</h5>
                        <p>Level 1 Accessor: Jason Lin</p>
                        <p>Client: <a href="#">Adam Priestly</a></p></td>
                    </tr>
                  </table>
                </div>
                <div class="col-sm-5 col-lg-5 text-right">
                  <div class="right-content-block">
                    <div class="row">
                      <div class="col-xs-4 line">
                        <h5>Total Fees</h5>
                        &yen; 250 </div>
                      <div class="col-xs-4 line">
                        <h5>Target</h5>
                        12h 35m </div>
                      <div class="col-xs-4 line">
                        <h5>Assigned Date</h5>
                        12 JUL</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="expand-content">
              <h6>Case Details</h6>
              <div class="row">
                <div class="col-md-9 col-lg-9">
                  <ul class="case-d-list">
                    <li>Case ID:<br />
                      4342</li>
                    <li>Total Words:<br />
                      442</li>
                    <li>Service<br />
                      Premium</li>
                    <li>Language:<br />
                      English</li>
                    <li>File Size:<br />
                      204.3 KB</li>
                  </ul>
                </div>
                <div class="col-md-3 col-lg-3 right-btn"> <a href="javascript:;" class="btn btn-dark-gray btn-sm">Change Accessor</a> </div>
              </div>
              <h6>Case Timeline</h6>
              <div class="box-outer-div">
                <div class="row">
                  <div class="col-xs-6 col-sm-3 dot-status red">
                    <div class="box01">
                      <div>
                        <h4>12 Apr, 4:45 pm</h4>
                        <p>Document Submitted</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a> </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status blue">
                    <div class="box01">
                      <div>
                        <h4>12 Apr, 10:25 pm</h4>
                        <p>1st Level Accessment Completed</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Accessed File</a></div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status yellow">
                    <div class="box01">
                      <div>
                        <h4>13 Apr, 7:00 am</h4>
                        <p>2nd Level Accessment Completed</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Download File</a> </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status green">
                    <div class="box01">
                      <div>
                        <p>File not yet<br />
                          downloaded</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Cancel Case</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="gray">
            <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
              <div class="row">
                <div class="col-sm-7 col-lg-7">
                  <table cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                      <td><h5>Final Semester Thesis 2017.docx</h5>
                        <p>Level 1 Accessor: Jason Lin</p>
                        <p>Client: <a href="#">Adam Priestly</a></p></td>
                    </tr>
                  </table>
                </div>
                <div class="col-sm-5 col-lg-5 text-right">
                  <div class="right-content-block">
                    <div class="row">
                      <div class="col-xs-4 line">
                        <h5>Total Fees</h5>
                        &yen; 250 </div>
                      <div class="col-xs-4 line">
                        <h5>Target</h5>
                        12h 35m </div>
                      <div class="col-xs-4 line">
                        <h5>Assigned Date</h5>
                        12 JUL</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="expand-content">
              <h6>Case Details</h6>
              <div class="row">
                <div class="col-md-9 col-lg-9">
                  <ul class="case-d-list">
                    <li>Case ID:<br />
                      4342</li>
                    <li>Total Words:<br />
                      442</li>
                    <li>Service<br />
                      Premium</li>
                    <li>Language:<br />
                      English</li>
                    <li>File Size:<br />
                      204.3 KB</li>
                  </ul>
                </div>
                <div class="col-md-3 col-lg-3 right-btn"> <a href="javascript:;" class="btn btn-dark-gray btn-sm">Change Accessor</a> </div>
              </div>
              <h6>Case Timeline</h6>
              <div class="box-outer-div">
                <div class="row">
                  <div class="col-xs-6 col-sm-3 dot-status red">
                    <div class="box01">
                      <div>
                        <h4>12 Apr, 4:45 pm</h4>
                        <p>Document Submitted</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a> </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status blue">
                    <div class="box01">
                      <div>
                        <h4>12 Apr, 10:25 pm</h4>
                        <p>1st Level Accessment Completed</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Accessed File</a></div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status yellow">
                    <div class="box01">
                      <div>
                        <h4>13 Apr, 7:00 am</h4>
                        <p>2nd Level Accessment Completed</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Download File</a> </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status green">
                    <div class="box01">
                      <div>
                        <p>File not yet<br />
                          downloaded</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Cancel Case</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="gray">
            <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
              <div class="row">
                <div class="col-sm-7 col-lg-7">
                  <table cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                      <td><h5>Final Semester Thesis 2017.docx</h5>
                        <p>Level 1 Accessor: Jason Lin</p>
                        <p>Client: <a href="#">Adam Priestly</a></p></td>
                    </tr>
                  </table>
                </div>
                <div class="col-sm-5 col-lg-5 text-right">
                  <div class="right-content-block">
                    <div class="row">
                      <div class="col-xs-4 line">
                        <h5>Total Fees</h5>
                        &yen; 250 </div>
                      <div class="col-xs-4 line">
                        <h5>Target</h5>
                        12h 35m </div>
                      <div class="col-xs-4 line">
                        <h5>Assigned Date</h5>
                        12 JUL</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="expand-content">
              <h6>Case Details</h6>
              <div class="row">
                <div class="col-md-9 col-lg-9">
                  <ul class="case-d-list">
                    <li>Case ID:<br />
                      4342</li>
                    <li>Total Words:<br />
                      442</li>
                    <li>Service<br />
                      Premium</li>
                    <li>Language:<br />
                      English</li>
                    <li>File Size:<br />
                      204.3 KB</li>
                  </ul>
                </div>
                <div class="col-md-3 col-lg-3 right-btn"> <a href="javascript:;" class="btn btn-dark-gray btn-sm">Change Accessor</a> </div>
              </div>
              <h6>Case Timeline</h6>
              <div class="box-outer-div">
                <div class="row">
                  <div class="col-xs-6 col-sm-3 dot-status red">
                    <div class="box01">
                      <div>
                        <h4>12 Apr, 4:45 pm</h4>
                        <p>Document Submitted</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a> </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status blue">
                    <div class="box01">
                      <div>
                        <h4>12 Apr, 10:25 pm</h4>
                        <p>1st Level Accessment Completed</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Accessed File</a></div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status yellow">
                    <div class="box01">
                      <div>
                        <h4>13 Apr, 7:00 am</h4>
                        <p>2nd Level Accessment Completed</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Download File</a> </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status green">
                    <div class="box01">
                      <div>
                        <p>File not yet<br />
                          downloaded</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Cancel Case</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li> -->
        </ul>
        <!--Listing End-->
         
         <!--Transaction History-->
        <h3 class="title-sub-section uppercase">Transaction History</h3> 
        <div class="transaction-distory-list">
        	<div class="table-div">
            	<table class="" cellpadding="0" cellspacing="5">
                    <thead>
                        <tr>
                            <th width="60%"><div>Transaction Info</div></th>
                            <th width="20%"><div>Amount</div></th>
                            <th width="20%"><div>Outstanding Balance</div></th>
                        </tr>
                    </thead>
                	<tbody>
                    	<tr class="green">
                        	<td>
                            	<div><p>Completion of Case (ID: 3244)</p>	
                                <p>Date: 12 July, 4:45 PM</p></div>
                            </td>
                            <td class="amount">
                            	<div>
                                	 &yen; 500
                                </div>
                            </td>
                             <td>
                            	<div>
                                	 &yen; 500
                                </div>
                            </td>
                        </tr>
                        <tr class="red">
                        	<td>
                            	<div><p>Completion of Case (ID: 3244)</p>	
                                <p>Date: 12 July, 4:45 PM</p></div>
                            </td>
                            <td class="amount">
                            	<div>
                                	 &yen; 500
                                </div>
                            </td>
                             <td>
                            	<div>
                                	 &yen; 500
                                </div>
                            </td>
                        </tr>
                        <tr class="green">
                        	<td>
                            	<div><p>Completion of Case (ID: 3244)</p>	
                                <p>Date: 12 July, 4:45 PM</p></div>
                            </td>
                            <td class="amount">
                            	<div>
                                	 &yen; 500
                                </div>
                            </td>
                             <td>
                            	<div>
                                	 &yen; 500
                                </div>
                            </td>
                        </tr>
                        <tr class="green">
                        	<td>
                            	<div><p>Completion of Case (ID: 3244)</p>	
                                <p>Date: 12 July, 4:45 PM</p></div>
                            </td>
                            <td class="amount">
                            	<div>
                                	 &yen; 500
                                </div>
                            </td>
                             <td>
                            	<div>
                                	 &yen; 500
                                </div>
                            </td>
                        </tr>	
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
  </section>
</article>
