<section class="section">
	<div class="container">
		<div class="my-account">
			<div class="title">
				GENERAL INFORMATION
			</div>
			<div class="back-white details">
				<div class="profile-section text-center">
					<div class="img">
						<img src="assets/images/user.jpg">
					</div>
					<div class="update-btn">
						<div class="btn-file">
							<span class="btn btn-sm upload-btn">
								<span class="upload-file">
									<i class="sci-Edit-icon">
									</i> Update Photo
									<input type="file" name="">
								</span>
							</span>
						</div>
					</div>
					<div class="">
						<span>Reporting Officer:</span>
					</div>
					<div>
						<label>Lewis Howes</label>
					</div>
				</div>
				<div class="profile-details">
					<form>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<input type="" name="" placeholder="First Name" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="" name="" placeholder="Last Name" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="" name="" placeholder="Email Address" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="" name="" placeholder="Phone Number" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<div class="date form-control" data-provide="datepicker">
										<input type="text" name="singledate-picker" value="10/24/1984" class="form-control">
										<i class="sci-calendar"></i>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<a class="btn btn-sm">
										<i class="sci-Upload">
										</i>Update Info
									</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="my-account section">
			<div class="title">
				UPDATE PASSWORD
			</div>
			<div class="back-white details">
				<div class="pwd-details">
					<form>
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group">
									<input type="" name="" placeholder="current Password" class="form-control">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<input type="" name="" placeholder="New Password" class="form-control">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<input type="" name="" placeholder="Confirm Password" class="form-control">
								</div>
							</div>
							<div class="col-sm-12">
								<div class="">
									<a class="btn btn-sm">
										<i class="sci-Upload">
										</i>Update Password
									</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>