<section class="section cases special-cases pr-accessor-my-job level">
	<div class="container">
		<div class="tab-section">
			<ul class="nav nav-tabs">
				<li class="active">
					<a data-toggle="tab" href="javascript:void(0)#myjobs" aria-expanded="true" class="btn">My Jobs</a>
				</li>
				<li class="">
					<a data-toggle="tab" href="javascript:void(0)#earnings" aria-expanded="false" class="btn">Earnings & Statistics</a>
				</li>
				<li class="">
					<a data-toggle="tab" href="javascript:void(0)#team-info" aria-expanded="false" class="btn">Team Info</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="myjobs" class="tab-pane fade active in">
					<div class="my-cases unsiggned-case new-case">
						<div class="sub-header text-red margin-bt20 special-case-header">
							New Case(s)
						</div>
						<ul class="list-unstyled panel-group new-cases" id="accordion">
							<li class="panel margin-zero">
								<div class="media">
									<div class="media-left">
										<div class="icon">
											<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
										</div>
									</div>
									<div class="media-body case-dec">
										<div class="left-side">
											<div class="sub-header text-black margin-zero">[[case.pr_case.case_original_file_name]]</div>
											<div>Case Submitted:<span>  [[case.pr_case.case_created_at]] </span></div>
											<div>Total Words: <span> [[case.pr_case.total_words]] </span></div>
										</div>
										<div class="right-side pull-right pd-zero">
											<ul class="list-unstyled list-inline">
												<li class="border-right">
													<div>Total Fees:</div>
													<div><b>&yen;[[case.pr_case.total_price]]</b></div>
												</li>
												<li class="border-right">
													<div>Target: </div>
													<div><b>[[case.pr_case.proof_reading_package.service_package]]</b></div>

												</li>
												<li class="">
													<div>Total Remaining:</div>
													<div><b>18h 12m</b></div>
												</li>
												<li class="group-btn box-list">
													<div class="box">
														<a class="btn btn-sm back-green" ng-click="Acceptcase(case.pr_case.id,1,case.id)"><i class="sci-accept"></i>  Accept</a>
														<a class="btn btn-sm" data-target="#reason-for-reject" data-toggle="modal"><i class="sci-reject"></i> Reject</a>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="my-cases delayed-caes ">
						<div class="sub-header text-red margin-bt20 special-case-header">
							Active Case(s)
						</div>
						<ul class="list-unstyled panel-group active-cases active-case" id="accordion">
							<li class="panel margin-zero" ng-if="active">
								<div class="media">
									<div class="media-left">
										<div class="icon">
											<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
										</div>
									</div>
									<div class="media-body case-dec">
										<div class="left-side">
											<div class="sub-header text-black margin-zero">[[case.pr_case.case_original_file_name]]</div>
											<div>Case Created: <span>  [[case.pr_case.case_created_at]] </span></div>
											<div>Total Words: <span>[[case.total_words]]</div>
										</div>
										<div class="right-side pull-right">
											<ul class="list-unstyled list-inline">
												<li class="border-right">
													<div>Total Fees:</div>
													<div><b>&yen;[[case.pr_case.total_price]]</b></div>
												</li>
												<li class="border-right">
													<div>Target: </div>
													<div><b>[[case.pr_case.proof_reading_package.service_package]] hrs</b></div>
												</li>
												<li class="">
													<div>Time Taken:</div>
													<div><b>18h 12m</b></div>
												</li>
											</ul>
										</div>
										<span class="icon-dd remove">
											<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
											<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-[[case.pr_case.id]]" class="collapsed" aria-expanded="false">
												<i class="sci-down-arrow down"></i>
												<i class="sci-down-up up"></i>
											</a>
										</span>
									</div>
								</div>
								<div id="case-details-[[case.pr_case.id]]" class="panel-collapse collapse in" aria-expanded="true" style="">
									<div class="sub-header pd-tp20 border-tp margin-tp30 text-red">CASE DETAILS</div>
									<ul class="list-unstyled list-inline case-list">
										<li class="">
											<div>Case ID:</div>
											<div><b>[[case.pr_case.id]]</b></div>
										</li>
										<li class="">
											<div>Language: </div>
											<div><b>[[case.pr_case.file_language]]</b></div>
										</li>
										<li class="">
											<div>Service: </div>
											<div ng-if="case.pr_case.package_type == 1"><b>Standard</b></div>
											<div ng-if="case.pr_case.package_type == 2"><b>Premium</b></div>
										</li>
										<li class="">
											<div>File Size: </div>
											<div><b>[[case.pr_case.case_file_size]] KB</b></div>
										</li>
										<li class="change-btn" ng-if="PRADMINDATA.level_type == 1">
											<a class="btn btn-sm help-button" ng-click="Helpme(case,PRADMINDATA)"><i class="sci-notice"></i> HELP ME</a>
										</li>
									</ul>
									<div class="sub-header pd-tp10 margin-zero text-red">CASE TIMELINE</div>
									<ul class="list-unstyled list-inline progress-indicator">
										<li class="submitted">
											<span class="bubble [[case.pr_case.case_class]]"></span>
											<div class="timeline-details">
												<b>[[case.pr_case.document_submitted_at]]</b>
												<div>Document Submitted</div>
												<div class="btn-file">
													<a class="btn" download target="_self" href="resources/assets/images/video-viewing.jpg"><i class="sci-download"></i> Original file </a>
												</div>
											</div>
										</li>
										<li class="completed-1">
											<div ng-if="case.pr_case.accessment.accessor_one_case_bubble && PRADMINDATA.level_type == 1">
												<span class="bubble [[case.pr_case.accessment.accessor_one_case_bubble]]"></span>
												<div class="timeline-details">
													<b>[[case.pr_case.accessment.accessor_one_time]]</b>
													<div>Accepted by You for Level 1 Accessment</div>
												</div>	
											</div>
											<div ng-if="case.pr_case.accessment.accessor_two_case_bubble && PRADMINDATA.level_type == 2">
												<span class="bubble [[case.pr_case.accessment.accessor_two_case_bubble]]"></span>
												<div class="timeline-details">
													<b>[[case.pr_case.accessment.accessor_two_time]]</b>
													<div>Assigned to You for Accessment</div>
												</div>	
											</div>
										</li>
										<li class="completed-2">
											<span class="bubble back-gray"></span>
											<div class="timeline-details">
												<div>Upload finished file when ready</div>
												<div class="btn-file">
													<button class="btn upload_accessed" href="javascript:void(0)">
														<i class="sci-Upload"></i> Upload File
														<span id="fileuploader" >
														</span>
													 </button>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="panel margin-zero" ng-repeat="case in active_case">
								<div class="media">
									<div class="media-left">
										<div class="icon">
											<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
										</div>
									</div>
									<div class="media-body case-dec">
										<div class="left-side">
											<div class="sub-header text-black margin-zero">[[case.case_original_file_name]]</div>
											<div>Case Created: <span>  [[case.case_created_at]] </span></div>
											<div>Total Words: <span>[[case.total_words]]</div>
										</div>
										<div class="right-side pull-right">
											<ul class="list-unstyled list-inline">
												<li class="border-right">
													<div>Total Fees:</div>
													<div><b>&yen;[[case.total_price]]</b></div>
												</li>
												<li class="border-right">
													<div>Target: </div>
													<div><b>[[case.proof_reading_package.service_package]] hrs</b></div>
												</li>
												<li class="">
													<div>Time Taken:</div>
													<div><b>18h 12m</b></div>
												</li>
											</ul>
										</div>
										<span class="icon-dd remove">
											<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
											<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-[[case.pr_case.id]]" class="collapsed" aria-expanded="false">
												<i class="sci-down-arrow down"></i>
												<i class="sci-down-up up"></i>
											</a>
										</span>
									</div>
								</div>
								<div id="case-details-[[case.pr_case.id]]" class="panel-collapse collapse in" aria-expanded="true" style="">
									<div class="sub-header pd-tp20 border-tp margin-tp30 text-red">CASE DETAILS</div>
									<ul class="list-unstyled list-inline case-list">
										<li class="">
											<div>Case ID:</div>
											<div><b>[[case.id]]</b></div>
										</li>
										<li class="">
											<div>Language: </div>
											<div><b>[[case.file_language]]</b></div>
										</li>
										<li class="">
											<div>Service: </div>
											<div ng-if="case.package_type == 1"><b>Standard</b></div>
											<div ng-if="case.package_type == 2"><b>Premium</b></div>
										</li>
										<li class="">
											<div>File Size: </div>
											<div><b>[[case.case_file_size]] KB</b></div>
										</li>
										<li class="change-btn">
											<a class="btn btn-sm" ng-click="Helpme(case,PRADMINDATA)"><i class="sci-help-btn"></i>
												HELP ME
											</a>
										</li>
									</ul>
									<div class="sub-header pd-tp10 margin-zero text-red">CASE TIMELINE</div>
									<ul class="list-unstyled list-inline progress-indicator">
										<li class="submitted">
											<span class="bubble [[case.case_class]]"></span>
											<div class="timeline-details">
												<b>[[case.document_submitted_at]]</b>
												<div>Document Submitted</div>
												<div class="btn-file">
													<a class="btn" download target="_self" href="resources/assets/images/video-viewing.jpg"><i class="sci-download"></i> Original file </a>
												</div>
											</div>
										</li>
										<li class="completed-1">
											<span class="bubble back-blue"></span>
											<div class="timeline-details">
												<b>12 Apr, 4:45 pm</b>
												<div>Accepted by You for Level 1 Accessment</div>
											</div>
										</li>
										<li class="completed-2">
											<span class="bubble back-gray"></span>
											<div class="timeline-details">
												<b>12 Apr, 4:45 pm</b>
												<div>Upload finished file when ready</div>
												<div class="update-btn">
													<span class="btn-file">
														<div class="fileinput fileinput-new" data-provides="fileinput">
															<span class="btn btn-sm upload-btn">
																<span class="fileinput-new">
																	<i class="sci-Edit-icon"></i>
																	Upload Photo
																</span>
																<span class="fileinput-exists">
																	Change
																</span>
																<input type="hidden">
																<input type="hidden">
																<input type="hidden" value="" name="..."><input type="hidden" value="" name=""><input type="file" name="">
															</span>
															<span class="fileinput-filename"></span>
															<a href="#" class="close fileinput-exists" data-dismiss="fileinput">
																×
															</a>
														</div>
													</span>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>
						<ul class="list-unstyled panel-group" ng-if="active == false">
							<li class="panel">
								<div class="media-body case-dec">
									<div class="left-side">
										<div class="sub-header text-black margin-zero">No active cases</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="my-cases high-word-count-case">
						<div class="sub-header text-red margin-bt20 special-case-header">
							Completed Case(s)
						</div>
						<ul class="list-unstyled panel-group completed-cases" id="accordion" ng-if="completedCasesCount > 0">
							<li class="panel margin-zero" ng-repeat="completedcase in completedCases">
								<div class="media">
									<div class="media-left">
										<div class="icon">
											<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
										</div>
									</div>
									<div class="media-body case-dec">
										<div class="left-side">
											<div class="sub-header text-black margin-zero">[[completedcase.pr_case.case_original_file_name]]</div>
											<div>Case Created: <span>  [[completedcase.pr_case.case_created_at]] </span></div>
											<div>Total Words: <span>[[completedcase.pr_case.total_words]]</div>
										</div>
										<div class="right-side pull-right">
											<ul class="list-unstyled list-inline">
												<li class="border-right">
													<div>Total Fees:</div>
													<div><b>&yen;[[completedcase.pr_case.total_price]]</b></div>
												</li>
												<li class="border-right">
													<div>Target: </div>
													<div><b>[[completedcase.pr_case.proof_reading_package.service_package]] hrs</b></div>
												</li>
												<li class="">
													<div>Total Remaining:</div>
													<div><b>18h 12m</b></div>
												</li>
											</ul>
										</div>
										<span class="icon-dd remove">
											<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
											<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details1" class="collapsed" aria-expanded="false">
												<i class="sci-down-arrow down"></i>
												<i class="sci-down-up up"></i>
											</a>
										</span>
									</div>
								</div>
								<div id="case-details1" class="panel-collapse collapse" aria-expanded="true" style="">
									<div class="sub-header pd-tp20 border-tp margin-tp30 text-red">CASE DETAILS</div>
									<ul class="list-unstyled list-inline case-list">
										<li class="">
											<div>Case ID:</div>
											<div><b>[[completedcase.pr_case.id]]</b></div>
										</li>
										<li class="">
											<div>Language: </div>
											<div><b>[[completedcase.pr_case.file_language]]</b></div>
										</li>
										<li class="">
											<div>Service: </div>
											<div ng-if="completedcase.pr_case.package_type ==1"><b>Standard</b></div>
											<div ng-if="completedcase.pr_case.package_type ==2"><b>Premium</b></div>
										</li>
										<li class="">
											<div>File Size: </div>
											<div><b>[[completedcase.pr_case.case_file_size]] KB</b></div>
										</li>
									</ul>
									<div class="sub-header pd-tp10 margin-zero text-red">CASE TIMELINE</div>
									<ul class="list-unstyled list-inline progress-indicator">
										<li class="submitted">
											<span class="bubble back-red"></span>
											<div class="timeline-details">
												<b>[[completedcase.pr_case.document_submitted_at]]</b>
												<div>Document Submitted</div>
												<!-- <div class="btn-file">
													<a class="btn" ng-click="download(completedcase.pr_case.case_file_name,completedcase.pr_case.id)"><i class="sci-download"></i> Original file </a>
													<a id="download_file_[[completedcase.pr_case.id]]" download></a>
												</div> -->
												<div class="btn-file">
													<button class="btn download-original" ng-click="download(completedcase,$index,4,'download-original')"><i class="sci-download"></i> Original file</button>
													<a id="download_accessed_file_[[completedcase.id]]" download></a>
												</div>
											</div>
										</li>
										<li class="completed-1">
											<span class="bubble back-blue"></span>
											<div class="timeline-details">
												<b>[[completedcase.case_accept_time]]</b>
												<div>Accepted by You for Accessment</div>
											</div>
										</li>
										<li class="completed-2">
											<span class="bubble back-green"></span>
											<div class="timeline-details">
												<b>[[completedcase.case_resolved_time]]</b>
												<div>Finished file submitted</div>
												<!-- <div class="btn-file">
													<a class="btn" ng-click="download(completedcase.case_file_name,completedcase.id)"><i class="sci-download"></i> Download file
													</a>
													<a id="download_file_[[completedcase.id]]" download></a>
												</div> -->
												<div class="btn-file">
													<button class="btn download-access2" ng-click="download(completedcase,$index,5,'download-access2')"><i class="sci-download"></i> Download file</button>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>
						<ul class="list-unstyled panel-group" ng-if="completedCasesCount == 0">
							<li class="panel">
								<div class="media-body case-dec">
									<div class="left-side">
										<div class="sub-header text-black margin-zero">No cases completed yet</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div id="earnings" class="tab-pane fade">
					<div class="panel my-cases">
						<ul class="list-unstyled list-inline margin-zero">
							<li class="">
								<label>Lifetime Earnings:</label>
								<div> &yen;550,450</div>
							</li>
							<li class="">
								<label>Total Cases:</label>
								<div> 645</div>
							</li>
							<li class="">
								<label>Avg Monthly Cases:</label>
								<div> 32</div>
							</li>
							<li class="">
								<label>Avg Case Value</label>
								<div>&yen; 450</div>
							</li>
							<li class="">
								<label>This Month's Earnings</label>
								<div>&yen; 4,054</div>
							</li>
						</ul>
					</div>
					<table class="table back-white">
						<thead>
							<tr>
								<th width="60%">Transaction Info</th>
								<th width="15%">Amount</th>
								<th width="15%">Outstanding Balance</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="transaction-details">
									<div class="list-dots-circle">
										<span class="circle back-green"></span>
										<div class="circle-space">
											<label>Completion of Case (ID: 3244)</label>
											<div>Date: 12 July, 4:45 PM</div>
										</div>
									</div>
								</td>
								<td> <b class="text-green">¥ 1000</b></td>
								<td><b>¥ 1300</b></td>
							</tr>
							<tr>
								<td class="transaction-details">
									<div class="list-dots-circle">
										<span class="circle back-red"></span>
										<div class="circle-space">
											<label>Payment Cleared</label>
											<div>Date: 12 July, 4:45 PM</div>
										</div>
									</div>
								</td>
								<td> <b class="text-red">¥ 500</b></td>
								<td><b>¥ 300</b></td>
							</tr>
							<tr>
								<td class="transaction-details">
									<div class="list-dots-circle">
										<span class="circle back-green"></span>
										<div class="circle-space">
											<label>Completion of Case (ID: 3244)</label>
											<div>Date: 12 July, 4:45 PM</div>
										</div>
									</div>
								</td>
								<td> <b class="text-green">¥ 300</b></td>
								<td><b>¥ 800</b></td>
							</tr>
							<tr>
								<td class="transaction-details">
									<div class="list-dots-circle">
										<span class="circle back-green"></span>
										<div class="circle-space">
											<label>Completion of Case (ID: 3244)</label>
											<div>Date: 12 July, 4:45 PM</div>
										</div>
									</div>
								</td>
								<td> <b class="text-green">¥ 500</b></td>
								<td><b>¥ 500</b></td>
							</tr>
							<tr>
								<td class="transaction-details">
									<div class="list-dots-circle">
										<span class="circle back-red"></span>
										<div class="circle-space">
											<label>Payment Cleared</label>
											<div>Date: 12 July, 4:45 PM</div>
										</div>
									</div>
								</td>
								<td> <b class="text-red">¥ 300</b></td>
								<td><b>¥ 500</b></td>
							</tr>
						</tbody>
					</table>
					<div class="pagination-section text-right">
						<span class="">
							<span class="status">
								<label class="margin-tp5">Showing 1 to 10 of 57 entries</label>
							</span>
							<ul class="pagination pager pull-right margin-zero">
								<li class=""><a href="javascript:void(0)"><i class="sci-arrow-left text-black"></i></a></li>
								<li class=""><a href="javascript:void(0)">1</a></li>
								<li class=""><a href="javascript:void(0)"><i class="sci-arrow-right text-black"></i></a></li>
							</ul>
						</span>
					</div>
				</div>
				<div id="team-info" class="tab-pane fade">
					<div class="">
						<div class="title">
							TEAM INFORMATION
						</div>
						<table class="table table-bordered back-white">
							<thead>
								<tr>
									<th>Name</th>
									<th>Email Address</th>
									<th>Phone Number</th>
									<th>Level</th>
									<th>Completed Cases</th>
									<th>Average Completion Time</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="team in accessorTeam.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
									<td>
										<div class="img">
											<img ng-src="[[team.image]]">
										</div>
										[[team.first_name]] [[team.last_name]]
									</td>
									<td>[[team.email_address]]</td>
									<td>[[team.phone_number]]</td>
									<td>Level [[team.level_type]]</td>
									<td>[[team.total_jobs_count]]</td>
									<td>12h 32m</td>
								</tr>
							</tbody>
						</table>
						<pagination total-items="totalItems" ng-model="currentPage" class="pagination-sm pagination pager pull-right margin-zero" items-per-page="itemsPerPage"></pagination>
						<!-- <div class="pagination-section text-right">
							<span class="">
								<span class="status">
									<label class="margin-tp5">Showing 1 to 10 of 57 entries</label>
								</span>
								<ul class="pagination pager pull-right margin-zero">
									<li class=""><a href="javascript:void(0)"><i class="sci-arrow-left text-black"></i></a></li>
									<li class=""><a href="javascript:void(0)">1</a></li>
									<li class=""><a href="javascript:void(0)"><i class="sci-arrow-right text-black"></i></a></li>
								</ul>
							</span>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="modal fade" role="modal" id="reason-for-reject">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3 class="modal-title">Reason for Rejection</h3>
			</div>
			<div class="modal-body">
				<form id="rejectcase" name="rejectcase" class="validation-form" ng-submit="rejectcase.Rejectcase()" novalidate>
					<textarea class="form-control" name="reason" id="reason" rows="4" placeholder="Mention your reason..." ng-model="comment" required></textarea>
					<div ng-show="rejectcase.reason.$error.required" class="help-block">Required</div>
					<div class="margin-tp15">
						<button type="submit" ng-disabled=!rejectcase.$valid class="btn btn-sm" ng-click="Rejectcase(case.pr_case.id,comment,2,case.id)">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>