<section class="section cases special-cases">
	<div class="container">
		<div class="title">
			SPECIAL CASES
		</div>
		<div class="my-cases unsiggned-case">
			<div class="sub-header text-red margin-bt20 special-case-header">
				Unassigned Case(s)
			</div>
			<ul class="list-unstyled panel-group" id="accordion" ng-repeat="unsiggnedcase in cases.unassigned_cases" ng-if="unassignedCasesCount > 0">
				<li class="panel" >
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">[[unsiggnedcase.case_original_file_name]]</div>
								<div>Level 1 Accessor : <span> UNASSIGNED </span></div>
								<div>Client :<span><a href="javascript:void(0)"> [[unsiggnedcase.case_user.first_name]] [[unsiggnedcase.case_user.last_name]]</a></span></div>
							</div>
							<div class="right-side pull-right">
								<ul class="list-unstyled list-inline">
									<li class="border-right">
										<div>Total Fees:</div>
										<div><b>&yen;[[unsiggnedcase.total_price]]</b></div>
									</li>
									<li class="border-right">
										<div>Target: </div>
										<div><b>[[unsiggnedcase.proof_reading_package.service_package]] hrs</b></div>
									</li>
									<li class="">
										<div>Total Remaining:</div>
										<div><b>18h 12m</b></div>
									</li>
								</ul>
							</div>
							<span class="icon-dd remove">
								<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-[[unsiggnedcase.id]]" class="collapsed" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
					<div id="case-details-[[unsiggnedcase.id]]" class="panel-collapse collapse in" aria-expanded="true" style="">
						<div class="sub-header pd-tp20 border-tp margin-tp30 text-red">CASE DETAILS</div>
						<ul class="list-unstyled list-inline case-list">
							<li class="">
								<div>Case ID:</div>
								<div><b>[[unsiggnedcase.id]]</b></div>
							</li>
							<li class="">
								<div>Total Words: </div>
								<div><b>[[unsiggnedcase.total_words]]</b></div>
							</li>
							<li class="">
								<div>Service: </div>
								<div ng-if="unsiggnedcase.package_type == 2"><b>Premium</b></div>
								<div ng-if="unsiggnedcase.package_type == 1"><b>Standard</b></div>
							</li>
							<li class="">
								<div>Language: </div>
								<div><b>[[unsiggnedcase.file_language]]</b></div>
							</li>
							<li class="">
								<div>File Size: </div>
								<div><b>[[unsiggnedcase.case_file_size]] KB</b></div>
							</li>
							<li class="change-btn" ng-if="unsiggnedcase.case_status == 1">
								<a class="btn" data-target="#available-accessor-unassigned-[[unsiggnedcase.id]]" data-toggle="modal"><i class="sci-My-Account"></i> Assign Accessor</a>
							</li>
						</ul>
						<div class="sub-header pd-tp10 margin-zero text-red">CASE TIMELINE</div>
						<ul class="list-unstyled list-inline progress-indicator">
							<li class="submitted">
								<span class="bubble back-red"></span>
								<div class="timeline-details">
									<b>[[unsiggnedcase.document_submitted_at]]</b>
									<div>Document Submitted</div>
									<div class="btn-file">
										<button class="btn download-original" ng-click="download(unsiggnedcase,$index,1,'download-original')"><i class="sci-download"></i> Original file</button>
										<a id="download_accessed_file_[[unsiggnedcase.id]]" download></a>
									</div>
								</div>
							</li>
							<li class="completed-1">
								<span class="bubble back-gray"></span>
								<div class="timeline-details">
									<i class="icon">
									<span class="sci-Time-And-file"></span>
									</i>
								</div>
							</li>
							<li class="completed-2">
								<span class="bubble back-gray"></span>
								<div class="timeline-details">
									<i class="icon">
									<span class="sci-Time-And-file"></span>
									</i>
								</div>
							</li>
							<li class="download">
								<span class="bubble back-gray"></span>
								<div class="timeline-details">
									<i class="icon">
									<span class="sci-Time-And-file"></span>
									</i>
									<div class="btn-file">
										<a class="btn cancel_[[unsiggnedcase.id]]" data-target="#cancel-case-unassigned-[[unsiggnedcase.id]]" data-toggle="modal"><i class="sci-cancel"></i> Cancel Case</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="modal fade" id="available-accessor-unassigned-[[unsiggnedcase.id]]">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">×</button>
									<h4 class="modal-title">Available Accessors</h4>
								</div>
								<div class="modal-body inline-block" ng-if="availableAccessorsLength > 0">
									<ul class="list-unstyled" ng-repeat="accessor in accessors">
										<li class="inline-block">
											<div class="pull-left">
												<div class="sub-header text-black margin-zero">[[accessor.first_name]] [[accessor.last_name]]</div>
												<div>
													<label>ID:</label>
													<span>
														<span>[[accessor.id]]</span>
														<span>(Level [[accessor.level_type]])</span>
														<span>(Team 1)</span>
													</span>
												</div>
											</div>
											<div class="pull-right">
												<a class="btn" ng-click="Assignaccessor(accessor.id,accessor,unsiggnedcase.id,unsiggnedcase.case_status,'unsiggned')">
													<i class="sci-file"></i> Assign
												</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="modal-body inline-block" ng-if="availableAccessorsLength==0">
									<ul class="list-unstyled">
										<li class="inline-block">
											<div class="pull-left">
												<h4 class="sub-header text-black margin-zero">No accessor available</h4>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="cancel-case-unassigned-[[unsiggnedcase.id]]">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close case_cancel" data-dismiss="modal">×</button>
									<h4 class="modal-title">Cancel Case - [[unsiggnedcase.case_original_file_name]]</h4>
								</div>
								<div class="modal-body inline-block">
									<form name="cancelcase" ng-submit="cancelcase.CancelCase()" novalidate class="validation-form">
										<input class="form-control" type="Text" name="cancel_reason" id="cancel_reason" ng-model="cancel_reason" required placeholder="Reason to cancel the file..">
										<div ng-show="cancelcase.cancel_reason.$error.required" class="help-block">Required</div>
										<button type="submit" class="btn btn-sm" ng-disabled=!cancelcase.$valid ng-click="CancelCase(cancel_reason,unsiggnedcase.case_user,unsiggnedcase.id)">Done</button>	
									</form>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<ul class="list-unstyled panel-group" ng-if="unassignedCasesCount==0">
				<li class="panel">
					<div class="media-body case-dec">
						<div class="left-side">
							<div class="sub-header text-black margin-zero">No unassigned cases</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="my-cases delayed-caes">
			<div class="sub-header text-red margin-bt20 special-case-header">
				Delayed Case(s)
			</div>
			<ul class="list-unstyled panel-group" id="accordion" ng-repeat="delayedcases in cases.delayed_cases" ng-if="delayedCasesCount > 0">
				<li class="panel margin-zero" >
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">[[delayedcases.case_original_file_name]]</div>
								<div>Level 1 Accessor : <span> UNASSIGNED </span></div>
								<div>Client :<span><a href="javascript:void(0)"> [[delayedcases.case_user.first_name]] [[delayedcases.case_user.last_name]] </a></span></div>
							</div>
							<div class="right-side pull-right">
								<ul class="list-unstyled list-inline">
									<li class="border-right">
										<div>Total Fees:</div>
										<div><b>&yen;[[delayedcases.total_price]]</b></div>
									</li>
									<li class="border-right">
										<div>Target: </div>
										<div><b>[[delayedcases.proof_reading_package.service_package]] hrs</b></div>
									</li>
									<li class="">
										<div>Total Remaining:</div>
										<div><b>18h 12m</b></div>
									</li>
								</ul>
							</div>
							<span class="icon-dd remove">
								<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-[[delayedcases.id]]" class="collapsed" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
					<div id="case-details-[[delayedcases.id]]" class="panel-collapse collapse" aria-expanded="true" style="">
						<div class="sub-header pd-tp20 border-tp margin-tp30 text-red">CASE DETAILS</div>
						<ul class="list-unstyled list-inline case-list">
							<li class="">
								<div>Case ID:</div>
								<div><b>[[delayedcases.id]]</b></div>
							</li>
							<li class="">
								<div>Total Words: </div>
								<div><b>[[delayedcases.total_words]]</b></div>
							</li>
							<li class="">
								<div>Service: </div>
								<div ng-if="delayedcases.package_type == 2"><b>Premium</b></div>
								<div ng-if="delayedcases.package_type == 1"><b>Standard</b></div>
							</li>
							<li class="">
								<div>Language: </div>
								<div><b>[[delayedcases.file_language]]</b></div>
							</li>
							<li class="">
								<div>File Size: </div>
								<div><b>[[delayedcases.case_file_size]] KB</b></div>
							</li>
							<li class="change-btn" ng-if="delayedcases.case_status == 5">
								<a class="btn" data-target="#available-accessor-delayed-[[delayedcases.id]]" data-toggle="modal"><i class="sci-My-Account"></i> Change Accessor</a>
							</li>
						</ul>
						<div class="sub-header pd-tp10 margin-zero text-red">CASE TIMELINE</div>
						<ul class="list-unstyled list-inline progress-indicator">
							<li class="submitted">
								<span class="bubble back-red"></span>
								<div class="timeline-details">
									<b>[[delayedcases.document_submitted_at]]</b>
									<div>Document Submitted</div>
									<button class="btn download-original" ng-click="download(delayedcases,$index,1,'download-original')"><i class="sci-download"></i> Original file</button>
									<a id="download_accessed_file_[[delayedcases.id]]" download></a>
								</div>
							</li>
							<li class="completed-1">
								<div ng-if="!delayedcases.accessor_one_time">
									<span class="bubble back-gray"></span>
									<div class="timeline-details">
										<i class="icon">
											<span class="sci-Time-And-file"></span>
										</i>
									</div>
								</div>
								<div ng-if="delayedcases.accessor_one_time">
									<span class="bubble [[delayedcases.accessor_one_case_bubble]]"></span>
									<div class="timeline-details">
										<b>[[delayedcases.accessor_one_time]]</b>
										<div>1st Level Accessment Completed</div>
									</div>	
								</div>
							</li>
							<li class="completed-2">
								<div ng-if="!delayedcases.accessor_two_time">
									<span class="bubble back-gray"></span>
									<div class="timeline-details">
										<i class="icon">
											<span class="sci-Time-And-file"></span>
										</i>
									</div>
								</div>
								<div ng-if="delayedcases.accessor_two_time">
									<span class="bubble [[delayedcases.accessor_two_case_bubble]]"></span>
									<div class="timeline-details">
										<b>[[delayedcases.accessor_two_time]]</b>
										<div>2nd Level Accessment Completed</div>
										<a download target="_self" href="resources/assets/images/video-viewing.jpg" class="btn cancel_btn">Download File</a>
									</div>	
								</div>
							</li>
							<li class="download">
								<div ng-if="delayedcases.case_status != 4">
									<span class="bubble back-gray"></span>
									<div class="timeline-details">
										<i class="icon">
											<span class="sci-Time-And-file"></span>
										</i>
										<a ng-if="delayedcases.case_status == 5" class="btn cancel_btn" data-target="#cancel-case-delayed-[[delayedcases.id]]" data-toggle="modal"><i class="sci-cancel"></i> Cancel Case</a>
									</div>
								</div>
								<div ng-if="delayedcases.case_status == 4">
									<span class="bubble [[delayedcases.file_download_bubble]]"></span>
									<div class="timeline-details">
										<div>[[delayedcases.file_downloaded]]</div>
									</div>	
								</div>
							</li>
						</ul>
					</div>
					<div class="modal fade" id="available-accessor-delayed-[[delayedcases.id]]">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">×</button>
									<h4 class="modal-title">Available Accessors</h4>
								</div>
								<div class="modal-body inline-block" ng-if="availableAccessorsLength > 0">
									<ul class="list-unstyled" ng-repeat="accessor in accessors">
										<li class="inline-block">
											<div class="pull-left">
												<div class="sub-header text-black margin-zero">[[accessor.first_name]] [[accessor.last_name]]</div>
												<div>
													<label>ID:</label>
													<span>
														<span>[[accessor.id]]</span>
														<span>(Level [[accessor.level_type]])</span>
														<span>(Team 1)</span>
													</span>
												</div>
											</div>
											<div class="pull-right">
												<a class="btn" ng-click="Assignaccessor(accessor.id,accessor,delayedcases.id,delayedcases.case_status,'delayed')">
													<i class="sci-file"></i> Assign
												</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="modal-body inline-block" ng-if="availableAccessorsLength==0">
									<ul class="list-unstyled">
										<li class="inline-block">
											<div class="pull-left">
												<h4 class="sub-header text-black margin-zero">No accessor available</h4>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="cancel-case-delayed-[[delayedcases.id]]">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close case_cancel" data-dismiss="modal">×</button>
									<h4 class="modal-title">Cancel Case - [[delayedcases.case_original_file_name]]</h4>
								</div>
								<div class="modal-body inline-block">
									<form name="cancelcase" ng-submit="cancelcase.CancelCase()" novalidate class="validation-form">
										<input class="form-control" type="Text" name="cancel_reason" id="cancel_reason" ng-model="cancel_reason" required placeholder="Reason to cancel the file..">
										<div ng-show="cancelcase.cancel_reason.$error.required" class="help-block">Required</div>
										<button type="submit" class="btn btn-sm" ng-disabled=!cancelcase.$valid ng-click="CancelCase(cancel_reason,delayedcases.case_user,delayedcases.id)">Done</button>	
									</form>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<ul class="list-unstyled panel-group" ng-if="delayedCasesCount==0">
				<li class="panel">
					<div class="media-body case-dec">
						<div class="left-side">
							<div class="sub-header text-black margin-zero">No delayed cases</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="my-cases high-word-count-case">
			<div class="sub-header text-red margin-bt20 special-case-header">
				High Word Count Case(s)
			</div>
			<ul class="list-unstyled panel-group" id="accordion" ng-repeat="highwordcount in cases.higher_word_count_cases" ng-if="higherWordCountCasesCount > 0">
				<li class="panel margin-zero" >
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">[[highwordcount.case_original_file_name]]</div>
								<div>Level 1 Accessor : <span> UNASSIGNED </span></div>
								<div>Client :<span><a href="javascript:void(0)"> [[highwordcount.case_user.first_name]] [[highwordcount.case_user.last_name]] </a></span></div>
							</div>
							<div class="right-side pull-right">
								<ul class="list-unstyled list-inline">
									<li class="border-right">
										<div>Total Fees:</div>
										<div><b>&yen;[[highwordcount.total_price]]</b></div>
									</li>
									<li class="border-right">
										<div>Target: </div>
										<div><b>[[highwordcount.proof_reading_package.service_package]] hrs</b></div>
									</li>
									<li class="">
										<div>Total Remaining:</div>
										<div><b>18h 12m</b></div>
									</li>
								</ul>
							</div>
							<span class="icon-dd remove">
								<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-[[highwordcount.id]]" class="collapsed" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
					<div id="case-details-[[highwordcount.id]]" class="panel-collapse collapse" aria-expanded="true" style="">
						<div class="sub-header pd-tp20 border-tp margin-tp30 text-red">CASE DETAILS</div>
						<ul class="list-unstyled list-inline case-list">
							<li class="">
								<div>Case ID:</div>
								<div><b>[[highwordcount.id]]</b></div>
							</li>
							<li class="">
								<div>Total Words: </div>
								<div><b>[[highwordcount.total_words]]</b></div>
							</li>
							<li class="">
								<div>Service: </div>
								<div ng-if="highwordcount.package_type == 2"><b>Premium</b></div>
								<div ng-if="highwordcount.package_type == 1"><b>Standard</b></div>
							</li>
							<li class="">
								<div>Language: </div>
								<div><b>[[highwordcount.file_language]]</b></div>
							</li>
							<li class="">
								<div>File Size: </div>
								<div><b>[[highwordcount.case_file_size]] KB</b></div>
							</li>
							<li class="change-btn" ng-if="highwordcount.case_status == 1">
								<a class="btn" data-target="#available-accessor-highwordcount-[[highwordcount.id]]" data-toggle="modal"><i class="sci-My-Account"></i> Assign Accessor</a>
							</li>
						</ul>
						<div class="sub-header pd-tp10 margin-zero text-red">CASE TIMELINE</div>
						<ul class="list-unstyled list-inline progress-indicator">
							<li class="submitted">
								<span class="bubble back-red"></span>
								<div class="timeline-details">
									<b>[[highwordcount.document_submitted_at]]</b>
									<div>Document Submitted</div>
									<button class="btn download-original" ng-click="download(highwordcount,$index,1,'download-original')"><i class="sci-download"></i> Original file</button>
									<a id="download_accessed_file_[[highwordcount.id]]" download></a>
								</div>
							</li>
							<li class="completed-1">
								<div ng-if="!highwordcount.accessor_one_time">
									<span class="bubble back-gray"></span>
									<div class="timeline-details">
										<i class="icon">
											<span class="sci-Time-And-file"></span>
										</i>
									</div>
								</div>
								<div ng-if="highwordcount.accessor_one_time">
									<span class="bubble [[highwordcount.accessor_one_case_bubble]]"></span>
									<div class="timeline-details">
										<b>[[highwordcount.accessor_one_time]]</b>
										<div>1st Level Accessment Completed</div>
										<a class="btn cancel_btn">Accessed File</a>
									</div>	
								</div>
							</li>
							<li class="completed-2">
								<div ng-if="!highwordcount.accessor_two_time">
									<span class="bubble back-gray"></span>
									<div class="timeline-details">
										<i class="icon">
											<span class="sci-Time-And-file"></span>
										</i>
									</div>
								</div>
								<div ng-if="highwordcount.accessor_two_time">
									<span class="bubble [[highwordcount.accessor_two_case_bubble]]"></span>
									<div class="timeline-details">
										<b>[[highwordcount.accessor_two_time]]</b>
										<div>2nd Level Accessment Completed</div>
										<a download target="_self" href="resources/assets/images/video-viewing.jpg" class="btn cancel_btn">Download File</a>
									</div>	
								</div>
							</li>
							<li class="download">
								<div ng-if="highwordcount.case_status != 4">
									<span class="bubble back-gray"></span>
									<div class="timeline-details">
										<i class="icon">
											<span class="sci-Time-And-file"></span>
										</i>
										<a ng-if="highwordcount.case_status == 1" class="btn cancel_btn" data-target="#cancel-case-highwordcount-[[highwordcount.id]]" data-toggle="modal"><i class="sci-cancel"></i> Cancel Case</a>
									</div>
								</div>
								<div ng-if="highwordcount.case_status == 4">
									<span class="bubble [[highwordcount.file_download_bubble]]"></span>
									<div class="timeline-details">
										<div>[[highwordcount.file_downloaded]]</div>
									</div>	
								</div>
							</li>
						</ul>
					</div>
					<div class="modal fade" id="available-accessor-highwordcount-[[highwordcount.id]]">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">×</button>
									<h4 class="modal-title">Available Accessors</h4>
								</div>
								<div class="modal-body inline-block" ng-if="availableAccessorsLength > 0">
									<ul class="list-unstyled" ng-repeat="accessor in accessors">
										<li class="inline-block">
											<div class="pull-left">
												<div class="sub-header text-black margin-zero">[[accessor.first_name]] [[accessor.last_name]]</div>
												<div>
													<label>ID:</label>
													<span>
														<span>[[accessor.id]]</span>
														<span>(Level [[accessor.level_type]])</span>
														<span>(Team 1)</span>
													</span>
												</div>
											</div>
											<div class="pull-right">
												<a class="btn" ng-click="Assignaccessor(accessor.id,accessor,highwordcount.id,highwordcount.case_status,'higherWordCount')">
													<i class="sci-file"></i> Assign
												</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="modal-body inline-block" ng-if="availableAccessorsLength==0">
									<ul class="list-unstyled">
										<li class="inline-block">
											<div class="pull-left">
												<h4 class="sub-header text-black margin-zero">No accessor available</h4>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="cancel-case-highwordcount-[[highwordcount.id]]">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close case_cancel" data-dismiss="modal">×</button>
									<h4 class="modal-title">Cancel Case - [[highwordcount.case_original_file_name]]</h4>
								</div>
								<div class="modal-body inline-block">
									<form name="cancelcase" ng-submit="cancelcase.CancelCase()" novalidate class="validation-form">
										<input class="form-control" type="Text" name="cancel_reason" id="cancel_reason" ng-model="cancel_reason" required placeholder="Reason to cancel the file..">
										<div ng-show="cancelcase.cancel_reason.$error.required" class="help-block">Required</div>
										<button type="submit" class="btn btn-sm" ng-disabled=!cancelcase.$valid ng-click="CancelCase(cancel_reason,highwordcount.case_user,highwordcount.id)">Done</button>	
									</form>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<ul class="list-unstyled panel-group" ng-if="higherWordCountCasesCount==0">
				<li class="panel">
					<div class="media-body case-dec">
						<div class="left-side">
							<div class="sub-header text-black margin-zero">No higher word count cases</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>