<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-7">
          <h3 class="panel-title uppercase">Promo codes</h3>
        </div>
        <div class="col-sm-5 text-right">
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div id="" class="">      
         <form id="newWorkSheetForm">
          <div class="content-div">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Promo Code</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <div class="row">
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="promo_code" id="promo_code" ng-model="promo.promo_code">
                      </div>
                      <div class="col-sm-2 dice_class hand-cursor" id="dice_shake" ng-click="Generatepromo()">
                        <img src="resources/assets/images/dice.svg">
                      </div>
                    </div>
                  </div>  
                </div>
                <div class="col-md-6">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Remarks</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <input type="text" class="form-control" name="remarks" id="remarks" ng-model="promo.remarks">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Product</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <select class="form-control" ng-model="promo.module" id="distributor" name="module" ng-change="getModule(promo.module)">
                      <option data-ng-value="">Select Product..</option>
                      <option data-ng-value="0">Ignite</option>
                      <option data-ng-value="1">Twinkle</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Category</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <select class="form-control languageselect" ng-model="promo.category" id="category" name="category[]" multiple="multiple">
                      <option ng-repeat="category in categories" ng-value="category.id">[[category.category_name]]</option>
                    </select>
                  </div>  
                </div>
              </div>
            </div>
            <div class="form-group" ng-if="promo.module != 1">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Distributor</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <select class="form-control" ng-model="promo.distributor" id="distributor" name="distributor">
                      <option value="">Select Distributor..</option>
                      <option ng-repeat="distributor in distributors" ng-value="distributor.id">[[distributor.company_name]]</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <div class="col-md-2 col-lg-2">
                    <label class="label bold">Type of Discount</label>
                  </div>  
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <div class="col-sm-3">
                    <span class="custom-radio3">
                      <input class="radioCategory" type="radio" name="discount_type" ng-model="promo.discount_type" ng-change="Radiochange(0)" id="discount_percent_radio" ng-value="0" />
                      <label for="discount_percent_radio">% Discount</label>
                    </span> 
                    <!-- <input type="radio" name="discount_type" value="0">  -->
                    <!-- <label class="label">% Discount</label> -->
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control category_price" name="discount_percent" id="discount_percent" ng-change="Radiochange(0)" ng-model="promo.discount_percent">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="col-sm-3">
                    <span class="custom-radio3">
                      <input class="radioCategory" type="radio" name="discount_type" ng-model="promo.discount_type" ng-change="Radiochange(1)" id="discount_price_radio" ng-value="1" />
                      <label for="discount_price_radio">$ Discount</label>
                    </span> 
                    <!-- <input type="radio" name="discount_type" value="1"> $ Discount -->
                    <!-- <label class="label">$ Discount</label> -->
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control category_price" name="discount_price" id="discount_price" ng-change="Radiochange(1)" ng-model="promo.discount_price">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <div class="col-md-2 col-lg-2">
                    <label class="label bold">Periods of Validity</label>
                  </div>  
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <div class="col-sm-3">
                    <label class="label">From</label>
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control fromTime" name="from_date" id="from_date" ng-model="promo.from_date">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="col-sm-3">
                    <label class="label">To</label>
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control toTime" name="to_date" id="to_date" ng-model="promo.to_date">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <div class="col-md-2 col-lg-2">
                    <label class="label bold">Limit of Redemptions</label>
                  </div>  
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <div class="col-sm-3">
                    <label class="label">No. of Redemptions</label>
                  </div>
                  <div class="col-sm-2">
                    <div id="checkbox_div" class="custom_checkbox_div">
                      <input type="checkbox" name="infinite_redemption" ng-change="Changeredemption(promo.redemption_type)" ng-model="promo.redemption_type" id="infinite_redemption" />
                      <span class="custom_checkbox_span"></span>
                      <label class="text" for="infinite_redemption">Infinite</label>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control category_price" name="redemption_count" ng-disabled="promo.redemption_type" id="redemption_count" ng-model="promo.redemption_count">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <div class="col-md-2 col-lg-2">
                    <label class="label bold">Promo Type</label>
                  </div>  
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <div class="col-sm-3">
                    <span class="custom-radio3">
                      <input class="radioCategory" type="radio" name="promo_type" ng-model="promo.promo_type" id="promo_type_individual" ng-value="0" />
                      <label for="promo_type_individual">Individual</label>
                    </span> 
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="col-sm-3">
                    <span class="custom-radio3">
                      <input class="radioCategory" type="radio" name="promo_type" ng-model="promo.promo_type" id="promo_type_bundle" ng-value="1" />
                      <label for="promo_type_bundle">Bundle</label>
                    </span> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-div">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <button class="btn btn-pink upload-new-work-sheet saveCategory" id="save" ng-click="Savepromo(promo)">Publish</button>
                </div>
              </div>
            </div>
          </div>
      </div>    
    </div>
  </div>
</section>
