<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-12">
          <h3 class="panel-title">Add Twinkle Subscriber</h3>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <form id="newSubscriberForm" name="newSubscriberForm" novalidate="">
        <div class="content-div">
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-3">
                <label class="label">First Name</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="text" ng-model="first_name" id="first_name" name="first_name" placeholder="First Name" class="form-control"
                  required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-3">
                <label class="label">Last Name</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="text" ng-model="last_name" id="last_name" name="last_name" placeholder="Last Name" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-3">
                <label class="label">Select Type</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <div class="col-md-6 col-lg-6">
                  <label class="label col-md-6 col-lg-6">Email Address</label>
                  <input type="radio" class="col-md-6 col-lg-6" ng-model="is_email" ng-value="1" id="is_email" name="is_email" class="form-control" ng-click="changeLabel(1)" required>
                </div>
                <div class="col-md-6 col-lg-6">
                  <label class="label col-md-6 col-lg-6">Username</label>
                  <input type="radio" class="col-md-6 col-lg-6" ng-model="is_email" ng-value="0" id="is_email" name="is_email" class="form-control" ng-click="changeLabel(0)" required>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-3">
                <label class="label" id="email_label">Email Address / Username</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input ng-model="email_address" id="email_address" name="email_address" placeholder="Email Address OR Username" class="form-control">
                <label ng-if="newSubscriberForm.email_address.$invalid" style="color: red; font-size: 12px;">Please Enter A Valid Email Address</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-3">
                <label class="label">Generate Password</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="text" ng-model="generated_password" id="generated_password" name="generated_password" class="form-control" ng-readonly="true">
                <div class="col-sm-2 dice_class hand-cursor" id="dice_shake" ng-click="generatePassword()">
                  <img src="resources/assets/images/dice.svg">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-3">
                <label class="label">Contact Number</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="text" numbers-only ng-model="contact" id="contact" name="contact" placeholder="Contact Number" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-3">
                <label class="label">DOB</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="test" class="form-control" name="dob" ng-model="dob" ng-change=calculateAge(dob) placeholder="[['lbl_dob'|translate]]" id="datepicker" onkeydown="return false">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-3">
                <label class="label">Country</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <select class="form-control upper-space" name="country_id" id="country_id" ng-model="country_id" required>
                  <option value="">Select Country</option>
                  <option ng-repeat="country in countrycitydata.country" value="[[country.id]]">[[country.name]]</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-3">
                <label class="label">Province</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <select class="form-control upper-space" name="provience_id" id="state_id" ng-model="state_id">
                  <option value="">Select Province</option>
                  <option ng-repeat="state in states" value="[[state.id]]">[[state.name]]</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-3">
                <label class="label">City</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <select class="form-control upper-space" name="city_id" id="city_id" ng-model="city_id">
                  <option value="">Select City</option>
                  <option ng-repeat="city in cities" value="[[city.id]]">[[city.name]]</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="content-div">
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-3"> </div>
              <div class="col-md-10 col-lg-9">
                <button class="btn btn-pink add-new-subscriber" ng-click="addNewDistributor()" ng-disabled="newSubscriberForm.email_address.$invalid">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>