<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-12">
          <h3 class="panel-title">Add Distributor</h3>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <form id="newDistributorForm" novalidate="">
        <div class="content-div">
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Company Name</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="text" ng-model="company_name" id="company_name" name="company_name" placeholder="Company Name" class="form-control"
                  required>
              </div>
            </div>
          </div>
          <!-- <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Last Name</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="text" ng-model="last_name" id="last_name" name="last_name" placeholder="Last Name" class="form-control" required>
              </div>
            </div>
          </div> -->
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Email Address</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="email" ng-model="email_address" id="email_address" name="email_address" placeholder="Email Address" class="form-control"
                  required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Contact Number</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="number" ng-model="contact" id="contact" name="contact" placeholder="Contact Number" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">New Sales Commissions</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="number" ng-model="commission_percentage" id="commission_percentage" name="commission_percentage" placeholder="New Sales Commissions (%)" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Renewal Commissions</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="number" ng-model="renewal_commission_percentage" id="renewal_commission_percentage" name="renewal_commission_percentage" placeholder="Renewal Commissions (%)" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Country</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <select class="form-control upper-space" name="country_id" id="country_id" ng-model="country_id">
                  <option value="">Select Country</option>
                  <option ng-repeat="country in countrycitydata.country" value="[[country.id]]">[[country.name]]</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Province</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <select class="form-control upper-space" name="state_id" id="state_id" ng-model="state_id">
                  <option value="">Select Province</option>
                  <option ng-repeat="state in states" value="[[state.id]]">[[state.name]]</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">City</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <select class="form-control upper-space" name="city_id" id="city_id" ng-model="city_id">
                  <option value="">Select City</option>
                  <option ng-repeat="city in cities" value="[[city.id]]">[[city.name]]</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Distributor Type</label>
              </div>
              <div class="col-md-10 col-lg-10"> 
                <span class="custom-radio3">
                  <input type="radio" name="online_offline_status" id="online" value="1"/>
                  <label for="online">Online</label>
                </span>
                <span class="custom-radio3">
                  <input type="radio" name="online_offline_status" id="offline" value="2"/>
                  <label for="offline">Offline</label>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Address</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <textarea ng-model="locality" id="locality" name="locality" class="form-control" rows="6" placeholder="Address"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Distributor Type</label>
              </div>
              <div class="col-md-10 col-lg-10"> 
                <span class="custom-radio3">
                  <input type="radio" name="discount_type" ng-model="discount_type" ng-checked="1" id="no_discount" ng-value="2"/>
                  <label for="no_discount">None</label>
                </span>
                <span class="custom-radio3">
                  <input type="radio" name="discount_type" ng-model="discount_type" id="percent_discount" ng-value="0"/>
                  <label for="percent_discount">Percent Discount</label>
                </span>
                <span class="custom-radio3">
                  <input type="radio" name="discount_type" ng-model="discount_type" id="flat_discount" ng-value="1"/>
                  <label for="flat_discount">Flat Discount</label>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group" ng-if="discount_type==0||discount_type==1">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Discount Of</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="text" ng-model="price.discount_of" id="discount_of" name="discount_of" placeholder="Discount Of" class="form-control"
                  required>
              </div>
            </div>
          </div>
        </div>
        <div class="content-div">
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2"> </div>
              <div class="col-md-10 col-lg-10">
                <button class="btn btn-pink add-new-distributor" ng-click="addNewDistributor()">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>