<section class="create-new-quiz-section">
    <form ng-if="zoneExists" ng-repeat="zone in zones track by $index" class="panel ui-state-default custom-accordion" id="zoneform_[[$index]]" name="zoneform_[[$index]]">
        <div class="ui-state-default" id="zone_[[$index]]">
          <div class="panel-heading toggledirective">
            <h4 class="panel-title"> <a href="javascript:;">Subject #[[$index+1]] <i id="zone_edit_[[zone.id]]" class="hide fa fa-check-circle" aria-hidden="true"></i>
              <span class="right-icon "><i class="fa fa-plus" aria-hidden="true"></i></span> </a> </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <div class="cnq-form-div">
                <div class="form-group">
                  <div class="row question_spacing mainCategoryDiv">
                    <div class="col-sm-3">
                      <label class="label">Subject Name</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="subject_name" id="subject_name_[[zone.id]]"  ng-value="zone.subject_name">
                    </div>
                  </div>
                  <div class="row question_spacing mainCategoryDiv">
                    <div class="col-sm-3">
                      <label class="label">Subject Display Name</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="subject_display_name" id="subject_display_name_[[zone.id]]"  ng-value="zone.subject_display_name">
                    </div>
                  </div>
                  <div class="row question_spacing mainCategoryDiv">
                    <div class="col-sm-3">
                      <label class="label">Subject Image</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="file" class="hide" id="subject_image_[[zone.id]]" name="subject_image" value="[[ zone.subject_image ]]" accept="image/*" />
                      <div style="background-image:url(public/uploads/subject_images/[[zone.subject_image]]);" id="subject_image_[[zone.id]]_select" class="img-div thumbnail_custom quiz_image_option" ng-click="openImageSelector(zone.id, 'subject_image_')">
                      </div>
                    </div>
                  </div>
                  <div class="row question_spacing mainCategoryDiv">
                    <div class="col-sm-3">
                      <label class="label">Audio Language</label>
                    </div>
                    <div class="col-sm-9">
                      <select id="audio_language_[[$index]]" name="audio[]" select2-directive class="form-control" placeholder="Select Audio Language" multiple="multiple">
                        <option ng-repeat="language in languages" ng-value="language.id">[[language.language_translation]]</option>
                      </select>
                    </div>
                  </div>
                  <div class="row question_spacing mainCategoryDiv">
                    <div class="col-sm-3">
                      <label class="label">Zone</label>
                    </div>
                    <div class="col-sm-9 pink_checkbox">
                      <span class="" ng-repeat="zon in zoneList">
                      <!-- <span class="custom-checkbox" ng-repeat="zon in zoneList"> -->
                        <!-- <input ng-model="selectedZones[zon.id]" type="checkbox" name="zon[]" id="zone_[[zone.id]]" value="[[zon.id]]"/> -->
                        <input type="checkbox" name="zon[]" id="zone_[[zone.id]]_[[zon.id]]" value="[[zon.id]]"/>
                        <label for="zone_[[zon.id]]">[[zon.zone_name]]</label>
                      </span>
                    </div>
                  </div>
                  <div id="category_div_[[$index]]">
                    <div ng-repeat="category in zone.categories">
                      <input type="hidden" name="category[&nbsp;[[category.id]]&nbsp;][id]" ng-value="category.id">
                      <hr>
                      <h4 class="panel-title margin_bottom10 mainCategoryDiv">Category #[[$index+1]]
                        <span class="right_icon_custom">
                          <button id="deleteZone_[[category.id]]" ng-click="Deletecategory(zone.id,category.id,1,$index,$parent.$index)" class="btn btn-red savequestion">Delete Category<!-- <i class="fa fa-minus" aria-hidden="true"></i> --></button>
                        </span>
                      </h4>
                      <div class="tabs-div col-2 text-center">
                        <div class="row">
                          <div class="col-sm-8 col-md-8">
                            <div class="row">
                              <div class="col-xs-4">
                                <button class="btn tablinks btn-medium-pink btn-block active" ng-click="changeTab('DetailsTab',category.id)" id="DetailsTabButton_[[category.id]]">DETAILS</button>
                              </div>
                              <div class="col-xs-4">
                                <button class="btn tablinks btn-medium-pink btn-block" ng-click="changeTab('HistoryTab',category.id)" id="HistoryTabButton_[[category.id]]">HISTORY</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="details_[[category.id]]">
                        <div class="row question_spacing mainCategoryDiv">
                          <div class="col-sm-4">
                            <label class="label">English Category</label>
                          </div>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="category[&nbsp;[[category.id]]&nbsp;][category]" id="category_name_[[category.id]]" ng-model="category.category_name">
                          </div>
                        </div>
                        <div class="row question_spacing mainCategoryDiv">
                          <div class="col-sm-4">
                            <label class="label">Mandarin Category</label>
                          </div>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="category[&nbsp;[[category.id]]&nbsp;][category_chi]" id="category_name_chi_[[category.id]]" ng-model="category.category_name_chi">
                          </div>
                        </div>
                        <div class="row question_spacing mainCategoryDiv">
                          <div class="col-sm-4">
                            <label class="label">Russian Category</label>
                          </div>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="category[&nbsp;[[category.id]]&nbsp;][category_ru]" id="category_name_ru_[[category.id]]" ng-model="category.category_name_ru">
                          </div>
                        </div>
                        <div class="row question_spacing mainCategoryDiv">
                          <div class="col-sm-4">
                            <label class="label">Category Bundle Identifier </label>
                          </div>
                          <div class="col-sm-8 bundle-identifier">
                            <input type="text" class="form-control bundle_category_id_[[category.id]]" name="category[&nbsp;[[category.id]]&nbsp;][bundle_category_id]" id="bundle_category_id_[[category.id]]" ng-model="category.bundle_category_id" value="[[ category.bundle_category_id ]]" readonly="readonly">
                            <div ng-if="category.bundle_category_id=='' || category.bundle_category_id==null" class="col-sm-2 dice_class hand-cursor" title="Click to generate bundle identifier" id="dice_shake" ng-click="addOrEditBundleCategoryId(category.id)">
                              <img src="resources/assets/images/dice.svg">
                            </div>
                          </div>
                        </div>
                        <div class="row question_spacing mainCategoryDiv">
                          <div class="col-sm-4">
                            <label class="label">3 Month USD Price</label>
                          </div>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="category_price_3month_[[category.id]]" name="category[&nbsp;[[category.id]]&nbsp;][category_price_3month]" id="category_price_3month_[[category.id]]" ng-value="category.category_price_3month | number : 2" ng-keyup="decimalPlaces(category.id,'category_price_3month_')">
                          </div>
                        </div>
                        <div class="row question_spacing mainCategoryDiv">
                          <div class="col-sm-4">
                            <label class="label">3 Month SGD Price</label>
                          </div>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="category_price_sgd_3month_[[category.id]]" name="category[&nbsp;[[category.id]]&nbsp;][category_price_sgd_3month]" id="category_price_sgd_3month_[[category.id]]"  ng-value="category.category_price_sgd_3month | number : 2" ng-keyup="decimalPlaces(category.id,'category_price_sgd_3month_')">
                          </div>
                        </div>
                        <div class="row question_spacing mainCategoryDiv">
                          <div class="col-sm-4">
                            <label class="label">6 Month USD Price</label>
                          </div>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="category_price_6month_[[category.id]]" name="category[&nbsp;[[category.id]]&nbsp;][category_price_6month]" id="category_price_6month_[[category.id]]" ng-value="category.category_price_6month | number : 2" ng-keyup="decimalPlaces(category.id,'category_price_6month_')">
                          </div>
                        </div>
                        <div class="row question_spacing mainCategoryDiv">
                          <div class="col-sm-4">
                            <label class="label">6 Month SGD Price</label>
                          </div>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="category_price_sgd_6month_[[category.id]]" name="category[&nbsp;[[category.id]]&nbsp;][category_price_sgd_6month]" id="category_price_sgd_6month_[[category.id]]"  ng-value="category.category_price_sgd_6month | number : 2" ng-keyup="decimalPlaces(category.id,'category_price_sgd_6month_')">
                          </div>
                        </div>
                        <div class="row question_spacing mainCategoryDiv">
                          <div class="col-sm-4">
                            <label class="label">12 Month USD Price</label>
                          </div>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="category_price_[[category.id]]" name="category[&nbsp;[[category.id]]&nbsp;][category_price]" id="category_price_[[category.id]]" ng-value="category.category_price | number : 2" ng-keyup="decimalPlaces(category.id,'category_price_')">
                          </div>
                        </div>
                        <div class="row question_spacing mainCategoryDiv">
                          <div class="col-sm-4">
                            <label class="label">12 Month SGD Price</label>
                          </div>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="category_price_sgd_[[category.id]]" name="category[&nbsp;[[category.id]]&nbsp;][category_price_sgd]" id="category_price_sgd_[[category.id]]"  ng-value="category.category_price_sgd | number : 2" ng-keyup="decimalPlaces(category.id,'category_price_sgd_')">
                          </div>
                        </div>
                        <div class="row question_spacing mainCategoryDiv">
                          <div class="col-sm-4">
                            <label class="label">English Description</label>
                          </div>
                          <div class="col-sm-8">
                            <textarea class="form-control fix_size_textarea" rows="6" name="category[&nbsp;[[category.id]]&nbsp;][description]" id="category_description_english_[[category.id]]" ng-value="category.description"></textarea>
                          </div>
                        </div>
                        <div class="row question_spacing mainCategoryDiv">
                          <div class="col-sm-4">
                            <label class="label">Mandarin Description</label>
                          </div>
                          <div class="col-sm-8">
                            <textarea class="form-control fix_size_textarea" rows="6" name="category[&nbsp;[[category.id]]&nbsp;][description_chi]" id="category_description_mandarin_[[category.id]]" ng-value="category.description_chi"></textarea>
                          </div>
                        </div>
                        <div class="row question_spacing mainCategoryDiv">
                          <div class="col-sm-4">
                            <label class="label">Russian Description</label>
                          </div>
                          <div class="col-sm-8">
                            <textarea class="form-control fix_size_textarea" rows="6" name="category[&nbsp;[[category.id]]&nbsp;][description_ru]" id="category_description_russian_[[category.id]]" ng-value="category.description_ru"></textarea>
                          </div>
                        </div>
                        <div class="row question_spacing mainCategoryDiv">
                          <div class="col-sm-4">
                            <label class="label">Category Icon</label>
                          </div>
                          <div class="col-sm-8">
                            <input type="file" class="hide" id="category_icon_[[category.id]]" name="category[&nbsp;[[category.id]]&nbsp;][category_icon]" value="[[ category.category_icon ]]" accept="image/*" />
                            <div style="background-image:url(public/uploads/categories_icon/[[category.category_icon]]);" id="category_icon_[[category.id]]_select" class="img-div thumbnail_custom quiz_image_option" ng-click="openImageSelector(category.id, 'category_icon_')">
                            </div>
                          </div>
                        </div>
                        <div class="row question_spacing mainCategoryDiv">
                          <div class="col-sm-4">
                            <label class="label">Category GIF</label>
                          </div>
                          <div class="col-sm-8">
                            <input type="file" class="hide" id="category_gif_url_[[category.id]]" name="category[&nbsp;[[category.id]]&nbsp;][category_gif_url]" value="[[ category.category_gif_url ]]" accept="image/*" />
                            <div style="background-image:url(public/uploads/category_gifs/[[category.category_gif_url]]);" id="category_gif_url_[[category.id]]_select" class="img-div thumbnail_custom quiz_image_option" ng-click="openImageSelector(category.id, 'category_gif_url_')">
                            </div>
                          </div>
                        </div>
                        

                        <div class="row question_spacing">
                          <div class="col-sm-1">
                            <label class="label">Sub Category</label>
                          </div>
                          <div class="col-sm-10" id="subcategory_div_[[category.id]]" style="padding-top: 35px;">
                            <div ng-repeat="subcategory in category.subcategories" class="sub_category_margin">
                              <div class="row question_spacing">
                                <div class="col-sm-1" style="padding-top: 35px;">
                                  <input type="hidden" name="category[&nbsp;[[category.id]]&nbsp;][subcategory][&nbsp;[[$index+1]]&nbsp;][id]" ng-value="subcategory.id">
                                  
                                  <input ng-if="subcategory.id" type="file" class="hide" id="sub_category_icon_[[category.id]]_[[subcategory.id]]" name="category[&nbsp;[[category.id]]&nbsp;][subcategory][&nbsp;[[$index+1]]&nbsp;][sub_category_icon]" value="[[subcategory.sub_category_icon]]" accept="image/*" />
                                  
                                  <div ng-if="subcategory.id" style="background-image:url(public/uploads/categories_icon/[[subcategory.sub_category_icon]]);" id="sub_category_icon_[[category.id]]_[[subcategory.id]]_select" class="img-div thumbnail_custom quiz_image_option" ng-click="openImageSelector(subcategory.id, 'sub_category_icon_',category.id)">
                                  </div>

                                  <input ng-if="!subcategory.id" type="file" class="hide" id="sub_category_icon_[[category.id]]_[[$index+1]]" name="category[&nbsp;[[category.id]]&nbsp;][subcategory][&nbsp;[[$index+1]]&nbsp;][sub_category_icon]" value="[[subcategory.sub_category_icon]]" accept="image/*" />
                                  
                                  <div ng-if="!subcategory.id" style="background-image:url(resources/assets/images/up-img.png);" id="sub_category_icon_[[category.id]]_[[$index+1]]_select" class="img-div thumbnail_custom quiz_image_option" ng-click="openImageSelector($index+1, 'sub_category_icon_',category.id)">
                                  </div>
                                </div>
                                <div class="col-sm-2">
                                  
                                  <label class="label">Sub Category</label>

                                  <input type="text" name="category[&nbsp;[[category.id]]&nbsp;][subcategory][&nbsp;[[$index+1]]&nbsp;][name]" class="form-control" id="sub_category_name_[[subcategory.id]]" ng-value="subcategory.subcategory_name" title="[[subcategory.subcategory_name]]">
                                  <label class="label">English Description</label>
                                  <textarea class="form-control fix_size_textarea" rows="6" name="category[&nbsp;[[category.id]]&nbsp;][subcategory][&nbsp;[[$index+1]]&nbsp;][subcategory_description]" id="subcategory_description_[[subcategory.id]]" ng-value="subcategory.subcategory_description"></textarea>
                                </div>
                                <div class="col-sm-2">
                                  
                                  <label class="label">Sub Category</label>
                                  <input type="text" name="category[&nbsp;[[category.id]]&nbsp;][subcategory][&nbsp;[[$index+1]]&nbsp;][name_chi]" class="form-control" id="sub_category_name_chi_[[subcategory.id]]" ng-value="subcategory.subcategory_name_chi">
                                  <label class="label">Mandarin Description</label>
                                  <textarea class="form-control fix_size_textarea" rows="6" name="category[&nbsp;[[category.id]]&nbsp;][subcategory][&nbsp;[[$index+1]]&nbsp;][subcategory_description_chi]" id="subcategory_description_chi_[[subcategory.id]]" ng-value="subcategory.subcategory_description_chi"></textarea>
                                </div>
                                <div class="col-sm-2">
                                  
                                  <label class="label">Sub Category</label>
                                  <input type="text" name="category[&nbsp;[[category.id]]&nbsp;][subcategory][&nbsp;[[$index+1]]&nbsp;][name_ru]" class="form-control" id="sub_category_name_ru_[[subcategory.id]]" ng-value="subcategory.subcategory_name_ru">
                                  <label class="label">Russian Description</label>
                                  <textarea class="form-control fix_size_textarea" rows="6" name="category[&nbsp;[[category.id]]&nbsp;][subcategory][&nbsp;[[$index+1]]&nbsp;][subcategory_description_ru]" id="subcategory_description_ru_[[subcategory.id]]" ng-value="subcategory.subcategory_description_ru"></textarea>
                                </div>
                                <div class="col-sm-2" style="padding-top: 35px;">
                                  <input type="checkbox" name="category[&nbsp;[[category.id]]&nbsp;][subcategory][&nbsp;[[$index+1]]&nbsp;][on_landing_page]" id="on_landing_page_[[subcategory.id]]" ng-model="onLandingPage" ng-click="checkOnLanding(onLandingPage)" ng-checked="subcategory.on_landing_page==1" />
                                  <label for="on_landing_page_[[subcategory.on_landing_page]]">On Landing Page</label><br>
                                  
                                  <input type="checkbox" name="category[&nbsp;[[category.id]]&nbsp;][subcategory][&nbsp;[[$index+1]]&nbsp;][on_detail_page]" id="on_detail_page_[[subcategory.id]]" ng-model="onDetailPage" ng-click="checkOnLanding(onDetailPage)" ng-checked="subcategory.on_detail_page==1" />
                                  <label for="[[subcategory.on_detail_page]]">On Detail Page</label>
                                </div>
                                <div class="col-sm-1" style="padding-top: 35px;">
                                  <button id="removesubcategory_[[category.id]]" ng-click="Removesubcategory(zone.id,category.id,1,$index)"  class="btn btn-red savequestion"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                </div>
                              </div>


                            </div>
                          </div>
                          <div class="col-sm-1">
                            <div class="col-sm-12">
                              <button id="addsubcategory_[[category.id]]" ng-click="Addsubcategory(zone.id,category.id,1)" class="add_sub_category btn btn-pink savequestion" style="margin-left:0px!important;">Add More</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="" id="history_[[category.id]]">
                        <div class="row">
                          <div class="col-xs-12">
                            <span class="total-active-users" id="total_active_user_[[category.id]]"></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6" id="historyUsdDetails_[[category.id]]">
                            <!-- <ul class="info-list-with-icon-twinkle col-sm-12 column border" ng-repeat="usd_user in usd">
                              <li> USD Price : [[ usd_user.usd_price ]]</li>
                              <li> Date : [[ usd_user.created_at ]]</li>
                              <li> Active User : [[ usd_user.payment_usd_count ]]</li>
                              <li> Version : [[ sgd_size-$index ]]</li>
                            </ul> -->
                          </div>
                          <div class="col-sm-6" id="historySgdDetails_[[category.id]]">
                            <!-- <ul class="info-list-with-icon-twinkle col-sm-12 column border" ng-repeat="sgd_user in sgd">
                              <li> SGD Price : [[ sgd_user.sgd_price ]]</li>
                              <li> Date : [[ sgd_user.created_at ]]</li>
                              <li> Active User : [[ sgd_user.payment_sgd_count ]]</li>
                              <li> Version : [[ usd_size-$index ]]</li>
                            </ul> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="last-btn question_spacing">
                      <a class="btn btn-pink" ng-click="Addnewcategory(zone.id,1,$index)"><i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Add New Category</a>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-12">
                            <button id="saveZone_[[zone.id]]" ng-click="Savenewcategory(zone.id,1,'',$index)" class="btn btn-pink savequestion">Save Subject</button>
                            <button id="deleteZone_[[zone.id]]" ng-click="Deletezone(zone.id,1)" class="btn btn-red savequestion">Delete Subject</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
    <form ng-repeat="form in forms" class="panel ui-state-default custom-accordion" id="zoneform_[[form]]" name="zoneform_[[form]]">
        <div class="ui-state-default" id="zone_[[form]]">
          <div class="panel-heading toggledirective">
            <h4 class="panel-title"> <a href="javascript:;">Subject #[[form]] <i id="zone_edit_[[form]]" class="hide fa fa-check-circle" aria-hidden="true"></i>
              <span class="right-icon "><i class="fa fa-plus" aria-hidden="true"></i></span> </a> </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <div class="cnq-form-div">
                <div class="form-group">
                  <div class="row question_spacing mainCategoryDiv">
                    <div class="col-sm-3">
                      <label class="label">Subject Name</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="subject_name" id="subject_name_[[form]]" >
                    </div>
                  </div>
                  <div class="row question_spacing mainCategoryDiv">
                    <div class="col-sm-3">
                      <label class="label">Subject Display Name</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="subject_display_name" id="subject_display_name_[[form]]" >
                    </div>
                  </div>
                  <div class="row question_spacing mainCategoryDiv">
                    <div class="col-sm-3">
                      <label class="label">Subject Image</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="file" class="hide" name="subject_image" id="subject_image_new_[[form]]" accept="image/*">
                      <div style="background-image:url(resources/assets/images/up-img.png);" id="subject_image_new_[[form]]_select" class="img-div thumbnail_custom" ng-click="openImageSelector(form, 'subject_image_new_')">
                      </div>
                    </div>  
                  </div>
                  <div class="row question_spacing mainCategoryDiv">
                    <div class="col-sm-3">
                      <label class="label">Audio Language</label>
                    </div>
                    <div class="col-sm-9">
                      <select id="audio_language_[[form]]" name="audio[]" select2-directive class="form-control" placeholder="Select Audio Language" multiple="multiple">
                        <option ng-repeat="language in languages" ng-value="language.id">[[language.language]]</option>
                      </select>
                    </div>
                  </div>
                  <div class="row question_spacing mainCategoryDiv">
                    <div class="col-sm-3">
                      <label class="label">Zone</label>
                    </div>
                    <div class="col-sm-9 pink_checkbox">
                      <span class="" ng-repeat="zone in zoneList">
                        <input ng-model="selectedZones" type="checkbox" name="zon[]" id="zone_[[zone.id]]" value="[[zone.id]]"/>
                        <label for="zone_[[zone.id]]">[[zone.zone_name]]</label>
                      </span>
                    </div>
                  </div>

                  <div id="category_div_[[form]]">
                    <div ng-repeat="category in category_count">
                      <hr>
                      <h4 class="panel-title margin_bottom10 mainCategoryDiv">Category #[[$index+1]]
                        <span class="right_icon_custom">
                          <button id="deleteZone_[[form]]" ng-click="Deletecategory(form,category,0)" class="btn btn-red savequestion">Delete Category<!-- <i class="fa fa-minus" aria-hidden="true"></i> --></button>
                        </span>
                      </h4>
                      <div class="row question_spacing mainCategoryDiv">
                        <div class="col-sm-4">
                          <label class="label">English Category</label>
                        </div>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="category[&nbsp;[[$index]]&nbsp;][category]" id="category_name_[[category.id]]" ng-model="category[&nbsp;[[$index]]&nbsp;][category]">
                        </div>
                      </div>
                      <div class="row question_spacing mainCategoryDiv">
                        <div class="col-sm-4">
                          <label class="label">Mandarin Category</label>
                        </div>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="category[&nbsp;[[$index]]&nbsp;][category_chi]" id="category_name_chi_[[category.id]]">
                        </div>
                      </div>
                      <div class="row question_spacing mainCategoryDiv">
                        <div class="col-sm-4">
                          <label class="label">Russian Category</label>
                        </div>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="category[&nbsp;[[$index]]&nbsp;][category_ru]" id="category_name_ru_[[category.id]]">
                        </div>
                      </div>
                      <div class="row question_spacing mainCategoryDiv">
                        <div class="col-sm-4">
                          <label class="label">Category Bundle Identifier </label>
                        </div>
                        <div class="col-sm-8 bundle-identifier">
                          <input type="text" class="form-control bundle_category_id_[[category.id]]" name="category[&nbsp;[[$index]]&nbsp;][bundle_category_id]" id="bundle_category_id_[[category.id]]" readonly="readonly">
                          <div class="col-sm-2 dice_class hand-cursor" title="Click to generate bundle identifier" id="dice_shake" ng-click="addOrEditBundleCategoryId(category.id)">
                            <img src="resources/assets/images/dice.svg">
                          </div>
                        </div>
                      </div>
                      <div class="row question_spacing mainCategoryDiv">
                        <div class="col-sm-4">
                          <label class="label">3 Month USD Price</label>
                        </div>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" ng-model="category_price_3month_[[$index]]" name="category[&nbsp;[[$index]]&nbsp;][category_price_3month]" id="category_price_3month_[[$index]]" ng-value="category.category_price_3month_ | number : 2" ng-keyup="decimalPlaces($index,'category_price_3month_')">
                        </div>
                      </div>
                      <div class="row question_spacing mainCategoryDiv">
                        <div class="col-sm-4">
                          <label class="label">3 Month SGD Price</label>
                        </div>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" ng-model="category_price_sgd_3month_[[$index]]" name="category[&nbsp;[[$index]]&nbsp;][category_price_sgd_3month]" id="category_price_sgd_3month_[[$index]]"  ng-value="category.category_price_sgd_3month | number : 2" ng-keyup="decimalPlaces($index,'category_price_sgd_3month_')">
                        </div>
                      </div>
                      <div class="row question_spacing mainCategoryDiv">
                        <div class="col-sm-4">
                          <label class="label">6 Month USD Price</label>
                        </div>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" ng-model="category_price_6month_[[$index]]" name="category[&nbsp;[[$index]]&nbsp;][category_price_6month]" id="category_price_6month_[[$index]]" ng-value="category.category_price_6month_ | number : 2" ng-keyup="decimalPlaces($index,'category_price_6month_')">
                        </div>
                      </div>
                      <div class="row question_spacing mainCategoryDiv">
                        <div class="col-sm-4">
                          <label class="label">6 Month SGD Price</label>
                        </div>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" ng-model="category_price_sgd_6month_[[$index]]" name="category[&nbsp;[[$index]]&nbsp;][category_price_sgd_6month]" id="category_price_sgd_6month_[[$index]]"  ng-value="category.category_price_sgd_6month | number : 2" ng-keyup="decimalPlaces($index,'category_price_sgd_6month_')">
                        </div>
                      </div>
                      <div class="row question_spacing mainCategoryDiv">
                        <div class="col-sm-4">
                          <label class="label">12 Month USD Price</label>
                        </div>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" ng-model="category_price_[[$index]]" name="category[&nbsp;[[$index]]&nbsp;][category_price]" id="category_price_[[$index]]" ng-value="category.category_price | number : 2" ng-keyup="decimalPlaces($index,'category_price_')">
                        </div>
                      </div>
                      <div class="row question_spacing mainCategoryDiv">
                        <div class="col-sm-4">
                          <label class="label">12 Month SGD Price</label>
                        </div>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" ng-model="category_price_sgd_[[$index]]" name="category[&nbsp;[[$index]]&nbsp;][category_price_sgd]" id="category_price_sgd_[[$index]]" ng-value="category.category_price_sgd | number : 2" ng-keyup="decimalPlaces($index,'category_price_sgd_')">
                        </div>
                      </div>
                      <div class="row question_spacing mainCategoryDiv">
                        <div class="col-sm-4">
                          <label class="label">English Description</label>
                        </div>
                        <div class="col-sm-8">
                          <textarea class="form-control fix_size_textarea" rows="6" name="category[&nbsp;[[$index]]&nbsp;][description]" id="category_description_english_[[category]]"></textarea>
                        </div>
                      </div>
                      <div class="row question_spacing mainCategoryDiv">
                        <div class="col-sm-4">
                          <label class="label">Mandarin Description</label>
                        </div>
                        <div class="col-sm-8">
                          <textarea class="form-control fix_size_textarea" rows="6" name="category[&nbsp;[[$index]]&nbsp;][description_chi]" id="category_description_mandarin_[[category]]"></textarea>
                        </div>
                      </div>
                      <div class="row question_spacing mainCategoryDiv">
                        <div class="col-sm-4">
                          <label class="label">Russian Description</label>
                        </div>
                        <div class="col-sm-8">
                          <textarea class="form-control fix_size_textarea" rows="6" name="category[&nbsp;[[$index]]&nbsp;][description_ru]" id="category_description_russian_[[category]]"></textarea>
                        </div>
                      </div>
                      <div class="row question_spacing mainCategoryDiv">
                        <div class="col-sm-4">
                          <label class="label">Category Icon</label>
                        </div>
                        <div class="col-sm-8">
                          <input type="file" class="hide" name="category[&nbsp;[[$index]]&nbsp;][category_icon]" ng-model="category[&nbsp;$index&nbsp;][category_icon]" id="category_icon_[[$index]]" accept="image/*">
                          <div style="background-image:url(resources/assets/images/up-img.png);" id="category_icon_[[$index]]_select" class="img-div thumbnail_custom" ng-click="openImageSelector($index, 'category_icon_')">
                          </div>
                        </div>  
                      </div>
                      <div class="row question_spacing mainCategoryDiv">
                        <div class="col-sm-4">
                          <label class="label">Category GIF</label>
                        </div>
                        <div class="col-sm-8">
                          <input type="file" class="hide" name="category[&nbsp;[[$index]]&nbsp;][category_gif_url]" ng-model="category[&nbsp;$index&nbsp;][category_gif_url]" id="category_gif_url_[[$index]]" accept="image/*">
                          <div style="background-image:url(resources/assets/images/up-img.png);" id="category_gif_url_[[$index]]_select" class="img-div thumbnail_custom" ng-click="openImageSelector($index, 'category_gif_url_')">
                          </div>
                        </div>  
                      </div>



                      <div class="row question_spacing">
                        <div class="col-sm-1">
                          <label class="label">Sub Category </label>
                        </div>

                        <div class="col-sm-10" id="new_subcategory_div_[[category.id]]">
                          <div ng-repeat="subcategory in category.subcategories" class="sub_category_margin">
                            <div class="row question_spacing">
                              
                              <div class="col-sm-1">
                                <input type="file" class="hide" name="category[&nbsp;[[$parent.$index]]&nbsp;][subcategory][&nbsp;[[$index]]&nbsp;][sub_category_icon]" id="sub_category_icon_[[$parent.$index]]_[[$index]]" accept="image/*">
                                <div style="background-image:url(resources/assets/images/up-img.png);" id="sub_category_icon_[[$parent.$index]]_[[$index]]_select" class="img-div thumbnail_custom" ng-click="openImageSelector($index, 'sub_category_icon_',$parent.$index)"></div>
                              </div>
                              <div class="col-sm-2">
                                <input type="text" class="form-control" name="category[&nbsp;[[$parent.$index]]&nbsp;][subcategory][&nbsp;[[$index]]&nbsp;][name]" id="sub_category_name_[[subcategory]]" ng-value="subcategory.subcategory_name">

                                <textarea class="form-control fix_size_textarea" rows="6" name="category[&nbsp;[[$parent.$index]]&nbsp;][subcategory][&nbsp;[[$index]]&nbsp;][subcategory_description]" id="subcategory_description_[[subcategory]]"></textarea>

                              </div>
                              <div class="col-sm-2">
                                <input type="text" class="form-control" name="category[&nbsp;[[$parent.$index]]&nbsp;][subcategory][&nbsp;[[$index]]&nbsp;][name_chi]" id="sub_category_name_chi_[[subcategory]]" ng-value="subcategory.subcategory_name_chi">

                                <textarea class="form-control fix_size_textarea" rows="6" name="category[&nbsp;[[$parent.$index]]&nbsp;][subcategory][&nbsp;[[$index]]&nbsp;][subcategory_description_chi]" id="subcategory_description_chi_[[subcategory]]"></textarea>

                              </div>
                              <div class="col-sm-2">
                                <input type="text" class="form-control" name="category[&nbsp;[[$parent.$index]]&nbsp;][subcategory][&nbsp;[[$index]]&nbsp;][name_ru]" id="sub_category_name_ru_[[subcategory]]" ng-value="subcategory.subcategory_name_ru">
                                <textarea class="form-control fix_size_textarea" rows="6" name="category[&nbsp;[[$parent.$index]]&nbsp;][subcategory][&nbsp;[[$index]]&nbsp;][subcategory_description_ru]" id="subcategory_description_ru_[[subcategory]]"></textarea>
                              </div>
                              <div class="col-sm-2">

                                <input ng-model="onLandingPage" type="checkbox" name="category[&nbsp;[[$parent.$index]]&nbsp;][subcategory][&nbsp;[[$index]]&nbsp;][on_landing_page]" id="on_landing_page_[[subcategory]]" value="[[onLandingPage]]" ng-model="onLandingPage" ng-click="checkOnLanding(onLandingPage)" />
                                <label for="on_landing_page_[[subcategory]]">On Landing Page</label><br>
                                <input ng-model="onDetailPage" type="checkbox" name="category[&nbsp;[[$parent.$index]]&nbsp;][subcategory][&nbsp;[[$index]]&nbsp;][on_detail_page]" id="on_detail_page_[[subcategory]]" value="[[onDetailPage]]" ng-model="onDetailPage" ng-click="checkOnLanding(onDetailPage)" />
                                <label for="on_detail_page_[[subcategory]]">On Detail Page</label>
                              </div>

                              <div class="col-sm-1">
                                <button id="removesubcategory_[[category.id]]" ng-click="Removesubcategory(form,category.id,0,$index)"  class="btn btn-red savequestion"><i class="fa fa-minus" aria-hidden="true"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-1">
                          <button id="addsubcategory_[[category]]" ng-click="Addsubcategory(form,category,0)" class="add_sub_category btn btn-pink savequestion" style="margin-left:0px!important;">Add More</button>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="last-btn question_spacing">
                    <a class="btn btn-pink" ng-click="Addnewcategory(form,0)"><i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Add New Category</a>
                  </div>
                  <div class="form-group">
                      <div class="row">
                        <div class="col-sm-12">
                            <button id="saveZone_[[form]]" ng-click="Savenewcategory(form,0)" class="btn btn-pink savequestion">Save Subject</button>
                            <button id="deleteZone_[[form]]" ng-click="Deletezone(form,0)" class="btn btn-red savequestion">Delete Subject</button>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
  <div class="last-btn question_spacing">
    <a class="btn btn-pink" ng-click="Addnewzone()"><i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Add New Subject</a>
    <!-- <a class="btn btn-pink" href="manage/ignite/ignite-taxrate"><i class="fa fa-percent md-icon" aria-hidden="true"></i> Tax Rate</a> -->
  </div>
</section>
