<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-12">
          <h3 class="panel-title">Change Password</h3>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <form id="newDistributorForm" novalidate="">
        <div class="content-div">
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Current Password</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="password" ng-model="old_password" id="old_password" name="old_password" placeholder="Current Password" class="form-control"
                  required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">New Password</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="password" ng-model="new_password" id="new_password" name="new_password" ng-change="Checkexpression(new_password,'new')" placeholder="New Password" class="form-control"
                  required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Confirm Password</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="password" ng-model="confirm_password" id="confirm_password" name="confirm_password" ng-change="Checkcnfpassword(confirm_password)" placeholder="Confirm Password" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="content-div">
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2"> </div>
              <div class="col-md-10 col-lg-10">
                <button class="btn btn-pink add-new-distributor" ng-click="Passwordupdate()">Update</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>