<section class="create-new-quiz-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <h3 class="panel-title">Create New Quiz</h3>
    </div>
    <div class="panel-body">
      <div class="content-div">
        <div class="quiz-info-head">
          <h3>Quiz Info</h3>
          <div class="row top">
            <div class="col-sm-2">
              <label>Quiz Title</label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="quiz_title" id="quizTitleText" placeholder="Quiz Title">
            </div>
            <!-- <div class="col-sm-4">
              <select class="form-control" ng-model="category_id" id="category_id" name="category_id">
                <option value="">Category..</option>
                <option ng-repeat="category in videoCategories" value="[[category.id]]">[[category.category_name]]</option>
              </select>
            </div> -->
            <div class="col-sm-2">
              <a href="#" id="quizTitle" ng-click="Createquiztitle()" class="btn btn-pink">Create Questions</a>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-xs-4 col-sm-3">
              <label>Total Questions</label>
            </div>
            <div class="col-xs-8 col-sm-3">: <strong>Quiz Title</strong> </div>
            <div class="col-xs-4 col-sm-2">
              <label>Quiz Status</label>
            </div>
            <div class="col-xs-8 col-sm-4">: <strong>Draft</strong> </div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-sm-3">
              <label>Question Type</label>
            </div>
            <div class="col-xs-8 col-sm-3">: <strong>Text, Images</strong> </div>
            <div class="col-xs-4 col-sm-2">
              <label>Last Edited</label>
            </div>
            <div class="col-xs-8 col-sm-4">: <strong>12 March, 2018, 04:45 PM</strong> </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div ng-show="showQuestionBank">
    <form class="hide panel ui-state-default custom-accordion" id="questionform">
        <span class="hide custom-checkbox1" id="correctoption">
          <input type="checkbox" name="correctAnswers[]" value="[[optionId]]" id="answer_[[optionId]]_[[questionId]]" />
          <label for="answer_[[optionId]]_[[questionId]]">Options #[[optionId]]</label>
        </span>
        <div class="panel ui-state-default" id="question_[[questionId]]">
          <div class="panel-heading">
            <h4 class="panel-title"> <a href="javascript:;">Question #[[questionId]] <i id="checkcircle_[[questionId]]" class="hide fa fa-check-circle" aria-hidden="true"></i>
              <!-- <span class="sm-text">4 Options : 1 Answer</span> --> <span class="right-icon "><i class="fa fa-plus" aria-hidden="true"></i></span> </a> </h4>
          </div>
          <div class="panel-collapse" >
            <div class="panel-body">
              <div class="cnq-form-div">
                <div class="form-group">
                  <div class="row question_spacing">
                    <div class="col-sm-3">
                      <label class="label">Question</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control question_spacing" name="question_title" placeholder="Question here">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <label class="label">Question Image</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group ui-state-default" id="questionImage">
                        <div class=" image-fields">
                          <div class="ui-state-default"> 
                            <input type="file" class="hide" id="questionImage_[[questionId]]" name="question_image" accept="image/*">
                            <div style="background-image:url(resources/assets/images/up-img.png);" id="clickquestionImage_[[questionId]]" class="img-div clickquestionImage"> 
                              <a href="javascript:;" id="removequestionImage_[[questionId]]" class="icon question_remove_image hide">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <label class="label">Question Audio</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group ui-state-default" id="questionAudio">
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput[[questionId]]">
                          <div class="form-control" data-trigger="fileinput[[questionId]]">
                            <span class="file_name" id="file_name_[[questionId]]"></span>
                            <input type="file" class="hide" id="questionAudio_[[questionId]]" onchange="angular.element(this).scope().showChangeRemove(this.files, this.id)" name="question_audio" accept="audio/*">
                          </div>
                          <span class="input-group-addon btn btn-default disable_color" ng-click="chooseFile(questionId)" id="questionChooseButton_[[questionId]]">Choose File</span>
                          <span class="input-group-addon btn btn-default disable_color hide" id="questionChangeButton_[[questionId]]">Change</span>
                          <a href="#" id="questionRemoveButton_[[questionId]]" ng-click="removeFile(questionId)" data-dismiss="fileinput[[questionId]]" class="input-group-addon btn btn-default disable_color hide">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="" id="optionList_[[questionId]]">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-3">
                      <label class="label">New Option</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="new-option"> 
                        <a class="btn text_option" id="text_[[questionId]]"><i class="fa fa-file-text-o" aria-hidden="true"></i> Text</a> 
                        <a class="btn image_option" id="image_[[questionId]]"><i class="fa fa-picture-o" aria-hidden="true"></i> Image</a> 
                        <a class="btn audio_option" id="audio_[[questionId]]"><i class="fa fa-volume-up" aria-hidden="true"></i> Audio Clip</a> 
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-3">
                      <label class="label">Correct Answer(s)</label>
                    </div>
                    <div class="col-sm-9" id="correctAnswer_[[questionId]]">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-3">
                        <a href="#" id="saveQuestion_[[questionId]]" class="btn btn-pink savequestion">Save Question</a>
                    </div>
                    <div class="col-sm-9">
                      <div class="btn-div">
                        <!-- <a href="#" id="Publish_[[questionId]]" class="btn btn-pink savequestion">Publish</a>
                        <a href="#" id="Save_[[questionId]]" class="btn btn-pink savequestion">Draft</a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
    <div class="panel-group" id="questionbank">
    </div>
    <div class="last-btn question_spacing">
      <a class="btn btn-pink" ng-click="Addnewquestion()"><i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Add New Question</a>
    </div>
    <div class="panel ui-state-default">
      <div class="panel-heading">
        <a href="#" id="Unpublish" ng-click="Checkquestionsavedornot(3,'Ready to Publish')" class="btn btn-pink">Ready to Publish</a>
        <!-- <a href="#" id="Draft" ng-click="Quizpublishdraft(1,'Draft')" class="btn btn-pink">Save as Draft</a> -->
      </div>
    </div>
  </div>
  <div ng-if="!showQuestionBank">
    <div class="panel">
      <div class="panel-heading">
        <label>Enter quiz title to add questions in it.</label>
      </div>
    </div>
  </div>
</section>
