<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-7">
          <h3 class="panel-title" ng-if="videoData.status != 1">Edit Video</h3>
          <h3 class="panel-title" ng-if="videoData.status == 1">Video Info</h3>
        </div>
        <div class="col-sm-5 text-right">
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div id="" class="">
        <form id="editVideoForm">
            <input type="hidden" id="video_id" name="video_id" value="[[videoData.id]]" class="form-control">
            <!-- <div class="content-div">
              <div class="form-group">
              <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Video Title</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <input type="text" ng-model="title" id="title" name="title" placeholder="Video Title" class="form-control">
                  </div>
                </div>

              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Description</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <textarea ng-model="description" id="description" name="description" class="form-control" rows="6" placeholder="Description"></textarea>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="content-div">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Select Zone</label>
                  </div>
                  <!-- <div class="col-md-2 col-lg-2"> 
                    <input type="checkbox" id="applicableToAll" name="applicableToAll" ng-model="applies.applicableToAll" ng-change="NotapplicabletoAll()" ng-checked="applies.applicableToAll" value="1"> 
                    <label for="applicableToAll">Applicable to Zones</label>
                  </div>
                  <div class="col-md-8 col-lg-8" ng-if="applies.applicableToAll"> 
                    <label class="label" ng-repeat="zone in videoData.zones">[[zone.selected==1?zone.zone_name:'']] </label>
                  </div> -->
                  <!-- <div class="col-md-10 col-lg-10 pink_checkbox" ng-if="!applies.applicableToAll"> 
                    <span class="custom-checkbox" ng-repeat="zone in videoData.zones">
                      <input ng-checked="zone.selected" type="checkbox" name="video_for_zones[]" id="zone_[[zone.id]]" ng-value="[[zone.id]]"/>
                      <label for="zone_[[zone.id]]">[[zone.zone_name]]</label>
                    </span>
                  </div> -->
                  <div class="col-md-10 col-lg-10 pink_checkbox"> 
                    <span class="custom-radio3" ng-repeat="zone in videoData.zones">
                      <input ng-checked="zone.selected" ng-click="getSubjects(zone.id, 1)" type="radio" name="video_for_zones[]" id="zone_[[zone.id]]" ng-value="[[zone.id]]" ng-disabled="videoData.status == 1 ? true : false" />
                      <label for="zone_[[zone.id]]">[[zone.zone_name]]</label>
                    </span>
                  </div>
                </div>
              </div>
              <!-- <div class="form-group" ng-show="!applies.applicableToAll">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                  </div>
                  <div class="col-md-10 col-lg-10 pink_checkbox"> 
                    <span class="custom-checkbox" ng-repeat="zone in videoData.zones">
                      <input class="zoneCheckbox" ng-checked="zone.selected" ng-model="selectedZones" type="checkbox" name="video_for_zones[]" id="zone_[[zone.id]]" ng-value="[[zone.id]]" ng-click="Addvideolanguages()" />
                      <label for="zone_[[zone.id]]">[[zone.zone_name]]</label>
                    </span>
                  </div>
                </div>
              </div> -->
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Select Subject</label>
                  </div>
                  <div class="col-md-10 col-lg-10"> 
                    <span class="custom-radio3" ng-repeat="subject in subjects">
                      <input type="radio" name="subject_id" id="sub_[[subject.id]]" ng-value="[[subject.id]]" ng-checked="videoData.subject_id==subject.id" ng-click="Loadcategoriesforsubject(subject.id)" ng-disabled="videoData.status == 1 ? true : false" />
                      <label for="sub_[[subject.id]]">[[subject.subject_name]]</label>
                      <span style="color: red">
                        <label ng-if="subject.otherZones.length>=1">This subject is also available in </label>
                        <label ng-repeat="zone in subject.otherZones">
                          <label ng-repeat="zon in videoData.zones">
                            <label ng-if="zon.id==zone && subject.otherZones.length==1">[[zon.zone_name]]</label>
                            <label ng-if="zon.id==zone && subject.otherZones.length>1">[[zon.zone_name]], </label>
                          </label>
                        </label>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Select Category</label>
                  </div>
                  <div class="col-md-10 col-lg-10"> 
                    <span ng-if="videoCategories" class="custom-radio3" ng-repeat="category in videoCategories">
                      <input type="radio" name="video_category_id" id="category_[[category.id]]" ng-value="[[category.id]]" ng-checked="videoData.video_category_id==category.id" ng-click="Loadprerequisites(category.id)" ng-disabled="videoData.status == 1 ? true : false" />
                      <label for="category_[[category.id]]">[[category.category_name]]</label>
                    </span>
                    <span ng-if="!videoCategories" class="custom-radio3">
                      <label class="label">Select Subject</label>
                    </span>
                  </div>
                </div>
              </div>
              <div ng-if="subCategories" class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Select Sub-Category</label>
                  </div>
                  <div class="col-md-10 col-lg-10"> 
                    <span class="custom-radio3" ng-repeat="subcategory in subCategories">
                      <input type="radio" ng-checked="videoData.subcategory_id==subcategory.id" name="subcategory_id" id="subcategory_[[subcategory.id]]" value="[[subcategory.id]]" ng-disabled="videoData.status == 1 ? true : false" />
                      <label for="subcategory_[[subcategory.id]]">[[subcategory.subcategory_name]]</label>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group displayNone">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Video Position</label>
                  </div>
                  <div class="col-md-6 col-lg-4">                  
                    <input type="text" numbers-only ng-model="video_ordering" id="video_ordering" name="video_ordering" placeholder="Video Position" class="form-control" disabled>
                  </div>
                </div>
              </div>
              <!-- <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Pre-requisite</label>
                  </div>
                  <div class="col-md-6 col-lg-4 prerequisites_parent">
                      <select ng-repeat="videoSelect in videoData.pre_requisites" class="form-control upper-space" name="prerequisites[]" id="prerequisites_[[$index+1]]">
                        <option value="">Select</option>
                        <option ng-repeat="video in preRequisites" ng-selected="videoSelect.pre_requist_video_id?videoSelect.pre_requist_video_id==video.id:videoSelect.pre_requist_quiz_id==video.id" value="[[video]]">[[video.title]] -- ([[video.hasOwnProperty('VIDEO')? 'Video':video.hasOwnProperty('QUIZ')?'Quiz':'Worksheet']]) </option>
                      </select>
                      <select ng-if="showMoreSelect" class="form-control prerequisites upper-space" name="prerequisites[]" id="prerequisitesid">
                        <option value="">Select</option>
                        <option ng-repeat="video in preRequisites" value="[[video]]">[[video.title]] -- ([[video.hasOwnProperty('VIDEO')? 'Video':video.hasOwnProperty('QUIZ')?'Quiz':'Worksheet']]) </option>
                      </select>
                    <div id="prerequisitesDiv">
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-6"> <a class="btn btn-pink" ng-disabled="!showMoreDisable" ng-click="Addmoreprerequisites()"><i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Add More</a> </div>
                </div>
              </div> -->
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Video Access</label>
                  </div>
                  <div class="col-md-10 col-lg-10"> <span class="custom-radio3">
                    <input type="radio" name="video_status" id="video_status_paid" ng-checked="videoData.video_status==1" value="1" ng-disabled="videoData.status == 1 ? true : false" />
                    <label for="video_status_paid">Paid Subscribers</label>
                    </span> <span class="custom-radio3">
                    <input type="radio" name="video_status" id="video_status_free" ng-checked="videoData.video_status==2" value="2" ng-disabled="videoData.status == 1 ? true : false" />
                    <label for="video_status_free">Free Users</label>
                    </span> </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Video Thumbnail</label>
                  </div>
                  <div class="col-md-10 col-lg-10">
                    <input type="file" class="hide" id="video_thumbnail" name="video_thumbnail" accept="image/*" ng-disabled="videoData.status == 1 ? true : false">
                    <div style="background-image:url([[current_domain=='net'?'https://cdn.sixclouds.net/assets':'public/uploads']]/video_thumbnails/thumbnail_mobile_128_72/[[videoData.thumbnail_128_72]]);" id="video_thumbnail_select" class="img-div thumbnail_custom">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">English Title</label>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <input class="form-control" id="title" name="title" type="text" ng-model="videoData.title" ng-disabled="videoData.status == 1 ? true : false">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">English Description</label>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <textarea class="form-control" id="description" name="description" rows="6" ng-model="videoData.description" ng-disabled="videoData.status == 1 ? true : false"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Mandrin Title</label>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <input class="form-control" id="title_chi" name="title_chi" type="text" ng-model="videoData.title_chi" ng-disabled="videoData.status == 1 ? true : false">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Mandrin Description</label>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <textarea class="form-control" id="description_chi" name="description_chi" rows="6" ng-model="videoData.description_chi" ng-disabled="videoData.status == 1 ? true : false"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Russian Title</label>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <input class="form-control" id="title_ru" name="title_ru" type="text" ng-model="videoData.title_ru" ng-disabled="videoData.status == 1 ? true : false">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Russian Description</label>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <textarea class="form-control" id="description_ru" name="description_ru" rows="6" ng-model="videoData.description_ru" ng-disabled="videoData.status == 1 ? true : false"></textarea>
                  </div>
                </div>
              </div>
              <!-- <div class="margin_bottom10"> <a class="btn btn-pink" ng-click="Addvideolanguages()"><i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Add Video</a> </div> -->
              <div class="form-group" ng-repeat="video in videoData.video_urls" ng-init="lastIndex = $last">
                <hr>
                <div class="row">
                  <div class="col-sm-6">
                    <h3>[[video.video_language]]</h3>
                  </div>
                  <div class="col-sm-6">
                    <a href="javascript:;" class="icon new-icon-class">
                      <i class="fa fa-trash-o remove_existing_video" ng-click="videoData.status == 1 ? '' : removeExistingVideo(video.id,$index,video.video_language)" id="[[video.id]]" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="row margin_bottom10">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Video</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <div class="input-file-container">
                        <input type="hidden" name="file[file_name_[[$index]]][language]" value="[[video.video_language]]">
                        <input type="hidden" name="file[file_name_[[$index]]][id]" value="[[video.id]]">
                        <input type="file" class="input-file fl_input" id="old_video_[[$index]]" name="file[file_name_[[$index]]][video]" ng-disabled="videoData.status == 1 ? true : false">
                        <p><i class="fa fa-play-circle" aria-hidden="true"></i></p>
                        <p id="filereturn_[[$index]]">[[video.file_original_name]]</p>
                     </div>
                     <table width="100%" cellpadding="0" cellspacing="0" >
                       <tr>
                         <td><label tabindex="0" for="my-file_[[$index]]" class="input-file-trigger"><em> Upload MP4, AVI & MOV files only.</em><span class="btn btn-Browse"><i class="fa fa-folder-open" aria-hidden="true"></i> Browse Files</span></label> </td>

                       </tr>
                       <tr>
                          <td><p class="file-return"></p></td>
                       </tr>
                     </table>
                  </div>
                </div>
              </div>
              <div ng-if="showVideoDiv" >
                <label><h3>New Videos</h3></label>
                <div class="form-group" ng-repeat="video in videos">
                  <hr>
                  <div class="row margin_bottom10">
                    <div class="col-md-2 col-lg-2">
                      <label class="label">[[video.language]] Video</label>
                    </div>
                    <div class="col-md-9 col-lg-5">
                      <div class="input-file-container">
                          <input type="hidden" name="file[file_name_[[$index+lastIndex+1]]][language]" value="[[video.language]]">
                          <input type="hidden" name="file[file_name_[[$index+lastIndex+1]]][id]" value="[[video.id]]">
                          <input type="file" class="input-file new_video fl_input" id="new_video_[[$index]]" name="file[file_name_[[$index+lastIndex+1]]][video]" ng-disabled="videoData.status == 1 ? true : false">
                          <p><i class="fa fa-play-circle" aria-hidden="true"></i></p>
                          <p id="newfilereturn_[[$index]]">Drop video file here</p>
                       </div>
                       <table width="100%" cellpadding="0" cellspacing="0" >
                         <tr>
                           <td><label tabindex="0" for="my-file_[[$index]]" class="input-file-trigger"><em> Upload MP4, AVI & MOV files only.</em><span class="btn btn-Browse"><i class="fa fa-folder-open" aria-hidden="true"></i> Browse Files</span></label> </td>

                         </tr>
                         <tr>
                            <td><p class="file-return"></p></td>
                         </tr>
                       </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-div" ng-if="videoData.status != 1">
              <div class="form-group">
                <!-- <div class="row">
                  <div class="col-md-2 col-lg-2"> </div>
                  <div class="col-md-10 col-lg-10"> -->
                    <!-- <button class="btn btn-pink upload-new-video draft" ng-click="Uploadnewvideo(3,'draft')">Save As Draft</button> -->
                    <button class="btn btn-pink upload-new-video publish" ng-click="Uploadnewvideo(1,'publish')" ng-disabled="videoData.status == 1 ? true : false">Publish</button>
                  <!-- </div>
                </div> -->
              </div>
            </div>
        </form>
      </div>    
    </div>
  </div>
</section>
