<div class="section container plans margin-bt20">
    <span class="title">SUBSCRIPTION PLANS</span>
    <span class="pull-right"><a class="btn" href="manage/transactions">View All Transactions</a></span>
    <div class="subscription-plans content-box">
        <div id="plans">
            <!--class="owl-carousel"-->
            <div class="box" ng-repeat="plan in plans">
                <div class="sub-header">[[plan.subscription_name]]</div>
                <div class="box-content">
                    <div class="label-large text-center">&yen; 498.0 PER YEAR
                        <span class="dlt-btn hide">
                            <a class="btn"><i class="sci-Delete-Icon"></i></a>
                        </span>
                    </div>
                    <div class="details">
                        <div class="dec">
                            <i class="sci-Users">
                            </i>
                            Active Users: <span>[[plan.total_active_users]]</span>
                        </div>
                        <div class="dec">
                            <i class="sci-ernings">
                            </i>
                            Lifetime Earnings: <span>&yen; 244,000</span>
                        </div>
                        <div class="dec">
                            <i class="sci-calendar">
                            </i>
                            Avg Monthly Sign ups: <span>&yen; 12</span>
                        </div>
                    </div>
                    <div class="chart">
                        <div id="highchart[[plan.id]]"></div>
                    </div>
                    <div class="margin-bt20 box-btn text-center hide">
                        <a class="btn">
                            <i class="sci-eraser"></i>
                            Modify Plan
                        </a>
                        <a class="btn">
                            <i class="sci-pause"></i>
                            Pause Plan
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>