<div class="section container">
    <span class="title">All TRANSACTIONS</span>
    <div class="all-transactions">
        <div class="filter">
            <div class="row">
                <div class="col-sm-4">
                    <div class="search-panel">
                        <input ng-change="searchByName(txtSearch)" ng-model="txtSearch" type="text" name="txtSearch" placeholder="Search" class="form-control">
                        <i class="sci-Search-Icon"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <select ng-model="dd_plans" ng-change="changePlans(dd_plans)" class="form-control">
                                <option value="" selected="">Select Plan</option>
                                <option ng-repeat="subscription in subscriptions" value="[[subscription.id]]">[[subscription.subscription_name]]</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-4">
                    <div class="row">
                        <label class="col-sm-3 control-label">Export To:</label>
                        <div class="col-sm-6">
                            <select class="form-control">
                                <option value="volvo" selected="">Excel</option>
                                <option value="saab">PDF</option>
                                <option value="mercedes">CSV</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <a class="btn">Export</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <table class="table table-bordered back-white">
                <thead>
                    <tr>
                        <th>Plan</th>
                        <th>Name</th>
                        <th>Transaction ID</th>
                        <th>Purchased on</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="transaction in transactions">
                        <td>[[transaction.subscription.subscription_name]]</td>
                        <td>[[transaction.users.first_name]] [[transaction.users.last_name]]</td>
                        <td>[[transaction.transaction_id]]</td>
                        <td>[[transaction.created_at]]</td>
                        <td>&yen; [[transaction.subscription.amount]] <i class="sci-notice icon" data-toggle="tooltip" title="" data-original-title="The comments on the proof read documents will be in ENGLISH language."></i></td>
                        <td class="text-green" ng-if="transaction.payment_status == 1">[[transaction.paymentStatus]]</td>
                        <td class="text-red" ng-if="transaction.payment_status == 3">[[transaction.paymentStatus]]</td>
                    </tr>
                </tbody>
            </table>
            <span class="text-green" ng-if="count_total > 0">
                <span class="status">
                    <label>Showing [[startfrom]] – [[endto]] out of [[count_total]] entries</label>
                </span>
                <ul class="pagination pager pull-right">
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage()">Previous</a></li>
                    <li ng-repeat="n in range(pageinate, currentPage, currentPage + gap)"
                        ng-class="{active: n == currentPage}"
                        ng-click="setPage()">
                        <a href ng-bind="n + 1">1</a>
                    </li>
                    <li ng-class="{disabled: (currentPage) == pageinate - 1}">
                        <a href ng-click="nextPage()">Next</a>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</div>