<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-7">
          <h3 class="panel-title">Pricing Plans</h3>
        </div>
        <div class="col-sm-5 text-right">
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div id="" class="">      
         <form id="newWorkSheetForm">
          <div class="content-div">
            <div class="form-group">
            <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Category</label>
                </div>
                <div class="col-md-9 col-lg-5">
                  <select id="category" name="category" ng-model="category" ng-change="Loaddata(category)" class="form-control">
                    <option value="">Select..</option>
                    <option ng-repeat="category in categories" value="[[category]]">[[category.category_name]]</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">English Description</label>
                </div>
                <div class="col-md-9 col-lg-5">
                  <textarea ng-model="categoryData.description" id="description" name="description" class="form-control" rows="6" placeholder="Description English"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Chinese Description</label>
                </div>
                <div class="col-md-9 col-lg-5">
                  <textarea ng-model="categoryData.description_chi" id="description_chi" name="description_chi" class="form-control" rows="6" placeholder="Chinese Description"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Category Price</label>
                </div>
                <div class="col-md-9 col-lg-5">
                  <input type="text" class="form-control price" name="category_price" id="category_price" ng-model="categoryData.category_price" placeholder="[[current_domain=='cn'?'¥':'S$']]">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Promotions</label>
                </div>
                <div class="col-md-9 col-lg-5">
                  <div class="col-md-10 col-lg-10"> 
                    <span class="custom-radio3">
                      <input type="radio" name="on_off_status" ng-checked="categoryData.promotions==1" ng-model="categoryData.promotions" id="on" value="1" ng-change='Checkpromotion(categoryData.promotions)'/>
                      <label for="on">On</label>
                    </span>
                    <span class="custom-radio3">
                      <input type="radio" name="on_off_status" ng-checked="categoryData.promotions==0" ng-model="categoryData.promotions" id="off" value="0" ng-change='Checkpromotion(categoryData.promotions)'/>
                      <label for="off">Off</label>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" ng-if="showPromotionBox">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Promotional Price</label>
                </div>
                <div class="col-md-9 col-lg-5">
                  <input type="text" class="form-control" name="promotional_price" id="promotional_price" ng-model="categoryData.promotional_price" placeholder="[[current_domain=='cn'?'¥':'S$']]">
                </div>
              </div>
            </div>
          </div>
          <div class="content-div">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                    
                </div>
                <div class="col-md-10 col-lg-10">
                  <button class="btn btn-pink upload-new-work-sheet saveCategory" id="save" ng-click="Savecategory(categoryData)">Save</button>
                  <!-- <button class="btn btn-pink upload-new-work-sheet" id="save-as-draft" ng-click="Uploadnewworksheet(3, 'Save As Draft', 'save-as-draft')">Save As Draft</button> -->
                </div>
              </div>
            </div>
          </div>
      </div>    
    </div>
  </div>
</section>
<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-7">
          <h3 class="panel-title">Promotion Code</h3>
        </div>
        <div class="col-sm-5 text-right">
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div id="" class="">      
         <form id="newWorkSheetForm">
          <div class="content-div">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Promo Code</label>
                </div>
                <div class="col-md-5 col-lg-5">
                  <input type="text" class="form-control" name="promo_code" id="promo_code" ng-model="promo_code" placeholder="Promo Code for all categories">
                </div>
                <div class="col-md-5 col-lg-5">
                  <button class="btn btn-pink upload-new-work-sheet savePromo" id="savePromo" ng-click="Savepromo(promo_code)">Save</button>
                </div>
              </div>
            </div>
          </div>
      </div>    
    </div>
  </div>
</section>
