<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-6">
          <h3 class="panel-title">Promo Codes</h3>
        </div>
        <div class="col-sm-6 text-right">
          <div class="tab-div custom_tab_div">
            <button class="btn tablinks active" id="live" ng-click="Changepromotype(module_type ,1,'live')">Live</button>
            <button class="btn tablinks" id="on_hold" ng-click="Changepromotype(module_type, 2,'on_hold')">On Hold</button>
            <button class="btn tablinks" id="expired" ng-click="Changepromotype(module_type, 3,'expired')">Expired</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="content-div">
           <div class="row">
             <div class="col-sm-3">
               <span class="custom-search-box">
                  <input type="text" ng-change="Searchby(status,search_by)" placeholder="Search by promo code, owner etc" class="form-control" ng-model="search_by" >
               </span>
             </div>
             <div class="col-sm-3">
                <div class="row">
                  <div class="col-sm-9">
                    <select class="form-control" ng-model="export_type">
                      <option value="">Select Export Type</option>
                      <option value="1">Excel</option>
                      <option value="2">CSV</option>
                    </select>
                  </div>
                  <div class="col-sm-3 margin_top_5">
                    <button class="btn btn-pink" ng-disabled="promoContent.length==0" ng-click="ExportPromos(export_type,module_type)">
                        <i aria-hidden="true" class="fa fa-download">
                        </i>
                    </button>
                  </div>
                </div>
             </div>
             <div class="col-sm-3">
                <div class="row">
                  <div class="col-sm-9">
                    <select class="form-control" ng-model="module_type" data-ng-change="changeModule(status,module_type)">
                      <option value="">Select Product..</option>
                      <option value="0">Ignite</option>
                      <option value="1">Twinkle</option>
                    </select>
                  </div>
                </div>
             </div>
             <div class="col-sm-3 text-right margin_top_5">
                <a class="btn btn-pink" href="manage/ignite/add-promo-codes">
                  <i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> New Promo Code
                </a>
             </div>
           </div>
      </div>
      <div class="content-div">
        <div class="tbl-list-no-border">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <th class="text-center" width="80">S/N</th>
              <th class="text-center" width="100">Date</th>
              <th class="text-center" width="100">Category</th>
              <th class="text-center" width="150">Promo Code</th>
              <th class="text-center" width="80">Discount</th>
              <th class="text-center" width="100">Number of Redemptions</th>
              <!-- <th class="text-center" width="100">Redeemed Count</th> -->
              <th class="text-center" width="150">From</th>
              <th class="text-center" width="150">Till</th>
              <th class="text-center" width="100">Owner</th>
              <th class="text-center" width="100">Remarks</th>
              <th class="text-center" width="100">Promo Type</th>
              <th class="text-center" width="100">Action</th>
            </tr>
            <tr ng-repeat="promo in promoContent">
              <td class="text-center">[[$index+1]]</td>
              <td class="text-center">[[promo.date]]</td>
              <td class="text-center">[[promo.category_name]]</td>
              <td class="text-center"><a class="anchor_decoration_none" href="manage/ignite/promo-codes-details/[[promo.slug]]">[[promo.promo_code]]</a></td>
              <td class="text-center" ng-if="promo.discount_type==0">[[promo.discount_of]]%</td>
              <td class="text-center" ng-if="promo.discount_type==1">[[current_domain=='net'?'S$':'¥']] [[promo.discount_of]]</td>
              <td class="text-center" ng-if="promo.redemption_type==0">[[promo.redeemed_count]]/[[promo.number_of_redemptions]]</td>
              <td class="text-center" ng-if="promo.redemption_type==1">Infinite</td>
              <!-- <td class="text-center">[[promo.redeemed_count]]</td> -->
              <td class="text-center">[[promo.from_date]]</td>
              <td class="text-center">[[promo.to_date]]</td>
              <td class="text-center">[[promo.distributor_id?promo.distributor_detail.company_name:'SixClouds']]</td>
              <td class="text-center">[[promo.remarks]]</td>
              <td class="text-center">[[promo.promo_type==0?'Individual':'Bundle']]</td>
              <td class="text-center">
                <a class="btn btn-pink text_decoration_none_custom"  title="Edit" href="manage/ignite/edit-promo-codes/[[promo.slug]]">
                  <i class="fa fa-edit lg-icon lg_icon_custom" aria-hidden="true"></i>
                </a>
                <a ng-if="promo.status==1" title="Suspend" class="btn btn-red text_decoration_none_custom suspendpromo_[[promo.id]]" ng-click="Suspendpromo(promo.id)">
                  <i class="fa fa-ban lg-icon lg_icon_custom" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </table>
          <default-pagination currentpage="currentPromoPaging" like="GetAllPromoData({'status':status,'module':module_type},page)" paginate="paginate" range="rangePromopage">
          </default-pagination>
        </div>
      </div>    
    </div>
  </div>
</section>
