<section class="quiz-manager-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-6">
          <h3 class="panel-title">Quiz Manager</h3>
        </div>
        <!-- <div class="col-sm-3">
          <div class="tab-div custom_tab_div">
            <button class="btn tablinks" id="buzzType_[[ buzz.value ]]" ng-click="filterDataBuzz(buzz.value,page)" ng-repeat="buzz in buzzTypes">[[ buzz.name ]]</button>
          </div>
        </div> -->
        <div class="col-sm-6 text-right">
          <a class="btn btn-pink" href="manage/ignite/create-new-quiz">
            <i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Create New Quiz
          </a>
        </div>
      </div>
    </div>
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div">
            <select class="form-control" ng-model="getQuizzes.zone" ng-change="getSubjects(getQuizzes.zone)">
              <option value="">Select Zone</option>
              <option ng-value="zone.id" ng-repeat="zone in zones">[[ zone.zone_name ]]</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div">
            <select class="form-control" ng-change="Getcategories(getQuizzes.subject)" ng-model="getQuizzes.subject">
              <option value="">Select Subject</option>
              <option ng-value="subject.id" ng-repeat="subject in subjects">[[ subject.subject_name ]]</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div">
            <select class="form-control" ng-change="Getsubcategories(getQuizzes.category, 1)" ng-model="getQuizzes.category">
              <option value="">Select Category</option>
              <option ng-value="category.id" ng-repeat="category in categories">[[ category.category_name ]]</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div" ng-if="subCategoriesExist">
            <select class="form-control" ng-change="Getsubcategories(getQuizzes.subcategory, 0)" ng-model="getQuizzes.subcategory">
              <option value="">Select Sub-category</option>
              <option ng-value="subCategory.id" ng-repeat="subCategory in subCategories">[[ subCategory.subcategory_name ]]</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row flax-table">
        <div class="col-sm-12 text-left">
          <button class="btn btn-pink" ng-click="GetVideos(getQuizzes)">Get Quizzes</button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="content-div">
        <div class="tab-div">
          <button class="btn tablinks" id="quizType_[[ types.value ]]" ng-click="filterData(types.value,page)" ng-repeat="types in publishTypes">[[ types.name ]]</button>
        </div>
        <div id="PublishedQuizzesTab" class="tabcontent">
          <ul class="listing-line">
            <li ng-repeat="quiz in allQuizContent" ng-if="quiz.quizzes">
              <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-5">
                  <div class="media">
                    <div class="pull-left">
                      <a href="#">
                        <img class="quiz_banner" src="resources/assets/images/ignite/quiz.png" alt="..."> 
                      </a>
                    </div>
                    <div class="media-body">
                      <!-- <h4 ng-if="quiz.quiz_published_status!=2" class="media-heading"><a class="anchor_decoration_none" href="manage/ignite/edit-quiz/[[quiz.slug]]">[[quiz.title]]</a></h4> -->
                      <h4 class="media-heading"><a class="anchor_decoration_none" href="manage/ignite/quiz-info/[[quiz.quizzes.slug]]">[[quiz.quizzes.title]]</a></h4>
                      <!-- <h4 class="media-heading" ng-if="quiz.quiz_published_status==1||quiz.quiz_published_status==3"><a class="anchor_decoration_none" href="manage/ignite/edit-quiz/[[quiz.slug]]">[[quiz.title]]</a></h4> -->
                      <!-- <h4 class="media-heading" ng-if="quiz.quiz_published_status==2">[[quiz.title]]</h4> -->
                      [[quiz.quizzes.description]]
                    </div>
                  </div>
                </div>
                <div class="col-xs-8 col-md-9 col-lg-5 fullWidth640">
                  <ul class="info-list">
                    <li>
                      <i class="fa fa-list-alt" aria-hidden="true"></i> [[ quiz.quizzes.category.category_name]]</li>
                    <li>
                      <i class="fa fa-calendar" aria-hidden="true"></i> [[ quiz.quizzes.new_created_at]]</li>
                    <li>
                      <i ng-class="{'fa fa-unlock-alt':quiz.quizzes.quiz_status_locked=='OPEN', 'fa fa-lock':quiz.quizzes.quiz_status_locked=='LOCKED'}" aria-hidden="true"></i> [[ quiz.quizzes.quiz_status_locked]]</li>
                    <li>
                      <i class="fa fa-question-circle" aria-hidden="true"></i> [[ quiz.quizzes.quizquestions_count]] Questions</li>
                    <li>
                      <i class="fa fa-play-circle" aria-hidden="true"></i> [[ quiz.quizzes.quiz_attempt_count ]] Attempts</li>
                    <li>
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i> [[ quiz.quizzes.quiz_status_name]]</li>
                  </ul>
                </div>
                <div class="col-xs-4 col-md-3 col-lg-2 fullWidth640 text-right">
                  <a class="btn btn-pink" ng-if="quiz.quizzes.quiz_published_status==2" href="manage/ignite/quiz-info/[[ quiz.quizzes.slug]]">
                    <i class="fa fa-info-circle lg-icon" aria-hidden="true"></i> View Info</a>
                  <a class="btn btn-pink" ng-if="quiz.quizzes.quiz_published_status!=2" href="manage/ignite/edit-quiz/[[ quiz.quizzes.slug]]">
                    <i class="fa fa-edit lg-icon" aria-hidden="true"></i> Edit</a>
                </div>
              </div>
            </li>
          </ul>
          <default-pagination currentpage="currentQuizPaging" like="GetAllQuizData(getQuizzes,page)" paginate="paginate" range="rangeQuizpage">
          </default-pagination>
        </div>
      </div>
    </div>
  </div>
</section>