<div aria-labelledby="myModalLabel" class="modal fade designer-my-uploads-popup" id="emailDistributorModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <h4 class="modal-title uppercase color-purple" id="myModalLabel">
          Email Subscriber
        </h4>
      </div>
      <div class="modal-body">
        <div class="flowup-labels-form sign-up-form animated go">
          <form id="sendEmailForm"  >
            <input type="hidden" name="hidDistributorId" id="hidDistributorId" value="[[distributorDetails.id ]]" class="hide">
            <div class="form-group">
              <div class="fl_wrap">
                <label class="fl_label" for="rf_title">
                  Subject
                </label>
                <input class="fl_input form-control" id="email_subject" name="email_subject" ng-model="email_subject" required type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="fl_wrap textarea " style="height: 250px;">
                <label class="" for="upload_description">
                  Message
                </label>
                <div id="editor"></div>
              </div>
            </div>
            <div class="clear-fix"></div>
            <div class="form-bottom-btn">
              <div class="row">
                <div class="col-sm-12">
                  <button class="submit_bank btn btn-pink submit-btn btn-sm" ng-click="sendEmailToDistributor()"
                    type="button">Send</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div aria-labelledby="myModalLabelChangePassword" class="modal fade designer-my-uploads-popup" id="changePasswordModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <h4 class="modal-title uppercase color-purple" id="myModalLabel">
          Change Password
        </h4>
      </div>
      <div class="modal-body">
        <div class="flowup-labels-form sign-up-form animated go">
          <form id="changePasswordForm">
            <input type="hidden" name="hidDistributorIdChangePassword" id="hidDistributorIdChangePassword" value="[[distributorDetails.id ]]" class="hide">
            <div class="form-group">
              <div class="fl_wrap">
                <label class="fl_label" for="rf_title">
                  Admin Password
                </label>
                <input class="fl_input form-control" id="admin_password" name="admin_password" ng-model="admin_password" required type="password">
              </div>
            </div>
            <div class="form-group">
              <div class="fl_wrap">
                <label class="fl_label" for="rf_title">
                  Password
                </label>
                <input class="fl_input form-control" id="change_password" name="change_password" ng-model="change_password" ng-change="Checkexpression(change_password)" required type="password">
              </div>
            </div>
            <div class="form-group">
              <div class="fl_wrap">
                <label class="fl_label" for="rf_title">
                  Confirm Password
                </label>
                <input class="fl_input form-control" id="change_confirm_password" name="change_confirm_password" ng-model="change_confirm_password" required type="password">
              </div>
            </div>           
            <div class="clear-fix"></div>
            <div class="form-bottom-btn">
              <div class="row">
                <div class="col-sm-12">
                  <button class="change_password btn btn-pink submit-btn btn-sm" ng-click="changeDistributorPassword()"
                    type="button">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Edit details modal : start -->
<div aria-labelledby="myModalLabelChangePassword" class="modal fade designer-my-uploads-popup" id="editDetailsModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <h4 class="modal-title uppercase color-purple" id="myModalLabel">
          Edit <strong>[[distributorDetails.first_name ]] [[distributorDetails.last_name ]]</strong>&#39;s Details
        </h4>
      </div>
      <div class="modal-body">
        <div class="flowup-labels-form sign-up-form animated go">
          <form id="editDetailForm">
            <div class="form-group">
              <div class="fl_wrap">
                <label class="fl_label" for="rf_title">
                  First Name
                </label>
                <input class="fl_input form-control" id="first_name" name="first_name" ng-model="editDetail.first_name" ng-change="Checkexpression(change_password)" required type="text" placeholder="First Name">
              </div>
            </div>
            <div class="form-group">
              <div class="fl_wrap">
                <label class="fl_label" for="rf_title">
                  Last Name
                </label>
                <input class="fl_input form-control" id="last_name" name="last_name" ng-model="editDetail.last_name" required type="text" placeholder="Last Name">
              </div>
            </div>
            <div class="row">
              
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="fl_wrap">
                    <label class="fl_label" for="rf_title">
                      DoB
                    </label>
                    <input class="fl_input form-control" id="dob" ng-change="calculateAge(editDetail.dob)"  onkeydown="return false" name="dob" ng-model="editDetail.dob" required type="text" placeholder="DoB">
                  </div>
                </div>
              </div>
              <div class="col-sm-6" ng-if="current_domain_temp=='net'">
                <div class="form-group">
                  <div class="fl_wrap">
                    <label class="fl_label" for="rf_title">
                      Contact
                    </label>
                    <div class="row">
                      <div class="col-sm-4">
                        <input class="fl_input form-control" numbers-only id="phonecode" name="phonecode" ng-model="distributorDetails.phonecode" required type="text" placeholder="+Ph-code">
                      </div>
                      <div class="col-sm-8">
                        <input class="fl_input form-control" numbers-only id="contact" name="contact" ng-model="editDetail.contact" required type="text" placeholder="Contact">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="fl_wrap">
                    <label class="fl_label" for="rf_title">
                      Country
                    </label>
                    <select class="form-control" ng-model="distributorDetails.country_id" ng-change="Getstates(distributorDetails.country_id)" id="country_id" name="country_id">
                      <option value="">Choose Country</option>
                      <option ng-repeat='optioncountry in countryList' value="[[optioncountry.id]]" ng-selected="distributorDetails.country_id == optioncountry.id">[[optioncountry.name]]</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="fl_wrap">
                    <label class="fl_label" for="rf_title">
                      State
                    </label>
                    <select class="form-control" ng-model="distributorDetails.provience_id" ng-change="Getcities(distributorDetails.provience_id)" id="provience_id" name="provience_id">
                      <option value="">Choose State</option>
                      <option ng-repeat='state in stateList' ng-value="state.id" ng-selected="distributorDetails.provience_id == state.id">[[state.name]]</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="fl_wrap">
                    <label class="fl_label" for="rf_title">
                      City
                    </label>
                    <select class="form-control" ng-model="distributorDetails.city_id" id="city_id" name="city_id">
                      <option value="">Choose City</option>
                      <option ng-repeat='city in cityList' ng-value="city.id" ng-selected="distributorDetails.city_id == city.id">[[city.name]]</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear-fix"></div>
            <div class="form-bottom-btn">
              <div class="row">
                <div class="col-sm-12">
                  <button class="change_password btn btn-pink submit-btn btn-sm" ng-click="editSubscriberDetails(editDetail)"
                    type="button">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Edit details modal : end -->
<div aria-labelledby="myModalLabelAdminPassword" class="modal fade designer-my-uploads-popup" id="adminPasswordModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <h4 class="modal-title uppercase color-purple" id="myModalLabel">
          Password Confirmation
        </h4>
      </div>
      <div class="modal-body">
        <div class="flowup-labels-form sign-up-form animated go">
          <form id="adminPasswordForm">
            <div class="form-group">
              <div class="fl_wrap">
                <label class="fl_label" for="rf_title">
                  Admin Password
                </label>
                <input class="fl_input form-control" id="admin_password_confirm" name="admin_password_confirm" ng-model="admin_password_confirm" required type="password">
              </div>
            </div>          
            <div class="clear-fix"></div>
            <div class="form-bottom-btn">
              <div class="row">
                <div class="col-sm-12">
                  <button class="admin_password_suspend btn btn-pink submit-btn btn-sm" ng-disabled="!admin_password_confirm" ng-click="suspendAccountConfirm()"
                    type="button">[[suspendReactivateButton]]</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- grant Category access modal -->
<div aria-labelledby="myModalLabelChangePassword" class="modal fade designer-my-uploads-popup" id="addSubscriptionPlace" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <h4 class="modal-title uppercase color-purple" id="myModalLabel">
          Add Subscription plan
        </h4>
      </div>
      <div class="modal-body">
        <div class="flowup-labels-form sign-up-form animated go">
          <form id="grantCategoryform">
            <ul class="list-unstyled">
              <li ng-repeat="(key, category) in videoCategories" class="inline-block custom_li">
                <div class="row" ng-if="((key == 0) || (category.subject_id != videoCategories[key-1].subject_id))">
                  <h5 class="modal-title uppercase color-purple" id="myModalLabel" style="padding: 3%; ">
                    [[ category.subject.subject_name ]]
                    <hr>
                  </h5>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    [[category.category_name]]
                  </div>
                  <div class="col-sm-4">
                    <table cellpadding="0" cellspacing="0" width="100%">
                      
                      <tr >
                        <!-- <td width="120"><label>End Date</label></td> -->
                        <td class="calendar">
                          <input width="100%" class="form-control datetimepicker" placeholder="End Date"  id="datetimepicker_end_[[category.id]]" name="category[ [[$index]] ][end_date]" ng-model="end_date" ng-disabled="category.canGrant==0" type="text" onkeydown="return false"/><i class="fa fa-calendar"></i>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-sm-4 ">
                    <input class="pull-right custom_checkbox" type="checkbox" value="[[category.canGrant==1?category.id:'']]" name="category[ [[$index]] ][category]" id="category_[[category.id]]" ng-checked="category.canGrant==0" ng-disabled="category.canGrant==0">
                  </div>
                </div>
                <input type="hidden" name="category[ [[$index]] ][category_name]" value="[[category.category_name]]">
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn assign" id="addSubscriptionPlan" ng-disabled="cannotAdd" ng-click="AddSubscription()">Add
        </button>
      </div>
    </div>
  </div>
</div>
<!-- grant Twinkle Category access modal -->
<div aria-labelledby="myModalLabelChangePassword" class="modal fade designer-my-uploads-popup" id="addtwinkleSubscriptionPlace" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <h4 class="modal-title uppercase color-purple" id="myModalLabel">
          Add Twinkle Subscription plan
        </h4>
      </div>
      <div class="modal-body">
        <div class="flowup-labels-form sign-up-form animated go">
          <form id="granttwinkleCategoryform">
            <ul class="list-unstyled">
              <li ng-repeat="(key, category) in twinkleCategories" class="inline-block custom_li">
                <div class="row" ng-if="((key == 0) || (category.subject_id != twinkleCategories[key-1].subject_id))">
                  <h5 class="modal-title uppercase color-purple" id="myModalLabel" style="padding: 3%; ">
                    [[ category.subject.subject_name ]]
                    <hr>
                  </h5>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    [[category.category_name]]
                  </div>
                  <div class="col-sm-4">
                    <table cellpadding="0" cellspacing="0" width="100%">
                      
                      <tr >
                        <!-- <td width="120"><label>End Date</label></td> -->
                        <td class="calendar">
                          <input width="100%" class="form-control datetimepicker" placeholder="End Date"  id="datetimepicker_twinkle_end_[[category.id]]" name="category[ [[$index]] ][end_date]" ng-model="end_date" ng-disabled="category.canGrant==0" type="text" onkeydown="return false"/><i class="fa fa-calendar"></i>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-sm-4 ">
                    <input class="pull-right custom_checkbox" type="checkbox" value="[[category.canGrant==1?category.id:'']]" name="category[ [[$index]] ][category]" id="category_[[category.id]]" ng-checked="category.canGrant==0" ng-disabled="category.canGrant==0">
                  </div>
                </div>
                <input type="hidden" name="category[ [[$index]] ][category_name]" value="[[category.category_name]]">
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn assign" ng-disabled="cannotAdd" ng-click="AddtwinkleSubscription()">Add
        </button>
      </div>
    </div>
  </div>
</div>
<!-- remove Category access modal -->
<div aria-labelledby="myModalLabelChangePassword" class="modal fade designer-my-uploads-popup" id="removeSubscriptionPlace" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <h4 class="modal-title uppercase color-purple" id="myModalLabel">
          Remove Subscription plan
        </h4>
      </div>
      <div class="modal-body">
        <div class="flowup-labels-form sign-up-form animated go">
          <form id="removeCategoryform">
            <ul class="list-unstyled">
              <li ng-repeat="category in allSubscription" class="inline-block custom_li">
                <div class="row">
                  <div class="col-sm-4">
                    [[category.video_categories.category_name]]
                  </div>
                  <div class="col-sm-4">
                    <table cellpadding="0" cellspacing="0" width="100%">
                      
                      <tr >
                        <!-- <td width="120"><label>End Date</label></td> -->
                        <td class="calendar">
                          <input width="100%" class="form-control datetimepicker" placeholder="Effective From"  id="datetimepicker_effective_[[category.id]]" name="category[ [[$index]] ][end_date]" type="text" onkeydown="return false"/><i class="fa fa-calendar"></i>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-sm-4 ">
                    <input class="pull-right custom_checkbox" type="checkbox" value="[[category.id]]" name="removeCheckbox" id="category_[[category.id]]">
                  </div>
                </div>
                <input type="hidden" id="category_name_[[category.id]]" name="category_name_[[category.id]]" value="[[ category.video_categories.category_name ]]">
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn assign" ng-click="removeSubscription()">Remove
        </button>
      </div>
    </div>
  </div>
</div>
<section class="distributors-Info-A_Info-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-6">
          <h3 class="panel-title">Subscribers</h3>
        </div>
        <div class="col-sm-6 text-right">
          
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="content-div">
        <!-- <a href="manage/ignite/edit-distributor/[[distributorDetails.slug ]]" class="btn btn-pink pull-right">Edit</a>       -->
        <div class="lg-text"> [[distributorDetails.first_name ]] [[distributorDetails.last_name ]] </div>
      </div>
    </div>
  </div>
  <div id="" class="">
    <div class="panel-group custom-accordion">
      <div class="panel">
        <div class="panel-heading active">
          <h4 class="panel-title">
            <a> Account Details
              <span class="right-icon ">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse" style="display:block">
          <div class="panel-body">
            <section class="D-Info-A_Info-form">
              <div class="form-group">
                <div class="row ">
                  <div class="col-sm-2">
                    <label class="label">Name</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[distributorDetails.first_name ]] [[distributorDetails.last_name ]]</strong>
                  </div>
                  <div class="col-sm-2">
                    <label class="label">Email</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[distributorDetails.email_address ]] </strong>                   
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row ">
                  <div class="col-sm-2">
                    <label class="label">Address</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[ distributorDetails.subscriber_city.name]][[', ' + distributorDetails.subscriber_state.name]][[',
                      ' +distributorDetails.subscriber_country.name]]</strong>
                  </div>
                  <div class="col-sm-2" ng-if="distributorDetails.phonecode && distributorDetails.contact">
                    <label class="label">Phone Number</label>
                  </div>
                  <div class="col-sm-4" ng-if="distributorDetails.phonecode && distributorDetails.contact"> :
                    <strong>+[[distributorDetails.phonecode]] [[distributorDetails.contact]]</strong>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-2">
                    <label class="label">Status</label>
                  </div>
                  <div class="col-sm-4"> :                                       
                    <strong class="unique-link-class"> [[distributorDetails.status==0?'In-active':distributorDetails.status==3?'Suspended':'Active' ]]</strong>
                  </div>   
                  <div class="col-sm-2" ng-if="distributorDetails.dob">
                    <label class="label">Date of Birth</label>
                  </div>
                  <div class="col-sm-4" ng-if="distributorDetails.dob"> :                                       
                    <strong class="unique-link-class"> [[distributorDetails.dob]]</strong>
                  </div>                                    
                </div>
              </div>           
            </section>
            <div class="bottom-btn">
              <button class="btn btn_green_custom" ng-disabled="distributorDetails.status==0" ng-click="Getcategoriesforsubscription(distributorDetails.id)"> Add Subscription Plan</button>
              <button class="btn btn_green_custom" ng-disabled="distributorDetails.status==0" ng-click="Getcategoriesfortwinklesubscription(distributorDetails.id)"> Add Twinkle Plan</button>
              <button class="btn btn-red" ng-if="distributorDetails.status!=0&&distributorDetails.status!=3" ng-click="getAllSubscription({'paid_by':distributorDetails.id})">Remove Subscription Plan</button>
              <button class="btn btn-red" ng-if="distributorDetails.status!=0&&distributorDetails.status!=3" ng-click="suspendAccount(distributorDetails.id,3,'Suspend')">Suspend Account</button>
              <button class="btn btn-red" ng-if="distributorDetails.status==0||distributorDetails.status==3" ng-click="suspendAccount(distributorDetails.id,1,'Reactivate')">Reactivate Account</button>
              <button class="btn btn-pink" ng-click="EmailDistributor(distributorDetails.id)"> Email Subscriber</button>
              <button class="btn btn-pink" ng-click="changePassword(distributorDetails.id)"> Change Password</button>
              <button class="btn btn-pink" ng-click="editDetails(distributorDetails.id)"> Edit Details</button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="javascript:;"> Active Subscription
              <span class="right-icon ">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </a>
          </h4>
        </div>
        <!-- <div class="panel-collapse">
          <div class="panel-body" ng-repeat="active in activeSubscription">
            <div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  Transaction Id : [[active.system_transaction_number]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Sub-Category : [[active.video_category_name]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Category : [[active.video_categories.subject.subject_name]]
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  Date : [[active.payment_at]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Period : [[active.plan_duration]] months
                </div>
                <div class="col-sm-6 col-md-4" ng-if="active.payment_amount_type == 1">
                  Price : USD [[active.payment_amount]]
                </div>
                <div class="col-sm-6 col-md-4" ng-if="active.payment_amount_type == 2">
                  Price : SGD [[active.payment_amount]]
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  Valid From : [[active.end_date]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Promo Code : [[active.promo_code]]
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div ng-if="active.renewal_category.length == 0 && active.active == 1">
                  <input class="form-control promo-text" type="text" id="promocode_[[active.video_category_id]]" ng-model="promocode" placeholder="" ng-value="active.promocode_details.promocode" ng-disabled="active.promocode_details != null">
                </div>
                <div ng-if="active.renewal_category.length != 0">
                  <div ng-repeat="(key, value) in active.renewal_category" ng-if="value.active == 1">
                    <input class="form-control promo-text" type="text" id="promocode_[[value.video_category_id]]" ng-model="promocode" placeholder="" ng-value="value.promocode_details.promocode" ng-disabled="value.promocode_details != null">
                  </div>
                </div>
                <div class="promo-btn" ng-if="active.promocode_details == null && active.renewal_category.length == 0 && active.active == 1">
                  <button class="btn btn-pink" ng-click="Applypromocode(promocode,active.id,active.id,active.video_category_id)">Apply</button>
                  <div id="applytext_[[active.video_category_id]]"></div>
                </div>
                <div class="promo-btn" ng-if="active.promocode_details == null && active.renewal_category.length != 0">
                  <div ng-repeat="(key, value) in active.renewal_category" ng-if="value.active == 1">
                    <button class="btn btn-pink" ng-click="Applypromocode(promocode,value.id,value.id,value.video_category_id)">Apply</button>
                    <div id="applytext_[[value.video_category_id]]"></div>
                  </div>
                </div>
                <div class="promo-btn" ng-if="active.promocode_details != null && active.renewal_category.length == 0 && active.active == 1">
                  <button class="btn btn-pink" ng-click="Removepromocode(active.promocode_details.promocode,active.id,active.id,active.video_category_id)">Remove</button>
                  <div id="applytext_[[active.video_category_id]]" ng-if="active.discount_price && active.payment_amount_type == 1">Discount Price : USD [[active.discount_price]]</div>
                  <div id="applytext_[[active.video_category_id]]" ng-if="active.discount_price && active.payment_amount_type == 2">Discount Price : SGD [[active.discount_price]]</div>
                </div>
                <div class="promo-btn" ng-if="active.renewal_category.length != 0">
                  <div ng-repeat="(key, value) in active.renewal_category" ng-if="value.active == 1  && value.promocode_details != null">
                    <button class="btn btn-pink" ng-click="Removepromocode(value.promocode_details.promocode,value.id,value.id,value.video_category_id)">Remove</button>
                    <div id="applytext_[[value.video_category_id]]" ng-if="value.discount_price && value.payment_amount_type == 1">Discount Price : USD [[value.discount_price]]</div>
                    <div id="applytext_[[value.video_category_id]]" ng-if="value.discount_price && value.payment_amount_type == 2">Discount Price : SGD [[value.discount_price]]</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" ng-if="active.renewal_category.length != 0">
              <div class="col-sm-12" ng-repeat="(key, value) in active.renewal_category" ng-if="value.active == 1">
                <div class="apply-text" ng-show="value.promocode_details == null ">Apply Prome Code to avail discounts on your next billing cycle</div>
              </div>
            </div>
            <div class="row" ng-if="active.renewal_category.length == 0 && active.active == 1">
              <div class="col-sm-12">
                <div class="apply-text" ng-show="active.promocode_details == null">Apply Prome Code to avail discounts on your next billing cycle</div>
              </div>
            </div>
            <div class="panel" ng-if="active.renewal_category.length != 0">
              <div class="panel-heading">
                <b>Renewal Details</b>
              </div>
              <div class="panel-body" ng-repeat="renewal in active.renewal_category">
                <div class="row">
                  <div class="col-sm-6 col-md-4">
                    Transaction Id : [[renewal.system_transaction_number]]
                  </div>
                  <div class="col-sm-6 col-md-4">
                    Sub-Category : [[renewal.video_category_name]]
                  </div>
                  <div class="col-sm-6 col-md-4">
                    Category : [[renewal.video_categories.subject.subject_name]]
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-4">
                    Date : [[renewal.payment_at]]
                  </div>
                  <div class="col-sm-6 col-md-4">
                    Period : [[renewal.plan_duration]] months
                  </div>
                  <div class="col-sm-6 col-md-4" ng-if="renewal.payment_amount_type == 1">
                    Price : USD [[renewal.payment_amount]]
                  </div>
                  <div class="col-sm-6 col-md-4" ng-if="renewal.payment_amount_type == 2">
                    Price : SGD [[renewal.payment_amount]]
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-4">
                    Valid From : [[renewal.end_date]]
                  </div>
                  <div class="col-sm-6 col-md-4">
                    Promo Code : [[renewal.promo_code]]
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="panel-collapse">
          <div class="panel-body " ng-repeat="active in activeSubscription">
            <div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  Transaction Id : [[active.system_transaction_number]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Category : [[active.video_categories.subject.subject_name]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Sub-Category : [[active.video_category_name]]
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  Valid From : [[active.payment_at]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Period : [[active.plan_duration]] months
                </div>
                <div class="col-sm-6 col-md-4" ng-if="active.payment_amount_type == 1">
                  Price : USD [[active.payment_amount]]
                </div>
                <div class="col-sm-6 col-md-4" ng-if="active.payment_amount_type == 2">
                  Price : SGD [[active.payment_amount]]
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  Valid Till : [[active.end_date]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Promo Code : [[active.promo_code]]
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div ng-if="active.active == 1">
                  <input class="form-control promo-text" type="text" id="promocode_[[active.video_category_id]]" ng-model="promocode" placeholder="" ng-value="active.promocode_details.promocode" ng-disabled="active.promocode_details != null">
                </div>
                <div class="promo-btn" ng-if="active.promocode_details == null && active.active == 1">
                  <button class="btn btn-pink" ng-click="Applypromocode(promocode,active.id,active.id,active.video_category_id)">Apply</button>
                  <div id="applytext_[[active.video_category_id]]"></div>
                </div>
                <div class="promo-btn" ng-if="active.promocode_details != null && active.active == 1">
                  <button class="btn btn-pink" ng-click="Removepromocode(active.promocode_details.promocode,active.id,active.id,active.video_category_id)">Remove</button>
                  <div id="applytext_[[active.video_category_id]]" ng-if="active.discount_price && active.payment_amount_type == 1">Discount Price : USD [[active.discount_price]]</div>
                  <div id="applytext_[[active.video_category_id]]" ng-if="active.discount_price && active.payment_amount_type == 2">Discount Price : SGD [[active.discount_price]]</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="javascript:;"> Past Subscription
              <span class="right-icon ">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse">
          <div class="panel-body " ng-repeat="past in pastSubscription">
            <div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  Transaction Id : [[past.system_transaction_number]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Category : [[past.video_categories.subject.subject_name]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Sub-Category : [[past.video_category_name]]
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  Valid From : [[past.payment_at]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Period : [[past.plan_duration]] months
                </div>
                <div class="col-sm-6 col-md-4" ng-if="past.payment_amount_type == 1">
                  Price : USD [[past.payment_amount]]
                </div>
                <div class="col-sm-6 col-md-4" ng-if="past.payment_amount_type == 2">
                  Price : SGD [[past.payment_amount]]
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  Valid Till : [[past.end_date]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Promo Code : [[past.promo_code]]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="javascript:;"> Transaction
              <span class="right-icon ">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse">
          <div class="panel-body">
            <div class="tbl-list-no-border">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <th class="text-center">Date</th>
                  <th class="text-center">Invoice ID</th>
                  <th class="text-center">Subject</th>
                  <th class="text-center">Product</th>
                  <th class="text-center">Duration</th>
                  <th class="text-center">Amount ($)</th>
                  <th class="text-center">Access Platform</th>
                  <th class="text-center">Distributor</th>
                  <th class="text-center">Salesperson</th>
                  <th class="text-center">Promo Code</th>
                  <th class="text-center">Remarks</th>
                </tr>
                <tr ng-repeat="transaction in transactions" ng-if="transactions.length>0">
                  <td class="text-center">[[ transaction.transaction_date]] </td>
                  <td class="text-center" ng-if="transaction.system_transaction_number"><a class="anchor_decoration_none_invoice" href="public/uploads/MP_Attachments/receiptAttachments/payment_receipt_[[transaction.system_transaction_number]].pdf" download="[[transaction.system_transaction_number]]" target="_self"> [[ transaction.system_transaction_number ]] </a></td>
                  <td class="text-center" ng-if="!transaction.system_transaction_number">N.A.</td>
                  <td class="text-center">[[ transaction.video_categories.subject.subject_name ]]</td>
                  <td class="text-center">[[ transaction.video_category_name ]]</td>
                  <td class="text-center">[[ transaction.plan_duration]] months</td>
                  <td class="text-center" ng-if="transaction.payment_amount_type == 1">$ [[ transaction.payment_amount]]</td>
                  <td class="text-center" ng-if="transaction.payment_amount_type == 2">S$ [[ transaction.payment_amount]]</td>
                  <td class="text-center" ng-if="!transaction.payment_amount_type">0</td>
                  <td class="text-center" ng-if="transaction.access_platform==1">Web</td>
                  <td class="text-center" ng-if="transaction.access_platform==2">iOS</td>
                  <td class="text-center" ng-if="transaction.access_platform==3">Android</td>
                  <td class="text-center" ng-if="transaction.access_platform==4">WeChat</td>
                  <td class="text-center" ng-if="!transaction.access_platform">N.A.</td>

                  <td class="text-center">[[ transaction.distributor?transaction.distributor.company_name:'SixClouds Web' ]] </td>
                  <td class="text-center" ng-if="transaction.distributor_team_member">[[ transaction.distributor_team_member.first_name ]] [[ transaction.distributor_team_member.last_name ]] </td>
                  <td class="text-center" ng-if="!transaction.distributor_team_member">N.A.</td>
                  <td class="text-center">[[ transaction.promo_code?transaction.promo_code:'N.A.' ]]</td>
                  <td class="text-center">[[ transaction.remarks]]</td>
                </tr>
                <tr ng-if="transactions.length==0">
                  <td colspan="9" class="text-center">No data found</td>
                </tr>
              </table>
            </div>
            <!-- <default-pagination currentpage="currentReferallsPaging" like="GetDistributorReferalls({'distributorId':distributorDetails.id},page)"
              paginate="paginate" range="rangeReferallspage">
            </default-pagination> -->
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="javascript:;"> Switch
              <span class="right-icon ">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse">
          <div class="panel-body" ng-repeat="(key, value) in switchSubscription">
            <div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  Transaction Id : [[value.system_transaction_number]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Valid From : [[value.payment_at]]
                  <!-- Sub-Category : [[SubscriptionPlan.video_category_name]] -->
                </div>
                <div class="col-sm-6 col-md-4">
                  Subscription Plan : [[value.video_category_name]]
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  Switched From : [[value.from]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Switched To : [[value.to]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Period : [[value.plan_duration]] months
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4" ng-if="SubscriptionPlan.payment_amount_type == 1 && switch.payment_amount != ''">
                  Price : USD [[value.payment_amount]]
                </div>
                <div class="col-sm-6 col-md-4" ng-if="SubscriptionPlan.payment_amount_type == 2 && switch.payment_amount != ''">
                  Price : SGD [[value.payment_amount]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Valid Till : [[value.end_date]]
                </div>
                <div class="col-sm-6 col-md-4">
                  Promo Code : [[value.promo_code]]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>