<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-6 margin_top_5">
          <h3 class="panel-title">Transactions</h3>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="content-div">
        <div class="row">
           <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-9">
                  <select class="form-control" ng-model="export_type">
                    <option value="">Select Export Type</option>
                    <option value="1">Excel</option>
                    <option value="2">CSV</option>
                  </select>
                </div>
                <div class="col-sm-3 margin_top_5">
                  <button class="btn btn-pink custom-class-buyerexportbutton" ng-disabled="promoContent.length==0" ng-click="ExportPromos(export_type,created_from,created_to,invoice)">
                      <i aria-hidden="true" class="fa fa-download">
                      </i>
                  </button>
                </div>
              </div>
           </div>
        </div>
        <div class="row">
          <div class="col-md-6 margin_top_5">
            <div class="dropdown show" id="show">
              <input type="text" placeholder="Search by Invoice" class="form-control dropdown-toggle" ng-model="invoice" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true">
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <ul class="list-group">
                  <li class="list-group-item"><input type="checkbox" class="form-check-input me-1" name="email" id="list" value="UserName/Email" ng-click="getList($event,'UserName/Email')"/> UserName/Email: <small class="disabled">UserName/Email</small></li>
                  <li class="list-group-item"><input type="checkbox" class="form-check-input me-1" name="invoice" id="list" value="Invoice Number" ng-click="getList($event,'Invoice Number')"/> Invoice Number: <small class="disabled">Invoice Number</small></li>
                  <li class="list-group-item"><input type="checkbox" class="form-check-input me-1" name="transaction" id="list" value="Transaction ID" ng-click="getList($event,'Transaction ID')"/> Transaction ID: <small class="disabled">Transaction ID</small></li>
                  <li class="list-group-item"><input type="checkbox" class="form-check-input me-1" name="promocode" id="list" value="Promocode" ng-click="getList($event,'Promocode')"/> Promocode: <small class="disabled">Promocode</small></li>
                  <li class="list-group-item"><input type="checkbox" class="form-check-input me-1" name="uld" id="list" value="UID" ng-click="getList($event,'UID')"/s> UID: <small class="disabled">UID</small></li>
                </ul> 
              </div>
            </div>
          </div>
          <div class="col col-sm-2 col-md-2 col-lg-2">
            <input type="test" class="form-control" ng-model="created_from" placeholder="From" id="created_from" onkeydown="return false">
          </div>
          <div class="col col-sm-2 col-md-2 col-lg-2">
            <input type="test" class="form-control" ng-model="created_to" placeholder="To" id="created_to" onkeydown="return false">
          </div>
          <div class="col col-sm-2 col-md-2 col-lg-2">
            <button class="btn btn-pink search" ng-click="filterData(created_from,created_to,invoice)" >Search</button>
          </div>
        </div>
      </div>
      <div class="content-div">
        <div class="tbl-list-no-border">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <th class="text-center hand-cursor" width="80">S/N</th>
              <th ng-click="ordersort('transaction_reference')" class="text-center hand-cursor">Stripe Transaction ID</th>
              <th ng-click="ordersort('promo_code')" class="text-center hand-cursor">Promo Code</th>
              <th ng-click="ordersort('system_transaction_number')" class="text-center hand-cursor">[['lbl_ignite_invoice'|translate]]</th>
              <th class="text-center hand-cursor">Subscriber Name</th>
              <th class="text-center hand-cursor">Subject</th>
              <th ng-click="ordersort('video_category_name')" class="text-center hand-cursor">[['lbl_subscription_plan'|translate]]</th>
              <th ng-click="ordersort('payment_amount')" class="text-center hand-cursor">[['lbl_amount'|translate]]</th>
              <th ng-click="ordersort('date')" class="text-center hand-cursor">[['lbl_date'|translate]]</th>
              <!-- <th ng-click="ordersort('payment_status')" class="text-center hand-cursor">[['lbl_status'|translate]]</th> -->
            </tr>
            <tr ng-repeat="transaction in transactions">
              <td class="text-center">[[$index+1]]</td>
              <td class="text-center customtransction">[[transaction.transaction_reference]]</td>
              <td class="text-center"><a class="anchor_decoration_none_invoice" href="manage/ignite/promo-codes/[[transaction.promo_details.status]]/[[transaction.promo_encode]]">[[transaction.promo_code]]</a></td>
              <td class="text-center"> <a class="anchor_decoration_none_invoice" href="public/uploads/MP_Attachments/receiptAttachments/payment_receipt_[[transaction.system_transaction_number]].pdf" download="[[transaction.system_transaction_number]].pdf" target="_self"> [[transaction.system_transaction_number]] </a></td>
              <td class="text-center"><a class="anchor_decoration_none_invoice" href="manage/ignite/ignite-subscriber-details/[[transaction.user_detail.slug]]">[[transaction.user_detail.display_name]]</a></td>
              <td class="text-center">[[transaction.video_categories.subject.subject_display_name]]</td>
              <td class="text-center">[[transaction.video_category_name]]</td>
              <td class="text-center" ng-if="transaction.payment_amount_type == 1">$[[transaction.payment_amount]]</td>
              <td class="text-center" ng-if="transaction.payment_amount_type == 2">S$[[transaction.payment_amount]]</td>
              <td class="text-center">[[transaction.date]]</td>

              <!-- <td ng-if="transaction.payment_status==1" class="text-center">Success</td>
              <td ng-if="transaction.payment_status==2" class="text-center">Pending</td>
              <td ng-if="transaction.payment_status==3" class="text-center">Fail</td> -->
            </tr>
          </table>
          <default-pagination currentpage="currentTransactionsPaging" like="GetAllTransactions(page)" paginate="paginateTransactions" range="rangeTransactionspage">
          </default-pagination>
        </div>
      </div>    
    </div>
  </div>
</section>
