<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-7">
          <h3 class="panel-title">Twinkle Pricing Plans</h3>
        </div>
        <div class="col-sm-5 text-right">
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div id="" class="">      
         <form id="newWorkSheetForm">
          <div class="content-div">
            <div class="form-group">
            <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Category</label>
                </div>
                <div class="col-md-9 col-lg-5">
                  <!-- <select id="category" name="category" ng-model="categoryData.category" ng-change="getData(categoryData.category)" class="form-control">
                    <option value="">Select...</option>
                    <option value="1">Maths</option>
                    <option value="2">Science</option>
                  </select> -->
                  <select id="category" name="category" ng-model="category" ng-change="Loaddata(category)" class="form-control">
                    <option value="">Select..</option>
                    <option ng-repeat="category in categories" value="[[category]]">[[category.category_name]]</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="tabs-div col-2 text-center">
                <div class="row">
                  <div class="col-sm-8 col-md-6">
                    <div class="row">
                      <div class="col-xs-3">
                        <button class="btn tablinks btn-medium-pink btn-block active" ng-click="changeTab('DetailsTab')" id="DetailsTabButton">DETAILS</button>
                      </div>
                      <div class="col-xs-3">
                        <button class="btn tablinks btn-medium-pink btn-block" ng-click="changeTab('HistoryTab')" id="HistoryTabButton">HISTORY</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="details">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Description</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <textarea ng-model="categoryData.description" id="description" name="description" class="form-control" rows="6" placeholder="Description"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">USD Price</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <input type="text" class="form-control price" name="usd_price" id="usd_price" ng-model="categoryData.usd_price">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">SGD Price</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <input type="text" class="form-control price" name="sgd_price" id="sgd_price" ng-model="categoryData.sgd_price">
                  </div>
                </div>
              </div>
              <div class="content-div">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-2 col-lg-2">
                        
                    </div>
                    <div class="col-md-10 col-lg-10">
                      <button class="btn btn-pink upload-new-work-sheet saveCategory" id="save" ng-click="Savecategory(categoryData)">Save</button>
                      <!-- <button class="btn btn-pink upload-new-work-sheet" id="save-as-draft" ng-click="Uploadnewworksheet(3, 'Save As Draft', 'save-as-draft')">Save As Draft</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" id="history">
              <div class="col-sm-6">
                <ul class="info-list-with-icon-twinkle col-sm-12 column border" ng-repeat="usd_user in usd">
                  <li> USD Price : [[ usd_user.usd_price ]]</li>
                  <li> Date : [[ usd_user.created_at ]]</li>
                  <li> Active User : [[ usd_user.payment_usd_count ]]</li>
                  <li> Version : [[ sgd_size-$index ]]</li>
                </ul>
             </div>
             <div class="col-sm-6">
                <ul class="info-list-with-icon-twinkle col-sm-12 column border" ng-repeat="sgd_user in sgd">
                  <li> SGD Price : [[ sgd_user.sgd_price ]]</li>
                  <li> Date : [[ sgd_user.created_at ]]</li>
                  <li> Active User : [[ sgd_user.payment_sgd_count ]]</li>
                  <li> Version : [[ usd_size-$index ]]</li>
                </ul>
             </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
