<div class="modal fade designer-my-uploads-popup" id="showVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">      
      <div class="modal-body">        
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
          <video id="videoTag" controls width="540" height="310" ></video>    
      </div>
    </div>
  </div>
</div>
<section class="quiz-manager-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <!-- <div class="row flax-table">
        <div class="col-sm-2">
          <h3 class="panel-title">Video Manager</h3>
        </div>
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div">
            <button class="btn tablinks" id="subject_[[ subject.value ]]" ng-click="filterDataBuzz(subject.value,page)" ng-repeat="subject in subjects">[[ subject.subject_name ]]</button>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div">
            <button class="btn tablinks" id="category_[[ category.value ]]" ng-click="filterDataBuzz(category.value,page)" ng-repeat="category in categories">[[ category.category_name ]]</button>
          </div>
        </div>
        <div class="col-sm-4 text-right">
          <a class="btn btn-pink" href="manage/ignite/create-new-video">
            <i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Create New Video
          </a>
        </div>
      </div> -->
      <div class="row flax-table">
        <div class="col-sm-6">
          <h3 class="panel-title">Video Manager</h3>
        </div>
        <div class="col-sm-6 text-right">
          <a class="btn btn-pink" href="manage/ignite/create-new-video">
            <i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Create New Video
          </a>
        </div>
      </div>
    </div>

    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div">
            <!-- <select class="form-control" ng-change="GetSubjects(zone)" ng-model="zone"> -->
            <select class="form-control" ng-change="getSubjects(getVideos.zone)" ng-model="getVideos.zone">
              <option value="">Select Zone</option>
              <option ng-value="zone.id" ng-repeat="zone in zones">[[ zone.zone_name ]]</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div">
            <select class="form-control" ng-change="Getcategories(getVideos.subject)" ng-model="getVideos.subject">
              <option value="">Select Subject</option>
              <option ng-value="subject.id" ng-repeat="subject in subjects">[[ subject.subject_name ]]</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div">
            <select class="form-control" ng-change="Getsubcategories(getVideos.category, 1)" ng-model="getVideos.category">
              <option value="">Select Category</option>
              <option ng-value="category.id" ng-repeat="category in categories">[[ category.category_name ]]</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div" ng-if="subCategoriesExist">
            <select class="form-control" ng-change="Getsubcategories(getVideos.subcategory, 0)" ng-model="getVideos.subcategory">
              <option value="">Select Sub-category</option>
              <option ng-value="subCategory.id" ng-repeat="subCategory in subCategories">[[ subCategory.subcategory_name ]]</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row flax-table">
        <div class="col-sm-12 text-left">
          <button class="btn btn-pink" ng-click="GetVideos(getVideos)">Get Videos</button>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="content-div">
        <div class="tab-div">
          <button class="btn tablinks" id="quizType_[[ types.value ]]" ng-click="filterData(types.value,page)" ng-repeat="types in publishTypes">[[ types.name ]]</button>
        </div>
        <div id="PublishedQuizzesTab" class="tabcontent">
          <ul class="listing-line">
            <li ng-repeat="video in allVideoContent">
              <div class="row margin_top_20" ng-repeat="videourl in video.videos.video_urls">
                <div class="col-xs-12 col-md-12 col-lg-5">
                  <div class="media">
                    <div class="pull-left">
                      <a ng-click="ShowVideo(videourl.video_oss_url)" >
                        <i class="fa fa-play-circle" aria-hidden="true"></i> 
                        <img ng-src="[[current_domain=='net'?'https://cdn.sixclouds.net/assets':'public/uploads']]/video_thumbnails/thumbnail_mobile_128_72/[[video.videos.thumbnail_128_72]]" class="customHW" alt="..."> 
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        <a class="anchor_decoration_none" href="manage/ignite/video-details/[[videourl.slug]]">[[videourl.title]]</a>
                      </h4>                       
                      [[ videourl.description]]
                    </div>
                  </div>
                </div>
                <div class="col-xs-8 col-md-9 col-lg-5 fullWidth640">
                  <ul class="info-list">
                    <li>
                      <i class="fa fa-list-alt" aria-hidden="true"></i> [[ video.videos.category.category_name]]</li>
                    <li>
                      <i class="fa fa-calendar" aria-hidden="true"></i> [[ video.videos.new_created_at]]</li>
                    <li>
                      <i ng-class="{'fa fa-unlock-alt':video.videos.video_status_locked=='OPEN', 'fa fa-lock':video.videos.video_status_locked=='LOCKED'}" aria-hidden="true"></i> [[ video.videos.video_status_locked]]</li>                    
                      
                    <li>
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i> [[ video.videos.video_status_name]]
                    </li>
                    <li>
                      <i class="fa fa-language" aria-hidden="true"></i> [[videourl.video_language]]
                    </li>
                  </ul>
                </div>
                <div class="col-xs-4 col-md-3 col-lg-2 fullWidth640 text-right">
                  <a ng-if="video.videos.status==1" class="btn btn-pink" href="manage/ignite/video-details/[[videourl.slug]]">
                    <i class="fa fa-info-circle lg-icon" aria-hidden="true"></i> View Info</a>
                  <a ng-if="video.videos.status==0||video.videos.status==3" class="btn btn-pink" href="manage/ignite/edit-video/[[video.videos.slug]]">
                    <i class="fa fa-edit lg-icon" aria-hidden="true"></i> Edit</a>
                </div>
              </div>
            </li>
          </ul>
          <default-pagination currentpage="currentVideoPaging" like="GetAllVideoData(getVideos,page)" paginate="paginate" range="rangeVideopage">
          </default-pagination>
        </div>
      </div>
    </div>
  </div>
</section>