<section class="create-new-quiz-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <h3 class="panel-title">WorkSheet Info</h3>
    </div> 
    <div class="panel-body">
      <div class="content-div"> 
          <div ng-repeat="language in workSheetData.worksheet_language">
            <div class="row bottom-class">
              <div class="col-md-3 col-lg-2">
                <label>[[language.language]] Title</label>
              </div>
              <div class="col-md-9 col-lg-6">
                [[language.title]]              
              </div>             
            </div>
            <div class="row bottom-class">
              <div class="col-md-3 col-lg-2">
                <label>[[language.language]] Description</label>
              </div>
              <div class="col-md-9 col-lg-6">
                <p>[[language.description]]</p>
              </div>             
            </div> 
            <hr>                  
          </div>       
          <div class="row bottom-class">
            <div class="col-md-3 col-lg-2">
              <label>Category</label>
            </div>
            <div class="col-md-9 col-lg-6">
              <p>[[workSheetData.category.category_name]]</p>
            </div>             
          </div> 
          <div class="row bottom-class">
            <div class="col-md-3 col-lg-2">
              <label>Position</label>
            </div>
            <div class="col-md-9 col-lg-6">
              <p>[[workSheetData.worksheet_ordering]]</p>
            </div>             
          </div> 
          <div class="row bottom-class">
            <div class="col-md-3 col-lg-2">
              <label>Worksheet Access</label>
            </div>
            <div class="col-md-9 col-lg-6">
              <p>[[workSheetData.worksheet_status==1?'Paid':'Free']]</p>
            </div>             
          </div> 
          <div class="row bottom-class">
            <div class="col-md-3 col-lg-2">
              <label>File</label>
            </div>
            <div class="col-md-9 col-lg-6">
              <div class="work-sheet-file-div" ng-if="workSheetData.file_name"> 
                      <span class="left-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span> [[workSheetData.original_file_name]]
                        <a class="download-btn student_id_proof" href="public/uploads/worksheet_files/[[workSheetData.file_name]]" target="_blank" download="[[workSheetData.original_file_name]]">
                            <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                        </a>
                        <!-- <a class="download-btn student_id_proof" ng-click="downloadWorksheetfile(workSheetData.file_name)">
                            <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                        </a> -->
                      <div class="clearfix"></div>
                    </div>
            </div>             
          </div>                   
      </div>
 
           <div class="content-div">
            <div class="form-group">
              <div class="row bottom-class marginLeft">
                <div class="col-md-4 col-lg-4"></div>
                <div class="col-md-8 col-lg-8">
                  <a class="btn btn-pink upload-new-work-sheet" href="manage/ignite/worksheet-manager/[[workSheetData.status]]/[[workSheetData.worksheet_category_id]]">Back</a>
                  <a class="btn btn-pink upload-new-work-sheet" ng-if="workSheetData.status == 1" ng-click="deleteWorksheet(workSheetData.id,2)" href="">Unpublish</a>
                  <a class="btn btn-pink upload-new-work-sheet" ng-if="workSheetData.status == 2||workSheetData.status == 3" ng-click="deleteWorksheet(workSheetData.id,4)">Delete</a>
                </div>
              </div>
            </div>
          </div>          
    </div>
  </div>   
</section>