<section class="create-new-quiz-section">
    <form ng-if="zoneExists" ng-repeat="zone in zones track by $index" class="panel ui-state-default custom-accordion" id="zoneform_[[zone.countries]]" name="zoneform_[[zone.countries]]">
        <div class="ui-state-default" id="zone_[[zone.countries]]">
          <div class="panel-heading toggledirective">
            <h4 class="panel-title"> 
              <a href="javascript:;">Zone #[[zone.zone_name]] 
                <!-- <i id="zone_edit_[[zone.countries]]" class="hide fa fa-check-circle" aria-hidden="true"></i> -->
                <!-- <span class="right-icon margin_right_custom40" ng-click="Edit(zone.id)"><i class="fa fa-edit" aria-hidden="true"></i></span>  -->
                <span class="right-icon"><i class="fa fa-plus" aria-hidden="true"></i></span> 
              </a> 
            </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <div class="cnq-form-div">
                <div class="form-group">
                  <div class="row question_spacing">
                    <div class="col-sm-3">
                      <label class="label">Zone Name</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="zone_name" disabled="disabled" id="zone_name_[[zone.countries]]" ng-value="zone.zone_name">
                    </div>
                  </div>
                  <div class="row question_spacing">
                    <div class="col-sm-3">
                      <label class="label">Country</label>
                    </div>
                    <div class="col-sm-9">
                      <select id="country_zone_[[zone.countries]]" name="country[]" multiselect2-directive class="form-control" multiple="multiple" >
                        <option ng-repeat="country in zone.exceptCountries" ng-if="country.name != 'Other'" ng-value="country.id">[[country.name]]</option>
                      </select>
                    </div>
                  </div>
                  <div class="row question_spacing">
                    <div class="col-sm-3">
                      <label class="label">Subscription Status</label>
                    </div>
                    <div class="col-sm-9">
                      <span class="">
                        <input ng-checked="zone.allow_subscription==1" disabled="disabled" type="radio" id="allow_subscription_[[zone.countries]]" value="1" name="allow_subscription">
                        <label for="[[zone.countries]]">Allowed</label>
                        <input ng-checked="zone.allow_subscription==0" disabled="disabled" type="radio" id="notallow_subscription_[[zone.countries]]" value="0" name="allow_subscription">
                        <label for="[[zone.countries]]">Not Allowed</label>
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-12">
                          <button id="saveZone_[[zone.countries]]" ng-click="Savenewzone(zone.countries,1,zone)" disabled="disabled" class="btn btn-pink">Save</button>
                          <button id="editZone_[[zone.countries]]" ng-click="Edit(zone,1,$index)" class="btn btn-pink">Edit</button>
                          <button id="cancelZone_[[zone.countries]]" ng-click="Cancel(zone,1,$index)" class="btn btn-pink hide">Cancel</button>
                          <button id="deleteZone_[[zone.countries]]" ng-click="Deletezone(zone.id,1)" class="btn btn-red savequestion">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
    <form ng-repeat="form in forms" class="panel ui-state-default custom-accordion" id="zoneform_[[form]]" name="zoneform_[[form]]">
        <div class="ui-state-default" id="zone_[[form]]">
          <div class="panel-heading toggledirective">
            <h4 class="panel-title"> <a href="javascript:;">Zone #[[form]] <i id="zone_edit_[[form]]" class="hide fa fa-check-circle" aria-hidden="true"></i>
              <span class="right-icon "><i class="fa fa-plus" aria-hidden="true"></i></span> </a> </h4>
          </div>
          <div class="panel-collapse">
            <div class="panel-body">
              <div class="cnq-form-div">
                <div class="form-group">
                  <div class="row question_spacing">
                    <div class="col-sm-3">
                      <label class="label">Zone Name</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="zone_name" id="zone_name_[[form]]" >
                    </div>
                  </div>
                  <div class="row question_spacing">
                    <div class="col-sm-3">
                      <label class="label">Country</label>
                    </div>
                    <div class="col-sm-9">
                      <select id="country_zone_[[form]]" name="country[]" multiselect2-directive class="form-control" multiple="multiple">
                        <option ng-repeat="country in countries" ng-if="country.name != 'Other'" ng-value="country.id">[[country.name]]</option>
                      </select>
                    </div>
                  </div>
                  <div class="row question_spacing">
                    <div class="col-sm-3">
                      <label class="label">Subscription Status</label>
                    </div>
                    <div class="col-sm-9">
                      <span class="">
                        <input type="radio" id="allow_subscription_[[form]]" value="1" name="allow_subscription">
                        <label for="[[form]]">Allowed</label>
                        <input type="radio" id="notallow_subscription_[[form]]" value="0" name="allow_subscription">
                        <label for="[[form]]">Not Allowed</label>
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-12">
                          <button id="saveZone_[[form]]" ng-click="Savenewzone(form,0)" class="btn btn-pink savequestion">Save</button>
                          <button id="deleteZone_[[form]]" ng-click="Deletezone(form,0)" class="btn btn-red savequestion">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
  <div class="last-btn question_spacing">
    <a class="btn btn-pink" ng-click="Addnewzone()"><i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Add New Zone</a>
  </div>
</section>
