<section class="user-dashboard-banner">
    <div class="header">
        <i class="sci-abc">
        </i>
        <h2 class="title text-white">
            [['lbl_elt_caps'|translate]]
        </h2>
    </div>
    <div class="overlay">
    </div>
    <div class="banner-header sub-header margin-zero">
        [['lbl_traing_video'|translate]]
    </div>
</section>
<section class="course-contents">
    <div class="container">
        <div class="content-list margin-tp40">
            <ul class="list-unstyled">
                <li ng-repeat="section in eltdata">
                    <div class="box-list" data-target="#content-details" data-toggle="collapse">
                        <a class="box section text-green" href="">
                            [['lbl_section'|translate]] #[[section.id]]
                        </a>
                        <a class="box name text-black" href="">
                            [[section.category_name]]
                        </a>
                        <a class="box video-time text-black" href="">
                            <div class="box-list">
                                <span class="box left">
                                    <i class="sci-video-player text-green">
                                    </i>
                                    [[section.total_video_count]] [['lbl_video'|translate]]
                                </span>
                                <span class="box right">
                                    <i class="sci-time text-green">
                                    </i>
                                    [[section.total_video_duration]]
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="collapse" id="content-details">
                        <div class="divider">
                        </div>
                        <p>
                            [[section.description]]
                        </p>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" width="100%">
                                <tbody>
                                    <tr ng-class="{'border-g':video.video_status == 2,'border-r':video.video_status == 1}" ng-repeat="video in section.videos">
                                        <td class="text-center" width="10%">
                                            [[video.video_ordering]]
                                        </td>
                                        <td width="35%">
                                            [[video.title]]
                                        </td>
                                        <td width="20%">
                                            <a href="elt-video/[[video.slug]]" ng-if="video.video_status == 2">
                                                <i class="sci-video-player">
                                                </i>
                                                Watch Video
                                            </a>
                                            <a href="subscription-plan" ng-if="video.video_status == 1">
                                                <i class="sci-video-player">
                                                </i>
                                                Watch Video
                                            </a>
                                        </td>
                                        <td width="15%">
                                            <i class="sci-time">
                                            </i>
                                            [[video.video_duration]]
                                        </td>
                                        <td class="15%">
                                            <i class="sci-music-folder">
                                            </i>
                                            [[video.video_size]]
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
                <!--<li>
                    <div class="box-list" data-toggle="collapse" data-target="#content-details1">
                        <a href="" class="box section">
                            SECTION #2
                        </a>
                        <a href="" class="box name text-black">
                            PARTS OF SPEECH
                        </a>
                        <a href="" class="box video-time text-black">
                            <div class="box-list">
                                <span class="box left">
                                    <i class="sci-video-player"></i> 7 VIDEOS
                                </span>
                                <span class="box right">
                                    <i class="sci-time"></i> 1:36:00
                                </span>
                            </div>
                        </a>
                    </div>
                    <div id="content-details1" class="collapse">
                        <div class="divider margin-tp10"></div>
                        <p>In this section, we'll be covering the basic parts of speech that constitute the basis of English Grammar. Using these parts of speech, you'd be able to frame your sentences and begin using the language. Parts of speech, as the name suggests, are the backbone of the English language. There are 7 parts of speech in the English Language and each one of them serves a definite purpose. </p>
                        <table width="100%" class="table table-striped table-bordered">
                            <tbody>
                                <tr class="border-g">
                                    <td width="10%" class="text-center">
                                        1
                                    </td>
                                    <td width="55%">
                                        Nouns
                                    </td>
                                    <td width="15%">
                                        <i class="sci-video-player"></i> Watch Video
                                    </td>
                                    <td width="10%">
                                        <i class="sci-time"></i> 05:50
                                    </td>
                                    <td class="10%">
                                        <i class="sci-music-folder"></i> 34 MBs
                                    </td>
                                </tr>
                                <tr class="border-g">
                                    <td width="10%" class="text-center">
                                        2
                                    </td>
                                    <td width="55%">
                                        Adjectives
                                    </td>
                                    <td width="15%">
                                        <i class="sci-video-player"></i> Watch Video
                                    </td>
                                    <td width="10%">
                                        <i class="sci-time"></i> 05:50
                                    </td>
                                    <td class="10%">
                                        <i class="sci-music-folder"></i> 34 MBs
                                    </td>
                                </tr>
                                <tr class="border-r">
                                    <td width="10%" class="text-center">
                                        3
                                    </td>
                                    <td width="55%">
                                        Verbs
                                    </td>
                                    <td width="15%">
                                        <i class="sci-video-player"></i> Watch Video
                                    </td>
                                    <td width="10%">
                                        <i class="sci-time"></i> 05:50
                                    </td>
                                    <td class="10%">
                                        <i class="sci-music-folder"></i> 34 MBs
                                    </td>
                                </tr>
                                <tr class="border-r">
                                    <td width="10%" class="text-center">
                                        4
                                    </td>
                                    <td width="55%">
                                        Adverbs
                                    </td>
                                    <td width="15%">
                                        <i class="sci-video-player"></i> Watch Video
                                    </td>
                                    <td width="10%">
                                        <i class="sci-time"></i> 05:50
                                    </td>
                                    <td class="10%">
                                        <i class="sci-music-folder"></i> 34 MBs
                                    </td>
                                </tr>
                                <tr class="border-r">
                                    <td width="10%" class="text-center">
                                        5
                                    </td>
                                    <td width="55%">
                                        Pronouns
                                    </td>
                                    <td width="15%">
                                        <i class="sci-video-player"></i> Watch Video
                                    </td>
                                    <td width="10%">
                                        <i class="sci-time"></i> 05:50
                                    </td>
                                    <td class="10%">
                                        <i class="sci-music-folder"></i> 34 MBs
                                    </td>
                                </tr>
                                <tr class="border-r">
                                    <td width="10%" class="text-center">
                                        6
                                    </td>
                                    <td width="55%">
                                        Conjunctions
                                    </td>
                                    <td width="15%">
                                        <i class="sci-video-player"></i> Watch Video
                                    </td>
                                    <td width="10%">
                                        <i class="sci-time"></i> 05:50
                                    </td>
                                    <td class="10%">
                                        <i class="sci-music-folder"></i> 34 MBs
                                    </td>
                                </tr>
                                <tr class="border-r">
                                    <td width="10%" class="text-center">
                                        7
                                    </td>
                                    <td width="55%">
                                        Prepositions
                                    </td>
                                    <td width="15%">
                                        <i class="sci-video-player"></i> Watch Video
                                    </td>
                                    <td width="10%">
                                        <i class="sci-time"></i> 05:50
                                    </td>
                                    <td class="10%">
                                        <i class="sci-music-folder"></i> 34 MBs
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="box-list">
                        <a href="" class="box section">
                            SECTION #3
                        </a>
                        <a href="" class="box name text-black">
                            FIGURES OF SPEECH
                        </a>
                        <a href="" class="box video-time text-black">
                            <div class="box-list">
                                <span class="box left">
                                    <i class="sci-video-player"></i> 27 VIDEOS
                                </span>
                                <span class="box right">
                                    <i class="sci-time"></i> 2:36:00
                                </span>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box-list">
                        <a href="" class="box section">
                            SECTION #4
                        </a>
                        <a href="" class="box name text-black">
                            ENGLISH COMPOSITION & VOCABULARY
                        </a>
                        <a href="" class="box video-time text-black">
                            <div class="box-list">
                                <span class="box left">
                                    <i class="sci-video-player"></i> 19 VIDEOS
                                </span>
                                <span class="box right">
                                    <i class="sci-time"></i> 1:43:00
                                </span>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box-list">
                        <a href="" class="box section">
                            SECTION #5
                        </a>
                        <a href="" class="box name text-black">
                            IDIOMS & PHRASES
                        </a>
                        <a href="" class="box video-time text-black">
                            <div class="box-list">
                                <span class="box left">
                                    <i class="sci-video-player"></i> 35 VIDEOS
                                </span>
                                <span class="box right">
                                    <i class="sci-time"></i> 5:14:00
                                </span>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box-list">
                        <a href="" class="box section">
                            SECTION #6
                        </a>
                        <a href="" class="box name text-black">
                            CLAUSES & SENTENCE STRUCTURING
                        </a>
                        <a href="" class="box video-time text-black">
                            <div class="box-list">
                                <span class="box left">
                                    <i class="sci-video-player"></i> 19 VIDEOS
                                </span>
                                <span class="box right">
                                    <i class="sci-time"></i> 1:42:00
                                </span>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box-list">
                        <a href="" class="box section">
                            SECTION #7
                        </a>
                        <a href="" class="box name text-black">
                            INFLUENCE OF FOREIGN LANGUAGES
                        </a>
                        <a href="" class="box video-time text-black">
                            <div class="box-list">
                                <span class="box left">
                                    <i class="sci-video-player"></i> 35 VIDEOS
                                </span>
                                <span class="box right">
                                    <i class="sci-time"></i> 5:14:00
                                </span>
                            </div>
                        </a>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
</section>