<section class="user-dashboard-banner marketplace-banner">
	<div class="header">
		<i class="sci-graphic-design text-white"></i>
		<h2 class="title text-white">[['lbl_design_marketplace'|translate]]</h2>
	</div>
	<div class="overlay"></div>
	<div class="banner-header sub-header margin-zero">
		JOSEPH
	</div>
</section>
