@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7et0a1');
  src:  url('../fonts/icomoon.eot?7et0a1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7et0a1') format('truetype'),
    url('../fonts/icomoon.woff?7et0a1') format('woff'),
    url('../fonts/icomoon.svg?7et0a1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add_gallery:before {
  content: "\e900";
  color: #7c81af;
}
.icon-attach_file:before {
  content: "\e901";
  color: #8972f0;
}
.icon-avg_project_duration:before {
  content: "\e902";
  color: #fff;
}
.icon-check_mark:before {
  content: "\e903";
  color: #69d753;
}
.icon-Checked:before {
  content: "\e904";
  color: #63c35e;
}
.icon-days:before {
  content: "\e905";
  color: #7c81af;
}
.icon-disputed:before {
  content: "\e906";
  color: #7c81af;
}
.icon-down_month:before {
  content: "\e907";
  color: #fff;
}
.icon-drop_Down:before {
  content: "\e908";
  color: #e6e6e6;
}
.icon-drop_down_user:before {
  content: "\e909";
  color: #fff;
}
.icon-email:before {
  content: "\e90a";
  color: #7c81af;
}
.icon-gallery_sales_this_month:before {
  content: "\e90b";
  color: #fff;
}
.icon-Invited:before {
  content: "\e90c";
  color: #7c81af;
}
.icon-job_matched:before {
  content: "\e90d";
  color: #7c81af;
}
.icon-last_active:before {
  content: "\e90e";
  color: #7c81af;
}
.icon-like:before {
  content: "\e90f";
  color: #63c35e;
}
.icon-location:before {
  content: "\e910";
  color: #7c81af;
}
.icon-logo-design:before {
  content: "\e911";
  color: #7c81af;
}
.icon-price:before {
  content: "\e912";
  color: #7c81af;
}
.icon-projects_completed_This_Month:before {
  content: "\e913";
  color: #fff;
}
.icon-reported:before {
  content: "\e914";
  color: #ed3838;
}
.icon-reviews:before {
  content: "\e915";
  color: #9296bc;
}
.icon-search:before {
  content: "\e916";
  color: #cecccc;
}
.icon-send:before {
  content: "\e917";
  color: #fff;
}
.icon-star:before {
  content: "\e918";
  color: #e2d110;
}
.icon-suggetions:before {
  content: "\e919";
  color: #7c81af;
}
.icon-total_projects_completed:before {
  content: "\e91a";
  color: #fff;
}
.icon-up_month:before {
  content: "\e91b";
  color: #fff;
}
