body {
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #323232;
	background: #f2f2f2;
}
h1, h2, h3, h4, h5 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
img {
	max-width: 100%;
	height: auto;
}
.circle{
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius: 100%;
}

.bold {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;
}
.red-bg{
	background: #ee7514;
	color: #fff;
}
.green-bg{
	background: #1478e8;
	color: #fff;
}
.blue-bg{
	background: #1dae35;
	color: #fff;
}
.no-radius {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.color-purple {
	color: #8972f0 !important;
}





.desktop-hide {
	display: none !important;
}
.container {
	max-width: 1300px;
	width: 100%;
}
.body-div {
	overflow: hidden
}
/*Button css Start*/
.uppercase {
	text-transform: uppercase;
}
.btn:focus {
	box-shadow: none !important;
}
a.btn, a {
	border: none;
	outline: none;
}
.btn {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 30px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	padding-left: 25px;
	padding-right: 25px;
	border: none;
	outline: none;
}
.btn-purple {
	background: #8a75d0 !important;
	color: #fff !important;
}
.btn-purple:hover {
	background: #6e55c1 !important;
	color: #fff !important;
}

.btn-light-red {
	background: #feb9ad !important;
	color: #000 !important;
}
.btn-light-red:hover {
	background: #ea9485 !important;
	color: #000 !important;
}


.btn-red {
	background: #f84c24 !important;
	color: #fff !important;
}
.btn-red:hover {
	background: #e6340b !important;
	color: #fff !important;
}
.btn-green {
	background: #69d753 !important;
	color: #fff !important;
}
.btn-green:hover {
	background: #23a109 !important;
	color: #fff !important;
}
.btn-light-purple {
	background: #e8e3ff !important;
	color: #141414 !important;
}
.btn-light-purple:hover {
	background: #8972f0 !important;
	color: #fff !important;
}
.btn-white {
	background: #ffffff !important;
	color: #8a75d0 !important;
}
.btn-white:hover {
	background: #ffffff !important;
	color: #8a75d0 !important;
}
/*Button css END*/

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #141414;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #141414;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #141414;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #141414;
}

.display-table{
	display: table;
	width: 100%;
}
.table-cell{
	display: table-cell;
	vertical-align: middle;
	float: none;
}
.page-heading h2{
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #454545;
}

#main{
	padding: 20px;
	min-height: 500px;
}



.main-menu .navbar-brand {
	padding: 0;
	display: none
}
.main-menu .navbar-default {
	border: none;
	box-shadow: none;
	background: none
}
.main-menu .navbar {
	margin: 0;
	min-height: inherit
}
.main-menu .nav > li > a {
	padding: 7px 15px;
	color: #fff;
	background: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;
	outline: none;
	text-shadow: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.main-menu .navbar-default .navbar-nav > .active > a, .main-menu .nav > li > a:hover {
	color: #8a75d0;
	box-shadow: none;
	background: #fff;

}
.navbar-default .navbar-brand {
	display: none;
}

header{
	background: #8a75d0;
	padding: 15px 0;

}
header .display-table{
		height: 65px;
}

.container{
	max-width: 100%;
	width: 100%;
}

.dropdown.head-right-dropdown{
	float: right;
	width: 150px;
}
.dropdown.head-right-dropdown button{
	display: block;
	width: 100%;
	background:none;
	border: none;
	color: #fff;
	outline: none;
}
.dropdown.head-right-dropdown .caret{
	margin-left: 15px;
	border-top: 6px solid #fff;
	border-right: 6px solid transparent;
border-bottom: 0 dotted;
border-left: 6px solid transparent;
}

.body-with-sidebar{
	padding-left: 210px;
}

.left-sidebar-menu{
	position: fixed;
	left: 0;
	top: 0;
	width: 210px;
	background: #fff;
	height: 100%;
	overflow: auto;
	box-shadow: 0 0 55px rgba(0,0,0, 0.2);
	z-index: 9999999
}

.left-sidebar-menu .logo{
	padding: 15px;
	text-align: center;
}
.left-sidebar-menu .menu-list{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 20px;
}

.left-sidebar-menu .menu-list li a{
	display: block;
	padding:11px 15px;
	font-size: 14px;
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif !important;
	font-weight: 500;
	color: #454545;
	text-decoration: none;
	/*border-right: 5px solid #fff;*/
}
.left-sidebar-menu .menu-list li.active a,
.left-sidebar-menu .menu-list li:hover a{
	background: #e5defd;
	/*border-color: #8a75d0;*/
	color: #8a75d0;
}

.white-panel-div{
	padding: 20px;
	background: #fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 2px;
	color: #7c81af;
	/* font-size: 12px; */
	font-size: 14px;
	/*font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif !important;*/
	font-weight: 500;
}
.white-panel-div p:last-child{
	margin-bottom: 0
}
.white-panel-div p{
	margin-bottom:10px;
}
.white-panel-div.mb10{
	margin-bottom: 10px;
}

.white-panel-div h4{
	font-size: 14px;
	color: #454545;
	margin: 0;
	margin-bottom: 5px;
}

/* Style the tab content */
.tabcontent {
    display: none;

}

.all-jobs-section  .page-heading>h2{
	margin-bottom: 30px;
}
.all-jobs-section .Disputeslinks{
	float: right;
	margin-right: 0;
background: #feb9ad;
padding-left: 12px;
padding-right: 12px;
position: relative;
box-shadow: none;
display: inline-block;
height: 30px;
line-height: 19px;
}
.all-jobs-section .Disputeslinks.active{
	background: #ed3939;
	color: #fff;
}
.all-jobs-section .Disputeslinks .alert-span{
	font-size: 11px;
	    width: 19px;
	    height: 19px;
	    display: inline-block;
			margin: -2px 0;
	    margin-right: -0;
	    margin-left: 5px;
	    -webkit-border-radius: 100%;
	    -moz-border-radius: 100%;
	    border-radius: 100%;
	    text-align: center;
	    line-height: 19px;

	    background: #ed3838;
	    color: #fff;
	    vertical-align: middle;
			position: relative;

}
.all-jobs-section .Disputeslinks.active .alert-span{
	background: #fff;
	color: #ed3838;
}
.all-jobs-section .tab-div {
font-size: 0;

border: 1px solid #cdcdcd;
display: inline-block;
font-size: 0
}
.all-jobs-section .tab-div .btn{
	margin-right: 0;
	background: #ede8fe;
	padding-left: 12px;
	padding-right: 12px;
	position: relative;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius: 0;
	border-right: 1px solid #cdcdcd;
	box-shadow: none;
	display: inline-block;
	height: 30px;
	line-height: 19px;
	font-weight: normal;

}
.all-jobs-section .tab-div .btn.active{
	background: #8a75d0;
	color: #fff;
}
.all-jobs-section .tab-div .btn .alert-span{
	font-size: 11px;
	width: 19px;
	height: 19px;
	display: inline-block;
	margin: -2px 0;
	margin-right: -0;
	margin-left: 5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	text-align: center;
	line-height: 20px;
	background: #ffffff;
	color: #8a75d0;
	vertical-align: middle;
	position: relative;
	top: -1px;
}
.all-jobs-section .tab-div .btn:last-child{
	border: none;
}

.all-jobs-section .b-left{
	border-left:1px solid #dedede;
}


.all-jobs-section .filter-div label{
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif !important;
	font-weight: 500;
font-size: 14px;
display: block;
padding-top: 3px;
}

.f-search-div{
	position: relative;
}
.f-search-div .form-control{
	/*height: 40px;*/
	height: 34px;
	padding-left: 50px;
	color: #141414;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif !important;
	font-weight: 500;
}
.f-search-div .search-icon{
	position: absolute;
	height: 53%;
	border-right: 1px solid #dedede;
	display: block;
	width: 40px;
	text-align: center;
	line-height: 20px;
	font-size: 20px;
	color: #dedede;
	left: 0;
	/*top: 10px;*/
	top: 7px;
}


/*All job page CSS Start*/
.all-jobs-section .white-panel-div .cName{
	font-size: 14px;
	color: #1478e8;
	text-decoration: underline;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;
}
.all-jobs-section .white-panel-div p.date-time-p{
	margin: 0
}

.all-jobs-section .white-panel-div .time-div{
	margin-left: 10px;
}

.post-info-list{
	margin: 0;
	list-style: none;
	font-size: 0;
	padding: 0
}
.post-info-list li{
	display: inline-block;
	font-size: 12px;
	width: 50%;
	padding: 1px 10px;
	border-left: 1px solid #dedede;
	margin-bottom: 10px;
	vertical-align: top;
}
.post-info-list li.bm-none{
	margin-bottom: 0
}
.post-info-list li .ci{
	margin-right: 8px;
	font-size: 16px;
	vertical-align: middle;
	position: relative;
	top: -0;
}
.post-info-list li span{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
 color: #141414;
 margin-left: 5px;
}
.post-info-list li span.price{
	 color: #141414;
	 font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif !important;
	 font-weight: 500;
	 margin-left: 0
}
.all-jobs-section .btn{
	font-size: 14px;
}

.active-job-head{
	margin: 0;
	padding: 0;
	list-style: none;
}
.active-job-head li{

	float: left;
	width: 25%;
	padding:15px;

}
.active-job-head li .inner-div{
	background: #1478e8;
	color: #fff;
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
		font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
}
.active-job-head li .inner-div h3{
	margin: 0;
	font-size: 20px;
	padding-top: 5px;
}

.active-job-head li .inner-div .icon-td{
	font-size: 25px;
	text-align: right;
}
.active-job-head li .inner-div .right-sm-text{
		text-align: right;
}
.active-job-head li .inner-div .right-sm-text .fa{
	margin-right: 10px;
}

.active-job-head li.green-box .inner-div{
	background: #1dae35
}
.active-job-head li.red-box .inner-div{
	background: #eb371f
}
/*All job page CSS End*/

/*pagination CSS Start*/
.pagination-div {
	color: #323232;
	margin: 15px 0;
}
.pagination-div ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	font-size: 0
}
.pagination-div ul li {
	display: inline-block;
	vertical-align: middle;
}
.pagination-div ul li a {
	width: 26px;
	height: 26px;
	display: block;
	position: relative;
	line-height: 26px;
	font-size: 12px;
	text-decoration: none;
	color: #323232;
	text-align: center;
}
.pagination-div ul li.active a {
	color: #8a75d0;
}
.pagination-div ul li.prev a, .pagination-div ul li.next a {
	display: inline-block;
	cursor: pointer;
	width: 28px;
	height: 28px;
	position: relative;
	font-size: 18px;
	vertical-align: middle;
	margin: 0 5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #8a75d0;
	text-align: left;
	color: #fff;
	text-decoration: none;
	line-height: 28px;
}
.pagination-div ul li.prev a {
	text-align: right;
}
.pagination-div .number-div {
	display: inline-block;
	vertical-align: middle;
}
.pagination-div ul li.prev a:hover, .pagination-div ul li.next a:hover {
	background: #6e55c1 !important;
	color: #fff !important;
}
/*pagination CSS End*/


/* Base for label styling */
.custom-checkbox {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px;
}
.custom-checkbox label {
	position: relative;
	margin: 0;
	display: block;
	min-width: 76px;
	padding: 5px 10px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	font-size: 12px;
	background: #e8e3ff;
}
.custom-checkbox [type="checkbox"]:not(:checked), .custom-checkbox [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
.custom-checkbox [type="checkbox"]:not(:checked) + label {
	position: relative;
	cursor: pointer;
	left: 0;
	width: 100%;
	height: 100%;
	top: 0;
}
.custom-checkbox [type="checkbox"]:checked + label {
	color: #fff;
	background: #63c35e;
}
/* checked mark aspect changes */
.custom-checkbox [type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
.custom-checkbox [type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
.custom-checkbox [type="checkbox"]:disabled:not(:checked) + label:before, .custom-checkbox [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
.custom-checkbox [type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
.custom-checkbox [type="checkbox"]:disabled + label {
	color: #aaa;
}


/* Base for label styling */
.custom-checkbox2 label {
	margin: 0;
}
.custom-checkbox2 [type="checkbox"]:not(:checked), .custom-checkbox2 [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
.custom-checkbox2 [type="checkbox"]:not(:checked) + label, .custom-checkbox2 [type="checkbox"]:checked + label {
	position: relative;
	padding-left: 40px;
	cursor: pointer;
	color: #7c81af;
	font-size: 12px;
	line-height: 25px;
}
/* checkbox aspect */
.custom-checkbox2 [type="checkbox"]:not(:checked) + label:before, .custom-checkbox2 [type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 25px;
	background: #e8e3ff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.custom-checkbox2 [type="checkbox"]:checked + label:before {
	background: #92e786;
}
/* checked mark aspect */
.custom-checkbox2 [type="checkbox"]:not(:checked) + label:after, .custom-checkbox2 [type="checkbox"]:checked + label:after {
	content: '✔';
	position: absolute;
	top: 0.5em;
	left: .5em;
	line-height: 0.8;
	color: #fff;
	transition: all .2s;
	font-size: 14px;
}
/* checked mark aspect changes */
.custom-checkbox2 [type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
.custom-checkbox2 [type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
.custom-checkbox2 [type="checkbox"]:disabled:not(:checked) + label:before, .custom-checkbox2 [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
.custom-checkbox2 [type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
.custom-checkbox2 [type="checkbox"]:disabled + label {
	color: #aaa;
}
/* accessibility */
.custom-checkbox2 [type="checkbox"]:checked:focus + label:before, .custom-checkbox2 [type="checkbox"]:not(:checked):focus + label:before {
}


.custom-radio1 [type="radio"]:checked, .custom-radio1 [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
.custom-radio1 [type="radio"]:checked + label, .custom-radio1 [type="radio"]:not(:checked) + label {
	position: relative;
	padding-left: 40px;
	cursor: pointer;
	color: #7c81af;
	font-size: 12px;
	line-height: 25px;
}
.custom-radio1 [type="radio"]:checked + label:before, .custom-radio1 [type="radio"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 25px;
	background: #e8e3ff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.custom-radio1 [type="radio"]:checked + label:before {
	background: #92e786;
}
.custom-radio1 [type="radio"]:checked + label:after, .custom-radio1 [type="radio"]:not(:checked) + label:after {
	content: '✔';
	position: absolute;
	top: 0.5em;
	left: .5em;
	line-height: 0.8;
	color: #fff;
	font-size: 14px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.custom-radio1 [type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.custom-radio1 [type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


.custom-radio2 [type="radio"]:checked, .custom-radio2 [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
.custom-radio2 [type="radio"]:checked + label, .custom-radio2 [type="radio"]:not(:checked) + label {
	position: relative;
	padding-left:25px;
	cursor: pointer;
	color: #7c81af;
	font-size: 12px;
	line-height: 15px;
}
.custom-radio2 [type="radio"]:checked + label:before, .custom-radio2 [type="radio"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	background: none;
	border: 1px solid #e8e3ff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.custom-radio2 [type="radio"]:checked + label:before {
	 border-color: #63c35e;
}
.custom-radio2 [type="radio"]:checked + label:after, .custom-radio2 [type="radio"]:not(:checked) + label:after {
	content: '✔';
	position: absolute;
	top: 0.4em;
	left: .4em;
	line-height: 0.8;
	color: #63c35e;
	font-size: 10px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.custom-radio2 [type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.custom-radio2 [type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


/*Range Slider CSS Start*/
.price-range {
	padding: 5px 0;
}
.price-range .asRange {
	max-width: 450px;
	width: 100%;
	background: #e8e3ff;
}
.price-range ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	color: #7c81af;
}
.price-range ul li {
	padding: 5px 0;
}
.price-range .asRange .asRange-selected {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a075c5+1,e075a5+100 */
	background: #63c35e; /* Old browsers */

}

.price-range .asRange .asRange-pointer:after {
	display: none;
}
.price-range .asRange .asRange-pointer .asRange-tip {
	background: none;
	font-size: 12px;
	color: #000;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	border: none;
	padding: 0 15px;
	width: 70px;
	height: 19px;
	text-align: center;
	left: -15px;
	top: auto;
	bottom: -22px;
}
.price-range .asRange .asRange-pointer .asRange-tip:before {
	display: none;
}
/*Range Slider CSS END*/

.ratings-mpd .title-label{
	padding-right: 15px;
}




.marketplace-designers-section .right-withdrawal{
	text-align: right;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;

}
.marketplace-designers-section .right-withdrawal .number-text {
    width: 25px;
    height: 25px;
    background: #8972f0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-left: 15px;
}

.marketplace-designers-section .availability-div{
	margin: 20px 0 10px 0;
}
.marketplace-designers-section .availability-div .custom-checkbox{
	margin-bottom: 0
}
.marketplace-designers-section 	.filter-div, .marketplace-buyers-section .filter-div{
	font-size: 14px;

}
.marketplace-designers-section 	.filter-div .custom-radio2 [type="radio"]:checked + label,.marketplace-designers-section 	.filter-div .custom-radio2 [type="radio"]:not(:checked) + label{
	font-size: 14px;
}

.marketplace-designers-section 	.filter-div  .custom-radio2 [type="radio"]:not(:checked) + label .fa{
color: #dadad8;
font-size: 15px;
position: relative;
top: 1px;
}
.marketplace-designers-section 	.filter-div .custom-radio2 [type="radio"]:checked + label .fa{
	color: #e2d110;
}
.marketplace-designers-section 	.filter-div .custom-radio2{
	margin-right: 7px;
	vertical-align: top;
}
.marketplace-designers-section .ratings-mpd{
	margin-bottom: 20px;
}

.marketplace-designers-section 	.filter-div .btn{
	height: 30px;
	min-width: 100px;
line-height: 15px;
}

.marketplace-designers-section .total-designer-div h3{
margin:0 0;
font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
font-weight: 700;
font-size: 16px;
color: #454545;
}
.marketplace-designers-section 	.total-designer-div .btn{
	height: 30px;
	min-width: 100px;
	line-height: 15px;
	margin-bottom: -18px;
	position: relative;
	top: -10px;
}

.marketplace-designers-section .post-info-list li{
	width: 33.3%;
}
.marketplace-designers-section .cName{
	font-size: 14px;
	color: #1478e8;
	text-decoration: underline;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;
}

.marketplace-designers-section .post-info-list li span{
	margin-left: 3px;
	margin-right: 5px;
}
.marketplace-designers-section .email{
	margin: 0;
}
.marketplace-designers-section .email a{
	color: #7c81af;
	text-decoration: none;
}
.marketplace-designers-section .email .fa{
	font-size: 18px;
	position: relative;
	top: -1px;
	vertical-align: middle;
	margin-right:5px;
}

.marketplace-designers-section  .post-info-list li:nth-child(6),
.marketplace-designers-section  .post-info-list li:nth-child(5),
.marketplace-designers-section  .post-info-list li:nth-child(4){
	margin-bottom: 0
}



.marketplace-buyers-section .post-info-list li{
	width: 33.3%;
}
.marketplace-buyers-section .cName{
	font-size: 14px;
	color: #1478e8;
	text-decoration: underline;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;
}

.marketplace-buyers-section .post-info-list li span{
	margin-left: 3px;
	margin-right: 5px;
}
.marketplace-buyers-section .post-info-list li:nth-child(6),
.marketplace-buyers-section .post-info-list li:nth-child(5),
.marketplace-buyers-section .post-info-list li:nth-child(4){
	margin-bottom: 0
}
.marketplace-buyers-section .total-buyers-div h3{
margin:0 0;
font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
font-weight: 700;
font-size: 16px;
color: #454545;
}

.mob-menu-sidebar{
	display: none;
}

.close-sidebar-menu{
	position: absolute;
right: 10px;
font-size: 26px;
top: 2px;
color: #8a75d0;
}
.tab-div{
	display: inline-block;
	font-size: 0;
	border: 1px solid #cdcdcd;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	margin-bottom: 25px;
	overflow: hidden;
}


.tab-div .btn{
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius: 0;
		background: #ede8fe;
		box-shadow: none;
		font-size: 16px;
		height: 30px;
		padding-left: 12px;
		padding-right: 12px;
		border-right: 1px solid #cdcdcd;
		cursor: pointer;
}
.tab-div .btn:last-child{
	border: none;
}

.tab-div .btn.active{
	    background: #8a75d0 !important;
			color: #fff;
}
.tags-div{
	font-size: 0;
	margin-bottom: 30px;
}
.tags-div .btn{
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	background: #63c35e;
	color: #fff;
	font-size: 14px;
	height: 26px;
	padding: 3px 10px;
	margin-right: 20px;
}

/*Project Details CSS*/
.project-details-section .project-id{
	font-size: 16px;
	margin-left: 10px;
}

.project-details-section h3{
	font-size: 16px;
	color: #454545;
	margin: 0;
	margin-top: 10px;
}
.project-details-section .bownload-btn .btn{
	margin: 10px 0;
	height: 30px;
	line-height: 19px;
}
.project-details-section .time-line{
	margin-top: 15px;
}
.project-details-section .left-line{
	border-left: 2px solid #eae9e9;
	min-height: 135px;
		font-size: 14px;
}
.project-details-section .category-title{
	margin-top: 30px;
}

.project-details-section .buyer-pic{
white-space: nowrap;
display: table;
margin-bottom: 15px;
margin-top: 10px;
text-align: center;

}

.project-details-section .invited-on{

}
.project-details-section .invited-on .fa{margin-right: 10px;}
.project-details-section .tags-div .btn{
	font-size: 12px;
}
.project-details-section .cancle-project-bottom {
		font-size: 14px;
}
.project-details-section .cancle-project-bottom .btn{
	height: 30px;
	line-height: 19px;
}

.project-details-section .cancle-project-bottom .btn.btn-light-red{
margin-top: 30px;
}
.project-details-section #MessagesTab .panel-body{
	padding: 0
}
.project-details-section .bt-div{font-size: 14px;}

.project-details-section .project-post-date strong{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;
	color: #454545;
	font-size: 14px;
}
.project-details-section .project-post-date{
	margin-bottom: 28px;
}
.project-details-section .designer-suggestions-div{
	margin-top: 20px;
	max-width: 980px;
}
.project-details-section .designer-suggestions-div .bottom-div{
	text-align: center;
}
.project-details-section .designer-suggestions-div .bottom-div strong{
	font-size: 14px;
	color: #454545;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
}
.project-details-section .designer-suggestions-div .bottom-div .fa{
	font-size: 20px;
	vertical-align: middle;
	color: #63c35e;
	position: relative;
	top: -2px;
}
.project-details-section .designer-suggestions-div .bottom-div p{
	margin-bottom: 5px;
}
.timeline-info-list{
	margin: 25px 0;
	padding: 0;
	list-style: none;
	border: 1px solid #d7d6d6;
}
.timeline-info-list li{
	padding: 15px 20px;
	border-bottom: 1px solid #d7d6d6;
	font-size: 14px;
}
.timeline-info-list li:nth-child(2n+2){
	background: #f6f7fd;
}
.timeline-info-list li:last-child{
	border-bottom: none;
}
.timeline-info-list li strong{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.timeline-info-list .right-div{
	text-align: right;
		color: #454545;
}
.timeline-info-list .right-div .price{
	display: inline-block;
	vertical-align: middle;
    min-width: 90px;
    text-align: left;
}
.timeline-info-list .icon-div{
	display: inline-block;
	vertical-align: middle;
	min-width: 30px;
	text-align: left;
	font-size: 18px;
}
.timeline-info-list .icon-div.green{
	color: #63c35e;
}
.timeline-info-list .icon-div.red{
	color: #eb3820;
}
.timeline-info-list .icon-div.sm-icon{
	font-size: 13px;
}

.project-details-section .rating-info p{
	font-size: 14px;
}
.project-details-section .rating-info p strong{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.project-details-section .rating-info table{
	width: 80%;
	margin-bottom:20px;
	font-size: 14px;
}
.project-details-section .rating-info table td{
	padding:5px 10px;
	padding-right: 0
}
.project-details-section .rating-info table th{
	padding:5px 0;
		font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
		color: #454545;
}
.project-details-section .rating-div{
	font-size: 15px;
}
.project-details-section .rating-info .overall-rating{
	text-align: center;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #454545;
	border-left: 2px solid #eae9e9;

}
.project-details-section .rating-info .overall-rating>div{
	padding: 40px 0;
}
.project-details-section .rating-info .overall-rating h2{
	font-size: 30px;
	margin: 0;
	margin-top: 5px;
}
/*Project Details CSS END*/



/*message board CSS Start*/
.message-board-section .head-winner-selected {
	font-size: 14px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #141414;
}
.message-board-section .head-winner-selected .fa {
	font-size: 25px;
	color: #8a75d0;
	margin-right: 10px;
	vertical-align: middle;
}
.project-info-section .panel-block .content-div .btn-link {
	text-decoration: none;
}
.chat-box {
	position: relative;
	padding: 10px;
	padding-left: 70px;
	padding-right: 60px;
	border: 1px solid #8972f0;
}
.chat-box .file-upload {
	position: absolute;
	left: 0;
	top: 0;
	width: 70px;
	height: 100%;
	overflow: hidden;
	text-align: center;
	line-height: 100%;
	line-height: 53px;
	font-size: 32px;
	color: #8972f0;
	cursor: pointer;
}
.chat-box .file-upload input {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Netscape */
	-moz-opacity: 0;
	/* Safari 1.x */
	-khtml-opacity: 0;
	/* Good browsers */
	opacity: 0;
	cursor: pointer;
}
.chat-box .btn {
	position: absolute;
	right: 0;
	top: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 50px;
	height: 88%;
	margin: 3px;
	font-size: 22px;
	padding: 0
}
.chat-box .form-control {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
	border-left: 1px solid #e3e3e3;
	padding-left: 25px;
}
.chat-list {
	margin: 15px 0;
	padding: 0;
	list-style: none;
}
.chat-list li {
	position: relative;
	margin: 35px 0;
	color: #7c81af;
}

.chat-list li.admin{
	    padding-left: 72px;
			padding-right: 72px;
}
.chat-list li.admin .msg-div{
	width: 100%;
	background: #f7f5fd;
	-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}
.chat-list li.admin .name{
	color: #454545;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	float: left;
}
.chat-list li.admin .date{
	float: right;
}
.chat-list li .pic-div {
	position: absolute;
	top: 0;
	right: 0;
}
.chat-list li.right {
	padding-right: 72px;
	text-align: right;
}
.chat-list li.right .pic-div {
	right: 0;
}
.chat-list li .msg-div {
	-moz-border-radius-topleft: 30px;
	-webkit-border-top-left-radius: 30px;
	border-top-left-radius: 30px;
	-moz-border-radius-topright: 1px;
	-webkit-border-top-right-radius: 1px;
	border-top-right-radius: 1px;
	-moz-border-radius-bottomright: 30px;
	-webkit-border-bottom-right-radius: 30px;
	border-bottom-right-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	-webkit-border-bottom-left-radius: 30px;
	border-bottom-left-radius: 30px;
	background: #e2ddfa;
	padding: 20px 25px;
	width: 75%;
	display: inline-block;
	text-align: left;
}
.chat-list li .name {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.chat-list li.right .name {
	float: right;
}
.chat-list li.right .date {
	float: left;
}
.chat-list li .c-div {
	margin-top: 10px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.chat-list li .c-div a{
	text-decoration: underline;
	color: #1478e8;
}
.chat-list li .dot-icon {
	width: 12px;
	height: 12px;
	z-index: 2;
	display: block;
	position: absolute;
	right: 0;
	background: #d7d7d7;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.chat-list li .dot-icon.online {
	background: #76de29;
}
.chat-list li.left {
	padding-left: 72px;
	padding-right: 0;
	text-align: left;
}
.chat-list li.left .msg-div {
	-moz-border-radius-topleft: 1px;
	-webkit-border-top-left-radius: 1px;
	border-top-left-radius: 1px;
	-moz-border-radius-topright: 30px;
	-webkit-border-top-right-radius: 30px;
	border-top-right-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-webkit-border-bottom-right-radius: 30px;
	border-bottom-right-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	-webkit-border-bottom-left-radius: 30px;
	border-bottom-left-radius: 30px;
	background: #f7f5fd;
}
.chat-list li.left .pic-div {
	left: 0;
	right: auto;
}
.pic-div img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.chat-list li.left .name {
	float: left;
}
.chat-list li.left .date {
	float: right;
}
.chat-list li p {
	margin-bottom: 15px;
}
.chat-list li .bottom-img-div img {
	border: 1px solid #e9e9e9;
}
.outer-progress-bar-div{
	position: absolute;
	width: 100.2%;
	top: 100%;
	left:-1px;
	z-index: 333;
	max-height: 300px;
	overflow: auto;
	background: #fff;
	  border: 1px solid #8972f0;
}
.file-progress-bar{
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	padding: 15px;
	padding-left: 90px;
	background: #fff;
	z-index: 333;
  border-bottom: 1px solid #8972f0;
}
.file-progress-bar:last-child{
	border: none;
}
.file-progress-bar .file-extension{
	position: absolute;
	left: 10px;
	width: 60px;
	height: 60px;
	background: #e2ddfb;
	color: #737665;
	text-align: center;
	display: table;
	-webkit-border-radius:10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.file-progress-bar .file-extension span{
	display: table-cell;
	    vertical-align: middle;
			font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
			font-weight: 700;
}
.file-progress-bar h4{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;
	margin: 12px 0;
	position: relative;

	color: #8a75d0 !important;
}
.file-progress-bar .close-btn{
	position:absolute;
	right:0;
	top: 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.file-progress-bar .progress{
	height: 6px;
	background: #e1dcfc;
	box-shadow: none;
	-webkit-border-radius:0;
-moz-border-radius: 0;
border-radius: 0;
margin-bottom: 10px;
}
.file-progress-bar .progress-bar-success{
	background: #67d54e;
	box-shadow: none;

}
.file-progress-bar .close-btn a{
	color: #fb383e;
	    text-decoration: none;
	    font-size: 20px;
	    vertical-align: middle;
			margin-left: 12px;
}

/*message board CSS END*/


/*Block Design 01 Start*/
.select-design-block {
	font-size: 14px;
margin: 0 auto;
	margin-bottom: 25px;
	max-width: 400px;

}
.select-design-block .inner-div {
	border: 1px solid #e9e9e9;
	box-shadow: 0 3px 3px rgba(20, 19,19, 0.1);
}
.select-design-block:hover .inner-div {
	box-shadow: 0 5px 50px rgba(20, 19,19, 0.200);
}
.select-design-block .user-info {
	padding: 10px;
	color: #141414;
	border-top: 1px solid #e9e9e9;
}
.select-design-block .img-div {
	height: 220px;
	background-size: cover;
	background-repeat: no-repeat;
}
.select-design-block .user-info .sm-pic {
	width: 44px;
	padding-right: 8px;
}
.select-design-block .user-info .sm-pic img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.select-design-block .select-btn {
	text-align: center;
	margin: 30px 0;
}
.select-design-block .select-btn .btn {
	min-width: 99px;
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	height: 33px;
	line-height: 18px;
}
.select-design-block .browse-designers-button-next, .select-design-block .browse-designers-button-prev {
	width: 35px;
	height: 35px;
	background: #202e3f;
	position: absolute;
	left: -15px;
	top: 50%;
	margin-top: -20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: block;
	z-index: 2;
	color: #fff;
	line-height: 37px;
	padding: 0 5px;
}
.select-design-block .browse-designers-button-next {
	left: auto;
	right: -15px;
}
/*Block Design 01 End*/

/*Rating Start*/
.rating-div {
	color: #cfcdcd;
}
.rating1 i:nth-child(1) {
	color: #e0c21a;
}
.rating2 i:nth-child(1), .rating2 i:nth-child(2) {
	color: #e0c21a;
}
.rating3 i:nth-child(1), .rating3 i:nth-child(2), .rating3 i:nth-child(3) {
	color: #e0c21a;
}
.rating4 i:nth-child(1), .rating4 i:nth-child(2), .rating4 i:nth-child(3), .rating4 i:nth-child(4) {
	color: #e0c21a;
}
.rating5 i:nth-child(1), .rating5 i:nth-child(2), .rating5 i:nth-child(3), .rating5 i:nth-child(4), .rating5 i:nth-child(5) {
	color: #e0c21a;
}
/*Rating End*/


/*table css start*/
 .tbl-listing{
	 border: 1px solid #f8f8fd;
	 font-size: 14px;
	 overflow: auto;
 }
 .tbl-listing thead th{
	 background: #f6f7f8;
	 color: #141414;
	 padding:10px 10px;
	 font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
 	font-weight: 700;
 }
 .tbl-listing  table {
	 min-width: 1000px;
 }
 .tbl-listing  table tbody td{
	color: #141414;
	padding:6px 10px;
 }

.tbl-listing  table tbody tr:nth-child(2n+2) td{
	background: #f6f7f8;
}
.tbl-listing  table td.action{
	font-size: 0;
	text-align: center;
}
.tbl-listing  table td.action .btn{
	display: inline-block;
	width: 27px;
	height: 27px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: 0;
	margin: 0 5px;
	background: #e4e5e5;
	color: #000;
	font-size: 14px;
	line-height: 28px;

}
/*table css end*/


/*categories css start*/
.categories-section .cat-heading h3{
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #454545;
}
.categories-section .cat-heading .no{
	display: inline-block;; vertical-align: middle;
	width: 25px;
	height: 25px;
	text-align: center;
	background: #8a75d0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	line-height: 25px;
	color: #fff;
}
.categories-section .cat-heading .btn{
	min-width: inherit;
	height: 29px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 17px;
}
.categories-section .cat-heading .sm-text a{
	text-decoration: underline;
	color: #1478e8;
}
.categories-section .cat-heading{
	margin-bottom: 10px;
}

.categories-section .pagination-div{
	margin-bottom: 0
}


/*categories css end*/


/*Tickets Start*/
.tickets-list-section .page-heading h2.sm-title{
	font-size: 16px;
}
.tickets-list-section strong{
	 font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
color: #454545;
}

.tickets-details-section strong {
	 font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
color: #454545;
}
.tickets-details-section .uploading-div{
	position: relative;
	padding: 15px 40px;
	border: 1px dashed #eeeeee;
	 cursor: pointer;
	 -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.tickets-details-section .uploading-div input{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	left: 0;
	top: 0;
	display: block;
	/* IE 8 */
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

 /* IE 5-7 */
 filter: alpha(opacity=0);

 /* Netscape */
 -moz-opacity: 0;

 /* Safari 1.x */
 -khtml-opacity: 0;

 /* Good browsers */
 opacity: 0;
 cursor: pointer;
}
.tickets-details-section .uploading-div .fa-file-pdf-o{
	position: absolute;
	    left: 10px;
	    top: 10px;
	    font-size: 26px;
			z-index: 5
}
.tickets-details-section .uploading-div .fa-arrow-circle-down{
	position: absolute;
	    right: 10px;
	    top: 10px;
	    font-size: 26px;
			z-index: 5
}
.tickets-details-section .form-control{
	box-shadow: none;
	border: 1px solid  #eeeeee;

}
/*Tickets End*/

/*panel Block css Start*/
.panel-block {
	margin-bottom: 20px;
	background: none;
	border: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.panel-block .panel-body {
	padding: 0;
	border: none;
	box-shadow: none;
}
.panel-block .panel-title {
	color: #8a75d0;
	font-size: 20px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0
}
.panel-block .panel-title .active-page {
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	text-transform: capitalize;
	margin-left: 15px;
}
.panel-block .panel-title .active-page .icon-arrow {
	font-size: 21px;
	line-height: 14px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -3px;
	margin-right: 3px;
}
.panel-block .panel-title .number-text {
	width: 25px;
	height: 25px;
	background: #8972f0;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 25px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-left: 25px;
}
.panel-block .panel-heading {
	background: #fff;
	padding: 15px 25px;
	margin-bottom: 2px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.panel-block .content-div {
	background: #fff;
	padding: 15px 25px;
	color: #7c81af;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	margin-bottom: 2px;
	font-size: 12px;
}
.panel-block .content-div.padding15All {
	padding: 15px;
}
.panel-block .content-div h4 {
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #141414;
	line-height: 18px;
	margin-top: 0;
}
.panel-block .content-div .date-div {
	color: #141414;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	line-height: 18px;
	font-size: 12px;
	margin-bottom: 10px;
}
.panel-block .content-div .date-div .fa {
	margin-right: 10px;
	font-size: 14px;
}
.panel-block .content-div .right-div {
	text-align: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	height: 100%;
	min-height: 100%;
}
.panel-block .content-div .alert-div {
	color: #ed7154;
	font-size: 12px;
	padding: 0 0 10px 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.panel-block .content-div .alert-div .fa {
	font-size: 20px;
	margin-right: 5px;
}
.panel-block .content-div .right-div .btn {
	min-width: 160px;
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	height: 33px;
	line-height: 18px;
}
.panel-block .content-div .border-left {
	border-left: 2px solid #e3eefd !important;
}
.panel-block .content-div .right-div h6 {
	margin: 0;
	color: #141414;
	font-size: 12px;
	margin-bottom: 7px;
	text-transform: uppercase;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.panel-block .content-div .btn-link {
	color: #7c81af;
	text-decoration: underline;
}
.panel-block .content-div .right-div .btn-link {
	color: #7c81af;
	text-decoration: none;
}
.panel-block .media table {
	margin-bottom: 10px;
	color: #141414;
	font-size: 12px;
}
.panel-block .media table .sm-pic {
	width: 40px;
}
.panel-block .content-div .media .date-div {
	margin-bottom: 0;
}
.panel-block .content-div .media .date-div .fa {
	margin-right: 5px;
}
.panel-block .media .mr-3 {
	margin-right: 2.5rem !important;
}
/*panel Block css End*/

/*Right Sidebar Start*/
.right-sidbar-div{
background: #fff;
padding:5px 20px;
color: #141414;
font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
font-weight: 500;
font-size: 12px;
}
.right-sidbar-div ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.right-sidbar-div ul li{
	border-bottom: 1px solid #e3eefd;
	padding: 15px 0;

}
.right-sidbar-div ul li:last-child{
	border-bottom: none;
}
.right-sidbar-div h5{
	margin: 0;
	font-size: 12px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #7c81af;
	margin-bottom: 5px;
}
.right-sidbar-div .rating-div{
	font-size: 18px;
}
.right-sidbar-div .languages-know span{
margin-right: 15px;
}
.right-sidbar-div .languages-know span.selected{
	color: #8a75d0;
}
.right-sidbar-div li.about{
		color: #7c81af;
}
/*Right Sidebar END*/
.display-table {
	display: table;
	width: 100%;
}
.display-table-cell {
	display: table-cell;
	float: none;
	vertical-align: middle;
}

.black-color {
    color: #141414;
}


.seller-info-section .panel-block .content-div h4 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.seller-info-section .head-profile-div .left-img-div {
	text-align: center;
}
.seller-info-section .head-profile-div .left-img-div h4 {
	margin-top: 10px;
}
.seller-info-section .head-profile-div p {
	margin-bottom: 5px;
}
.seller-info-section .head-profile-div .tags-div {
	margin: 10px 0;
}
.seller-info-section .head-profile-div .tags-div .btn {
	margin-bottom: 2px;
}
.seller-info-section .head-profile-div hr {
	max-width: 300px;
	margin: 15px 0 10px 0;
	border-color: #e3eefd;
}
.work-history-review-div .left-content ul {
	margin: 5px -15px;
	padding: 0;
	list-style: none;
	font-size: 0;
	color: #141414;
	margin-top: 0;
}
.work-history-review-div .left-content ul li {
	font-size: 12px;
	display: inline-block;
	vertical-align: middle;
	padding: 0 15px;
	border-right: 1px solid #eaeaea
}
.work-history-review-div .left-content ul li:last-child {
	border: none;
}
.work-history-review-div .client-info-right-div {
	border-left: 2px solid #e3eefd;
	text-align: center;
}
.work-history-review-div .client-info-right-div p {
	margin-bottom: 0;
}
.work-history-review-div .client-info-right-div p img {
	margin-bottom: 15px;
}
.work-history-review-div .rating-div {
	font-size: 14px;
}
.single-image-thumb {
	height: 220px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 25px;
	border: 1px solid #e9e9e9;
}
.dprofile-gallery-inspiration-bank-uploads .tab-s-div {
	font-size: 0;
	margin-bottom: 20px;
}
.dprofile-gallery-inspiration-bank-uploads .tab-s-div .btn {
	font-size: 12px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 300;
	height: 30px;
	box-shadow: none;
	line-height: 20px;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: 20px;
	background: #e8e3ff;
	cursor: pointer;
}
.dprofile-gallery-inspiration-bank-uploads .tab-s-div .btn.active {
	background: #8a75d0;
	color: #fff;
}
.seller-info-section .pagination-div {
	margin: 0
}
.seller-info-section .services-div.panel-block .content-div {
	color: #141414;
}
.seller-info-section .services-div strong {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.seller-info-section .services-div .accordion-block {
	border: 2px solid #8972f0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 10px;
}
.seller-info-section .services-div .accordion-block h5 {
	margin: 0;
	padding: 15px;
	background: #8972f0;
}
.seller-info-section .services-div .accordion-block h5 a {
	color: #fff;
	text-decoration: none;
	display: block;
	position: relative;
}
.seller-info-section .services-div .accordion-block h5 .caret {
	position: absolute;
	right: 0px;
	top: 5px;
	border-right: 6px solid transparent;
	border-bottom: 0 dotted;
	border-left: 6px solid transparent;
	border-top: 6px solid #fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.seller-info-section .services-div .accordion-block h5.active .caret {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.seller-info-section .services-div .accordion-block .inner-div-content {
	padding: 25px;
	display: none;
}
.seller-info-section .services-div .list1 {
	margin: 15px -15px;
	padding: 0;
	list-style: none;
	font-size: 0
}
.seller-info-section .services-div .list1 li {
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
	padding: 0 15px;
	border-right: 1px solid #141414;
}
.seller-info-section .services-div .list1 li:last-child {
	border: none;
}
.seller-info-section .services-div section {
	margin-bottom: 35px;
}
.seller-info-section .services-div section:last-child {
	margin-bottom: 0
}
.seller-info-section .services-div h4.border-bottom {
	border-bottom: 1px solid #d3d3d3;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.seller-info-section .services-div hr {
	border-color: #d3d3d3;
}
.seller-info-section .services-div .single-image-thumb {
	height: 170px;
}
.seller-info-section .services-div .bottom-img-div {
	margin-top: 25px;
}
.right-sidbar-div .cart-div-right strong {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.right-sidbar-div .cart-div-right h3 {
	font-size: 14px;
	color: #8972f0;
	text-transform: uppercase;
}
.right-sidbar-div .cart-div-right table td {
	padding: 10px 0;
}
.right-sidbar-div .cart-div-right table th {
	padding: 10px 0;
	text-align: right;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.right-sidbar-div .cart-div-right p {
	margin-bottom: 3px;
}
.right-sidbar-div .cart-div-right table tfoot {
	border-top: 1px solid #d3d3d3;
}
.right-sidbar-div .cart-div-right .btn {
	margin-bottom: 15px;
}
.r-sidebar-line8px {
	height: 10px;
	background: #e2eefd;
	margin: 10px -20px;
}

/*******************  Transaction Page Css ****************/
.all-transactions-section .tbl-list{
	overflow: auto;
}
.all-transactions-section .tbl-list table{
	min-width: 800px;
}
.all-transactions-section .tbl-list th{
	font-size: 14px;
	padding:6px 5px;
	color: #000;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.all-transactions-section .tbl-list td{
	font-size: 14px;
	padding: 10px 5px;

}
.all-transactions-section .tbl-list td a{
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
