body {
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #323232;
	background-color: #f4f4f4;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0
}
html, body {
	min-height: 100%;
	width: 100%;
	height: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
.m20 {
	margin-bottom: 20px;
}
.container {
	max-width: 1260px;
	width: 100%;
}
.body-div {
	overflow: hidden;
	min-height: 100%;
}
/*Button css Start*/
.uppercase {
	text-transform: uppercase;
}
.btn:focus {
	box-shadow: none !important;
}
.btn {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	height: 40px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	outline: none !important;
}
.btn.btn-sm {
	height: 30px;
	line-height: 18px;
}
.btn-pink {
	background: #c13774 !important;
	color: #fff !important;
}
.btn-pink:hover {
	background: #b71c61 !important;
	color: #fff !important;
}
.btn-medium-pink {
	background: #f17598 !important;
	color: #fff !important;
}
.btn-medium-pink:hover {
	background: #c7637f !important;
	color: #fff !important;
}
.btn-bright-orange {
	background: #fd5b0c !important;
	color: #fff !important;
}
.btn-bright-orange:hover {
	background: #e9560f !important;
	color: #fff !important;
}
.btn-green {
	background: #87cf4c !important;
	color: #fff !important;
}
.btn-green:hover {
	background: #72bf32 !important;
	color: #fff !important;
}
.btn-white {
	background: #ffffff !important;
	color: #8a75d0 !important;
}
.btn-white:hover {
	background: #ffffff !important;
	color: #8a75d0 !important;
}
/*Button css END*/

.page-title {
	font-size: 20px;
	color: #2c2c2c;
	margin-bottom: 30px;
}
.custom-select-dropdown select {
	-webkit-box-shadow: none;
	appearance: none;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
}
.custom-select-dropdown {
	position: relative;
}
.custom-select-dropdown:after {
	content: "";
	position: absolute;
	right: 22px;
	top: 50%;
	margin-top: -2px;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid\9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	color: #f17598;
}
.custom-select-dropdown select::-ms-expand {
 /* IE 8 */
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 /* IE 5-7 */
 filter: alpha(opacity=0);
 /* Good browsers :) */
 opacity:0;
}
.form-control {
	height: 39px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: solid 1px #f17598;
	padding-left: 30px;
	padding-right: 30px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #f17598;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #f17598;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
 color: #f17598;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
 color: #f17598;
}
.form-control:-moz-placeholder { /* Firefox 18- */
 color: #f17598;
}
.display-table {
	display: table;
	width: 100%;
}
.display-table .display-cell {
	display: table-cell;
	vertical-align: middle
}
#main {
	padding: 25px;
}
.white-block {
	background: #fff;
	padding: 30px 60px;
}
/*Header Css   */

header {
	background: #fff;
	padding: 15px 0;
}
.dropdown.head-right-dropdown {
	float: right;
	width: 200px;
	margin-top: 12px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.dropdown.head-right-dropdown button {
	display: block;
	width: 100%;
	background: none;
	border: none;
	color: #f17598;
	outline: none;
}
.dropdown.head-right-dropdown .caret {
	margin-left: 15px;
	border-top: 6px solid #f17598;
	border-right: 6px solid transparent;
	border-bottom: 0 dotted;
	border-left: 6px solid transparent;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.dropdown.head-right-dropdown.open .caret {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.dropdown.head-right-dropdown .dropdown-menu {
	margin: 0;
	min-width: 200px;
	padding: 0;
	margin-top: 22px;
	border-color: #eeeeee;
	-webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.09);
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.09);
}
.dropdown.head-right-dropdown .dropdown-menu li {
	border-bottom: 1px solid #eeeeee;
}
.dropdown.head-right-dropdown .dropdown-menu li a {
	color: #f17598;
	padding: 10px 20px;
	font-size: 12px;
	border-left: 3px solid #fff;
	position: relative
}
.dropdown.head-right-dropdown .dropdown-menu li.active a, .dropdown.head-right-dropdown .dropdown-menu li:hover a {
	background: #eeeeee;
	border-color: #f17598;
}
.dropdown.head-right-dropdown .dropdown-menu li.language {
	padding: 10px 20px;
}
.dropdown.head-right-dropdown .dropdown-menu li.language span {
	display: inline-block;
	vertical-align: middle;
	color: #cfcfcf;
	font-size: 12px;
}
.dropdown.head-right-dropdown .dropdown-menu li.language span.active {
	color: #f17598
}
.dropdown.head-right-dropdown .switch-btn {
	display: inline-block;
	vertical-align: middle
}
.dropdown.head-right-dropdown .dropdown-menu > li > a:hover, .dropdown.head-right-dropdown .dropdown-menu > li > a:focus {
	background: #eeeeee;
	border-color: #f17598;
}
.dropdown.head-right-dropdown .alert-span {
	position: absolute;
	right: 10px;
	top: 8px;
	width: 20px;
	height: 20px;
	background-color: #f17598;
	font-size: 10px;
	display: block;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
/*Header Css End */ 

/*Login CSS Start*/ 
.login-form {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #ffff;
	padding: 30px 70px;
	max-width: 507px;
	
	width:90%;
	-webkit-box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.18);
	box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.18);
	margin:30px auto;
	position: relative;
	z-index: 55
}
.login-page {
	background: url(../../../images/body-bg.jpg) no-repeat center top;
	background-size: cover;
	position: relative;
	min-height: 100%;
	text-align: center;
}
.login-page:before {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	content: "";
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
	z-index: 2;
}
.login-page .display-table {
	height: 100%;
	width: 100%;
	text-align: center;
	position: relative;
	min-height: 100%;
}
.login-form .logo {
	margin: 30px 0;
	margin-top: 10px;
}
.login-form h3 {
	font-size: 20px;
	font-weight: bold;
	color: #f17598;
	margin-bottom: 30px;
}
.login-form .weChat a {
	display: block;
	height: 50px;
	line-height: 35px;
	border-radius: 25px;
	color: #f17598;
	font-size: 12px;
	border: dashed 1px #f17598;
}
.login-form .weChat img {
	margin-left: 30px;
	vertical-align: middle
}
.login-form .or {
	margin: 40px 0;
}
.login-form .f-password {
	text-align: right;
	margin-bottom: 30px;
}
.login-form .f-password a {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #f17598;
}
.login-form .already-have-account {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #f17598;
	padding-top: 15px;
	text-align: center;
}
.login-form .already-have-account a {
	font-size: 14px;
	text-decoration: underline;
	color: #f17598;
}
/*Login CSS END*/ 

/*Categories CSS Start*/
.head-search-box {
	max-width: 990px;
	margin: 0 auto;
	position: relative;
}
.head-search-box .form-control {
	border: solid 1px #d0d0d0;
	height: 50px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	font-size: 14px;
	padding-left: 70px;
}
.head-search-box .fa {
	color: #f17598;
	position: absolute;
	left: 30px;
	top: 15px;
	font-size: 20px;
}
/*Categories CSS End*/

/*Tab CSS start*/
.tabs-div {
	padding: 30px 0;
	margin-bottom: 15px;
}
.tabs-div .btn {
	height: 30px;
	min-width: 130px;
	line-height: 14px;
	position: relative
	margin: 0 0 10px 0;
}
.tabs-div .btn:after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 6px dashed;
	border-top: 6px solid\9;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	position: absolute;
	bottom: -7px;
	left: 50%;
	color: #f17598;
	margin-left: -5px;
	display: none
}
.tabs-div .btn:hover:after {
	color: #c7637f;
}
.tabs-div .btn.active:after {
	display: block
}
/*Tab CSS END*/

/*Thumb block CSS start*/
.thumb-block {
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	padding: 10px;
	-webkit-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
	border: solid 1px #d0d0d0;
	margin-bottom: 40px;
}
.thumb-block .img-div {
	height: 230px;
	background-size: cover;
	position: relative
}
.thumb-block .time-div {
	position: absolute;
	right: 0;
	top: 0;
	width: 68px;
	text-align: center;
	padding: 3px 5px;
	background: rgba(0,0,0,0.6);
	color: #fff;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	z-index: 55;
	font-size: 12px;
	line-height: 16px;
}
.thumb-block .bottom-content {
	margin: 0 -10px;
	padding: 10px;
	border-top: solid 1px #d0d0d0;
	margin-top: 10px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	height: 60px;
}
.thumb-block .overlap-btn {
	position: absolute;
	z-index: 22;
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
	text-align: center
}
.thumb-block .icon-a {
	position: absolute;
	z-index: 22;
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
	background: url(../../../images/ignite/play-icon-red.png) no-repeat center center;
}
.thumb-block .mid-content.watch-again .icon-a {
	background: url(../../../images/ignite/play-icon-green.png) no-repeat center center;
}
.thumb-block .mid-content.resume-watching .icon-a {
	background: url(../../../images/ignite/resume.png) no-repeat center center;
}
.thumb-block .mid-content.download .icon-a {
	background: url(../../../images/ignite/play-icon-blue.png) no-repeat center center;
}
.thumb-block .mid-content .bottom-text {
	background-color: #d0021b;
	padding: 5px;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0
}
.thumb-block .mid-content.watch-again .bottom-text {
	background-color: #87cf4c;
}
.thumb-block .mid-content.resume-watching .bottom-text {
	background-color: #d0021b;
}
.thumb-block .mid-content.download .bottom-text {
	background-color: #5357f0;
}
.thumb-block .mid-content {
	position: absolute;
	z-index: 22;
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
	text-align: center
}
.thumb-block .mid-content .btn, .thumb-block .overlap-btn .btn {
	min-width: 145px;
	position: relative;
	top: 50%;
	margin-top: -20px;
	padding-left: 15px;
	padding-right: 15px;
}
.thumb-block p {
	margin-bottom: 7px;
}
.thumb-block .locked-video {
	position: absolute;
	z-index: 88;
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
	text-align: center
}
.thumb-block .lock-icon {
	position: absolute;
	z-index: 22;
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
	background: url(../../../images/ignite/lock.png) no-repeat center center;
}
.thumb-block .locked-video .lock-msg {
	background-color: rgba(0,0,0,0.5);
	padding: 10px 5px;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	color: #ffffff;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0
}
/*Thumb-block CSS END*/

/*Video CSS start*/
.video-info-section {
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
	color: #2c2c2c;
	font-size: 14px;
	margin-bottom: 20px;
}
.video-info-section .right-content {
	position: relative;
	padding-right:35px;
}
.video-info-section .right-content .flag-right {
	position: absolute;
	right: 0;
	top: 0
}
.video-info-section h3 {
	color: #2c2c2c;
	font-size: 20px;
	margin-bottom: 25px;
}
.video-info-section .thumb-block .img-div {
	height: 230px;
}
.video-info-section .thumb-block .bottom-content {
	height: auto
}
.video-info-section .thumb-block .bottom-content .btn {
	min-width: 145px;
	padding-left: 20px;
	padding-right: 20px;
}
/*Video CSS END*/


/*Video page Bottom CSS start*/
.recommended-quizzes-section h3 {
	color: #2c2c2c;
	font-size: 20px;
	margin-bottom: 35px;
	margin-top: 5px;
	text-align: center
}
.recommended-quizzes-section .thumb-block {
	margin-bottom: 25px;
}
.recommended-quizzes-section .thumb-block .bottom-content {
	border: none;
	margin-top: 0;
}
.recommended-quizzes-section .bottom-next-prev {
	font-size: 0
}
.recommended-quizzes-section .bottom-next-prev a {
	display: inline-block;
	margin-left: 30px;
}
/*Video page Bottom CSS End*/

/*Quiz Info CSS start*/
.quiz-info-section {
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
	color: #2c2c2c;
	font-size: 14px;
	margin-bottom: 20px;
}
.quiz-info-section .right-content {
	position: relative;
	padding-right: 35px;
}
.quiz-info-section .right-content .flag-right {
	position: absolute;
	right: 0;
	top: 0
}
.quiz-info-section h3 {
	color: #2c2c2c;
	font-size: 20px;
	margin-bottom: 25px;
}
.quiz-info-section .thumb-block .img-div {
	height: 230px;
}
.quiz-info-section .thumb-block .bottom-content {
	height: auto
}
.quiz-info-section .thumb-block .bottom-content .btn {
	min-width: 145px;
	padding-left: 20px;
	padding-right: 20px;
}
.quiz-info-section .tqh-info {
	padding: 0 0 20px 0;
}
.quiz-info-section .tqh-info span {
	color: #e8e8e8;
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px;
}
.quiz-info-section .tqh-info strong {
	font-size: 18px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
/*Quiz Info CSS End*/


/*Sign Up CSS start*/
.new-sign-up-form {
	background: #ffff;
	padding: 30px 0;
	max-width: 380px;
	margin: 30px auto;
	position: relative;
	z-index: 55;
	width: 100%;
}
.new-sign-up-form .upload-profile-img {
	width: 80px;
	height: 80px;
	background-size: cover;
	margin: 0 auto;
	position: relative;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	margin-bottom: 20px;
}
.new-sign-up-form .upload-profile-img input {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 55
}
.new-sign-up-form .upload-profile-img .edit-icon {
	position: absolute;
	overflow: hidden;
	right: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	display: block;
	background-color: #f17598;
	z-index: 222;
	color: #fff;
	text-align: center;
	line-height: 30px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	cursor: pointer;
}
.new-sign-up-form .upload-profile-img .uploaded-img {
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 22
}
.new-sign-up-form .already-have-account {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #f17598;
	padding-top: 15px;
	text-align: center;
}
.new-sign-up-form .btn {
	margin-top: 35px;
}
.new-sign-up-form .already-have-account a {
	font-size: 14px;
	text-decoration: underline;
	color: #f17598;
}
.new-sign-up-form .form-group {
	position: relative;
	margin-bottom: 10px;
}
.new-sign-up-form .right-icon {
	position: absolute;
	right: 20px;
	top: 10px;
	color: #f17598;
}
.new-sign-up-form .page-title {
	margin-bottom: 50px;
	color: #f17598;
}
.sign-up-page {
	background: #222;
	position: relative;
	min-height: 100%;
	text-align: center;
	background: url(../../../images/body-bg.jpg) no-repeat center top;
	background-size: cover;
}
.sign-up-page:before {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	content: "";
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
	z-index: 2;
}
.sign-up-form {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #ffff;
	padding: 30px 70px;
	max-width: 507px;
	-webkit-box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.18);
	box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.18);
	margin: 30px auto;
	position: relative;
	z-index: 55;
	width:90%;
}
.sign-up-form h3 {
	font-size: 20px;
	font-weight: bold;
	color: #f17598;
	margin-bottom: 15px;
}
.sign-up-form .logo {
	margin: 30px 0;
	margin-top: 10px;
}
.sign-up-form .upload-profile-img {
	width: 80px;
	height: 80px;
	background-size: cover;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	margin-bottom: 20px;
}
.sign-up-form .upload-profile-img input {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 55
}
.sign-up-form .upload-profile-img .uploaded-img {
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 22
}
.sign-up-form .already-have-account {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #f17598;
	padding-top: 15px;
	text-align: center;
}
.sign-up-form .btn {
	margin-top: 35px;
}
.sign-up-form .already-have-account a {
	font-size: 14px;
	text-decoration: underline;
	color: #f17598;
}
.sign-up-form .form-group {
	position: relative;
	margin-bottom: 10px;
}
.sign-up-form .right-icon {
	position: absolute;
	right: 20px;
	top: 10px;
	color: #f17598;
}
/*Sign Up CSS End*/


/*Update Profile CSS start*/
 
.update-profile-form {
	margin: 30px auto;
	max-width: 370px;
}
.sign-up-form h3 {
	font-size: 20px;
	font-weight: bold;
	color: #f17598;
	margin-bottom: 15px;
}
.update-profile-form .upload-profile-img {
	width: 80px;
	height: 80px;
	background-size: cover;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	margin-bottom: 20px;
}
.update-profile-form .upload-profile-img input {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 55
}
.update-profile-form .upload-profile-img .uploaded-img {
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 22
}
.update-profile-form .btn {
	margin-top: 25px;
}
.update-profile-form .form-group {
	position: relative;
	margin-bottom: 10px;
}
.update-profile-form .right-icon {
	position: absolute;
	right: 20px;
	top: 10px;
	color: #f17598;
}
.update-profile-form .upload-profile-img .edit-icon {
	position: absolute;
	overflow: hidden;
	right: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	display: block;
	background-color: #f17598;
	z-index: 222;
	color: #fff;
	text-align: center;
	line-height: 30px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
/*Update Profile CSS End*/

/*Member Ship PLAN CSS Start*/
.check-box-membership {
  display: block;
  position: relative; 
  cursor: pointer; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-bottom:0;
}

/* Hide the browser's default checkbox */
.check-box-membership input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.check-box-membership .checkmark {
    position: relative;
    top: 0;
    left: 0;
   
    z-index: 2;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #d8d8d8;
    -webkit-box-shadow: inset -5px -6px 0 rgba(0,0,0,0.05);
    -moz-box-shadow: inset -5px -6px 0 rgba(0,0,0,0.05);
    box-shadow: inset -5px -6px 0 rgba(0,0,0,0.05);
    
    display: block;
	    width: 30px;
    height: 30px;
    margin: 15px auto;
    box-shadow: none !important;
	margin-bottom:30px;
}

/* On mouse-over, add a grey background color */
.check-box-membership:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-box-membership input:checked ~ .checkmark {
background-color: #52b421;
}

/* Create the checkmark/indicator (hidden when not checked) */
.check-box-membership .checkmark:after {
  content: "";
  position: absolute;
  display: none;
    
}

/* Show the checkmark when checked */
.check-box-membership input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-box-membership .checkmark:after {
 
    left: 0;
    top: 0;
    background: url(../../../images/ignite/verified.svg) no-repeat center center;
	background-size:80% auto;
    width: 100%;
    height: 100%;
}
.my-membership-plan-section .inner-div {
	/*max-width: 800px;*/
	margin: 60px auto
}
.membership-box {
	max-width: 300px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	margin-bottom: 30px;
}
.membership-box .b1 {
	background: #76421b;
	padding: 0;
	border-top: 3px solid #76421b;
	border-right: 5px solid #76421b;
	border-left: 5px solid #76421b;
	border-bottom: 2px solid #76421b;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
.membership-box .b2 {
	background: #b57f44;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	padding: 10px 15px;
	-webkit-box-shadow: inset 0 0px 1px 1px #f7e38f;
	-moz-box-shadow: inset 0 0px 1px 1px #f7e38f;
	box-shadow: inset 0 0px 1px 1px #f7e38f;
}
.membership-box .b3 {
	background-color: #f7e38f;
	background-image: url(../../../images/ignite/box@2x.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0px -1px 0px 2px #53290f;
	-moz-box-shadow: 0px -1px 0px 2px #53290f;
	box-shadow: 0px -1px 0px 2px #53290f;
}
.membership-box .title-box {
	width: 70%;
	margin: 0 auto;
	margin-bottom: -20px;
	position: relative;
	z-index: 55
}
.membership-box .title-box .b1 {
	border: 1px solid #76421b;
}
.membership-box .title-box .b2 {
	padding: 5px 7px;
}
.membership-box .title-box .b3 {
	min-height: 35px;
	background: #76431b;
	box-shadow: none;
	border: 2px solid #53290f;
	color: #fff;
	font-size: 14px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	text-align: center;
	line-height: 35px;
}
.membership-box h2 {
	font-size: 17px;
	color: #2c2c2c;
}
.membership-box .inner-content {
	padding: 30px 15px;
	padding-bottom: 10px;
	/*min-height: 175px;*/
	min-height: 253px;
}
.membership-box h1 {
	font-size: 24px;
	color: #2c2c2c;
	padding-bottom: 25px;
}
.my-membership-plan-section .bottom-btn {
	margin-top: 30px;
}
.my-membership-plan-section .bottom-btn h2{
	margin:20px 0; 
	font-size:24px;
}
.my-membership-plan-section .bottom-btn .btn {
	min-width: 160px;
}
/*Member Ship CSS End*/


/* The switch - the box around the slider */
.switch-btn .switch {
	position: relative;
	display: block;
	width: 28px;
	height: 16px;
	margin: 0 10px;
}
/* Hide default HTML checkbox */
.switch-btn .switch input {
	display: none;
}
/* The slider */
.switch-btn .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 2px solid #f17598;
	-webkit-transition: .4s;
	transition: .4s;
}
.switch-btn .slider:before {
	position: absolute;
	content: "";
	height: 9px;
	width: 9px;
	left: 2px;
	bottom: 2px;
	background-color: #f17598;
	-webkit-transition: .4s;
	transition: .4s;
}
.switch-btn input:checked + .slider {
	background-color: #fff;
}
.switch-btn input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
.switch-btn input:checked + .slider:before {
	-webkit-transform: translateX(11px);
	-ms-transform: translateX(11px);
	transform: translateX(11px);
}
/* Rounded sliders */
.switch-btn .slider.round {
	border-radius: 34px;
}
.switch-btn .slider.round:before {
	border-radius: 50%;
}
.switch-btn label {
	margin-bottom: 0
}
/*My downloads CSS Start*/
.my-downloads-section h4 {
	font-size: 14px;
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
	margin-bottom: 45px;
}
.my-downloads-section .overlap-btn {
	display: table;
	z-index: 55
}
.my-downloads-section .overlap-btn .delay-pay-icon {
	display: table-cell;
	vertical-align: middle;
	font-size: 0
}
.my-downloads-section .overlap-btn .delay-pay-icon a {
	display: inline-block;
	margin: 0 20px;
}
.my-downloads-section .bottom-content {
	height: auto;
	padding-bottom: 0
}
.my-downloads-section .bottom-content table {
	border-top: 1px solid #d8d8d8
}
.my-downloads-section .bottom-content table td {
	padding-top: 12px;
	vertical-align: middle;
}
.my-downloads-section .bottom-content table img {
	margin-right: 6px;
}
.my-downloads-section .bottom-content .min-h {
	min-height: 40px;
}
/*My downloads CSS End*/


/*My performance CSS Start*/
.my-performance-section .inner-div {
	max-width: 800px;
	margin: 0 auto
}
.my-performance-section .membership-box {
	width: 95%;
	margin: 0 auto;
	margin-bottom: 20px;
}
.my-performance-section .membership-box h2 {
	font-size: 20px;
}
.my-performance-section .membership-box h1 {
	font-size: 48px;
}
.my-performance-section .membership-box .inner-content {
	min-height: 120px;
}
.my-performance-section .tabs-div {
	font-size: 0
}
.my-performance-section .tabs-div .btn {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), inset 0 4px 3px 0 rgba(180, 97, 0, 0.1);
	background-color: #f4f4f4;
	margin: 0 20px;
	padding-left: 30px;
	padding-right: 30px;
}
.my-performance-section .tabs-div .btn:after {
	display: none
}
.my-performance-section .tabs-div .btn.active {
	background: #f17598;
	color: #fff;
}
.my-performance-section .bottom-content {
	height: auto;
	padding-bottom: 1px;
}
.my-performance-section .bottom-content .h40 {
	height: 30px;
	overflow: hidden
}
.my-performance-section .bottom-content .info-div {
	border-top: 1px solid #d8d8d8;
	padding-top: 12px;
}
.my-performance-section .bottom-content table td {
	padding: 4px 0;
	vertical-align: middle;
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
}
.my-performance-section .bottom-content table td .fa {
	font-size: 18px;
}
/*My performance CSS END*/


/*Linked Accounts CSS Start*/
.linked-accounts-section .left-div {
	max-width: 353px;
	border: solid 1px #d0d0d0;
	padding: 40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center
}
.linked-accounts-section .left-div h3 {
	font-size: 20px;
	margin-bottom: 30px;
}
.linked-accounts-section .left-div h2 {
	font-size: 36px;
}
.linked-accounts-section .right-div {
	border-left: 1px solid #d0d0d0;
	padding: 22px 0;
	margin-left: 5px;
	padding-left: 31px;
}
.linked-users-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: center;
	margin-bottom: 25px;
}
.linked-users-list li {
	display: inline-block;
	vertical-align: top;
	width: 64px;
	height: 64px;
	margin-right: 30px;
	margin-bottom: 15px;
}
.linked-users-list li .img-div {
	position: relative;
	height: 100%;
	width: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-color: #e9e9e9;
	background-repeat: no-repeat
}
.linked-accounts-section .inner-div {
	max-width: 900px;
	margin: 60px auto;
}
.linked-accounts-section .right-div .btn {
	padding-left: 25px;
	padding-right: 25px;
}
.linked-new-accounts-section .white-block {
	padding-top: 40px;
}
.linked-new-accounts-section .inner-div {
	margin: 50px 0;
}
.linked-new-accounts-section h3 {
	font-size: 20px;
	text-align: center;
	margin-bottom: 30px;
}
.linked-new-accounts-section .QR-code-img {
	margin-bottom: 40px;
}
.linked-new-accounts-section .border-right {
	border-right: 1px solid #d0d0d0;
}
.linked-new-accounts-section .right-div {
	padding-top: 25px;
}
.linked-new-accounts-section .left-div .btn {
	min-width: 132px;
}
.linked-new-accounts-section .right-div .btn {
	border: 1px dashed #f17598;
	height: 50px;
	width: 185px;
	color: #f17598;
	line-height: 32px;
	margin-top: 20px;
}
/*Linked Accounts CSS END*/

.change-password-section .form-div {
	max-width: 362px;
	margin: 60px auto 40px auto
}
.change-password-section .update-btn {
	margin-top: 80px;
}
.change-password-section .update-btn .btn {
	min-width: 112px;
}
/*Table Listing CSS start*/
.table-div {
	border: 1px solid #cdcdcd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow: auto
}
.table-div table {
	margin: 0;
	min-width: 800px;
}
.table-div table thead tr th {
	background: #fbfbfb;
	padding: 5px 20px !important;
	height: 70px;
	vertical-align: middle;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.table-div table tbody tr td {
	height: 50px;
	vertical-align: middle;
	font-size: 12px;
	padding: 5px 20px !important;
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
}
.table-div table td .btn {
	height: 23px;
	box-shadow: none;
	background: #ccc;
	font-size: 12px;
	padding: 3px;
	line-height: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
}
.table-div table td .btn.success {
	background: rgba(126,211,33,0.2);
	color: #7ed321
}
.table-div table td .btn.failed {
	background: rgba(226,41,13,0.2);
	color: #e2290d
}
/*Table Listing CSS END*/

/*Quiz CSS start*/
.quiz-head-div .button-lr-div .number {
	width: 60px;
	height: 60px;
	background: #fff;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	display: block;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	text-align: center;
	line-height: 60px;
	font-family: GothamRounded;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 20px;
}
.quiz-head-div .button-lr-div .mid {
	text-align: center;
	font-size: 14px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.quiz-head-div .page-title {
	margin-bottom: 0
}
.quiz-head-div .list-number {
	margin: 30px 0;
	padding: 0;
	list-style: none;
	text-align: center;
	line-height: 40px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 0
}
.quiz-head-div .list-number li {
	display: inline-block;
	padding: 0 10px;
	margin:3px 0;
}
.quiz-head-div .list-number .no-div {
	width: 42px;
	height: 42px;
	display: block;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 1px solid #7c7c7c;
	font-size: 14px;
	background-color: #d8d8d8;
	background-image: url(../../../images/ignite/path-2-copy-2.svg);
	background-repeat: no-repeat;
	background-size: 16px auto;
	background-position: 20px 1px;
	-webkit-box-shadow: inset 0 -4px 0 #bdbdbd;
	-moz-box-shadow: inset 0 -4px 0 #bdbdbd;
	box-shadow: inset 0 -4px 0 #bdbdbd;
}
.quiz-head-div .list-number .no-div.red {
	color: #fff;
	background-color: #f34a16;
	-webkit-box-shadow: inset 0 -4px 0 #fa693c;
	-moz-box-shadow: inset 0 -4px 0 #fa693c;
	box-shadow: inset 0 -4px 0 #fa693c;
}
.quiz-head-div .list-number .no-div.green {
	color: #fff;
	background-color: #52b421;
	-webkit-box-shadow: inset 0 -4px 0 #69cd36;
	-moz-box-shadow: inset 0 -4px 0 #69cd36;
	box-shadow: inset 0 -4px 0 #69cd36;
}
.quiz-head-div .list-number .no-div.blue {
	color: #fff;
	background-color: #1b71dc;
	-webkit-box-shadow: inset 0 -4px 0 #4694f4;
	-moz-box-shadow: inset 0 -4px 0 #4694f4;
	box-shadow: inset 0 -4px 0 #4694f4;
}
/* Customize the label (the q-custon-checkbox) */
.q-custon-checkbox {
	display: block;
	position: relative;
	padding-left: 0;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	color: #2c2c2c;
	line-height: 52px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	max-width: 260px;
	margin: 0 auto;
	margin-bottom: 20px;
}
/* Hide the browser's default checkbox */
.q-custon-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
/* Create a custom checkbox */
.q-custon-checkbox .checkmark {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background-color: #d8d8d8;
	-webkit-box-shadow: inset -5px -6px 0 rgba(0,0,0,0.05);
	-moz-box-shadow: inset -5px -6px 0 rgba(0,0,0,0.05);
	box-shadow: inset -5px -6px 0 rgba(0,0,0,0.05);
	height: 52px;
	display: block;
}
.q-custon-checkbox .text {
	position: relative;
	z-index: 5
}
/* On mouse-over, add a grey background color */
.q-custon-checkbox:hover input ~ .checkmark {
	background-color: #d8d8d8;
}
/* When the checkbox is checked, add a blue background */
.q-custon-checkbox input:checked ~ .checkmark {
	background-color: #52b421;
}
.q-custon-checkbox.cancle-btn input:checked ~ .checkmark {
	background-color: #f34a16;
}
/* Create the checkmark/indicator (hidden when not checked) */
.q-custon-checkbox .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
.q-custon-checkbox input:checked ~ .checkmark:after {
	display: block;
}
.q-custon-checkbox input:checked ~ .checkmark .text {
	color: #fff;
}
/* Style the checkmark/indicator */
.q-custon-checkbox .checkmark:after {
	left: 9px;
	top: 9px;
	background: url(../../../images/ignite/verified.svg) no-repeat center center;
	width: 32px;
	height: 32px;
}
.q-custon-checkbox.cancle-btn .checkmark:after {
	background: url(../../../images/ignite/cancel-button.svg) no-repeat center center;
}
.question-one .inner-div {
	max-width: 700px;
	margin: 50px auto 0 auto;
}
.question-two .inner-div {
	max-width: 800px;
	margin: 50px auto 0 auto;
}
.question-three .inner-div {
	max-width: 400px;
	margin: 50px auto 0 auto;
}
.question-three table td {
	vertical-align: middle !important
}
.sm-check-btn .q-custon-checkbox {
	margin-bottom: 30px;
}
.sm-check-btn .q-custon-checkbox .checkmark {
	width: 30px;
	height: 30px;
	margin: 15px auto;
	box-shadow: none !important
}
.sm-check-btn .q-custon-checkbox .checkmark:after {
	background-size: 70% auto !important;
	left: -1px;
	top: -1px;
	background-position: center !important
}
.sm-check-play-btn .q-custon-checkbox {
	margin-bottom: 0;
}
.sm-check-play-btn .q-custon-checkbox .checkmark {
	width: 30px;
	height: 30px;
	margin: 15px auto;
	box-shadow: none !important
}
.sm-check-play-btn .q-custon-checkbox .checkmark:after {
	background-size: 70% auto !important;
	left: -3px;
	top: -3px;
	background-position: center !important
}
.sm-check-play-btn table td {
	vertical-align: middle !important
}
.sm-check-play-btn .q-custon-checkbox .checkmark {
	background: none;
	border: 2px solid #979797
}
.sm-check-play-btn .q-custon-checkbox input:checked ~ .checkmark {
	border-color: #52b421;
}
.sm-check-play-btn .q-custon-checkbox.cancle-btn input:checked ~ .checkmark {
	border-color: #f34a16;
}
.question-four .inner-div {
	max-width: 800px;
	margin: 50px auto 0 auto;
}
.question-four .right-first .q-custon-checkbox {
	margin-left: 0;
	margin-top: 50px;
}
/*Quiz CSS End*/



/*Quiz Result CSS start*/
 
.quiz-result-section .quiz-head-div .button-lr-div {
	margin-bottom: 50px;
	margin-top: 25px;
}
.quiz-result-section .membership-box .inner-div {
	height: 200px;
	display: table;
	width: 100%;
}
.quiz-result-section .membership-box .inner-div h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size:48px;
	padding:10px;
}
.quiz-result-section .membership-box{max-width:250px;}
.quiz-result-section .score-bord-div{
	max-width:650px;
	margin:0 auto;
	
}
.quiz-result-section .score-bord-div .btn{margin-top:130px; padding-left:20px; padding-right:20px;}
.previous-attempts-div {
	color:#2c2c2c;
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
	font-size:14px;
	margin:30px 0;
}
.previous-attempts-div .text{display:inline-block; vertical-align:middle; margin-right:15px;}
.previous-attempts-div ul{
	margin:0 -8px;
	padding:0;
	list-style:none;
	display:inline-block;
	font-size:0;
}
.previous-attempts-div ul li{
	display:inline-block; 
	padding:0 8px;
}
.previous-attempts-div ul li a{
	display:block;
	font-size:14px;
	border:1px solid #1b71dc;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
	color:#1b71dc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration:none
}
.previous-attempts-div ul li.green a{
	border-color:#52b421;
	color:#52b421;
}
.previous-attempts-div ul li.red a{
	border-color:#f34a16;
	color:#f34a16;
}
/*Quiz Result CSS End*/
.second-header-menu {
	background:rgba(255, 187, 210, 0.5);
	padding: 20px 0;
	box-shadow: 0 10px 20px rgba(255, 187, 210, 0.2);
	background-repeat: repeat-x;
	margin-bottom: 40px;
}
.second-header-menu ul.menu-sm {
	margin: 0 -10px;
	padding: 0;
	list-style: none;
	font-size: 0;
	margin-top: 3px;
}
.second-header-menu ul.menu-sm li {
	display: inline-block;
	margin: 2px 10px;
	vertical-align:top;
}
.second-header-menu ul.menu-sm li a {
	font-size: 12px;
	background: #ffbbd2;
	text-align: center;
	padding: 8px 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	color: #141414;
	text-decoration: none;
	height: 34px;
	display: block;
}
.second-header-menu ul.menu-sm li.active a, .second-header-menu ul.menu-sm li:hover a {
	background: #f17598;
	color: #fff;
}
/*My Team CSS Start*/
 
.my-team-section .page-title {
	margin-bottom: 0;
	padding: 10px 0;
}
.my-team-section .head-div {
	margin-bottom: 20px;
}
.my-team-section .head-div .btn{padding-left:20px; padding-right:20px;}
.my-team-section .block-div {
	padding: 20px;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	-webkit-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
	border: solid 1px #d0d0d0;
	margin-bottom:20px;
}
.my-team-section .block-div h4 {
	color: #f17598;
	font-size: 16px;
}
.my-team-section .block-div ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	margin-top: 10px;
}
.my-team-section .block-div ul li {
	display: inline-block;
	font-size: 14px;
	width: 50%;
	padding: 3px 0;
	vertical-align:top;
}
.my-team-section .block-div .right-btn {
	text-align: right;
	font-size: 0;
}
.my-team-section .block-div .btn {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 35px;
	margin-left: 10px;
}
.my-team-section .block-div a{
color:#f17598
}	
	
.my-team-pupup .btn{
	padding-left:20px;
	padding-right:20px;
}	
	
	
	
	
  /*My Team CSS End*/

/*footer*/
footer {
	margin-top: 70px;
}
.footer-bg-repeat {
	background: url(../../../images/ignite/footer-bg.png) repeat-x;
	height: 110px;
}
.main-footer {
	background: url(../../../images/ignite/footer-repeat-bg.png) repeat;
	padding: 50px 0;
	font-size: 16px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.main-footer h3 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 16px;
	margin: 0;
	margin-bottom: 25px;
	color: #323232;
}
.main-footer ul {
	margin: 0;
	padding: 0;
	list-style: none
}
.main-footer ul li a {
	color: #323232;
	text-decoration: none;
	font-size: 14px;
	padding: 5px 0;
	display: block;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.footer-logo {
	margin-bottom: 25px;
}
.main-footer .bottom-div a {
	color: #8a75d0;
	text-decoration: none;
}
.main-footer .l-link a{
	color:#f17598;
	text-decoration:none
}
.main-footer .bottom-div .copy {
	font-size: 30px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
} 
.main-footer .h-div {
	height: 230px;
}
/*footer End*/

.tabs-div.col-2 .btn{
	width:90%;
	margin:0 auto;
}
.header-for-inner-page {
	margin-bottom: 20px;
}
.header-for-inner-page .right-div {
	text-align: right;
	font-size: 0;
	margin-top: 20px;
}
.header-for-inner-page .right-div .btn {
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 25px;
}
/*Earnings Page css Start*/
.earnings-div .head-year {
	max-width: 300px;
	margin: 40px auto;
}
.earnings-div .head-year label {
	padding-top: 8px;
}
.earnings-div table tbody td, .earnings-div table thead th {
	text-align: center;
}
.earnings-div table tfoot tr {
	background: rgba(255, 187, 210, 0.2);
}
.earnings-div table tfoot td {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.earnings-div .container {
	max-width: 1400px;
}
/*Earnings Page css End*/

/*LP Page css Started */

.main_nav .navbar-brand {
	padding: 0;
	height: auto;
	min-height: inherit;
	margin-right: 80px;
}
.main_nav .navbar-default {
	border: none;
	box-shadow: none;
	background: none
}
.main_nav .navbar {
	margin: 0;
	min-height: inherit;
}
.main_nav .navbar-nav {
	margin-top: 27px;
}
.main_nav .nav > li {
	margin-right: 10px;
}
.main_nav .nav > li > a {
	padding: 5px 20px;
	background: none;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	outline: none;
	color: #2c2c2c;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.main_nav .navbar-default .navbar-nav > .active > a, .main_nav .nav > li > a:hover {
	color: #fff;
	box-shadow: none;
	background: #f17598;
}
.top-right-language {
	margin-top: 16px;
	font-size: 0;
	text-align: right
}
.top-right-language .btn {
	margin-left: 20px;
	min-width: 100px;
}
 
body.home-page #main {
	padding: 0
}
body.home-page footer{
	position:relative;
	z-index:5
}
.welcome-section {
	background: url(../../../images/cloud-img.png) no-repeat #b5e5f7 center 180px;
	padding: 90px 0;
	padding-bottom: 0;
}
.welcome-section .head-div {
	text-align: left;
	max-width: 680;
	margin: 0 auto;
	margin-bottom: 10px;
}
.welcome-section .head-div h2 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 36px;
	text-align: center;
	color: #ffffff;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
	margin-bottom:25px;
}
.welcome-section .head-div .inner-div{
	max-width: 620px;
	margin: 0 auto;
}
.welcome-section .head-div  .btn.downlaod{padding-left:25px; padding-right:25px;}
.welcome-section .head-div table .btn {
	width: 190px;
	height: 100px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	color: #fff;
	position:relative;
	border:5px solid #fff;
}
.welcome-section .head-div table .btn span{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background-size:cover;
	display:block;
	z-index:1;
	background-position:center center;
}
.welcome-section .head-div table .btn .fa:after {
    background: #000;
    content: "";
    width: 13px;
    height: 14px;
    position: absolute;
    left: 7px;
    z-index: -1;
    top: 9px;
}
.why-should-kids-come {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a6deef+0,00a89c+100 */
	background:url(../../../images/bg-repeat-ignite.png) repeat-x left top;
	background-size:auto 100%;
	padding: 150px 0;
	padding-top: 0;
}
.why-should-kids-come .inner-div {
	max-width: 900px;
	margin: 0 auto;
	margin-top: -200px;
	margin-bottom: 100px;
	text-align: center;
}
.why-should-kids-come .inner-div h2 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #ffffff;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
	margin-bottom: 40px;
}
.why-should-kids-come .hw-box1 {
	background: #fff;
	text-align: center;
	font-size: 14px;
	line-height: 15px;
	display: table;
	width: 100%;
	height: 324px;
	border: 1px solid #f17598;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.why-should-kids-come .hw-box1>div {
	display: table-cell;
	vertical-align: middle;
	padding: 20px 30px;
}
.why-should-kids-come .hw-box1 h3 {
	margin: 20px 0;
	color: #f17598;
	font-size: 18px;
}
.buzz-english-heading {
	text-align: center;
	color: #fff;
	max-width: 680px;
	margin: 0 auto;
}
.buzz-english-heading h2 {
	font-size: 24px;
	color: #fff;
	margin-bottom: 20px;
	/*text-transform: uppercase;*/
}
.buzz-english-heading h3 {
	font-size: 20px;
	color: #fff;
}
.buzz-english-section {
	background: url(../../../images/h-bg2.png) no-repeat center top #9ac149;
	background-size:100% auto;
	position:relative;
	margin-bottom:-180px;
}
.buzz-english-section .box-be {
	height: 411px;
	max-width: 276px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center bottom;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
	margin:0 auto;
	margin-bottom:50px;
}
.buzz-english-section .box-be .content {
	padding: 67px 40px;
	color: #fff;
	text-align: center
}
.buzz-english-section .box-be h3 {
	font-size: 24px;
	margin-bottom: 10px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
	text-transform: uppercase;
}
.buzz-english-section .inner-div {
	margin-top: -100px;
}
.buzz-english-section .bottom-box {
	max-width:1000px;
	margin: 0 auto;
	margin-top: 200px;
	margin-bottom:150px;
}
.buzz-english-section .box-bn2 {
	background: url(../../../images/box-bg.svg) no-repeat center;
	background-size: 100% 100%;
	height: 372px;
	max-width: 413px;
	text-align: center;
	padding: 50px;
	font-size: 18px;
	position: relative;
	margin:0 auto;
	margin-bottom:60px;
}
.buzz-english-section .box-bn2 h2 {
	position: absolute;
	left: 0;
	width: 100%;
	top: -25px;
	color: #ffffff;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
	text-transform: uppercase;
}
.buzz-english-section .box-bn2 .icon-div {
	padding: 15px 0 0 0;
	min-height: 190px;
}
.buzz-english-section .box-bn2 h2 span {
	background: url(../../../images/title-bg1.svg) no-repeat;
	background-size: 100% 100%;
	width: 239px;
	display: block;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
	font-size: 36px;
	line-height: 36px;
	height: 64px;
	margin: 0 auto;
	padding: 5px 20px;
	padding-top: 10px;
}
.buzz-english-section .box-bn2.b2 h2 span {
	background: url(../../../images/title-bg.svg) no-repeat;
	width: 327px;
	height: 77px;
	padding-top: 15px;
	background-size: 100% 100%;
}
 
.buzz-english-section .learning-methodology{
	margin-bottom:150px;
}
.buzz-english-section .learning-methodology .box-bn2 {
	display:table;
}
.buzz-english-section .learning-methodology .title-h3{
	text-align:center;
	color:#fff;
	font-size:30px;
	margin-bottom:100px;
}
.buzz-english-section .learning-methodology .box-bn2 .dis-text{
	display:table-cell;
	vertical-align:middle
}
 
/*LP Page css End*/


.quiz-scroll-to-fix{
	left:0;
	top:0;
	position:relative;
	z-index:999;
	width:100%;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;

}
.quiz-scroll-to-fix.affix{
	position:fixed;
}
.quiz-scroll-to-fix .white-block{
	border-bottom:1px solid #ccc;
	box-shadow:0 0 20px rgba(0,0,0,0.1);
}
 
.quiz-scroll-to-fix.affix+.quiz-bottom-section{
	margin-top:490px;
}



.welcome-section .lesson-videos-feature{
	max-width: 750px;
	margin: 0 auto;
	padding: 35px 0 0 0; 
	position: relative;
	z-index: 33
}
.welcome-section .globe-div img{
	margin-top: -60px;
}
.welcome-section .lesson-videos-feature h3{
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 25px;
	
}
.welcome-section .lesson-videos-feature ul{
	margin: 0;
	padding: 0;
	list-style: none;
	
}
.welcome-section .lesson-videos-feature ul li {
	position: relative;
	padding-left: 50px;
	min-height: 45px;
	font-size: 12px;
	color: #000;
	margin-bottom: 5px;
}
.welcome-section .lesson-videos-feature .icon-div{
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0;
	top: 0;
	background: #f17598;
	
	  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	
		-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
.welcome-section .head-div table .btn {
	max-width:250px;
	margin: 0 auto;
	display: block;
	height: 130px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	color: #f17598;
	position:relative;
	border:5px solid #fff;
}
.welcome-section .head-div .left-content{
	padding-top: 15px;
}
.welcome-section .head-div table .btn span{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background-size:cover;
	display:block;
	z-index:1;
	background-position:center center;
}
.welcome-section .head-div table .btn .fa {
	font-size: 32px;
	margin-top: 37px;
	position:relative;
	z-index:55
}
.why-should-kids-come {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a6deef+0,00a89c+100 */
	background: url(../../../images/bg-repeat-ignite.png) repeat-x left top;
	background-size: auto 100%;
	padding: 150px 0;
	padding-top: 0;
}
.why-should-kids-come .inner-div {
	max-width: 900px;
	margin: 0 auto;
	margin-top: -200px;
	margin-bottom: 100px;
	text-align: center;
}
.why-should-kids-come .inner-div h2 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #ffffff;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
	margin-bottom: 40px;
}
.why-should-kids-come .hw-box1 {
	background: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 15px;
	display: table;
	width: 100%;
	height: 324px;
	border: 1px solid #f17598;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.why-should-kids-come .hw-box1>div {
	display: table-cell;
	vertical-align: middle;
	padding: 20px 30px;
}
.why-should-kids-come .hw-box1 h3 {
	margin: 20px 0;
	color: #f17598;
	font-size: 18px;
}
.buzz-english-heading {
	text-align: center;
	color: #fff;
	max-width: 680px;
	margin: 0 auto;
}
.buzz-english-heading h2 {
	font-size: 24px;
	color: #fff;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.buzz-english-heading h3 {
	font-size: 20px;
	color: #fff;
}
.buzz-english-section {
	background: url(../../../images/h-bg2.png) no-repeat center top #9ac149;
	background-size: 100% auto;
	position: relative;
	margin-bottom: -180px;
}
.buzz-english-section .box-be {
	height: 411px;
	max-width: 276px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center bottom;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
	margin: 0 auto;
	margin-bottom: 50px;
}
.buzz-english-section .box-be .content {
	padding: 67px 40px;
	color: #fff;
	text-align: center
}
.buzz-english-section .box-be h3 {
	font-size: 24px;
	margin-bottom: 10px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
	text-transform: uppercase;
}
.buzz-english-section .inner-div {
	margin-top: -100px;
}
.buzz-english-section .bottom-box {
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 200px;
	margin-bottom: 20px;
}
.buzz-english-section .box-bn2 {
	background: url(../../../images/box-bg.svg) no-repeat center;
	background-size: 100% 100%;
	height: 372px;
	max-width: 413px;
	text-align: center;
	padding: 50px;
	font-size: 18px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 60px;
}
.buzz-english-section .box-bn2 h2 {
	position: absolute;
	left: 0;
	width: 100%;
	top: -25px;
	color: #ffffff;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
	text-transform: uppercase;
}
.buzz-english-section .box-bn2 .icon-div {
	padding: 15px 0 0 0;
	min-height: 190px;
}
.buzz-english-section .box-bn2 h2 span {
	background: url(../../../images/title-bg1.svg) no-repeat;
	background-size: 100% 100%;
	width: 239px;
	display: block;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
	font-size: 36px;
	line-height: 36px;
	height: 64px;
	margin: 0 auto;
	padding: 5px 20px;
	padding-top: 10px;
}
.buzz-english-section .box-bn2.b2 h2 span {
	background: url(../../../images/title-bg.svg) no-repeat;
	width: 327px;
	height: 77px;
	padding-top: 15px;
	background-size: 100% 100%;
}

.buzz-english-section .learning-methodology{
	margin-bottom:150px;
}
.buzz-english-section .learning-methodology .box-bn2 {
	display:table;
}
.buzz-english-section .learning-methodology .title-h3{
	text-align:center;
	color:#fff;
	font-size:30px;
	margin-bottom:100px;
}
.buzz-english-section .learning-methodology .box-bn2 .dis-text{
	display:table-cell;
	vertical-align:middle
}

/*LP Page css End*/


.quiz-scroll-to-fix {
	left: 0;
	top: 0;
	position: relative;
	z-index: 999;
	width: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.quiz-scroll-to-fix.affix {
	position: fixed;
}
.quiz-scroll-to-fix .white-block {
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.quiz-scroll-to-fix.affix+.quiz-bottom-section {
	margin-top: 490px;
}


