body {
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #000000;
	background-color: #eefae8;
}
 
a {
	color: #3e6927;
	outline: none
}
a:hover {
	color: #2e5c16;
}
.btn {
	outline: none
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #454545;
}
html, body {
	min-height: 100%;
	width: 100%;
	height: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
.m20 {
	margin-bottom: 20px;
}
.container {
	max-width: 1260px;
	width: 100%;
}
.body-div {
	overflow: hidden;
	min-height: 100%;
}
/*Button css Start*/
.uppercase {
	text-transform: uppercase;
}
.btn:focus {
	box-shadow: none !important;
}
.btn {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	height: 35px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	outline: none !important;
	padding-left: 25px;
	padding-right: 25px;
}
.btn.btn-sm {
	height: 32px;
	line-height: 20px;
	font-size: 14px;
}
.btn-dark-gray {
	background: #636262 !important;
	color: #fff !important;
}
.btn-dark-gray:hover {
	background: #544c4c !important;
	color: #fff !important;
}
.btn-green {
	background: #8edd65 !important;
	color: #fff !important;
}
.btn-green:hover {
	background: #76c34e !important;
	color: #fff !important;
}
.btn-white {
	background: #ffffff !important;
	color: #8edd65 !important;
}
.btn-white:hover {
	background: #ffffff !important;
	color: #8edd65 !important;
}
.btn-red {
	background: #f44b4b !important;
	color: #fff !important;
}
.btn-red:hover {
	background: #f44b4b !important;
	color: #fff !important;
}
/*Button css END*/


.second-header-menu {
	background: rgba(255, 187, 210, 0.5);
	padding: 20px 0;
	box-shadow: 0 10px 20px rgba(255, 187, 210, 0.2);
	background-repeat: repeat-x;
	margin-bottom: 40px;
}
.second-header-menu ul.menu-sm {
	margin: 0 -10px;
	padding: 0;
	list-style: none;
	font-size: 0;
	margin-top: 3px;
}
.second-header-menu ul.menu-sm li {
	display: inline-block;
	margin: 2px 10px;
	vertical-align: top;
}
.second-header-menu ul.menu-sm li a {
	font-size: 12px;
	background: #ffbbd2;
	text-align: center;
	padding: 8px 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	color: #141414;
	text-decoration: none;
	height: 34px;
	display: block;
}
.second-header-menu ul.menu-sm li.active a, .second-header-menu ul.menu-sm li:hover a {
	background: #141414;
	color: #fff;
}
.page-title {
	font-size: 20px;
	color: #2c2c2c;
	margin-bottom: 30px;
}
.custom-select-dropdown {
	display: block
}
.custom-select-dropdown select {
	-webkit-box-shadow: none;
	appearance: none;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
}
.custom-select-dropdown {
	position: relative;
}
.custom-select-dropdown:after {
	content: "";
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -2px;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 6px dashed;
	border-top: 6px solid\9;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	color: #e6e6e6;
}
.custom-select-dropdown:before{
	content: "";
	position: absolute;
	right: 40px;
	top: 6px;
	background: #e6e6e6;
	width: 1px;
	height: 70%;
	display: block;
}
.custom-select-dropdown select::-ms-expand {
 /* IE 8 */
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 /* IE 5-7 */
 filter: alpha(opacity=0);
 /* Good browsers :) */
 opacity:0;
}
.form-control {
	height: 39px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #141414;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: none;
	border: solid 1px #e3e3e3;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #141414;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #141414;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
 color: #141414;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
 color: #141414;
}
.form-control:-moz-placeholder { /* Firefox 18- */
 color: #141414;
}
.display-table {
	display: table;
	width: 100%;
}
.display-table .table-cell {
	display: table-cell;
	vertical-align: middle;
	float: none
}
.display-table .table-cell.vTop{
	vertical-align: top;
} 
.title-section {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 18px;
	letter-spacing: 2.1px;
	color: #6e6e6e;
	margin-bottom: 30px;
}

#main {
	padding: 45px 0; 
}
/*Header Css   */

header {
	background: #fff;
	padding: 15px 0;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
}
header .h-mid {
	letter-spacing: 2.3px;
	color: #6e6e6e;
	font-size: 20px;
	line-height: 50px;
}
.dropdown.head-right-dropdown {
	float: right;
	width: 200px;
	margin-top: 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.dropdown.head-right-dropdown button {
	display: block;
	width: 100%;
	background: none;
	border: none;
	color: #141414;
	outline: none;
}
.dropdown.head-right-dropdown button img{
	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
	border-radius: 85px;
	width: 45px;
	height: 45px;
}
.dropdown.head-right-dropdown .caret {
	margin-left: 15px;
	border-top: 6px solid #d8d8d8;
	border-right: 6px solid transparent;
	border-bottom: 0 dotted;
	border-left: 6px solid transparent;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.dropdown.head-right-dropdown.open .caret {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.dropdown.head-right-dropdown .dropdown-menu {
	margin: 0;
	min-width: 200px;
	padding: 0;
	margin-top: 22px;
	border-color: #eeeeee;
	-webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.09);
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.09);
}
.dropdown.head-right-dropdown .dropdown-menu li {
	border-bottom: 1px solid #eeeeee;
}
.dropdown.head-right-dropdown .dropdown-menu li a {
	color: #141414;
	padding: 10px 20px;
	font-size: 12px;
	border-left: 3px solid #fff;
	position: relative
}
.dropdown.head-right-dropdown .dropdown-menu li.active a, .dropdown.head-right-dropdown .dropdown-menu li:hover a {
	background: #eeeeee;
	border-color: #141414;
}
.dropdown.head-right-dropdown .dropdown-menu li.language {
	padding: 10px 20px;
}
.dropdown.head-right-dropdown .dropdown-menu li.language span {
	display: inline-block;
	vertical-align: middle;
	color: #cfcfcf;
	font-size: 12px;
}
.dropdown.head-right-dropdown .dropdown-menu li.language span.active {
	color: #141414
}
.dropdown.head-right-dropdown .switch-btn {
	display: inline-block;
	vertical-align: middle
}
.dropdown.head-right-dropdown .dropdown-menu > li > a:hover, .dropdown.head-right-dropdown .dropdown-menu > li > a:focus {
	background: #eeeeee;
	border-color: #141414;
}
.dropdown.head-right-dropdown .alert-span {
	position: absolute;
	right: 10px;
	top: 8px;
	width: 20px;
	height: 20px;
	background-color: #141414;
	font-size: 10px;
	display: block;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
/*Header Css End */ 
 
/*Categories CSS Start*/
.head-search-box {
	max-width: 990px;
	margin: 0 auto;
	position: relative;
}
.head-search-box .form-control {
	border: solid 1px #d0d0d0;
	height: 50px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	font-size: 14px;
	padding-left: 70px;
}
.head-search-box .fa {
	color: #141414;
	position: absolute;
	left: 30px;
	top: 15px;
	font-size: 20px;
}
/*Categories CSS End*/

/*Tab CSS start*/
.tabs-div {
	padding: 20px 0;
	margin-bottom: 15px;
	font-size: 0;
}
.tabs-div .btn {
	text-transform: uppercase;
	position: relative;
	margin: 0 10px;
}
.tabs-div .btn.active {
	background-color: #636262 !important;
	color: #fff !important;
}
/*Tab CSS END*/
 

/* The switch - the box around the slider */
.switch-btn .switch {
	position: relative;
	display: block;
	width: 28px;
	height: 16px;
	margin: 0 10px;
}
/* Hide default HTML checkbox */
.switch-btn .switch input {
	display: none;
}
/* The slider */
.switch-btn .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 2px solid #141414;
	-webkit-transition: .4s;
	transition: .4s;
}
.switch-btn .slider:before {
	position: absolute;
	content: "";
	height: 9px;
	width: 9px;
	left: 2px;
	bottom: 2px;
	background-color: #141414;
	-webkit-transition: .4s;
	transition: .4s;
}
.switch-btn input:checked + .slider {
	background-color: #fff;
}
.switch-btn input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
.switch-btn input:checked + .slider:before {
	-webkit-transform: translateX(11px);
	-ms-transform: translateX(11px);
	transform: translateX(11px);
}
/* Rounded sliders */
.switch-btn .slider.round {
	border-radius: 34px;
}
.switch-btn .slider.round:before {
	border-radius: 50%;
}
.switch-btn label {
	margin-bottom: 0
}
/*Table Listing CSS start*/
.table-div {
	overflow: auto
}
.table-div table {
	margin: 0;
	width: 100%;
	min-width: 900px;
}
.table-div table thead tr th {
	padding: 5px 0!important;
	height: 50px;
	line-height: 22px;
	vertical-align: middle;
	font-size: 14px;
	color: #141414;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.table-div table tbody tr td {
	height: 40px;
	vertical-align: middle;
	font-size: 12px;
	padding: 5px 0!important;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.table-div table th div, .table-div table td div {
	border-style: solid;
	border-color: #e3e3e3;
	border-width: 1px 0;
	/* now, here you can add the margin */
	margin-bottom: 0;
	/* just some nice padding, you don't really need this */
	padding: 10px;
	height: 100%;
}
.table-div table th:first-child div, .table-div table td:first-child div {
	/* just side borders on first and last elements */
	border-left-width: 1px;
}
.table-div table th:last-child div, .table-div table td:last-child div {
	/* just side borders on first and last elements */
	border-right-width: 1px;
	position: relative;
}
.table-div table td .btn {
	height: 23px;
	box-shadow: none;
	background: #ccc;
	font-size: 12px;
	padding: 3px;
	line-height: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
}
.table-div table td .btn.success {
	background: rgba(126,211,33,0.2);
	color: #7ed321
}
.table-div table td .btn.failed {
	background: rgba(226,41,13,0.2);
	color: #e2290d
}
/*Table Listing CSS END*/
 

/*footer*/
footer {
	margin-top: 70px;
}
.footer-bg-repeat {
	background: url(../../../images/footer-bg.png) repeat-x;
	height: 110px;
}
.main-footer {
	background: url(../../../images/footer-repeat-bg.png) repeat;
	padding: 50px 0;
	font-size: 16px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.main-footer h3 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 16px;
	margin: 0;
	margin-bottom: 25px;
	color: #323232;
}
.main-footer ul {
	margin: 0;
	padding: 0;
	list-style: none
}
.main-footer ul li a {
	color: #323232;
	text-decoration: none;
	font-size: 14px;
	padding: 5px 0;
	display: block;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.footer-logo {
	margin-bottom: 25px;
}
.main-footer .bottom-div a {
	color: #8a75d0;
	text-decoration: none;
}
.main-footer .l-link a {
	color: #141414;
	text-decoration: none
}
.main-footer .bottom-div .copy {
	font-size: 30px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.main-footer .h-div {
	height: 230px;
}
.main-footer .sub-div {
	margin-top: 40px;
	margin-bottom: 35px;
	position: relative;
}
.main-footer .sub-div .btn {
	position: absolute;
	right: 5px;
	top: 2px;
	outline: none;
	color: #9b9b9b;
	height: 27px;
	background: none;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-left: 1px solid #dcd5f1;
	margin-top: 5px;
	padding: 0 12px;
	font-size: 20px;
}
.main-footer .sub-div .btn .fa {
	position: relative;
	top: -1px;
}
.main-footer .sub-div .form-control {
	border: 1px solid #c3edad;
	height: 40px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: none;
	padding-left: 20px;
	padding-right: 20px;
}
.main-footer .h-div {
	height: 230px;
}
.social-icon {
	margin-bottom: 25px;
}
.social-icon a {
	color: #c3edad;
	font-size: 18px;
	display: inline-block;
	margin: 0 10px 0 0;
}



/*footer End*/



/*White panel Start*/

.white-panel-div {
	padding: 20px;
	background: #fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 2px;
	color: #8d8d8d;
	font-size: 12px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif !important;
	font-weight: 500;
}
.white-panel-div p:last-child {
	margin-bottom: 0
}
.white-panel-div p {
	margin-bottom: 10px;
}
.white-panel-div.mb10 {
	margin-bottom: 10px;
}
.white-panel-div h5 {
	font-size: 14px;
	color: #141414;
	margin: 0;
	margin-bottom: 5px;
}
.page-heading {
	margin-bottom: 30px;
}
.page-heading h2 {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #6e6e6e;
	text-transform: uppercase;
}
/*White panel End*/


.top-right-btn{
	text-align: right;
	padding-top: 10px;
}
.home-header-banner{
	position: relative;
	background-position: center top;
	background-size: cover;
}
.home-header-banner .h-copy{
	min-height: 540px;
		color: #fff;
	font-size: 30px;
	 display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	    font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	
}
.home-header-banner:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}
.home-header-banner .h-copy h2{
	font-size: 50px;
	line-height: 60px;
	color: #fff;
	text-shadow: 0 5px 5px #333;
	margin: 0;
	margin-bottom: 40px;
	text-transform: uppercase;
}
.home-header-banner .container{
	position: relative;
	z-index: 9;
}
.home-header-banner .h-copy .btn{
	  font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-left: 3px;
}
.home-3-block-icon{
	padding: 100px 0;
	font-size: 18px;
	text-align: center;
	line-height: 24px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	
}
.home-3-block-icon p{
	line-height: 24px;
		font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.home-3-block-icon .icon-box {
	max-width: 300px;
	margin: 0 auto;
}
.home-3-block-icon .icon-box .icon-circle{
	width: 160px;
	height: 160px;
	border: 3px solid #8edd65;
	background: #fff;
	text-align: center;
	-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	margin:  0 auto;
	margin-bottom: 40px;
}

.testimonials-section {
	background: #fff;
	padding: 100px 0;
}
.testimonials-section h2{
	font-size: 30px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.testimonials-section .swiper-container {
	max-width: 980px;
	margin: 0 auto; 
	padding: 50px 0;
	padding-top: 0;
}
.testimonials-section .swiper-container .swiper-slide {
	padding: 0 25px;
}
.testimonials-section .swiper-container .content-div{
	background: #f8fdf6;
	padding:50px 35px;
	padding-bottom: 30px;
	  font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
	text-align: center;
	position: relative;
	
		
}
.testimonials-section .swiper-container .by-div{
	margin-top: 30px;
	font-size: 14px;
	margin-bottom: -50px;
}
.testimonials-section .swiper-container .by-div strong{
	font-size: 18px;
	 font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.testimonials-section .swiper-container .by-div img{
	margin-top: 20px;
	box-shadow: 0 10px 35px rgba(0,0,0,0.4);
}
.testimonials-section .swiper-container .by-div em{
	display: block;
}
.testimonials-section  .l-img{
	position: absolute;
	left: 30px;
	top: 30px;
	
}
.testimonials-section  .r-img{
	position: absolute;
	right: 30px;
	bottom: 30px;
	
}
.testimonials-section .quote-inner{
	max-width: 800px;
	margin: 0 auto;
}
.testimonials-section .swiper-button-next{
	background: #8edd65;
	width: 50px;
	height: 50px;
	right:0;
	margin-top: -50px;
}


.testimonials-section .swiper-button-prev{
	background: #8edd65;
	width: 50px;
	height: 50px;
	left:0;
	margin-top: -50px;
}

.testimonials-section .swiper-button-next:after{
	    content: "";
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    display: block;
	    margin-left: 40%;
    margin-top: 29%;
}
.testimonials-section .swiper-button-prev:after{
	content: "";
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid white;
	display: block;
	    margin-left: 40%;
    margin-top: 29%;
}

.home-bottom-team-section {
	font-size: 16px;
	margin-top: 100px;
	  font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif; 
}
.home-bottom-team-section h3{
	font-size: 30px;
	margin: 0 0 20px 0;
}

.home-bottom-team-section .image-div{
	position: relative;
	padding-left: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}
.home-bottom-team-section .image-div img{
	width: 100%;
	height: auto
}
.home-bottom-team-section .image-div:after{
	content: "";
	width: 3px;
	height: 100%;
	display: block;
	left: 0;
	bottom: -10px;
	background: #8edd65;
	position: absolute;

}
.home-bottom-team-section .image-div:before{
	content: "";
	width: 100%;
	height: 3px;
	display: block;
	left: -10px;
	bottom: 0;
	background: #8edd65;
	position: absolute;
}


.home-bottom-team-section .btn{
	margin-top: 25px;
}
.home-bottom-team-section .content-div{
	max-width: 500px;
	margin-top: 100px;
}

.sign-up-form .inner-block{
	padding: 40px;
	background: #fff;
}

.sign-up-form .title{
	padding:30px 20px;
	background: #fff;
	border-bottom: 1px solid #dedede;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0;
}

.home-page #main{
	padding-top:0; 
}

.sign-up-form .form-div{
	max-width: 500px;
	margin: 0 auto;
}

.sign-up-form .form-div .form-group{
	margin-bottom: 20px;
}
.sign-up-form .form-div  label{
	font-weight: normal;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif; 
}


/* Customize the label (the custom-radio-btn) */
.custom-radio-btn {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 12px;
	line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	margin-right: 15px;
}

/* Hide the browser's default radio button */
.custom-radio-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.custom-radio-btn .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
	border: 1px solid #b4b4b4;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custom-radio-btn:hover input ~ .custom-radio-btn .checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.custom-radio-btn input:checked ~ .custom-radio-btn .checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom-radio-btn .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio-btn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio-btn .checkmark:after {
     top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #8edd65;
}


.bob-select-div{
	position: relative;
	
}

.bob-select-div .fa {
	position: absolute;
	right: 15px;
	top: 12px;
	color: #e6e6e6;
}

.bob-select-div:before {
    content: "";
    position: absolute;
    right: 40px;
    top: 6px;
    background: #e6e6e6;
    width: 1px;
    height: 70%;
    display: block;
}


.after-login-new-head {
	background: #f4fcf0;
	padding: 20px 0;
	box-shadow: 0 10px 20px rgba(226, 237, 220, 1);
	background-repeat: repeat-x;
	margin-bottom: 0;
}
.after-login-new-head ul.menu-sm {
	margin: 0 -10px;
	padding: 0;
	list-style: none;
	font-size: 0;
	margin-top: 3px;
}
.after-login-new-head ul.menu-sm li {
	display: inline-block;
	margin: 2px 10px;
}
.after-login-new-head ul.menu-sm li a {
	font-size: 12px;
	background: #e0f6d4;
	text-align: center;
	padding: 8px 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	color: #141414;
	text-decoration: none;
	height: 34px;
	display: block;
}
.after-login-new-head ul.menu-sm li.active a, .after-login-new-head ul.menu-sm li:hover a {
	background: #8edd65;
	color: #fff;
}
.after-login-new-head .header-search-div .form-control {
	height: 40px;
	border-color: #d1d1d1;
}
.after-login-new-head .header-search-div .btn {
	border: none;
	background: #8972f0;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	padding: 0 10px;
	font-size: 16px;
	right: 3px;
	top: -2px;
}
.after-login-new-head .header-search-div .btn .fa {
	top: 0;
}
.after-login-new-head .new-project-btn {
	width: 100%;
	height: 36px;
	margin-top: 2px;
	line-height: 24px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
}
.after-login-new-head .outstanding-balance {
	margin-top: 10px;
	font-size: 14px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.after-login-new-head .outstanding-balance strong {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.header-banner {
	margin-bottom: 35px;
}
.header-banner .swiper-slide{
	background-position: center center;
	background-size: cover;
	padding: 30px 60px;
	color: #fff;
}
.header-banner .swiper-slide:after{
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 1;
	display: block;
}
.header-banner .swiper-slide .row{
	position: relative;
	z-index: 2;
}

.header-banner .swiper-slide .video-div{
	position: relative;
	max-width: 366px;
	margin: 0 auto;
	overflow: hidden;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.header-banner .swiper-slide .video-div iframe{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.header-banner h4{
	font-size: 20px;
	color: #c1c1c1;
	margin-bottom: 15px;
}

.header-banner h3{
	font-size: 24px;
	color: #fff;
}
.header-banner h2{
	font-size: 44px;
	color: #8edd65;
	margin-bottom: 10px;
}
.header-banner  p{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.header-banner .bottom-btn{
	font-size: 0;
	margin-top: 25px;
}
.header-banner .bottom-btn .btn{
	border: 2px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
	margin-right: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.header-banner .swiper-button-next{
	z-index: 55;
	background-image:url(../images/right-s-arrow.png);
	background-size: auto;
	height: 132px;
	margin-top: -65px;
	right: 0;
	
}.header-banner .swiper-button-prev{
	z-index: 55;
	background-image: url(../images/left-s-arrow.png);
	background-size: auto;
	height: 132px;
	margin-top: -65px;
	left: 0;
}

.white-block {
	background: #fff;
	margin-bottom: 20px;
}
.white-block .heading-div{
	padding: 20px 25px;
	border-bottom: 1px solid #dedede;
}
.white-block .heading-div h3{
	font-size: 20px;
}
.white-block .inner-padding{
	padding:20px 25px;
}


.header-mid-text {
    font-size: 18px;
    color: #8edd65 ;
    text-align: center;
    font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
}
.list-style1{
	margin: 0;
	padding: 0;
	list-style: none;
}
.list-style1 li:first-child{
	padding-top: 0
}
.list-style1 li{
	padding: 15px 0;
	    border-bottom: 1px solid #dedede;
}
.list-style1 li:last-child{
	border-bottom: none;
}
.list-style1 li .row{
	  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.list-style1 li  a{
	color: #77a268;
	text-decoration: underline
}
.list-style1 li .time{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.list-style1 li .time.red{
	color: #ea0437;
}
.list-style1 li .time.orange{
	color: #ff7e00;
}
.list-style1 li .right-btn{
	text-align: right;
	
}
.list-style1 li .right-btn .btn{
	text-decoration: none;
	width: 112px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}
.list-style1 li .session{
	padding-left: 20px;
	border-left: 1px solid #dedede;
	margin-left: -15px;
}
.list-style1 li .btn.view-all{
	color: #77a268 !important;
	text-decoration: none;
		font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}

.block-design1{
	border: 1px solid #e9e9e9;
}

.block-design1 .img-div{
	height: 120px;
	background-size: cover;
	
}

.block-design1  h3{
	font-size: 14px;
	text-align: center;
	border-bottom:1px solid #e9e9e9;
	padding: 20px 15px;
	margin: 0;
}
.block-design1 .media{
	padding:15px 15px;
	margin: 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}

.block-design1 .media > .pull-left{
	height: 35px;
	width: 35px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	overflow: hidden;
}
.block-design1 .media h4{
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
	font-size: 14.2px;
}

.block-design1 .bottom-div{
	border-top:1px solid #e9e9e9;
	padding: 15px;
	text-align: center;
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
}
.heading-div .equal-div{
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


.heading-div .right-btn{
	text-align: right;
}
.heading-div .right-btn .btn{
	padding: 0;
	    color: #77a268 !important;
    text-decoration: none;
    font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}

.highlights-list{
	margin: 0 -25px;
	margin-top: -15px;
	padding: 0;
	list-style: none;
}

.highlights-list li{
	padding: 10px 50px;
	position: relative;
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
	font-size: 16px;
	border-bottom: 1px solid #dedede;
}
.highlights-list li:last-child{
	border-bottom: none;
}

.highlights-list li a{
	color: #77a268;
	text-decoration: none;
}
.highlights-list li .fa{
	position: absolute;
	left: 25px;
	top: 10px;
	color: #5d5d5d;
	font-size: 22px;
	
}

.highlights-list li span{
	position: absolute;
	right: 25px;
	top: 10px;
	color: #5d5d5d;
	font-size: 14px;	
}

.block-bottom-btn {
	    border-top: 1px solid #dedede;
		margin-bottom: -20px;
		padding: 10px;
}
.block-bottom-btn .btn{
	color: #77a268 !important;
    text-decoration: none;
    font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	box-shadow: none;
}

.uppercase{
	text-transform: uppercase;
}
.invite-friend-tbl {
	width: 100%;
	 
}
.invite-friend-tbl .right-btn{
	width: 60px;
	text-align: right;
	border-left:1px solid #dedede;
	
}
.invite-friend-tbl .right-btn a{
	display: inline-block;
	font-size: 32px;
	color: #8edd65;
	
}

.invite-friend-tbl .left-td{
	text-align: center;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	color: #454545;
}
.invite-friend-tbl .left-td .btn {
	margin-top: 15px;
}
.invite-friend-tbl h3{
	font-size: 22px;
	margin-bottom: 15px;
}

.courses-div{
	padding: 10px 30px;
}



.page-content-block .heading-div{
	background: #fff;
	padding: 18px 25px;
	margin-bottom: 10px;
}
.page-content-block .heading-div h3{
	font-size: 20px;
}
.page-content-block .heading-div h3 .glyphicon-menu-right{
	color: #7f7f7f;
	font-size: 17px;
	position: relative;
	top: 2px;
}

.page-content-block .block-head-div{
	background: #fff;
	padding: 15px 25px;
	margin-bottom: 10px;
 margin-bottom: 2px;
	
}

.tab-menu{
	display: inline-block;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-size: 0; 
	vertical-align: middle;
	
}
.tab-menu.left{
	margin-right: 10px;
}
.tab-menu.right{
	margin-left: 10px;
}
.tab-menu li{
	display: inline-block;
}
.tab-menu li a{
	display: block;
	background: #e8f8e0;
	padding: 5px 15px;
	font-size: 16px; 
	color: #747c70;
	text-decoration: none;
}

.tab-menu li.active a{
	background: #8edd65;
	color: #fff;
	
}

.inline-block{
	display: inline-block;
	vertical-align: middle;
}
 
.page-content-block  .block-head-div .right-div{
	text-align: right;
}
.page-content-block .block-head-div .title-td{
	padding-right: 15px;
}
.page-content-block  .block-head-div .btn{
	margin-right: 10px;
}
.page-content-block  .block-head-div .btn.mrNone{
	margin-right: 0;
}

.flex-div{
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.filter-div .table-div{
	display: table;
	width: 100%;
}
.filter-div .table-div label{
	display: table-cell;
	vertical-align: middle;
	width: 85px;
}
.filter-div .table-div .custom-select-dropdown{
	display: table-cell;
	vertical-align: middle;
}
.search-div{
	position: relative;
	padding-right:125px;
	
}
.search-div button{
	position: absolute; 
	right: 0;
	top: 0;
}
.page-content-block .content-div{
	background: #fff;
}
.courses-listing{
	margin: 0;
	padding: 0;
	list-style: none;
	
}
.courses-listing>li{
	padding: 25px;
	border-bottom: 1px solid #dadada;
	color: #000;
}
.courses-listing li:last-child{
	border-bottom:none;
}
.courses-listing h3{
	font-size: 18px;
	margin-bottom: 5px;
	color: #000;
}
.courses-listing h3 .pre-span{
	display: inline-block;
	padding: 5px 10px;
	background: #f8e098;
	margin-left: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}


.courses-listing .text{
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
	margin-bottom: 15px;
}
.courses-listing .text .line{
	color: #dedede;
	padding: 0 10px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
}
.courses-listing .bottom-div{
	font-size: 0;
}
.courses-listing .bottom-div .btn{
	margin-right: 10px;
}
.courses-listing .bottom-div .user-div{
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	background: #f7f7f7;
	padding-right: 20px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.courses-listing .bottom-div .user-div i{
	font-size: 16px;
}
.courses-listing .bottom-div .user-div .btn{
	padding-left: 10px;
	padding-right: 10px;
	
}
.courses-listing .bottom-div .user-div span{
	padding: 0 2px;
	display: inline-block;
	position: relative;
	top: 1px;
}
.courses-listing .bottom-div .user-div .fa-arrow-right{
	margin-right: 3px;
	position: relative;
	top: 1px;
}
.courses-listing .right-video{
	position: relative; 
	float: right;
}
.courses-listing .right-video img{
	width: 100%;
	height: auto;
}

.courses-listing .right-video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.arrow-right-icon{
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	vertical-align: middle;
	    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
	position: relative;
	top: -2px;
	color: #7f7f7f;
	display: inline-block;
}


.fc-panel .subscribe-div .btn{
	margin-left: 15px;
}

.fc-panel .subscribe-div .price{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif; 
	font-size: 20px;
	color: #454545;
}

.single-line-text-icon{
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	margin-bottom: 0;
}

.single-line-text-icon li{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif; 
	font-size: 14px;
	display: inline-block;
	margin-right: 18px;
	position: relative;
	padding-left: 21px;
}
.single-line-text-icon li .fa{
	color: #8edd65;
	position: absolute;
	left: 0;
	top: 2px
}
.fc-panel .right-content-div  .single-line-text-icon{
	margin-bottom: 15px;
}

.fc-panel .right-content-div{
	padding: 30px 0;
	max-width: 650px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif; 
}
.fc-panel .right-content-div p{
	margin-bottom: 20px;
}
.fc-panel .right-content-div p:last-child{
	margin-bottom: 0
}
.fc-panel .right-content-div .review-tbl th{
font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif; 
	font-weight: normal;
}
.fc-panel .right-content-div .bottom-div{
	margin-top: 20px;
}
.fc-panel .right-content-div .review-tbl td{
	padding-right: 15px;
	color: #dec51d;
}
.fc-panel .right-content-div .review-tbl td .fa{
	font-size: 20px;
	margin: 0 2px;
}
.fc-panel .left-video-div{
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.accordion-ul{
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: 1px solid #dedede;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif; 
}
.accordion-ul li{
	border: 1px solid #dedede;
	border-top: none;
	padding: 0;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;

}
.accordion-ul li .head-t h3{
	font-size: 16px;
}
.accordion-ul li .green{
	color: #8edd65;
}
.accordion-ul li .red{
	color: #ff3d3d;
}
.accordion-ul li .head-t h3.with-icon{
	padding-left: 30px;
	position: relative;
}
.accordion-ul li .head-t h3.with-icon .f-icon{
	position: absolute;
	left: 0;
	top: -1px;
	font-size: 20px;
}
.accordion-ul li .head-t h3 span{
	padding-right: 10px;
}
.accordion-ul li .head-t{
		position: relative;
	padding: 15px;
	padding-right: 50px;
	margin-bottom: 0;
}
.accordion-ul li .head-t .icon-right{
	     font: normal normal normal 14px/1 FontAwesome;
	    
		position: absolute;
	right: 8px;
    top: 9px;
	background: #8edd65;
	 
	width: 30px;
	height: 30px;
	text-align: center;
	display: block;
	line-height: 30px;
	color: #fff;
}
.accordion-ul li .c-div{
	padding: 15px; 
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif; 
	display: none;
}
.accordion-ul li .c-div .mr12{
	margin-right: 12px;
}
.accordion-ul li .c-div.active{
	display: block;
}
.accordion-ul li.active {
	margin: 10px 0;
}
.accordion-ul li.active .c-div{
 
}
.accordion-ul li.active .head-t{
 border-top:1px solid #dedede;
	border-bottom:1px solid #dedede;
}
.accordion-ul li.active+li{
	border-top:1px solid #dedede;
}
.accordion-ul li.active .head-t .icon-right .fa:before{
	    content: "\f068";
}

.tsb-panel .heading-div .profile-info{
	margin-top: 15px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif; 
	font-size: 18px;
}
.tsb-panel .heading-div .profile-info .con-div{
	margin-top: 25px;
	
}
.tsb-panel .heading-div .profile-info .pull-left{
	margin-right: 15px;
}
.tsb-panel .heading-div .profile-info .con-div p{
	margin-bottom: 5px;
}
.tsb-panel .heading-div .profile-info .right-btn-div{
	margin-top: 25px;
	text-align: right;
	font-size: 0
}
.tsb-panel .heading-div .profile-info .right-btn-div .btn{
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.tab-menu-ul ul{
	margin: 0;
	padding: 0;
	font-size: 0;
	display: inline-block;
 	-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
	overflow: hidden;
	
}
.tab-menu-ul li{
	display: inline-block;
	font-size: 14px;
	margin: 0 1px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif; 
	
}
.tab-menu-ul li:first-child{
	margin-left: 0
}
.tab-menu-ul li:last-child{
	margin-right: 0
}
.tab-menu-ul li a{
	display: block;
	padding: 5px 20px;
	background: #e8f8e0;
	text-decoration: none;
}
.tab-menu-ul li.current a{
	background: #8edd65;
	color: #fff;
}


.basic-info .head-div{
	margin-bottom: 20px;
}

.hide{
	display: none;
}
.basic-info {
		font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif; 
}
.basic-info  .user-div{
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	background: #f7f7f7;
	padding-right: 20px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	margin-left: 20px;
}

.basic-info  .user-div i{
	font-size: 16px;
}
.basic-info  .user-div .btn{
	padding-left: 10px;
	padding-right: 10px;
	
}
.basic-info  .user-div span{
	padding: 0 2px;
	display: inline-block;
	position: relative;
	top: 1px;
}
.basic-info  .user-div .fa-arrow-right{
	margin-right: 3px;
	position: relative;
	top: 1px;
	    margin-left: 3px;
}
.basic-info  .user-div span.green-c{
	color: #8edd65;
}
.basic-info  .list-style1 li .right-btn .btn{
	padding-left: 20px;
	padding-right: 20px;
	width: auto
}
.basic-info  .list-style1 li .right-btn .teacher-text{
padding-right: 15px;	
}

.basic-info .bottom-price-div{
	background: #7cbb5b;
	padding: 15px 25px;
}
.basic-info .bottom-price-div h3{
	color: #fff;
	font-size: 28px;
	padding-top: 2px;
}





.select-batch  .user-div{
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	background: #f7f7f7;
	padding-right: 20px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	margin-left: 20px;
}

.select-batch .user-div i{
	font-size: 16px;
}
.select-batch  .user-div .btn{
	padding-left: 10px;
	padding-right: 10px;
	
}
.select-batch .user-div span{
	padding: 0 2px;
	display: inline-block;
	position: relative;
	top: 1px;
}
.select-batch .user-div .fa-arrow-right{
	margin-right: 3px;
	position: relative;
	top: 1px;
	    margin-left: 3px;
}
.select-batch .user-div span.green-c{
	color: #8edd65;
}
.select-batch .list-style1 li .right-btn .btn{
	padding-left: 20px;
	padding-right: 20px;
	width: auto
}
.select-batch  .list-style1 li .right-btn .teacher-text{
padding-right: 15px;	
}

.select-batch .bottom-price-div{
	background: #7cbb5b;
	padding: 15px 25px;
}
.select-batch .bottom-price-div h3{
	color: #fff;
	font-size: 28px;
	padding-top: 2px;
}

.select-batch .head-t .row{
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.select-batch .head-t a{
	color: #77a268;
	text-decoration: underline;
}
.select-batch .head-t .btn{
	text-decoration: none;
}
.select-batch .head-t .teacher-text{
	padding-right: 30px;
}

.select-batch .head-t strong{
		font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif; 
}

.select-batch .accordion-ul li .head-t{
	    padding-top: 8px;
	padding-bottom: 8px;
}
.select-batch .accordion-ul li .head-t .red{
	color: #ea0437;
	
}
.tbl2-div{
	overflow: auto;
}
.tbl2-div table{
	min-width: 700px;
}
.tbl2-div table th{
	padding: 5px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif; 
}
 
.tbl2-div table td{
	padding: 5px;
}

.select-batch .bottom-price-div{
	background: #7cbb5b;
	padding: 15px 25px;
		margin-top:10px;
}
.select-batch .bottom-price-div h3{
	color: #fff;
	font-size: 28px;
	padding-top: 2px;

}
.course-notes-section .cn-panel .heading-div{
	background: #ffcccc;
	color: #000;
}
.course-notes-section .cn-panel .btn-delete{
	color: #ff0000 !important;
}


.course-notes-section .cn-panel  .heading-div .times{
	padding-right: 10px;
}
.course-notes-section .white-block .heading-div h3{
	font-size: 24px;
	color: #000;
}
 

.course-notes-section .cn-panel .jqte{
	margin: 0;
	box-shadow: none;
	border: none;
	-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.jqte_tool.jqte_tool_1 .jqte_tool_label {
	height: 26px;
}

.jqte_toolbar{
	background: #f7f7f7;
	padding: 10px 10px;
}
.jqte_tool, .jqte_tool_icon, .jqte_tool_label{
	border-color: #f7f7f7;
}
.jqte_editor, .jqte_source{
	min-height: 400px;
	padding: 20px 25px;
}

.video-call-div{
	margin-bottom: 10px;
}
.video-call-div img{
	width: 100%;
	height: auto;
}


.video-call-section .vc-panel .btn-dot{
	padding: 0;
	background: #d3d3d3;
  	font-size: 20px;
	width: 28px;
	height: 28px;
	color: #fff;
	line-height: 28px;
	
}

.video-call-section .call-status{
	background: #cccccc;
	padding: 15px 20px;
	margin-bottom: 20px;
} 
.video-call-section .call-status .media .pull-left a{
	display: block;
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center;
	-webkit-border-radius: 50px;
-moz-border-radius:50px;
border-radius: 50px;
}

.video-call-section .call-status .media h4{
	color: #000;
	font-size: 20px;
}

.video-call-section .call-status .call-duration{
	text-align: right;
	font-size: 18px;
	padding: 10px 0;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif; 
}


.video-call-section .call-status .call-duration .fa{
	font-size: 22px;
	margin-right: 3px;
	position: relative;
	top: 1px;
}
.session-activity-log{
	padding: 15px;
	border: 1px solid #dedede;
}
.session-activity-log h4 .btn{
	margin-left: 20px;
}
.session-activity-log h4{
	font-size: 16px;
	margin-bottom: 10px;
	color: #000;
}
.session-activity-log table tr td{
	padding: 5px 0;
}
.session-activity-log table tr td.time{
	width: 100px;	
	padding-right: 10px;
}

.teacher-profile-block{
	padding: 20px 30px;
		padding-bottom: 0;
}
.teacher-profile-block .teacher-profile-post{
	margin-left: -5px;
	margin-right: -5px;
}
.teacher-profile-post{
	background: #f0f8ff;
		padding: 20px;
		margin-bottom: 20px;
	text-align: center;
}
.teacher-profile-post .img-div{
	width: 135px;
	height: 135px;
	background: #81c3ff;
	-webkit-border-radius: 100%;
-moz-border-radius:100%;
border-radius: 100%;
	text-align: center;
	line-height: 100%;
	padding: 25px;
	margin: 30px auto;
}
.teacher-profile-post h3{
	font-size: 20px;
	margin-bottom: 5px;
}
.teacher-profile-post h4{
	font-size: 16px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif; 
	
}
.teacher-profile-post .copy-text{
	border-bottom: 1px solid #d9edff;
	border-top: 1px solid #d9edff;
	padding: 15px;
	margin: 25px -15px;
}
.teacher-profile-block .item-div:nth-child(2n+2) .teacher-profile-post{
	background: #eff5f7;
}
.teacher-profile-block .item-div:nth-child(2n+2) .teacher-profile-post .img-div{
	background: #7dafba;
}

.notifications-section .left-check-all{
	position: relative;
	padding-left: 35px;
	font-size: 0;
}
.notifications-section .left-check-all .custom-checkbox{
	position: absolute;
	left: 0;
	top: 5px;
}



.custom-checkbox {
  display: inline-block;
  position: relative;
	vertical-align: middle;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #fff;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	border: 1px solid #dedede;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
      left: 7px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #8edd65;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.notifications-list{
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 0
}
.notifications-list ul{
	margin: 0;
	padding: 0;
	list-style: none;
	padding-left: 40px;
	border-bottom: 1px solid #dedede;
}
.notifications-list li{
	position: relative;
	padding: 20px 0;
	padding-right: 143px;
	border-bottom: 1px solid #dedede;
	
}
.notifications-list li:last-child{
	border-bottom: none;
}
.notifications-list li .custom-checkbox{
	position: absolute;
	left: -40px;
	top: 20px;
}
.notifications-list li .time-div{
	    position: absolute;
    right: 0;
    top: 17px;
	font-style: italic;
	color: #545454;
}
.notifications-list li .orange{
	color: #ff7e00;
}

.notifications-list li .green{
	color: #73c24b;
}

.notifications-list li .blue{
	color: #4690f5;
}

.notifications-list li strong{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}


.pagination-bottom-div{
	padding: 0 20px;
}
.pagination-bottom-div .per-page{
	padding-top: 10px;
}
.pagination-bottom-div .per-page .custom-select-dropdown{
	display: inline-block;
	width: 120px;
	margin-left: 20px;
}

/*pagination CSS Start*/
.pagination-div {
	color: #323232;
	margin: 15px 0;
}
.pagination-div ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	font-size: 0
}
.pagination-div ul li {
	display: inline-block;
	vertical-align: middle;
}
.pagination-div ul li a {
	width: 26px;
	height: 26px;
	display: block;
	position: relative;
	line-height: 26px;
	font-size: 12px;
	text-decoration: none;
	color: #323232;
	text-align: center;
}
.pagination-div ul li.active a {
	color: #8a75d0;
}
.pagination-div ul li.prev a, .pagination-div ul li.next a {
	display: inline-block;
	cursor: pointer;
	width: 28px;
	height: 28px;
	position: relative;
	font-size: 18px;
	vertical-align: middle;
	margin: 0 5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #8edd65;
	text-align: left;
	color: #fff;
	text-decoration: none;
	line-height: 26px;
}
.pagination-div ul li.prev a {
	text-align: right;
}
.pagination-div .number-div {
	display: inline-block;
	vertical-align: middle;
}
.pagination-div ul li.prev a:hover, .pagination-div ul li.next a:hover {
	background: #63af3b !important;
	color: #fff !important;
}
/*pagination CSS End*/



.transactions-list{
	border-bottom: 1px solid #dedede;
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 0;
	margin-bottom: 10px;
}



.tbl-design {
	overflow: auto;
}
.tbl-design table {
	color: #141414;
	font-size: 14px; 
	min-width: 700px;
	border: none;
	margin: 0
}
.tbl-design table thead th { 
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: normal;
 		border: none;
	border-bottom: 1px solid #dedede;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
.tbl-design table tbody td {
 border: none;
	border-bottom: 1px solid #dedede;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
.tbl-design table tbody tr:last-child td {
	border: none;
}

.page-content-block .heading-div h3 .alert-notifi{
	width: 24px;
	height: 24px;
	background: #ff0000;
	text-align: center;
	line-height: 24px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	margin-left: 5px;
}




.messaging-teacher-section .block-head-div .left-teacher .img{
	width: 35px;
	height: 35px;
		-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	vertical-align: middle;
	background-color: #dedede;
}
.messaging-teacher-section .block-head-div .left-teacher h3{
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
	font-size: 30px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.messaging-teacher-section  .page-content-block .block-head-div .btn{
	margin-right: 0;
}
.teacher-chat-list{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    overflow: auto;
    height: 100%;
    width: 100%;
	 
}
.teacher-chat-list li{
	display: table;
	width: 100%;
	padding: 10px 20px;
	border-bottom: 1px solid #d9edff;
	background: #f0f8ff;
}
.teacher-chat-list li a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.teacher-chat-list li .img-div{
	width: 35px;
	height: 35px;
		-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	display: table-cell;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	vertical-align: middle;
	background-color: #dedede;
}
.teacher-chat-list li h3{
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
	font-size: 18px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.teacher-chat-list li.active{
	background: #fff;
}
.teacher-chat-list li.unread h3{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.teacher-messaging-block{
	padding-left: 0;
	margin-left: 0;
}

.messaging-teacher-section .page-content-block .content-div{
	padding: 0 15px;
}
.messaging-teacher-section .display-table .table-cell{
	padding: 0;
}




.teacher-messaging-block ul{
	margin: 25px 0;
	padding: 0 25px;
	list-style: none;
	/*overflow: auto;*/
	height:400px;
	
}
.teacher-messaging-block ul li{
	padding: 8px 0;
}
.teacher-messaging-block ul li .text-div{
	margin-bottom: 3px;
	
	font-size: 0;
}
.teacher-messaging-block ul li .text-div span{
	background: #dedede;
	display: inline-block;
	padding: 3px 10px;
	font-size: 14px;
		-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.teacher-messaging-block ul li.right{
	text-align: right;
}
.teacher-messaging-block ul li .time-div{
	font-size: 12px;
	color: #b2b2b2;
}
.teacher-messaging-block ul li.right .text-div span{
	background: #ddf5d1;
}
.teacher-messaging-block ul li.left .text-div span{
	background: #d9edff;
}
.teacher-messaging-block .type-box{
	position: relative;
	margin: 0 25px;
	padding-right: 100px;
	margin-bottom: 20px;
}
.teacher-messaging-block .type-box .btn{
	position: absolute;
	right: 0;
	top: 0;
	
}


hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #dedede;
}

.messaging-teacher-section .blue-bg{
	background: #f0f8ff;
}






.teache-profile-section .page-content-block .block-head-div .teacher-name h3{
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-size: 30px;
	margin: 0;
}
.teache-profile-section .page-content-block .block-head-div .right-div .btn{
	margin-right: 0
}
.teache-profile-section .page-content-block .block-head-div .right-div .text{
	padding-right: 15px;
}

.c-padding20{
	padding: 20px;
}
.teache-profile-panel {
	color: #454545;
	font-size: 16px;
}
.teache-profile-panel .left-panel .block-div{
	background: #f0f8ff;
	padding:25px 15px;
	margin-bottom: 10px;
	text-align: center;
}
.teache-profile-panel .left-panel .block-div hr{
	margin: 15px -15px;
	border-top: 1px solid #d9edff;
}
.teache-profile-panel .left-panel .block-div p:last-child{
	margin-bottom: 0
}
.teache-profile-panel .left-panel .block-div  strong{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.teache-profile-panel .left-panel .block-div h3{
	font-size: 22px;
}
.teache-profile-panel .left-panel .block-div.t-photo-info p{
	margin-bottom: 3px;
}
.teache-profile-panel .left-panel .block-div.t-photo-info .img-div{
		width: 135px;
	height: 135px;
		-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;  
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	vertical-align: middle;
	background-color: #81c3ff;
	display: inline-block;
	margin-bottom: 20px;
}

.teache-profile-panel .right-panel .block-div{
	border: 1px solid #dedede;
	margin-bottom: 20px;
}
.teache-profile-panel .right-panel .block-div.mbNone{
	margin-bottom: 0
}
.teache-profile-panel .right-panel .block-div .heading{
	padding:15px;
	border-bottom: 1px solid #dedede;
}
.teache-profile-panel .right-panel .block-div .heading h3{
	font-size: 20px;
	margin: 0;
	padding: 3px 0;
}
.teache-profile-panel .right-panel .block-div .c-padding{
	padding: 15px;
}
.teache-profile-panel .right-panel .block-div  .dashed-list{
	margin:-15px 0;
	padding: 0;
	list-style: none
}
.teache-profile-panel .right-panel .block-div  .dashed-list li p:last-child{
	margin-bottom: 0
}
.teache-profile-panel .right-panel .block-div  .dashed-list li{
	padding: 15px 0;
	border-bottom: 1px dashed #dedede;
}
.teache-profile-panel .right-panel .block-div  .dashed-list li .row{
	 display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.teache-profile-panel .right-panel .block-div  .dashed-list li:last-child{
	border-bottom: none;
}
.teache-profile-panel .bottom-green-box{
	padding: 10px 20px;
	background: #7cbb5b;
	position: relative;
	color: #fff;
	padding-right: 80px;
}
.teache-profile-panel .bottom-green-box .btn-td{
	width: 150px;
}
.teache-profile-panel .bottom-green-box .btn-td .btn{
	color: #000 !important;
	font-size: 16px;
}
.teache-profile-panel .bottom-green-box .btn-td .btn i{
	    color: #f00;
    margin-left: -10px;
    position: relative;
    top: 1px;
    margin-right: 2px;
}
.teache-profile-panel .bottom-green-box .right-btn{
	    background: #fff;
    position: absolute;
    right: 15px;
    top: 17px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 29px;
    color: #7cbb5b;
}
.teache-profile-panel .right-panel .block-div .heading.borNone{
	padding-bottom: 0;
	border-bottom: none;
}
.course-notes-div {
	font-size: 16px;
}
.course-notes-div p:last-child{
	margin-bottom: 0
}
.course-notes-div .btn-div{
	text-align: right;
	padding-top: 5px;
	font-size: 0
}
.course-notes-div .btn-div .btn{
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.batch-mates{
	font-size: 16px;
}
.batch-mates h3{
	margin-bottom: 15px;
	font-size: 20px;
}
.batch-mates .dashed-list{
	margin:-15px 0;
	padding: 0;
	list-style: none
}
.batch-mates .dashed-list li p:last-child{
	margin-bottom: 0
}
.batch-mates .dashed-list li{
	padding: 15px 0;
	border-bottom: 1px dashed #dedede;
}
.batch-mates .dashed-list li .row{
	 display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.batch-mates .dashed-list li:last-child{
	border-bottom: none;
}



.evaluation-report{
	font-size: 16px;
}
.evaluation-report h3{
	margin-bottom: 15px;
	font-size: 20px;
}

.evaluation-report .s-list{
	margin:0 0;
	padding: 0;
	list-style: none
}
.evaluation-report .s-list li p:last-child{
	margin-bottom: 0
}
.evaluation-report .s-list li{
	padding: 10px 0;
	border-bottom: 1px dashed #dedede;
}
.evaluation-report .s-list li .row{
	 display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.evaluation-report .s-list li:last-child{
	border-bottom: none;
}
.evaluation-report .s-list li .rating-div{
	width: 200px;
}
.evaluation-report .s-list li  .rating-div .fa-star{
	color: #dec51d
}

.evaluation-report .review-comment{
	font-size: 14px;
}
.evaluation-report .review-comment strong{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.evaluation-report .right-div h3{
	margin-bottom: 0;
	font-size: 20px;
}

.evaluation-report hr{
	border-top: 1px dashed #dedede;
}
.evaluation-report .bl-div{
	border-left: 1px dashed #dedede;
}