<section class="section">
	<div class="container">
		<div class="my-account">
			<div class="title">
				GENERAL INFORMATION
			</div>
			<div class="back-white details">
				<form id="updateAccessor" name="updateAccessor" class="validation-form" ng-submit="updateAccessor.updateInfo()" novalidate runat="server">
					<div class="profile-section text-center">
						<div class="img">
							<img id="profile_image" ng-src="[[accessor.image]]">
						</div>
						<div class="update-btn">
							<div class="btn-file">
								<span class="btn btn-sm upload-btn">
									<span class="upload-file">
										<i class="sci-Edit-icon">
										</i> Update Photo
										<input type="file" name="image" id="image">
									</span>
								</span>
							</div>
						</div>
						<div>
							<label>Level:[[accessor.level_type]]</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>[[accessor.team]]</label>
						</div>
						<div class="">
							<span>Reporting Officer:</span>
						</div>
						<div>
							<label>[[accessor.parent_accessor.first_name]] [[accessor.parent_accessor.last_name]]</label>
						</div>
					</div>
					<div class="profile-details">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<input type="text" name="first_name" id="first_name" placeholder="First Name" class="form-control" ng-model="accessor.first_name" required>
									<div ng-show="updateAccessor.first_name.$error.required" class="help-block">Required</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="text" name="last_name" id="last_name" placeholder="Last Name" class="form-control" ng-model="accessor.last_name" required>
									<div ng-show="updateAccessor.last_name.$error.required" class="help-block">Required</div>
								</div>
							</div>
						</div>	
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<input type="text" name="email_address" id="email_address" placeholder="Email Address" class="form-control" ng-model="accessor.email_address" required>
									<div ng-show="updateAccessor.email_address.$error.required" class="help-block">Required</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="text" name="phone_number" id="phone_number" placeholder="Phone Number" class="form-control" ng-model="accessor.phone_number" required>
									<div ng-show="updateAccessor.phone_number.$error.required" class="help-block">Required</div>
								</div>
							</div>
						</div>
						<div class="row">	
							<div class="col-sm-6">
								<div class="form-group">
									<div class="date form-control" data-provide="datepicker">
										<input type="text" name="dob" id="dob" class="form-control" ng-model="accessor.dob">
										<i class="sci-calendar"></i>
									</div>
								</div>
							</div>
						</div>	
							<div class="col-sm-12">
								<div class="form-group">
									<button type="submit" ng-disabled=!updateAccessor.$valid class="btn btn-sm" ng-click="updateInfo(accessor)"><i class="sci-Upload">
										</i>Update Info</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
	
		<div class="my-account section">
			<div class="title">
				UPDATE PASSWORD
			</div>
			<div class="back-white details">
				<div class="pwd-details">
					<form name="updatePassword" ng-submit="updatePassword.Updatepassword()" novalidate class="validation-form">
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group">
									<input type="password" name="old_password" placeholder="current Password" class="form-control" ng-model="passwords.old_password" required minlength="8">
									<div ng-show="updatePassword.old_password.$error.minlength" class="help-block">Minimum length 8 characters</div>
									<div ng-show="updatePassword.old_password.$error.required" class="help-block">Required</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<input type="password" name="password" placeholder="New Password" class="form-control" ng-model="passwords.password" required minlength="8">
									<div ng-show="updatePassword.password.$error.minlength" class="help-block">Minimum length 8 characters</div>
									<div ng-show="updatePassword.password.$error.required" class="help-block">Required</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<input type="password" name="cnf_password" placeholder="Confirm Password" class="form-control" ng-model="passwords.cnf_password" required minlength="8">
									<div ng-show="updatePassword.cnf_password.$error.minlength" class="help-block">Minimum length 8 characters</div>
									<div ng-show="updatePassword.cnf_password.$error.required" class="help-block">Required</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="">
									<button type="submit" class="btn btn-sm" ng-disabled=!updatePassword.$valid ng-click="Updatepassword(passwords)">
										<i class="sci-Upload">
										</i>Update Password
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>