<section class="section cases ac-info">
	<div class="container">
		<div class="title">
			ACCESSOR ACCOUNT INFO
		</div>
		<div class="all-accessours">
			<div class="my-cases">
				<ul class="list-unstyled list-inline">
					<li class="panel">
						<div class="case-dec">
							<div class="right-side pd-zero">
								<ul class="list-unstyled list-inline">
									<li class="user-img">
										<div class="img">
											<img ng-src="[[accessor.image]]">
										</div>
									</li>
									<li class="left-side border-zero">
										<div class="sub-header text-black margin-zero">[[accessor.first_name]] [[accessor.last_name]]</div>
										<div class="row">
											<div class="col-sm-4">
												<div>
													<label>Email:</label>
													<span>
														<span>[[accessor.email_address]]</span>
													</span>
												</div>
												<div>
													<label>Call:</label>
													<span>[[accessor.phone_number]]</span>
												</div>
											</div>
											<div class="col-sm-4">
												<div>
													<label>Joined Since:</label>
													<span><span>[[accessor.joining_date]]</span></span>
												</div>
												<div>
													<label>Total Jobs:</label>
													<span>[[accessor.total_jobs_count]]</span>
												</div>
											</div>
											<div class="col-sm-4">
												<div>
													<label>Lifetime Earnings:</label>
													<span><span>&yen; 342,000</span></span>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class=" unsiggned-case">
			<div class="sub-header text-red margin-bt20 special-case-header sub-title">
				More Info
			</div>
			<ul class=" list-unstyled accessours-pay-info">
				<li class="panel">
					<div class="account-info">
						<ul class="list-unstyled list-inline">
							<li>
								<div class="row">
									<div class="col-sm-3">
										<label>Account Number</label>
										<input type="" class="form-control input-circle" name="" placeholder="****2455">
									</div>
									<div class="col-sm-3" ng-if="accessor.level_type == 1">
										<label>Reporting Manager</label>
										<select class="form-control input-circle" id="accessor_id" name="accessor_id" ng-model="accessor.accessor_id">
											<option value="[[officer.id]]" ng-selected="officer.id == accessor.accessor_id" ng-repeat="officer in reportingOfficers">[[officer.first_name]] [[officer.last_name]]</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label>Operating Level</label>
										<select class="form-control input-circle" id="team" name="team" ng-model="accessor.team">
											<option value="[[team.value]]" ng-repeat="team in teams">[[team.name]]</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label>Date of Birth</label>
										<div class="date form-control input-circle" data-provide="datepicker">
											<input type="text" name="singledate-picker" ng-model="accessor.dob" class="form-control">
											<i class="sci-calendar"></i>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<div class="update-btn margin-tp15">
							<a class="btn btn-sm" ng-click="updateInfo(accessor,accessor.id)"><i class="sci-Edit-icon text-white"></i> Update Info</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="my-cases unsiggned-case">
			<div class="sub-header text-red margin-bt20 special-case-header  sub-title">
				Job History
			</div>
			<ul class="list-unstyled panel-group" id="accordion" ng-if="accessorCompletedJobCount > 0">
				<li class="panel margin-zero" ng-repeat="case in accessor.accessment_time">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">[[case.pr_case.case_original_file_name]]</div>
								<div ng-repeat="accessor_info in accessor.accessment_time">
									<div>Level [[$index+1]] Accessor : <span> [[accessor_info.accessor_information.first_name]] [[accessor_info.accessor_information.last_name]] </span></div>
								</div>
								<div>Client :<span><a href="javascript:void(0)"> [[case.pr_case.case_user.first_name]] [[case.pr_case.case_user.last_name]] </a></span></div>
							</div>
							<div class="right-side pull-right">
								<ul class="list-unstyled list-inline">
									<li class="border-right">
										<div>Case ID:</div>
										<div><b>[[case.pr_case.id]]</b></div>
									</li>
									<li class="border-right">
										<div>Total Words: </div>
										<div><b>[[case.pr_case.total_words]]</b></div>
									</li>
									<li class="">
										<div>Total Fee: </div>
										<div><b>&yen;[[case.pr_case.total_price]]</b></div>
									</li>
								</ul>
							</div>
							<span class="icon-dd remove">
								<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-[[case.pr_case.id]]" class="collapsed" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
					<div id="case-details-[[case.pr_case.id]]" class="panel-collapse collapse">
						<div class="sub-header pd-tp20 border-tp margin-tp30 text-red ">CASE DETAILS</div>
						<ul class="list-unstyled list-inline case-list">
							<li class="">
								<div>Case ID:</div>
								<div><b>[[case.pr_case.id]]</b></div>
							</li>
							<li class="">
								<div>Total Words: </div>
								<div><b>[[case.pr_case.total_words]]</b></div>
							</li>
							<li class="">
								<div>Total Fee: </div>
								<div><b>&yen;[[case.pr_case.total_price]]</b></div>
							</li>
							<li class="">
								<div>Language: </div>
								<div><b>[[case.pr_case.file_language]]</b></div>
							</li>
							<li class="">
								<div>File Size: </div>
								<div><b>[[case.pr_case.case_file_size]] KB</b></div>
							</li>
						</ul>
						<div class="sub-header pd-tp10 margin-zero text-red ">CASE TIMELINE</div>
						<ul class="list-unstyled list-inline progress-indicator">
							<li class="submitted">
								<span class="bubble back-red"></span>
								<div class="timeline-details">
									<b>[[case.pr_case.document_submitted_at]]</b>
									<div>Document Submitted</div>
									<div class="btn-file">
										<button class="btn download-original" ng-click="download(case.pr_case,$index,1,'download-original')"><i class="sci-download"></i> Original file</button>
										<a id="download_accessed_file_[[case.id]]" download></a>
									</div>
								</div>
							</li>
							<li class="completed-1">
								<div ng-if="!case.pr_case.accessor_one_time">
									<span class="bubble back-gray"></span>
									<div class="timeline-details">
										<i class="icon">
											<span class="sci-Time-And-file"></span>
										</i>
									</div>
								</div>
								<div ng-if="case.pr_case.accessor_one_time">
									<span class="bubble [[case.pr_case.accessor_one_case_bubble]]"></span>
									<div class="timeline-details">
										<b>[[case.pr_case.accessor_one_time]]</b>
										<div>1st Level Accessment Completed</div>
										<div class="btn-file">
											<button class="btn download-access1" ng-click="download(accessor,$index,2,'download-access1')"><i class="sci-download"></i> Download file</button>
										</div>
									</div>
								</div>
							</li>
							<li class="completed-2">
								<div ng-if="!case.pr_case.accessor_two_time">
									<span class="bubble back-gray"></span>
									<div class="timeline-details">
										<i class="icon">
											<span class="sci-Time-And-file"></span>
										</i>
									</div>
								</div>
								<div ng-if="case.pr_case.accessor_two_time">
									<span class="bubble [[case.pr_case.accessor_two_case_bubble]]"></span>
									<div class="timeline-details">
										<b>[[case.pr_case.accessor_two_time]]</b>
										<div>2nd Level Accessment Completed</div>
										<div class="btn-file">
											<button class="btn download-access2" ng-click="download(case,$index,3,'download-access2')"><i class="sci-download"></i> Download file</button>
										</div>
									</div>
								</div>
							</li>
							<li class="download">
								<div ng-if="case.pr_case.case_status != 4">
									<span class="bubble back-gray"></span>
									<div class="timeline-details">
										<i class="icon">
											<span class="sci-Time-And-file"></span>
										</i>
									</div>
								</div>
								<div ng-if="case.pr_case.case_status == 4">
									<span class="bubble [[case.pr_case.file_download_bubble]]"></span>
									<div class="timeline-details">
										<div>[[case.pr_case.file_downloaded]]</div>
									</div>	
								</div>
							</li>
						</ul>
					</div>
				</li>
			</ul>
			<ul class="list-unstyled panel-group" ng-if="accessorCompletedJobCount==0">
				<li class="panel">
					<div class="media-body case-dec">
						<div class="left-side">
							<div class="sub-header text-black margin-zero">No jobs completed yet</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="my-cases delayed-caes">
			<div class="sub-header text-red margin-bt20 special-case-header sub-title">
				Transaction History
				<div class="pull-right">
					<a class="btn btn-sm">Mark Payment Cleared</a>
				</div>
			</div>
			<table class="table back-white">
				<thead>
					<tr>
						<th width="60%">Transaction Info</th>
						<th width="60%">Transaction Mode</th>
						<th width="15%">Amount</th>
						<th width="15%">Outstanding Balance</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="transaction-details">
							<div class="list-dots-circle">
								<span class="circle back-green"></span>
								<div class="circle-space">
									<label>Completion of Case (ID: 3244)</label>
									<div>Date: 12 July, 4:45 PM</div>
								</div>
							</div>
						</td>
						<td> <b class="">Bank Transfer</b></td>
						<td> <b class="text-green">&yen; 500</b></td>
						<td><b>&yen; 500</b></td>
					</tr>
					<tr>
						<td class="transaction-details">
							<div class="list-dots-circle">
								<span class="circle back-red"></span>
								<div class="circle-space">
									<label>Completion of Case (ID: 3244)</label>
									<div>Date: 12 July, 4:45 PM</div>
								</div>
							</div>
						</td>
						<td> <b class="">AliPay</b></td>
						<td> <b class="text-red">&yen; 500</b></td>
						<td><b>&yen; 500</b></td>
					</tr>
					<tr>
						<td class="transaction-details">
							<div class="list-dots-circle">
								<span class="circle back-red"></span>
								<div class="circle-space">
									<label>Completion of Case (ID: 3244)</label>
									<div>Date: 12 July, 4:45 PM</div>
								</div>
							</div>
						</td>
						<td> <b class="">WeChat</b></td>
						<td> <b class="text-green">&yen; 500</b></td>
						<td><b>&yen; 500</b></td>
					</tr>
					<tr>
						<td class="transaction-details">
							<div class="list-dots-circle">
								<span class="circle back-green"></span>
								<div class="circle-space">
									<label>Completion of Case (ID: 3244)</label>
									<div>Date: 12 July, 4:45 PM</div>
								</div>
							</div>
						</td>
						<td> <b class="">Bank Transfer</b></td>
						<td> <b class="text-green">&yen; 500</b></td>
						<td><b>&yen; 500</b></td>
					</tr>
					<tr>
						<td class="transaction-details">
							<div class="list-dots-circle">
								<span class="circle back-red"></span>
								<div class="circle-space">
									<label>Completion of Case (ID: 3244)</label>
									<div>Date: 12 July, 4:45 PM</div>
								</div>
							</div>
						</td>
						<td> <b class="">AliPay</b></td>
						<td> <b class="text-red">&yen; 500</b></td>
						<td><b>&yen; 500</b></td>
					</tr>
				</tbody>
			</table>
			<div class="pagination-section clearfix">
				<span class="text-purple-light">
					<span class="status">
						<label class="margin-tp5">Showing 1 to 10 of 57 entries</label>
					</span>
					<ul class="pagination pager pull-right margin-zero">
	                  	<li class=""><a href=""><i class="fa fa-chevron-left"></i></a></li>
	                  	<li class="active"><a href="javascript:void(0)">1</a></li>
	                  	<li class=""><a href="javascript:void(0)">2</a></li>
	                  	<li class=""><a href="javascript:void(0)">3</a></li>
	                  	<li class=""><a href=""><i class="fa fa-chevron-right"></i></a></li>
		            </ul>
				</span>
			</div>
		</div>
	</div>
</section>