<section class="section cases pr-home">
	<div class="container">
		<div class="title">
			OPEN CASES
		</div>
		<div class="my-cases">
			<ul class="list-unstyled panel-group" id="accordion" ng-if="openCasesCount > 0" ng-repeat="case in cases">
				<li class="panel">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">[[case.case_original_file_name]]</div>
								<div ng-repeat="accessor in case.accessment_time">
									<div>Level [[$index+1]] Accessor : <span> [[accessor.accessor_information.first_name]] [[accessor.accessor_information.last_name]] </span></div>
								</div>
								<div>Client :<span><a href="javascript:void(0)"> [[case.case_user.first_name]] [[case.case_user.last_name]] </a></span></div>
							</div>
							<div class="right-side pull-right">
								<ul class="list-unstyled list-inline">
									<li class="border-right">
										<div>Total Fees:</div>
										<div><b>&yen; [[case.total_price]]</b></div>
									</li>
									<li class="border-right">
										<div>Target: </div>
										<div><b>[[case.proof_reading_package.service_package]]</b></div>
									</li>
									<li class="">
										<div>Total Remaining:</div>
										<div><b>18h 12m</b></div>
									</li>
								</ul>
							</div>
							<span class="icon-dd remove">
								<a download target="_self" href="resources/assets/images/video-viewing.jpg" class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-[[case.id]]" class="collapsed" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
					<div id="case-details-[[case.id]]" class="panel-collapse collapse in" aria-expanded="true" style="">
						<div class="sub-header pd-tp20 border-tp margin-tp30 text-red">CASE DETAILS</div>
						<ul class="list-unstyled list-inline case-list">
							<li class="">
								<div>Case ID:</div>
								<div><b>[[case.id]]</b></div>
							</li>
							<li class="">
								<div>Total Words: </div>
								<div><b>[[case.total_words]]</b></div>
							</li>
							<li class="">
								<div>Service: </div>
								<div><b>Premium</b></div>
							</li>
							<li class="">
								<div>Language: </div>
								<div><b>English</b></div>
							</li>
							<li class="">
								<div>File Size: </div>
								<div><b>[[case.case_file_size]] KB</b></div>
							</li>
							<li class="change-btn" ng-if="case.cases_type == 1 && case.case_status == 1">
								<a class="btn" data-target="#available-accessor-[[case.id]]" data-toggle="modal">Change Accessor</a>
							</li>
						</ul>
						<div class="sub-header pd-tp10 margin-zero text-red">CASE TIMELINE</div>
						<ul class="list-unstyled list-inline progress-indicator">
							<li class="submitted">
								<span class="bubble back-red"></span>
								<div class="timeline-details">
									<b>[[case.document_submitted_at]]</b>
									<div>Document Submitted</div>
									<div class="btn-file">
										<button class="btn download-original" ng-click="download(case,$index,1,'download-original')"><i class="sci-download"></i> Original file</button>
										<a id="download_accessed_file_[[case.id]]" download></a>
									</div>
								</div>
							</li>
							<li class="completed-1">
								<div ng-if="!case.accessor_one_time">
									<span class="bubble back-gray"></span>
									<div class="timeline-details">
										<i class="icon">
											<span class="sci-Time-And-file"></span>
										</i>
									</div>
								</div>
								<div ng-if="case.accessor_one_time">
									<span class="bubble [[case.accessor_one_case_bubble]]"></span>
									<div class="timeline-details">
										<b>[[case.accessor_one_time]]</b>
										<div>1st Level Accessment Completed</div>
										<div class="btn-file">
											<button class="btn download-access1" ng-click="download(case,$index,2,'download-access1')"><i class="sci-download"></i> Download file</button>
										</div>
									</div>	
								</div>
							</li>
							<li class="completed-2">
								<div ng-if="!case.accessor_two_time">
									<span class="bubble back-gray"></span>
									<div class="timeline-details">
										<i class="icon">
											<span class="sci-Time-And-file"></span>
										</i>
									</div>
								</div>
								<div ng-if="case.accessor_two_time">
									<span class="bubble [[case.accessor_two_case_bubble]]"></span>
									<div class="timeline-details">
										<b>[[case.accessor_two_time]]</b>
										<div>2nd Level Accessment Completed</div>
										<div class="btn-file">
											<button class="btn download-access2" ng-click="download(case,$index,3,'download-access2')"><i class="sci-download"></i> Download file</button>
										</div>
									</div>	
								</div>
							</li>
							<li class="download">
								<div ng-if="case.case_status != 4">
									<span class="bubble back-gray"></span>
									<div class="timeline-details">
										<i class="icon">
											<span class="sci-Time-And-file"></span>
										</i>
										<div class="btn-file">
											<a ng-if="case.case_status == 1" class="btn cancel_[[case.id]]" data-target="#cancel-case-[[case.id]]" data-toggle="modal"><i class="sci-cancel"></i> Cancel Case</a>
										</div>
									</div>
								</div>
								<div ng-if="case.case_status == 4">
									<span class="bubble [[case.file_download_bubble]]"></span>
									<div class="timeline-details">
										<div>[[case.file_downloaded]]</div>
									</div>	
								</div>
							</li>
						</ul>
					</div>
				</li>
				<div class="modal fade" id="available-accessor-[[case.id]]">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">×</button>
								<h4 class="modal-title">Available Accessors</h4>
							</div>
							<div class="modal-body inline-block" ng-if="availableAccessorsLength > 0">
								<ul class="list-unstyled">
									<li class="inline-block" ng-repeat="accessor in accessors">
										<div class="pull-left">
											<div class="sub-header text-black margin-zero">[[accessor.first_name]] [[accessor.last_name]]</div>
											<div>
												<label>ID:</label>
												<span>
													<span>[[accessor.id]]</span>
													<span>(Level [[accessor.level_type]])</span>
													<span>(Team 1)</span>
												</span>
											</div>
										</div>
										<div class="pull-right">
											<button class="btn assign" ng-click="Assignaccessor(accessor.id,accessor,case.id,case.case_status,'open')">
												<i class="sci-file"></i> Assign
											</button>
										</div>
									</li>
								</ul>
							</div>
							<div class="modal-body inline-block" ng-if="availableAccessorsLength==0">
								<ul class="list-unstyled">
									<li class="inline-block">
										<div class="pull-left">
											<div class="sub-header text-black margin-zero">No accessor available</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="cancel-case-[[case.id]]">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close case_cancel" data-dismiss="modal">×</button>
								<h4 class="modal-title">Cancel Case - [[case.case_original_file_name]]</h4>
							</div>
							<div class="modal-body inline-block">
								<form name="cancelcase" ng-submit="cancelcase.CancelCase()" novalidate class="validation-form">
									<input class="form-control" type="Text" name="cancel_reason" id="cancel_reason" ng-model="cancel_reason" required placeholder="Reason to cancel the file..">
									<div ng-show="cancelcase.cancel_reason.$error.required" class="help-block">Required</div>
									<button type="submit" class="btn btn-sm" ng-disabled=!cancelcase.$valid ng-click="CancelCase(cancel_reason,case.case_user,case.id)">Done</button>	
								</form>
							</div>
						</div>
					</div>
				</div>
			</ul>
			<ul class="list-unstyled panel-group" ng-if="openCasesCount==0">
				<li class="panel">
					<div class="media-body case-dec">
						<div class="left-side">
							<div class="sub-header text-black margin-zero">No open case(s)</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>