<article class="open-special-cases-page">
  <section>
  	<div class="container">
    	<div class="white-panel-div">
        <div class="page-heading">
            <h2>Delayed Case(s)</h2> 
        </div>
        <!--Listing-->
        <ul class="cases-list border">
            <li class="gray" ng-repeat="delayedcases in cases.delayed_cases" ng-if="delayedCasesCount > 0">
              <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn" id="case_[[delayedcases.id]]"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
                <div class="row">
                  <div class="col-sm-7 col-lg-7">
                    <table cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                        <td><h5>[[delayedcases.case_original_file_name]]</h5>
                          <p>Level 1 Accessor: UNASSIGNED</p>
                          <p>Client: <a href="#">[[delayedcases.case_user.first_name]] [[delayedcases.case_user.last_name]]</a></p></td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-sm-5 col-lg-5 text-right"> 
                    <div class="right-content-block">
                        <div class="row">
                            <div class="col-xs-4 line">
                                <h5>Total Fees</h5>
                                &yen; [[delayedcases.total_price]]
                            </div>
                            <div class="col-xs-4 line">
                                <h5>Target</h5>
                                [[delayedcases.proof_reading_package.service_package]] hrs
                            </div>
                            <div class="col-xs-4 line">
                                <h5>Total Remaining</h5>
                                18h 12m
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="expand-content" id="case-details_[[delayedcases.id]]">
                <h6>Case Details</h6>
                <div class="row">
                    <div class="col-md-9 col-lg-9">
                      <ul class="case-d-list">
                        <li>Case ID:<br />[[delayedcases.id]]</li>
                        <li>Total Words:<br />[[delayedcases.total_words]]</li>
                        <li ng-if="delayedcases.package_type == 1">Service<br />Standard</li>
                        <li ng-if="delayedcases.package_type == 2">Service<br />Premium</li>
                        <li>Language:<br />[[delayedcases.file_language]]</li>
                        <li>File Size:<br />[[delayedcases.case_file_size]] KB</li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-lg-3 right-btn">
                        <a data-target="#available-accessor-delayed-[[delayedcases.id]]" data-toggle="modal" class="btn btn-dark-gray btn-sm">Change Accessor</a>
                    </div>
                </div>
                
                <h6>Case Timeline</h6>
                <div class="box-outer-div">
                  <div class="row">
                    <div class="col-xs-6 col-sm-3 dot-status red">
                      <div class="box01">
                        <div>
                          <h4>[[delayedcases.document_submitted_at]]</h4>
                          <p>Document Submitted</p> 
                          <button class="btn btn-dark-gray btn-sm download-original" ng-click="download(delayedcases,$index,1,'download-original')"><i class="sci-download"></i> Original file</button>
                          <a id="download_accessed_file_[[delayedcases.id]]" download></a>
                          <!-- <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a> -->
                          </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status gray" ng-if="!delayedcases.accessor_one_time">
                      <div class="box01">
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status blue" ng-if="delayedcases.accessor_one_time">
                      <div class="box01">
                        <div>
                          <h4>[[delayedcases.accessor_one_time]]</h4>
                         <p>1st Level Accessment Completed</p> 
                          <!-- <a href="javascript:;" class="btn btn-dark-gray btn-sm">Accessed File</a> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status gray" ng-if="!delayedcases.accessor_two_time">
                      <div class="box01">
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status yellow" ng-if="delayedcases.accessor_two_time">
                      <div class="box01">
                        <div>
                          <h4>[[delayedcases.accessor_two_time]]</h4>
                         <p>2nd Level Accessment Completed</p> 
                          <!-- <a href="javascript:;" class="btn btn-dark-gray btn-sm">Download File</a> -->
                          </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status gray" ng-if="delayedcases.case_status != 4">
                      <div class="box01">
                        <div> 
                          <p>File not yet<br />downloaded</p> 
                          <a ng-if="delayedcases.case_status == 5" class="btn btn-dark-gray btn-sm cancel_btn" data-target="#cancel-case-delayed-[[delayedcases.id]]" data-toggle="modal">Cancel Case</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status green" ng-if="delayedcases.case_status == 4">
                      <div class="box01">
                        <div> 
                          <p>[[delayedcases.file_downloaded]]</p> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="available-accessor-delayed-[[delayedcases.id]]">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                      <h4 class="modal-title">Available Accessors</h4>
                    </div>
                    <div class="modal-body inline-block" ng-if="availableAccessorsLength > 0">
                      <ul class="list-unstyled">
                        <li class="inline-block custom_li" ng-repeat="accessor in accessors">
                          <div class="pull-left">
                            <div class="sub-header text-black margin-zero">[[accessor.first_name]] [[accessor.last_name]]</div>
                            <div>
                              <label>ID:</label>
                              <span>
                                <span>[[accessor.id]]</span>
                                <span>(Level [[accessor.level_type]])</span>
                                <span>(Team 1)</span>
                              </span>
                            </div>
                          </div>
                          <div class="pull-right">
                            <button class="btn assign" ng-click="Assignaccessor(accessor.id,accessor,delayedcases.id,delayedcases.case_status,'open')">
                              <i class="sci-file"></i> Assign
                            </button>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="modal-body inline-block" ng-if="availableAccessorsLength==0">
                      <ul class="list-unstyled">
                        <li class="inline-block">
                          <div class="pull-left">
                            <div class="sub-header text-black margin-zero">No accessor available</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="cancel-case-delayed-[[delayedcases.id]]">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close case_cancel" data-dismiss="modal">×</button>
                      <h4 class="modal-title">Cancel Case - [[delayedcases.case_original_file_name]]</h4>
                    </div>
                    <div class="modal-body inline-block">
                      <form name="cancelcase" ng-submit="cancelcase.CancelCase()" novalidate class="validation-form">
                        <input class="form-control" type="Text" name="cancel_reason" id="cancel_reason" ng-model="cancel_reason" required placeholder="Reason to cancel the file..">
                        <div ng-show="cancelcase.cancel_reason.$error.required" class="help-block">Required</div>
                        <button type="submit" class="btn btn-sm" ng-disabled=!cancelcase.$valid ng-click="CancelCase(cancel_reason,delayedcases.case_user,delayedcases.id)">Done</button> 
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li ng-if="delayedCasesCount==0">
              <div class="media-body case-dec">
                <div class="left-side">
                  <div class="sub-header text-black margin-zero">No Delayed case(s)</div>
                </div>
              </div>
            </li>
            <!-- <li class="gray">
              <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
                <div class="row">
                  <div class="col-sm-7 col-lg-7">
                    <table cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                        <td><h5>Final Semester Thesis 2017.docx</h5>
                           <p>Level 1 Accessor: Jason Lin</p>
                          <p>Client: <a href="#">Adam Priestly</a></p></td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-sm-5 col-lg-5 text-right"> 
                    <div class="right-content-block">
                        <div class="row">
                            <div class="col-xs-4 line">
                                <h5>Total Fees</h5>
                                &yen; 250
                            </div>
                            <div class="col-xs-4 line">
                                <h5>Target</h5>
                                48 hrs
                            </div>
                            <div class="col-xs-4 line">
                                <h5>Total Remaining</h5>
                                18h 12m
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="expand-content">
                <h6>Case Details</h6>
                <div class="row">
                    <div class="col-md-9 col-lg-9">
                    <ul class="case-d-list">
                      <li>Case ID:<br />4342</li>
                      <li>Total Words:<br />442</li>
                      <li>Service<br />Premium</li>
                      <li>Language:<br />English</li>
                      <li>File Size:<br />204.3 KB</li>
                    </ul>
                    </div>
                    <div class="col-md-3 col-lg-3 right-btn">
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Change Accessor</a>
                    </div>
                </div>
                
                <h6>Case Timeline</h6>
                <div class="box-outer-div">
                  <div class="row">
                    <div class="col-xs-6 col-sm-3 dot-status red">
                      <div class="box01">
                        <div>
                          <h4>12 Apr, 4:45 pm</h4>
                          <p>Document Submitted</p> 
                          <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a>
                          </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status blue">
                      <div class="box01">
                        <div>
                            <span class="lg-icon"><i class="fa icon-1" aria-hidden="true"></i> </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status yellow">
                      <div class="box01">
                        <div>
                            <span class="lg-icon"><i class="fa icon-1" aria-hidden="true"></i> </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status green">
                      <div class="box01">
                        <div> 
                        <p>File not yet<br />downloaded</p> 
                          <a href="javascript:;" class="btn btn-dark-gray btn-sm">Cancel Case</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </li>
            <li class="gray">
              <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
                <div class="row">
                  <div class="col-sm-7 col-lg-7">
                    <table cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                        <td><h5>Final Semester Thesis 2017.docx</h5>
                          <p>Level 1 Accessor: Jason Lin</p>
                          <p>Client: <a href="#">Adam Priestly</a></p></td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-sm-5 col-lg-5 text-right"> 
                    <div class="right-content-block">
                        <div class="row">
                            <div class="col-xs-4 line">
                                <h5>Total Fees</h5>
                                &yen; 250
                            </div>
                            <div class="col-xs-4 line">
                                <h5>Target</h5>
                                48 hrs
                            </div>
                            <div class="col-xs-4 line">
                                <h5>Total Remaining</h5>
                                18h 12m
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="expand-content">
                <h6>Case Details</h6>
                <div class="row">
                    <div class="col-md-9 col-lg-9">
                    <ul class="case-d-list">
                      <li>Case ID:<br />4342</li>
                      <li>Total Words:<br />442</li>
                      <li>Service<br />Premium</li>
                      <li>Language:<br />English</li>
                      <li>File Size:<br />204.3 KB</li>
                    </ul>
                    </div>
                    <div class="col-md-3 col-lg-3 right-btn">
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Change Accessor</a>
                    </div>
                </div>
                
                <h6>Case Timeline</h6>
                <div class="box-outer-div">
                  <div class="row">
                    <div class="col-xs-6 col-sm-3 dot-status red">
                      <div class="box01">
                        <div>
                          <h4>12 Apr, 4:45 pm</h4>
                          <p>Document Submitted</p> 
                          <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a>
                          </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status blue">
                      <div class="box01">
                        <div>
                          <h4>12 Apr, 10:25 pm</h4>
                         <p>1st Level Accessment Completed</p> 
                          <a href="javascript:;" class="btn btn-dark-gray btn-sm">Accessed File</a></div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status yellow">
                      <div class="box01">
                        <div>
                          <h4>13 Apr, 7:00 am</h4>
                         <p>2nd Level Accessment Completed</p> 
                          <a href="javascript:;" class="btn btn-dark-gray btn-sm">Download File</a>
                          </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status green">
                      <div class="box01">
                        <div> 
                        <p>File not yet<br />downloaded</p> 
                          <a href="javascript:;" class="btn btn-dark-gray btn-sm">Cancel Case</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </li> -->                
        </ul>
        <!--Listing End-->
        
        <h3 class="sub-title">Unassigned Case(s)</h3>
         <!--Listing-->
        <ul class="cases-list border">
            <li class="gray" ng-repeat="unsiggnedcase in cases.unassigned_cases" ng-if="unassignedCasesCount > 0">
              <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn" ng-click="openCase(unsiggnedcase.id)" id="case_[[unsiggnedcase.id]]"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
                <div class="row">
                  <div class="col-sm-7 col-lg-7">
                    <table cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                        <td><h5>[[unsiggnedcase.case_original_file_name]]</h5>
                          <p>Level 1 Accessor: UNASSIGNED</p>
                          <p>Client: <a href="#">[[unsiggnedcase.case_user.first_name]] [[unsiggnedcase.case_user.last_name]]</a></p></td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-sm-5 col-lg-5 text-right"> 
                    <div class="right-content-block">
                        <div class="row">
                            <div class="col-xs-4 line">
                                <h5>Total Fees</h5>
                                &yen; [[unsiggnedcase.total_price]]
                            </div>
                            <div class="col-xs-4 line">
                                <h5>Target</h5>
                                [[unsiggnedcase.proof_reading_package.service_package]] hrs
                            </div>
                            <div class="col-xs-4 line">
                                <h5>Total Remaining</h5>
                                18h 12m
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="expand-content" id="case-details_[[unsiggnedcase.id]]">
                <h6>Case Details</h6>
                <div class="row">
                    <div class="col-md-9 col-lg-9">
                    <ul class="case-d-list">
                      <li>Case ID:<br />[[unsiggnedcase.id]]</li>
                      <li>Total Words:<br />[[unsiggnedcase.total_words]]</li>
                      <li ng-if="unsiggnedcase.package_type == 2">Service<br />Premium</li>
                      <li ng-if="unsiggnedcase.package_type == 1">Service<br />Standard</li>
                      <li>Language:<br />[[unsiggnedcase.file_language]]</li>
                      <li>File Size:<br />[[unsiggnedcase.case_file_size]] KB</li>
                    </ul>
                    </div>
                    <div class="col-md-3 col-lg-3 right-btn" ng-if="unsiggnedcase.case_status == 1">
                        <a href="javascript:;" data-target="#available-accessor-unassigned-[[unsiggnedcase.id]]" data-toggle="modal" class="btn btn-dark-gray btn-sm">Assign Accessor</a>
                    </div>
                </div>
                
                <h6>Case Timeline</h6>
                <div class="box-outer-div">
                  <div class="row">
                    <div class="col-xs-6 col-sm-3 dot-status red">
                      <div class="box01">
                        <div>
                          <h4>[[unsiggnedcase.document_submitted_at]]</h4>
                          <p>Document Submitted</p>
                          <button class="btn btn-dark-gray btn-sm download-original" ng-click="download(unsiggnedcase,$index,1,'download-original')"><i class="sci-download"></i> Original file</button>
                          <a id="download_accessed_file_[[unsiggnedcase.id]]" download></a>
                          <!-- <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a> -->
                          </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status gray">
                      <div class="box01">
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status gray">
                      <div class="box01">
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status gray">
                      <div class="box01">
                        <div> 
                          <a href="javascript:;" class="btn btn-dark-gray btn-sm cancel_[[unsiggnedcase.id]]" data-target="#cancel-case-unassigned-[[unsiggnedcase.id]]" data-toggle="modal">Cancel Case</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
              <!-- <div class="modal fade" id="available-accessor-unassigned-[[unsiggnedcase.id]]">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                      <h4 class="modal-title">Available Accessors</h4>
                    </div>
                    <div class="modal-body inline-block" ng-if="availableAccessorsLength > 0">
                      <ul class="list-unstyled custom_li" ng-repeat="accessor in accessors">
                        <li class="inline-block">
                          <div class="pull-left">
                            <div class="sub-header text-black margin-zero">[[accessor.first_name]] [[accessor.last_name]]</div>
                            <div>
                              <label>ID:</label>
                              <span>
                                <span>[[accessor.id]]</span>
                                <span>(Level [[accessor.level_type]])</span>
                                <span>(Team 1)</span>
                              </span>
                            </div>
                          </div>
                          <div class="pull-right">
                            <a class="btn" ng-click="Assignaccessor(accessor.id,accessor,unsiggnedcase.id,unsiggnedcase.case_status,'unsiggned')">
                              <i class="sci-file"></i> Assign
                            </a>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="modal-body inline-block" ng-if="availableAccessorsLength==0">
                      <ul class="list-unstyled">
                        <li class="inline-block">
                          <div class="pull-left">
                            <h4 class="sub-header text-black margin-zero">No accessor available</h4>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="modal fade" id="available-accessor-unassigned-[[unsiggnedcase.id]]">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                      <h4 class="modal-title">Available Accessors</h4>
                    </div>
                    <div class="modal-body inline-block" ng-if="availableAccessorsLength > 0">
                      <ul class="list-unstyled">
                        <li class="inline-block custom_li" ng-repeat="accessor in accessors">
                          <div class="pull-left">
                            <div class="sub-header text-black margin-zero">[[accessor.first_name]] [[accessor.last_name]]</div>
                            <div>
                              <label>ID:</label>
                              <span>
                                <span>[[accessor.id]]</span>
                                <span>(Level [[accessor.level_type]])</span>
                                <span>(Team 1)</span>
                              </span>
                            </div>
                          </div>
                          <div class="pull-right">
                            <button class="btn assign" ng-click="Assignaccessor(accessor.id,accessor,unsiggnedcase.id,unsiggnedcase.case_status,'open')">
                              <i class="sci-file"></i> Assign
                            </button>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="modal-body inline-block" ng-if="availableAccessorsLength==0">
                      <ul class="list-unstyled">
                        <li class="inline-block">
                          <div class="pull-left">
                            <div class="sub-header text-black margin-zero">No accessor available</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="cancel-case-unassigned-[[unsiggnedcase.id]]">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close case_cancel" data-dismiss="modal">×</button>
                      <h4 class="modal-title">Cancel Case - [[unsiggnedcase.case_original_file_name]]</h4>
                    </div>
                    <div class="modal-body inline-block">
                      <form name="cancelcase" ng-submit="cancelcase.CancelCase()" novalidate class="validation-form">
                        <input class="form-control" type="Text" name="cancel_reason" id="cancel_reason" ng-model="cancel_reason" required placeholder="Reason to cancel the file..">
                        <div ng-show="cancelcase.cancel_reason.$error.required" class="help-block">Required</div>
                        <button type="submit" class="btn btn-sm" ng-disabled=!cancelcase.$valid ng-click="CancelCase(cancel_reason,unsiggnedcase.case_user,unsiggnedcase.id)">Done</button> 
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li ng-if="unassignedCasesCount==0">
              <div class="media-body case-dec">
                <div class="left-side">
                  <div class="sub-header text-black margin-zero">No Unassigned case(s)</div>
                </div>
              </div>
            </li>
            <!-- <li class="gray">
              <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
                <div class="row">
                  <div class="col-sm-7 col-lg-7">
                    <table cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                        <td><h5>Final Semester Thesis 2017.docx</h5>
                           <p>Level 1 Accessor: Jason Lin</p>
                          <p>Client: <a href="#">Adam Priestly</a></p></td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-sm-5 col-lg-5 text-right"> 
                    <div class="right-content-block">
                        <div class="row">
                            <div class="col-xs-4 line">
                                <h5>Total Fees</h5>
                                &yen; 250
                            </div>
                            <div class="col-xs-4 line">
                                <h5>Target</h5>
                                48 hrs
                            </div>
                            <div class="col-xs-4 line">
                                <h5>Total Remaining</h5>
                                18h 12m
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="expand-content">
                <h6>Case Details</h6>
                <div class="row">
                    <div class="col-md-9 col-lg-9">
                    <ul class="case-d-list">
                      <li>Case ID:<br />4342</li>
                      <li>Total Words:<br />442</li>
                      <li>Service<br />Premium</li>
                      <li>Language:<br />English</li>
                      <li>File Size:<br />204.3 KB</li>
                    </ul>
                    </div>
                    <div class="col-md-3 col-lg-3 right-btn">
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Change Accessor</a>
                    </div>
                </div>
                
                <h6>Case Timeline</h6>
                <div class="box-outer-div">
                  <div class="row">
                    <div class="col-xs-6 col-sm-3 dot-status red">
                      <div class="box01">
                        <div>
                          <h4>12 Apr, 4:45 pm</h4>
                          <p>Document Submitted</p> 
                          <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a>
                          </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status blue">
                      <div class="box01">
                        <div>
                            <span class="lg-icon"><i class="fa icon-1" aria-hidden="true"></i> </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status yellow">
                      <div class="box01">
                        <div>
                            <span class="lg-icon"><i class="fa icon-1" aria-hidden="true"></i> </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status green">
                      <div class="box01">
                        <div> 
                        <p>File not yet<br />downloaded</p> 
                          <a href="javascript:;" class="btn btn-dark-gray btn-sm">Cancel Case</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </li> -->
        </ul>
        <!--Listing End-->
        
          
         <h3 class="sub-title">High Word Count Case(s)</h3>
         <!--Listing-->
        <ul class="cases-list border">
            <li class="gray" ng-repeat="highwordcount in cases.higher_word_count_cases" ng-if="higherWordCountCasesCount > 0">
              <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn" ng-click="openCase(highwordcount.id)" id="case_[[highwordcount.id]]"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
                <div class="row">
                  <div class="col-sm-7 col-lg-7">
                    <table cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                        <td><h5>[[highwordcount.case_original_file_name]]</h5>
                          <p>Level 1 Accessor: UNASSIGNED</p>
                          <p>Client: <a href="#">[[highwordcount.case_user.first_name]] [[highwordcount.case_user.last_name]]</a></p></td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-sm-5 col-lg-5 text-right"> 
                    <div class="right-content-block">
                        <div class="row">
                            <div class="col-xs-4 line">
                                <h5>Total Fees</h5>
                                &yen; [[highwordcount.total_price]]
                            </div>
                            <div class="col-xs-4 line">
                                <h5>Target</h5>
                                [[highwordcount.proof_reading_package.service_package]] hrs
                            </div>
                            <div class="col-xs-4 line">
                                <h5>Total Remaining</h5>
                                18h 12m
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="expand-content" id="case-details_[[highwordcount.id]]">
                <h6>Case Details</h6>
                <div class="row">
                    <div class="col-md-9 col-lg-9">
                    <ul class="case-d-list">
                      <li>Case ID:<br />[[highwordcount.id]]</li>
                      <li>Total Words:<br />[[highwordcount.total_words]]</li>
                      <li ng-if="highwordcount.package_type == 2">Service<br />Premium</li>
                      <li ng-if="highwordcount.package_type == 1">Service<br />Standard</li>
                      <li>Language:<br />[[highwordcount.file_language]]</li>
                      <li>File Size:<br />[[highwordcount.case_file_size]] KB</li>
                    </ul>
                    </div>
                    <div class="col-md-3 col-lg-3 right-btn" ng-if="highwordcount.case_status == 1">
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm" data-target="#available-accessor-highwordcount-[[highwordcount.id]]" data-toggle="modal">Assign Accessor</a>
                    </div>
                </div>
                
                <h6>Case Timeline</h6>
                <div class="box-outer-div">
                  <div class="row">
                    <div class="col-xs-6 col-sm-3 dot-status red">
                      <div class="box01">
                        <div>
                          <h4>[[highwordcount.document_submitted_at]]</h4>
                          <p>Document Submitted</p> 
                          <button class="btn btn-dark-gray btn-sm download-original" ng-click="download(highwordcount,$index,1,'download-original')"><i class="sci-download"></i> Original file</button>
                          <a id="download_accessed_file_[[highwordcount.id]]" download></a>
                          <!-- <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a> -->
                          </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status gray" ng-if="!highwordcount.accessor_one_time">
                      <div class="box01">
                        <div></div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status blue" ng-if="highwordcount.accessor_one_time">
                      <div class="box01">
                        <div>
                          <h4>[[highwordcount.accessor_one_time]]</h4>
                          <p>1st Level Accessment Completed</p> 
                          <!-- <a href="javascript:;" class="btn btn-dark-gray btn-sm">Accessed File</a> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status gray" ng-if="!highwordcount.accessor_two_time">
                      <div class="box01">
                        <div></div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status yellow" ng-if="highwordcount.accessor_two_time">
                      <div class="box01">
                        <div>
                          <h4>[[highwordcount.accessor_two_time]]</h4>
                         <p>2nd Level Accessment Completed</p> 
                          <!-- <a href="javascript:;" class="btn btn-dark-gray btn-sm">Download File</a> -->
                          </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status green" ng-if="highwordcount.case_status != 4">
                      <div class="box01">
                        <div> 
                          <a ng-if="highwordcount.case_status == 1" data-target="#cancel-case-highwordcount-[[highwordcount.id]]" data-toggle="modal" class="btn btn-dark-gray btn-sm">Cancel Case</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status green" ng-if="highwordcount.case_status == 4">
                      <div class="box01">
                        <div>[[highwordcount.file_downloaded]]</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="available-accessor-highwordcount-[[highwordcount.id]]">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                      <h4 class="modal-title">Available Accessors</h4>
                    </div>
                    <div class="modal-body inline-block" ng-if="availableAccessorsLength > 0">
                      <ul class="list-unstyled">
                        <li class="inline-block custom_li" ng-repeat="accessor in accessors">
                          <div class="pull-left">
                            <div class="sub-header text-black margin-zero">[[accessor.first_name]] [[accessor.last_name]]</div>
                            <div>
                              <label>ID:</label>
                              <span>
                                <span>[[accessor.id]]</span>
                                <span>(Level [[accessor.level_type]])</span>
                                <span>(Team 1)</span>
                              </span>
                            </div>
                          </div>
                          <div class="pull-right">
                            <button class="btn assign" ng-click="Assignaccessor(accessor.id,accessor,highwordcount.id,highwordcount.case_status,'open')">
                              <i class="sci-file"></i> Assign
                            </button>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="modal-body inline-block" ng-if="availableAccessorsLength==0">
                      <ul class="list-unstyled">
                        <li class="inline-block">
                          <div class="pull-left">
                            <div class="sub-header text-black margin-zero">No accessor available</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="cancel-case-highwordcount-[[highwordcount.id]]">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close case_cancel" data-dismiss="modal">×</button>
                      <h4 class="modal-title">Cancel Case - [[highwordcount.case_original_file_name]]</h4>
                    </div>
                    <div class="modal-body inline-block">
                      <form name="cancelcase" ng-submit="cancelcase.CancelCase()" novalidate class="validation-form">
                        <input class="form-control" type="Text" name="cancel_reason" id="cancel_reason" ng-model="cancel_reason" required placeholder="Reason to cancel the file..">
                        <div ng-show="cancelcase.cancel_reason.$error.required" class="help-block">Required</div>
                        <button type="submit" class="btn btn-sm" ng-disabled=!cancelcase.$valid ng-click="CancelCase(cancel_reason,highwordcount.case_user,highwordcount.id)">Done</button> 
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li ng-if="higherWordCountCasesCount==0">
              <div class="media-body case-dec">
                <div class="left-side">
                  <div class="sub-header text-black margin-zero">No higher word count case(s)</div>
                </div>
              </div>
            </li>
            <!-- <li class="gray">
              <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
                <div class="row">
                  <div class="col-sm-7 col-lg-7">
                    <table cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                        <td><h5>Final Semester Thesis 2017.docx</h5>
                           <p>Level 1 Accessor: Jason Lin</p>
                          <p>Client: <a href="#">Adam Priestly</a></p></td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-sm-5 col-lg-5 text-right"> 
                    <div class="right-content-block">
                        <div class="row">
                            <div class="col-xs-4 line">
                                <h5>Total Fees</h5>
                                &yen; 250
                            </div>
                            <div class="col-xs-4 line">
                                <h5>Target</h5>
                                48 hrs
                            </div>
                            <div class="col-xs-4 line">
                                <h5>Total Remaining</h5>
                                18h 12m
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="expand-content">
                <h6>Case Details</h6>
                <div class="row">
                    <div class="col-md-9 col-lg-9">
                    <ul class="case-d-list">
                      <li>Case ID:<br />4342</li>
                      <li>Total Words:<br />442</li>
                      <li>Service<br />Premium</li>
                      <li>Language:<br />English</li>
                      <li>File Size:<br />204.3 KB</li>
                    </ul>
                    </div>
                    <div class="col-md-3 col-lg-3 right-btn">
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Change Accessor</a>
                    </div>
                </div>
                
                <h6>Case Timeline</h6>
                <div class="box-outer-div">
                  <div class="row">
                    <div class="col-xs-6 col-sm-3 dot-status red">
                      <div class="box01">
                        <div>
                          <h4>12 Apr, 4:45 pm</h4>
                          <p>Document Submitted</p> 
                          <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a>
                          </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status blue">
                      <div class="box01">
                        <div>
                            <span class="lg-icon"><i class="fa icon-1" aria-hidden="true"></i> </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status yellow">
                      <div class="box01">
                        <div>
                            <span class="lg-icon"><i class="fa icon-1" aria-hidden="true"></i> </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 dot-status green">
                      <div class="box01">
                        <div> 
                        <p>File not yet<br />downloaded</p> 
                          <a href="javascript:;" class="btn btn-dark-gray btn-sm">Cancel Case</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </li> -->
        </ul>
        <!--Listing End-->  
          
      </div>
    </div>
  </section>
</article>
