<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-7">
          <h3 class="panel-title">Create New WorkSheet</h3>
        </div>
        <div class="col-sm-5 text-right">
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div id="" class="">      
         <form id="newWorkSheetForm">
          <!-- <div class="content-div">
            <div class="form-group">
            <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Title</label>
                </div>
                <div class="col-md-9 col-lg-5">
                  <input type="text" ng-model="worksheet_title" id="title" name="title" placeholder="WorkSheet Title" class="form-control">
                </div>
              </div>

            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Description</label>
                </div>
                <div class="col-md-9 col-lg-5">
                  <textarea ng-model="description" id="description" name="description" class="form-control" rows="6" placeholder="Description"></textarea>
                </div>
              </div>
            </div>
          </div> -->
          <div class="content-div">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Select Zone(s)</label>
                </div>
                <div class="col-md-10 col-lg-10 pink_checkbox"> 
                  <!-- <span class="custom-checkbox" ng-repeat="zone in zones">
                    <input ng-model="selectedZones[zone.id]" type="checkbox" name="video_for_zones[]" id="zone_[[zone.id]]" value="[[zone.id]]"/>
                    <label for="zone_[[zone.id]]">[[zone.zone_name]]</label>
                  </span> -->
                  <span class="custom-radio3" ng-repeat="zone in zones">
                    <input type="radio" name="zoneName" id="[[zone.id]]" value="[[zone.id]]" name="video_for_zones" ng-model="selectedZones.selected" ng-change="getSubjects(1)" />
                    <label for="[[zone.id]]">[[zone.zone_name]]</label>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2" ng-if="subjects">
                  <label class="label">Select Subject</label>
                </div>
                <div class="col-md-10 col-lg-10"> 
                  <span class="" ng-repeat="subject in subjects">
                    <input type="radio" name="subject_id" id="[[subject.id]]" value="[[subject.id]]" ng-click="Loadcategoriesforsubject(subject.id)" />
                    <label for="[[subject.id]]">[[subject.subject_name]]</label>
                    <span style="color: red">
                      <label ng-if="subject.otherZones.length>=1">This subject is also available in </label>
                      <label ng-repeat="zone in subject.otherZones">
                        <label ng-repeat="zon in zones">
                          <label ng-if="zon.id==zone && subject.otherZones.length==1">[[zon.zone_name]]</label>
                          <label ng-if="zon.id==zone && subject.otherZones.length>1">[[zon.zone_name]], </label>
                        </label>
                      </label>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Select Category</label>
                </div>
                <div class="col-md-10 col-lg-10"> 
                  <span ng-if="videoCategories" class="custom-radio3" ng-repeat="category in videoCategories">
                    <input type="radio" name="worksheet_category_id" id="category_[[category.id]]" ng-value="[[category.id]]" ng-click="Loadprerequisites(category.id)" />
                    <label for="category_[[category.id]]">[[category.category_name]]</label>
                  </span>
                  <span ng-if="!videoCategories" class="custom-radio3">
                    <label class="label">Select Subject</label>
                  </span>
                </div>
              </div>
            </div>
            <div ng-if="subCategories" class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Select Sub-Category</label>
                </div>
                <div class="col-md-10 col-lg-10"> 
                  <span class="custom-radio3" ng-repeat="subcategory in subCategories">
                    <input type="radio" name="subcategory_id" id="subcategory_[[subcategory.id]]" value="[[subcategory.id]]" />
                    <label for="subcategory_[[subcategory.id]]">[[subcategory.subcategory_name]]</label>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group displayNone">
              <div class="row">
                <div class="col-md-2 col-lg-2 marginTop">
                  <label class="label">Position</label>
                </div>
                <div class="col-md-6 col-lg-5">                  
                  <input type="text" numbers-only ng-model="worksheet_ordering" id="worksheet_ordering" name="worksheet_ordering" placeholder="Work Sheet Position" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2 marginTop">
                  <label class="label">Worksheet Thumbnail</label>
                </div>
                <div class="col-md-10 col-lg-10">
                  <input type="file" class="hide" id="video_thumbnail" name="worksheet_thumbnail" accept="image/*">
                  <div style="background-image:url(resources/assets/images/up-img.png);" id="video_thumbnail_select" class="img-div thumbnail_custom">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2 marginTop">
                  <label class="label">Download Button Title</label>
                </div>
                <div class="col-md-9 col-lg-5">
                  <input type="text" ng-model="download_button_text" id="download_title" name="download_button_text" placeholder="WorkSheet Download Button Title" class="form-control">
                </div>
              </div>
            </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2 marginTop">
                    <label class="label">English Title</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <input type="text" ng-model="title" id="title" name="title" placeholder="WorkSheet Title (English)" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2 marginTop">
                    <label class="label">English Description</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <textarea ng-model="description" id="description" name="description" class="form-control" rows="6" placeholder="Worksheet Description (English)"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2 marginTop">
                    <label class="label">Mandrin Title</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <input type="text" ng-model="title_chi" id="title_chi" name="title_chi" placeholder="WorkSheet Title (Mandrin)" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2 marginTop">
                    <label class="label">Mandrin Description</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <textarea ng-model="description_chi" id="description_chi" name="description_chi" class="form-control" rows="6" placeholder="Worksheet Description (Mandrin)"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2 marginTop">
                    <label class="label">Russian Title</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <input type="text" ng-model="title_ru" id="title_ru" name="title_ru" placeholder="WorkSheet Title (Russian)" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2 marginTop">
                    <label class="label">Russian Description</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <textarea ng-model="description_ru" id="description_ru" name="description_ru" class="form-control" rows="6" placeholder="Worksheet Description (Russian)"></textarea>
                  </div>
                </div>
              </div>
            <!-- <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Select Category</label>
                </div>
                <div class="col-md-10 col-lg-10"> 
                  <span class="custom-radio3" ng-repeat="category in videoCategories">
                    <input type="radio" name="worksheet_category_id" id="WorkSheet[[category.id]]" value="[[category.id]]" ng-click="Loadprerequisites(category.id)"/>
                    <label for="WorkSheet[[category.id]]">[[category.category_name]]</label>
                  </span>
                </div>
              </div>
            </div> -->
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2 marginTop">
                  <label class="label">Worksheet Access</label>
                </div>
                <div class="col-md-10 col-lg-10"> <span class="custom-radio3">
                  <input type="radio" name="worksheet_status" id="qa1" ng-model="worksheet_status" value="1"/>
                  <label for="qa1">Paid Subscribers</label>
                  </span> <span class="custom-radio3">
                  <input type="radio" name="worksheet_status" id="qa2" ng-model="worksheet_status" value="2" />
                  <label for="qa2">Free Users</label>
                  </span> 
                </div>
              </div>
            </div>
            <div class="form-group">                 
              <div class="row">
                <div class="col-md-2 col-lg-2 marginTop">
                  <label class="label">WorkSheet File</label>
                </div>
                <div class="col-md-9 col-lg-5">
                  <div class="form-group ui-state-default" id="worksheetFile">
                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                      <div class="form-control" data-trigger="fileinput">
                        <span class="fileinput-filename"></span>
                      </div>
                      <span class="input-group-addon btn btn-default btn-file">
                        <span class="fileinput-new">Select file</span>
                        <span class="fileinput-exists disable_color">Change</span>
                        <input type="file" name="worksheet_file"  mg-model="worksheet_file" accept="pdf/*" id="worksheet_file">
                      </span>
                      <a href="#" class="input-group-addon btn btn-default fileinput-exists disable_color" data-dismiss="fileinput">Remove</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>                                                          
          </div>
          <div class="content-div">
            <div class="form-group">
              <div class="row">
                <!-- <div class="col-md-2 col-lg-2"></div> -->
                <div class="col-md-10 col-lg-10">
                  <button class="btn btn-pink upload-new-work-sheet" id="ready-to-publish" ng-click="Uploadnewworksheet(2,'Ready To Publish','ready-to-publish')">Ready To Publish</button>
                  <button class="btn btn-pink upload-new-work-sheet" id="ready-to-publish" ng-click="Uploadnewworksheet(1,'Publish','publish')">Publish</button>
                  <!-- <button class="btn btn-pink upload-new-work-sheet" id="save-as-draft" ng-click="Uploadnewworksheet(3, 'Save As Draft', 'save-as-draft')">Save As Draft</button> -->
                </div>
              </div>
            </div>
          </div>
      </div>    
    </div>
  </div>
</section>
