<div class="section container course-video">
    <span class="title">
        COURSE VIDEOS
    </span>
    <span class="pull-right">
        <button ng-disabled="uploadDisable" class="btn" data-target="#upload-video" data-toggle="modal">
            [[upload_video_text]]
        </button>
    </span>
    <div class="content-list">
        <ul class="list-unstyled">
            <li ng-repeat="section in sections">
                <div class="box-list" data-target="#content-details[[section.id]]" data-toggle="collapse">
                    <a class="box section" href="">
                        SECTION #[[section.id]]
                    </a>
                    <a class="box name sub-header" href="">
                        [[section.category_name]]
                    </a>
                    <a class="box video-time" href="">
                        <div class="box-list">
                            <span class="box left">
                                ([[section.total_video_count]] VIDEOS)
                            </span>
                            <span class="box right icon-dd">
                                <i class="sci-down-arrow down">
                                </i>
                                <i class="sci-down-up up">
                                </i>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="collapse" id="content-details[[section.id]]" ng-if="section.total_video_count > 0">
                    <div class="divider">
                    </div>
                    <div class="my-cases">
                        <ul class="list-unstyled">
                            <li class="divider" ng-repeat="video in section.videos">
                                <div class="media">
                                    <div class="media-left">
                                        <!-- <img src="resources/assets/images/eng-teacher.jpg"> -->
                                        <video controls="" height="240" width="320">
                                            <source ng-src="[[video.video_url]]">
                                                <source ng-src="[[video.video_url]]" type="video/ogg">
                                                    Your browser does not support the video tag.
                                                </source>
                                            </source>
                                        </video>
                                    </div>
                                    <div class="media-body case-dec">
                                        <div class="left-side">
                                            <div class="sub-header margin-zero">
                                                [[video.title]]
                                            </div>
                                            <div class="list">
                                                <ul class="list-unstyled list-inline margin-zero">
                                                    <li>
                                                        <i class="sci-time">
                                                        </i>
                                                        [[video.video_duration]]
                                                    </li>
                                                    <li>
                                                        <i class="sci-Play-Video-o">
                                                        </i>
                                                        [[video.total_view_count]] Views
                                                    </li>
                                                    <li>
                                                        <i class="sci-calendar">
                                                        </i>
                                                        [[video.created_at]]
                                                    </li>
                                                </ul>
                                            </div>
                                            <p>
                                                [[video.description]]
                                            </p>
                                        </div>
                                        <span class="icon-dd">
                                            <a class="btn text-white dwnld-file [[video.video_status==1?'back-lr':'back-lg']]">
                                                [[video.video_status==1?'Paid':'Free']]
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<li>
    <div class="box-list">
        <form class="form-inline" id="section_form" name="form">
            <div class="row" ng-class="{true: 'error'}[submitted && form.email.$invalid]">
                <div class="col-sm-2">
                    <label class="control-label">
                        Add New Section :
                    </label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control large-input" id="category_name" name="category_name" ng-model="category_name" placeholder="Enter the name of new section" required="" type="text">
                    </input>
                </div>
                <div class="help-block help-inline" ng-show="submitted && form.category_name.$error.required">
                    Required
                </div>
                <div class="col-sm-8">
                    <textarea class="form-control large-input" cols="" id="description" name="description" ng-model="description" placeholder="Enter the description of new section" required="" rows="4">
                    </textarea>
                </div>
                <div class="col-sm-2" ng-click="addNewSection(category_name, description)">
                    <button class="btn" ng-disabled="!form.$valid">
                        <i class="sci-add">
                        </i>
                        CREATE
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<div class="modal fade" id="upload-video">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    Upload New video
                </h4>
            </div>
            <div class="modal-body">
                <div class="upload-details">
                    <form id="form_add_video" name="vm.form" ng-submit="vm.form.addNewVideo()">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">
                                        Video Title:
                                    </label>
                                    <input class="form-control" id="title" name="title" ng-model="title" required="" type="text">
                                    </input>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">
                                        Video Description:
                                    </label>
                                    <textarea class="form-control" id="description" minlength="3" name="description" ng-model="description" required="" rows="5">
                                    </textarea>
                                    <div class="help-block" ng-show="vm.form.description.$error.minlength">
                                        Description is too short.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-sm-5">
                                            Select Section:
                                        </label>
                                        <div class="col-sm-7">
                                            <select class="form-control" id="sectionid" ng-change="getVideos(sectionid)" ng-model="sectionid" required="">
                                                <option ng-repeat="section in sections" value="[[section.id]]">
                                                    [[section.category_name]]
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-sm-6">
                                            Video Position:
                                        </label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="video_ordering" ng-model="video_ordering" required="">
                                                <option ng-if="videoPositionData.length" ng-repeat="position in videoPositionData" value="[[position.video_ordering]]">
                                                    #[[position.video_ordering]]
                                                </option>
                                                <option ng-if="videoPositionData.length == 0" value="1">
                                                    #1
                                                </option>
                                                <option ng-if="videoPositionData.length" value="[[last_position]]">
                                                    #[[last_position]]
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-sm-3">
                                            Video Type:
                                        </label>
                                        <div class="col-sm-9 control-label">
                                            <span>
                                                Free
                                            </span>
                                            <span class="checkbox-set">
                                                <input id="video_type" name="video_type" ng-file-model="video_type" type="checkbox">
                                                    <span class="checkbox-btn">
                                                    </span>
                                                </input>
                                            </span>
                                            <span>
                                                Paid
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-sm-3">
                                            Video File:
                                        </label>
                                        <div class="col-sm-9">
                                            <span class="btn upload-btn back-light-gray text-black">
                                                <span class="upload-file">
                                                    <i class="sci-attache">
                                                    </i>
                                                    Browse File
                                                    <input id="file_name" name="file_name" ng-model="file_name" required="" type="file" valid-file="">
                                                    </input>
                                                    [[file_name]]
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button class="btn" ng-click="addNewVideo()" ng-disabled="!vm.form.$valid" type="submit">
                        <i class="sci-Upload">
                        </i>
                        Upload
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
