<section class="create-new-quiz-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <h3 class="panel-title">[[ quizData.title ]]</h3>
    </div>
    <div class="panel-body">
      <div class="content-div">
        <div class="quiz-info-head-new">
          <div class="row top">
            <div class="col-sm-2">
              <label>Zones</label>
            </div>
            <div class="col-sm-10">:
                <label><strong>[[ quizData.zones_string ]]</strong></label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3 col-sm-2">
              <label>Quiz Category</label>
            </div>
            <div class="col-xs-6 col-sm-2">:
              <strong>[[ quizData.category.category_name]]</strong>
            </div>  
            <div class="col-xs-3 col-sm-2">
              <label>Total Question(s)</label>
            </div>
            <div class="col-xs-6 col-sm-2">:
              <strong>[[ quizData.quizquestions_count]]</strong>
            </div>            
            <div class="col-xs-3 col-sm-2">
              <label>Published Status</label>
            </div>
            <div class="col-xs-6 col-sm-2">:
              <strong>[[ quizData.quiz_publish_status_name]] </strong>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3 col-sm-2">
              <label>Question Type</label>
            </div>
            <div class="col-xs-6 col-sm-2">:
              <strong ng-repeat="option in quizData.quizquestions">
                <strong ng-if="option.question_title">Text |</strong>
                <strong ng-if="option.question_image">Image |</strong>
                <strong ng-if="option.question_audio">Audio |</strong>
              </strong>
            </div>
            <div class="col-xs-3 col-sm-2">
              <label>Quiz Created</label>
            </div>
            <div class="col-xs-6 col-sm-2">:
              <strong> [[ quizData.new_created_at]]</strong>
            </div>
            <div class="col-xs-3 col-sm-2">
              <label>Quiz Status</label>
            </div>
            <div class="col-xs-6 col-sm-2">:
              <strong> [[ quizData.quiz_status_name]]</strong>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>


  <div class="panel panel-block">
    <div class="panel-heading">
      <h3 class="panel-title">Title<small class="small_blak_color">s</small> and Description<small class="small_blak_color">s</small></h3>
    </div>
    <div class="panel-body">
      <div class="content-div">
        <div class="quiz-info-head-new">
          <div>
            <div class="row">
              <div class="col-sm-2">
                <label>English Title</label>
              </div>
              <div class="col-sm-10">:
                <strong>[[quizData.title]]</strong>
              </div>  
            </div>
            <div class="row">
              <div class="col-sm-2">
                <label>English Description</label>
              </div>
              <div class="col-sm-10">:
                <strong>[[quizData.description]]</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <label>Mandrin Title</label>
              </div>
              <div class="col-sm-10">:
                <strong>[[quizData.title_chi]]</strong>
              </div>  
            </div>
            <div class="row">
              <div class="col-sm-2">
                <label>Mandrin Description</label>
              </div>
              <div class="col-sm-10">:
                <strong>[[quizData.description_chi]]</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <label>Russian Title</label>
              </div>
              <div class="col-sm-10">:
                <strong>[[quizData.title_ru]]</strong>
              </div>  
            </div>
            <div class="row">
              <div class="col-sm-2">
                <label>Russian Description</label>
              </div>
              <div class="col-sm-10">:
                <strong>[[quizData.description_ru]]</strong>
              </div>
            </div>
            <hr ng-if="!$last">
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="panel-group custom-accordion sortable">   
   <div class="panel" ng-repeat="quizquestion in quizData.quizquestions track by $index" data-id="[[quizquestion.id]]">
     <div class="panel-heading"   id="content_[[$index]]" >
       <h4 class="panel-title"> 
       <a href="javascript:;" > Question # [[$index + 1]] : [[quizquestion.question_title ]] 
         <span ng-if="quizData.quiz_published_status == 1 || quizData.quiz_published_status == 3" class="right-icon delete_right_icon" ng-click="Deletequestion(quizquestion.id)">
            <i class="fa fa-trash" aria-hidden="true"></i>
         </span>
         <span class="right-icon" ng-click="expand($index)">
            <i class="fa fa-plus" aria-hidden="true"></i>
         </span>
       </a> 
       </h4>
     </div>
     <div class="panel-collapse new-class-content" >
       <div class="panel-body sortable">       
              <div class="cnq-form-div">
                <div class="form-group">
                  <div class="row question_spacing">
                    <div class="col-sm-3">
                      <label class="label">Question</label>
                    </div>
                    <div class="col-sm-9">
                        [[quizquestion.question_title ]] 
                    </div>
                  </div>

                  <div class="row" ng-if="quizquestion.question_image">
                    <div class="col-sm-3">
                      <label class="label">Question Image</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group ui-state-default" id="questionImage">
                        <div class=" image-fields">
                          <div class="ui-state-default">                             
                            <div class="img-div question-image-class-div remove-max-width">  
                              <img ng-src="public/uploads/Quiz_options/[[quizquestion.question_image]]" class="question-image-class"/>                                
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                  <div class="row" ng-if="quizquestion.question_audio">
                    <div class="col-sm-3">
                      <label class="label">Question Audio</label>
                    </div>
                    <div class="col-sm-9">
                      <audio controls>                        
                        <source ng-src="public/uploads/Quiz_options/[[quizquestion.question_audio]]" type="audio/mpeg">
                        Your browser does not support the audio element.
                      </audio>
                    </div>
                  </div>
                </div>
                <hr>
                 
                <div class="" ng-repeat="options in quizquestion.quizquestionsoptions track by $index">
                  <div class="form-group ui-state-default"> 
                    <div class="row">
                      <div class="col-sm-3">
                        <label class="label">Option # [[ $index + 1]] </label>
                      </div>
                      <div class="col-sm-9">                        
                        <div class="fields" ng-if="options.options_type == 1">  
                             [[options.options_value]]                     
                             <a class="icon new-icon-class" ng-if="options.correct_answer == 1">
                              <i class="fa fa-check" aria-hidden="true"></i>
                             </a>
                        </div>
                        <div class="fields question-image-class-div" ng-if="options.options_type == 2">  
                             <img  ng-src="public/uploads/Quiz_options/[[ options.options_value ]]" alt="..." class="question-image-class" >                                                   
                             <a class="icon new-icon-class" ng-if="options.correct_answer == 1">
                              <i class="fa fa-check" aria-hidden="true"></i>
                             </a>
                        </div>
                        <div class="fields" ng-if="options.options_type == 3">  
                            <audio controls>                        
                              <source ng-src="public/uploads/Quiz_options/[[ options.options_value ]]" type="audio/mpeg">
                              Your browser does not support the audio element.
                            </audio>                                                   
                             <a class="icon new-icon-class" ng-if="options.correct_answer == 1">
                              <i class="fa fa-check" aria-hidden="true"></i>
                             </a>
                        </div>                                                                       
                      </div>
                    </div>
                  </div>
                </div>                                                 
              </div>
       </div>
     </div>
   </div>
  </div>
 <br/>
    <div class="b-btn">
      <a class="btn btn-pink" ng-click="PublishQuiz()" ng-disabled="quizData.quizquestions_count == 0" ng-if="quizData.quiz_published_status == 1 || quizData.quiz_published_status == 3">Publish</a>
      <a class="btn btn-pink" ng-click="UnPublishQuiz()" ng-disabled="quizData.quizquestions_count == 0" ng-if="quizData.quiz_published_status == 2">Unpublish</a>
      <a class="btn btn-pink" ng-if="quizData.quiz_published_status != 2" href="manage/ignite/edit-quiz/[[quizData.slug]]" >Edit</a>
      <a class="btn btn-pink" ng-if="quizData.quiz_published_status == 3 || quizData.quiz_published_status == 1" ng-click="deleteQuiz(quizData.id)" >Delete</a>
    </div>
</section>
<script>
  $('.custom-accordion .panel-heading').click(function () {
    $(this).toggleClass('active');
    $(this).next('.panel-collapse').slideToggle();
  });
</script>