<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-7">
          <h3 class="panel-title">Upload New Content</h3>
        </div>
        <div class="col-sm-5 text-right">
          <div class="tab-div">
            <button class="btn tablinks" ng-click="openCity('NewQuizTab')" id="quiztab">New Quiz</button>
            <button class="btn tablinks" ng-click="openCity('NewVideoTab')" id="videotab">New Video</button>
            <button class="btn tablinks" ng-click="openCity('NewWorkSheetTab')" id="workSheettab">New WorkSheet</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div id="NewQuizTab" class="tabcontent">
        <form id="newQuizForm">
          <input type="hidden" name="hidQuizID" id="hidQuizID" ng-model="quizId" >
          <div class="content-div">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Select Quiz</label>
                </div>
                <div class="col-md-6 col-lg-4">
                  <select class="form-control" ng-change="setQuizId(id)" ng-model="id">
                    <option value="">Please Select Quiz</option>
                    <option ng-repeat="quiz in quizList" value="[[quiz]]">[[quiz.title]]</option>
                  </select>
                </div>
                <div class="col-md-4 col-lg-6"> <a class="btn btn-pink" href="manage/ignite/create-new-quiz"><i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Create New Quiz</a> </div>
              </div>
            </div>
            <!-- <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Description</label>
                </div>
                <div class="col-md-9 col-lg-5">
                  <textarea  class="form-control" rows="6" placeholder="Description" name="quiz_description" ng-model="quiz_description"></textarea>
                </div>
              </div>
            </div> -->
          </div>
          <div class="content-div">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Select Zone(s)</label>
                </div>
                <div class="col-md-10 col-lg-10 pink_checkbox"> 
                  <!-- <span class="custom-checkbox" ng-repeat="zone in zones">
                    <input ng-model="selectedZones[zone.id]" type="checkbox" name="video_for_zones[]" id="zone_[[zone.id]]" value="[[zone.id]]"/>
                    <label for="zone_[[zone.id]]">[[zone.zone_name]]</label>
                  </span> -->
                  <span class="" ng-repeat="zone in zones">
                    <input type="radio" name="zoneName" id="[[zone.id]]" value="[[zone.id]]" name="video_for_zones" ng-model="selectedZones.selected" ng-change="getSubjects(1)" />
                    <label for="[[zone.id]]">[[zone.zone_name]]</label>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2" ng-if="subjects">
                  <label class="label">Select Subject</label>
                </div>
                <div class="col-md-10 col-lg-10"> 
                  <span class="" ng-repeat="subject in subjects">
                    <input type="radio" name="subject_id" id="[[subject.id]]" value="[[subject.id]]" ng-click="Loadcategoriesforsubject(subject.id)" />
                    <label for="[[subject.id]]">[[subject.subject_name]]</label>
                    <span style="color: red">
                      <label ng-if="subject.otherZones.length>=1">This subject is also available in </label>
                      <label ng-repeat="zone in subject.otherZones">
                        <label ng-repeat="zon in zones">
                          <label ng-if="zon.id==zone && subject.otherZones.length==1">[[zon.zone_name]]</label>
                          <label ng-if="zon.id==zone && subject.otherZones.length>1">[[zon.zone_name]], </label>
                        </label>
                      </label>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Select Category</label>
                </div>
                <div class="col-md-10 col-lg-10"> 
                  <span ng-if="videoCategories" class="custom-radio3" ng-repeat="category in videoCategories">
                    <input type="radio" name="quiz_category_id" id="category_[[category.id]]" ng-value="[[category.id]]" ng-click="Loadprerequisites(category.id)" />
                    <label for="category_[[category.id]]">[[category.category_name]]</label>
                  </span>
                  <span ng-if="!videoCategories" class="custom-radio3">
                    <label class="label">Select Subject</label>
                  </span>
                </div>
              </div>
            </div>
            <div ng-if="subCategories" class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Select Sub-Category</label>
                </div>
                <div class="col-md-10 col-lg-10"> 
                  <span class="custom-radio3" ng-repeat="subcategory in subCategories">
                    <input type="radio" name="subcategory_id" id="subcategory_[[subcategory.id]]" value="[[subcategory.id]]" />
                    <label for="subcategory_[[subcategory.id]]">[[subcategory.subcategory_name]]</label>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group displayNone">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Quiz Position</label>
                </div>
                <div class="col-md-6 col-lg-4">
                    <input type="text" numbers-only ng-model="quiz_ordering" id="quiz_ordering" name="quiz_ordering" placeholder="Quiz Position" class="form-control">                
                </div>
              </div>
            </div>
            <div class="" ng-if="showTitleDescriptionDiv">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">English Title</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <input type="text" ng-model="worksheet_title" id="title_[[language.language]]" name="title" placeholder="Quiz Title (English)" class="form-control">
                    <!-- <input type="hidden" ng-model="worksheet_title" id="language_[[language.language]]" name="details[ [[$index]] ][language]" value="[[language.language]]"> -->
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">English Description</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <textarea ng-model="description" id="description_[[language.language]]" name="description" class="form-control" rows="6" placeholder="Quiz Description (English)"></textarea>
                    <!-- <input type="hidden" ng-model="worksheet_title" id="title" name="description[ [[$index]] ][language]"> -->
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Mandrin Title</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <input type="text" ng-model="worksheet_title_chi" id="title_[[language.language]]" name="title_chi" placeholder="Quiz Title (Mandrin)" class="form-control">
                    <!-- <input type="hidden" ng-model="worksheet_title" id="language_[[language.language]]" name="details[ [[$index]] ][language]" value="[[language.language]]"> -->
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Mandrin Description</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <textarea ng-model="description_chi" id="description_[[language.language]]" name="description_chi" class="form-control" rows="6" placeholder="Quiz Description (Mandrin)"></textarea>
                    <!-- <input type="hidden" ng-model="worksheet_title" id="title" name="description[ [[$index]] ][language]"> -->
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Russian Title</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <input type="text" ng-model="worksheet_title_ru" id="title_[[language.language]]" name="title_ru" placeholder="Quiz Title (Russian)" class="form-control">
                    <!-- <input type="hidden" ng-model="worksheet_title" id="language_[[language.language]]" name="details[ [[$index]] ][language]" value="[[language.language]]"> -->
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Russian Description</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <textarea ng-model="description_ru" id="description_[[language.language]]" name="description_ru" class="form-control" rows="6" placeholder="Quiz Description (Russian)"></textarea>
                    <!-- <input type="hidden" ng-model="worksheet_title" id="title" name="description[ [[$index]] ][language]"> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Pre-requisite</label>
                </div>
                <div class="col-md-6 col-lg-4">                
                  <select class="form-control preRequisitesQuizes upper-space" name="preRequisitesQuizes[]" id="prerequisitesquizes_[[prerequisitesQuizCounter]]">
                      <option value="">Select</option>
                      <option ng-repeat="video in preRequisitesQuizes" value="[[video.id]]|[[video.hasOwnProperty('VIDEO')? 'Video':'Quiz']]" >[[video.title]] -- ([[video.hasOwnProperty('VIDEO')? 'Video':'Quiz']])</option>
                    </select>
                  <div id="preRequisitesQuizesDiv">
                </div>              
              </div>
              <div class="col-md-4 col-lg-6"> <a class="btn btn-pink" ng-disabled="!showMoreDisableQuiz" ng-click="AddmoreprerequisitesQuizzes()"><i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Add More</a> </div>
            </div> -->
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Quiz Access</label>
                </div>
                <div class="col-md-10 col-lg-10"> <span class="custom-radio3">
                  <input type="radio" name="quiz_status" id="qa1" ng-model="quiz_status" value="1"/>
                  <label for="qa1">Paid Subscribers</label>
                  </span> <span class="custom-radio3">
                  <input type="radio" name="quiz_status" id="qa2" ng-model="quiz_status" value="2" />
                  <label for="qa2">Free Users</label>
                  </span> 
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Attempts/User</label>
                </div>
                <div class="col-md-10 col-lg-10"> <span class="custom-radio3">
                  <input type="radio" name="attempts_per_user" id="au1" ng-model="attempts_per_user" value="1"/>
                  <label for="au1">Single Attempt</label>
                  </span> <span class="custom-radio3">
                  <input type="radio" name="attempts_per_user" id="au2" ng-model="attempts_per_user" value="2"/>
                  <label for="au2">Multiple Attempts</label>
                  </span> </div>
              </div>
            </div>
          </div>
          <div class="content-div">
            <div class="form-group">
              <div class="row">
                <!-- <div class="col-md-2 col-lg-2"> </div> -->
                <div class="col-md-10 col-lg-10">
                  <button class="btn btn-pink upload-new-quiz" ng-click="Uploadnewquiz()" >Publish Quiz</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>      
    </div>
  </div>
</section>
