<section class="distributors-list-admin-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class=" row flax-table">
        <div class="col-sm-6">
            <h3 class="panel-title">Subscribers</h3>
        </div>
        <div class="col-sm-6 text-right">
          <a class="btn btn-pink" href="manage/ignite/add-new-subscriber"><i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Create New Subscriber</a>
        </div>
      </div>

    </div>
    <div class="panel-body">
      <div class="content-div">
        <div class="head-filter-div">
           <div class="row">
             <div class="col col-sm-2 col-md-2 col-lg-2">
               <span class="custom-search-box">
                  <input type="text" numbers-only placeholder="Search by phone number" class="form-control" ng-model="phone_number" >
               </span>
             </div>
             <div class="col col-sm-2 col-md-2 col-lg-2">
                <span class="custom-search-box">
                  <input type="text" placeholder="Search by email address" class="form-control" ng-model="email_address" >
               </span>
             </div>
             <div class="col col-sm-2 col-md-2 col-lg-2">
                  <input type="test" class="form-control" ng-model="created_from" placeholder="From" id="created_from" onkeydown="return false">
             </div>
             <div class="col col-sm-2 col-md-2 col-lg-2">
                  <input type="test" class="form-control" ng-model="created_to" placeholder="To" id="created_to" onkeydown="return false">
             </div>
           </div>
           <button class="btn btn-pink search" ng-click="filterData(phone_number,email_address,created_from,created_to)" >Search</button>
           <button class="btn btn-pink export-to-csv apply_promo" id="export_csv" ng-click="filterData(phone_number,email_address,created_from,created_to,'csv','export_csv','Export CSV')">
           Export CSV</button>
           <button class="btn btn-pink export-to-excel apply_promo" id="export_excel" ng-click="filterData(phone_number,email_address,created_from,created_to,'xlsx','export_excel','Export Excel')">
           Export Excel</button>
         </div>
      </div>
      <div class="content-div">
        <div class="tb-padding">
          <!--row-->
          <div ng-repeat="subscriber in allSubscribers">
            <div class="row">
              <div class="col-sm-5 col-lg-7">
                  <h4><a class="anchor_decoration_none" href="manage/ignite/ignite-subscriber-details/[[ subscriber.slug ]]">[[ subscriber.first_name ]] [[ subscriber.last_name ]] </a></h4>
                  <span class="black">Email/Username:</span>
                  <h6><a class="anchor_decoration_none" href="manage/ignite/ignite-subscriber-details/[[ subscriber.slug ]]">[[ subscriber.email_address ]]</a></h6>
                  <p>
                    <span class="black">Address :</span><br>
                    [[subscriber.subscriber_city.name]][[', ' + subscriber.subscriber_state.name]][[', ' +subscriber.subscriber_country.name]] 
                  </p>
                 </div>
                 <div class="col-sm-7 col-lg-5">
                   <div class="row">
                     <!-- <div class="col-sm-4">
                       <ul class="info-list-with-icon">
                          <li><i class="fa fa-th-large" aria-hidden="true"></i> Total Referrals : [[ distributor.distributor_referrals_count ]]</li>
                          <li><i class="fa fa-users" aria-hidden="true"></i> Team Size : [[ distributor.distributor_team_members_count ]]</li>
                        </ul>
                     </div> -->
                     <div class="col-sm-5">
                       <ul class="info-list-with-icon">
                          <li><i class="fa fa-calendar" aria-hidden="true"></i> Joined : [[ subscriber.joining_date ]]</li>
                          <li> <i class="fa fa-info" aria-hidden="true"></i> Status : [[ subscriber.status==1?'Active':'In-active' ]]</li>
                        </ul>
                     </div>
                     <div class="col-sm-7">
                       <ul class="info-list-with-icon" ng-if="subscriber.contact != null">
                          <li><i class="fa fa-phone" aria-hidden="true"></i> Phone Number : +[[ subscriber.phonecode ]] [[ subscriber.contact ]]</li>
                          <li ng-if="subscriber.distributor_refer.distributor">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            Distributor : [[ subscriber.distributor_refer.distributor.company_name ]]
                          </li>
                          <li ng-if="!subscriber.distributor_refer.distributor">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            Distributor : Nil
                          </li>
                        </ul>
                     </div>
                   </div>
                 </div>
             </div>
             <hr>
          </div>             
        </div>
        <!-- Pagination -->        
  <default-pagination currentpage="currentDistributorsPaging" like="GetallSubscriberData({'phone_number':phone_number,'email_address':email_address,'created_from':created_from,'created_to':created_to},page)" paginate="paginate" range="rangeDistributorspage">
  </default-pagination>
      </div>
    </div>
  </div>

</section>
