<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-6 margin_top_5">
          <h3 class="panel-title">Transactions</h3>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="content-div">
           <div class="row">
             <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-9">
                    <select class="form-control" ng-model="export_type">
                      <option value="">Select Export Type</option>
                      <option value="1">Excel</option>
                      <option value="2">CSV</option>
                    </select>
                  </div>
                  <div class="col-sm-3 margin_top_5">
                    <button class="btn btn-pink custom-class-buyerexportbutton" ng-disabled="promoContent.length==0" ng-click="ExportPromos(export_type)">
                        <i aria-hidden="true" class="fa fa-download">
                        </i>
                    </button>
                  </div>
                </div>
             </div>
           </div>
      </div>
      <div class="content-div">
        <div class="tbl-list-no-border">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <th class="text-center hand-cursor" width="80">S/N</th>
              <th ng-click="ordersort('system_transaction_number')" class="text-center hand-cursor">[['lbl_ignite_invoice'|translate]]</th>
              <th ng-click="ordersort('video_category_name')" class="text-center hand-cursor">[['lbl_subscription_plan'|translate]]</th>
              <th ng-click="ordersort('payment_amount')" class="text-center hand-cursor">[['lbl_amount'|translate]]</th>
              <th ng-click="ordersort('date')" class="text-center hand-cursor">[['lbl_date'|translate]]</th>
              <th ng-click="ordersort('payment_status')" class="text-center hand-cursor">[['lbl_status'|translate]]</th>
            </tr>
            <tr ng-repeat="transaction in transactions">
              <td class="text-center">[[$index+1]]</td>
              <td class="text-center"> <a class="anchor_decoration_none_invoice" href="public/uploads/MP_Attachments/receiptAttachments/payment_receipt_[[transaction.system_transaction_number]].pdf" download="[[transaction.system_transaction_number]]" target="_self"> [[transaction.system_transaction_number]] </a></td>
              <td class="text-center">[[transaction.video_category_name]]</td>
              <td class="text-center">[[transaction.payment_amount]]</td>
              <td class="text-center">[[transaction.date]]</td>

              <td ng-if="transaction.payment_status==1" class="text-center">Success</td>
              <td ng-if="transaction.payment_status==2" class="text-center">Pending</td>
              <td ng-if="transaction.payment_status==3" class="text-center">Fail</td>
            </tr>
          </table>
          <default-pagination currentpage="currentTransactionsPaging" like="GetAllTransactions(page)" paginate="paginateTransactions" range="rangeTransactionspage">
          </default-pagination>
        </div>
      </div>    
    </div>
  </div>
</section>
