<section class="video-learning-section">
  <div class="white-panel-div mb10">
    <div class="page-heading">
      <h2>[[videoData.title]]</h2>
    </div>
  </div>  
  <div class="white-panel-div mb10">
    <div class="page-heading">
      <h2 class="sm-title">Category - [[videoData.video_detail.category.category_name]]</h2>
      <hr>
    </div>
    <!-- <h4>[[videoData.title]]</h4> -->
    <div class="video-div">
      <video id="videoTag" controls width="100%" height="400" ></video>
    </div>
    <ul class="post-info-list">      
      <li> <i class="fa fa-calendar" aria-hidden="true"></i> [[ videoData.video_detail.new_created_at]] </li>
      <li> <i ng-class="{'fa fa-unlock-alt':videoData.video_detail.video_status_locked=='OPEN', 'fa fa-lock':videoData.video_detail.video_status_locked=='LOCKED'}" aria-hidden="true"></i> [[ videoData.video_detail.video_status_locked]]</li>
      <li class="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> [[ videoData.video_detail.video_status_name]]</li>
    </ul>
     <p>[[ videoData.description ]]</p>
      <div class="b-btn">
        <a class="btn btn-pink" ng-click="publishVideo(videoData.video_detail.id)" ng-if="videoData.video_detail.status == 3 || videoData.video_detail.status == 0">Publish</a>        
        <!-- <a class="btn btn-pink" href="manage/ignite/edit-video/[[videoData.slug]]" ng-if="videoData.status == 3 ||videoData.status == 0">Edit</a>         -->
        <a class="btn btn-pink" ng-click="unpublishVideo(videoData.video_detail.id)" ng-if="videoData.video_detail.status == 1">Unpublish</a>
        <!-- <a href="" class="btn btn-pink">Edit</a> -->
        <a class="btn btn-pink" ng-if="videoData.video_detail.status == 3 ||videoData.video_detail.status == 0" ng-click="deleteVideo(videoData.video_detail.id)" >Delete</a>
      </div>
  </div>
</section>