.v-divider{
	position: relative;
}
.v-divider:before{
	content: '';
    position: absolute;
    height: 20px;
    width: 2px;
    background: #fff;
    left: -11px;
    top: 0px;
}
.badge-circle{   
    border-radius: 50%;
    padding: 0px;
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 4px 0px;
    position: relative;
    top: -2px;
}
.search-panel {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    height: 34px;
}
.search-panel input {
    background: transparent;
    padding-right: 50px;

}
.search-panel i {
    position: absolute;
    right: 0;
    top: 5px;
    border-left: 1px solid #ddd;
    padding: 5px 15px 5px 10px;
    z-index: 0;
}
.filter{
	padding: 20px 0px;
}
.tab-section .nav-tabs{ border-bottom: 0px; }
.bg-img{ background-image: url(../images/bg-contents.png); }
.tab-section .nav-tabs a{   
    background-color: #fff;
    border-radius: 20px;
    padding: 7px 25px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    font-size: 13px;
	margin-right: 15px; border:0px;
    box-shadow: 0px 1px 1px 1px #e8e8e8;
    -webkit-box-shadow: 0px 1px 1px 1px #e8e8e8;
    -ms-box-shadow: 0px 1px 1px 1px #e8e8e8;
    -moz-box-shadow: 0px 1px 1px 1px #e8e8e8;
    -o-box-shadow: 0px 1px 1px 1px #e8e8e8;
}
.tab-section .nav-tabs > li.active > a
{    background-color: #d21a24;
    color: #fff;
    border: none;}
.tab-section .tab-content{ margin-top:40px;  }
.jobs-list  ul,.project-list ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
.jobs-list ul li{width: 48%; margin-bottom: 50px; }
.jobs-list .job-content{background: #fff;
    padding: 20px;
    position: relative;
    box-shadow: 0px 2px 4px 3px #e8e8e8;
    -webkit-box-shadow: 0px 2px 4px 3px #e8e8e8;
    -moz-box-shadow: 0px 2px 4px 3px #e8e8e8;
    -ms-box-shadow: 0px 2px 4px 3px #e8e8e8;
    -o-box-shadow: 0px 2px 4px 3px #e8e8e8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.jobs-list .job-content p{text-align: justify; min-height: 80px; max-height: 80px; overflow: auto;}
.jobs-list .job-content h3,.job-info h3{  
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;}
    .jobs-list .job-content h3 a{color:#202020;}
    
       .jobs-list .job-content h3 a:hover{
    color: #d21a24;}
  .jobs-list .job-details > span,
  .job-info  .job-details > span{ display:inline-block; margin-right: 30px; }
  .jobs-list .job-details > span > label,
  .job-info  .job-details > span > label{margin-bottom: 0px;}
  .jobs-list .job-content .jobs-date{position: absolute;
    right: -10px;
    top: -15px;
    background-color: #fff;
    padding: 5px 10px;
    box-shadow: 0px 0px 2px 0px #c1bbbb;
    -webkit-box-shadow: 0px 0px 2px 0px #c1bbbb;
    -moz-box-shadow: 0px 0px 2px 0px #c1bbbb;
    -ms-box-shadow: 0px 0px 2px 0px #c1bbbb;
    -o-box-shadow: 0px 0px 2px 0px #c1bbbb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #d21a24;}

   .client-response h3{ 
   	margin: 0px; 
   	font-size: 18px;
   	 font-weight: 600;
   	  margin-bottom: 10px; } 
   	  .chat li{ 
   	  	  padding: 10px 15px;
   		  margin-bottom: 15px;
    	  border: 1px solid #f9f9f9;  
   	      box-shadow: 2px 2px 4px 2px #fbfbfb;
   		  -webkit-box-shadow: 2px 2px 4px 2px #fbfbfb;
   		  -moz-box-shadow: 2px 2px 4px 2px #fbfbfb;
  	      -ms-box-shadow:2px 2px 4px 2px #fbfbfb;
  	      -o-box-shadow: 2px 2px 4px 2px #fbfbfb;
  	       border-radius: 10px 10px 0px 10px;
 	      -moz-border-radius: 10px 10px 0px 10px;
  	      -webkit-border-radius: 10px 10px 0px 10px;
 	      -ms-border-radius: 10px 10px 0px 10px;
  	      -o-border-radius: 10px 10px 0px 10px;
		}
		.chat li.receiver{    
			background-color: #f7f3f2;
		 border-radius: 10px 10px 10px 0px;
 	      -moz-border-radius: 10px 10px 10px 0px;
  	      -webkit-border-radius: 10px 10px 10px 0px;
 	      -ms-border-radius: 10px 10px 10px 0px;
  	      -o-border-radius: 10px 10px 10px 0px;}

  	    .client-response .answer{
       padding: 0px 15px;
    position: relative;}
    .client-response{padding-left: 30px;}
     .client-response .answer h3 i{     position: absolute;
    left: -25px;
    top: 0px;
    color: #d21a24;}

    .client-dl-info .img img{margin: auto; }
       .client-dl-info .img{position: relative; display: inline-block;}
    .client-dl-info .img > span{ 
            position: absolute;
    bottom: 9px;
    right: -3px;}
        .client-dl-info .img > span.icon{position: relative !important;}
      .client-dl-info{text-align: center;}  
      .client-dl-info .img > span i{      
       padding: 8px;
      background-color: #fff;
      border-radius: 50%;
      bottom: -1px;
      box-shadow: 0px 1px 0px 0px #cabcbc;}    

    .job-content .job-notification{  
      background-color: #d21a24;
      height: 25px;
      width: 25px;
      position: absolute;
      text-align: center;
      color: #fff;
      border-radius: 50%;
      padding: 3px 0px;
      left: -11px;
      top: -8px;
    }
    .project-list ul li{margin-bottom: 50px; width:32%;}
    .project-list ul li .project-content{    background-color: #fff;
        border-radius: 10px !important;
        overflow: hidden;}
    .project-list ul li .project-content .desc{padding: 10px;     border-top: 1px solid #f5f5f5;}
    .project-list ul li .project-content .desc .rating i{ color: #e6cc29;}
    .project-list ul li .project-content .desc .share i{   
                 color: #a2a2a2;
                 font-size: 18px;
               }

.reviews-list li{    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;}
       .reviews-list li .reviewer-heading{    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;}
        .reviews-list li .reviews-detils > span{margin-right: 15px;}
         .reviews-list li .reviews-detils {margin-bottom: 10px;}
       .rating i{ color: #e6cc29;}

    .reviews-list li .reviews-msg .reviews-msg-content{width: calc(100% - 75px); display: inline-block;     padding-left: 15px;}
        .reviews-list li .reviews-msg .msg-img{width: 65px; display: inline-block;     vertical-align: top;}
            .reviews-list li .reviews-msg {
               border: 1px solid #dedede;
               padding: 10px;
               border-radius: 10px;}    
                .reviews-list li .reviews-msg .reviews-msg-content .name > span{      
                  font-size: 18px;
                 font-weight: 600;
                 margin-right: 10px;} 
                 .sidebar-title{  
                   margin-bottom: 10px;
                   font-weight: 600;
                   font-size: 17px;
                       display: inline-block;
                }  
    .project-slider #ninja-slider{  
         width: calc(100% - 185px);
      display: inline-block; 
      border-radius: 15px !important; 
      overflow: hidden;
    } 
    .project-slider  .flex-control-thumbs{    width: 150px;
      display: inline-block;
      padding-left: 6px;
      margin-left: 20px;}
    .project-slider  .flex-control-thumbs li{
     width:100%;    
     margin-bottom: 15px;
     border-radius: 15px !important;
     overflow: hidden;

    }
    .project-slider  .flex-control-thumbs li:last-child{margin-bottom: 0px;  }
    .project-slider  .flexslider{background-color: transparent; border:none;}
    .slider-inner > ul{ padding-top:100% !important; border-radius: 15px !important; overflow: hidden;}
    .project-caption{    
        position: ABSOLUTE;
        z-index: 9999;
        background-color: rgba(0, 0, 0,0.5);
        color: #fff;
        padding: 10px;
        left: 0;
        right: 0;
        bottom: 0;
  }
    .about-six-cloud{overflow: visible !important;}
  .about-six-cloud .sc-content-text{ padding: 100px; padding-top: 60px; padding-bottom: 30px; text-align: justify;  position: relative; top:-48px;}
  .about-six-cloud .sc-c-title{    display: inline-block;
    padding: 10px 20px;
    background-color: #d21a24;
    color: #fff;
    font-size: 19px;
    position: absolute;
    top: -20px;
    left: -20px;}
      .about-six-cloud .sc-c-title:after{  
         content: '';   
        left: 0px;
        position: absolute;
        bottom: -20px;
        border: 10px solid #d21a24;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
      }
      .sub-title{    
        font-size: 22px;
        font-weight: 600;
        color: #d21a24;
      }
          .sub-title.sub-title-w-icon{position: relative; padding-left: 50px;}
          .sub-title.sub-title-w-icon i{    
                     position: absolute;
    left: 4px;
    top: -4px;
    font-size: 30px; } 
               .video-content { 
                    display: flex;
                    }
    .video-content .video-desc{ flex:6; display: flex; }
    .video-content .video{ flex:3;  display: flex;}
    .video-content .video-desc .content-box{padding: 35px 0px; padding-left: 60px; margin: auto;} 
    .video-content.reverse-content{flex-direction: row-reverse; }
    .video-content.reverse-content .content-box{    
      padding: 35px 0px;
      padding-left: 20px;
      padding-right: 60px;
    } 
    .video-content .video .img{border-radius: 10px; overflow: hidden; position: relative;     margin: auto;}
    .video-content .video .img .overlay{    position: absolute;
            display: flex;
            margin: auto;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            z-index: 99;
          }
        .video-content .video .img .overlay .icon{   
            margin: auto;
           font-size: 28px;
         
          }
     .video-content .video .img .overlay .icon i{ color: #fff;    border-radius: 50%;   padding: 11px 18px;     background-color: #d21a24;
    height: 50px;
    width: 50px;}
    .about-six-cloud.progaram-section{text-align: left; }
    .team-member-list .member-content .member-detail{position:relative; background-color:#f2f2f2; padding: 10px; border-radius: 10px 10px 0px 0px ;     border: 1px solid #e8e8e8;  }
    .team-member-list .member-content  .member-desc{padding: 10px; border-radius: 0px 0px 10px 10px;  background-color: #fff; border: 1px solid #d0d0d0; border-top:0px;}
    .team-member-list .member-content .member-detail .name{
          font-size: 16px;
          font-weight: 600;}

   .team-member-list .member-content .member-detail .location span{margin-right: 10px;}
    .team-member-list .member-content .member-detail .detail{padding-left: 180px;}
    .team-member-list .member-content .member-detail .img{    position: absolute;
    top: -90px;
    border-radius: 10px;
    overflow: hidden;}
    .team-member-list .member-content .member-detail .img img{width: 150px;}
    .team-member-list ul li{
      padding-top: 100px; 
      margin-bottom: 30px;
      z-index: 99;
      position: relative;
    }
    .about-six-cloud.progaram-section{overflow:hidden !important;}
    .title-tab-head{   
     font-size: 18px;
     padding: 10px 20px;
     background: #f2f2f2;
     border: 1px solid #e4e4e4 !important;
     border-radius: 10px 10px 0px 0px !important;
  }
  .sub-title:before{
  content: '';
    position: absolute;
    left: 0px;
    top: 6px;
    height: 10px;
    width: 10px;
    background-color: #d21a24;
    border-radius: 50%;
  }
.sub-title {
    padding-left: 20px;
    position: relative;
        font-size: 18px;
}
.training-price table tr:first-child > td{border-top:0px;}
.training-price table{border-radius: 10px;}
.pr-table-price > table  tr > td:first-child{padding-left: 20px; }
.img .icon {
    font-size: 100px;
}
.edit-circle{width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    padding: 6px 0px;
    font-size: 15px;
    box-shadow: 0px 0px 2px 0px #b3b3b3;}
    .icon-white:before{ color:#fff !important; }
textarea{resize: vertical;}
/*Scroll bar*/
.scrollbar
{
  width: 100%;
  padding-right: 5px;
  overflow-y: scroll;

}
.scrollbar::-webkit-scrollbar-track
{

  background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
  background-color: #b1b1b1;
}
.daterangepicker td.active, .daterangepicker td.active:hover{ background-color: #d21a24;}
.input-group.date > input:focus + .input-group-addon{    border: 1px solid #d21a24; border-left: 0px;}
/*End Scrollbar*/