<div class="container">
  <section class="change-password-section">
    <div class="white-block">
      <div class="row">
        <div class="col-sm-2 distributor_all_referals">
          <h2 class="page-title left uppercase">[['lbl_subscribers'|translate]]</h2>
        </div>
        <div class="col-sm-6">
            <input class="form-control left" type="text" ng-model="searchby" ng-change="search(searchby)" name="search" placeholder="[['lbl_subscribers_search'|translate]]">
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-9 ">
              <div class="custom-select-dropdown">
                <select class="form-control" ng-model="export_type">
                  <option value="">[['lbl_subscribers_select_export'|translate]]</option>
                  <option value="1">Excel</option>
                  <option value="2">Csv</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3 distributor_all_referals_button">
              <button type="button" ng-class="{disabled: totalReferals==0}" class="btn btn-medium-pink btn-sm" ng-click="Exportdata(export_type)">[['lbl_subscribers_export'|translate]]</button>
            </div>
          </div>
        </div>
      </div>
        <div class="table-div">
          <table cellpadding="0" cellspacing="0" width="100%" class="table">
              <thead>
                  <tr>
                    <!-- <th>User ID</th> -->
                    <th>[['lbl_subscribers'|translate]]</th>
                    <th>[['lbl_email_address'|translate]]</th>
                    <th>[['lbl_contact_number'|translate]]</th>
                    <th>[['lbl_salesperson'|translate]]</th>
                    <th>[['lbl_mode'|translate]]</th>
                   </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="referal in allReferals" ng-if="referal.referal_user">
                    <!-- <td>[[referal.referal_user.user_number]]</td> -->
                    <td><a class="decoration_none_custom" href="ignite-subscriber-details/[[referal.referal_user.slug]]"> [[referal.referal_user.first_name]] [[referal.referal_user.last_name]]</a> </td>
                    <td>[[referal.referal_user.email_address]]</td>
                    <td>+ [[referal.referal_user.phonecode]] [[referal.referal_user.contact]]</td>
                    <td ng-if="referal.distributor_member">[[referal.distributor_member.first_name]] [[referal.distributor_member.last_name]]</td>
                    <td ng-if="!referal.distributor_member">[['lbl_na'|translate]]</td>
                    <td>                    
                      <span class="btn success" ng-if="referal.referal_through == 1">[['lbl_distributor_code'|translate]]</span>
                      <span class="btn success" ng-if="referal.referal_through == 2">[['lbl_qr_code'|translate]]</span>
                      <span class="btn success" ng-if="referal.referal_through == 3">[['lbl_unique_url'|translate]]</span>
                      <span class="btn success" ng-if="referal.referal_through == 4">[['lbl_salesperson_code'|translate]]</span>
                    </td>
                  </tr>                    
                </tbody>
            </table>
        </div>
        <default-pagination currentpage="currentReferalsPaging" like="GetallReferalData(searchby,page)" paginate="paginate" range="rangeReferalspage"></default-pagination>
    </div>    
  </section>  
</div> 