<!-- <div class="modal fade designer-my-uploads-popup" id="showVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">      
      <div class="modal-body" ng-if="current_domain=='cn'">        
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
          <video id="videoTag" controls width="540" poster="resources/assets/images/Thumbnail_for_Video.jpeg" height="310" >
            <source src="public/uploads/promotional-videos/Video_cn.mov">
          </video>    
      </div>
      <div class="modal-body" ng-if="current_domain=='net'">        
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
          <video id="videoTag" controls width="540" poster="resources/assets/images/Thumbnail_for_Video.jpeg" height="310" >
            <source  src="https://cdn.sixclouds.net/promovideo/Promo%20Video%20En-HD%20720p.mov">
          </video>    
      </div>
    </div>
  </div>
</div> -->
<article class="home-content-article">
  <section class="welcome-section">
    <div class="container">
      <div class="head-div">
        <h2>[['lbl_ignite_landing'|translate]]</h2>
        <div class="inner-div">
           <div class="row">
            <div class="col-sm-12">
              <div class="content-center">
                <!-- <p ng-if="changeLangs!='ru'">[['lbl_ignite_learning_eng'|translate]] </p> -->
                <p>[['lbl_ignite_learning'|translate]]</p>
              </div>
            </div>
            <!-- <div class="col-sm-5">
              <table width="100" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center" class="play-icon"><a ng-click="ShowVideo()" class="btn"> <span style="background-image:url(resources/assets/images/Thumbnail_for_Video.jpeg)"></span><i class="fa fa-play-circle" aria-hidden="true"></i> </a></td>
                  <td width="30"></td>
                  <td align="center" class="qr"><a href="#" class="btn"><img src="resources/assets/images/QR-code.png" width="100%"/></a></td>
                </tr>
              </table>
              <a href="public/IGNITE-NET_v1.18.apk" class="btn btn-medium-pink btn-sm downlaod download_apk_btn_custom" target="_blank" download="Ignite">[['lbl_ignite_landing_download_apk'|translate]]</a>
            </div> -->
          </div>
        </div>
      </div>
      <div class="head-div">
        <div class="inner-div">
          <center class="apk-image-wrapper">
            <a href="https://apps.apple.com/us/app/ignite-by-sixclouds/id1451386328?ls=1"><img class="apk-image" src="resources/assets/images/app-store.png"></a>
            <a href="https://play.google.com/store/apps/details?id=com.sixcloudsall&hl=en" target="_blank" download="Ignite"><img class="apk-image" src="resources/assets/images/play-store-btn.png"></a>
            <a href="[[downloadLink]]" target="_blank" download="Ignite"><img class="apk-image" src="resources/assets/images/apk_btn.png"></a>
          </center>
        </div>
      </div>
      <div class="lesson-videos-feature">
        <h3>[['lbl_our_lesson_videos_feature'|translate]]</h3>
        <div class="row">
          <div class="col-sm-6">
            <ul>
              <li>
                <div class="icon-div">
                  <span><img alt="" src="resources/assets/images/videos-feature-icon/01.png"></span>
                </div>
                <strong>[['lbl_themes'|translate]] </strong><br>
                [['lbl_short_animated_thematic_lesson'|translate]]
              </li>
              <li>
                <div class="icon-div">
                  <span><img alt="" src="resources/assets/images/videos-feature-icon/02.png"></span>
                </div>
                <strong>[['lbl_practice'|translate]]</strong><br>
                [['lbl_for_immediate_reinforcement_of_the_lesson'|translate]]
              </li>
              <li>
                <div class="icon-div">
                  <span><img alt="" src="resources/assets/images/videos-feature-icon/03.png"></span>
                </div>
                <strong>[['lbl_Worksheets'|translate]]</strong> <br>
                [['lbl_downloadable_for_extra_paractice'|translate]]
              </li>
               
            </ul>
          </div>
          <div class="col-sm-6">
            <ul>
              <li>
                <div class="icon-div">
                  <span><img alt="" src="resources/assets/images/videos-feature-icon/04.png"></span>
                </div>
                <strong>[['lbl_revise'|translate]]</strong><br> 
                [['lbl_lets_revise_videos_to_recap_learning'|translate]]
              </li>
              <li>
                <div class="icon-div">
                  <span><img alt="" src="resources/assets/images/videos-feature-icon/05.png"></span>
                </div>
                <strong>[['lbl_quiz'|translate]]</strong><br> 
                [['lbl_interactive_quizzes_for_knowledge_application'|translate]]
              </li>
              <li>
                <div class="icon-div">
                  <span><img alt="" src="resources/assets/images/videos-feature-icon/06.png"></span>
                </div>
                 <strong>[['lbl_track'|translate]] </strong><br>
                [['lbl_monitor_progression_and_quiz_scores'|translate]]
              </li>
               
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class="globe-div"> <img src="resources/assets/images/globe.svg" width="100%" /> </div> -->
    </div>
  </section>
  <section class="why-should-kids-come">
    <div class="container">
      <div class="inner-div">
        <h2>[['lbl_ignite_landing_kids'|translate]]</h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="hw-box1">
              <div>
                <div class="icon"> <img src="resources/assets/images/Animation.svg" /> </div>
                <h3>[['lbl_ignite_animation'|translate]]</h3>
                <div class="d-text">
                  <p>[['lbl_ignite_animation_body'|translate]]</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="hw-box1">
              <div>
                <div class="icon"> <img src="resources/assets/images/Quality.svg" /> </div>
                <h3>[['lbl_ignite_quality'|translate]]</h3>
                <div class="d-text">
                  <p>[['lbl_ignite_quality_body'|translate]]</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="hw-box1">
              <div>
                <div class="icon"> <img src="resources/assets/images/Convenience.svg" /> </div>
                <h3>[['lbl_ignite_convenience'|translate]]</h3>
                <div class="d-text">
                  <p>[['lbl_ignite_convenience_body'|translate]]</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buzz-english-heading">
        <h2>[['lbl_ignite_landing_buzz'|translate]]</h2>
        <h3>[['lbl_ignite_landing_buzz_details'|translate]]</h3>
      </div>
      <div class="buzz-english-learning english-programme">
        <!-- <div class="container"> -->
          <div class="inner-space">
            <div class="row">
              <div class="col-sm-12 col-xs-12 box">
                <div class="buzz-english-div">
                  <div class="buzz-english-image">
                    <img src="resources/assets/images/buzz-button.png" />
                  </div>
                  <div class="buzz-english-description">
                    <p>[['lbl_ignite_buzz_description'|translate]]</p>
                    <a class="common-btn" href="ignite-buzz">[['lbl_ignite_learn_more'|translate]]</a>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </section>

<section class="buzz-english-section">
  <div class="container">
    <div class="buzz-english-heading math-program">
      <h2>[['lbl_ignite_mathematics_programme'|translate]]</h2>
      <h3>[['lbl_ignite_mathematics_programme_description'|translate]] </h3>
    </div>
    <div class="inner-space">
      <div class="row">
        <div class="col-sm-12 col-xs-6 box mar-btm">
          <div class="buzz-english-div">
            <div class="buzz-english-image">
              <img src="resources/assets/images/smile-sg-button.png" />
            </div>
            <div class="buzz-english-description">
              <p>[['lbl_ignite_smile_sg_description'|translate]]</p>
              <a class="common-btn" href="ignite-smile-singapore">[['lbl_ignite_learn_more'|translate]]</a>
              <a class="common-btn" ng-if="loginDistributorData == '' || loginDistributorData == undefined" href="ignite-smile-singapore">[['lbl_ignite_learn_more'|translate]]</a>
            </div>  
          </div>
        </div>
        <div class="col-sm-12 col-xs-6 box mar-btm">
          <div class="buzz-english-div">
            <div class="buzz-english-image">
              <img src="resources/assets/images/smile-button.png" />
            </div>
            <div class="buzz-english-description">
              <p>[['lbl_ignite_maze_smile_description'|translate]]</p>
              <a class="common-btn" href="ignite-smile-international">[['lbl_ignite_learn_more'|translate]]</a>
              <a class="common-btn" ng-if="loginDistributorData == '' || loginDistributorData == undefined" href="ignite-smile-international">[['lbl_ignite_learn_more'|translate]]</a>
            </div>  
          </div>
        </div>
        <div class="col-sm-12 col-xs-6 box mar-btm">
          <div class="buzz-english-div">
            <div class="buzz-english-image">
              <img src="resources/assets/images/maze-button.png" />
            </div>
            <div class="buzz-english-description">
              <p>[['lbl_ignite_maze_description'|translate]]</p>
              <a class="common-btn" href="ignite-maze">[['lbl_ignite_learn_more'|translate]]</a>
              <a class="common-btn" ng-if="loginDistributorData == '' || loginDistributorData == undefined" href="ignite-maze">[['lbl_ignite_learn_more'|translate]]</a>
            </div>  
          </div>
        </div>
        <div class="col-sm-12 col-xs-6 box">
          <div class="buzz-english-div">
            <div class="buzz-english-image">
              <img src="resources/assets/images/smile_phil_button_draft.png" />
            </div>
            <div class="buzz-english-description">
              <p>[['lbl_ignite_philippines_description'|translate]]</p>
              <a class="common-btn" href="ignite-smile-philippines">[['lbl_ignite_learn_more'|translate]]</a>
              <a class="common-btn" ng-if="loginDistributorData == '' || loginDistributorData == undefined" href="ignite-smile-philippines">[['lbl_ignite_learn_more'|translate]]</a>
            </div>  
          </div>
        </div>
        <div class="col-sm-12 col-xs-6 box">
          <div class="buzz-english-heading math-program switching-wrapper">
                <h2 class="switching-txt">[['lbl_ignite_switching_function'|translate]]</h2>
                <p class="switching-desc">[['lbl_ignite_switching_function_description'|translate]] </p>
                <a class="common-btn switch-btn" ng-if="loginDistributorData != '' || loginDistributorData != undefined" ng-click="reqSwitch();">[['lbl_ignite_req_switch'|translate]]</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- <section class="buzz-english-section">
    <div class="container">
      <div class="inner-div">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="box-be" style="background-image:url(resources/assets/images/home-d-bg2.svg)">
              <div class="content">
                <h3>Buzz 1</h3>
                [['lbl_ignite_landing_buzz1'|translate]]</div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="box-be" style="background-image:url(resources/assets/images/home-d-bg2.svg)">
              <div class="content">
                <h3>Buzz 2 </h3>
                [['lbl_ignite_landing_buzz2'|translate]]</div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
</article>
