<div class="container">
  <section class="my-team-section">
    <div class="white-block">
      <div class="head-div">
        <div class="row my_code_custom_row">
          <div class="col-sm-3">
            [['lbl_distributor_code' | translate]]
          </div>
          <div class="col-sm-9 my_code_custom">
            [[distributor.referal_code]]
          </div>
        </div>
        <div class="row my_code_custom_row">
          <div class="col-sm-3">
            [['lbl_unique_url' | translate]]
          </div>
          <div class="col-sm-9 my_code_custom">
            [[distributor.unique_link]]
          </div>
        </div>
        <div class="row my_code_custom_row">
          <div class="col-sm-3">
            [['lbl_distributor_qr_code' | translate]]
          </div>
          <div class="col-sm-9 my_code_custom_img ">
            <img alt="" ng-if="distributor.userType=='distributor'" ng-src="public/uploads/distributor_qr_codes/[[distributor.qrcode_file_name]]" />
            <img alt="" ng-if="distributor.userType=='distributor_team_member'" ng-src="public/uploads/distributor_qr_codes/team/[[distributor.qrcode_file_name]]" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>