<div class="container">
    <section class="my-performance-section m20">
        <div class="white-block attempt-wrapper">
    		<h2 class="page-title text-center uppercase">[['lbl_my_performance'|translate]]</h2>
            <div class="inner-div attempt-section">
            	<div class="row d-flex">
                	<div class="col-sm-5 col-md-4">
                    	<div class="membership-box">                    	
                        	<div class="b1">
                            	<div class="b2">
                                    <div class="b3">
                                     	<div class="inner-content">
                                        	<h2>[['lbl_all_videos_and_all_quizzes'|translate]]</h2>
                                            	
                                        </div>
                                        <h1>[[totalVideoCount]]</h1>
                               		 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-4">
                    	<div class="membership-box">                    	
                        	<div class="b1">
                            	<div class="b2">
                                    <div class="b3">
                                     	<div class="inner-content">
                                        	<h2>[['lbl_total_quizzes_attempted'|translate]]</h2>
                                            	
                                        </div>
                                        <h1>[[totalQuizCount]]</h1>
                               		 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-4">
                    	<div class="membership-box">                    	
                        	<div class="b1">
                            	<div class="b2">
                                    <div class="b3">
                                     	<div class="inner-content">
                                        	<h2>[['lbl_average_quiz_performance'|translate]]</h2>
                                            	
                                        </div>
                                        <h1>[[averageQuizPerformance]]%</h1>
                               		 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </section>
    <section class="my-performance-section">
        <div class="white-block">
    		<div class="tabs-div text-center quiz-video-tabs"> 
                <button class="btn tablinks" ng-click="ChangeTab('QuizzesAttemptedTab')" id="QuizzesAttemptedTab">[['lbl_quizzes_attempted'|translate]]</button> 
               	<button class="btn tablinks" ng-click="ChangeTab('VideosViewedTab')" id="VideosViewedTab">[['lbl_videos_viewed'|translate]]</button> 
            </div>
            <div id="QuizzesAttemptedTabDiv" ng-if="QuizzesAttemptedTab" class="quiz-section">
            	<div class="row d-flex">
                	<div class="col-sm-6 col-md-4  col-lg-3" ng-repeat="quiz in attemptedQuiz">
                    	<div class="thumb-block">
                        	<div class="img-div thumbnail_custom" style="background-image:url(resources/assets/images/ignite/quiz.png)"> 
                            </div>
                            <div class="bottom-content">
                                <div ng-if="transLang == 'en'">
                                	<div class="h40">
                                        <a class="decoration_none_custom" href="#" ng-click="redirect(quiz.category_id,quiz.subcategory_id,quiz.subject_id,2,quiz.slug)">
                                    	   <p>[[quiz.title]]</p>
                                        </a>
                                    </div>
                                </div>
                                <div ng-if="transLang == 'chi'">
                                    <div class="h40">
                                        <a class="decoration_none_custom" href="#" ng-click="redirect(quiz.category_id,quiz.subcategory_id,quiz.subject_id,2,quiz.slug)">
                                           <p>[[quiz.title_chi]]</p>
                                        </a>
                                    </div>
                                </div>
                                <div ng-if="transLang == 'ru'">
                                    <div class="h40">
                                        <a class="decoration_none_custom" href="#" ng-click="redirect(quiz.category_id,quiz.subcategory_id,quiz.subject_id,2,quiz.slug)">
                                           <p>[[quiz.title_ru]]</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="info-div">
                                	<table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="30"><i class="fa fa-trophy" aria-hidden="true"></i></td>
                                        <td> [[ 'lbl_score' | translate ]]: [[quiz.correct_answers_count]]/[[quiz.quizquestions_count]] ([[ 'lbl_attempts' | translate ]]: [[quiz.total_attempts_count]])</td>
                                    </tr>
                                    <tr>
                                        <td width="30"><!-- <i class="fa fa-long-arrow-right" aria-hidden="true"></i> --></td>
                                        <td ng-if="transLang == 'en'"> [[quiz.category_with_only_name.category_name]]</td>
                                        <td ng-if="transLang == 'chi'"> [[quiz.category_with_only_name.category_name_chi]]</td>
                                        <td ng-if="transLang == 'ru'"> [[quiz.category_with_only_name.category_name_ru]]</td>
                                    </tr>
                                    <tr>
                                        <td width="30"><!-- <i class="fa fa-long-arrow-right" aria-hidden="true"></i> --></td>
                                        <td ng-if="transLang == 'en'"> [[quiz.subcategory_with_only_name.subcategory_name]]</td>
                                        <td ng-if="transLang == 'chi'"> [[quiz.subcategory_with_only_name.subcategory_name_chi]]</td>
                                        <td ng-if="transLang == 'ru'"> [[quiz.subcategory_with_only_name.subcategory_name_ru]]</td>
                                    </tr>
                                    <tr>
                                        <td width="30"><i class="fa fa-calendar" aria-hidden="true"></i></td>
                                        <td> [[quiz.quiz_attempt.created_at | date]]</td>
                                    </tr>
                                </table>	
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div id="VideosViewedTabDiv" ng-if="VideosViewedTab" class="quiz-section">
            	<div class="row d-flex">
                	<div class="col-sm-6 col-md-4  col-lg-3" ng-repeat="videos in viewedVideos">
                    	<div class="thumb-block">
                        	<div class="img-div thumbnail_custom" style="background-image:url([[current_domain=='net'?'https://cdn.sixclouds.net/assets':'public/uploads']]/video_thumbnails/thumbnail_web/[[videos.video_details_with_category.thumbnail_web]])"> 
                            </div>
                            <div class="bottom-content">
                            	<div class="h40" ng-if="transLang === 'en'">
                                    <a class="decoration_none_custom" href="#" ng-click="redirect(videos.video_details_with_category.video_category_id,videos.video_details_with_category.subcategory_id,videos.video_details_with_category.subject_id,1,videos.video_details_with_category.slug)">
                                	   <p>[[videos.video_details_with_category.title]]</p>
                                    </a>
                                </div>
                                <div class="h40" ng-if="transLang === 'chi'">
                                    <a class="decoration_none_custom" href="#" ng-click="redirect(videos.video_details_with_category.video_category_id,videos.video_details_with_category.subcategory_id,videos.video_details_with_category.subject_id,1,videos.video_details_with_category.slug)">
                                       <p>[[videos.video_details_with_category.title_chi]]</p>
                                    </a>
                                </div>
                                <div class="h40" ng-if="transLang === 'ru'">
                                    <a class="decoration_none_custom" href="#" ng-click="redirect(videos.video_details_with_category.video_category_id,videos.video_details_with_category.subcategory_id,videos.video_details_with_category.subject_id,1,videos.video_details_with_category.slug)">
                                       <p>[[videos.video_details_with_category.title_ru]]</p>
                                    </a>
                                </div>
                                <div class="info-div">
                                	<table cellpadding="0" cellspacing="0" width="100%">
                                    <!-- <tr>
                                        <td width="30"><i class="fa fa-trophy" aria-hidden="true"></i></td>
                                        <td> Score: 15/20 (Attempt: 5)</td>
                                    </tr> -->
                                    <tr>
                                        <td width="30"><!-- <i class="fa fa-long-arrow-right" aria-hidden="true"></i> --></td>
                                        <td ng-if="transLang === 'en'"> [[videos.video_details_with_category.category.category_name]]</td>
                                        <td ng-if="transLang === 'chi'"> [[videos.video_details_with_category.category.category_name_chi]]</td>
                                        <td ng-if="transLang === 'ru'"> [[videos.video_details_with_category.category.category_name_ru]]</td>
                                    </tr>
                                    <tr>
                                        <td width="30"><!-- <i class="fa fa-long-arrow-right" aria-hidden="true"></i> --></td>
                                        <td ng-if="transLang === 'en'"> [[videos.video_details_with_category.subcategory_with_only_name.subcategory_name]]</td>
                                        <td ng-if="transLang === 'chi'"> [[videos.video_details_with_category.subcategory_with_only_name.subcategory_name_chi]]</td>
                                        <td ng-if="transLang === 'ru'"> [[videos.video_details_with_category.subcategory_with_only_name.subcategory_name_ru]]</td>
                                    </tr>
                                    <tr>
                                        <td width="30"><i class="fa fa-calendar" aria-hidden="true"></i></td>
                                        <td> [[videos.created_at | date]]</td>
                                    </tr>
                                </table>	
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>