<div class="body-div sign-up-page display-table">
  <div class="display-cell">
    <form id="ignite_signup_form" novalidate="">
      <div class="sign-up-form" id="sign-up-form">
        <div class="logo"><img src="resources/assets/images/logo.svg"></div>
        <h3>[['lbl_sign_up'|translate]]</h3>
        <div class="form-group">
          <div style="background-image:url(resources/assets/images/user-img.png)" class="upload-profile-img">
            <!--Add Uploaded img URL-->
            <div class="uploaded-img user_profile_image" id="previewImage"
              style="background-image:url(resources/assets/images/user-img.png)"></div>
            <!--Add Uploaded img URL END-->
            <input type="file" id="imagePic" name="image">
          </div>
        </div>
        <div class="form-group">
          <input type="email" id="email_address" name="email_address" ng-model="email_address" class="form-control"
            placeholder="[['lbl_email_address'|translate]]">
        </div>
        <div class="form-group">
          <input type="text" id="first_name" name="first_name" ng-model="first_name" class="form-control"
            placeholder="[['lbl_first_name'|translate]]">
        </div>
        <div class="form-group">
          <input type="text" id="last_name" name="last_name" ng-model="last_name" class="form-control"
            placeholder="[['lbl_last_name'|translate]]">
        </div>
        <div class="form-group">
          <div class="custom-select-dropdown" id="select-dropdown-country">
            <!-- <select class="form-control" ng-click="getcountrystates()" ng-model="country_dropdown" id="country_dropdown" name="country_id"> -->
            <select class="form-control" ng-model="country_dropdown" id="country_dropdown" name="country_id">
              <option value="">[['lbl_select_country'|translate]]</option>
              <option ng-repeat='optioncountry in countries' id="[[optioncountry.name]]_[[optioncountry.id]]"
                value="[[optioncountry]]" ng-selected="distributorData.country_id == optioncountry.id">
                [[optioncountry.name]]</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-select-dropdown" id="select-dropdown-state">
            <!-- <select class="form-control" ng-click="getstatecities()" id="state_dropdown" name="state_id"> -->
            <select class="form-control" id="state_dropdown" name="state_id">
              <option value="">[['lbl_select_province'|translate]]</option>
              <option ng-repeat='optionstates in states' id="[[optionstates.name]]_[[optionstates.id]]"
                value="[[optionstates.id]]" ng-selected="distributorData.state_id == optionstates.id">
                [[optionstates.name]]</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-select-dropdown" id="select-dropdown-city">
            <select class="form-control" id="city_dropdown" name="city_id">
              <option value="">[['lbl_select_city'|translate]]</option>
              <option ng-repeat='option in cities' id="[[option.name]]_[[option.id]]" value="[[option.id]]"
                ng-selected="distributorData.city_id == option.id">[[option.name]]</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <input type="test" class="form-control" name="dob" ng-model="dob" ng-change=calculateAge(dob)
            placeholder="[['lbl_dob'|translate]]" id="datepicker" onkeydown="return false">
          <span class="right-icon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <!-- <p class="form-control phonecode_custom">+[[phonecode]]</p> -->
              <input type="text" numbers-only ng-model="phonecode" id="phonecode" name="phonecode"
                class="phonecode_custom form-control" placeholder="+">
            </div>
            <div class="col-sm-9">
              <input type="text" numbers-only ng-model="contact" id="contact" name="contact" class="form-control"
                placeholder="[['lbl_phone_number'|translate]]">
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" ng-change="Checkexpression(password)" id="password"
            ng-model="password" name="password" placeholder="[['lbl_password'|translate]]" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" ng-change="Checkcnfpassword(confirm_password)"
            id="confirm_password" ng-model="confirm_password" name="confirm_password"
            placeholder="[['lbl_confirm_password'|translate]]">
        </div>


        <div class="form-group">
          <button class="btn btn-pink btn-block ignite_signup" id="sigup_button"
            ng-click="Ignitesignupuser()">[['lbl_sign_up'|translate]]</button>
        </div>
        <div class="form-group already-have-account" ng-if="url=='/ignite-signup'">
          [['lbl_already_have_acc'|translate]] <a href="ignite-login">[['lbl_login'|translate]]</a>
        </div>
        <div class="form-group already-have-account" ng-if="url=='/twinkle-ignite-signup'">
          [['lbl_already_have_acc'|translate]] <a href="twinkle-ignite-login">[['lbl_login'|translate]]</a>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal fade designer-my-uploads-popup" id="signuptermsandconditionsmodal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title uppercase color-purple">[['lbl_termscondition'|translate]]</h4>
      </div>
      <div class="modal-body reset_password_modal">
        <div>
          <p>[['lbl_signup_terms_conditions_1'|translate]] <a href="ignite-terms-of-service"
              target="_blank">[['lbl_terms_service'|translate]] </a> [['lbl_and_our'|translate]] <a
              href="privacy-policy" target="_blank">[['lbl_privacy_policy'|translate]]</a>
            [['lbl_signup_terms_conditions_2'|translate]]</p>
          <p>[['lbl_signup_terms_conditions_3'|translate]]</p>
          <div class="form-group ">
            <span class="custom-checkbox2">
              <input id="signup_tandcAccept_part2" name="signup_tandcAccept_part2" ng-model="signup_tandcAccept_part2"
                type="checkbox" value="1" />
              <label for="signup_tandcAccept_part2">[['lbl_i_accept'|translate]] <label class="error_asterix"
                  ng-if="!signup_tandcAccept_part2 && signup_tandcError_part2"> *</label></label>
            </span>
          </div>
        </div>
        <div class="form-bottom-btn">
          <div class="row">

            <div>
              <button class="btn-sm btn btn-pink submit-btn uppercase" ng-click="Dosignup()" id="twinkle-button">
                [['lbl_submit'|translate]]</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade designer-my-uploads-popup" id="signupemailmodal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="height: 100%;">
    <div class="modal-content no-radius" style="top: 50%;
    transform: translateY(-50%);">
      <!-- <div class="modal-header"> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;margin-top: 10px;"><span
            aria-hidden="true">&times;</span></button>
      <!-- </div> -->
      <div class="modal-body reset_password_modal ignite-modal" style="margin-top: 10px;">
        <div>
          <p class="text-center">Please verify your identity by clicking on the link sent to your email.</p>
        </div>
        <div class="form-bottom-btn">
          <div class="row">
            <div class="btn-wrap signupmodelbutton">
              <button class="btn-sm btn btn-pink submit-btn uppercase" ng-click="Dosignupemail()" id="twinkle-button">
                OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>