
<div class="container">
  <div class="white-block">
    <h2 class="page-title text-center">[['lbl_my_subscription'|translate]]</h2>
    <div class="row">
      <center>
        <h4>[[purchaseCategory.video_categories.subject.subject_name]]</h4>
      </center>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="form-group">
        <select class="form-control rightAlign" ng-change="changeCartValue()" ng-model="price_type">
          <option value="" disabled>Select Price Type</option>
          <option ng-value="1">USD $</option>
          <option ng-value="2">SGD S$</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <h4 style="margin-bottom: 20px; padding-left: 80px;">
          [['lbl_from'|translate]]
        </h4>
      </div>
      <div class="col-xs-4"></div>
      <div class="col-xs-4">
        <h4 style="margin-bottom: 20px; padding-left: 80px;">
          [['lbl_to'|translate]]
        </h4>
      </div>
    </div>
    <div class="row">
      <div ng-if="purchaseCategory">
        <div class="col-xs-4" style="padding-left: 100px;">
          <div>
            <label><h4>[[purchaseCategory.video_category_name]]</h4></label>
          </div>
          <div class="radio-btn-text">
            <input  type="radio" name="fromCategory" id="fromCategory" ng-model="fromCategory" value="[[from]]" ng-checked="purchaseCategory" ng-disabled="from"> [[from]] [['lbl_months'|translate]]
            <label></label>
        </div>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4" style="padding-left: 100px;">
          <div class="col-12">
            <div class="col-12 p-0">
              <select class="form-control" ng-model="categoryData" ng-change="GetCategory(categoryData)" id="category" name="category">
                <option value="">Select level</option>
                <option ng-repeat="categoryDetails in categoryList" ng-value="categoryDetails.id">[[categoryDetails.category_name]]</option>
              </select>
            </div>
            <div class="col-sm-8" style="margin-top: 25px;" ng-show="categoryData">
              <div ng-repeat="(key, value) in to" class="radio-btn-text">
                <input type="radio" name="toCategory" id="toCategory" ng-click="GetData(value, categoryData)" value="[[value]]"> [[value]] [['lbl_months'|translate]]
                <label></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="!purchaseCategory">
        <div class="row">
          <center>No Data Found</center>
        </div>
      </div>
    </div>
    <div class="row">
      <div ng-if="current_domain=='net'" class="bottom-btn text-right" style="max-width: 330px; margin: 0 0 0 auto;"> 
        <h4 style="margin-bottom: 20px;" class="pad">[['lbl_promo_code'|translate]]</h4>
        <div class="col-sm-12" style="padding: 0 0 60px;">
            <div class="col-sm-8">
              <input type="text" class="form-control" name="promo_code" id="promo_code" ng-model="promo_code" >
            </div>
            <div class="col-sm-4" ng-if="current_domain=='net'">
              <a href="javascript:;" class="btn btn_custom btn-medium-pink btn-sm apply_promo" ng-disabled="!promo_code" ng-click="Checkpromo(promo_code)">[['lbl_apply'|translate]]</a>
            </div>
          <!-- </div> -->
        </div>
        <div class="row" ng-if="noPromoMatch">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">[[message]]</div>
        </div>
        <span></span>
        <h4 class="pad total-detail" style="border-top: solid 1px #f17598;" ng-if="price_type==1"><div> [['lbl_subscription_sub_total'|translate]]: </div> <div> $[[cartSubTotal | number: 2]] </div></h4>
        <h4 class="pad total-detail" style="border-top: solid 1px #f17598;" ng-if="price_type==2"><div> [['lbl_subscription_sub_total'|translate]]: </div> <div> S$[[cartSubTotal | number: 2]] </div></h4>
        <h4 class="pad total-detail" style="border-top: solid 1px #f17598;"  ng-if="!price_type"><div> [['lbl_subscription_sub_total'|translate]]: </div> <div> $[[cartSubTotal | number: 2]] </div></h4>
        <h4 class="pad total-detail"><div> [['lbl_promo_code'|translate]]: </div> <div> [[promo_code?promo_code:'-']] </div></h4>
        <!-- <h4 class="pad" ng-if="checkPromo">Discount : $[[discount]]</h4> -->
        <h4 class="pad total-detail" ng-if="price_type==1 && checkPromo"><div> [['lbl_discount'|translate]]: </div> <div> [[discount?'$'+discount:'-']] </div></h4>
        <h4 class="pad total-detail" ng-if="price_type==2 && checkPromo"><div> [['lbl_discount'|translate]]: </div> <div> [[discount?'S$'+discount:'-']] </div></h4>
        <h4 class="pad total-detail" ng-if="price_type==1"><div> [['lbl_taxrate'|translate]] ([[taxrateData | number: 2]]%): </div> <div> $[[taxRate | number: 2]] </div> </h4>
        <h4 class="pad total-detail" ng-if="price_type==2"><div> [['lbl_taxrate'|translate]] ([[taxrateData | number: 2]]%): </div> <div> S$[[taxRate | number: 2]] </div> </h4>
        <h4 class="pad total-detail" style="border-top: solid 1px #f17598;" ng-if="price_type==1"><div> [['lbl_subscription_total'|translate]]: </div> <div> $[[cartTotal | number: 2]] </div></h4>
        <h4 class="pad" style="border-top: solid 1px #f17598;" ng-if="price_type==2"><div> [['lbl_subscription_total'|translate]]: </div> <div> S$[[cartTotal | number: 2]] </div></h4>
        <h4 class="pad" style="border-top: solid 1px #f17598;" ng-if="!price_type"><div> [['lbl_subscription_total'|translate]]: </div> <div> $[[cartTotal | number: 2]] </div></h4>
      </div>
    </div>
    <hr style="border-bottom: 1px solid #f17598"></hr>
    <div class="row">
      <h4 style="margin-bottom: 10px;">[['lbl_terms_condition'|translate]]</h4>
      <ul style="margin: 0;">
        <!-- <li>Lorem ipsum dolor sit omet. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
        <li>Ut enim ad minim veniam. quis nostrud exercitation ullomco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Duis aute irure dolor in reprehenderit in voluptote velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidatat non proident. sunt in culpa qui officia deserunt mollit anim id est lborum.</li>
        <li>Ut enim ad minim veniam. quis nostrud exercitation ullomco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Duis aute irure dolor in reprehenderit in voluptote velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidatat non proident. sunt in culpa qui officia deserunt mollit anim id est lborum.</li> -->
        <li>[['lbl_terms_condition_desc'|translate]]</li>
        <li>[['lbl_terms_condition_desc1'|translate]]</li>
      </ul>
    </div>
    <hr style="border-bottom: 1px solid #f17598"></hr>
    <div class="row">
      <div class="checkbox-btn">
        <input type="checkbox" name="valid" id="valid" value="1"> [['lbl_i_accept'|translate]]
        <label></label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="margin-top: 20px;">
        <center>
          <a href="javascript:;" class="btn btn_custom btn-medium-pink btn-sm" ng-disabled="!cartTotal" ng-click="MakePayment()">[['lbl_process_escrow'|translate]]</a>
        </center>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="bg-light card-section">
      <div class="panel-group">
        <div class="panel">
          <div class="panel-body">
            <div class="row">
              <h4>[['lbl_subscription_history'|translate]]</h4>
            </div>
            <div class="row" ng-if="SubscriptionPlan" ng-repeat="SubscriptionPlan in SubscriptionPlan"> 
              <div class="bg-light card-section">
                <div class="panel-group" id="accordionExample_[[switch.id]]">
                  <div class="panel">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-6 col-md-4">
                          [['lbl_transaction_id'|translate]] : [[SubscriptionPlan.system_transaction_number]]
                        </div>
                        <div class="col-sm-6 col-md-4">
                          [['lbl_date'|translate]] : [[SubscriptionPlan.payment_at]]
                          <!-- Sub-Category : [[SubscriptionPlan.video_category_name]] -->
                        </div>
                        <div class="col-sm-6 col-md-4">
                          [['lbl_subscription_plan'|translate]] : [[SubscriptionPlan.video_category_name]]
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 col-md-4">
                          [['lbl_period'|translate]] : [[SubscriptionPlan.plan_duration]] [['lbl_months'|translate]]
                        </div>
                        <div class="col-sm-6 col-md-4" ng-if="SubscriptionPlan.payment_amount_type == 1 && switch.payment_amount != ''">
                          [['lbl_price'|translate]] : USD [[SubscriptionPlan.payment_amount]]
                        </div>
                        <div class="col-sm-6 col-md-4" ng-if="SubscriptionPlan.payment_amount_type == 2 && switch.payment_amount != ''">
                          [['lbl_price'|translate]] : SGD [[SubscriptionPlan.payment_amount]]
                        </div>
                        <div class="col-sm-6 col-md-4">
                          [['lbl_valid_from'|translate]] : [[SubscriptionPlan.end_date]]
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          [['lbl_promo_code'|translate]] : [[SubscriptionPlan.promo_code]]
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" ng-if="!SubscriptionPlan">
                <center>
                  <span>No Data Found</span>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade designer-my-uploads-popup" id="signuptermsandconditionsmodal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title uppercase color-purple">[['lbl_auto_renewal'|translate]]</h4>
      </div>
      <div class="modal-body reset_password_modal">
        <div>
          <p>[['lbl_autorenewal_desc'|translate]]</p>
          <p>[['lbl_autorenewal_desc1'|translate]] <a href="faq" target="_blank">[['lbl_faqs'|translate]]</a>.</p>
        </div>
        <div class="form-bottom-btn">
          <div class="row">

            <div>
              <button class="btn-sm btn btn-pink submit-btn uppercase" ng-click="myPayment()" id="twinkle-button">[['lbl_i_accept'|translate]]</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
