
<section class="distributors-Info-A_Info-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-6">
          <h3 class="panel-title">[['lbl_subscribers'|translate]]</h3>
        </div>
        <div class="col-sm-6 text-right">
          
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="content-div">
        <!-- <a href="manage/ignite/edit-distributor/[[distributorDetails.slug ]]" class="btn btn-pink pull-right">Edit</a>       -->
        <div class="lg-text"> [[distributorDetails.first_name ]] [[distributorDetails.last_name ]] </div>
      </div>
    </div>
  </div>
  <div id="" class="">
    <div class="panel-group custom-accordion">
      <div class="panel">
        <div class="panel-heading active">
          <h4 class="panel-title">
            <a> [['lbl_account_details'|translate]]
              <span class="right-icon ">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse" style="display:block">
          <div class="panel-body">
            <section class="D-Info-A_Info-form">
              <div class="form-group">
                <div class="row ">
                  <div class="col-sm-2">
                    <label>[['lbl_name'|translate]]</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[distributorDetails.first_name ]] [[distributorDetails.last_name ]]</strong>
                  </div>
                  <div class="col-sm-2">
                    <label>[['lbl_email_address'|translate]]</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[distributorDetails.email_address ]] </strong>                   
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row ">
                  <div class="col-sm-2">
                    <label>[['lbl_address'|translate]]</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[ distributorDetails.subscriber_city.name]][[', ' + distributorDetails.subscriber_state.name]][[',
                      ' +distributorDetails.subscriber_country.name]]</strong>
                  </div>
                  <div class="col-sm-2">
                    <label>[['lbl_phone_number'|translate]]</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>+[[distributorDetails.phonecode]] [[distributorDetails.contact]]</strong>
                  </div>
                </div>
              </div>          
            </section>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="javascript:;"> [['lbl_subscription'|translate]]
              <span class="right-icon ">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse">
          <div class="panel-body ">
            <h6 class="panel-title">
              [['lbl_current'|translate]]
            </h6>
            <hr>
            <div class="tbl-list-no-border">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <th>[['lbl_product'|translate]]</th>
                  <th>[['lbl_from'|translate]]</th>
                  <th>[['lbl_till'|translate]]</th>
                </tr>
                <tr ng-repeat="subscription in currentSubscription track by $index">
                  <td>[[subscription.video_category_name]]</td>
                  <td>[[subscription.from_date]]</td>
                  <td>[[subscription.to_date]]</td>
                </tr>
              </table>
            </div>
            <default-pagination currentpage="currentPaging" like="GetCurrentSubscription({'paid_by':distributorDetails.id},page)"
              paginate="paginateCurrent" range="rangeCurrentpage">
            </default-pagination>
          </div>

          <div class="panel-body ">
            <h6 class="panel-title">
              [['lbl_history'|translate]]
            </h6>
            <hr>
            <div class="tbl-list-no-border">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <th>[['lbl_product'|translate]]</th>
                  <th>[['lbl_from'|translate]]</th>
                  <th>[['lbl_till'|translate]]</th>
                </tr>
                <tr ng-repeat="subscription in historySubscription track by $index">
                  <td>[[subscription.video_category_name]]</td>
                  <td>[[subscription.from_date]]</td>
                  <td>[[subscription.to_date]]</td>
                </tr>
              </table>
            </div>
            <default-pagination currentpage="historyPaging" like="GetHistorySubscription({'paid_by':distributorDetails.id},page)"
              paginate="paginateHistory" range="rangeHistorypage">
            </default-pagination>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="javascript:;"> [['lbl_ignite_transactions'|translate]]
              <span class="right-icon ">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse">
          <div class="panel-body">
            <div class="tbl-list-no-border">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <th class="text-center">[['lbl_sr_no'|translate]]</th>
                  <th class="text-center">[['lbl_date'|translate]]</th>
                  <th class="text-center">[['lbl_product'|translate]]</th>
                  <th class="text-center">[['lbl_amount'|translate]]</th>
                  <th class="text-center">[['lbl_payment_platform'|translate]]</th>
                  <th class="text-center">[['lbl_access_mode'|translate]]</th>
                  <th class="text-center">[['lbl_salesperson'|translate]]</th>
                  <th class="text-center">[['lbl_promo_code'|translate]]</th>
                  <th class="text-center">[['lbl_remarks'|translate]]</th>
                </tr>
                <tr ng-repeat="transaction in transactions">
                  <td class="text-center">[[ $index+1]] </td>
                  <td class="text-center">[[ transaction.transaction_date]] </td>
                  <td class="text-center">[[ transaction.video_category_name]]</td>
                  <td class="text-center">[[ transaction.payment_amount]]</td>

                  <td class="text-center" ng-if="transaction.payment_method==1">AliPay</td>
                  <td class="text-center" ng-if="transaction.payment_method==2">PayPal</td>
                  <td class="text-center" ng-if="transaction.payment_method==3">Credit</td>
                  <td class="text-center" ng-if="transaction.payment_method==4">WeChat</td>
                  <td class="text-center" ng-if="transaction.payment_method==5">Strip</td>

                  <td class="text-center" ng-if="transaction.access_platform==1">Web</td>
                  <td class="text-center" ng-if="transaction.access_platform==2">ios</td>
                  <td class="text-center" ng-if="transaction.access_platform==3">Android</td>
                  <td class="text-center" ng-if="transaction.access_platform==4">WeChat</td>
                  <!-- <td class="text-center">[[ transaction.distributor?transaction.distributor.company_name:'SixClouds Web' ]] </td> -->
                  <td class="text-center" ng-if="transaction.distributer_team_member_id">[[ transaction.distributor_team_member.first_name ]] [[ transaction.distributor_team_member.last_name ]] </td>
                  <td class="text-center" ng-if="!transaction.distributer_team_member_id">N.A.</td>
                  <td class="text-center">[[ transaction.promo_code?transaction.promo_code:'N.A.']]</td>
                  <td class="text-center">[[ transaction.remarks]]</td>
                </tr>
              </table>
            </div>
            <default-pagination currentpage="transactionPaging" like="GetSubscriberTransaction({'slug':slug},page)"
              paginate="paginateTransaction" range="rangeTransactionpage">
            </default-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>