
<div class="container">
  <div class="white-block">
    <h2 class="page-title text-center">[['lbl_my_subscription'|translate]]</h2>
    <div class="row">
      <div class="col-xs-6 mb-2">
        <h4 style="padding-left: 80px; margin-bottom: 20px;">
          [['lbl_from'|translate]]
        </h4>
      </div>
      <div class="col-xs-6 mb-2">
        <h4 style="padding-left: 80px; margin-bottom: 20px;">
          [['lbl_to'|translate]]
        </h4>
      </div>
    </div>
    <div class="row">
      <div ng-if="purchaseCategory">
        <div class="col-xs-6 radio-btn-text" style="padding-left: 100px;">
          <input type="radio" name="fromCategory" ng-model="fromCategory" value="[[purchaseCategory[0].video_category_id]]" ng-checked="purchaseCategory" ng-disabled="purchaseCategory"> [[purchaseCategory[0].video_category_name]]
          <label></label>
        </div>
        <div class="col-xs-6" style="padding-left: 100px;">
          <div class="col-4">
            <div ng-repeat="(key, value) in category_list" class="radio-btn-text">
              <input type="radio" name="to_category" id="to_category" ng-model="$parent.toCategory" value="[[value.id]]" ng-click="getData(value.id)"> [[value.category_name]]
              <label></label>
              <!-- <input type="radio" name="to_category" value="600"> BUZZ 3 -->
            </div>
          </div>
        </div>
      </div>
      <div ng-if="!purchaseCategory">
        <div class="row">
          <center>No Data Found</center>
        </div>
      </div>
    </div>
    <hr style="border-bottom: 1px solid #f17598"></hr>
    <div class="row">
      <h4 style="margin-bottom: 10px;">[['lbl_terms_condition'|translate]]</h4>
      <ul style="margin: 0;">
        <!-- <li>Lorem ipsum dolor sit omet. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
        <li>Ut enim ad minim veniam. quis nostrud exercitation ullomco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Duis aute irure dolor in reprehenderit in voluptote velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidatat non proident. sunt in culpa qui officia deserunt mollit anim id est lborum.</li>
        <li>Ut enim ad minim veniam. quis nostrud exercitation ullomco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Duis aute irure dolor in reprehenderit in voluptote velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidatat non proident. sunt in culpa qui officia deserunt mollit anim id est lborum.</li> -->
        <li>[['lbl_switch_desc'|translate]]</li>
        <li>[['lbl_switch_desc1'|translate]]</li>
        <li>[['lbl_switch_desc2'|translate]]</li>
        <li>[['lbl_switch_desc3'|translate]]</li>
      </ul>
    </div>
    <hr style="border-bottom: 1px solid #f17598"></hr>
    <div class="row">
      <div class="checkbox-btn">
        <input type="checkbox" name="valid" id="valid" value="1"> [['lbl_i_accept'|translate]]
        <label></label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="margin-top: 25px;">
        <center>
          <a href="javascript:;" class="btn btn_custom btn-medium-pink btn-sm" ng-click="MakeSwitch(toCategory)">[['lbl_make_switch'|translate]]</a>
          <div ng-if="switchCount || switchCount == 0" style="margin-top: 15px;">
            <span ng-if="transLang=='en'"><b>You have <u>[[switchCount]] [[switchCount==2?'switches':'switch']]</u> left.</b></span>
            <span ng-if="transLang=='chi'"><b>您有<u>[[switchCount]]</u>次转换课程的机会。</b></span>
            <span ng-if="transLang=='ru'"><b>У вас <u>[[switchCount==2||switchCount==0?'осталось':'остался']] [[switchCount]]</u> [[switchCount==2?'переключения.':switchCount==1?'переключение.':'переключений.']]</b></span>
          </div>
        </center>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="bg-light card-section" style="margin-top: 15px;">
      <div class="panel-group">
        <div class="panel">
          <div class="panel-body">
            <div class="row">
              <h4>[['lbl_switch_history'|translate]]</h4>
            </div>
            <div class="row" ng-if="SwitchhistoryDetails" ng-repeat="switchHistory in SwitchhistoryDetails" style="margin-top: 15px;"> 
              <div class="col-sm-6 col-md-4">
                <b>[['lbl_date'|translate]]:</b> [[switchHistory.created_at]]
              </div>
              <div class="col-sm-6 col-md-4">
                <b>[['lbl_from'|translate]]:</b> [[switchHistory.from]]
              </div>
              <div class="col-sm-6 col-md-4">
                <b>[['lbl_to'|translate]]:</b> [[switchHistory.to]] 
              </div>
            </div>
            <div class="row" ng-if="!SwitchhistoryDetails">
              <center>
                <span>No Data Found</span>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>