<section class="distributors-Info-A_Info-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-6">
          <h3 class="panel-title">[['lbl_salesperson'|translate]]</h3>
        </div>
        <div class="col-sm-6 text-right">
          
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="content-div">
        <!-- <a href="manage/ignite/edit-distributor/[[distributorDetails.slug ]]" class="btn btn-pink pull-right">Edit</a>       -->
        <div class="lg-text"> [[teamMember.first_name ]] [[teamMember.last_name ]] </div>
      </div>
    </div>
  </div>
  <div id="" class="">
    <div class="panel-group custom-accordion">
      <div class="panel">
        <div class="panel-heading active">
          <h4 class="panel-title">
            <a> [['lbl_salesperson_info'|translate]]
              <span class="right-icon ">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse" style="display:block">
          <div class="panel-body">
            <section class="D-Info-A_Info-form">
              <div class="form-group">
                <div class="row ">
                  <div class="col-sm-2">
                    <label>[['lbl_name'|translate]]</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[teamMember.first_name ]] [[teamMember.last_name ]]</strong>
                  </div>
                  <div class="col-sm-2">
                    <label>[['lbl_email_address'|translate]]</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[teamMember.email_address ]] </strong>                   
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row ">
                  <div class="col-sm-2">
                    <label>[['lbl_phone_number'|translate]]</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong ng-if="teamMember.contact">+[[teamMember.phonecode]] [[teamMember.contact]]</strong>
                    <strong ng-if="!teamMember.contact">N/A</strong>
                  </div>
                  <div class="col-sm-2">
                    <label>[['lbl_total_users'|translate]]</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[teamMember.distributor_referrals_count_count]]</strong>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row ">
                  <div class="col-sm-2">
                    <label>[['lbl_phone_number_status'|translate]]</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[teamMember.status==1?'lbl_verified':'lbl_unverified'|translate]]</strong>
                  </div>
                  <div class="col-sm-2">
                    <label>[['lbl_total_commissions'|translate]]</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>0</strong>
                  </div>
                </div>
              </div>          
            </section>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="javascript:;"> [['lbl_access_code'|translate]]
              <span class="right-icon ">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse">
          <div class="panel-body ">
            <div class="row my_code_custom_row">
              <div class="col-sm-2">[['lbl_sales_code'|translate]]</div>
              <div class="col-sm-10 my_code_custom"> : [[teamMember.referal_code]]</div>
            </div>
            <div class="row my_code_custom_row">
              <div class="col-sm-2">[['lbl_unique_url'|translate]]</div>
              <div class="col-sm-10 my_code_custom"> : [[teamMember.unique_link]]</div>
            </div>
            <div class="row my_code_custom_row">
              <div class="col-sm-2">[['lbl_qr_code'|translate]]</div>
              <div class="col-sm-10 my_code_custom_img_detail">
                <img alt="" ng-src="public/uploads/distributor_qr_codes/team/[[teamMember.qrcode_file_name]]" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="javascript:;"> [['lbl_subscribers'|translate]]
              <span class="right-icon ">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse">
          <div class="panel-body">
            <div class="tbl-list-no-border">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <th class="text-center">[['lbl_subscribers'|translate]]</th>
                  <th class="text-center">[['lbl_email_address'|translate]]</th>
                  <th class="text-center">[['lbl_phone_number'|translate]]</th>
                  <th class="text-center">[['lbl_mode'|translate]]</th>
                </tr>
                <tr ng-repeat="transaction in allSubscriber">
                  <td class="text-center">[[ transaction.referal_user.display_name]]</td>
                  <td class="text-center">[[ transaction.referal_user.email_address]]</td>
                  <td class="text-center">+[[ transaction.referal_user.phonecode]] [[ transaction.referal_user.contact]]</td>
                  <td class="text-center">
                    <span class="btn success" ng-if="transaction.referal_through == 1">[['lbl_distributor_code'|translate]]</span>
                    <span class="btn success" ng-if="transaction.referal_through == 2">[['lbl_qr_code'|translate]]</span>
                    <span class="btn success" ng-if="transaction.referal_through == 3">[['lbl_unique_url'|translate]]</span>
                    <span class="btn success" ng-if="transaction.referal_through == 4">[['lbl_salesperson_code'|translate]]</span>
                  </td>
                </tr>
              </table>
            </div>
            <default-pagination currentpage="currentSubscriberPaging" like="GetallReferalData([[teamMember.id]],page)" paginate="paginateSubscriber" range="rangeSubscriberpage"></default-pagination>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="javascript:;"> Transaction Details
              <span class="right-icon ">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse">
          <div class="panel-body">
            <div class="tbl-list-no-border">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <th class="text-center">[['lbl_date'|translate]]</th>
                  <th class="text-center">[['lbl_subscribers'|translate]]</th>
                  <th class="text-center">[['lbl_email_address'|translate]]</th>
                  <th class="text-center">[['lbl_phone_number'|translate]]</th>
                  <th class="text-center">[['lbl_product_purchased'|translate]]</th>
                  <th class="text-center">[['lbl_subscription_expiry'|translate]]</th>
                  <th class="text-center">[['lbl_remarks'|translate]]</th>
                </tr>
                <tr ng-repeat="transaction in allReferals">
                  <td class="text-center">[[ transaction.from_date]] </td>
                  <td class="text-center">[[ transaction.user_detail.display_name]]</td>
                  <td class="text-center">[[ transaction.user_detail.email_address]]</td>
                  <td class="text-center">+[[ transaction.user_detail.phonecode]] [[ transaction.user_detail.contact]]</td>
                  <td class="text-center">[[ transaction.video_categories.category_name]]</td>
                  <td class="text-center">[[ transaction.expiry_date]]</td>
                  <td class="text-center">[[ transaction.remarks]]</td>
                </tr>
              </table>
            </div>
            <default-pagination currentpage="currentReferalsPaging" like="GetallReferalData([[teamMember.id]],page)" paginate="paginate" range="rangeReferalspage"></default-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>