<div class="container">
  <div class="white-block">
  	<!-- <form id='twinkleRedirectForm' class="hide" enctype='application/json' method='POST' action ='https://sixclouds.smartjen.com/services/access' target="iFrame">
    	<input type='text' name='token' ng-model=twinkleRedirectToken >
	</form> -->

	<div>
      	<!-- <iframe id="iFrame" name="iFrame" src='https://sixclouds.smartjen.com/services/access' style="border:1px solid #9a9a9a;" width='100%' height="800px" allowfullscreen>
      	</iframe> -->
      	<iframe name='proprofs' id='proprofs' width='100%' height='800px' frameborder=0 marginwidth=0 marginheight=0  style="border:1px solid #9a9a9a;"></iframe>
    </div>

  </div>
</div>