
<div class="container">
  <div class="white-block">
    <div id="verify_phone">
      <section class="change-password-section">
        <div class="form-div">
          <div class="form-group">
                  <label class="fl_label" for="old_password">[['lbl_phone_number'|translate]]</label>
            <div class="row">
              <div class="col-sm-3">
                <div class="fl_wrap">
                  <input type="text" class="form-control phonecode_custom disable_input" required="" numbers-only id="country_code" ng-model="country_code" name="country_code" placeholder="+">
                  <i class="fa fa-check-circle out-icon" ng-if="country_code && !country_code_error"></i>
                  <i class="fa fa-exclamation-circle out-icon" ng-if="!country_code && country_code_error" title="[['lbl_country_code_required' | translate]]"></i>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="fl_wrap">
                  <input type="text" class="form-control disable_input" numbers-only id="phone_number" required="" ng-model="phone_number" name="phone_number" placeholder="[['lbl_phone_number'|translate]]" >
                  <i class="fa fa-check-circle out-icon" ng-if="phone_number && !phone_number_error"></i>
                  <i class="fa fa-exclamation-circle out-icon" ng-if="!phone_number && phone_number_error" title="[['lbl_contact_number_is_required' | translate]]"></i>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="otpSent" class="form-group">
            <div class="fl_wrap">
              <label class="fl_label" for="new_password">[['lbl_otp'|translate]]</label>
              <input type="text" class="form-control disable_otp" numbers-only id="otp" ng-model="otp.otp" name="otp" placeholder="[['lbl_otp'|translate]]" />
              <!-- <i class="fa fa-check-circle out-icon" ng-if="new_password && !new_password_error&&!new_password_expression_error"></i>
              <i class="fa fa-exclamation-circle out-icon" ng-if="!new_password && new_password_error" title="[['lbl_password_required' | translate]]"></i>
              <i class="fa fa-exclamation-circle out-icon" ng-if="new_password_expression_error" title="[['lbl_password_text_distributor' | translate]]"></i> -->
            </div>
          </div>
          <div class="form-group update-btn update_custom text-center">
            <button ng-if="!otpSent" class="btn btn-medium-pink btn-sm send_otp" ng-click="Sendotp(country_code,phone_number)">[['lbl_send_otp'|translate]]</button>
            <button ng-if="otpSent" class="btn btn-medium-pink btn-sm verify_otp left" ng-click="Verifyotp(country_code,phone_number,otp)">[['lbl_verify_otp'|translate]]</button>
            <button ng-if="otpSent" class="btn btn-medium-pink btn-sm send_otp resend_otp right" ng-click="Sendotp(country_code,phone_number)">[[appendresend]][[appendresendDot]][[resendText]]</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>