body {
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #323232;
}
h1, h2, h3, h4, h5 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
img {
	max-width: 100%;
	height: auto;
}
.form-control{
	box-shadow: none;
	border-color: #d0d0d0;
}
.black-color{
	color: #141414;
}
.bold {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;
}
.no-radius {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.color-purple {
	color: #8972f0 !important;
}
.desktop-hide {
	display: none !important;
}
.container {
	max-width: 1300px;
	width: 100%;
}
.body-div {
	overflow: hidden
}
/*Button css Start*/
.uppercase {
	text-transform: uppercase;
}
.btn:focus {
	box-shadow: none !important;
}
a.btn, a {
	border: none;
}
.btn {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	height: 50px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 34px;
	border: none;
	outline: none !important;
	box-shadow:none;
}
.btn-purple {
	background: #8a75d0 !important;
	color: #fff !important;
}
.btn-purple:hover {
	background: #6e55c1 !important;
	color: #fff !important;
}
.btn-red {
	background: #f84c24 !important;
	color: #fff !important;
}
.btn-red:hover {
	background: #e6340b !important;
	color: #fff !important;
}
.btn-green {
	background: #69d753 !important;
	color: #fff !important;
}
.btn-green:hover {
	background: #23a109 !important;
	color: #fff !important;
}
.btn-light-purple {
	background: #e8e3ff !important;
	color: #141414 !important;
}
.btn-light-purple:hover {
	background: #8972f0 !important;
	color: #fff !important;
}
.btn-white {
	background: #ffffff !important;
	color: #8a75d0 !important;
}
.btn-white:hover {
	background: #ffffff !important;
	color: #8a75d0 !important;
}
/*Button css END*/

/*Header css Start*/
header {
	padding: 30px 0;
	position: relative;
	background: #fff;
	z-index: 999
}
.header-mid-btn {
	text-align: right;
}
.header-mid-btn .btn {
	min-width: 140px;
	margin-left: 20px;
}
.logo {
	margin: -15px 0;
}
.header-search-div .form-control {
	border: 1px solid #dcd5f1;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	height: 50px;
	font-size: 14px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.header-search-div {
	position: relative;
}
.header-search-div .btn {
	position: absolute;
	right: 10px;
	top: 6px;
	outline: none;
	color: #9b9b9b;
	height: 27px;
	background: none;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-left: 1px solid #dcd5f1;
	margin-top: 5px;
	padding: 0 12px;
	font-size: 20px;
}
.header-search-div .btn .fa {
	position: relative;
	top: -5px;
}
.right-login .btn {
	min-width: 100%;
}
/*Header css END*/


/*Home Slider Start*/
.header-slider {
	margin-bottom: 0;
}
.header-slider .swiper-container {
	min-height: 630px;
}
.header-slider .slide-content {
	height: 510px;
	background-size: cover;
	background-position: center top;
	color: #fff;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	position: relative;
}
.header-slider .slide-content .text-div {
	padding-top: 130px;
}
.header-slider .slide-content h2 {
	font-size: 40px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	margin: 0;
	margin-bottom: 30px;
}
.header-slider .slide-content .detail-div {
	min-height: 100px;
	margin-bottom: 35px;
}
.header-slider .right-img-div {
	position: absolute;
	right: 0;
	bottom: -130px;
}
.header-slider .btn {
	min-width: 160px;
}
.header-slider .right-img-div .c-img {
	position: relative;
	z-index: 6
}
.header-slider .right-img-div .play-icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 99;
	font-size: 25px;
	color: #fff;
}
.header-slider .right-img-div .play-icon a {
	padding: 18px;
	padding-left: 24px;
	text-align: center;
	width: 61px;
	height: 61px;
	display: inline-block;
	background: rgba(255,255,255,1);
	color: #8a75d0;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.header-slider .right-img-div .play-icon a:hover {
	background: rgba(255,255,255,0.8)
}
/*Home Slider END*/

/*block-one-div Start*/
.block-one-div {
	padding: 50px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #fff;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
}
.block-one-div:hover {
	border: 1px solid #e8e8e8;
}
.block-one-div .img-div {
	margin-bottom: 30px;
}
.block-one-div h4 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #8a75d0;
	letter-spacing: 2px;
}
.block-one-div h2 {
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 34px;
	line-height: 34px;
	color: #323232;
	letter-spacing: 2px;
	margin-bottom: 25px;
}
.block-one-div .detail-text {
	min-height: 100px;
}
.block-one-div .bottom-btn {
	margin-top: 20px;
}
.block-one-div .bottom-btn .btn {
	min-width: 122px;
}
/*block-one-div END*/




/*Graphic Deign Section Start*/

.graphic-deign-section {
	background-size: 100% 100%;
	padding: 70px 0;
	position: relative;
}
.graphic-deign-section:after {
	position: absolute;
	width: 340px;
	height: 340px;
	content: "";
	display: block;
	right: -200px;
	top: 110px;
	background: #f00;
	z-index: 5;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background: rgba(246,117,153,0.05);
}
.graphic-deign-swiper {
	max-width: 1060px;
	margin: 0 auto;
	margin-top: 80px;
}
.graphic-deign-section .next-prev-div {
	text-align: right;
	font-size: 0;
	margin-top: 50px;
}
.graphic-deign-section .next-prev-div div {
	display: inline-block;
	cursor: pointer;
	width: 47px;
	height: 47px;
	position: relative;
	font-size: 27px;
	margin: 0 5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.graphic-deign-section .next-prev-div div:hover {
	background: #8a75d0;
	color: #fff;
}
.graphicD-swiper-button-next {
	text-align: left;
	color: #8a75d0;
	line-height: 45px;
}
.graphicD-swiper-button-prev {
	text-align: right;
	color: #8a75d0;
	line-height: 45px;
}
.GD-icon-box {
	text-align: center
}
.GD-icon-box h3 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}
.GD-icon-box .detail-div {
	overflow: hidden;
	height: 1px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.GD-icon-box:hover .detail-div {
	height: 50px;
}
/*Graphic Deign Section END*/

.normal-content-block {
	font-size: 16px;
	line-height: 22px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	position: relative;
}
.normal-content-block h4 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #8a75d0;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.normal-content-block h2 {
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 36px;
	line-height: 36px;
	color: #323232;
	letter-spacing: 1px;
	margin-bottom: 25px;
}
/*P Matching section Start*/
.p-matching-section {
	padding: 100px 0;
	position: relative;
}
.p-matching-section .detail-text {
	margin-bottom: 25px;
	min-height: 100px;
}
.p-matching-section .btn {
	min-width: 160px;
}
.p-matching-section .right-content-div {
	margin-top: 130px;
	position: relative;
	z-index: 55;
}
.p-matching-section .circle-span {
	position: absolute;
	width: 500px;
	height: 500px;
	content: "";
	display: block;
	right: -100px;
	bottom: 100px;
	background: #f00;
	z-index: 5;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background: rgba(246,117,153,0.05);
}
.p-matching-section .left-img-div {
	position: relative
}
.p-matching-section .left-img-div:after {
	position: absolute;
	width: 80px;
	height: 80px;
	content: "";
	display: block;
	right: 30px;
	top: -30px;
	background: #f00;
	z-index: 5;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background: rgba(138,117,208,0.05);
}
/*P Matching section End*/

/*MEET OUR TALENTS! section End*/
.meet-our-talents-section {
	padding: 100px 0;
	background-size: 100% 100%;
	position: relative;
}
.university-list {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-align: center;
}
.university-list li a {
	display: inline-block;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 23px;
	color: #000;
	text-decoration: none;
	text-align: center;
	padding: 20px 25px;
	border: 1px solid #f0f3f5;
	box-shadow: 0 -5px 15px rgba(41,134,182,0.1);
	background: #fff;
	-webkit-transition: all 500ms ease-in;
	-webkit-transform: scale(1);
	-ms-transition: all 500ms ease-in;
	-ms-transform: scale(1);
	-moz-transition: all 500ms ease-in;
	-moz-transform: scale(1);
	transition: all 500ms ease-in;
	transform: scale(1);
	z-index: 22;
	position: relative;
	text-align: left;
	width: 60%;
	margin-bottom: 5px;
}
.university-list li:hover a {
	box-shadow: 0 5px 15px rgba(41,134,182,0.1);
	z-index: 55;
}
.university-list li:nth-child(1) a {
}
.university-list li:nth-child(2) a {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}
.university-list li:nth-child(3) a {
	-webkit-transform: scale(1.4);
	-ms-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}
.university-list li:nth-child(4) a {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}
.our-client-div {
	text-align: center
}
.our-client-div h3 {
	font-size: 20px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	margin: 0;
	padding: 10px 0;
	margin-bottom: 10px;
}
/*MEET OUR TALENTS! section End*/


/*DESIGNERS section Start*/
.designer-section {
	padding: 60px 0;
}
.designer-section .bottom-btn {
	margin-top: 20px;
	text-align: center;
}
.designer-section .bottom-btn .btn {
	min-width: 220px;
}
.design-post-block {
	margin-bottom: 45px;
	-moz-border-radius-topleft: 1px;
	-webkit-border-top-left-radius: 1px;
	border-top-left-radius: 1px;
	-moz-border-radius-topright: 1px;
	-webkit-border-top-right-radius: 1px;
	border-top-right-radius: 1px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.design-post-block:hover {
	box-shadow: 0 5px 30px rgba(0,0,0,0.1);
}
.design-post-block .img-div a {
	height: 180px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
}
.design-post-block .content-div {
	border: 1px solid #e7e7e7;
	border-top: none;
	padding: 15px;
	-moz-border-radius-topleft: 1px;
	-webkit-border-top-left-radius: 1px;
	border-top-left-radius: 1px;
	-moz-border-radius-topright: 1px;
	-webkit-border-top-right-radius: 1px;
	border-top-right-radius: 1px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.design-post-block .content-div h3 {
	font-size: 16px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	margin: 0;
	margin-bottom: 15px;
}
.design-post-block .content-div th {
	width: 55px;
}
.design-post-block .content-div td strong {
	font-size: 12px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.rating-div {
	color: #cfcdcd;
}
.rating1 i:nth-child(1) {
	color: #e0c21a;
}
.rating2 i:nth-child(1), .rating2 i:nth-child(2) {
	color: #e0c21a;
}
.rating3 i:nth-child(1), .rating3 i:nth-child(2), .rating3 i:nth-child(3) {
	color: #e0c21a;
}
.rating4 i:nth-child(1), .rating4 i:nth-child(2), .rating4 i:nth-child(3), .rating4 i:nth-child(4) {
	color: #e0c21a;
}
.rating5 i:nth-child(1), .rating5 i:nth-child(2), .rating5 i:nth-child(3), .rating5 i:nth-child(4), .rating5 i:nth-child(5) {
	color: #e0c21a;
}
/*DESIGNERS section End*/

/*Testimonial Section Start*/
.testimonial-section {
	padding-bottom: 30px;
}
.testimonial-block-div {
	font-family: 'Gotham Rounded light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 0;
}
.testimonial-swiper:after {
	position: absolute;
	content: "";
	right: 0;
	background: url(../images/fade-img.png) repeat-y;
	background-position: right top;
	display: block;
	height: 100%;
	top: 0;
	width: 200px;
	z-index: 222;
}
.testimonial-block-div h5 {
	font-size: 16px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	margin: 0 0 3px 0;
	padding-top: 15px;
}
.testimonial-block-div h3 {
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 0px;
	color: #323232;
}
.testimonial-block-div .media {
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 20px;
}
.t-quote-icon {
	margin-bottom: -35px;
}
.testimonial-section .next-prev-div {
	text-align: right;
	font-size: 0;
	margin-top: 0;
}
.testimonial-section .next-prev-div div {
	display: inline-block;
	cursor: pointer;
	width: 47px;
	height: 47px;
	position: relative;
	font-size: 27px;
	margin: 0 5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.testimonial-section .next-prev-div div:hover {
	background: #8a75d0;
	color: #fff;
}
.testimonial-swiper-button-next {
	text-align: left;
	color: #8a75d0;
	line-height: 45px;
}
.testimonial-swiper-button-prev {
	text-align: right;
	color: #8a75d0;
	line-height: 45px;
}
/*Testimonial Section End*/



/*footer*/
footer {
	margin-top: 70px;
}
.footer-bg-repeat {
	background: url(../../../images/footer-bg.png) repeat-x;
	height: 110px;
}
.main-footer {
	background: url(../../../images/footer-repeat-bg.png) repeat;
	padding: 50px 0;
	font-size: 16px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.main-footer h3 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 16px;
	margin: 0;
	margin-bottom: 25px;
	color: #323232;
}
.main-footer ul {
	margin: 0;
	padding: 0;
	list-style: none
}
.main-footer ul li a {
	color: #323232;
	text-decoration: none;
	font-size: 14px;
	padding: 5px 0;
	display: block;
}
.footer-logo {
	margin-bottom: 25px;
}
.main-footer .bottom-div a {
	color: #8a75d0;
	text-decoration: none;
}
.main-footer .bottom-div .copy {
	font-size: 30px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.main-footer .bottom-div strong {
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 14px;
}
.main-footer .sub-div {
	margin-top: 40px;
	margin-bottom: 35px;
	position: relative;
}
.main-footer .sub-div .btn {
	position: absolute;
	right: 5px;
	top: 2px;
	outline: none;
	color: #9b9b9b;
	height: 27px;
	background: none;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-left: 1px solid #dcd5f1;
	margin-top: 5px;
	padding: 0 12px;
	font-size: 20px;
}
.main-footer .sub-div .btn .fa {
	position: relative;
	top: -5px;
}
.main-footer .sub-div .form-control {
	border: 1px solid #8a75d0;
	height: 40px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: none;
	padding-left: 20px;
	padding-right: 20px;
}
.main-footer .h-div {
	height: 230px;
}
.social-icon {
	margin-bottom: 25px;
}
.social-icon a {
	color: #8a75d0;
	font-size: 18px;
	display: inline-block;
	margin: 0 10px 0 0;
}
.select-language {
	margin-bottom: 10px;
	text-align: right;
	margin-top: -20px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 14px;
}
.select-language select.form-control {
	display: inline-block;
	width: 130px;
	padding: 0 5px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 14px;
	height: 25px !important;
}
/*Sign Up CSS STart*/
.sign-up-section .left-g-circle {
	position: fixed;
	left: -150px;
	top: 210px;
	z-index: -1;
}
.sign-up-section .right-g-sm-circle {
	position: fixed;
	right: 10%;
	top: 40%;
	z-index: -1;
}
.sign-up-section .right-g-trangle {
	position: fixed;
	right: 0;
	top: 50%;
	z-index: -1;
}
.sign-up-section .sign-up-logo {
	margin: 50px 0;
}
.sign-up-section h3 {
	margin: 0;
	padding: 0;
	color: #8a75d0;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.sign-up-section .head-sub-text {
	margin-bottom: 40px;
}
.sign-up-section .head-sub-text h3 {
	margin-bottom: 25px;
	letter-spacing: 3px;
}
.sign-up-form {
	max-width: 550px;
	margin: 0 auto;
}
.sign-up-form .paddingB50 {
	padding-bottom: 30px;
}
.bootstrap-datetimepicker-widget table {
	font-size: 14px;
}
.bootstrap-datetimepicker-widget table th, .bootstrap-datetimepicker-widget table td {
	padding: 3px;
 font-size: 14px !importnt;
}
.bootstrap-datetimepicker-widget table td.day.active, .bootstrap-datetimepicker-widget table td.day.active.today {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a476db+1,c07ac5+100 */
	background: #a476db; /* Old browsers */
	background: -moz-linear-gradient(45deg, #a476db 1%, #c07ac5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #a476db 1%, #c07ac5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #a476db 1%, #c07ac5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a476db', endColorstr='#c07ac5', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.bootstrap-datetimepicker-widget table thead {
	color: #8a75d0;
}
.bootstrap-datetimepicker-widget table thead .next, .bootstrap-datetimepicker-widget table thead .prev, .bootstrap-datetimepicker-widget table thead .picker-switch {
	color: #000;
}
.sign-up-form .form-bottom-btn {
	margin: 50px 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.sign-up-form .form-bottom-btn .next-btn {
	text-decoration: none;
	color: #323232;
}
.sign-up-form .form-bottom-btn .next-btn span {
	display: inline-block;
	cursor: pointer;
	width: 47px;
	height: 47px;
	position: relative;
	font-size: 27px;
	margin: 0 5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #8a75d0;
	color: #fff;
	text-align: left;
	vertical-align: middle;
}
.sign-up-form .form-bottom-btn .next-btn:hover span {
	background: #ea7fa4;
}
.sign-up-form .form-bottom-btn .step-text {
	padding: 15px 0;
}
.sign-up-form .form-bottom-btn .submit-btn {
	min-width: 142px;
}
.design-capabilities {
	font-size: 0;
}
.sign-up-form .FlowupLabels .fl_wrap .right-day {
	position: absolute;
	right: 10px;
	bottom: 11px;
	z-index: 22;
	font-size: 14px;
	color: #8972f0;
}
.sign-up-form .FlowupLabels .fl_wrap .left-yen {
	position: absolute;
	left: 20px;
	bottom: 11px;
	z-index: 22;
	font-size: 14px;
	color: #8972f0;
}
/* Base for label styling */
.custom-checkbox {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px;
	vertical-align: top;
}
.custom-checkbox label {
	position: relative;
	margin: 0;
	display: block;
	min-width: 120px;
	padding: 5px 10px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	font-size: 12px;
	background: #e8e3ff;

}
.custom-checkbox [type="checkbox"]:not(:checked), .custom-checkbox [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
.custom-checkbox [type="checkbox"]:not(:checked) + label {
	position: relative;
	cursor: pointer;
	left: 0;
	width: 100%;
	height: 100%;
	top: 0;
}
.custom-checkbox [type="checkbox"]:checked + label {
	color: #fff;
	background: #8972f0;
}
/* checked mark aspect changes */
.custom-checkbox [type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
.custom-checkbox [type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
.custom-checkbox [type="checkbox"]:disabled:not(:checked) + label:before, .custom-checkbox [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
.custom-checkbox [type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
.custom-checkbox [type="checkbox"]:disabled + label {
	color: #aaa;
}

/* Base for label styling */
.custom-checkbox2 label {
	margin: 0;
}
.custom-checkbox2 [type="checkbox"]:not(:checked), .custom-checkbox2 [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
.custom-checkbox2 [type="checkbox"]:not(:checked) + label, .custom-checkbox2 [type="checkbox"]:checked + label {
	position: relative;
	padding-left: 40px;
	cursor: pointer;
	color: #7c81af;
	font-size: 12px;
	line-height: 25px;
}
/* checkbox aspect */
.custom-checkbox2 [type="checkbox"]:not(:checked) + label:before, .custom-checkbox2 [type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 25px;
	background: #e8e3ff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.custom-checkbox2 [type="checkbox"]:checked + label:before {
	background: #92e786;
}
/* checked mark aspect */
.custom-checkbox2 [type="checkbox"]:not(:checked) + label:after, .custom-checkbox2 [type="checkbox"]:checked + label:after {
	content: '✔';
	position: absolute;
	top: 0.5em;
	left: .5em;
	line-height: 0.8;
	color: #fff;
	transition: all .2s;
	font-size: 14px;
}
/* checked mark aspect changes */
.custom-checkbox2 [type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
.custom-checkbox2 [type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
.custom-checkbox2 [type="checkbox"]:disabled:not(:checked) + label:before, .custom-checkbox2 [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
.custom-checkbox2 [type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
.custom-checkbox2 [type="checkbox"]:disabled + label {
	color: #aaa;
}
/* accessibility */
.custom-checkbox2 [type="checkbox"]:checked:focus + label:before, .custom-checkbox2 [type="checkbox"]:not(:checked):focus + label:before {
}
.custom-radio1 [type="radio"]:checked, .custom-radio1 [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
.custom-radio1 [type="radio"]:checked + label, .custom-radio1 [type="radio"]:not(:checked) + label {
	position: relative;
	padding-left: 40px;
	cursor: pointer;
	color: #7c81af;
	font-size: 12px;
	line-height: 25px;
}
.custom-radio1 [type="radio"]:checked + label:before, .custom-radio1 [type="radio"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 25px;
	background: #e8e3ff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.custom-radio1 [type="radio"]:checked + label:before {
	background: #92e786;
}
.custom-radio1 [type="radio"]:checked + label:after, .custom-radio1 [type="radio"]:not(:checked) + label:after {
	content: '✔';
	position: absolute;
	top: 0.5em;
	left: .5em;
	line-height: 0.8;
	color: #fff;
	font-size: 14px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.custom-radio1 [type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.custom-radio1 [type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*Sign Up CSS END*/


/*Range Slider CSS Start*/
.price-range {
	padding: 20px 0 70px 0;
}
.price-range .asRange {
	max-width: 450px;
	width: 100%;
	background: #e8e3ff;
	margin-bottom: 80px;
}
.price-range ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	color: #7c81af;
}
.price-range ul li {
	padding: 5px 0;
}
.price-range .asRange .asRange-selected {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a075c5+1,e075a5+100 */
	background: #a075c5; /* Old browsers */
	background: -moz-linear-gradient(left, #a075c5 1%, #e075a5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a075c5 1%, #e075a5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a075c5 1%, #e075a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a075c5', endColorstr='#e075a5', GradientType=1 ); /* IE6-9 */
}
.price-range .asRange .asRange-pointer:before {
	background: #8972f0;
}
.price-range .asRange .asRange-pointer:after {
	display: none;
}
.price-range .asRange .asRange-pointer .asRange-tip {
	background: #fff;
	font-size: 12px;
	color: #898989;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	border: 2px solid #e8e3ff;
	padding: 0 15px;
	width: 80px;
	height: 24px;
	text-align: center;
	left: -18px;
	top: auto;
	bottom: -40px;
}
.price-range .asRange .asRange-pointer .asRange-tip:before {
	display: none;
}
/*Range Slider CSS END*/



/*rating Slider CSS Start*/
.rating-range {
	padding: 10px 0 50px 0;
}
.rating-range .asRange {
	max-width: 450px;
	width: 100%;
	background: #e8e3ff;
	margin-bottom: 0;
}
.rating-range ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	color: #7c81af;
}
.rating-range ul li {
	padding: 5px 0;
}
.rating-range .asRange .asRange-selected {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a075c5+1,e075a5+100 */
	background: #a075c5; /* Old browsers */
	background: -moz-linear-gradient(left, #a075c5 1%, #e075a5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a075c5 1%, #e075a5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a075c5 1%, #e075a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a075c5', endColorstr='#e075a5', GradientType=1 ); /* IE6-9 */
}
.rating-range .asRange .asRange-pointer:before {
	background: #8972f0;
}
.rating-range .asRange .asRange-pointer:after {
	display: none;
}
.rating-range .asRange .asRange-pointer .asRange-tip {
	background: #fff;
	font-size: 12px;
	color: #898989;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	border: 2px solid #e8e3ff;
	padding: 0 15px;
	width: 80px;
	height: 24px;
	text-align: center;
	left: -18px;
	top: auto;
	bottom: -40px;
}
.rating-range .asRange .asRange-pointer .asRange-tip:before {
	display: none;
}
/*Range Slider CSS END*/

.languages-known .dropdown-div {
	position: relative;
	padding-right: 115px;
}
.languages-known .dropdown-div .form-control {
	font-size: 14px;
	color: #323232;
	border-color: #b4b7d0;
}
.languages-known .dropdown-div .btn {
	min-width: 95px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
}
.selected-languages {
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 0
}
.selected-languages span {
	font-size: 12px;
	display: inline-block;
	;
	vertical-align: middle;
	background: #8972f0;
	padding: 3px 15px;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right: 30px;
	margin-bottom: 5px;
	position: relative;
}
.selected-languages span a {
	position: absolute;
	;
	font-size: 12px;
	background: #fff;
	top: -6px;
	font-size: 20px;
	right: -7px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	line-height: 0;
	padding: 0;
	color: #ed7154
}
.selected-languages span a i {
	margin: 0;
	padding: 0;
	line-height: 12px;
	color: #ed7154
}
/*After Login header css Start*/
.header-profile-dropdown {
	position: relative;
	;
	z-index: 9999;
	float: right;
	max-width: 260px;
}
.header-mid-text {
	font-size: 18px;
	color: #8a75d0;
	text-align: center;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 10px;
}
.header-profile-dropdown a {
	color: #323232;
	text-decoration: none;
}
.header-profile-dropdown .dropdown-toggle::after {
	position: absolute;
	right: 15px;
	top: 7px;
	color: #b4b7d0;
}
.header-profile-dropdown td {
	padding: 0 5px;
	font-size: 12px;
	position: relative;
}
.header-profile-dropdown td strong {
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	display: block;
	font-size: 14px;
}
.header-profile-dropdown .left-img {
	width: 55px;
}
.header-profile-dropdown .left-img span {
	position: absolute;
	right: -3px;
	top: -7px;
	display: block;
	width: 20px;
	height: 20px;
	font-size: 12px;
	color: #fff;
	line-height: 20px;
	background: #8972f0;
	text-align: center;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.header-profile-dropdown .dropdown-menu {
	left: auto;
	right: 0;
	width: 230px;
	padding: 10px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #fff;
	border: none;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 12px;
	margin-top: 30px;
	box-shadow: 0 10px 25px rgba(20, 19, 19, 0.1);
}
.header-profile-dropdown .dropdown-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.header-profile-dropdown .dropdown-menu ul li {
	margin-bottom: 2px;
}
.header-profile-dropdown .dropdown-menu ul li:hover {
}
.header-profile-dropdown .dropdown-menu li table td {
	padding: 0;
	font-size: 12px;
}
.header-profile-dropdown .dropdown-menu li table td.active {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #8a75d0;
}
.header-profile-dropdown .dropdown-menu li.switch-li {
	padding: 10px 15px;
	background: #f7f3f3;
}
.header-profile-dropdown .dropdown-menu ul li a {
	display: block;
	background: #f7f3f3;
	color: #141414;
	text-decoration: none;
	padding: 10px 15px;
	position: relative;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.header-profile-dropdown .dropdown-menu ul li:hover a {
	background: #8972f0;
	color: #fff;
}
.header-profile-dropdown .dropdown-menu ul li .alert-span {
	position: absolute;
	right: 10px;
	top: 10px;
	background: #8972f0;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 20px;
	height: 20px;
	text-align: center;
}
.header-profile-dropdown .dropdown-menu ul li:hover .alert-span {
	background: #fff;
	color: #8972f0;
}
.header-profile-dropdown .switch {
	top: 3px;
}
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 13px;
	margin: 0 auto;
}
.switch input {
	display: none;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #c0b2f1;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 0;
	bottom: -1px;
	background-color: #8972f0;
	-webkit-transition: .4s;
	transition: .4s;
}
.switch input:checked + .slider {
	background-color: #c0b2f1;
}
.switch input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
.switch input:checked + .slider:before {
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
}
/* Rounded sliders */
.slider.round {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.slider.round:before {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.after-login-new-head {
	background: #eef1fc;
	padding: 20px 0;
	box-shadow: 0 10px 20px rgba(137, 114, 240, 0.1);
	background-repeat: repeat-x;
	margin-bottom: 40px;
}
.after-login-new-head ul.menu-sm {
	margin: 0 -10px;
	padding: 0;
	list-style: none;
	font-size: 0;
	margin-top: 3px;
}
.after-login-new-head ul.menu-sm li {
	display: inline-block;
	margin: 2px 10px;
}
.after-login-new-head ul.menu-sm li a {
	font-size: 12px;
	background: #e8e3ff;
	text-align: center;
	padding: 8px 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	color: #141414;
	text-decoration: none;
	height: 34px;
	display: block;
}
.after-login-new-head ul.menu-sm li.active a, .after-login-new-head ul.menu-sm li:hover a {
	background: #8972f0;
	color: #fff;
}
.after-login-new-head .header-search-div .form-control {
	height: 40px;
	border-color: #d1d1d1;
}
.after-login-new-head .header-search-div .btn {
	border: none;
	background: #8972f0;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	padding: 0 10px;
	font-size: 16px;
	right: 3px;
	top: -2px;
}
.after-login-new-head .header-search-div .btn .fa {
	top: 0;
}
.after-login-new-head .new-project-btn {
	width: 100%;
	height: 36px;
	margin-top: 2px;
	line-height: 24px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
}
.after-login-new-head .outstanding-balance {
	margin-top: 10px;
	font-size: 14px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.after-login-new-head .outstanding-balance strong {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.new-project-section h3 {
	font-size: 12px;
	margin: 15px 0;
	margin-top: 30px;
	color: #8a75d0;
}
.new-project-section .head-sub-text h3 {
	font-size: 20px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	margin: 50px 0;
	margin-top: 20px;
}
.new-project-section .sign-up-form .paddingB50 {
	padding-bottom: 0;
}
.new-project-section .fl_wrap.textarea {
	height: 160px;
}
.new-project-section .fl_wrap.textarea textarea {
	padding-top: 28px;
}
.new-project-section .FlowupLabels .fl_wrap .att-icon .fa {
	font-size: 24px;
}
/*After Login header css End*/



/*Upload file css Start*/
.input-file-container {
	position: relative;
	width: 100%;
	border: 1px dashed #7c81af;
	padding: 0 20px;
	padding-top: 15px;
	border-radius: 0.25rem;
}
.js .input-file-trigger {
	display: block;
	padding: 10px 0;
	margin: 0;
	z-index: 55;
	font-size: 1em;
	transition: all .4s;
	cursor: pointer;
}
.js .input-file {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	padding: 14px 0;
	cursor: pointer;
}
.js .input-file:hover + .input-file-trigger, .js .input-file:focus + .input-file-trigger, .js .input-file-trigger:hover, .js .input-file-trigger:focus {
	color: #39D2B4;
}
.file-return {
	margin: 0;
}
.file-return:not(:empty) {
	margin: 1em 0;
}
.js .file-return {
	font-style: italic;
	font-size: .9em;
	font-weight: bold;
}
.js .file-return:not(:empty):before {
	content: "Selected file:";
	font-style: normal;
	font-weight: normal;
}
/*Upload file css End*/


/*panel Block css Start*/
.panel-block {
	margin-bottom: 20px;
	background: none;
	border: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.panel-block .panel-body {
	padding: 0;
	border: none;
	box-shadow: none;
}
.panel-block .panel-title {
	color: #8a75d0;
	font-size: 20px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0
}
.panel-block .panel-title .active-page {
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	text-transform: capitalize;
	margin-left: 15px;
}
.panel-block .panel-title .active-page .icon-arrow {
	font-size: 21px;
	line-height: 14px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -3px;
	margin-right: 3px;
}
.panel-block .panel-title .number-text {
	width: 25px;
	height: 25px;
	background: #8972f0;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 25px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-left: 25px;
}
.panel-block .panel-heading {
	background: #fff;
	padding: 15px 25px;
	margin-bottom: 2px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.panel-block .content-div {
	background: #fff;
	padding: 15px 25px;
	color: #7c81af;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	margin-bottom: 2px;
	font-size: 12px;
}
.panel-block .content-div.padding15All {
	padding: 15px;
}
.panel-block .content-div h4 {
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #141414;
	line-height: 18px;
	margin-top: 0;
}
.panel-block .content-div .date-div {
	color: #141414;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	line-height: 18px;
	font-size: 12px;
	margin-bottom: 10px;
}
.panel-block .content-div .date-div .fa {
	margin-right: 10px;
	font-size: 14px;
}
.panel-block .content-div .right-div {
	text-align: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	height: 100%;
	min-height: 100%;
}
.panel-block .content-div .alert-div {
	color: #ed7154;
	font-size: 12px;
	padding: 0 0 10px 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.panel-block .content-div .alert-div .fa {
	font-size: 20px;
	margin-right: 5px;
}
.panel-block .content-div .right-div .btn {
	min-width: 160px;
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	height: 33px;
	line-height: 18px;
}
.panel-block .content-div .border-left {
	border-left: 2px solid #e3eefd !important;
}
.panel-block .content-div .right-div h6 {
	margin: 0;
	color: #141414;
	font-size: 12px;
	margin-bottom: 7px;
	text-transform: uppercase;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.panel-block .content-div .btn-link {
	color: #7c81af;
	text-decoration: underline;
}
.panel-block .content-div .right-div .btn-link {
	color: #7c81af;
	text-decoration: none;
}
.panel-block .media table {
	margin-bottom: 10px;
	color: #141414;
	font-size: 12px;
}
.panel-block .media table .sm-pic {
	width: 40px;
}
.panel-block .content-div .media .date-div {
	margin-bottom: 0;
}
.panel-block .content-div .media .date-div .fa {
	margin-right: 5px;
}
.panel-block .media .mr-3 {
	margin-right: 2.5rem !important;
}
/*panel Block css End*/


.display-table {
	display: table;
	width: 100%;
}
.display-table-cell {
	display: table-cell;
	float: none;
	vertical-align: middle;
}
.col-5-list ul {
	font-size: 0;
	padding: 0;
	list-style: none;
	margin: 0 -10px;
}
.col-5-list li {
	display: inline-block;
	width: 20%;
	padding: 0 10px;
}
.new-project-section .sub-title {
	margin: 0;
	padding: 0;
	color: #141414;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 20px;
}
.select-design-block {
	font-size: 14px;
	margin-bottom: 25px;
}
.select-design-block .inner-div {
	border: 1px solid #e9e9e9;
	box-shadow: 0 3px 3px rgba(20, 19,19, 0.1);
}
.select-design-block:hover .inner-div {
	box-shadow: 0 5px 50px rgba(20, 19,19, 0.200);
}
.select-design-block .user-info {
	padding: 10px;
	color: #141414;
	border-top: 1px solid #e9e9e9;
}
.select-design-block .img-div {
	height: 220px;
	background-size: cover;
	background-repeat: no-repeat;
}
.select-design-block .user-info .sm-pic {
	width: 44px;
	padding-right: 8px;
}
.select-design-block .user-info .sm-pic img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.select-design-block .select-btn {
	text-align: center;
	margin: 30px 0;
}
.select-design-block .select-btn .btn {
	min-width: 99px;
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	height: 33px;
	line-height: 18px;
}
.select-design-block .browse-designers-button-next, .select-design-block .browse-designers-button-prev {
	width: 35px;
	height: 35px;
	background: #202e3f;
	position: absolute;
	left: -15px;
	top: 50%;
	margin-top: -20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: block;
	z-index: 2;
	color: #fff;
	line-height: 37px;
	padding: 0 5px;
}
.select-design-block .browse-designers-button-next {
	left: auto;
	right: -15px;
}
.project-budget-time .btn {
	min-width: 100%;
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	height: 33px;
	line-height: 18px;
}
.project-budget-time table {
	max-width: 320px;
	margin-bottom: 15px;
	color: #141414;
}
.project-budget-time .days-div {
	position: relative;
	font-size: 12px;
}
.project-budget-time .yen-div {
	position: relative;
}
.project-budget-time .yen-div .form-control {
	padding-left: 32px;
}
.project-budget-time .days-div .form-control {
	padding-right: 52px;
}
.project-budget-time .days-div span {
	position: absolute;
	right: 10px;
	top: 7px;
	color: #8a75d0;
}
.project-budget-time .yen-div span {
	position: absolute;
	left: 18px;
	top: 7px;
	color: #8a75d0;
}
.project-budget-time .r-btn {
	padding-left: 15px;
	width: 120px;
}
.designer-suggestions-section .sub-title {
	margin: 0;
	padding: 0;
	color: #141414;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 30px;
}
.designer-suggestions-section .bottom-panel {
	text-align: center;
}
.designer-suggestions-section .bottom-panel .content-div {
	padding-top: 0;
	padding-bottom: 0;
}
.designer-suggestions-section .bottom-panel .display-table-cell {
	padding-top: 60px;
	padding-bottom: 60px;
}
.designer-suggestions-section .bottom-panel .or-div {
	position: relative;
}
.designer-suggestions-section .bottom-panel .or-div:after {
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	left: 50%;
	background: #e3eefd;
	top: 0
}
.designer-suggestions-section .bottom-panel .or-div span {
	background: #fff;
	display: inline-block;
	padding: 15px;
	position: relative;
	z-index: 555;
	font-size: 18px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #141414;
}
.designer-suggestions-section .bottom-panel .sub-title {
	margin-bottom: 50px;
}
.designer-suggestions-section .bottom-panel .btn-bd {
	min-width: 160px;
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	height: 33px;
	line-height: 18px;
}
.designer-suggestions-section .header-search-div {
	max-width: 350px;
	margin: 0 auto;
}
.designer-suggestions-section .header-search-div .form-control {
	height: 40px;
	border-color: #d1d1d1;
}
.designer-suggestions-section .header-search-div .btn {
	border: none;
	background: #8972f0;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	padding: 0 10px;
	font-size: 16px;
	right: 3px;
	top: -2px;
}
.designer-suggestions-section .header-search-div .btn .fa {
	top: 0;
}
/*Login Page CSS Start*/
.login-section {
	padding: 80px 0;
}
.login-section .left-g-circle {
	position: fixed;
	left: -150px;
	top: 210px;
	z-index: -1;
}
.login-section .right-g-sm-circle {
	position: fixed;
	right: 10%;
	top: 40%;
	z-index: -1;
}
.login-section .right-g-trangle {
	position: fixed;
	right: 0;
	top: 50%;
	z-index: -1;
}
.login-section h3 {
	margin: 60px 0;
	padding: 0;
	color: #8a75d0;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.login-section .flowup-labels-form {
	max-width: 400px;
	margin: 0 auto;
}
.login-section .custom-checkbox2 [type="checkbox"]:not(:checked) + label:before, .login-section .custom-checkbox2 [type="checkbox"]:checked + label:before {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}
.login-section .custom-checkbox2 [type="checkbox"]:not(:checked) + label, .login-section .custom-checkbox2 [type="checkbox"]:checked + label {
	color: #141414;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	line-height: 20px;
	padding-left: 32px;
}
.login-section .custom-checkbox2 [type="checkbox"]:not(:checked) + label:after, .login-section .custom-checkbox2 [type="checkbox"]:checked + label:after {
	font-size: 11px;
}
.login-section .tb-p-rf {
	padding: 10px 0;
}
.login-section .tb-p-rf a {
	color: #141414;
	font-size: 12px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.login-section .form-bottom-btn {
	margin-top: 40px;
}
.login-section .form-bottom-btn .btn {
	min-width: 85px;
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	height: 33px;
	line-height: 18px;
}
.login-section .dont-have-acccount {
	text-align: right;
	font-size: 12px;
	padding-top: 7px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.login-section .dont-have-acccount a {
	color: #8872f0;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	padding-left: 15px;
}
/*Login Page CSS END*/

/*Sidebar CSS Start*/
.sidebar-div {
	padding: 15px;
	background: #fff;
}
.sidebar-link {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-link li {
	margin-bottom: 5px;
}
.sidebar-link li a {
	padding: 10px;
	display: block;
	color: #141414;
	font-size: 14px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
}
.sidebar-link li.active a, .sidebar-link li:hover a {
	background: #f4f2fe;
	color: #8a75d0;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
/*Sidebar CSS END*/



/*buyer-past-project CSS Start*/
.filter-checkbox {
	margin-bottom: 20px;
}
.filter-checkbox .custom-checkbox2 {
	margin-right: 35px;
	margin-bottom: 5px;
	display: inline-block;
}
.filter-checkbox .custom-checkbox2 [type="checkbox"]:not(:checked) + label, .custom-checkbox2 [type="checkbox"]:checked + label {
	font-size: 14px;
}
.quantity {
	position: relative;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}
.quantity input[type=number]::-webkit-inner-spin-button, .quantity input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
.quantity input[type=number] {
	-moz-appearance: textfield;
}
.quantity .yen-icon {
	position: absolute;
	right: 22px;
	top: 9px;
	z-index: 2;
}
.quantity input {
	width: 100%;
	height: 37px;
	font-size: 12px;
	float: left;
	display: block;
	padding: 0;
	margin: 0;
	padding-left: 8px;
}
.quantity input:focus {
	outline: 0;
}
.quantity-nav {
	float: left;
	position: relative;
	height: 27px;
	z-index: 999;
	top: 4px;
	right: 4px;
}
.quantity-button {
	position: relative;
	cursor: pointer;
	width: 15px;
	text-align: center;
	background: #fff;
	color: #e8e3ff;
	font-size: 12px;
	line-height: 12px;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.quantity-button.quantity-up {
	position: absolute;
	height: 50%;
	top: 0;
}
.quantity-button .caret {
	border-left: 3px solid transparent;
	border-top: 3px solid #bec1d6;
	border-right: 3px solid transparent;
	margin: 0;
	position: relative;
	top: -1px;
	color: #bec1d6;
}
.quantity-button.quantity-up .caret {
	content: "";
	border-top: 0;
	border-bottom: 3px dashed;
	border-bottom: 3px solid\9;
	top: 5px;
}
.quantity-button.quantity-down {
	position: absolute;
	bottom: -1px;
	height: 50%;
}
.filter-bottom-div .right-button {
	text-align: right;
}
.filter-bottom-div .right-button.mtop{
	margin-top: 15px;
}
.filter-bottom-div .btn {
	min-width: 92px;
	height: 36px;
	line-height: 20px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	margin-left: 15px;
}
.leftP-content-aera {
	margin-right: -55px;
}
.rightP-content-aera {
	margin-left: 40px;
}
.browse-designers-section .panel-block {
	margin-bottom: 12px;
}
/*buyer-past-project CSS Start*/

/*pagination CSS Start*/
.pagination-div {
	color: #323232;
	margin: 15px 0;
}
.pagination-div ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	font-size: 0
}
.pagination-div ul li {
	display: inline-block;
	vertical-align: middle;
}
.pagination-div ul li a {
	width: 26px;
	height: 26px;
	display: block;
	position: relative;
	line-height: 26px;
	font-size: 12px;
	text-decoration: none;
	color: #323232;
	text-align: center;
}
.pagination-div ul li.active a {
	color: #8a75d0;
}
.pagination-div ul li.prev a, .pagination-div ul li.next a {
	display: inline-block;
	cursor: pointer;
	width: 28px;
	height: 28px;
	position: relative;
	font-size: 18px;
	vertical-align: middle;
	margin: 0 5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #8a75d0;
	text-align: left;
	color: #fff;
	text-decoration: none;
	line-height: 26px;
}
.pagination-div ul li.prev a {
	text-align: right;
}
.pagination-div .number-div {
	display: inline-block;
	vertical-align: middle;
}
.pagination-div ul li.prev a:hover, .pagination-div ul li.next a:hover {
	background: #6e55c1 !important;
	color: #fff !important;
}
/*pagination CSS End*/

/* Designer  Dashboard  CSS End*/
.designer-dashboard .panel-block .content-div h4 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	margin: 0;
	margin-bottom: 12px;
}
.designer-dashboard .panel-block .content-div .date-div {
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.designer-dashboard .panel-block .content-div .date-div .line-span {
	padding: 0 15px;
	color: #eaeaea;
}
.designer-dashboard .panel-block .content-div .right-div {
	text-align: left;
	color: #141414;
	font-size: 12px;
}
.designer-dashboard .panel-block .content-div .right-div .sm-thum-img {
	padding-right: 10px;
	width: 46px;
}
.designer-dashboard .panel-block .content-div .right-div .sm-thum-img img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.designer-dashboard .panel-block .content-div .right-div .btn {
	min-width: 130px;
}
.invition-info {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	display: table;
}
.invition-info li {
	display: table-cell;
	padding: 0 25px;
	font-size: 12px;
	vertical-align: top;
	border-right: 1px solid #eaeaea;
}
.invition-info li:first-child {
	padding-left: 0;
}
.invition-info li:last-child {
	border-right: 0;
}
.invition-info li.cat {
	max-width: 400px
}
.invition-info h5 {
	text-transform: uppercase;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 12px;
	margin: 0;
	color: #141414;
	margin-bottom: 5px;
}
.invition-info .sm-thum-img {
	padding-right: 10px;
	width: 46px;
}
.invition-info .sm-thum-img img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.invition-info .yen {
	padding-right: 10px
}
/* Designer  Dashboard CSS End*/

/* buyer-past-projects CSS start*/
.buyer-past-projects-section .media > .pull-left {
	margin-right: 15px;
}
.buyer-past-projects-section .panel-block .content-div {
	font-size: 12px;
}
.buyer-past-projects-section .panel-block .content-div h4 {
	margin: 0;
	margin-bottom: 5px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.buyer-past-projects-section .panel-block .content-div .media .date-div {
	margin: 5px 0;
}
.buyer-past-projects-section .panel-block .content-div .media h5 {
	margin: 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #141414;
}
.buyer-past-projects-section .panel-block .content-div .line-span {
	color: #eaeaea;
	padding: 0 15px;
}
.buyer-past-projects-section .panel-block .content-div .btn-link {
	font-size: 14px;
}
#reviewModal .clear-rating {
	display: none;
}
#reviewModal .rating-sm {
	font-size: 1.8em;
	margin-bottom: 10px;
}
#reviewModal .btn {
	min-width: 100px;
	height: 36px;
	margin-top: 2px;
	line-height: 20px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
}
/* buyer-past-projects CSS End*/


/* buyer-past-project-info CSS Start*/
.project-info-list {
	margin: 20px 0;
	padding: 0;
	list-style: none;
	width: 100%;
	display: table;
	max-width: 800px;
}
.project-info-list li {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 27%;
	padding: 0 25px;
	display: table-cell;
	border-right: 1px solid #eaeaea;
	vertical-align: middle;
}
.btn.btn-sm {
	min-width: 140px;
	height: 36px;
	margin-top: 2px;
	line-height: 25px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
}
.project-info-list li:first-child {
	padding-left: 0
}
.project-info-list li:last-child {
	border: none;
}
.project-info-list li .icon-td {
	vertical-align: middle;
	width: 35px;
	font-size: 22px;
}
.project-info-list li .icon-td .fa {
	width: 20px;
	position: relative;
	top: 0;
}
.project-info-list li.completed .fa {
	color: #70d95b;
}
.project-info-section .panel-block .media table {
	margin-bottom: 0
}
.project-info-section .media > .pull-left {
	width: 90px;
	font-size: 12px;
	text-align: center;
	margin-right: 25px;
}
.project-info-section .media > .pull-left img {
	margin-bottom: 15px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.project-info-section .media > .pull-left h5 {
	margin: 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #141414;
	margin-top: 5px;
}
.project-info-section .panel-block .content-div h4 {
	margin: 0;
	margin-bottom: 5px;
	margin-top: 5px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.project-info-section .media .media-body {
	padding-top: 5px;
	color: #141414;
}
.project-info-section #projectInfoText {
	padding-bottom: 10px;
}
.custom-dropdown-btn .btn .caret {
	margin-left: 20px;
	border-top-color: #fff
}
.project-info-section .custom-dropdown-btn {
	margin-top: 5px;
	float: right;
}
.message-board-section .head-winner-selected {
	font-size: 14px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #141414;
}
.message-board-section .head-winner-selected .fa {
	font-size: 25px;
	color: #8a75d0;
	margin-right: 10px;
	vertical-align: middle;
}
.project-info-section .panel-block .content-div .btn-link {
	text-decoration: none;
}
.chat-box {
	position: relative;
	padding: 10px;
	padding-left: 70px;
	padding-right: 60px;
	border: 1px solid #8972f0;
}
.chat-box .file-upload {
	position: absolute;
	left: 0;
	top: 0;
	width: 70px;
	height: 100%;
	overflow: hidden;
	text-align: center;
	line-height: 100%;
	line-height: 53px;
	font-size: 32px;
	color: #8972f0;
	cursor: pointer;
}
.chat-box .file-upload input {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Netscape */
	-moz-opacity: 0;
	/* Safari 1.x */
	-khtml-opacity: 0;
	/* Good browsers */
	opacity: 0;
	cursor: pointer;
}
.chat-box .btn {
	position: absolute;
	right: 0;
	top: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 50px;
	height: 88%;
	margin: 3px;
	font-size: 22px;
}
.chat-box .form-control {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
	border-left: 1px solid #e3e3e3;
	padding-left: 25px;
}
.chat-list {
	margin: 15px 0;
	padding: 0;
	list-style: none;
}
.chat-list li {
	position: relative;
	margin: 35px 0;
	color: #7c81af;
}
.chat-list li .pic-div {
	position: absolute;
	top: 0;
	right: 0;
}
.chat-list li.right {
	padding-right: 72px;
	text-align: right;
}
.chat-list li.right .pic-div {
	right: 0;
}
.chat-list li .msg-div {
	-moz-border-radius-topleft: 30px;
	-webkit-border-top-left-radius: 30px;
	border-top-left-radius: 30px;
	-moz-border-radius-topright: 1px;
	-webkit-border-top-right-radius: 1px;
	border-top-right-radius: 1px;
	-moz-border-radius-bottomright: 30px;
	-webkit-border-bottom-right-radius: 30px;
	border-bottom-right-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	-webkit-border-bottom-left-radius: 30px;
	border-bottom-left-radius: 30px;
	background: #e2ddfa;
	padding: 20px 25px;
	width: 75%;
	display: inline-block;
	text-align: left;
}
.chat-list li .name {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.chat-list li.right .name {
	float: right;
}
.chat-list li.right .date {
	float: left;
}
.chat-list li .c-div {
	margin-top: 20px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.chat-list li .dot-icon {
	width: 12px;
	height: 12px;
	z-index: 2;
	display: block;
	position: absolute;
	right: 0;
	background: #d7d7d7;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.chat-list li .dot-icon.online {
	background: #76de29;
}
.chat-list li.left {
	padding-left: 72px;
	padding-right: 0;
	text-align: left;
}
.chat-list li.left .msg-div {
	-moz-border-radius-topleft: 1px;
	-webkit-border-top-left-radius: 1px;
	border-top-left-radius: 1px;
	-moz-border-radius-topright: 30px;
	-webkit-border-top-right-radius: 30px;
	border-top-right-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-webkit-border-bottom-right-radius: 30px;
	border-bottom-right-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	-webkit-border-bottom-left-radius: 30px;
	border-bottom-left-radius: 30px;
	background: #f7f5fd;
}
.chat-list li.left .pic-div {
	left: 0;
	right: auto;
}
.pic-div img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.chat-list li.left .name {
	float: left;
}
.chat-list li.left .date {
	float: right;
}
.chat-list li p {
	margin-bottom: 15px;
}
.chat-list li .bottom-img-div img {
	border: 1px solid #e9e9e9;
}
.project-info-section .bottom-btn .btn {
	margin-right: 15px;
	padding-left: 25px;
	padding-right: 25px;
}
/* buyer-past-project-info CSS End*/











/* Custom dropdown css start*/
.custom-dropdown-btn.dropdown ul {
	margin: 0;
	padding: 5px;
	list-style: none;
	border: none;
	margin-top: 5px;
}
.custom-dropdown-btn.dropdown ul li {
	margin-bottom: 2px;
}
.custom-dropdown-btn.dropdown ul li:hover {
}
.custom-dropdown-btn.dropdown ul li a {
	display: block;
	background: #f7f3f3;
	color: #141414;
	text-decoration: none;
	padding: 8px 10px;
	position: relative;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.custom-dropdown-btn.dropdown ul li:hover a {
	background: #8972f0;
	color: #fff;
}
/* Custom dropdown css End*/



/* designer-my-uploads css start*/
.designer-upload-info {
	max-width: 900px;
}
.designer-upload-info table {
	margin: 0 auto;
	color: #141414;
	font-size: 14px;
}
.designer-upload-info table.tbl-left {
	margin-left: 0
}
.designer-upload-info table th, .designer-upload-info table td {
	padding: 0 10px;
}
.designer-upload-info table th {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.designer-upload-info table th.lg-f {
	font-size: 20px;
}
.designer-upload-info .b-right {
	border-right: 1px solid #eaeaea;
}
.designer-upload-info .yen {
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 16px;
	margin-right: 5px;
}
.designer-my-uploads-list .panel-heading .btn {
	padding-left: 25px;
	padding-right: 25px;
	min-width: 100px;
}
.designer-my-uploads-list .panel-heading .btn-mr {
	margin-right: 20px;
}
.designer-my-uploads-list .panel-heading .btn.active {
	background: #8972f0 !important;
	color: #fff !important;
}
.tbl-design {
	overflow: auto;
}
.tbl-design table {
	color: #141414;
	font-size: 14px;
	border-color: #f6f7f8;
	min-width: 700px;
}
.tbl-design table thead th {
	background: #f6f7f8;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: normal;
	border-color: #f6f7f8;
	padding-left: 15px;
	padding-right: 15px;
}
.tbl-design table tbody td {
	border-color: #f6f7f8;
	padding-left: 15px;
	padding-right: 15px;
}
.tbl-design table tbody tr:nth-child(2n+2) td {
	background: #f6f7f8;
}
.designer-my-uploads-popup .js .input-file-trigger {
	padding: 0
}
.designer-my-uploads-popup .form-group h4 {
	font-size: 14px;
	margin: 0 0 15px 0;
}
.designer-my-uploads-popup .custom-checkbox [type="checkbox"]:checked + label {
	background: #63c35e;
}
.designer-my-uploads-popup .form-group.upload-files {
	border: 1px dashed #bbd6fb;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 10px 15px;
	text-align: center;
}
.designer-my-uploads-popup .form-group.upload-files label {
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #898989;
	display: block;
	margin-bottom: 15px;
	margin-top: 3px;
}
.designer-my-uploads-popup .form-group.upload-files .addfile {
	display: inline-block;
	width: 130px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
	background: #bbd6fb;
	color: #7c81af;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	height: 35px;
	line-height: 34px;
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
}
.designer-my-uploads-popup .form-group.upload-files .addfile input {
	width: 100%;
	height: 100%;
	z-index: 22;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}
.designer-my-uploads-popup .form-group.upload-files .addfile .fa {
	margin-right: 5px;
	font-size: 18px;
	position: relative;
	top: 3px;
}
.designer-my-uploads-popup .form-group.category {
	margin-top: 20px;
}
.designer-my-uploads-popup .form-group.category .fl_wrap {
	height: auto;
}
.designer-my-uploads-popup .input-file-container {
	padding-top: 30px;
	padding-bottom: 10px;
	text-align: center;
}
.designer-my-uploads-popup .FlowupLabels .fl_wrap .fa {
	position: static;
	font-size: 33px;
	line-height: 30px;
	color: #bbd6fb;
}
.designer-my-uploads-popup .input-file-trigger {
	padding-top: 5px;
	color: #8972f0;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 12px;
}
.designer-my-uploads-popup .sign-up-form .form-bottom-btn {
	margin: 25px 0 0 0;
}
.designer-my-uploads-popup .input-file-container {
	border-color: #bbd6fb;
}
.designer-my-uploads-popup .file-return {
	margin: 0
}
.designer-my-uploads-popup .modal-header {
	padding-bottom: 0;
	border: none;
}
.designer-my-uploads-popup .textarea {
	height: 150px;
}
.designer-my-uploads-popup .FlowupLabels textarea.fl_input {
	padding-top: 30px;
}
.designer-my-uploads-popup .price-unit {
	position: absolute;
	right: 25px;
	top: 50%;
	margin-top: -10px;
}
.designer-my-uploads-popup .modal-title {
	font-size: 20px;
}
.designer-my-uploads-popup .sign-up-form .form-bottom-btn .submit-btn {
	min-width: 100px;
}
.upload-files-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.upload-files-list li {
	padding: 15px;
	border: 1px solid #bbd6fb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	color: #7c81af;
	position: relative;
	padding-right: 35px;
	margin-bottom: 5px;
}
.upload-files-list li .l-icon {
	border-right: 1px solid #bbd6fb;
	font-size: 15px;
	padding-right: 15px;
	margin-right: 10px;
}
.upload-files-list li .close-btn {
	color: #f96542;
	font-size: 20px;
	right: 11px;
	position: absolute;
	display: inline-block;
	top: 16px;
	line-height: 20px;
}
/* designer-my-uploads css End*/


.designer-project-info-invitation-section .panel-block .content-div {
	font-size: 14px;
	color: #323232;
}
.designer-project-info-invitation-section ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 25px;
}
.designer-project-info-invitation-section ul li {
	margin-bottom: 20px;
}
.designer-project-info-invitation-section .panel-block .content-div h4 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.designer-project-info-invitation-section ul li.category {
	font-size: 0
}
.cat-span-active-projects, .designer-project-info-invitation-section ul li.category span {
	background: #63c35e;
	padding: 5px 15px;
	display: inline-block;
	font-size: 12px;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 2px;
	margin-right: 25px;
}
.designer-project-info-invitation-section ul li.buyer table {
	margin-bottom: 15px
}
.designer-project-info-invitation-section .bottom-btn .btn {
	margin-right: 20px;
	min-width: 100px;
}
.designer-project-info-invitation-section ul li.attachments .btn {
	margin-right: 20px;
}
/* designer-portfolio css Start*/
..dPortfolioTab{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0
	} .spetos-left {
	..dPortfolioTa li{
		display: inline-block;
		width: 50%;
		text-align: center;}
		font-family:
		..dPortfolioTa li a{
			font-size: 14px;
			padding: 10px;
			display: block;

			}font-family:
	 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	text-align: right;
}
.designer-portfolio-section .spetos-left strong {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.my-portfolio {
	margin: 0 -15px;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.my-portfolio li {
	display: inline-block;
	float: left;
	padding: 10px 15px;
	width: 20%;
	margin-bottom: 10px;
}
.my-portfolio li .inner-content {
	border: 1px solid #e9e9e9;
	box-shadow: 0 3px 3px rgba(20, 19,19, 0.1);
}
.my-portfolio li .inner-content .img-div {
	height: 220px;
	border-bottom: 1px solid #e9e9e9;
	display: table;
	width: 100%;
	background-size: cover;
	background-position: center;
}
.my-portfolio li .inner-content .img-div .action-div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 0;
	background: rgba(0, 0, 0, 0.5);
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Netscape */
	-moz-opacity: 0;
	/* Safari 1.x */
	-khtml-opacity: 0;
	/* Good browsers */
	opacity: 0;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.my-portfolio li .inner-content .img-div .action-div:hover {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	/* IE 5-7 */
	filter: alpha(opacity=100);
	/* Netscape */
	-moz-opacity: 1;
	/* Safari 1.x */
	-khtml-opacity: 1;
	/* Good browsers */
	opacity: 1;
}
.my-portfolio li .inner-content .img-div .action-div a {
	background: #8972f0;
	text-align: center;
	height: 50px;
	width: 50px;
	color: #fff;
	display: inline-block;
	line-height: 50px;
	font-size: 24px;
	margin: 0 15px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.my-portfolio li .inner-content .img-div .action-div a:hover {
	background: #a391f5;
}
.my-portfolio li .inner-content .bottom-content {
	padding: 10px;
	font-size: 14px;
	color: #141414;
}
.my-portfolio li .inner-content .more-btn.btn {
	font-size: 12px;
	min-width: 60px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	height: 36px;
	line-height: 24px;
	float: right;
}
.my-portfolio li .inner-content .bottom-content table {
	height: 66px;
}
.my-portfolio li .inner-content .bottom-content table td.sm-img {
	font-size: 0
}
.my-portfolio li .inner-content .bottom-content table img {
	border: 1px solid #abcfff;
	display: inline-block;
	margin-right: 8px;
}
.my-portfolio li .inner-content .bottom-content .title {
	padding: 5px 0;
}
.my-portfolio li.add-item .inner-content {
	background: #e3eefd;
	padding: 20px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.my-portfolio li.add-item:hover .inner-content {
	background: #f1f6fd;
}
.my-portfolio li.add-item .border-div {
	position: relative;
	min-height: 264px;
	border: 1px dashed #bbd6fb;
	font-size: 14px;
	position: relative;
	display: block;
	color: #141414;
}
.my-portfolio li.add-item .un {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	bottom: 15px;
}
.my-portfolio li.add-item .fa {
	position: absolute;
	color: #bbd6fb;
	top: 50%;
	font-size: 60px;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
}
.designer-portfolio-item-details-section .panel-block .content-div h4 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	margin-bottom: 25px;
}
.designer-portfolio-item-details-section .bottom-btn {
	font-size: 0;
}
.designer-portfolio-item-details-section .bottom-btn .btn {
	margin-right: 25px;
	min-width: 100px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 10px;
}
.designer-portfolio-item-details-section .right-content-box {
	min-height: 310px;
}
.right-arrow-head {
	text-align: right;
	font-size: 0;
}
.right-arrow-head a {
	color: #8c77d1;
	text-decoration: none;
	font-size: 24px;
	line-height: 24px;
	display: inline-block;
	margin-left: 15px;
}
.right-arrow-head a:hover {
	color: #5e40e4;
}

.complated-portfolio-popup .modal-dialog{
	width: 1024px;
}
.complated-portfolio-popup .form-group{
	margin-bottom: 25px;
}
.complated-portfolio-popup  .bottom-btn{
	font-size: 0
}
.complated-portfolio-popup  .bottom-btn .btn{
 min-width: 100px;
 margin-right: 30px;
}

.complated-portfolio-popup .cp{
	padding-top: 5px;
}
.complated-portfolio-popup .right-selectDropdown{
	margin-left: -90px;
}



.dPortfolioTab{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	max-width: 200px;
	background: #e8e3ff;
	-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
overflow: hidden;
position: relative;
}

.dPortfolioTab::before{
	content: "";
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 50%;
	top: 0;
	left: 0;
	background: #8972f0;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
}
.dPortfolioTab.dp-switch-btn::before{
	left: 50%;

}
.dPortfolioTab li{
	display: inline-block;
	width: 50%;
	text-align: center;
	position: relative;
	z-index: 2
}
.dPortfolioTab li a{
	font-size: 14px;
	padding: 10px;
	display: block;
	color: #141414;
	text-decoration: none;
}
.dPortfolioTab li.active a{
	color: #fff;
}
/* Customize the label (the checkbox-with-thumb) */
.checkbox-with-thumb {
  display: block;
  position: relative;
  padding-left: 0;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	width: 100%;
	height: 220px;
	background-size: cover;
	background-repeat: no-repeat;
	max-width:300px;
	margin: 0 auto;
	border: 1px solid #e9e9e9;
	margin-bottom: 25px;
}

/* Hide the browser's default checkbox */
.checkbox-with-thumb input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkbox-with-thumb .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: none;
}

/* On mouse-over, add a grey background color */
.checkbox-with-thumb:hover input ~ .checkmark {
  background-color:none;
}

/* When the checkbox is checked, add a blue background */
.checkbox-with-thumb input:checked ~ .checkmark {
  background:rgba(0, 0, 0, 0.5);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-with-thumb .checkmark:after {
  content: "";
  position: absolute;
  display: none;

}
.checkbox-with-thumb .checkmark:before{
	 content: "";
  position: absolute;
  display: none;
	left: 50%;
	top: 50%;
	background: #63c35e;
	width: 33px;
	height: 33px;
	margin-top: -18px;
margin-left: -18px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}

/* Show the checkmark when checked */
.checkbox-with-thumb input:checked ~ .checkmark:after {
  display: block;
}

/* Show the checkmark when checked */
.checkbox-with-thumb input:checked ~ .checkmark:before {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-with-thumb .checkmark:after {
	width: 6px;
	    height: 13px;
	    border: solid white;
	    border-width: 0 2px 2px 0;
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	    left: 50%;
	    top: 50%;
	    margin-top: -9px;
	    margin-left: -4px;
}
/* designer-portfolio css End*/



.gallery-top {
	height: 400px;
	width: 100%;
	padding: 15px;
	background: #e3eefd;
}
.gallery-top .swiper-slide {
	background-size: cover;
	background-position: center top;
}
.gallery-thumbs {
	height: 400px;
	box-sizing: border-box;
	padding: 10px 0;
	padding: 15px;
	background: #e3eefd;
}
.gallery-thumbs .swiper-slide {
	width: 100%;
	background-size: cover;
	border: 1px solid #e6e6e6;
	background-position: center;
	background-size: cover;
	background-position: center top;
	cursor: pointer;
}
.gallery-thumbs .swiper-slide-active {
	opacity: 1;
	border: 1px solid #8972f0;
}
.tags-div {
	margin: 25px 0;
	font-size: 0
}
.tags-div .btn {
	font-size: 12px;
	background: #e8e3ff;
	text-align: center;
	padding: 5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #141414;
	text-decoration: none;
	height: 24px;
	line-height: 13px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	display: inline-block;
	margin-right: 15px;
}
.designer-inpiration-bank-section .panel-block .content-div h4 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.DIB-head-form .sub-div {
	position: relative;
}
.DIB-head-form .sub-div .btn {
	position: absolute;
	border: none;
	background: #8972f0;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	padding: 0 10px;
	font-size: 16px;
	right: 3px;
	top: 3px;
}
.DIB-head-form .sub-div .btn .fa {
	position: relative;
	top: 0px;
}
.DIB-head-form .form-control {
	border: 1px solid #b4b7d0;
	height: 40px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: none;
	padding-left: 20px;
	padding-right: 20px;
}
.designer-inpiration-bank-section .select-design-block {
	padding: 10px;
	background: #e3eefd;
}
.designer-inpiration-bank-section .select-design-block .inner-div {
	box-shadow: none;
	border: none;
}
.designer-inpiration-bank-section .select-design-block .img-div {
	height: 199px;
}
.designer-inpiration-bank-section .select-design-block .user-info {
	border: none;
	padding: 15px 0 3px 0;
}
.designer-inpiration-bank-section .select-design-block .right-btn {
	width: 55px;
}
.designer-inpiration-bank-section .select-design-block .right-btn .btn {
	min-width: 55px;
	height: 34px;
	color: #8589b4 !important;
}
.designer-inpiration-bank-section .select-design-block .right-btn .btn .fa {
	margin-right: 5px;
}
.new-project2-section .sign-up-form {
	max-width: 100%;
	color: #141414
}
.new-project2-section .sign-up-form .fl_label {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14PX;
	display: block;
	margin-bottom: 15px;
	position: static;
}
.new-project2-section .sign-up-form .form-control {
	border-color: #b9bcd3;
	height: 37px;
	position: static;
	padding: 10px 15px;
}
.new-project2-section .custom-checkbox [type="checkbox"]:checked + label {
	background: #66c361;
}
.new-project2-section .sign-up-form .FlowupLabels .fl_wrap .right-day {
	color: #141414;
}
.new-project2-section .sign-up-form .form-group {
	position: relative;
	padding-right: 15px;
}
.new-project2-section .sign-up-form .form-group .fl_wrap {
	position: relative;
	height: auto;
}
.new-project2-section .sign-up-form .FlowupLabels .fl_wrap .left-yen {
	color: #141414;
	left: 15px;
}
.new-project2-section .FlowupLabels .fl_wrap .fa.out-icon {
	right: -30px;
}
.new-project2-section .sign-up-form .yen .form-control {
	padding-left: 30px;
}
.new-project2-section .input-file-container {
	padding-top: 0;
}
.new-project2-section .input-file-container .form-control {
	position: absolute;
}
.new-project2-section .fl_wrap .fa {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -10px;
	font-size: 18px;
	color: #7c81af;
	z-index: 22;
}
.new-project2-section .sign-up-form textarea.form-control {
	height: 130px;
}
.marketplace-notifications-section .panel-block .content-div {
	font-size: 14px;
	color: #141414;
}
.marketplace-notifications-section .panel-block .content-div .media .date-div {
	margin-top: 3px;
}
.marketplace-notifications-section .media > .pull-left {
	margin-right: 20px;
}
.marketplace-notifications-section .right-text {
	text-align: right;
	font-size: 16px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #c0c5c8;
	margin-top: 10px;
}
.circle {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.marketplace-notifications-section .content-div {
	border-left: 5px solid #c0c5c8;
	border-right: 5px solid #c0c5c8;
	margin-bottom: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.marketplace-notifications-section .panel-block .panel-heading {
	margin-bottom: 5px;
}
.marketplace-notifications-section .content-div.purple-border {
	border-color: #8a75d0;
}
.marketplace-notifications-section .content-div.purple-border .right-text {
	color: #8a75d0;
}
.marketplace-notifications-section .content-div.green-border {
	border-color: #8ddc64;
}
.marketplace-notifications-section .content-div.green-border .right-text {
	color: #8ddc64;
}
.marketplace-notifications-section .content-div.blue-border {
	border-color: #009bdd;
}
.marketplace-notifications-section .content-div.blue-border .right-text {
	color: #009bdd;
}
.marketplace-notifications-section .panel-block .media .media-body {
	width: auto;
	margin-top: 0
}
.search-div2 {
	position: relative;
}
.search-div2 .form-control {
	border: 1px solid #d1d1d1;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	height: 40px;
	font-size: 14px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.search-div2 .btn {
	border: none;
	background: #8972f0;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	padding: 0 10px;
	font-size: 16px;
	right: 3px;
	top: 3px;
	position: absolute;
}
.buyer-gallery-section .gallery-search {
	padding-right: 110px;
	position: relative;
}
.buyer-gallery-section .gallery-search .right-button {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0
}
.buyer-gallery-section .gallery-search .right-button .btn {
	min-width: 38px;
	height: 38px;
	line-height: 28px;
	margin-left: 15px;
}
.buyer-gallery-section .select-design-block .bottom-content {
	padding: 10px;
	color: #141414;
	padding-bottom: 15px;
	font-size: 14px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	border-top: 1px solid #e9e9e9;
}
.buyer-gallery-section .select-design-block .bottom-content strong {
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.buyer-gallery-product-info-section .gallery-thumbs {
	height: 120px;
	margin-top: 2px;
}
.buyer-gallery-product-info-section .panel-block .content-div h4 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	margin: 0;
	margin-bottom: 15px;
}
.buyer-gallery-product-info-section .buy-now .price {
	display: inline-block;
	border: 1px solid #e8e3ff;
	width: 74px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	vertical-align: middle;
	margin-right: 15px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #121212;
}
.buyer-gallery-product-info-section .buy-now .btn {
	min-width: 120px;
}
.buyer-gallery-product-info-section hr {
	border-color: #ededed;
	margin-top: 30px;
	margin-bottom: 30px;
}
.buyer-gallery-product-info-section .panel-block .content-div .product-by-div h4 {
	margin: 0;
	margin-bottom: 5px;
}
.buyer-gallery-product-info-section .panel-block .content-div .product-by-div {
	color: #323232;
	font-size: 14px;
}
.buyer-gallery-product-info-section .sm-thum-img {
	width: 80px;
}
.buyer-gallery-product-info-section .gallery-top {
	padding: 10px;
}
.upload-profile-pic{
	text-align: center;
	margin-bottom: 20px;
}
.upload-profile-pic label{
	display: block;
	position: static;
	font-size: 12px;
	color: #7c81af;
	padding: 5px 0;
}
.upload-profile-pic .img-div{
	width: 90px;
	height: 90px;
	border: 2px dashed #b6b9d2;
	position: relative;
	display: inline-block;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	overflow: hidden;
cursor: pointer;
}
.upload-profile-pic .fa{
	font-size: 40px;
	color: #b6b9d2;
	line-height: 80px;
	position: relative;
	z-index: 5;
}
.upload-profile-pic input{
	position: absolute;
	z-index: 88;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.upload-profile-pic .uploaded-img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	z-index: 10;
	background-size: cover;
	background-position: center;

}




.outer-progress-bar-div{
	position: absolute;
	width: 100.2%;
	top: 100%;
	left:-1px;
	z-index: 333;
	max-height: 300px;
	overflow: auto;
	background: #fff;
	  border: 1px solid #8972f0;
}
.file-progress-bar{
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	padding: 15px;
	padding-left: 90px;
	background: #fff;
	z-index: 333;
  border-bottom: 1px solid #8972f0;
}
.file-progress-bar:last-child{
	border: none;
}
.file-progress-bar .file-extension{
	position: absolute;
	left: 10px;
	width: 60px;
	height: 60px;
	background: #e2ddfb;
	color: #737665;
	text-align: center;
	display: table;
	-webkit-border-radius:10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.file-progress-bar .file-extension span{
	display: table-cell;
	    vertical-align: middle;
			font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
			font-weight: 700;
}
.file-progress-bar h4{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;
	margin: 12px 0;
	position: relative;

	color: #8a75d0 !important;
}
.file-progress-bar .close-btn{
	position:absolute;
	right:0;
	top: 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.file-progress-bar .progress{
	height: 6px;
	background: #e1dcfc;
	box-shadow: none;
	-webkit-border-radius:0;
-moz-border-radius: 0;
border-radius: 0;
margin-bottom: 10px;
}
.file-progress-bar .progress-bar-success{
	background: #67d54e;
	box-shadow: none;

}
.file-progress-bar .close-btn a{
	color: #fb383e;
	    text-decoration: none;
	    font-size: 20px;
	    vertical-align: middle;
			margin-left: 12px;
}


.uploading-album-image{
	border: 1px dashed #bbd6fb;
	color: #7c81af;
	text-align: center;
	padding: 25px;
	position: relative;
	overflow: hidden;
	min-height: 150px;
	width: 100%;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	display: table;
	margin-bottom: 25px;
}
.uploading-album-image>div{
	display: table-cell;
	vertical-align: middle;
}
.uploading-album-image .fa{
	font-size: 40px;
	color: #bbd6fb;
}
.uploading-album-image input{
	position: absolute;
	z-index: 55;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	cursor: pointer;
	opacity: 0;
}
.uploading-album-image p{
	margin-top: 15px;
	margin-bottom: 0
}

.uploading-album-image.uploaded{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
		border: 1px solid
		.overlay-div #bbd6fb;
}
.uploading-album-image .edit-delete-div{
	position: relative;
	z-index: 66;
	font-size: 0;
	opacity: 0;
}
.uploading-album-image .edit-delete-div .fa{
	font-size: 14px;
	color: #fff !important;
}
.uploading-album-image .edit-delete-div .btn{
	height: 30px;
	width: 30px;
	padding: 0;
	color: #fff !important;
	text-align: center;
	line-height: 30px;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
	margin: 0 5px;
	overflow: hidden;
	position: relative;
}
.uploading-album-image .edit-delete-div input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	display: block;
	cursor: pointer;
	z-index: 22;
}
.uploading-album-image .overlay-div{
	position: absolute;
	z-index: 55;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.3);
		opacity: 0;
}
.uploading-album-image:hover .edit-delete-div,
.uploading-album-image:hover .overlay-div{
	opacity: 1;
}

.edit-album-portfolio-section .right-content-box .form-control{
	border-color: #b4b7d0;
}
.edit-album-portfolio-section .right-content-box input.form-control{
	color: #000;

	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.edit-album-portfolio-section .right-content-box textarea.form-control{
	color: #7c81af;
	font-size: 12px;
}
.edit-album-portfolio-section .left-content-box{
	padding-right: 50px;
}
.edit-album-portfolio-section .custom-checkbox label{
	height: 27px;
	min-width: 100px;
}
.edit-album-portfolio-section .custom-checkbox [type="checkbox"]:checked + label {
	background: #63c35e;
}
.edit-album-portfolio-section .design-capabilities{
	margin-top: 25px;
}
.edit-album-portfolio-section .right-content-box .form-group{
	margin-bottom: 10px;
}
.edit-album-portfolio-section .bottom-btn{
	font-size: 0
}
.edit-album-portfolio-section .bottom-btn .btn{
		min-width: inherit;
		padding-left: 25px;
		padding-right: 25px;
		margin-right: 25px;
}




/*Right Sidebar Start*/
.right-sidbar-div{
background: #fff;
padding:5px 20px;
color: #141414;
font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
font-weight: 500;
font-size: 12px;
}
.right-sidbar-div ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.right-sidbar-div ul li{
	border-bottom: 1px solid #e3eefd;
	padding: 15px 0;

}
.right-sidbar-div ul li:last-child{
	border-bottom: none;
}
.right-sidbar-div h5{
	margin: 0;
	font-size: 12px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #7c81af;
	margin-bottom: 5px;
}
.right-sidbar-div .rating-div{
	font-size: 18px;
}
.right-sidbar-div .languages-know span{
margin-right: 15px;
}
.right-sidbar-div .languages-know span.selected{
	color: #8a75d0;
}
.right-sidbar-div li.about{
		color: #7c81af;
}
/*Right Sidebar END*/


.designer-portfolio-section .panel-block .content-div h4{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.designer-portfolio-section .head-profile-div .left-img-div{
text-align: center;
}
.designer-portfolio-section .head-profile-div .left-img-div h4{
	margin-top: 10px;
}
.designer-portfolio-section .head-profile-div p{
	margin-bottom: 5px;
}
.designer-portfolio-section .head-profile-div .tags-div{
	margin: 10px 0;
}
.designer-portfolio-section .head-profile-div .tags-div .btn{
	margin-bottom: 2px;
}

.designer-portfolio-section .head-profile-div hr{
	max-width: 300px;
margin: 15px 0 10px 0;
	border-color: #e3eefd;
}

.work-history-review-div .left-content ul{
	margin: 5px -15px;
	padding: 0;
	list-style: none;
	font-size: 0;
	color: #141414;
	margin-top: 0;
}
.work-history-review-div .left-content ul li{
font-size: 12px;
display: inline-block;
vertical-align: middle;
padding: 0 15px;
border-right: 1px solid #eaeaea
}
.work-history-review-div .left-content ul li:last-child{
	border: none;
}
.work-history-review-div .client-info-right-div{
	border-left: 2px solid #e3eefd;
	text-align: center;
}
.work-history-review-div .client-info-right-div p{
	margin-bottom: 0;
}
.work-history-review-div .client-info-right-div p img{
	margin-bottom: 15px;
}
.work-history-review-div .rating-div{
	font-size: 14px;
}


.single-image-thumb{
	height: 220px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 25px;
	border: 1px solid #e9e9e9;
}
.dprofile-gallery-inspiration-bank-uploads .tab-div{
	font-size: 0;
	margin-bottom: 20px;
}
.dprofile-gallery-inspiration-bank-uploads .tab-div .btn{
	font-size: 12px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 300;
	height: 35px;
	box-shadow: none;
	line-height: 23px;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: 20px;
	background: #e8e3ff;
	cursor: pointer;
}
.dprofile-gallery-inspiration-bank-uploads .tab-div .btn.active{
	background: #8a75d0;
	color: #fff;
}

.designer-portfolio-section .pagination-div{
	margin: 0
}
