@font-face {
  font-family: "GothamPro-Bold";
  src: url("../fonts/GothamPro-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
  src: url("../fonts/GothamPro-Bold.woff") format("woff"); /* Modern Browsers */
  src: url("../fonts/GothamPro-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  /*src: url('GothamPro-Bold.svg#svgFontName') format('svg');*/ /* Legacy iOS */
  src: url("../fonts/GothamPro-Bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  src: url("../fonts/GothamPro-Bold.ttf") format("truetype");
}
.top-right-language {
  display: inline-flex;
}
.pagination-div {
  color: #323232;
  margin: 15px 0;
}
.modalBody {
  padding: 35px 20px 0px 20px !important;
}
.welcome-section .head-div .left-content {
  font-weight: bold;
}
.welcome-section .head-div .center-content {
  font-weight: bold;
  text-align: center;
}
.welcome-section .head-div .center-content p {
  color: #fff;
  font-family: "Gotham Rounded Medium";
  font-size: 12px;
  line-height: 1.67;
}
.welcome-section .head-div .content-center {
  font-weight: bold;
  text-align: center;
}
.welcome-section .head-div .content-center p {
  font-family: "Gotham Rounded Medium";
  font-size: 12px;
  line-height: 1.67;
}
.ignite-buzz-math .head-content-center p {
  color: #003137;
  font-family: "Gotham Rounded Medium", Arial, sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}
.smile-section .ignite-buzz-math .head-content-center p {
  color: #541807;
  font-family: "Gotham Rounded Medium", Arial, sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}
.smile-section-ph .ignite-buzz-math .head-content-center p {
  color: #541807;
  font-family: "Gotham Rounded Medium", Arial, sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}
.forgot-password-input {
  padding: 0px 30px 0px 30px !important;
  height: 40px !important;
  width: 95% !important;
}
.forgot-password-circle {
  right: 0px !important;
  margin-top: -15px !important;
}
.selectedTab {
  background: #c7637f !important;
  color: #fff !important;
}
.content-div {
  background: #fff;
  padding: 15px 25px;
  color: #454545;
  font-family: "Gotham Rounded Book", Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: 1px;
  font-size: 12px;
}
.pagination-div .number-div {
  display: inline-block;
  vertical-align: middle;
}
.pagination-div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  font-size: 0;
}
.pagination-div ul li {
  display: inline-block;
  vertical-align: middle;
}
.pagination-div ul li.prev a {
  text-align: right;
}
.pagination-div ul li.prev a,
.pagination-div ul li.next a {
  display: inline-block;
  cursor: pointer;
  width: 28px;
  height: 28px;
  position: relative;
  font-size: 18px;
  vertical-align: middle;
  margin: 0 5px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #f67599;
  text-align: left;
  color: #fff;
  text-decoration: none;
  line-height: 28px;
}
.pagination-div ul li.active a {
  color: #f67599;
}
.pagination-div ul li a {
  width: 26px;
  height: 26px;
  display: block;
  position: relative;
  line-height: 26px;
  font-size: 12px;
  text-decoration: none;
  color: #323232;
  text-align: center;
}
.update-profile-form .custom_date_picker {
  position: absolute;
  right: 20px;
  top: 35px !important;
  color: #f17598;
}
.update-profile-form .fl_label,
.change-password-section .fl_label,
.language_preference {
  color: #f17598 !important;
}
.decoration_none_custom {
  text-decoration: none;
  color: #323232 !important;
}
.decoration_none_custom:hover {
  text-decoration: none;
  color: #f17598 !important;
}
.option_images {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  width: 100% !important;
  height: 300px !important;
  border-color: #d1d1d1 !important;
  border-radius: 25px !important;
  margin-top: 10px !important;
  border: solid 1px !important;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 9999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#sg-overlay {
  /*position: fixed;
    display: none;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;*/

  cursor: wait !important;
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
}
.smile-sg .programmes-suits .grade-section #sg-overlay .spinner {
  color: #ffffff;
}
#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.q-custon-checkbox input:checked ~ .check_custom {
  background-color: #1b71dc !important;
}
.alreadyattemptedtrue {
  background-color: #52b421 !important;
  pointer-events: none !important;
}
.alreadyattemptedfalse {
  background-color: #f34a16 !important;
  pointer-events: none !important;
}
.q-custon-checkbox .checkmark {
  height: 100% !important;
}
.q-custon-checkbox .quiz-option-img {
  padding: 15px;
}
.check_box_blink {
  background-color: #004a7f;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 200ms infinite;
  -moz-animation: glowing 200ms infinite;
  -o-animation: glowing 200ms infinite;
  animation: glowing 200ms infinite;
}
@-webkit-keyframes glowing {
  0% {
    background-color: #52b420;
    -webkit-box-shadow: 0 0 3px #52b420;
  }
  50% {
    background-color: #69cd36;
    -webkit-box-shadow: 0 0 40px #69cd36;
  }
  100% {
    background-color: #52b420;
    -webkit-box-shadow: 0 0 3px #52b420;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: #52b420;
    -moz-box-shadow: 0 0 3px #52b420;
  }
  50% {
    background-color: #69cd36;
    -moz-box-shadow: 0 0 40px #69cd36;
  }
  100% {
    background-color: #52b420;
    -moz-box-shadow: 0 0 3px #52b420;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: #52b420;
    box-shadow: 0 0 3px #52b420;
  }
  50% {
    background-color: #69cd36;
    box-shadow: 0 0 40px #69cd36;
  }
  100% {
    background-color: #52b420;
    box-shadow: 0 0 3px #52b420;
  }
}

@keyframes glowing {
  0% {
    background-color: #52b420;
    box-shadow: 0 0 3px #52b420;
  }
  50% {
    background-color: #69cd36;
    box-shadow: 0 0 40px #69cd36;
  }
  100% {
    background-color: #52b420;
    box-shadow: 0 0 3px #52b420;
  }
}

.quiz-head-div .button-lr-div .custom_quiz_top {
  margin: 9px !important;
}
.custom_top_head_margin {
  margin-left: 7px !important;
}
.top_head_fixed_height {
  max-height: 250px;
}
.quiz-head-div .list_number_custom {
  margin: 0 0;
}
.question_image_custom {
  width: 300px !important;
  height: 300px !important;
}
.edit_profile_custom,
.custom_cursor_pointer {
  cursor: pointer !important;
}
.profile-img {
  background: #e8e3ff;
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  padding-top: 10px;
}
.distributor_profile_image {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background: #e8e3ff;
}
.quiz-result-section .score-bord-div .btn {
  margin-top: 225px !important;
  padding-left: 20px;
  padding-right: 20px;
}
.shake_custom {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.phonecode_custom {
  padding-top: 8px !important;
  padding-right: 0px !important;
  padding-left: 18px !important;
  /*padding-right: 60px !important;*/
  /*margin: 0 0 0px !important;*/
}
.distributor_all_referals {
  padding-top: 10px !important;
}
.distributor_all_referals_button {
  padding-top: 5px !important;
}
.my_code_custom {
  word-wrap: break-word;
  /*text-align: justify;*/
  width: 40%;
  font-weight: bold;
}
.my_code_custom_img {
  max-width: 30%;
}
.my_code_custom_row,
.margin_top_20 {
  margin-top: 20px;
}
.my_code_custom_img_detail {
  max-width: 10%;
}
.change-password-section .update_custom {
  margin-top: 30px !important;
}
.thumbnail_custom {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background: #f4f4f4;
}
.break-word {
  word-wrap: break-word;
}
.my-membership-plan-section .bottom-btn .btn_custom {
  min-width: 70px !important;
}
.img_top_custom {
  position: relative !important;
  top: 0px !important;
}
.earnings-div .head_year_custom {
  max-width: 900px !important;
}
.custom_padding_10 {
  padding-left: 10px !important;
}
.custom_profile_header {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.ui-datepicker-calendar {
  display: none;
}
.btn_max_width {
  max-width: 250px !important;
}
.download_apk_btn_custom {
  margin-top: 10px;
  margin-left: 25px;
}
.quiz_image_align {
  margin-left: 405px !important;
}
.custom_info_language {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.8em;
  color: #f17598;
  margin-top: 6px;
  margin-right: 40px;
  cursor: pointer !important;
}
.white_background_handicon {
  background-size: contain !important;
  background-position: center center !important;
  height: 150px;
  width: 180px;
  cursor: pointer;
}
.rightAlign {
  width: 200px;
  float: right;
}
.image-subjects-select-categories {
  box-shadow: 3px 3px 3px #ccddee;
  border: 2px solid black;
}
.pointer {
  cursor: pointer;
}
.dropdown-menu li {
  border-bottom: 1px solid #eeeeee;
  position: relative;
}
.subcategories_dropdown {
  color: #f17598;
  padding: 10px 20px;
  font-size: 12px;
  border-left: 3px solid #fff;
  position: relative;
}
.my-performance-section .bottom-content .h40 p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
/*custom css start*/
#owl-carousel .owl-nav button {
  font-size: 40px;
  position: absolute;
  top: -15px;
  color: #f17598;
}
#owl-carousel .owl-nav button:focus {
  outline: none;
}
#owl-carousel .owl-nav .owl-prev {
  left: 0;
}
#owl-carousel .owl-nav .owl-next {
  right: 0;
}
.tabs-div .item.open .btn:after {
  display: block;
}
/*custom css end*/

/*Added for header sub menu*/
.dropdown.head-right-dropdown .dropdown-menu {
  min-width: 222px;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: -95%;
  max-width: 180px;
  margin-top: 0 !important;
  margin-right: -1px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: left;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-right-color: #999;
  margin-right: 10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
}
.dropdown-menu-right {
  margin-left: 0;
}
.dropdown.head-right-dropdown .dropdown-menu > li.active a,
.dropdown.head-right-dropdown
  .dropdown-menu
  .dropdown-submenu
  .dropdown-menu-outer
  a {
  background: white;
}
.dropdown.head-right-dropdown
  .dropdown-menu
  .dropdown-submenu
  .language-selection
  li
  a {
  font-weight: bold;
}
.dropdown.head-right-dropdown
  .dropdown-menu
  .dropdown-submenu
  .language-selection
  li:hover
  a {
  background: #eeeeee;
}
.dropdown.head-right-dropdown
  .dropdown-menu
  .dropdown-submenu
  .language-selection
  .selected {
  background: #eeeeee;
}
.dropdown.head-right-dropdown .dropdown-menu > li.active a,
.dropdown.head-right-dropdown
  .dropdown-menu
  .dropdown-submenu
  .dropdown-menu-outer
  a,
.dropdown.head-right-dropdown
  .dropdown-menu
  .dropdown-submenu
  .dropdown-menu-outer
  .dropdown-submenu-inner
  a {
  background: white;
}
.dropdown.head-right-dropdown .dropdown-menu li.active a,
.dropdown.head-right-dropdown .dropdown-menu .dropdown-submenu a:focus {
  background: #eeeeee;
}
/*.dropdown.head-right-dropdown .dropdown-menu li.active a, .dropdown.head-right-dropdown .dropdown-menu .dropdown-submenu .dropdown-menu-outer li:hover a {
  background: #eeeeee;
}*/
.dropdown.head-right-dropdown .dropdown-menu li.active a,
.dropdown.head-right-dropdown
  .dropdown-menu
  .dropdown-submenu
  .dropdown-submenu-inner
  li:hover
  a {
  background: #eeeeee;
}

.ru_text li a {
  font-family: "GothamPro-Bold" !important;
}
.en_text {
  font-weight: bold !important;
}

/*submenu css ended*/

.dropdown-menu.dropdown-menu-form {
  position: relative;
  float: none;
  width: 160px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.owl-carousel .owl-stage-outer {
  height: auto !important;
}

/* ignite home start */
.welcome-section {
  background: url(../../../images/group-5.png) no-repeat #b5e5f7 center -50px;
  padding: 90px 0 450px;
}
.why-should-kids-come {
  position: relative;
  background: url(../../../images/ignite-home.png) repeat-x left top;
  padding: 150px 0 50px;
  padding-top: 0px;
  margin: -55px 0 0 0;
  background-size: 100% 129%;
}
.why-should-kids-come .inner-div {
  margin-top: -140px;
}
.inner-space {
  max-width: 880px;
  margin: 0 auto;
}
.buzz-english-heading {
  max-width: 800px;
}
.buzz-english-heading h2 {
  font-size: 36px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
  font-weight: 700;
}
.buzz-english-heading h3 {
  font-size: 18px;
  font-family: "Gotham Rounded Medium", "Arial";
  line-height: 22px;
}
.buzz-english-learning {
  margin-top: 70px;
}
.buzz-english-div {
  display: table;
  width: 100%;
}
.buzz-english-image {
  display: table-cell;
  vertical-align: middle;
  margin-right: -4px;
  width: 295px;
  height: 170px;
}
.buzz-english-image img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  max-width: 100%;
}
.buzz-english-description {
  display: table-cell;
  vertical-align: top;
  padding: 25px 40px;
  border: 1px solid #fbbc08;
  border-left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  padding-bottom: 82px;
  position: relative;
}
.buzz-english-description p {
  font-size: 12px;
  line-height: 1.67;
  color: #2c2c2c;
  font-family: "Gotham Rounded Book", "Arial";
  display: inline-block;
  vertical-align: top;
}
.buzz-english-description a {
  color: #f17598;
  font-family: "Gotham Rounded bold", "Arial";
  display: inline-block;
  vertical-align: bottom;
}
.buzz-english-description a:hover {
  text-decoration: none;
}
a.common-btn {
  font-size: 14px;
  color: #f17598;
  border: 1px solid #f17598;
  border-radius: 20px;
  padding: 10px 22px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
a.coming-soon-btn {
  position: absolute;
  bottom: 30px;
  left: 40px;
}
.buzz-english-section .buzz-english-description.coming-soon-desc {
  padding-bottom: 62px;
}
a.common-btn:hover {
  color: #f17598;
}

.math-program {
  margin-bottom: 50px;
}
.box .switching-wrapper {
  margin-top: 50px;
}
.box .switching-wrapper .switching-txt {
  text-transform: initial;
}
.box .switching-wrapper .switching-desc {
  font-size: 16px;
  padding-bottom: 20px;
}
.box .switching-wrapper .switch-btn {
  cursor: pointer;
  position: inherit;
  background: #fff;
  border: 2px solid #f17598;
  text-decoration: none;
  font-weight: bold;
}
.buzz-english-section {
  padding: 50px 0 200px;
  background: url(../../../images/math-prog-bg.png) no-repeat center top #9ac149;
  background-size: 100% auto;
}
.mar-btm {
  margin-bottom: 30px;
}
.why-should-kids-come:after {
  content: "";
  background-image: linear-gradient(to bottom, #29b5b0 60%, #4fc2c3);
  height: 600px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
/* ignite home end */

/* ignite buzz page */
.page-top-sec {
  background: url(../../../images/buzz-ignite-bg.png) no-repeat bottom;
  background-size: 100%;
  background-color: #1c98cc;
  position: relative;
}
.page-top-sec:after {
  content: "";
  background: url(../../../images/clouds_bg_buzz.png) no-repeat bottom;
  background-size: 100%;
  position: absolute;
  top: 0;
  bottom: 30%;
  left: 0;
  right: 0;
}
.page-top-sec section {
  z-index: 1;
  position: relative;
}
.ignite-buzz-english,
.ignite-smile {
  padding: 60px 0 30px;
}
.sec-space {
  text-align: left;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.section-head h2 {
  font-family: "Gotham Rounded Bold", Arial, sans-serif;
  font-size: 36px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
  margin-bottom: 25px;
}
.section-head h3 {
  font-family: "Gotham Rounded Bold", Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
  margin-bottom: 45px;
}
.section-head .space-div {
  max-width: 620px;
  margin: 0 auto;
}
.section-head .space-div .row {
  display: table;
}
.section-head .space-div .margin-auto {
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.head-content p {
  color: #fff;
  font-family: "Gotham Rounded Medium", Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
}
.section-head .video-div {
  width: 250px;
  height: 125px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  border-radius: 5px;
  padding: 5px;
  color: #f17598;
  position: relative;
}

.section-head .video-div-sg {
  width: 250px;
  height: 125px;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  padding: 5px;
  color: #f17598;
  position: relative;
}
.section-head .video-div-sg span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  display: block;
  z-index: 1;
  background-position: center center;
}
.section-head .video-div-sg .fa {
  font-size: 24px;
  position: relative;
  z-index: 55;
  top: 50%;
  transform: translateY(-50%);
}
.section-head .video-div-sg .fa:after {
  background: #fff;
  content: "";
  width: 10px;
  height: 12px;
  position: absolute;
  left: 6px;
  z-index: -1;
  top: 6px;
}

.section-head .video-div span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  display: block;
  z-index: 1;
  background-position: center center;
}
.section-head .video-div .fa {
  font-size: 24px;
  position: relative;
  z-index: 55;
  top: 50%;
  transform: translateY(-50%);
}
.section-head .video-div .fa:after {
  background: #fff;
  content: "";
  width: 10px;
  height: 12px;
  position: absolute;
  left: 6px;
  z-index: -1;
  top: 6px;
}
.programmes-suits {
  padding: 20px 0 40px;
}
.bg-white {
  background-color: #fff;
}
.proficiency-level {
  padding: 20px;
  width: 90%;
  box-shadow: 0 9px 9px 0 rgba(202, 202, 202, 0.34);
  border: solid 1px #f17598;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 40px;
  position: relative;
}
.odd-wrapper {
  margin-left: 50px;
}
.space-sec {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 10px;
}
/*.program-image {position: relative;}*/
.odd-wrapper .program-image {
  position: absolute;
  left: -50px;
  top: -7px;
}
.even-wrapper .program-image {
  position: absolute;
  right: -50px;
  top: -7px;
}
.program-image figure {
  background-color: #fff;
  padding: 12px;
  box-shadow: 0 9px 9px 0 rgba(0, 158, 244, 0.24);
  border-radius: 10px;
}
.program-content {
  position: relative;
}
.level-detail {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 0;
}
.program-content figure.path {
  position: absolute;
  right: 0;
  top: 20px;
}
.level-detail h4 {
  font-size: 18px;
  color: #f17598;
  font-family: "Gotham Rounded Bold", Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.level-detail p {
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 20px;
}
.even-wrapper {
  margin-left: 20px;
}
.even-wrapper .program-image figure {
  right: 0px;
}
.proficiency-level .even-img-sec {
  float: right;
}
.proficiency-level .even-desc-sec {
  float: left;
}

.quiz-worksheet {
  padding: 0 0 50px;
}
.quiz-worksheet .bottom-box {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}
.quiz-worksheet .box-bn2 {
  background: url(../../../images/box-bg.svg) no-repeat center;
  background-size: 100% 100%;
  height: 310px;
  max-width: 350px;
  text-align: center;
  padding: 50px 30px;
  font-size: 14px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 60px;
}
.quiz-worksheet .box-bn2 h2 {
  position: absolute;
  left: 0;
  width: 100%;
  top: -25px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
  text-transform: uppercase;
}
.quiz-worksheet .box-bn2 h2 span {
  background: url(../../../images/title-bg1.svg) no-repeat;
  background-size: 100% 100%;
  width: 239px;
  display: block;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
  font-size: 24px;
  line-height: 36px;
  height: 64px;
  margin: 0 auto;
  padding: 5px 20px;
  padding-top: 10px;
}
.quiz-worksheet .box-bn2 .icon-div {
  padding: 30px 0 30px 0;
  min-height: 140px;
  width: 90px;
  margin: auto;
}
/*.quiz-worksheet .box-bn2.b2 h2 span {background: url(../../../images/title-bg.svg) no-repeat; width: 327px; height: 77px; padding-top: 15px; background-size: 100% 100%;}*/

.way-to-learn {
  background: url(../../../images/buzz-foot-bg.png) no-repeat top;
  background-size: 100%;
  padding: 100px 0 200px;
  position: relative;
  background-color: #374250;
  margin-bottom: -180px;
}
.spacing-wrap {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.bottom-sec-head h3 {
  font-size: 24px;
  font-family: "Gotham Rounded Bold", Arial, sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}
.learning-process-img {
  text-align: center;
}
.learning-process-content {
  padding: 0 0 0 40px;
}
.learn-steps li {
  margin-bottom: 20px;
  padding: 0px;
  position: relative;
  width: 100%;
}
.learn-steps li h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Gotham Rounded bold", Arial, sans-serif;
  position: relative;
  color: #f17598;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  display: table;
  padding-right: 10px;
  white-space: nowrap;
}
.learn-steps li h4 span {
  display: table-cell;
  width: 100%;
  position: relative;
}
.learn-steps li h4 span:after {
  content: "";
  position: absolute;
  width: 90%;
  border: 0.5px solid rgb(241, 117, 152);
  top: 7px;
  left: 10px;
  opacity: 0.5;
}
.learn-steps li p {
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 0px;
  font-family: "Gotham Rounded Medium", Arial, sans-serif;
  color: #fff;
}
.proficiency-level .icon-box {
  position: initial;
}
.icon-box .program-image {
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
}
.icon-box.even-img-sec .program-image {
  right: -30px;
  left: auto;
}
.way-to-learn .bg-images {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.way-to-learn .bg-images .truck {
  position: absolute;
  bottom: 110px;
  right: 40px;
}
.way-to-learn .bg-images .car-left {
  position: absolute;
  bottom: 220px;
  left: 10px;
}
.way-to-learn .bg-images .car-right {
  position: absolute;
  top: 80px;
  right: -25px;
}
.way-to-learn .bg-images .car-red {
  position: absolute;
  top: 90px;
  left: 80px;
}
.way-to-learn .container {
  position: relative;
  z-index: 1;
}
.learn-section {
  display: table;
}
.learn-section .learn-img,
.learn-section .learn-desc {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.learn-steps,
.learn-steps li:last-child {
  margin: 0;
}
.ignite-header .logo,
.ignite-header .tab-section {
  display: inline-block;
}
.ignite-header .logo a img 
{
  vertical-align: bottom;
}
.ignite-header .tab-section {
  padding-left: 60px;
  margin: 15px 0px 10px;
}
.ignite-header .tab-section a {
  color: #2c2c2c;
  padding: 1px 14px;
  height: auto;
  margin-right: 12px;
}
.ignite-header .tab-section a.active {
  box-shadow: none;
  background-color: #f17598;
  color: #fff;
}
.ignite-header .tab-ignite a.active {
  
  background-color: #6fbbe7;
  
}
.ignite-dropdown
{
  margin: 0!important;
}
.ignite-user .caret 
{
  border-top: 6px solid #6fbbe7!important;
}
.buzz-math-section {
  background: url(../../../images/maze_bg.png) no-repeat bottom;
  background-size: 100%;
  background-color: #aae1f0;
  background-position-y: calc(100% - 100px) !important;
}
.ignite-buzz-math {
  padding: 60px 0 30px;
}
.ignite-smile-sg {
  padding: 60px 0 30px;
}
.ignite-buzz-math .head-content p,
.programmes-suits .section-head > p {
  color: #003137;
  font-family: "Gotham Rounded Medium", Arial, sans-serif;
}
.ignite-smile-sg .head-content p,
.programmes-suits .section-head > p {
  color: #ffffff;
  font-family: "Gotham Rounded Medium", Arial, sans-serif;
}
.ignite-buzz-math .section-head h3,
.ignite-smile .section-head h3 {
  font-family: "Gotham Rounded Medium";
  font-style: italic;
}
.programmes-suits .section-head > p {
  max-width: 670px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}
.buzz-math-section .grade-section .box {
  border-radius: 10px;
  box-shadow: 0 9px 9px 0 rgba(0, 158, 244, 0.24);
  border: solid 1px #f17598;
  background-color: #ffffff;
  padding: 30px 30px 80px;
  text-align: center;
  margin: 0 30px;
  height: 100%;
  position: relative;
}
.buzz-math-section .grade-section .box .grade-ttl {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  font-family: "Gotham Rounded bold";
  color: #f17598;
  line-height: normal;
  padding: 20px 0;
}
.buzz-math-section:after {
  background: url(../../../images/clouds_bg.png) repeat bottom;
  background-size: 100%;
}
.buzz-math-section .grade-section {
  position: relative;
}
.buzz-math-section .grade-section:after {
  content: "";
  background: url(../../../images/plane_element.png) repeat top;
  background-size: 110%;
  position: absolute;
  top: 0;
  bottom: 300px;
  left: 0;
  right: 0;
  z-index: -1;
}
.buzz-math-section .grade-section .box p {
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 0;
}
.buzz-math-section .grade-section .box a {
  border-radius: 19.5px;
  border: solid 1px #f17598;
  color: #f17598;
  padding: 8px 5px;
}
.buzz-math-section .grade-section .main-box {
  max-width: 1000px;
  margin: auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.buzz-math-section .grade-section .box .btn {
  position: absolute;
  bottom: 20px;
  width: 126px;
  margin: auto;
  left: 0;
  right: 0;
  cursor: pointer;
}
.buzz-math-section .grade-section .box-section {
  margin-bottom: 60px;
  width: 33.33%;
}
.subscription-plan {
  background-color: #f7bb34;
  padding: 62px 0;
  text-align: left;
}
.subscription-plan h2 {
  margin-bottom: 0;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: calc(100% - 200px);
}
.subscription-plan .section-head {
  max-width: 1000px;
  margin: auto;
  display: block;
  text-align: left;
  padding: 0 15px;
  position: relative;
}
.subscription-plan .btn {
  border-radius: 32px;
  background-color: #ffffff;
  font-size: 24px;
  color: #f7bb34;
  padding: 19px 34px;
  height: auto;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.learn-math .learn-steps li h4 {
  color: #00746a;
  background-color: transparent;
}
.learn-math .learn-steps li h4 span:after {
  border: solid 0.5px #00746a;
}
.way-to-learn.learn-math {
  background: url(../../../images/math-bottom-bg.png) no-repeat bottom;
  background-size: 100%;
  background-color: #88bd66;
  padding: 60px 0 22%;
  margin-bottom: -200px;
}
.buzz-math-section .grade-section .box {
  transition: all 0.3s linear;
}
.buzz-math-section .grade-section .box:hover {
  box-shadow: 0 0px 35px 0 rgba(0, 158, 244, 0.49);
}
#grade-details .modal-header {
  border: 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 18px;
  font-family: "Gotham Rounded bold";
  color: #f17598;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 0;
  padding-top: 20px;
  font-family: "Gotham Rounded bold";
}
#grade-details .modal-header button {
  opacity: 1;
}
#grade-details .modal-dialog {
  max-width: 1000px;
  width: auto;
}
#grade-details .modal-content {
  border-radius: 10px;
  box-shadow: none;
  border: 0;
}
#grade-details .modal-content .grade-ttl {
  font-size: 18px;
  font-weight: 500;
  color: #50849f;
  font-family: "Gotham Rounded Medium";
  margin: 15px 0 7px;
}
#grade-details .modal-content p {
  font-size: 12px;
  font-family: "Gotham Rounded Book";
  color: #2c2c2c;
  margin-bottom: 0;
  width: 100%;
  word-break: break-word;
}
#grade-details .modal-content ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0;
  position: relative;
}
#grade-details .modal-content li {
  width: 33.33%;
  border-bottom: solid 1px #f17598;
  border-right: solid 1px #f17598;
  padding: 20px;
}
#grade-details .modal-content ul:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #fff;
  border-left-width: 20px;
}
#grade-details .modal-content li * {
  position: relative;
  z-index: 2;
}
#grade-details .modal-body {
  padding-right: 40px;
  padding-bottom: 40px;
}
#grade-details {
  background-color: rgba(0, 0, 0, 0.3);
}
.smile-section {
  background: url(../../../images/bg-smile.png) no-repeat bottom;
  background-size: 100%;
  background-color: #fed869;
}
.smile-section-sg {
  background: url(../../../images/bg-smile-sg.png) no-repeat bottom;
  background-size: 100%;
  background-color: #fed869;
}
.smile-section .ignite-buzz-math .head-content p,
.smile-section .programmes-suits .section-head > p {
  color: #541807;
}
.smile-section .subscription-plan {
  background-color: #4c8e39;
}
.know-more-section {
  background-color: #1c98cc;
}
.know-more-section .btn {
  color: #1c98cc;
}
.smile-section .subscription-plan .btn {
  color: #4c8e39;
}
.way-to-learn.learn-smile-section {
  background: url(../../../images/smile-bottom-bg.png) no-repeat bottom;
  background-size: 100%;
  background-color: #be9a68;
}
.learn-smile-section .learn-steps li h4 {
  color: #5e431f;
}
.learn-smile-section .learn-steps li h4 span:after {
  border: solid 0.5px #5e431f;
}
.welcome-section .lesson-videos-feature h3 {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
}
.welcome-section .head-div .left-content p {
  font-family: "Gotham Rounded Medium";
  font-size: 12px;
  line-height: 1.67;
}
.welcome-section .head-div .inner-div .apk-image-wrapper {
  padding-left: 10px;
}
.welcome-section .head-div .inner-div .apk-image-wrapper .apk-image {
  padding: 10px;
  height: 70px;
}
.welcome-section .lesson-videos-feature ul li strong,
.guide-section ul li strong {
  font-family: "Gotham Rounded bold";
  font-size: 14px;
}
.welcome-section .lesson-videos-feature ul li,
.guide-section ul li {
  font-family: "Gotham Rounded Medium";
  font-size: 12px;
}
.welcome-section .lesson-videos-feature {
  /*margin-top: 20px;*/
}
.math-landing-section {
  background: url(../../../images/bg-math-landing.png) no-repeat bottom;
  background-size: 100%;
  padding-bottom: 0;
  background-color: #a56990;
}
.math-landing-section .welcome-section {
  background: none;
  padding: 90px 0 10px;
}
.math-landing-section .buzz-english-section {
  background: none;
  background-color: transparent;
  padding-bottom: 35%;
  margin-bottom: 0px;
}
.math-landing-section .welcome-section .lesson-videos-feature .icon-div {
  background-color: #faa930;
  overflow: hidden;
}
.math-landing-section .welcome-section .lesson-videos-feature ul li {
  color: #fff;
  margin-bottom: 20px;
}
.math-landing-section .welcome-section .head-div .left-content p {
  color: #fff;
}
.math-landing-section .buzz-english-description p {
  margin-bottom: 0;
}
.buzz-english-section .buzz-english-description {
  padding: 20px 40px;
}
.math-landing-learn {
  margin-top: 75px;
}
.math-landing-learn .learn-steps li h4 {
  color: #723122;
}
.math-landing-learn .learn-steps li h4 span:after {
  border-color: #723122;
}
.math-landing-learn h3,
.math-learning-table .math-landing-table h3 {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
}
.buzz-math-section.buzz-math-landing-section {
  background: url(../../../images/math-landing-bottom-bg.png) no-repeat bottom;
  background-size: 100%;
  background-color: #ba7d2d;
  background-position-y: 100% !important;
  padding-bottom: 100px;
  margin-top: -1px;
  margin-bottom: -1px;
}
.buzz-math-section.buzz-math-landing-section .grade-section .box {
  padding: 30px;
  border-color: #f58738;
  box-shadow: 0 9px 9px 0 rgba(98, 60, 16, 0.24);
}
.buzz-math-section.buzz-math-landing-section .grade-section .box .grade-ttl {
  color: #f58738;
}
.math-learning-table {
  background: url(../../../images/math-table-bg.png) no-repeat top;
  padding: 60px 0 130px;
  background-size: cover;
  margin-bottom: -180px;
}
.math-learning-table .math-landing-table {
  max-width: 800px;
  margin: auto;
}
.math-learning-table .math-landing-table h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
.math-learning-table .math-landing-table .table thead > tr > th,
.math-learning-table .math-landing-table .table tbody > tr > th,
.math-learning-table .math-landing-table .table tfoot > tr > th,
.math-learning-table .math-landing-table .table thead > tr > td,
.math-learning-table .math-landing-table .table tbody > tr > td,
.math-learning-table .math-landing-table .table tfoot > tr > td {
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 20px 30px;
  vertical-align: middle;
  width: 33.33%;
  white-space: initial;
}
.math-learning-table
  .math-landing-table
  .table
  thead
  > tr
  > th:not(:first-child),
.math-learning-table .math-landing-table .table tr > td:first-child {
  background-color: #973702;
  text-align: center;
  font-family: "Gotham Rounded Medium";
  width: 22%;
}
.math-learning-table .math-landing-table .table {
  border-collapse: separate;
  border-spacing: 10px;
  text-align: center;
  background-color: transparent;
}
.math-learning-table .math-landing-table .table tr > td:not(:first-child) {
  background-color: #f58738;
  font-family: "Gotham Rounded Medium";
}
.math-learning-table .math-landing-table .table tr > td span {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
  white-space: initial;
  padding: 0 0 0 23px;
}
.math-learning-table
  .math-landing-table
  .table
  tr:nth-child(even)
  > td:not(:first-child) {
  background-color: #f99d5c;
}
.math-learning-table .math-landing-table .table thead > tr > th {
  font-family: "Gotham Rounded bold";
  font-size: 16px;
}
.math-learning-table .math-landing-table .table-responsive {
  border: none;
}
.buzz-english-description p {
  margin-bottom: 0px;
}

.smile-sg .section-head .lbl-smile-sg {
  font-size: 30px;
  font-style: italic;
  margin-top: -23px;
}
.smile-intl .section-head .lbl-smile-intl {
  font-size: 30px;
  font-style: italic;
  margin-top: -23px;
}
.smile-sg .smile-section {
  background: url(../../../images/bg-smile-sg.png) no-repeat;
  background-size: 100%;
  background-color: #8580d0;
  background-position-y: calc(100% - 100px) !important;
}
.smile-sg .buzz-math-section:after {
  background: url(../../../images/clouds-sg.png) no-repeat;
  background-size: 100%;
}
.smile-sg .smile-section .programmes-suits .section-head > p {
  color: #fff;
}
.smile-sg .grade-section .box {
  box-shadow: 0 9px 9px 0 rgba(218, 145, 119, 0.61);
  border: solid 1px #f17598;
}
.smile-sg .grade-section .box:hover {
  box-shadow: 0 9px 9px 0 rgba(218, 145, 119, 0.61);
}
.smile-sg .smile-section .subscription-plan {
  background-color: #129da4;
}
.smile-sg .smile-section .subscription-plan .btn {
  color: #129da4;
}
.smile-sg .way-to-learn {
  background: url(../../../images/smile-bottom-bg-sg.png) no-repeat bottom;
  background-size: 100%;
  margin-bottom: -250px;
  background-color: #98adc7;
}
.smile-sg .learn-smile-section .learn-steps li h4 {
  color: #44515d;
}
.smile-sg .learn-smile-section .learn-steps li h4 span:after {
  border: solid 0.5px #44515d;
}
.smile-sg .buzz-math-section .grade-section:after {
  background: url(../../../images/plane-elements-sg.png) top;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}
.smile-sg .smile-section .ignite-smile .section-head .head-content p {
  text-align: center;
}
.smile-sg .page-top-sec:after {
  bottom: 0 !important;
}

.math-learning-table .math-landing-table .table tr > td span:first-child {
  padding: 0 30px 0 0;
}
.math-learning-table .math-landing-table .table tr > td span:last-child {
  padding: 0 0 0 20px;
}

/*.smile-section-sg { background: url(../../../images/bg-smile-sg.png) no-repeat bottom;background-size: 100%;background-color: #aae1f0; background-position-y: calc(100% - 100px ) !important; }
.smile-section-sg .grade-section .box { border-radius: 10px; box-shadow: 0 9px 9px 0 rgba(0, 158, 244, 0.24); border: solid 1px #f17598; background-color: #ffffff;padding: 30px 30px 80px;text-align: center; margin: 0 30px;height: 100%;position: relative; }
.smile-section-sg .grade-section .box .grade-ttl { display: inline-block;width: 100%; font-size: 18px;font-family: 'Gotham Rounded bold'; color: #f17598;line-height: normal;padding: 20px 0; }
.smile-section-sg:after { background: url(../../../images/clouds-sg.png) repeat bottom;background-size: 100%; }
.smile-section-sg .grade-section { position: relative; }
.smile-section-sg .grade-section:after { content:'';background: url(../../../images/plane-elements-sg.png) repeat top;background-size: 110%;position: absolute;top: 0;bottom: 300px;left: 0;right: 0;z-index: -1; }
.smile-section-sg .grade-section .box p { font-size: 12px;line-height: 1.25;margin-bottom: 0; }
.smile-section-sg .grade-section .box a { border-radius: 19.5px; border: solid 1px #f17598; color: #f17598; padding: 8px 5px; }
.smile-section-sg .grade-section .main-box { max-width: 1000px;margin: auto;display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.smile-section-sg .grade-section .box .btn { position: absolute;bottom: 20px;width: 126px;margin: auto;left: 0;right: 0; cursor: pointer; }
.smile-section-sg .grade-section .box-section { margin-bottom: 60px;width: 33.33%; }
.smile-section-sg .grade-section .box { transition: all 0.3s linear; }
.smile-section-sg .grade-section .box:hover { box-shadow: 0 0px 35px 0 rgba(0, 158, 244, 0.49); }
.smile-section-sg.buzz-math-landing-section { background: url(../../../images/math-landing-bottom-bg.png) no-repeat bottom; background-size: 100%; background-color: #ba7d2d; background-position-y: 100% !important;padding-bottom: 100px; margin-top: -1px;margin-bottom: -1px; }
.smile-section-sg.buzz-math-landing-section .grade-section .box { padding: 30px;border-color: #f58738;box-shadow: 0 9px 9px 0 rgba(98, 60, 16, 0.24); }
.smile-section-sg.buzz-math-landing-section .grade-section .box .grade-ttl { color: #f58738; }
.subscription-plan-sg { background-color: #129da4;padding: 62px 0;text-align: left; }
.subscription-plan-sg h2 { margin-bottom: 0; display: inline-block; text-align: left; vertical-align: middle;width: calc(100% - 200px); }
.subscription-plan-sg .section-head { max-width: 1000px; margin: auto; display: block; text-align: left; padding: 0 15px;position: relative; }
.subscription-plan-sg .btn { border-radius: 32px; background-color: #ffffff; font-size: 24px; color: #129da4; padding: 19px 34px; height: auto; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%); }
.way-to-learn-sg{background: url(../../../images/buzz-foot-bg.png) no-repeat top; background-size: 100%; padding: 100px 0 200px; position: relative;background-color: #374250;margin-bottom: -180px;}
.way-to-learn-sg .bg-images{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.way-to-learn-sg .bg-images .truck { position: absolute;bottom: 110px;right: 40px; } 
.way-to-learn-sg .bg-images .car-left { position: absolute; bottom: 220px; left: 10px; }
.way-to-learn-sg .bg-images .car-right { position: absolute; top: 80px; right: -25px; }
.way-to-learn-sg .bg-images .car-red { position: absolute; top: 90px; left: 80px; }
.way-to-learn-sg .container { position: relative;z-index: 1; }
.way-to-learn-sg.learn-math { background:url(../../../images/math-bottom-bg.png) no-repeat bottom;background-size: 100%;background-color: #88bd66;padding: 60px 0 22%;margin-bottom: -200px; }
.way-to-learn-sg.learn-smile-section-sg {background: url(../../../images/smile-bottom-bg-sg.png) no-repeat bottom;background-size: 100%;background-color: #be9a68;}
.learn-smile-section-sg .learn-steps li h4 { color: #44515d; }
.learn-smile-section-sg .learn-steps li h4 span:after { border: solid 0.5px #44515d; }*/

/* width */
.math-learning-table .math-landing-table ::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.math-learning-table .math-landing-table ::-webkit-scrollbar-track {
  background: #f99d5c;
  border-radius: 10px;
  height: 5px;
}

/* Handle */
.math-learning-table .math-landing-table ::-webkit-scrollbar-thumb {
  background: #973703;
  border-radius: 10px;
  height: 5px;
}

/* Handle on hover */
.math-learning-table .math-landing-table ::-webkit-scrollbar-thumb:hover {
  background: #b24002;
}

.ignite-subheader {
  padding: 10px 0;
  background-color: #f17598;
}
.ignite-subheader .tab-section {
  padding-left: 410px;
  margin-top: 0 !important;
}
.ignite-subheader .tab-section a {
  color: #6fbbe7;
}
.ignite-subheader .tab-section a.active {
  color: white;
  background-color: #6fbbe7;
}
.ignite-modal .btn 
{
  margin-left: 35px;
}
header {
  padding: 10px 0;
}
header .logo {
  width: 145px;
}
.category-list {
  /*display:none;*/
  list-style: none;
  padding-left: 0;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;
  width: 90%;
  margin: auto auto 30px;
  border-radius: 10px;
  margin-top: -20px;
  padding: 25px;
}
.categoryDisplay {
  display: block !important;
}
.category-list li {
  width: 50%;
  display: inline-block;
  padding: 15px;
}
.listingPage {
  margin-top: -70px;
}
.white-block .tabs-div {
  margin-bottom: 0;
  padding-bottom: 0;
}
.white-block #TransactionsTab {
  margin-top: 15px;
}
.white-block #TransactionsTab .tabcontent {
  margin-top: 65px;
}
.my-performance-section .quiz-video-tabs {
  margin-bottom: 35px;
}
.white-block .selectedTabName {
  font-family: "Gotham Rounded Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f17598;
}
.ignite-subheader-white
{
  background-color: white;
}
.tabs-div .tablinks {
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  color: #f17598;
  margin-bottom: 33px;
}
.tabs-div .tablinks.active,
.category-list li.active {
  background: #f17598 !important;
  color: #fff !important;
}
.tabs-div .owl-dots {
  display: none;
}
.tabs-div .tablinks.active:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 9px);
  border: 1px solid #cdcdcd;
  width: 12px;
  height: 12px;
  margin: auto;
  z-index: 1111;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  background-color: #fff;
}
.category-list li .subcategories-dropdown {
  font-size: 14px;
}
.category-list li:nth-child(odd) {
  border-bottom: solid 0.4px #cdcdcd;
  border-right: solid 0.4px #cdcdcd;
}
.category-list li:nth-child(even) {
  border-bottom: solid 0.4px #cdcdcd;
}
.category-list li:nth-last-child(2):nth-child(odd),
.category-list li:nth-last-child(1):nth-child(even),
.category-list li:nth-last-child(1):nth-child(odd) {
  border-bottom: 0;
}
.category-list li.active {
  border: 0;
  border-radius: 6px;
}
.hidden-arrow:before,
.hidden-arrow:after {
  opacity: 0;
}
.my-membership-plan-section .d-flex,
.quiz-section .d-flex,
.attempt-section .d-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.my-membership-plan-section .box {
  width: 33.33%;
  padding: 0 15px;
}
.my-membership-plan-section .check-box-membership,
.my-membership-plan-section .membership-box .b2,
.my-membership-plan-section .membership-box .b3 {
  height: 100%;
}
.my-membership-plan-section .membership-box {
  height: calc(100% - 90px);
}
.my-membership-plan-section .membership-box .b1 {
  height: calc(100% - 30px);
}
.membership-box h1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.membership-box h2 {
  padding-bottom: 50px;
}
.membership-box .b3 {
  position: relative;
}
.quiz-section .thumb-block {
  height: calc(100% - 40px);
}
.attempt-section .inner-content {
  min-height: auto !important;
}
.attempt-section h1 {
  position: initial;
}
.attempt-section .membership-box {
  height: calc(100% - 20px);
}
.attempt-section .membership-box .b1,
.attempt-section .membership-box .b2,
.attempt-section .membership-box .b3 {
  height: 100%;
}
.attempt-section .inner-content h2 {
  padding-bottom: 5px;
}

@media only screen and (max-width: 1599px) {
  .subscription-plan {
    padding: 4% 0;
  }
  .subscription-plan-ph {
    padding: 4% 0;
  }
  .buzz-math-section {
    background-position-y: calc(100% - 90px) !important;
  }
  .buzz-math-section-ph {
    background-position-y: calc(100% - 90px) !important;
  }
}
@media only screen and (max-width: 1199px) {
  .quiz-worksheet .box-bn2 {
    padding: 30px;
    max-width: 300px;
    height: 290px;
  }
  .quiz-worksheet .box-bn2 .icon-div {
    padding: 30px 0 20px 0;
    width: 70px;
    min-height: 125px;
  }
  .quiz-worksheet .box-bn2 h2 span {
    height: 55px;
  }
  .quiz-worksheet .box-bn2 h2 {
    top: -5px;
  }
  .way-to-learn .bg-images img {
    width: 130px;
  }
  .way-to-learn-ph .bg-images img {
    width: 130px;
  }
  .learning-process-img img {
    width: 240px;
  }
  .learning-process-img {
    text-align: right;
  }
  .buzz-math-section .grade-section .box {
    padding: 25px 25px 80px;
    margin: 0 20px;
  }
  .buzz-math-section .grade-section .box-section {
    margin-bottom: 40px;
  }
  .buzz-math-section-ph .grade-section .box {
    padding: 25px 25px 80px;
    margin: 0 20px;
  }
  .buzz-math-section-ph .grade-section .box-section {
    margin-bottom: 40px;
  }
  .subscription-plan .btn {
    padding: 12px 30px;
  }
  .subscription-plan-ph .btn {
    padding: 12px 30px;
  }
  .way-to-learn.learn-math {
    margin-bottom: -170px;
  }
  .way-to-learn-ph.learn-math {
    margin-bottom: -170px;
  }
  .buzz-math-section {
    background-position-y: calc(100% - 80px) !important;
  }
  .buzz-math-section-ph {
    background-position-y: calc(100% - 80px) !important;
  }
  .smile-sg .way-to-learn {
    margin-bottom: -200px;
  }
  .smile-sg-ph .way-to-learn-ph {
    margin-bottom: -200px;
  }
  .my-membership-plan-section .box {
    width: 50%;
  }
}
@media only screen and (max-width: 991px) {
  .buzz-english-section .buzz-english-description {
    padding: 20px 25px;
    padding-bottom: 70px;
  }
  .buzz-english-description a {
    bottom: 20px;
    left: 25px;
  }
  .welcome-section {
    background: url(../../../images/group-5.png) no-repeat #b5e5f7 center 100px;
    padding: 90px 0 400px;
  }
  .why-should-kids-come .hw-box1 {
    height: 270px;
  }
  .why-should-kids-come .inner-div {
    margin-bottom: 30px;
  }
  .buzz-english-learning {
    margin-top: 30px;
  }
  .why-should-kids-come {
    background-size: 70%;
  }
  .why-should-kids-come:after {
    height: 50%;
  }
  .learning-process-content {
    padding: 0;
  }
  .programmes-suits {
    padding: 20px 0 0px;
  }
  .proficiency-level {
    margin-bottom: 20px;
  }
  .quiz-worksheet .box-bn2 {
    margin-bottom: 30px;
  }
  .ignite-header .tab-section {
    padding-left: 10px;
  }
  .ignite-subheader .tab-section {
    padding-left: 320px;
  }
  .ignite-header .tab-section a {
    padding: 1px 10px;
    margin-right: 0px;
  }
  .buzz-math-section .grade-section .box {
    padding: 20px 20px 80px;
    margin: 0 15px;
  }
  .buzz-math-section .grade-section .box .grade-ttl {
    padding: 15px 0;
  }
  .buzz-math-section .grade-section .box-section {
    margin-bottom: 30px;
  }
  .buzz-math-section-ph .grade-section .box {
    padding: 20px 20px 80px;
    margin: 0 15px;
  }
  .buzz-math-section-ph .grade-section .box .grade-ttl {
    padding: 15px 0;
  }
  .buzz-math-section-ph .grade-section .box-section {
    margin-bottom: 30px;
  }
  .subscription-plan h2 {
    font-size: 30px;
  }
  .subscription-plan {
    padding: 40px 0;
  }
  .subscription-plan-ph h2 {
    font-size: 30px;
  }
  .subscription-plan-ph {
    padding: 40px 0;
  }
  #grade-details .modal-content li {
    padding: 15px;
  }
  #grade-details .modal-content ul:after {
    border-left-width: 15px;
  }
  #grade-details .modal-content .grade-ttl {
    margin: 10px 0 5px;
  }
  #grade-details .modal-body {
    padding-right: 35px;
  }
  .math-learning-table .math-landing-table .table thead > tr > th,
  .math-learning-table .math-landing-table .table tbody > tr > th,
  .math-learning-table .math-landing-table .table tfoot > tr > th,
  .math-learning-table .math-landing-table .table thead > tr > td,
  .math-learning-table .math-landing-table .table tbody > tr > td,
  .math-learning-table .math-landing-table .table tfoot > tr > td {
    padding: 15px 20px;
  }
  .category-list {
    padding: 15px;
  }
  .attempt-section .d-flex {
    justify-content: center;
  }
  /* ignite-custom-footer */
  .ignite-footer 
  {
    padding: 50px 0px 30px 0px;
  }
  .ignite-footer .row:first-child 
  {
    padding: 30px 0px;
  }
  .terms, .copyright 
  {
    text-align: center;
  }
  .terms 
  {
    margin-bottom: 30px;
  }
  .ignite-footer .policy 
  {
    padding: 0px;
  }
  .ignite-footer-logo  
  {
    text-align: center;
  }
  .ignite-footer-logo img 
  {
    margin: 0px 0px 30px;
  }
}
@media only screen and (max-width: 768px) {
  .table-responsive > .table {
    min-width: 700px;
  }
  .table-responsive {
    overflow-x: auto;
  }
  .math-learning-table .math-landing-table .table thead > tr > th,
  .math-learning-table .math-landing-table .table tbody > tr > th,
  .math-learning-table .math-landing-table .table tfoot > tr > th,
  .math-learning-table .math-landing-table .table thead > tr > td,
  .math-learning-table .math-landing-table .table tbody > tr > td,
  .math-learning-table .math-landing-table .table tfoot > tr > td {
    word-break: break-all;
  }
  .math-learning-table .math-landing-table .table tr > td span:first-child {
    padding: 0 35px 0 0;
  }
  .math-learning-table .math-landing-table .table tr > td span:last-child {
    padding: 0 0 0 35px;
  }
}
@media only screen and (max-width: 767px) {
  .inner-space {
    max-width: 100%;
    margin: 0 auto;
  }
  .buzz-english-div {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .buzz-english-image {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: -4px;
    width: 100%;
    height: auto;
    margin-right: 0px;
  }
  .buzz-english-description {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #fbbc08;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    border-top-right-radius: 0px;
  }
  .buzz-english-image img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 100%;
    border-bottom-left-radius: 0px;
  }
  .why-should-kids-come:after {
    background-image: linear-gradient(to bottom, #29b5b0 60%, #4fc2c3);
    height: 600px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }
  .why-should-kids-come {
    background-size: auto;
  }
  a.common-btn,
  a.coming-soon-btn {
    position: initial;
    margin-top: 10px;
  }
  .english-programme .buzz-english-div {
    width: 50%;
    display: block;
    margin: auto;
  }
  .learning-process-img {
    margin-bottom: 40px;
    text-align: center;
  }
  .program-content {
    padding: 0 20px;
  }
  .even-wrapper .program-content {
    padding-left: 0;
  }
  .even-wrapper .even-desc-sec {
    padding-right: 30px;
  }
  .section-head .space-div .margin-auto {
    display: inline-block;
  }
  .proficiency-level {
    margin-left: 45px;
    width: calc(100% - 60px);
  }
  .even-wrapper.proficiency-level {
    margin-right: 45px;
    margin-left: 15px;
  }
  .quiz-worksheet .box-bn2 .icon-div {
    width: 60px;
    min-height: 115px;
  }
  .quiz-worksheet .box-bn2 {
    padding: 20px;
    width: 257px;
  }
  .learn-section {
    display: inline-block;
  }
  .learn-section .learn-img,
  .learn-section .learn-desc {
    display: inline-block;
    width: 100%;
  }
  .way-to-learn .bg-images .car-left {
    bottom: 150px;
  }
  .way-to-learn .bg-images img {
    width: 100px;
  }
  .way-to-learn .bg-images .car-red {
    top: 40px;
    left: 40px;
  }
  .way-to-learn .bg-images .car-right {
    top: 150px;
  }
  .way-to-learn-ph .bg-images .car-left {
    bottom: 150px;
  }
  .way-to-learn-ph .bg-images img {
    width: 100px;
  }
  .way-to-learn-ph .bg-images .car-red {
    top: 40px;
    left: 40px;
  }
  .way-to-learn-ph .bg-images .car-right {
    top: 150px;
  }
  .ignite-header .tab-section {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-left: 0;
  }
  .ignite-subheader .tab-section {
    padding-left: 175px;
  }
  .buzz-math-section .grade-section .main-box .box-section {
    width: 50%;
  }
  .buzz-math-section-ph .grade-section .main-box .box-section {
    width: 50%;
  }
  .subscription-plan h2 {
    width: 100%;
    margin-bottom: 15px;
  }
  .subscription-plan .btn {
    position: initial;
    transform: none;
  }
  .subscription-plan {
    padding: 30px 0;
  }
  .subscription-plan-ph h2 {
    width: 100%;
    margin-bottom: 15px;
  }
  .subscription-plan-ph .btn {
    position: initial;
    transform: none;
  }
  .subscription-plan-ph {
    padding: 30px 0;
  }
  #grade-details .modal-content li {
    width: 50%;
  }
  #grade-details .modal-body {
    padding-right: 20px;
    padding-left: 5px;
    padding-bottom: 20px;
  }
  .buzz-math-section {
    background-position-y: calc(100% - 130px) !important;
  }
  .buzz-math-section-ph {
    background-position-y: calc(100% - 130px) !important;
  }
  .table-responsive {
    overflow-x: auto;
  }
  .buzz-english-section .buzz-english-description,
  .buzz-english-section .buzz-english-description.coming-soon-desc {
    padding-bottom: 20px;
  }
  .tabs-div .tablinks {
    width: 80%;
  }
  /*.smile-sg .buzz-math-section:after{ background-size: 105%; }*/
  .my-membership-plan-section .d-flex {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .my-membership-plan-section .box {
    width: 100%;
  }
  .quiz-section .d-flex {
    flex-direction: column;
  }
  .attempt-section .d-flex {
    justify-content: center;
  }
  .attempt-wrapper {
    padding: 30px 0;
  }
  .attempt-section .membership-box {
    width: 100%;
  }
  .ignite-modal .btn-wrap 
  {
    margin: 0;
    text-align: center;
  }

}

@media only screen and (max-width: 576px) {
  .box,
  .buzz-english-section .box .buzz-english-div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .buzz-english-section .box,
  .english-programme .buzz-english-div {
    width: 100%;
  }
  .buzz-box {
    width: 100%;
  }
  .quiz-worksheet .bottom-box {
    margin-top: 20px;
  }
  .quiz-worksheet {
    padding-bottom: 0;
  }
  .buzz-math-section .grade-section .box {
    width: auto;
    padding: 20px;
  }
  .buzz-math-section .grade-section .main-box .box-section {
    width: 100%;
  }
  .buzz-math-section .grade-section .box .btn {
    position: initial;
    margin-top: 10px;
  }
  .buzz-math-section {
    background-position-y: calc(100% - 170px) !important;
  }
  .buzz-math-section-ph .grade-section .box {
    width: auto;
    padding: 20px;
  }
  .buzz-math-section-ph .grade-section .main-box .box-section {
    width: 100%;
  }
  .buzz-math-section-ph .grade-section .box .btn {
    position: initial;
    margin-top: 10px;
  }
  .buzz-math-section-ph {
    background-position-y: calc(100% - 170px) !important;
  }
  .math-learning-table .math-landing-table .table {
    min-width: 550px;
  }
  /*.smile-sg .buzz-math-section:after{ background-size: 107%; }*/
  .math-learning-table .math-landing-table .table tr > td span:first-child {
    padding: 0 30px 0 0;
  }
  .math-learning-table .math-landing-table .table tr > td span:last-child {
    padding: 0 0 0 30px;
  }
}

@media only screen and (max-width: 600px) {
  .category-list li {
    width: 100%;
    border: 0 !important;
    padding: 10px;
  }
  .category-list li:not(:last-child) {
    border-bottom: solid 0.4px #cdcdcd !important;
  }
  /*.smile-sg .buzz-math-section:after{ background-size: 116%; }*/
}

@media only screen and (max-width: 480px) {
  .welcome-section .head-div .inner-div .apk-image-wrapper .apk-image {
    width: 40%;
    height: 75px;
  }
  .buzz-english-image {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: -4px;
    width: 100%;
    margin-right: 0px;
  }
  .box,
  .buzz-english-section .box .buzz-english-div {
    width: 100%;
  }
  .proficiency-level .icon-box,
  .proficiency-level .icon-desc {
    width: 100%;
  }
  .icon-box .program-image {
    position: initial;
    width: 100%;
    text-align: center;
  }
  .program-image figure {
    display: inline-block;
  }
  .proficiency-level {
    margin: 0 15px 45px;
    width: calc(100% - 30px);
  }
  .proficiency-level .icon-desc,
  .program-content {
    padding: 0;
  }
  .proficiency-level .icon-box {
    height: 50px;
  }
  .program-image img {
    width: 70px;
  }
  .quiz-worksheet .bottom-box {
    margin-top: 00px;
  }
  .way-to-learn .bg-images img {
    width: 80px;
  }
  .way-to-learn-ph .bg-images img {
    width: 80px;
  }
  #grade-details .modal-content li {
    width: 100%;
  }
}

.tab-section a.activeblue {
  background-color: #009cde;
  color: #fff;
}

.form-controlblue {
  height: 39px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: solid 1px #428bca;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Gotham Rounded Bold", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #009cde;
}

.validblue {
  background: #009cde !important;
  color: #fff !important;
}

.smile-sg-ph .programmes-suits .grade-section #sg-overlay .spinner {
  color: #ffffff;
}
.smile-sg-ph .section-head .lbl-smile-sg {
  font-size: 30px;
  font-style: italic;
  margin-top: -23px;
}
.smile-sg-ph .smile-section-ph {
  background: url(../../../images/bg.png) no-repeat;
  background-size: 100%;
  background-color: #0064c2;
  background-position-y: calc(100% - 100px) !important;
}
.smile-sg-ph .buzz-math-section-ph:after {
  background: url(../../../images/clouds.png) no-repeat;
  background-size: 100%;
}
.smile-sg-ph .smile-section-ph .programmes-suits .section-head > p {
  color: #fff;
}
.smile-sg-ph .grade-section .box {
  box-shadow: 0 9px 9px 0 rgba(218, 145, 119, 0.61);
  border: solid 1px #f17598;
}
.smile-sg-ph .grade-section .box:hover {
  box-shadow: 0 9px 9px 0 rgba(218, 145, 119, 0.61);
}
.smile-sg-ph .smile-section-ph .subscription-plan-ph {
  background-color: #129da4;
}
.smile-sg-ph .smile-section-ph .subscription-plan-ph .btn {
  color: #129da4;
}
.smile-sg-ph .way-to-learn-ph {
  background: url(../../../images/green_bg.png) no-repeat bottom;
  background-size: 100%;
  margin-bottom: -250px;
  background-color: #0064c2;
}
.smile-sg-ph .learn-smile-section .learn-steps li h4 {
  color: #44515d;
}
.smile-sg-ph .learn-smile-section .learn-steps li h4 span:after {
  border: solid 0.5px #44515d;
}
.smile-sg-ph .buzz-math-section-ph .grade-section:after {
  background: url(../../../images/plane-elements-sg.png) top;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}
.smile-sg-ph .smile-section-ph .ignite-smile-ph .section-head .head-content p {
  text-align: center;
}
.smile-sg-ph .page-top-sec-ph:after {
  bottom: 0 !important;
}
.page-top-sec-ph {
  background: url(../../../images/bg.png) no-repeat bottom;
  background-size: 100%;
  background-color: #0064c2;
  position: relative;
}
.page-top-sec-ph:after {
  content: "";
  background: url(../../../images/clouds.png) no-repeat bottom;
  background-size: 100%;
  position: absolute;
  top: 0;
  bottom: 30%;
  left: 0;
  right: 0;
}
.page-top-sec-ph section {
  z-index: 1;
  position: relative;
}
.smile-sg-ph .page-top-sec-ph:after {
  bottom: 0 !important;
}

.buzz-math-section-ph {
  background: url(../../../images/bg.png) no-repeat bottom;
  background-size: 100%;
  background-color: #0064c2;
  background-position-y: calc(100% - 100px) !important;
}
.buzz-math-section-ph .grade-section .box {
  border-radius: 10px;
  box-shadow: 0 9px 9px 0 rgba(0, 158, 244, 0.24);
  border: solid 1px #f17598;
  background-color: #ffffff;
  padding: 30px 30px 80px;
  text-align: center;
  margin: 0 30px;
  height: 100%;
  position: relative;
}
.buzz-math-section-ph .grade-section .box .grade-ttl {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  font-family: "Gotham Rounded bold";
  color: #f17598;
  line-height: normal;
  padding: 20px 0;
}
.buzz-math-section-ph:after {
  background: url(../../../images/clouds.png) repeat bottom;
  background-size: 100%;
}
.buzz-math-section-ph .grade-section {
  position: relative;
}
.buzz-math-section-ph .grade-section:after {
  content: "";
  background: url(../../../images/plane_element-sg.png) repeat top;
  background-size: 110%;
  position: absolute;
  top: 0;
  bottom: 300px;
  left: 0;
  right: 0;
  z-index: -1;
}
.buzz-math-section-ph .grade-section .box p {
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 0;
}
.buzz-math-section-ph .grade-section .box a {
  border-radius: 19.5px;
  border: solid 1px #f17598;
  color: #f17598;
  padding: 8px 5px;
}
.buzz-math-section-ph .grade-section .main-box {
  max-width: 1000px;
  margin: auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.buzz-math-section-ph .grade-section .box .btn {
  position: absolute;
  bottom: 20px;
  width: 126px;
  margin: auto;
  left: 0;
  right: 0;
  cursor: pointer;
}
.buzz-math-section-ph .grade-section .box-section {
  margin-bottom: 60px;
  width: 33.33%;
}
.buzz-math-section-ph .grade-section .box {
  transition: all 0.3s linear;
}
.buzz-math-section-ph .grade-section .box:hover {
  box-shadow: 0 0px 35px 0 rgba(0, 158, 244, 0.49);
}
.buzz-math-section-ph.buzz-math-landing-section {
  background: url(../../../images/green_bg.png) no-repeat bottom;
  background-size: 100%;
  background-color: #ba7d2d;
  background-position-y: 100% !important;
  padding-bottom: 100px;
  margin-top: -1px;
  margin-bottom: -1px;
}
.buzz-math-section-ph.buzz-math-landing-section .grade-section .box {
  padding: 30px;
  border-color: #f58738;
  box-shadow: 0 9px 9px 0 rgba(98, 60, 16, 0.24);
}
.buzz-math-section-ph.buzz-math-landing-section .grade-section .box .grade-ttl {
  color: #f58738;
}

.smile-sg-ph .buzz-math-section-ph:after {
  background: url(../../../images/clouds.png) no-repeat;
  background-size: 100%;
  margin-top: 65px;
}
.smile-sg-ph .buzz-math-section-ph .grade-section:after {
  background: url(../../../images/plane-elements-sg.png) top;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  margin-left: 50px;
  margin-top: -4px;
}

.smile-section-ph .ignite-buzz-math .head-content-center p {
  color: #541807;
  font-family: "Gotham Rounded Medium", Arial, sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}

.smile-section-ph {
  background: url(../../../images/bg.png) no-repeat bottom;
  background-size: 100%;
  background-color: #0064c2;
}
.smile-section-ph .ignite-buzz-math .head-content p,
.smile-section-ph .programmes-suits .section-head > p {
  color: #541807;
}
.smile-section-ph .subscription-plan-ph {
  background-color: #4c8e39;
}
.smile-section-ph .subscription-plan-ph .btn {
  color: #4c8e39;
}
.smile-sg-ph .smile-section-ph {
  background: url(../../../images/bg.png) no-repeat;
  background-size: 100%;
  background-color: #0064c2;
  background-position-y: calc(100% - 100px) !important;
}
.smile-sg-ph .smile-section-ph .programmes-suits .section-head > p {
  color: #fff;
}
.smile-sg-ph .smile-section-ph .subscription-plan-ph {
  background-color: #129da4;
}
.smile-sg-ph .smile-section-ph .subscription-plan-ph .btn {
  color: #129da4;
}
.smile-sg .smile-section-ph .ignite-smile-ph .section-head .head-content p {
  text-align: center;
}

.ignite-buzz-english,
.ignite-smile-ph {
  padding: 60px 0 30px;
}
.ignite-smile-sg-ph {
  padding: 60px 0 30px;
}
.ignite-smile-sg-ph .head-content p,
.programmes-suits .section-head > p {
  color: #ffffff;
  font-family: "Gotham Rounded Medium", Arial, sans-serif;
}
.ignite-buzz-math .section-head h3,
.ignite-smile-ph .section-head h3 {
  font-family: "Gotham Rounded Medium";
  font-style: italic;
}
.smile-sg-ph .smile-section-ph .ignite-smile-ph .section-head .head-content p {
  text-align: center;
}

.subscription-plan-ph {
  background-color: #f7bb34;
  padding: 62px 0;
  text-align: left;
}
.subscription-plan-ph h2 {
  margin-bottom: 0;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: calc(100% - 200px);
}
.subscription-plan-ph .section-head {
  max-width: 1000px;
  margin: auto;
  display: block;
  text-align: left;
  padding: 0 15px;
  position: relative;
}
.subscription-plan-ph .btn {
  border-radius: 32px;
  background-color: #ffffff;
  font-size: 24px;
  color: #f7bb34;
  padding: 19px 34px;
  height: auto;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.smile-section-ph .subscription-plan-ph {
  background-color: #4c8e39;
}
.smile-section-ph .subscription-plan-ph .btn {
  color: #4c8e39;
}
.smile-sg-ph .smile-section-ph .subscription-plan-ph {
  background-color: #0a622f;
}
.smile-sg-ph .smile-section-ph .subscription-plan-ph .btn {
  color: #129da4;
}

.way-to-learn-ph {
  background: url(../../../images/green_bg.png) no-repeat top;
  background-size: 100%;
  padding: 100px 0 200px;
  position: relative;
  background-color: #7dcd85;
  margin-bottom: -180px;
}
.way-to-learn-ph .bg-images {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.way-to-learn-ph .bg-images .truck {
  position: absolute;
  bottom: 110px;
  right: 40px;
}
.way-to-learn-ph .bg-images .car-left {
  position: absolute;
  bottom: 220px;
  left: 10px;
}
.way-to-learn-ph .bg-images .car-right {
  position: absolute;
  top: 80px;
  right: -25px;
}
.way-to-learn-ph .bg-images .car-red {
  position: absolute;
  top: 90px;
  left: 80px;
}
.way-to-learn-ph .container {
  position: relative;
  z-index: 1;
}
.way-to-learn-ph.learn-math {
  background: url(../../../images/green_bg.png) no-repeat bottom;
  background-size: 100%;
  background-color: #7dcd85;
  padding: 60px 0 22%;
  margin-bottom: -200px;
}
.way-to-learn-ph.learn-smile-section {
  background: url(../../../images/green_bg.png) no-repeat bottom;
  background-size: 100%;
  background-color: #7dcd85;
}
.smile-sg-ph .way-to-learn-ph {
  background: url(../../../images/green_bg.png) no-repeat bottom;
  background-size: 104%;
  margin-bottom: -250px;
  background-color: #7dcd85;
}

.smile-sg-ph .smile-section-ph .ignite-smile .section-head .head-content p {
  text-align: center;
}
/*.designer-my-uploads-popup .reset, .designer-my-uploads-popup .zoom-in, .designer-my-uploads-popup .zoom-out { background-color: #d8d8d8; -webkit-box-shadow: inset -5px -6px 0 rgba(0, 0, 0, 0.05); -moz-box-shadow: inset -5px -6px 0 rgba(0, 0, 0, 0.05); box-shadow: inset -5px -6px 0 rgba(0, 0, 0, 0.05); outline: 0; border: 0; border-radius: 20px; padding: 6px 20px; color: #2c2c2c; font-weight: bold; }*/
.zoom-img .zoom-in,
.zoom-img .zoom-out {
  font-size: 16px;
  color: #fff;
  border: 1px solid #f17598;
  border-radius: 20px;
  padding: 6px 20px;
  background-color: #f17598;
}
.designer-my-uploads-popup .zoom-range {
  vertical-align: middle;
  appearance: none;
  height: 10px;
  background-color: #e8e8e8;
  border-radius: 10px;
}
.designer-my-uploads-popup .zoom-range:focus,
.zoom-img .zoom-in:focus,
.zoom-img .zoom-out:focus {
  outline: none;
}
.designer-my-uploads-popup .zoom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #f17598 !important;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.designer-my-uploads-popup .zoom-range::-webkit-range-thumb {
  -webkit-appearance: none;
  background-color: blue !important;
  width: 10px;
  height: 26px;
  border-radius: 50%;
}
.designer-my-uploads-popup .zoom-range::-webkit-thumb {
  -webkit-appearance: none;
  background-color: yellow !important;
  width: 10px;
  height: 26px;
  border-radius: 50%;
}
.designer-my-uploads-popup img {
  height: auto !important;
}
.designer-my-uploads-popup center,
.zoom-img #panzoom {
  height: 100%;
}
.zoom-img {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  max-width: 720px;
  margin: auto;
  padding: 15px;
  overflow-y: auto;
}
.zoom-img #panzoom img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.zoom-img .modal-header {
  height: 46px;
  border-bottom: none;
  padding-bottom: 0;
}
.zoom-img .modal-body {
  padding: 0 15px;
}
.zoom-img .modal-footer {
  padding-top: 0;
  border-top: 0;
}
.question_image_custom.quiz_image_align {
  margin: auto !important;
  max-width: 100%;
}
.transactions-details .panel {
  border: none;
  border-top: solid 1px #f17598;
  margin-top: 0 !important;
  border-radius: 0;
}
.transactions-details .panel:first-child {
  border-top: none;
}
.transactions-details .card-section {
  border: 1px solid #f17598;
  border-radius: 10px;
  overflow: hidden;
}

.transactions-details .panel-heading {
  color: black;
  cursor: pointer;
  padding: 10px 20px;
}
.transactions-details .panel-body .btn-section {
  margin: 10px 0;
  padding: 0 15px;
}
.transactions-details .panel-body .btn-section button {
  margin-right: 10px;
}
.transactions-details .panel-body .panel-body,
.transactions-details .panel-body .panel {
  border: none;
  padding: 0px;
}
.transactions-details .col-icon {
  float: right;
  font-size: 20px;
  transition: all 0.3s linear;
}
.transactions-details .col-icon:before {
  color: #f17598;
}
.transactions-details .panel-heading.collapsed .col-icon {
  transform: rotate(180deg);
}
.transactions-details .apply-text,
.transactions-details .subscription-text {
  margin: 10px auto;
  display: inline-block;
}
.transactions-details .promo-text {
  width: 200px;
  display: inline-block;
  margin-right: 10px;
}
.transactions-details .promo-btn {
  display: inline-block;
  margin-right: 10px;
}
.transactions-details
  .panel-group
  .panel-heading
  + .panel-collapse
  .panel-body {
  border-top: none;
}
/* add */
.change-password-section {
  margin-bottom: 30px;
}
.change-password-section .card-title.ng-binding {
  background: #f17598;
  display: table;
  padding: 10px 15px;
  border-radius: 10px 10px 0 0;
  margin-left: 30px;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  border: none;
  border-bottom: none;
  text-align: left;
}
.card-section .panel-group {
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .quiz-bottom-section .white-block {
    padding: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .inner-space {
    max-width: 290px;
    margin: 0 auto;
  }
  .buzz-english-image {
    width: 290px;
    height: 185px;
  }
  /*.smile-sg .buzz-math-section:after{ background-size: 118%; }*/
  .designer-my-uploads-popup .reset,
  .designer-my-uploads-popup .zoom-in,
  .designer-my-uploads-popup .zoom-out {
    padding: 4px 12px;
  }
}

/* My subscription Page 3M+6M+12M subscription design changes */
.white-block #SubscriptionPlanTab .plans-price {
  display: inline-flex;
}
.white-block #SubscriptionPlanTab .plan-selection {
  width: 85%;
  height: 37px;
  background: #ffffff;
  border: 1px solid #76421b;
  border-radius: 20px;
  padding: 0 12px;
  outline: none;
  margin-bottom: 20px;
}
.select-plan {
  margin: 7px 170px 0 !important;
  z-index: 9 !important;
}
/* add */
.pad {
  padding: 20px 0 10px;
}
.radio-btn-text {
  font-size: 15px;
  padding-left: 10px;
}

/* radio btn custom */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  /* position: absolute; */
  /* left: 0; */
  position: relative;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: block;
  color: #000;
}
[type="radio"]:checked + label:before {
  border: 1px solid #52b421 !important;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: -4px;
  top: -22px;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #52b421;
  position: absolute;
  top: -19px;
  left: -1px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
input[type="radio"][disabled] + label:after {
  background-color: #d4f1c5;
}

/* checkbox btn custom */
.checkbox-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
}
input[type="checkbox"] {
  position: relative;
  opacity: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 0;
}
input[type="checkbox"] + label {
  position: absolute;
  cursor: pointer;
  padding: 0;
  left: 0;
}
input[type="checkbox"] + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #ddd;
}
/* input[type="checkbox"]:hover + label:before {
  background: #52b421;
} */
/* input[type="checkbox"]:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
} */
input[type="checkbox"]:checked + label:before {
  background: #52b421;
  border: none;
}
input[type="checkbox"]:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
input[type="checkbox"]:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 12px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}
