<section class="marketplace-buyers-section">
  <div class="white-panel-div mb10">
    <div class="page-heading">
            <h2>Buyers</h2>
    </div>
  </div>
<!--Filer Div-->
  <div class="white-panel-div mb10">
    <div class="filter-div">
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="80"><label>Sort By</label></td>
              <td><select name="drop1" class="form-control" ng-model="sort">
                  <option value="asc">Joined Date (Ascending)</option>
                  <option value="desc">Joined Date (Descending)</option>
                  <option value="nameasc">Name (Ascending)</option>
                  <option value="namedesc">Name (Descending)</option>
                  <option value="projectasc">Number Of Projects Posted (Ascending)</option>
                  <option value="projectdesc">Number Of Projects Posted (Descending)</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-6 col-lg-4">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="80"><label>Sort By Spendings</label></td>
              <td><select name="drop1" class="form-control" ng-model="spendings" >
                <option value="">Please Select</option>
                  <option value="asc">Low to High</option>
                  <option value="desc">High to Low</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-12 col-lg-4 lg-clearfix">
          <div class="f-search-div">
            <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="search" />
          </div>
        </div>
      </div>
      <div class="all-jobs-btn-div">
         <table cellpadding="0" cellspacing="0" class="pull-left" width="50%">
                    <tr>
                        <td class="pull-left">
                            <label>
                                Export To
                            </label>
                        </td>
                        <td class="pull-left">
                            <select class="form-control custom-class-buyerexportdropdown" id="Exportvalue" name="Exportvalue" ng-model="Exportvalue">
                                <option value="">
                                    Select Export Type
                                </option>
                                <option value="1">
                                    Excel
                                </option>
                                <option value="2">
                                    CSV
                                </option>
                            </select>
                        </td>
                        <td class="pull-left">
                            <button class="btn btn-purple custom-class-buyerexportbutton" ng-click="Exportdata(Exportvalue)">
                                <i aria-hidden="true" class="fa fa-download">
                                </i>
                            </button>
                        </td>
                    </tr>
                </table>
        <button class="btn btn-purple" ng-click="filterData(sort,spendings,search)">
            Submit
        </button>
        <button class="btn btn-purple" ng-click="resetData()">
            Reset
        </button>
      </div>
    </div>
  </div>
<!--Filer Div End-->
<div class="white-panel-div mb10 total-buyers-div">
<h3>Total Buyers: [[totalBuyer]]</h3>
</div>

  <!--Bottom listing-->
  <div class="white-panel-div mb10" ng-repeat="buyer in allBuyers">    
    <div class="row">
      <div class="col-sm-9 col-md-3 col-lg-4">
        <p>
          <a href="manage/sixteen/buyer-info/[[buyer.slug]]"> <span class="cName">[[buyer.first_name]] [[buyer.last_name]]</span></a>
        </p>

      </div>

      <div class="col-md-clearfix col-md-9 col-lg-8" >
        <ul class="post-info-list">
          <li>
            <i class="fa icon-email" aria-hidden="true"></i> [[buyer.email_address]]
          </li>
          <li>
            <i aria-hidden="true" class="fa icon-logo-design">
            </i>
            <!-- [[designer.designer_skill]]
            <span>
                + [[designer.skill_count]]
            </span> -->
            [[buyer.adminprojects_count]] Posted/[[buyer.marketplaceproject_count]] Completed
            <br/>
            Total Spending : <span>&yen; [[ buyer.total_sum_count ]] </span>
          </li>
          <li>
            <i class="fa icon-add_gallery" aria-hidden="true"></i> 0 Gallery Purchases <span>&yen; 0</span>
          </li>
          <li>
            <i class="fa icon-location" aria-hidden="true"></i> [[buyer.city.state.name]], [[buyer.country.name]]</span>
          </li>
          <li>
            <!-- <i class="fa icon-Invited" aria-hidden="true"></i> Invited <span>[[buyer.total_invited]]</span>   Accepted   <span>[[buyer.total_accepted]]</span> -->
          <!-- <i class="fa fa-money"></i>
            Total Spent 
            <span class="yen">¥ 5420</span>
          </li> -->
          <!-- <li>
            <i class="fa icon-last_active" aria-hidden="true"></i> Last Active<span>March 12</span>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
    
   <!-- Pagination -->        
  <default-pagination currentpage="currentBuyerPaging" like="Getallbuyerdata({'sort':sort,'spendings':spendings,'search':search},page)" paginate="paginate" range="rangeBuyerpage">
  </default-pagination>

</div>

</section>
