<!--seller-info-section-->
<section class="seller-info-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="panel panel-block">
          <div class="panel-body">
            <div class="content-div head-profile-div">
              <div class="row">
                <div class="col-sm-3 col-md-2 col-lg-2">
                  <div class="left-img-div">
                    <img alt="" src="[[buyerDetail.user_image]]" class="circle" width="68">
                    <h4>[[buyerDetail.first_name]] [[buyerDetail.last_name]]</h4>
                  </div>
                </div>
                <div class="col-sm-9 col-md-10 col-lg-10">
                    <p>Project Availability:</p>
                     <span class="black-color">[[buyerDetail.mp_designer_proj_availability]]</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="panel panel-block services-div">
          <div class="panel-heading">
            <h3 class="panel-title">SERVICES</h3>
          </div>
          <div class="panel-body">
            <div class="content-div">
              <div class="accordion-div2">
                <div class="accordion-block"  ng-repeat="service in services">
                  <h5  id="service_[[service.id]]" ng-click="expand(service.id)" ><a href="javascript:;">[[service.service_skill_detail.skill_name]]<span class="caret"></span></a></h5>
                  <div class="inner-div-content">
                      <section  ng-repeat="service_detail in service.service_details">                        
                        <p><strong>Name</strong></p>
                        <p>[[service_detail.service_title]]</p>
                        <p><strong>Descripation</strong></p>
                        <p  ng-bind-html="[[service_detail.service_description]]"></p>
                        <ul class="list1">
                          <li>
                            <strong>  No. of revisions:</strong>
                             [[service_detail.no_of_revisions]]
                          </li>
                          <li>
                            <strong>Delivery Time:</strong>
                             [[service_detail.delivery_time_in_days]] days
                          </li>
                          <li>
                              <strong>Price:</strong>   &yen[[service_detail.price]]
                          </li>
                        </ul>
                        <hr>
                        <h4>Project Extras</h4>
                        <ul class="list1"  ng-repeat="project_extra in service_detail.service_extras">
                          <li>
                            <strong>  No. of revisions:</strong>
                             [[project_extra.no_of_revisions]]
                          </li>
                          <li>
                            <strong>Delivery Time:</strong>
                             [[project_extra.delivery_time_in_days]]  days
                          </li>
                          <li>
                              <strong>Price:</strong>   &yen[[project_extra.price]]
                          </li>
                        </ul>
                        <div class="bottom-img-div">
                          <div class="row">
                            <div class="full-width-320 col-xs-6 col-sm-4 col-md-12">
                              <ul class="my-portfolio">
                                  <li ng-repeat="image in service_detail.service_images" class="single-image-thumb service_margin_class" style="background-image:url([[image.image]])"></li>
                              </ul>                              
                            </div>
                          </div>
                        </div>                        
                      </section>                      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="panel panel-block work-history-review-div">
          <div class="panel-heading">
            <h3 class="panel-title">Projects <span class="number-text">[[projectTotal]]</span></h3>
          </div>
          <div class="panel-body">
            <div class="content-div" ng-repeat="project in buyerProjectData">
              <div class="row">
                <div class="display-table">
                    <div class="col-md-12 col-lg-12">
                        <div class="media">
                            <div class="pull-left">
                                <a href="seller-profile/[[project.selected_designer.designer_details.slug]]">
                                    <!-- <img alt="" class="" ng-src="[[project.selected_designer.designer_details.image]]" width="70"> -->
                                </a>
                                <div class="clearfix">
                                    [['lbl_designer'|translate]]
                                </div>
                                <a href="javascript:void(0);">
                                    [[project.selected_designer.designer_details.display_name]]
                                </a>
                            </div>
                            <div class="media-body">
                                <a class="btn-link" href="javascript:;">
                                    [['lbl_project_id'|translate]] : <strong>#[[project.id]]</strong>
                                </a>                                
                                <ul class="project-info-list-new">
                                    <li>
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td class="icon-td">
                                                    <i class="fa fa-envelope-open-o">
                                                    </i>
                                                </td>
                                                <td>
                                                    [['lbl_invited_on'|translate]]:
                                                    <br/>
                                                    [[project.invitation_sent_on]]
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                    <li width="20%">
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td class="icon-td">
                                                    <i class="fa fa-check-circle-o">
                                                    </i>
                                                </td>
                                                <td>
                                                    [['lbl_invited_accepted'|translate]]:
                                                    <br/>
                                                    [[project.invitation_accepted_on]]
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                    <li width="10%" ng-if="projectInfo.selected_designer.status==4">
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td>
                                                    [['lbl_days_left_infopage'|translate]]:
                                                    <br/>
                                                    <span  class="counter-timer"  countdown='' date='[[project.timeline_deadline]]'></span> 
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                    <li>
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td>
                                                    [['lbl_budget'|translate]]:
                                                    
                                                    <br/>
                                                    ¥
                                                    [[project.project_budget]]
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                    <li>
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td>
                                                    [['lbl_timeline'|translate]]:
                                                    <br/>
                                                    [[project.project_timeline]] [['lbl_days'|translate]]
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                    <li width="10%" ng-if="project.selected_designer.status!=4">
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td>
                                                    [['lbl_days_left_infopage'|translate]]:
                                                    <br/>
                                                    <span  class="counter-timer" ng-if="project.days_remaining <= 1" countdown='' date='[[project.deadline]]'></span> 
                                                    <span  ng-if="project.days_remaining > 1">[[project.days_remaining]] [['lbl_days'|translate]]</span> 
                                                </td>
                                            </tr>
                                        </table>
                                    </li>                                    
                                </ul>
                                <ul class="project-info-list-new">
                                    <li>
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td>
                                                    <span ng-if="project.skills.length>0">[['lbl_categories'|translate]]:</span>
                                                    <br/>
                                                    <div class="tags-div remove-margin">
                                                        <span ng-if="skill.skill_detail.status==1" ng-repeat="skill in project.skills" class="ng-binding ng-scope cat-span-active-projects btn background-span">
                                                        [[skill.skill_detail.skill_name]]
                                                        </span>
                                                    </div>                                                    
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                </ul> 
                                <ul class="project-info-list-new">
                                    <li>
                                        <span ng-if="project.skills.length>0">[['lbl_purchased_services'|translate]]:</span>
                                        <table cellpadding="0" cellspacing="0" width="100%" class="table table-bordered">
                                            <thead>
                                              <tr>
                                                  <th>[['lbl_sr_no'|translate]]</th>
                                                  <th>[['lbl_skill_name'|translate]]</th>
                                                  <th>[['lbl_service_name'|translate]]</th>
                                                  <th>[['lbl_service_no_of_revisions'|translate]]</th>
                                                  <th>[['lbl_service_delivery_time'|translate]]</th>
                                                  <th>[['lbl_service_price'|translate]]</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr ng-repeat="service in project.purchsed_services">
                                                  <td>[[$index + 1]]</td>
                                                  <td>[[service.skill_parent.service_skill_detail.skill_name]]</td>
                                                  <td>[[service.service_title]]</td>
                                                  <td>[[service.no_of_revisions]]</td>
                                                  <td>[[service.delivery_time_in_days]]</td>
                                                  <td>¥ [[service.price]]</td>
                                              </tr>                                                 
                                            </tbody>
                                          </table>
                                    </li>
                                </ul> 
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
           
            <default-pagination currentpage="currentProjectPaging" like="GetBuyerProjects(data,page)" paginate="paginate" range="rangeProjectpage">
                    </default-pagination>
          </div>
        </div>        
      </div>
      <div class="col-lg-3">
        <aside class="right-sidbar-div">
          <ul>
              <li>
                  <h5>Jobs Completed:</h5>
                  [[buyerDetail.projects_completed]]
                </li>
                <li>
                  <h5>Ongoing Jobs</h5>
                  [[buyerDetail.projects_ongoing]]
                </li>                      
            <li>
              <h5>Country Of Residence: </h5>
              [[buyerDetail.country.name]]
            </li>
             
          </ul>
        </aside>
      </div>
    </div>
  </div>
</section>
