<section class="all-transactions-section">
   <div class="white-panel-div mb10">
      <div class="page-heading">

         <div class="row">
           <div class="col-sm-7">
              <h2>All Transctions</h2>
           </div>
           <div class="col-sm-5 text-right">
           	<table cellpadding="0" cellspacing="0"  class="pull-right">
                <tr>
                    <td class="pull-left">
                        <label>
                            Export To
                        </label>
                    </td>
                    <td class="pull-left">
                        <select class="form-control custom-class-exportdropdown" id="Exportvalue" name="Exportvalue" ng-model="Exportvalue">
                            <option value="">
                                Select Export Type
                            </option>
                            <option value="1">
                                Excel
                            </option>
                            <option value="2">
                                CSV
                            </option>
                        </select>
                    </td>
                    <td class="pull-left">
                        <button class="btn btn-purple custom-class-Sellerexportbutton" ng-click="Exportdata(Exportvalue)">
                            <i aria-hidden="true" class="fa fa-download">
                            </i>
                        </button>
                    </td>
                </tr>
            </table>
             <!-- <a class="btn btn-purple"><i class="fa fa-share-square-o lg-icon" aria-hidden="true"></i> Export</a> -->
           </div>
         </div>
      </div>
   </div>
   <div class="panel panel-block">
    <div class="panel-heading">
       <div class="transactions-filter">
         <div class="row">
           
           	<div class="col col-sm-3">
				<table cellpadding="0" cellspacing="0" width="100%">
	                <tr>
	                    <td width="120">
	                        <label>
	                            Status
	                        </label>
	                    </td>
	                    <td>
	                        <select class="form-control" name="drop1" ng-model="status">
	                            <option value="">
	                                Please select
	                            </option>
	                            <option value="1">
	                                Pending
	                            </option>
	                            <option value="2">
	                                Paid
	                            </option>
	                        </select>
	                    </td>
	                </tr>
	            </table>
           	</div>
           	<div class="col col-sm-3">
				<table cellpadding="0" cellspacing="0" width="100%">
	                <tr>
	                    <td width="120">
	                        <label>
	                            Sort by Amount
	                        </label>
	                    </td>
	                    <td>
	                        <select class="form-control" name="drop1" ng-model="amount">
	                            <option value="">
	                                Please select
	                            </option>
	                            <option value="desc">
	                                High to Low
	                            </option>
	                            <option value="asc">
	                                Low to High
	                            </option>
	                        </select>
	                    </td>
	                </tr>
	            </table>
           	</div>
           	<div class="col col-sm-1">
         		<button class="btn btn-purple" ng-click="filterData(status,amount)">Submit</button>
         	</div>
           	<div class="col col-sm-1">
         		<button class="btn btn-purple" ng-click="resetData()">Reset</button>
         	</div>
         </div>

       </div>
    </div>
    <div class="panel-body">
      <div class="content-div">
        <div class="tbl-list">
          <table cellpadding="0" cellspacing="0" width="100%">
            	<tr>
                	
                    <th>User Name</th>
                    <th width="200">Date</th>
                    <th class="text-center" width="150">Amount</th>
                    <th class="text-center" width="150">Transaction ID</th>
                    <th class="text-center" width="150">Payment Status</th>
                    <th class="text-center" width="200">Action</th>
                </tr>
                <tr ng-repeat="transaction in transactionData">
                	<td><a href="manage/sixteen/seller-info/[[transaction.user.slug]]" target="_blank">[[transaction.user.first_name]]  [[transaction.user.last_name]]</a></td>
                	<td>[[transaction.transaction_created_at]]</td>
                    <td class="text-center">[[transaction.total_amount | number:2]] </td>
                    <td class="text-center">[[transaction.id]]</td>
                    <td class="text-center">[[transaction.transaction_payment_status]]</td>
                    <td  id ="status_pending"> <span class="btn btn-purple" ng-if="transaction.payment_status==1" ng-click="doPayment(transaction.id,transaction.total_amount | number:2,transaction.user.id)"> Paid
                    </span><span class="text-center" ng-if="transaction.payment_status==2"> [[transaction.payment_paid_on]]
                    </span></td>
                </tr>
            </table>
        </div>
      </div>
      <default-pagination currentpage="currentPaging" like="getTransactionList({'status':status,'amount':amount},page)" paginate="paginate" range="rangepage">
        </default-pagination>
    </div>
  </div>
</section>
