<section class="tickets-details-section">
  <div class="white-panel-div mb10">
    <div class="page-heading">
      <h2 class="sm-title ticket-sm-title">Tickets Details #[[ticketDetail.ticket_number]]</h2>
         
      <!-- <div class="pull-right" ng-if="ticketDetail.ticket_status==1 || ticketDetail.ticket_status==2 "> 
        <button class="btn [[ticketDetail.button_color]] reset-btn" ng-click="markAsCompleted(ticketDetail)">Mark as completed</button>
      </div> -->
      <div class="pull-right margin_right_custom10">
        <div class="btn submit-btn create-issue ticket-status" ng-if="ticketDetail.ticket_status==1">New</div>
        <div class="btn_reject btn btn-red btn-sm ticket-status" ng-if="ticketDetail.ticket_status==2">Open</div>
        <div class="btn_accept btn btn-green btn-sm ticket-status" ng-if="ticketDetail.ticket_status==3">Complete</div>
      </div>
      
      <hr>
    </div>
    <div class="row_bottom_15">
      <div class="row">
        <div class="col-sm-12">
          <p><strong>User Name:</strong> [[ticketDetail.user_name]]</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p><strong>Subject:</strong> [[ticketDetail.ticket_subject]]</p>
        </div>
        <div class="col-sm-4">
          <p><strong>Ticket submitted:</strong> [[ticketDetail.date_created_at]]</p>
        </div>
        <div class="col-sm-5">
          <div ng-if="ticketDetail.ticket_status==3">
            <p><strong>Assigned To:</strong> [[ticketDetail.assignee_name?ticketDetail.assignee_name:'N/A']]</p>
          </div>
          <div ng-if="ticketDetail.ticket_status!=3">
            <p ng-if="ticketDetail.assignee_name"><strong>Assigned To:</strong> [[ticketDetail.assignee_name]]</p>
            <div class="row" ng-if="!ticketDetail.assignee_name">
              <div class="col-sm-9">
                <input class="form-control" type="text" name="assignee" id="assignee" ng-model="assignee" placeholder="Assigned To">
              </div>
              <div class="col-sm-3">
                <button class="form-control [[ticketDetail.button_color]] btn" ng-disabled="!assignee" ng-click="Assignticket(ticketDetail.id,assignee)">Assign</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p><strong>Type:</strong> [[ticketDetail.customer_ticket_type.ticket_type_name]]</p>
        </div>
        <div class="col-sm-4">
          <p><strong>Ticket closed:</strong> [[ticketDetail.ticket_closed_at?ticketDetail.ticket_closed_at:'N/A']]</p>
        </div>
        <div class="col-sm-5">
          <p ng-if="ticketDetail.ticket_status==3"><strong>Closed By:</strong> [[ticketDetail.ticket_closed_by?ticketDetail.ticket_closed_by:'N/A']]</p>
          <div class="row" ng-if="ticketDetail.ticket_status!=3">
            <div class="col-sm-9">
              <input class="form-control" type="text" name="closed_by" id="closed_by" ng-model="closed_by" placeholder="Closed By">
            </div>
            <div class="col-sm-3">
              <button class="form-control [[ticketDetail.button_color]] btn" ng-disabled="!closed_by" ng-click="Closeticket(ticketDetail.id,closed_by)">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p><strong>Ticket category:</strong> [[ticketDetail.customer_ticket_category.ticket_category_name]]</p>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <p><strong>Email ID:</strong> [[ticketDetail.email_address]] </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h4>Description:</h4>
        <p>[[ticketDetail.ticket_description]] </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h4>Files Uploaded:</h4>
        <span ng-if="ticketDetail.ticket_attachments==NULL">No attachments found.</span>
        <a href="[[ticketDetail.ticket_attachment_path]]" download><div ng-if="ticketDetail.ticket_attachments!=NULL" class="uploading-div"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <span>[[ticketDetail.ticket_attachments]] </span>

          <i class="fa fa-arrow-circle-down" aria-hidden="true"></i> 
        </div></a>
      </div>
    </div>
    <hr>
    <div class="row" ng-if="ticketDetail.status==2">
      <div class="col-sm-12">
        <h4>Remarks:</h4>
        <p>
          <textarea class="form-control" rows="5" ng-model="message"></textarea>
        </p>
        <p class="text-right">
          <button class="btn [[ticketDetail.button_color]] btn-sm send-btn" ng-disabled="!message" ng-click="sendMessageUser(ticketDetail,message)">Send</button>
        </p>
      </div>
    </div>
  </div>
</section>
