<!--buyer past projects info section-->
<section class="project-info-section buyer-past-project-info-section">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_project_info'|translate]] #[[projectInfo.id]]
                </h3>
            </div>
            <div class="panel-body">
                <div class="content-div">
                    <div class="row">
                        <div class="col-md-10 col-lg-10">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="seller-profile/[[projectInfo.selected_designer.designer_details.slug]]">
                                        <img alt="" class="" ng-src="[[projectInfo.selected_designer.designer_details.image]]" width="70">
                                        </img>
                                    </a>
                                    <div class="clearfix">
                                    </div>
                                    [['lbl_designer'|translate]]
                                    <h5>
                                        <a href='seller-profile/[[projectInfo.selected_designer.designer_details.slug]]'>
                                            [[projectInfo.selected_designer.designer_details.display_name]]
                                        </a>
                                    </h5>
                                </div>
                                <div class="media-body">
                                    <a class="btn-link" href="javascript:;">
                                        [['lbl_project_title'|translate]]
                                    </a>
                                    <h4>
                                        [[projectInfo.project_title]]
                                    </h4>
                                    <ul class="project-info-list">
                                        <li ng-if="projectInfo.selected_designer!=null">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td class="icon-td">
                                                        <i class="fa fa-envelope-open-o">
                                                        </i>
                                                    </td>
                                                    <td>
                                                        [['lbl_invited_on'|translate]]:
                                                        <br/>
                                                        [[projectInfo.invitation_sent_on]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li ng-if="projectInfo.selected_designer!=null">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td class="icon-td">
                                                        <i class="fa fa-check-circle-o">
                                                        </i>
                                                    </td>
                                                    <td>
                                                        [['lbl_invited_accepted'|translate]]:
                                                        <br/>
                                                        [[projectInfo.invitation_accepted_on]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        
                                        <li>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td class="icon-td">
                                                            <i class="fa fa-money">
                                                            </i>
                                                        </td>
                                                        <td>
                                                            [['lbl_budget'|translate]]:
                                                            <br/>
                                                            [[projectInfo.project_budget]]
                                                            <span ng-if="current_domain=='cn'" class="left-yen">¥</span>
                                            <span ng-if="current_domain=='net'" class="left-yen">S$</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </li>
                                            <li>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td class="icon-td">
                                                            <i class="fa fa-clock-o">
                                                            </i>
                                                        </td>
                                                        <td>
                                                            [['lbl_timeline'|translate]]:
                                                            <br/>
                                                            [[projectInfo.project_timeline]] days
                                                        </td>
                                                    </tr>
                                                </table>
                                            </li>
                                            <li class="completed" ng-if="projectInfo.selected_designer!=null">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td class="icon-td">
                                                        <i class="fa fa-check-circle-o">
                                                        </i>
                                                    </td>
                                                    <td ng-if="projectInfo.project_status == 6">
                                                        [['lbl_cancelled_project'|translate]]
                                                    </td>
                                                    <td ng-if="projectInfo.projectdetailinfo.status == 2">
                                                        [['lbl_invitationrejected_project'|translate]]
                                                    </td>
                                                    <td ng-if="projectInfo.project_status != 6 && projectInfo.projectdetailinfo.status != 2">
                                                        [['lbl_completed_on'|translate]]:
                                                        <br/>
                                                        [[projectInfo.project_completed_on]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                    </ul>
                                    <ul class="project-info-list">
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        [['lbl_categories'|translate]]:
                                                        <br/>
                                                        <section class="design-capabilities">
                                                            <span class="custom-checkbox" ng-repeat="skill in projectInfo.skills">
                                                                <label>[[skill.skill_detail.skill_name]]</label>
                                                            </span>
                                                        </section>
                                                    </td>
                                                </tr>

                                            </table>
                                        </li>
                                    </ul>
                                    <div class="projectInfoText" id="projectInfoText" style="display:none;">
                                        <ul class="project-info-list">
                                            
                                        </ul>
                                        <span class="about-us-section" ng-bind-html="projectInfo.project_description"></span>
                                        <!-- <p>
                                            [[projectInfo.project_description]]
                                        </p> -->
                                    </div>
                                    <p class="bottom-btn " role="tablist">
                                        <a class="btn btn-purple btn-sm ProjectInfoBtn" href="javascript:;" id="ProjectInfoBtn">
                                            [['lbl_project_info'|translate]]
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--buyer message board section-->
<section class="message-board-section">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_message_board'|translate]]
                </h3>
            </div>
            <div class="panel-body">
                <div class="content-div">
                    <ul class="chat-list">
                        <li class="[[message.side_class]]" ng-if="projectInfo.message_board.length > 0" ng-repeat="message in projectInfo.message_board  | limitTo : limit" scroll-trigger="scrollEventCallback()">
                            <div class="msg-div" ng-if="message.type==1">
                                <div class="pic-div" ng-if="message.user_role==1 || message.user_role==2">
                                    <img alt="" class="" ng-src="[[message.image]]" width="40"/>
                                </div>
                                <div class="name">
                                    [[message.name]]
                                </div>
                                <div class="date">
                                    [[message.message_on]]
                                </div>
                                <div class="clearfix">
                                </div>
                                <div class="c-div" ng-if="message.type==1">
                                    <p>
                                        [[message.message]]
                                    </p>
                                    <div class="bottom-img-div" ng-if="message.message_board.length">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-2" ng-repeat="message in message.message_board">
                                                <a download="" href="[[message.placeholder]]" target="_self">
                                                    <img alt="" class="" ng-src="[[message.placeholder]]" width="100%">
                                                    </img>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--   <div class="c-div" ng-if="message.type !=1">
                                    <div class="bottom-img-div">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-2">
                                                <a download="" href="[[message.placeholder]]" target="_self">
                                                    <img alt="" class="" ng-src="[[message.placeholder]]" width="100%">
                                                    </img>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="note-message-board" ng-if="message.type==4" ng-bind-html="message.message"></div>
                        </li>
                        <li ng-if="projectInfo.message_board.length<=0">
                        <div class="">
                            <div class="c-div">
                                <p>
                                    <b>
                                        [['lbl_no_messages_sent_received_yet'|translate]]
                                    </b>
                                </p>
                            </div>
                        </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
