<section class="buyer-gallery-section">
  <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-2">
          <div class="leftP-content-aera sidebar-div">
            <ul class="sidebar-link">
              <li class="active">
                <a href="#">[['lbl_all_designers'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_logo_designers'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_banner_designers'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_web_designers'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_3d_modeling_creators'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_mobile_ui_designers'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_web_ux_designers'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_painters'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_industrial_designers'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_packaging_designers'|translate]]</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-md-9 col-lg-10">
          <section class="rightP-content-aera animated">
            <div class="panel panel-block">
              <div class="panel-heading">
                <h3 class="panel-title">[['lbl_gallery'|translate]]</h3>
              </div>
              <div class="panel-body">
                <div class="content-div">
                     <div class="gallery-search">
                       <div class="search-div2">
                         <input type="text" class="form-control" placeholder="[['lbl_search'|translate]]">
                         <button class="btn search-btn"  data-toggle="modal" data-target="#searchModal"><i class="fa fa-search fa-w-16"></i></button>
                       </div>
                       <div class="right-button">
                         <a href="" class="btn btn-purple btn-sm">
                           <i class="fa fa-filter" aria-hidden="true"></i>
                         </a>
                         <a href="" class="btn btn-purple btn-sm">
                          <i class="fa fa-align-center" aria-hidden="true"></i>
                         </a>
                       </div>
                     </div>
                </div>
              </div>
            </div>
            <div class="panel panel-block">
              <div class="panel-body">
                <div class="content-div padding15All">
                    <div class="row">
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="select-design-block">
                          <div class="inner-div">
                            <div style="background-image:url(resources/assets/images/browse-designers/img-tumb_05.jpg)" class="img-div"></div>
                            <div class="bottom-content">
                              100 Icon set for flat-UIdesign.<br>
                              <strong>&yen; 66</strong>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="select-design-block">
                          <div class="inner-div">
                            <div style="background-image:url(resources/assets/images/browse-designers/img-tumb_07.jpg)" class="img-div"></div>
                            <div class="bottom-content">
                              100 Icon set for flat-UIdesign.<br>
                              <strong>&yen; 66</strong>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="select-design-block">
                          <div class="inner-div">
                            <div style="background-image:url(resources/assets/images/browse-designers/img-tumb_09.jpg)" class="img-div"></div>
                            <div class="bottom-content">
                              100 Icon set for flat-UIdesign.<br>
                              <strong>&yen; 66</strong>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="select-design-block">
                          <div class="inner-div">
                            <div style="background-image:url(resources/assets/images/browse-designers/img-tumb_03.jpg)" class="img-div"></div>
                            <div class="bottom-content">
                              100 Icon set for flat-UIdesign.<br>
                              <strong>&yen; 66</strong>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="select-design-block">
                          <div class="inner-div">
                            <div style="background-image:url(resources/assets/images/browse-designers/img-tumb_15.jpg)" class="img-div"></div>
                            <div class="bottom-content">
                              100 Icon set for flat-UIdesign.<br>
                              <strong>&yen; 66</strong>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="select-design-block">
                          <div class="inner-div">
                            <div style="background-image:url(resources/assets/images/browse-designers/img-tumb_16.jpg)" class="img-div"></div>
                            <div class="bottom-content">
                              100 Icon set for flat-UIdesign.<br>
                              <strong>&yen; 66</strong>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="select-design-block">
                          <div class="inner-div">
                            <div style="background-image:url(resources/assets/images/browse-designers/img-tumb_17.jpg)" class="img-div"></div>
                            <div class="bottom-content">
                              100 Icon set for flat-UIdesign.<br>
                              <strong>&yen; 66</strong>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="select-design-block">
                          <div class="inner-div">
                            <div style="background-image:url(resources/assets/images/browse-designers/img-tumb_18.jpg)" class="img-div"></div>
                            <div class="bottom-content">
                              100 Icon set for flat-UIdesign.<br>
                              <strong>&yen; 66</strong>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="select-design-block">
                          <div class="inner-div">
                            <div style="background-image:url(resources/assets/images/browse-designers/img-tumb_23.jpg)" class="img-div"></div>
                            <div class="bottom-content">
                              100 Icon set for flat-UIdesign.<br>
                              <strong>&yen; 66</strong>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="select-design-block">
                          <div class="inner-div">
                            <div style="background-image:url(resources/assets/images/browse-designers/img-tumb_24.jpg)" class="img-div"></div>
                            <div class="bottom-content">
                              100 Icon set for flat-UIdesign.<br>
                              <strong>&yen; 66</strong>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="select-design-block">
                          <div class="inner-div">
                            <div style="background-image:url(resources/assets/images/browse-designers/img-tumb_25.jpg)" class="img-div"></div>
                            <div class="bottom-content">
                              100 Icon set for flat-UIdesign.<br>
                              <strong>&yen; 66</strong>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="select-design-block">
                          <div class="inner-div">
                            <div style="background-image:url(resources/assets/images/browse-designers/img-tumb_26.jpg)" class="img-div"></div>
                            <div class="bottom-content">
                              100 Icon set for flat-UIdesign.<br>
                              <strong>&yen; 66</strong>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pagination-div text-right"> [['lbl_showing'|translate]] 16 [['lbl_of'|translate]] 90 [['lbl_designers'|translate]]
                      <div class="number-div">

                          <ul>
                            <li class="prev"><a href="javascript:;"><span>&#8592;</span></a></li>
                            <li><a href="javascript:;">1</a></li>
                            <li class="active"><a href="javascript:;">2</a></li>
                            <li><a href="javascript:;">3</a></li>
                            <li><a href="javascript:;">4</a></li>
                            <li class="next">  <a href="javascript:;" class=""><span>&#8594;</span></a> </div></li>
                          </ul>
                    </div>
                  </div>

              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
