
<!--ACTIVE PROJECTS section-->
<section class="designer-portfolio-item-details-section">
  <div class="container">
    <div class="panel panel-block">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-8">
              <a href="seller-portfolio" class="myportfolio" ng-if="portfolioInfo.is_designer == 1 && portfolioInfo.marketplace_current_role == 1">
                <h3 class="panel-title">[['lbl_my_portfolio'|translate]]
                  <span class="active-page"><span class="icon-arrow">»</span> <strong class="bold">[[portfolioInfo.upload_title]]</strong></span>
                </h3>
              </a>
          </div>
          <div class="col-sm-4">
            <div class="right-arrow-head">
              <a ng-if="portfolioInfo.previous.slug!=null" href="seller-portfolio-item-details/[[portfolioInfo.previous.slug]]">&#8592;</a>
                <a ng-if="portfolioInfo.next.slug!=null" href="seller-portfolio-item-details/[[portfolioInfo.next.slug]]">&#8594;</a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="content-div">
          <div class="row">
            <div class="col-sm-7 col-md-6 col-lg-5">
              <div class="padding-15-BG">
                <div class="swiper-container gallery-top">
                  <div class="swiper-wrapper">
                    <!-- <div class="swiper-slide">                        
                         <video src="http://localhost/sixclouds-web/public/uploads/MP_Attachments/Portfolio/Original/test.mp4" controls width="461" ></video>  
                    </div> -->
                    <div class="swiper-slide" ng-repeat="originalImages in portfolioInfo.original_images" style="background-image:url([[originalImages.original_path]])" ng-if="originalImages.type == 1">
                      
                    </div>
                    <div class="swiper-slide" ng-repeat="originalImages in portfolioInfo.original_images" ng-if="originalImages.type == 2">
                        <video src="[[originalImages.original_path]]" controls width="461" height="400"></video>  
                    </div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
              </div>
                <div class="swiper-container gallery-thumbs">
                  <div class="swiper-wrapper">                    
                    <div class="swiper-slide [[$index == 0?'new-active':'']]" ng-repeat="mediumImages in portfolioInfo.medium_images" style="background-image:url([[mediumImages.medium_path]])" ng-if="mediumImages.type == 1"></div>
                    <div class="swiper-slide" ng-repeat="mediumImages in portfolioInfo.medium_images" style="background-image:url([[mediumImages.medium_path]])" ng-if="mediumImages.type == 2">
                      <video src="[[mediumImages.original_path]]" controls width="147" height="100"></video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-md-6 col-lg-7">
              <div class="right-content-box">
                <h4>[[portfolioInfo.upload_title]]</h4>
                <!-- <p>[[portfolioInfo.upload_description]]</p> -->
                <div class="about-us-section" ng-bind-html="[[portfolioInfo.upload_description]]"></div>
                <div class="tags-div" id="en_portfolio_data">
                  <span ng-repeat="category in portfolioInfo.portfolio_categories" class="btn">[[category.category_name.skill_name]]</span>
                </div>
                <div class="tags-div" id="chi_portfolio_data">
                  <span ng-repeat="category in portfolioInfo.portfolio_categories" class="btn">[[category.category_name.skill_name_chinese]]</span>
                </div>
                <div ng-if="portfolioInfo.portfolio_type==1">
                  <div ng-if="portfolioInfo.rating!=null" class="ratings">
                    <h5><bold>Ratings</bold></h5>
                    <p class="col-md-6" ng-repeat="rating in portfolioInfo.rating.matrix_rating">
                      [[rating.key]]: 
                      <span class="rating-div rating[[rating.value]]">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </span>
                    </p>
                  </div>
                  <div ng-if="portfolioInfo.review!=null">
                    <h5><bold>Review</bold></h5>
                    <h6><bold>[[portfolioInfo.review.review]]<bold></h6>
                  </div> 
                  <br>

                  <div ng-if="portfolioInfo.display_designer==1">
                    <h4>[['lbl_designer'|translate]]</h4>      
                    <section class="seller-details">        
                      <div class="display-table-cell">
                        <ul class="invition-info">
                            <li>
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <th class="sm-thum-img">
                                            <a href="seller-profile/[[portfolioInfo.uploaded_mp_design_by.slug]]" class="profile-img">
                                                <img alt="" class="" ng-src="[[portfolioInfo.image]]" width="40"/>
                                            </a>
                                        </th>
                                        <td>
                                            <h5>
                                                [['lbl_designer'|translate]]
                                            </h5>
                                            <a href="seller-profile/[[portfolioInfo.uploaded_mp_design_by.slug]]">
                                              [[portfolioInfo.uploaded_mp_design_by.display_name]]
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
              <br>
              <div class="bottom-btn" ng-if="portfolioInfo.is_designer == 1 && portfolioInfo.marketplace_current_role == 1">
                <a href="seller-portfolio-item-edit/[[portfolioInfo.slug]]" class="btn btn-purple btn-sm">[['lbl_edit_album'|translate]]</a>
                <a class="btn btn-red btn-sm" ng-click="Deleteportfolio(portfolioInfo.slug,portfolioInfo.upload_title)">[['lbl_delete'|translate]]</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
