<!-- Modal Gallery-->
<div aria-labelledby="myModalLabel" class="modal fade designer-my-uploads-popup" id="GalleryModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content no-radius">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
                <h4 class="modal-title uppercase color-purple">
                    [['lbl_portfolio' | translate]]
                </h4>
            </div>
            <div class="modal-body">
                <div class="flowup-labels-form sign-up-form animated go">
                    <form class="FlowupLabels" id="formupload" name="formupload" ng-submit="formupload.Uploadnewportfolio()" novalidate="">
                        
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <span class="custom-radio1" ng-click="showlist()">
                                        <input checked="" id="internal" name="radio-group" ng-model="portfolioType" type="radio" value="1"/>
                                        <label for="internal">
                                            [['lbl_internal'|translate]]
                                        </label>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <span class="custom-radio1" ng-click="hidelist()">
                                        <input id="external" name="radio-group" ng-model="portfolioType" type="radio" value="2"/>
                                        <label for="external">
                                            [['lbl_external'|translate]]
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="internalPortfolio==true">
                            <div class="col-sm-3">
                                <label class="cp">
                                    [['lbl_completed_projects' | translate]]:
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="right-selectDropdown">
                                    <select class="form-control" id="completedProjectsSelect">
                                        <option value="">
                                            [['lbl_select' | translate]]
                                        </option>
                                        <option ng-repeat="projectList in completedProjectsList" value="[[projectList.project_for_portfolio.id]]">
                                            [[projectList.project_for_portfolio.project_title]]
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fl_wrap [[!upload_title?upload_title_error?'has-error':'':'has-success']]" id="label_upload_title">
                                <label class="fl_label" for="upload_title">
                                    [['lbl_title' | translate]]
                                    <i class="error_asterix" ng-if="upload_title_error && !upload_title">
                                        *
                                    </i>
                                </label>
                                <input class="fl_input form-control" id="upload_title" name="upload_title" ng-model="upload_title" type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fl_wrap textarea [[!upload_description?upload_description_error?'has-error':'':'has-success']]">
                                <label class="" for="upload_description">
                                    [['lbl_description' | translate]]
                                    <i class="error_asterix" ng-if="upload_description_error && !upload_description">
                                        *
                                    </i>
                                </label>
                                <div  id="editor"></div>
                            </div>
                        </div>
                        <div class="form-group category">
                            <h4>
                                [['lbl_category' | translate]]
                                <i class="error_asterix" ng-if="category_error">
                                    *
                                </i>
                            </h4>
                            <div class="fl_wrap [[category_error?'has-error':'']]">
                                <section class="design-capabilities">
                                    <span class="custom-checkbox" ng-repeat="skill in categories">
                                        <input id="[[skill.id]]" name="skills[]" type="checkbox" value="[[skill.id]]"/>
                                        <label for="[[skill.id]]">
                                            [[english?skill.skill_name:skill.skill_name_chinese]]
                                        </label>
                                    </span>    
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 cover" id="cover_attach">
                                <div class="form-group upload-files cover_input">
                                    <label>
                                        [['lbl_cover_image' | translate]]
                                    </label>
                                    <div class="addfile">
                                        <input id="cover_image" name="cover_image" type="file">
                                            <i aria-hidden="true" class="fa fa-paperclip cover_paper_clip">
                                            </i>
                                            [['lbl_add_image' | translate]]
                                        </input>
                                    </div>
                                </div>
                                <ul class="cover-image-container upload-files-list1">
                                </ul>
                            </div>
                            <button class="hide" id="addImgDynamic">
                                [['lbl_add_image' | translate]]
                            </button>
                            <div class="col-sm-6 files createInput" id="attachments">
                                <div class="form-group upload-files ">
                                    <label>
                                        [['lbl_internal_image' | translate]]
                                    </label>
                                    <div class="addfile internal_images" id="addFileDynamic">
                                        <!-- <input id="fileupload" multiple="" name="attachments[]" type="file"> -->
                                        <i aria-hidden="true" class="fa fa-paperclip">
                                        </i>
                                        [['lbl_add_image' | translate]]
                                    </div>
                                </div>
                                <ul class="portfolio_li">
                                </ul>
                            </div>
                            <p ng-if="showFileLimitError">
                                [['lbl_5_files_allowed' | translate]]
                            </p>
                        </div>
                        <div class="form-bottom-btn">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button class="btn btn-purple submit-btn btn-sm create-portfolio" ng-click="Uploadnewportfolio()">
                                        [['lbl_submit' | translate]]
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="divImagesportfolio">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--designer-portfolio section-->
<section class="designer-portfolio-section">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="panel-title">
                            [['lbl_my_portfolio'|translate]]
                        </h3>
                    </div>
                    <div class="col-sm-6 spetos-left">
                        [['lbl_spots_left'|translate]] :
                        <strong>
                            [[availableSlots]]
                        </strong>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="content-div">
                    <ul class="my-portfolio">
                        <!--row-->
                        <!--Add Item-->
                        <li class="add-item" ng-if="availableSlots>0">
                            <div class="inner-content">
                                <a class="border-div" ng-click="showNewPortfolioModel()">
                                    <i aria-hidden="true" class="fa fa-plus-square-o">
                                    </i>
                                    <span class="un">
                                        [['lbl_upload_new'|translate]] 
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li class="add-item" ng-if="availableSlots<=0">
                            <div class="inner-content">
                                <a class="border-div" ng-click="Nomoreportfolio()">
                                    <i aria-hidden="true" class="fa fa-plus-square-o">
                                    </i>
                                    <span class="un">
                                        Upload New
                                    </span>
                                </a>
                            </div>
                        </li>
                        <!--Add Item End-->
                        <li ng-repeat="designerPortfolio in designerPortfolios">
                            <a href="seller-portfolio-item-details/[[designerPortfolio.slug]]">
                                <div class="inner-content">
                                    <div class="img-div portfolio_cover_image" style="background-image:url([[designerPortfolio.cover_image]])">
                                    </div>
                                    <div class="bottom-content">
                                        <table cellpadding="0" cellspacing="0" height="40" width="100%">
                                            <tr>
                                                <td class="title">
                                                    [[designerPortfolio.upload_title]]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="sm-img">
                                                    <img alt="" height="33" ng-if="tinyimg!='' && $index<3" ng-repeat="tinyimg in designerPortfolio.tiny_images" ng-src="[[tinyimg]]" width="33"/>
                                                    <p class="btn btn-light-purple more-btn" ng-if="designerPortfolio.total_tiny_images_count>0">
                                                        [[designerPortfolio.total_tiny_images_count]]
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <div class="clearfix">
                        </div>
                    </ul>
                    <default-pagination currentpage="currentActivePaging" like="Portfoliofunction(page)" paginate="pagination" range="rangeActivepage">
                    </default-pagination>
                    <div class="content-div" ng-if="totalPortfolio<=0">
                        <div class="row">
                            <div class="display-table">
                                <p>
                                    [['lbl_no_projects_found'|translate]]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
