
<!--INSPIRATION BANK section-->
<section class="designer-inpiration-bank-section">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_inspiration_bank'|translate]]
                    <span class="active-page">
                        <span class="icon-arrow">
                            »
                        </span>
                      <!--   <strong class="bold">
                            [['lbl_project'|translate]] #4645
                        </strong> -->
                    </span>
                </h3>
                <br/>
                <div class="clear-fix"></div>     
                <section class="after-login-new-head-new filter-buttons">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-9 col-lg-8">
                              <ul class="menu-sm designer-dashboard-menu" id="sub-menu-item">
                                <li id="exploreAll">
                                    <a href="" ng-click="showExplore('all')" >[['lbl_inspiration_bank_explore'|translate]]</a>
                                </li>
                                <li id="favourtieItem">
                                    <a href="" ng-click="showExplore('favourites')" >[['lbl_inspiration_bank_fav'|translate]]</a>
                                </li>
                                <li id="uploadedItems">
                                    <a href="" ng-click="showExplore('uploads')" >[['lbl_inspiration_bank_uploads'|translate]]</a>
                                </li>                                                                 
                              </ul>
                            </div>
                          </div>
                        </div>
                      </section>                 
            </div>

            <div class="panel-body">
                <div class="content-div">
                    <!-- [['lbl_project_title'|translate]] -->
                    <h4>
                        <!-- [['lbl_design_logo'|translate]] -->
                    </h4>
                    <div class="row DIB-head-form">                         
                                             
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <select class="form-control" ng-change="filterDataByCategory((categoryId))" ng-model="categoryId">
                                <option value="all">
                                   [['lbl_select'|translate]]
                                </option>
                                <option ng-repeat="c in inspirationBankCategoryListing" ng-value="[[c.id]]">
                                    [[english?c.skill_name:c.skill_name_chinese]]
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-7">
                            <div class="sub-div">
                                <form class="ng-pristine ng-valid">
                                    <input class="form-control" ng-model="searchInspirationBank" placeholder="[['lbl_search'|translate]]" type="text">
                                        <button class="btn subscribe-btn" ng-click="searchData(categoryId,searchInspirationBank)">
                                            <i class="fa fa-search fa-w-16">
                                            </i>
                                        </button>
                                    </input>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-2 text-right">
                          <button ng-disabled="categoryId=='all' && searchInspirationBank==''" ng-click="resetFilter()" class="btn btn-purple submit-btn uppercase btn-sm">[['lbl_reset'|translate]]</button>
                        </div>
                    </div>
                </div>
                <div class="content-div">                    
                        <div class="row">  
                          <div class="grid">  
                          <div class="grid-sizer"></div>                    
                              <div class="grid-item col-xs-6 col-sm-4 col-md-3" ng-repeat="value in inspirationbankListing" >
                                  <div class="masonry-box-design">
                                      <div class="img-div">                                            
                                        <a ng-class="value.user_favourite ? 'icon-a make-favourite-class active' :'icon-a make-favourite-class'" data-id="[[value.id]]" ng-click="toggleFavourite(value.id, ExploreType)">
                                          <i class="fa fa-heart-o" ng-class="value.user_favourite ? 'red' :''"  aria-hidden="true" ></i>
                                        </a> 
                                        <!-- <img alt="" src="[[value.cover_image_attachments[0].medium_thumbnail]]" width="100%">  -->
                                        <div class="select-design-block designer-box">
                                        <div class="inner-div">
                                        <div class="swiper-container browse-designers-swiper designer-box">
                                            <div class="swiper-wrapper" ng-click="showImagePreview(value)">
                                              <!-- <div ng-repeat="cover_image in value.cover_image_attachments_files" class="swiper-slide" > -->
                                              <div ng-repeat="cover_image in value.all_images" class="swiper-slide" >                                          
                                                <img src="[[cover_image.original_file_name]]" width="100%" height="100%"/>
                                              </div>
                                            </div>
                                          <div class="browse-designers-button-prev text-right"><i class="fa fa-chevron-left"></i></div>
                                          <div class="browse-designers-button-next text-left"><i class="fa fa-chevron-right"></i></div>
                                          </div>
                                        </div>
                                        </div>
                                      </div>
                                      <div class="user-info">
                                          <p> <a href="inspiration-bank-item-details/[[value.slug]]">[[value.upload_title]]</a> </p>
                                          <table cellpadding="0" cellspacing="0" width="100%">
                                              <tbody>
                                                  <tr>
                                                      <td class="sm-pic"><img ng-src="[[value.uploadedby.image]]" alt="" width="34"></td>
                                                      <td><a href="seller-profile/[[value.uploadedby.slug]]">[[value.uploadedby.display_name]]</a></td>
                                                      <!-- <td class="right-td">
                                                          <div class="dropdown">
                                                              <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </button>
                                                              <ul class="dropdown-menu" aria-labelledby="dLabel">
                                                                  <li><a href=""><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> favourites</a></li>
                                                                  <li><a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i> edit</a></li>
                                                              </ul>
                                                          </div>
                                                      </td> -->
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                            </div>                            
                          </div>
                            <default-pagination currentpage="currentGalleryPaging" like="customProductList(page)" paginate="pagination" range="rangeGallerypage">
                              </default-pagination>
                            <!-- <li ng-if="status ==1" ng-repeat="value in inspirationbankListing">
                              <div class="select-design-block designer-box">
                                <div class="inner-div">
                                  <div class="swiper-container browse-designers-swiper designer-box">
                                      <div class="swiper-wrapper" ng-click="showImagePreview(value)">
                                        <div ng-repeat="cover_image in value.cover_image_attachments" class="swiper-slide" >                                          
                                          <img src="[[cover_image.medium_thumbnail]]" />
                                        </div>
                                      </div>
                                    <div class="browse-designers-button-prev text-right"><i class="fa fa-chevron-left"></i></div>
                                    <div class="browse-designers-button-next text-left"><i class="fa fa-chevron-right"></i></div>
                                    </div>
                                  <div class="user-info">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td class="sm-pic">
                                                  <a href='seller-profile[/[value.uploadedby.slug]]'>
                                                    <img alt="" ng-src="[[value.uploadedby.image]]" width="34"/>
                                                  </a>
                                                </td>

                                                <td>[[value.upload_title]]<span class="bank-name"><a href='seller-profile/[[value.uploadedby.slug]]'>
                                                    [[value.uploadedby.display_name]]
                                                  </a></span>
                                                </td>
                                               
                                                <td class="right-btn">
                                                    <a  class="btn btn-white btn-sm attach-file[[value.id]]" ng-click="downloadZip([[value.filename]],'attach-file',[[value.id]])">
                                                      <i aria-hidden="true" class="fa fa-download">
                                                        </i>
                                                        [[value.inspiration_download_count]]
                                                    </a>
                                                    <a  id="attach_file_dynamic[[value.id]]" ></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </li> -->
                        
                        <div class="text-center margin-top" ng-if="status == 0">
                            <h5>
                                No data found.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
 <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">[['lbl_inspiration_bank'|translate]]</h4>
      </div>
      <div class="modal-body">          
        <div class="swiper-container bank-popup-swiper-container">
          <div class="swiper-wrapper">
             <div class="swiper-slide"  ng-repeat="image in Images">
              <img alt="" src="[[image.original_file_name]]" width="100%">
            </div> 
          </div>
          <div class="popup-designers-button-prev hand-cursor text-right"><i class="fa fa-chevron-left"></i></div>
          <div class="popup-designers-button-next  hand-cursor text-left"><i class="fa fa-chevron-right"></i></div>
          </div>
      </div>

    </div>
  </div>
</div>  
