
<!--ACTIVE PROJECTS section-->
<section class="edit-album-portfolio-section">
  <div class="container">
    <div class="panel panel-block">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-8">
            <a href="seller-inspiration-bank" class="myportfolio"><h3 class="panel-title">[['lbl_inspiration_bank' | translate]]</a>
              <span class="active-page">
                <span class="icon-arrow">»</span> 
                <strong class="bold">[[inspirationBankInfo.upload_title]]</strong>
              </span>
            </h3>
          </div>
        </div>
      </div>
      <form id="formupload" novalidate>
        <div class="panel-body">
          <div class="content-div">
            <div class="row">
             <div class="col-md-6">
               <div class="left-content-box">
                 <div class="row image-slot"> 
                 <div class="image-slot1"></div>
                   <div class="col-xs-6 col-sm-4" ng-repeat="cover_image in inspirationBankInfo.cover_images">
                   <span ng-if="currentLanguage === 'en'">Cover Image :</span>
                   <span ng-if="currentLanguage === 'chi'">封面图片 :</span>
                    <div id="newDivCoverImage">
                     <div class="new-border-class uploading-album-image new-class-inspiration-image cover-image_[[cover_image.id]]" style="background-image:url([[cover_image.tiny_thumbnail]]);" >                     
                     <div class="edit-delete-div">
                          <a ng-click="Deleteinspirationbankcoverimage(cover_image.id,inspirationBankInfo.id)" class="btn btn-red"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </div> 
                      <div class="overlay-div"></div>                                              
                      <input type="file" class="cover_image_class" id="cover_image_[[cover_image.id]]" name="cover_image[]" data-Imageid="[[cover_image.id]]">
                     </div>
                     </div>
                   </div>
                   <div class="col-xs-6 col-sm-4" ng-repeat="mediumImages in inspirationBankInfo.medium_images_edit">
                      <div class="uploading-album-image uploaded new-class-inspiration-image-edit" style="background-image:url([[mediumImages.medium_path]]);">                      
                        <div class="edit-delete-div">
                          <a ng-click="Deleteinspirationbankimage(mediumImages.id,inspirationBankInfo.id)" class="btn btn-red"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </div>
                        <div class="overlay-div"></div>                       
                      </div>
                   </div>
                   <!-- <label ng-if="currentLanguage === 'en'">Add More :</label>
                   <label ng-if="currentLanguage === 'chi'">添加更多 :</label> -->
                 </div>
               </div>
             </div>

              <div class="col-md-6  md-clearfix">
                <div class="right-content-box">
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="inspirationBankInfo.upload_title" id="upload_title" name="upload_title" ng-change="changeValue()">
                  </div>
                   <div class="form-group">
                     <!-- <textarea ng-model="inspirationBankInfo.upload_description" name="upload_description" id="upload_description" class="form-control" rows="6"></textarea> -->
                     <div  id="editor"></div>
                   </div>
                </div>
                <div class="design-capabilities">
                    <span class="custom-checkbox" ng-repeat="skill in categories" >
                      <input type="checkbox" id="[[skill.id]]" name="skills[]" value="[[skill.id]]" ng-checked="inspirationBankInfo.categoty_selected.indexOf(skill.id) > -1" />
                      <label for="[[skill.id]]">[[english?skill.skill_name:skill.skill_name_chinese]]</label>
                    </span>
                </div>
              </div>
            </div>
            <div class="bottom-btn">
              <button ng-click="SaveinspirationBank()" class="btn btn-purple btn-sm edit-portfolio" ng-disabled="isDataChanged === false" >[['lbl_save' | translate]]</button>
              <a href="inspiration-bank-item-details/[[inspirationBankInfo.slug]]" class="btn btn-red btn-sm">[['lbl_cancel' | translate]]</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
