<!-- <section class="new-project-section animatedParent animateOnce">
  <div class="container">
    <div class="head-sub-text text-center animated fadeInUp">
      <h3>NEW PROJECT</h3>
    </div> -->
<section class="new-project2-section">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_new_project'|translate]]
                </h3>
            </div>
            <!--Step first-->
            <!-- <div class="flowup-labels-form sign-up-form animated fadeInUp"> -->
            <div class="panel-body">
                <div class="content-div">
                    <div class="sign-up-form">
                        <form class="FlowupLabels" id="CreateProjectForm" name="CreateProjectForm" ng-submit="CreateProjectForm.Createnewproject()" novalidate="">
                            <div class="form-group">
                                <label class="fl_label" for="project_title">
                                    [['lbl_project_title'|translate]]
                                </label>
                                <div class="fl_wrap [[!project_title?project_title_error?'has-error':'':'has-success']]">
                                    <input class="fl_input form-control" id="project_title" ng-disabled="keepDisabled" name="project_title" ng-model="project_title" required="" type="text"/>
                                    <i class="fa fa-check-circle out-icon" ng-if="project_title">
                                    </i>
                                    <i class="fa fa-exclamation-circle out-icon" ng-if="project_title_error && !project_title">
                                    </i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="fl_label" for="project_description">
                                    [['lbl_description'|translate]]
                                </label>
                                <div class="fl_wrap [[!project_description?project_description_error?'has-error':'':'has-success']] textarea">
                                    <!-- <textarea class="fl_input form-control" id="project_description" name="project_description" ng-model="project_description" required="" rows="4" type="text">
                                    </textarea> -->
                                    <div  id="editor"></div>
                                    <i class="fa fa-check-circle out-icon" ng-if="project_description">
                                    </i>
                                    <i class="fa fa-exclamation-circle out-icon" ng-if="project_description_error && !project_description">
                                    </i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="fl_label">
                                    [['lbl_select_category'|translate]]
                                </label>
                                <div class="fl_wrap">
                                    <section class="design-capabilities" ng-if="english">
                                        <span class="custom-checkbox" ng-repeat="skill in skills">
                                            <input id="[[skill.id]]" name="skills[]" type="checkbox" ng-disabled="keepDisabled || skill.keepDisable==1" ng-checked="skill.select==1" value="[[skill.id]]"/>
                                            <label for="[[skill.id]]">
                                                [[skill.skill_name]]
                                            </label>
                                        </span>
                                    </section>
                                    <section class="design-capabilities" ng-if="chinese">
                                        <span class="custom-checkbox" ng-repeat="skill in skills">
                                            <input id="[[skill.id]]" name="skills[]" type="checkbox" ng-disabled="keepDisabled || skill.keepDisable==1" ng-checked="skill.select==1" value="[[skill.id]]"/>
                                            <label for="[[skill.id]]">
                                                [[skill.skill_name_chinese]]
                                            </label>
                                        </span>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div id="divImages">
                                </div>
                            </div>
                            <button class="hide" id="addImgDynamic">
                                Add Image
                            </button>
                            <div class="row"> 
                                <div class="col-sm-6 col-md-4 files createInput" id="">
                                    <div class="form-group">
                                        <label class="fl_label" for="attachment_name">
                                            [['lbl_attachments'|translate]]:
                                        </label>
                                        <div class="fl_wrap active" style="height:auto">
                                            <div class="input-file-container internal_images give-padding" id="addFileDynamic">
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td width="110">
                                                            <label class="input-file-trigger" for="my-file" tabindex="0">
                                                                [['lbl_upload_files'|translate]] [['lbl_5_files_allowed'|translate]]
                                                            </label>
                                                        </td>
                                                        <td class="att-icon" width="50">
                                                            <i class="fa fa-paperclip">
                                                            </i>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="upload-files-list">
                                    </ul>
                                </div>
                                <div class="col-sm-3 col-md-2">
                                    <div class="form-group">
                                        <label class="fl_label" for="project_budget">
                                            [['lbl_budget'|translate]]
                                        </label>
                                        <div class="fl_wrap [[!project_budget?project_budget_error?'has-error':'':project_budget<=0?'has-error':'has-success']] active yen">
                                            <input class="fl_input form-control" ng-disabled="keepDisabled || budget_disable" data-placement="bottom" data-toggle="tooltip" id="project_budget" name="project_budget" ng-model="project_budget" required="" type="text"/>
                                            <span ng-if="current_domain=='cn'" class="left-yen">
                                                ¥
                                            </span>
                                            <span ng-if="current_domain=='net'" class="left-yen">
                                                S$
                                            </span>
                                            <i class="fa fa-check-circle out-icon" ng-if="project_budget>0">
                                            </i>
                                            <i class="fa fa-exclamation-circle out-icon" ng-if="project_budget<=0 || project_budget_error" title="[['lbl_project_budget'|translate]]">
                                            </i>
                                            <!-- <span ng-if="current_domain=='cn'">
                                            <i title="[['lbl_min_budget_yen'|translate]]" class="fa fa-exclamation-circle out-icon" ng-if="project_budget_error || project_budget<min_budget">
                                            </i>
                                            </span>
                                            <span ng-if="current_domain=='net'">
                                            <i title="[['lbl_min_budget_singapore_dollar'|translate]]" class="fa fa-exclamation-circle out-icon" ng-if="project_budget_error || project_budget<min_budget">
                                            </i>
                                            </span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-2">
                                    <div class="form-group">
                                        <label class="fl_label" for="project_timeline">
                                            [['lbl_timeline'|translate]]
                                        </label>
                                        <div class="fl_wrap [[!project_timeline?project_timeline_error?'has-error':'':project_timeline>=min_timeline?'has-success':'has-error']] active">
                                            <input class="fl_input form-control" ng-disabled="keepDisabled || timeline_disable" data-placement="bottom" data-toggle="tooltip" id="project_timeline" name="project_timeline" ng-model="project_timeline" required="" title="[['lbl_min_timeline'|translate]]" type="text"/>
                                            <span class="right-day">
                                                [['lbl_days'|translate]]
                                            </span>
                                            <i class="fa fa-check-circle out-icon" ng-if="project_timeline>=min_timeline">
                                            </i>
                                            <i title="[['lbl_min_timeline'|translate]]" class="fa fa-exclamation-circle out-icon" ng-if="project_timeline_error || project_timeline<min_timeline">
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="form-group">
                        <span class="custom-checkbox2">
                            <input id="allow_for_portfolio" ng-checked="project_info.allow_for_portfolio==1" ng-disabled="keepDisabled" name="allow_for_portfolio" ng-model="allow_for_portfolio" type="checkbox" value="2"/>
                            <label for="allow_for_portfolio">
                                [['lbl_not_allow_show_on_portfolio'| translate]]
                            </label>
                        </span>
                    </div>
                    <!-- <div ng-if="show_showmore">
                        <div class="form-group">
                            <div class="panel-heading">
                                <h3 class="panel-title">[['lbl_purchased_services'|translate]] </h3>
                            </div>
                            <div class="content-div" ng-repeat="service in added_tO_cart">
                                <div class="row">
                                    <div class="display-table">
                                        <div class="col-sm-9 display-table-cell">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h4>
                                                        [[service.package_details.skill_parent.service_skill_detail.skill_name]] - [[service.package_details.service_title]]
                                                    </h4>
                                                </div>
                                            </div>

                                            <div class="date-div">
                                                [['lbl_service_no_of_revisions'|translate]] : 
                                                 <div class="date-details">[[service.package_details.no_of_revisions]]</div>
                                                <span class="line-span">
                                                    |
                                                </span>
                                                [['lbl_service_delivery_time'|translate]] : 
                                                 <div class="date-details">[[service.package_details.delivery_time_in_days]]</div>
                                                <span class="line-span">
                                                    |
                                                </span>
                                                [['lbl_service_price'|translate]] : 
                                                <div class="date-details">[[service.package_details.price]]</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 display-table-cell border-left" >
                                            <a href="javascript:void(0)" ng-click="Removefromcart(service)"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div >
                        <div class="form-group" ng-if="showMore">
                            <div class="panel-heading">
                                <h3 class="panel-title">[['lbl_remaining_services'|translate]] </h3>
                            </div>
                            <div class="content-div" ng-repeat="service in remaining_services">
                                <div class="row">
                                    <div class="display-table">
                                        <div class="col-sm-9 display-table-cell">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h4>
                                                        [[service.skill_parent.service_skill_detail.skill_name]] - [[service.service_title]]
                                                    </h4>
                                                </div>
                                            </div>

                                            <div class="date-div">
                                                [['lbl_service_no_of_revisions'|translate]] : 
                                                 <div class="date-details">[[service.no_of_revisions]]</div>
                                                <span class="line-span">
                                                    |
                                                </span>
                                                [['lbl_service_delivery_time'|translate]] : 
                                                 <div class="date-details">[[service.delivery_time_in_days]]</div>
                                                <span class="line-span">
                                                    |
                                                </span>
                                                [['lbl_service_price'|translate]] : 
                                                <div class="date-details">[[service.price]]</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 display-table-cell border-left">
                                            <a href="javascript:void(0)" ng-click="Addtocart(service)"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-purple submit-btn btn-sm add-more-btn" ng-click="Addmoreservice()"> [[showMoreText|translate]]</button>
                        </div>
                    </div> -->
                    <div class="form-bottom-btn">
                        <div class="row">
                            <div class="col-sm-12">
                                <button ng-if="!keepDisabled && whatAction=='new-project'" class="btn btn-purple submit-btn btn-sm create-project" ng-click="Createnewproject(whatAction)">[['lbl_submit'|translate]]</button>

                                <div ng-if="!keepDisabled && whatAction=='project-pending'">
                                    <button class="btn btn-purple submit-btn btn-sm create-project" ng-click="Createnewproject(whatAction)">[['lbl_send_signup_invitation'|translate]]</button>
                                    <!-- <form name="alipay_form" action="[[domainURL]]" method="post">
                                        <input type="hidden" name="project_budget" value="[[projectAmount]]">
                                        <input type="hidden" name="out_trade_no" value="[[project_info.id]]">
                                        <input type="hidden" name="title" value="[[project_info.project_title]]">
                                        <input type="hidden" name="desc" value="[[project_info.project_description]]">
                                        <input type="submit" id="create_and_pay" class="hide btn btn-purple submit-btn btn-sm create-project" name="" value="[['lbl_process_escrow'|translate]]">
                                    </form> -->
                                </div>
                                
                                <!-- <div ng-if="keepDisabled && whatAction=='project-created'">
                                    <button class="btn btn-purple submit-btn btn-sm create-project" ng-click="updatedescriptionandpay()">[['lbl_send_signup_invitation'|translate]]</button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="show_showmore" class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">[['lbl_purchased_services'|translate]] </h3>
            </div>
            <div class="panel-body">
                <div class="content-div">
                  <div class="tbl-design">
                    <table cellpadding="0" cellspacing="0" width="100%" class="table table-bordered">
                      <thead>
                        <tr>
                            <th>[['lbl_sr_no'|translate]]</th>
                            <th>[['lbl_skill_name'|translate]]</th>
                            <th>[['lbl_service_name'|translate]]</th>
                            <th>[['lbl_service_no_of_revisions'|translate]]</th>
                            <th>[['lbl_service_delivery_time'|translate]]</th>
                            <th>[['lbl_service_price'|translate]]</th>
                            <th class="action-btn">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="service in added_tO_cart">
                            <td>[[$index + 1]]</td>
                            <td>[[service.package_details.skill_parent.service_skill_detail.skill_name]]</td>
                            <td>[[service.package_details.service_title]]</td>
                            <td>[[service.package_details.no_of_revisions]]</td>
                            <td>[[service.package_details.delivery_time_in_days]]</td>
                            <td>
                                <span ng-if="current_domain=='cn'" class="left-yen">
                                   ¥
                                </span>
                                <span ng-if="current_domain=='net'" class="left-yen">
                                   S$
                                </span> [[service.package_details.price]]</td>
                            <td class="action-btn">  
                            <a class="delete-btn" href="javascript:void(0)" ng-click="Removefromcart(service)"><i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                            </td>
                        </tr>
                        <tr class="total-price">
                          <td colspan="5" align="right"><strong>[['lbl_total'|translate]]</strong></td>
                          <td><strong>
                            <span ng-if="current_domain=='cn'" class="left-yen">
                                   ¥
                            </span>
                            <span ng-if="current_domain=='net'" class="left-yen">
                                   S$
                            </span> [[totalPrice]]</strong></td>
                          <td></td>
                        </tr>
                      </tbody>

                    </table>
                    <div class="form-group">
                        <button class="btn btn-purple submit-btn btn-sm add-more-btn" ng-click="Addmoreservice()"> [[showMoreText|translate]]</button>
                        <button ng-if="keepDisabled && whatAction=='project-created'" class="btn btn-purple submit-btn btn-sm create-project" ng-click="updatedescriptionandpay()">[['lbl_send_signup_invitation'|translate]]</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="panel panel-block" ng-if="showMore">
            <div class="panel-heading">
                <h3 class="panel-title">[['lbl_remaining_services'|translate]] </h3>
            </div>
            <div class="panel-body">
                <div class="content-div">
                  <div class="tbl-design">
                    <table cellpadding="0" cellspacing="0" width="100%" class="table table-bordered">
                      <thead>
                        <tr>
                            <th>[['lbl_sr_no'|translate]]</th>
                            <th>[['lbl_skill_name'|translate]]</th>
                            <th>[['lbl_service_name'|translate]]</th>
                            <th>[['lbl_service_no_of_revisions'|translate]]</th>
                            <th>[['lbl_service_delivery_time'|translate]]</th>
                            <th>[['lbl_service_price'|translate]]</th>
                            <th class="action-btn">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="service in remaining_services">
                          <td>[[$index +1]]</td>
                          <td>[[service.skill_parent.service_skill_detail.skill_name]]</td>
                          <td>[[service.service_title]]</td>
                          <td>[[service.no_of_revisions]]</td>
                          <td>[[service.delivery_time_in_days]]</td>
                          <td><span ng-if="current_domain=='cn'" class="left-yen">
                                   ¥
                                </span>
                                 <span ng-if="current_domain=='net'" class="left-yen">
                                   S$
                                 </span> [[service.price]]</td>
                          <td class="action-btn">  <a class="add-btn" href="javascript:void(0)" ng-click="Addtocart(service)"><i class="fa fa-plus" aria-hidden="true"></i></a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
