<div class="row hide" id="clone_revisions">
  <div class="col-sm-4">
    <div class="form-group">
      <div class="fl_wrap">
        <label class="fl_label" for="rf_nr">[['lbl_no_of_revisions' | translate]]: </label>
        <input class="fl_input form-control only_number" type="text" id="service_revisions" name="service_revisions[]" />
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <div class="fl_wrap ">
        <label class="fl_label" for="rf_nr">[['lbl_delivery_time' | translate]]: </label>
        <input class="fl_input form-control only_number" type="text" id="service_delivery_time" name="service_delivery_time[]" />
        <span class="days">[['lbl_days' | translate]]</span> </div>
    </div>
  </div>
  <div class="col-sm-4">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td><div class="fl_wrap active price">
            <label class="fl_label" for="rf_Price3">[['lbl_price' | translate]] </label>
            <input ng-class="currentDomain=='net'?'fl_input form-control float_number price-margin-domain':'fl_input form-control float_number'" type="text" id="service_price" name="service_price[]" />
            <span class="yen" ng-if="currentDomain=='cn'">&yen;</span><span class="yen" ng-if="currentDomain=='net'">S$ </span> </div></td>
        <td width="50" class="delete-btn"><a class="extra_remove" id="remove_clone_revisions_[[extraid]]" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
      </tr>
    </table>
  </div>
</div>
<section class="services-page">
  <div class="container">
    <div class="panel panel-block margin10">
      <div class="panel-heading">
        <h3 class="panel-title">[['lbl_services' | translate]]</h3>
      </div>
      <div class="panel-body">
        <div class="content-div">
          <h4>[['lbl_sesign_capabilities' | translate]]</h4>
          <div class="fl_wrap">
            <form name="addSkillForm" ng-submit="addSkillForm.Addserviceskills()" novalidate="" id="addSkillForm">
              <section class="design-capabilities" ng-if="english">
                <span class="custom-checkbox" ng-repeat="skill in skills">
                  <input type="checkbox" id="[[skill.id]]" name="skills[]" value="[[skill.id]]" ng-checked="skill.select==1" />
                  <label for="[[skill.id]]">[[skill.skill_name]]</label>
                </span>
              </section>
              <section class="design-capabilities" ng-if="chinese">
                <span class="custom-checkbox" ng-repeat="skill in skills">
                  <input type="checkbox" id="[[skill.id]]" name="skills[]" value="[[skill.id]]" ng-checked="skill.select==1" />
                  <label for="[[skill.id]]">[[skill.skill_name_chinese]]</label>
                </span>
              </section>
              <button class="btn btn-purple submit-btn btn-sm add-skills" ng-click="Addserviceskills()"> [['lbl_update'|translate]]</button>
            </form>
          </div>
        </div>
        <div class="content-div">
          <div class="tab-div">
            <button ng-repeat="category in selectedCategory" class="btn tablinks" id="tab_[[category.id]]" ng-if="english" ng-click="category_tab(category.skill_name,category.id)">[[category.skill_name]]</button>
            <button ng-repeat="category in selectedCategory" class="btn tablinks" id="tab_[[category.id]]" ng-if="!english" ng-click="category_tab(category.skill_name,category.id)">[[category.skill_name_chinese]]</button>
          </div>
          <div id="[[category.skill_name]]" class="tabcontent">
            <div class="flowup-labels-form">
              <div>
                <div id="services">
                  <form class="FlowupLabels formidget" name="services_original_[[uniqueId]]" novalidate="" id="services_original_[[uniqueId]]" method="post">
                    <hr>
                      <div id="">
                        <div class="form-group hide" id="deletediv_services_original_[[uniqueId]]">
                          <a class="btn trash_color remove" id="delete_services_original_[[uniqueId]]" href="#"><span  class="delete-btn"><i class="fa fa-trash-o" aria-hidden="true"></i></span></a>
                        </div>
                        <div class="form-group">
                          <div  ng-class="{'fl_wrap has-error': serviceTitleError[[uniqueId]], 'fl_wrap': !serviceTitleError[[uniqueId]] }">
                            <label class="fl_label" for="rf_name">[['lbl_title'|translate]]</label>
                            <input class="fl_input form-control" type="text" id="service_title_[[uniqueId]]" name="service_title" ng-model="service_title_[[uniqueId]]"/>
                            <i class="fa fa-check-circle out-icon"  style="display:block; color: #92e786;" ng-if="service_title_[[uniqueId]]"></i>
                          </div>
                        </div>
                        <h4>[['lbl_details'|translate]]</h4>
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group set-margin-editor">
                              <div id="div_service_details_[[uniqueId]]" ng-class="{'fl_wrap has-error': serviceDetailError[[uniqueId]], 'fl_wrap': !serviceDetailError[[uniqueId]] }">
                                <!-- <label class="fl_label" for="rf_details">[['lbl_details'|translate]]</label> -->
                                <textarea class="fl_input form-control textarea" id="service_details"  name="service_details_[[uniqueId]]"></textarea>
                                <!-- <div id="service_details"></div> -->
                                <i class="fa fa-check-circle out-icon success-call-desc"  style="display:none; color: #92e786;" ></i>
                                <i class="fa fa-exclamation-circle out-icon new-error-class new-class-icon class-for-description" style="display:none;"  title="[['lbl_details_is_required'|translate]]" id="serviceDetailsError[[uniqueId]]"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div ng-class="{'fl_wrap has-error': serviceRevisionError[[uniqueId]], 'fl_wrap': !serviceRevisionError[[uniqueId]] }">
                                <label class="fl_label" for="rf_nr">[['lbl_no_of_revisions' | translate]]: </label>
                                <input class="fl_input form-control only_number" type="text" id="service_revisions_[[uniqueId]]" name="service_revisions[]" ng-model="service_revisions_[[uniqueId]]"/>
                                <i class="fa fa-check-circle out-icon"  style="display:block; color: #92e786;" ng-if="service_revisions_[[uniqueId]]"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div ng-class="{'fl_wrap has-error': serviceDeliveryError[[uniqueId]], 'fl_wrap': !serviceDeliveryError[[uniqueId]] }">
                                <label class="fl_label" for="rf_nr">[['lbl_delivery_time' | translate]]: </label>
                                <input class="fl_input form-control only_number" type="text" id="service_delivery_time_[[uniqueId]]" name="service_delivery_time[]" ng-model="service_delivery_time_[[uniqueId]]"/>
                                <i class="fa fa-check-circle out-icon"  style="display:block; color: #92e786;" ng-if="service_delivery_time_[[uniqueId]] > 2"></i>
                                <span class="days">[['lbl_days' | translate]]</span> </div>                                
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div ng-class="{'fl_wrap  active price has-error': servicePriceError[[uniqueId]], 'fl_wrap active price': !servicePriceError[[uniqueId]] }">
                                <label class="fl_label" for="rf_nr">[['lbl_price' | translate]] </label>                                
                                <input numbers-only ng-class="currentDomain=='net'?'fl_input form-control float_number price-margin-domain':'fl_input form-control float_number'" type="text" id="service_price_[[uniqueId]]" name="service_price[]" ng-model="service_price_[[uniqueId]]"/>
                                <i class="fa fa-check-circle out-icon"  style="display:block; color: #92e786;" ng-if="service_price_[[uniqueId]] > 0"></i>
                                <span class="yen" ng-if="currentDomain=='cn'">&yen;</span><span class="yen" ng-if="currentDomain=='net'">S$ </span> </div>
                            </div>
                          </div>
                        </div>                                                   
                        <br>
                        <div class="add-img-div">
                          <ul id="imageDivID[[uniqueId]]" >
                            <li>
                              <div class="a_img service_images" id="fileClick_image1_[[uniqueId]]" style="background-image:url(resources/assets/images/add.png);"></div>
                              <input type="file" class="hide image_upload form-control" id="image1_[[uniqueId]]" name="images[]">
                              <a class="close-btn remove_image hide" id="remove_img_image1_[[uniqueId]]" href="#">
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <div class="a_img service_images" id="fileClick_image2_[[uniqueId]]" style="background-image:url(resources/assets/images/add.png);"></div>
                              <input type="file" class="hide image_upload form-control" id="image2_[[uniqueId]]" name="images[]">
                              <a class="close-btn remove_image hide" id="remove_img_image2_[[uniqueId]]" href="#">
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                              </a> 
                            </li>
                            <li>
                              <div class="a_img service_images" id="fileClick_image3_[[uniqueId]]" style="background-image:url(resources/assets/images/add.png);"></div>
                              <input type="file" class="hide image_upload form-control" id="image3_[[uniqueId]]" name="images[]">
                              <a class="close-btn remove_image hide" id="remove_img_image3_[[uniqueId]]" href="#">
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                              </a> 
                            </li>
                          </ul>
                        </div>
                        <h4>[['lbl_project_extras' | translate]]</h4>
                        <div class="row" id="clone_revisions">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div ng-class="{'fl_wrap has-error': serviceExtraRevisionError[[uniqueId]], 'fl_wrap': !serviceExtraRevisionError[[uniqueId]] }">
                                <label class="fl_label" for="rf_nr">[['lbl_no_of_revisions' | translate]]: </label>
                                <input class="fl_input form-control only_number" type="text" id="service_revisions_extra_[[uniqueId]]" name="service_revisions[]" />
                                <i class="fa fa-check-circle out-icon"  style="display:block; color: #92e786;" ng-if="service_revisions_extra_[[uniqueId]]"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div ng-class="{'fl_wrap has-error': serviceExtraDeliveryError[[uniqueId]], 'fl_wrap': !serviceExtraDeliveryError[[uniqueId]] }" >
                                <label class="fl_label" for="rf_nr">[['lbl_delivery_time' | translate]]: </label>
                                <input class="fl_input form-control only_number" type="text" id="service_delivery_time_extra_[[uniqueId]]" name="service_delivery_time[]" />
                                <span class="days">[['lbl_days' | translate]]</span> </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <table width="100%" cellpadding="0" cellspacing="0">
                              <tr>
                                <td><div  ng-class="{'fl_wrap active price has-error': serviceExtraPriceError[[uniqueId]], 'fl_wrap active price': !serviceExtraPriceError[[uniqueId]] }">
                                    <label class="fl_label" for="rf_Price3">[['lbl_price' | translate]] </label>
                                    <input numbers-only ng-class="currentDomain=='net'?'fl_input form-control float_number price-margin-domain':'fl_input form-control float_number'" type="text" id="service_price_extra_[[uniqueId]]" name="service_price[]" ng-model="service_price_extra_[[uniqueId]]">
                                    <span class="yen" ng-if="currentDomain=='cn'">&yen;</span><span class="yen" ng-if="currentDomain=='net'">S$ </span> </div></td>
                                <td width="50" class="delete-btn"><a class="extra_remove" id="remove_clone_revisions_[[extraid]]" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                              </tr>
                            </table>
                          </div>
                        </div>
                        <div id="clone_revisions_extra_[[uniqueId]]"></div>
                        <div class="add-button">
                          <a class="btn btn-purple btn-sm add-extra" id="addextra_services_original_[[uniqueId]]">
                            <i class="fa fa-plus" aria-hidden="true"></i> [['lbl_add_project' | translate]] 
                          </a>
                        </div>
                        <div class="bottom-btn">
                          <button class="btn btn-purple btn-sm save_as_draft draft_[[uniqueId]]" id="draft_services_original_[[uniqueId]]" type="button" ng-click="Addservices(3)">[['lbl_save_as_draft' | translate]]</button>
                          <button class="btn btn-green btn-sm publish publish_[[uniqueId]]" type="button" id="publish_services_original_[[uniqueId]]" ng-click="Addservices(1)">[['lbl_publish' | translate]]</button>
                          <button class="btn btn-red btn-sm remove delete_[[uniqueId]] hide" id="delete_services_original_[[uniqueId]]">[['lbl_delete' | translate]] </button>
                        </div>
                      </div>
                  </form>
                </div>
                <!-- for previously added value -->
                <div id="existing_data" ng-repeat="data in existingData">
                  <form class="FlowupLabels" name="existing_services_original_[[service.id]]" novalidate="" id="existing_services_original_[[service.id]]" method="post" ng-repeat="service in data.service_details">
                    <input type="hidden" name="mp_seller_service_skill_id" value="[[data.skill_detail[0].id]]">
                    <hr>
                      <div id="">
                        <!-- <div class="form-group" id="deletediv_existing_services_original_[[service.id]]">
                          <a class="btn trash_color remove" id="delete_existing_services_original_[[service.id]]" href="#"><span  class="delete-btn"><i class="fa fa-trash-o" aria-hidden="true"></i></span></a>
                        </div> -->
                        <div class="form-group">
                          <div class="fl_wrap active">
                            <label class="fl_label" for="rf_name">[['lbl_title'|translate]]</label>
                            <input ng-disabled="service.status==1" class="fl_input form-control" type="text" id="service_title" name="service_title" value="[[service.service_title]]" />
                          </div>
                        </div>
                        <h4>[['lbl_details'|translate]]</h4>
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group set-margin-editor">
                              <div class="fl_wrap active">
                                <!-- <label class="fl_label" for="rf_details">[['lbl_details'|translate]]</label> -->
                                <!-- <textarea ng-disabled="service.status==1" class="fl_input form-control textarea" id="service_details_[[service.id]]" name="service_details">[[service.service_description]]</textarea> -->
                                <textarea ng-disabled="service.status==1" class="fl_input form-control textarea" id="service_details_[[service.id]]" name="service_details"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="fl_wrap active">
                                <label class="fl_label" for="rf_nr">[['lbl_no_of_revisions' | translate]]: </label>
                                <input ng-disabled="service.status==1" class="fl_input form-control only_number" type="text" id="service_revisions" name="service_revisions[]" value="[[service.no_of_revisions]]" />
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="fl_wrap active">
                                <label class="fl_label" for="rf_nr">[['lbl_delivery_time' | translate]]: </label>
                                <input ng-disabled="service.status==1" class="fl_input form-control only_number" type="text" id="service_delivery_time" name="service_delivery_time[]" value="[[service.delivery_time_in_days]]" />
                                <span class="days">[['lbl_days' | translate]]</span> </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="fl_wrap active price">
                                <label class="fl_label" for="rf_nr">[['lbl_price' | translate]] </label>
                                <input ng-disabled="service.status==1" ng-class="currentDomain=='net'?'fl_input form-control float_number price-margin-domain':'fl_input form-control float_number'"  type="text" id="service_price" name="service_price[]" value="[[service.price]]" />
                                <span class="yen" ng-if="currentDomain=='cn'">&yen;</span><span class="yen" ng-if="currentDomain=='net'">S$ </span> </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="add-img-div" ng-if="service.service_images_count>0">
                          <ul>
                            <li>
                              <div class="existing_a_img service_images" id="existing_fileClick_image1_[[service.id]]_[[service.service_images[0].id]]" style="background-image:url([[service.service_images[0].image]]);"></div>
                              <input ng-disabled="service.status==1" type="file" class="hide image_upload" id="existing_image1_[[service.id]]" name="images[]">
                            </li>
                            <li>
                              <div class="existing_a_img service_images" id="existing_fileClick_image2_[[service.id]]_[[service.service_images[1].id]]" style="background-image:url([[service.service_images[1].image]]);"></div>
                              <input ng-disabled="service.status==1" type="file" class="hide image_upload" id="existing_image2_[[service.id]]" name="images[]">
                            </li>
                            <li>
                              <div  class="existing_a_img service_images" id="existing_fileClick_image3_[[service.id]]_[[service.service_images[2].id]]" style="background-image:url([[service.service_images[2].image]]);"></div>
                              <input ng-disabled="service.status==1" type="file" class="hide image_upload" id="existing_image3_[[service.id]]" name="images[]">
                            </li>
                          </ul>
                        </div>
                        <div class="row" id="existing_clone_revisions" ng-repeat="extras in service.service_extras">
                          <h4 class="service-project-extras">[['lbl_project_extras' | translate]]</h4>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="fl_wrap active">
                                <label class="fl_label" for="rf_nr">[['lbl_no_of_revisions' | translate]]: </label>
                                <input ng-disabled="service.status==1" class="fl_input form-control only_number" type="text" id="service_revisions" name="service_revisions[]" value="[[extras.no_of_revisions]]" />
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="fl_wrap active ">
                                <label class="fl_label" for="rf_nr">[['lbl_delivery_time' | translate]]: </label>
                                <input ng-disabled="service.status==1" class="fl_input form-control only_number" type="text" id="service_delivery_time" name="service_delivery_time[]" value="[[extras.delivery_time_in_days]]" />
                                <span class="days">[['lbl_days' | translate]]</span> </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <table width="100%" cellpadding="0" cellspacing="0">
                              <tr>
                                <td><div class="fl_wrap active price">
                                    <label class="fl_label" for="rf_Price3">[['lbl_price' | translate]] </label>
                                    <input ng-disabled="service.status==1"  ng-class="currentDomain=='net'?'fl_input form-control float_number price-margin-domain':'fl_input form-control float_number'" type="text" id="service_price" name="service_price[]" value="[[extras.price]]" />
                                    <span class="yen" ng-if="currentDomain=='cn'">&yen;</span><span class="yen" ng-if="currentDomain=='net'">S$ </span> </div></td>
                                <td ng-if="service.status!=1" width="50" class="delete-btn"><a class="extra_remove" id="remove_clone_revisions_[[extraid]]" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                              </tr>
                            </table>
                          </div>
                        </div>
                        <div id="existing_clone_revisions_extra_[[service.id]]"></div>
                        <div class="add-button" ng-if="service.status!=1">
                          <a class="btn btn-purple btn-sm add-extra" id="addextra_existing_services_original_[[service.id]]">
                            <i class="fa fa-plus" aria-hidden="true"></i> [['lbl_add_project' | translate]]
                          </a>
                        </div>
                        <div class="bottom-btn">
                          <button class="btn btn-purple btn-sm save_as_draft_existing draft_[[service.id]]" id="draft_existing_services_original_[[service.id]]" type="button" ng-disabled="service.status==1">[['lbl_save_as_draft' | translate]]</button>
                          <button class="btn btn-green btn-sm publish_existing publish_[[service.id]]" type="button" id="publish_existing_services_original_[[service.id]]" ng-disabled="service.status==1">[['lbl_publish' | translate]]</button>
                          <button class="btn btn-red btn-sm exesting_delete delete_[[service.id]]" id="delete_existing_services_original_[[service.id]]">[['lbl_delete' | translate]]</button>
                        </div>
                      </div>
                      <input type="hidden" name="draftFormID" id="draftFormID" value="[[service.id]]">
                  </form>
                </div>
                <div class="add-new-services">
                  <a ng-click="CloneService()" href="#" class="btn btn-light-purple btn-add1 btn-sm">
                    <i class="fa fa-plus" aria-hidden="true"></i> [['lbl_add_new_service' | translate]]
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>