@font-face {
    font-family:"AvenirLT";
    src: url(fonts/AvenirLTStd-Medium_4.otf);
}
@font-face {
    font-family: 
}
body {
    color: #525355;
    font-family: 'AvenirLT';
    background-color: #e6eff6;
}
textarea
{
    resize: vertical;
}
.panel
{
    display: inline-block;
    width: 100%;
}
.uppercase
{
    text-transform: uppercase;
}
.justify-normal
{
    justify-content: normal !important;
}
.margin-zero {
    margin: 0px !important
}
.margin-tp0 {
    margin-top: 0px !important
}
.margin-tp5 {
    margin-top: 5px !important
}
.margin-tp10 {
    margin-top: 10px !important
}
.margin-tp15 {
    margin-top: 15px !important
}
.margin-tp20 {
    margin-top: 20px !important
}
.margin-tp30 {
    margin-top: 30px !important
}
.margin-tp40 {
    margin-top: 40px !important
}
.margin-tp50 {
    margin-top: 50px !important
}
.margin-tp80 {
    margin-top: 80px !important
}
.margin-bt0 {
    margin-bottom: 0px !important
}
.margin-bt5 {
    margin-bottom: 5px !important
}
.margin-bt10 {
    margin-bottom: 10px !important
}
.margin-bt15 {
    margin-bottom: 15px !important
}
.margin-bt20 {
    margin-bottom: 20px !important
}
.margin-bt25 {
    margin-bottom: 25px !important
}
.margin-bt30 {
    margin-bottom: 30px !important
}
.margin-bt40 {
    margin-bottom: 40px !important
}
.margin-bt50 {
    margin-bottom: 50px !important
}
.margin-bt80 {
    margin-bottom: 80px !important
}
.margin-auto {
    margin: auto
}
.pd-zero {
    padding: 0px !important
}
.pd-tp0 {
    padding-top: 0px !important
}
.pd-tp5 {
    padding-top: 5px !important
}
.pd-tp10 {
    padding-top: 10px !important
}
.pd-tp15 {
    padding-top: 15px !important
}
.pd-tp20 {
    padding-top: 20px !important
}
.pd-tp30 {
    padding-top: 30px !important
}
.pd-tp40 {
    padding-top: 40px !important
}
.pd-tp50 {
    padding-top: 50px !important
}
.pd-tp80 {
    padding-top: 80px !important
}
.pd-bt0 {
    padding-bottom: 0px !important
}
.pd-bt5 {
    padding-bottom: 5px !important
}
.pd-bt10 {
    padding-bottom: 10px !important
}
.pd-bt15 {
    padding-bottom: 15px !important
}
.pd-bt20 {
    padding-bottom: 20px !important
}
.pd-bt30 {
    padding-bottom: 30px !important
}
.pd-bt40 {
    padding-bottom: 40px !important
}
.pd-bt50 {
    padding-bottom: 50px !important
}
.pd-bt80 {
    padding-bottom: 80px !important
}
.pd-20
{
    padding: 20px;
}
.divider
{
    border-bottom:1px solid #f2f2f2;
    margin-bottom: 10px;
}
.bg-red
{
    background-color: #d21a24 !important;
}
.bg-green
{
    background-color: green !important;
    color: #fff;
}
.back-red
{
    background-color: red !important;
}
.back-blue
{
    background-color: #2b8de6;
}
.back-yellow
{
    background-color: yellow;
}
.back-green
{
    background-color: green !important;
}
.text-red
{
    color: #d21a24;
}
.text-green
{
    color: green !important;
}
.border-r
{
    border-left: 1px solid red;
    border-right: 1px solid red;
}
.border-g
{
    border-left: 1px solid green;
    border-right: 1px solid green;
}
.border-rd-10
{
    border-radius: 10px;
}
.text-white
{
    color: #fff !important;
}
.back-white
{
    background-color: #fff !important;
}
.text-black
{
    color: #525355 !important
}
.back-gray
{
    background-color: gray !important;
}
.back-light-gray
{
    background-color: #f1eff0 !important;
}
.back-lr
{
    background-color: #fcaab0 !important;
}
.back-lg
{
    background-color: #97e084 !important;
}
.back-ly
{
    background-color: #fcfbe6;
}
.inline-block {
    display: inline-block;
    width: 100%;
}
.a-uline-remove:hover
{
    text-decoration: none;
}
.btn
{
    background-color: #d21a24;
    border-radius: 20px;
    color: #fff;
    padding: 6px 12px !important;
}
.btn-sm
{
    padding: 3px 12px !important;
}
.btn:hover, .btn:focus, .btn.focus
{
    background-color: #f9323d;
    color: #fff;
}
.btn-default
{
    background-color: #fff;
    color: #000;
}
a
{
    transition: all 0.2s linear;
    color: #525355;
}
a:hover,a:active,a:focus
{
    text-decoration: none;
}
.control-label
{
    margin-top: 8px;
}
.form-control {
    box-shadow: none;
    position: relative;
    z-index: 11;
    border-radius: 0px;
    /*border:none;*/
}
.tab-section .nav-tabs{ border-bottom: 0px; }
.tab-section .nav-tabs a{   
    background-color: #fff;
    border-radius: 20px;
    padding: 7px 25px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    font-size: 13px;
    margin-right: 15px; border:0px;
    box-shadow: 0px 1px 1px 1px #e8e8e8;
    -webkit-box-shadow: 0px 1px 1px 1px #e8e8e8;
    -ms-box-shadow: 0px 1px 1px 1px #e8e8e8;
    -moz-box-shadow: 0px 1px 1px 1px #e8e8e8;
    -o-box-shadow: 0px 1px 1px 1px #e8e8e8;
}
.tab-section .nav-tabs > li.active > a
{    background-color: #d21a24;
    color: #fff;
    border: none;}
.tab-section .tab-content{ margin-top:40px;  }
.input-circle{ border-radius: 20px;}
.border-zero{ border:none;}
.modal .form-control
{
    border-radius: 5px;
    border-color: #e3e3e3;
    border: 1px solid #c2cad8;
}
.form-group
{
    display: inline-block;
    width: 100%;
}
.form-control:focus
{
    box-shadow: none;
    border-color: #d21a24;
}
.border
{
    border: 1px solid #e7ecf1;
}
.border-tp
{
    border-top: 1px solid #e7ecf1; 
}
.border-right 
{
    border-right: 1px solid #e7ecf1; 
}
.popover-content
{
    padding: 15px;
    width: 200px;
}
.fileinput.fileinput-exists{position: relative;}
.fileinput.fileinput-exists .fileinput-filename{    
   position: absolute;
   bottom: -21px;
   left: 0;
   right: 0;
   /* word-wrap: break-word; */
   max-height: 20px;
   overflow: hidden;
   text-align: left;
   font-size: 12px;}
 .close.fileinput-exists{    float: none;
   position: absolute;
   bottom: -24px;
   right: -15px;}
.daterangepicker td.active, .daterangepicker td.active:hover{ background-color: #d21a24 ;}
.input-group.date > input:focus + .input-group-addon{    border: 1px solid #d21a24 ; border-left: 0px;}
.login-bg
{
    display: flex;
        background: linear-gradient(to left top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/SixClouds img/login-background.jpeg");
    /*background-image: url("../images/SixClouds img/login-background.jpeg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.login-bg .login
{
    width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
}
.control-label {
    margin-top: 8px;
}
.form-detail input 
{
    border-radius: 20px!important;
    -webkit-border-radius: 20px!important;
    -ms-border-radius: 20px!important;
    -moz-border-radius: 20px!important;
    -o-border-radius: 20px !important;
}
.radio-checked {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #202020;
    border-radius: 50% !important;
    background-color: #ffffff;
    position: absolute;
    left: 0;
}
.radio-button input:checked ~ .radio-checked:after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #d21a24;
    position: absolute;
    border-radius: 50%;
    top: 3px;
    left: 3px;
}
/*header start*/
.logo img
{
    width: 100px;
}
header ul
{
    padding: 14px 0px;
}
header .nav.navbar-nav a
{
    color: #525355 ;
    transition: all 0.3s linear;
}
header .temp-show-header
{
    display: inline-block;
}
header .temp-show-header .nav.navbar-nav
{
    padding: 12px 0px;
}
header .nav>li>a:focus,header .nav>li>a:hover,header .nav .open>a,header .nav .open>a:focus,header .nav .open>a:hover
{
    background-color: transparent;
    color: #d21a24 !important;
}
header
{
    background-color: #fff;
    width: 100%;
    border-radius: 0px;
    padding: 5px 0px;
    transition: all 0.2s linear;
}
header .navbar
{
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
header .navbar-right .navbar-collapse
{
    float: left;
}
header .navbar-right .after-login
{
    padding:15px;
    float: left;
    top: 3px;
}
header .navbar-right img
{
    width: 40px;
    border-radius: 10px;
}
header .media-body
{
    width: auto;
    vertical-align: middle;
    cursor: pointer;
}
header .navbar-right .dropdown-menu
{
    top: 70px;
    left: 0px;
    border:0px;
    padding: 0px;
    right: 0px;
    box-shadow: 0px 12px 15px 1px #00000014;
    border-radius: 0px;
    min-width: auto !important;
    font-size: 16px;
}
header .navbar-right .after-login .dropdown-menu
{
    top: 80px;
}
header .dropdown-menu > li > a
{
    border-left: 2px solid transparent;
    padding: 10px;
}
header .dropdown-menu
{
    transition: all 0.5s linear;
    position: absolute;
}
header .dropdown-menu > li > a:hover,header .dropdown-menu > li > a:focus {
    text-decoration: none;
    background-color: #f7f7f7;
    border-left: 2px solid #d21a24;
}
header .drop-down-icon {
    margin-left: 5px;
    vertical-align: middle;
    margin-top: 0px;
    font-size: 20px;
}
header .language
{
    padding: 6px 12px;
}
header .dropdown-menu .icon
{
    font-weight:600;
    padding-right: 10px;
}
.checkbox-set
{
    margin: 0px 10px;
}
.checkbox-set .checkbox-btn
{
    width: 30px;
    height: 10px;
    background-color: #ff00004a;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    transition: all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    -webkit-transition:all 0.5s linear;
    -ms-transition:all 0.5s linear;
}
.checkbox-set .checkbox-btn:before
{
    background-color: red;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    content: '';
    top: -3px;
    left: 0px;
    transition: all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
}
.checkbox-set input[type="checkbox"]
{
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 30px;
}
.checkbox-set input[type="checkbox"]:checked + .checkbox-btn:before
{
    left: 15px;
}
.checkbox-section .checkbox-btn {
    position: relative;
    display: inherit;
    display: inline-block;
    width: 14px;
    height: 14px;
    top: 3px;
    margin-right: 5px;
}
.checkbox-section .checkbox-btn input[type="checkbox"] {
    position: absolute;
    left: 0px;
    opacity: 0;
    z-index: 9;
    margin: 0px;
}
.checkbox-section .checkbox-btn .check-box {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    border: 1px solid #ccc;
    left: 0px;
    top: 0px;
    background-color: #fff;
}
.checkbox-section .checkbox-btn input[type="checkbox"]:checked + .check-box:before {
    content: '';
    position: absolute;
    background: #d21a24;
    width: 2px;
    height: 6px;
    top: 4px;
    left: 2px;
    transform: rotate(-23deg);
    -webkit-transform: rotate(-23deg);
    -moz-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    -o-transform: rotate(-23deg);
}
.checkbox-section .checkbox-btn input[type="checkbox"]:checked + .check-box:after {
    content: '';
    position: absolute;
    background: #d21a24;
    /* border: 1px solid #868686; */
    width: 9px;
    height: 2px;
    top: 5px;
    left: 3px;
    transform: rotate(-33deg);
    -webkit-transform: rotate(-33deg);
    -moz-transform: rotate(-33deg);
    -ms-transform: rotate(-33deg);
    -o-transform: rotate(-33deg);
}
.upload-btn
{
    position: relative;
    overflow: hidden;
}
.upload-btn input
{
    position: absolute;
    top: 0;
    font-size: 23px;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.fixed-header
{
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 0px 14px 0px #d1d1d1;
}
.title
{
    font-size: 20px;
    margin-bottom: 40px;
    font-weight:600;
    display: inline-block;
    color: #d21a24;
}
.sub-header
{
    font-size: 16px;
    font-weight: 600;
}
.section
{
    padding: 40px 0px;
}
.content-list>ul>li {
    background-color: #fff;
    padding: 0px 20px;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}
.box-list
{
    display: flex !important;
    justify-content: space-between;
}
.box
{
    margin: auto;
}
.content-list ul li .section {
    flex: 1;
    padding: 20px 0px;
    color: #525355;
    font-size: 15px;
    font-weight: 600;
}
.content-list ul li .name {
    flex: 5;
    padding: 20px 0px;
}
.content-list ul li .video-time {
    flex: 1;
    padding: 20px 0px;
}
.content-list ul li .box-list .left {
    flex: 1;
}
.content-list ul li .box-list .right {
    flex: 1;
    text-align: right;
    position: relative;
}
.content-list ul li .box-list:hover>a,.content-list ul li .box-list.remove>a
{
    color: #d21a24 !important;
}
.my-cases li
{
    position: relative;
    padding:10px 0px !important;
}
.my-cases .case-dec
{
    padding-left: 5px;
}
.my-cases .left-side {
    display: inline-block;
}
.my-cases .icon-dd {
    position: absolute;
    top: -13px;
    right: 40px;
    font-size: 25px;
}
.my-cases .icon-dd .btn
{
    border-radius: 0px 0px 10px 10px;
}
.my-cases img
{
    width: 150px;
}
.left-side li
{
    padding-right: 20px;
    width: 180px;
}
.left-side li i
{
    padding-right: 5px;
    font-size: 18px;
    position: relative;
    top: 2px;
}
.icon-dd .down {
    opacity: 1;
    position: relative;
    top: 0px;
    font-size: 25px;
}
.remove .icon-dd .up {
    opacity: 1;
    z-index: 0;
    color: red;
}
.remove .down
{
    opacity: 0;
}
.icon-dd .up {
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0;
    z-index: -1;
    font-size: 25px;
}
.box-list .form-inline 
{
    padding: 15px 0px;
    display: inline-block;
    width: 100%;
}
.large-input
{
    width: 100% !important;
}
#upload-video .checkbox-set .checkbox-btn
{
    background-color: #afafaf4a;/*#30c2094a*/
}
#upload-video .checkbox-set .checkbox-btn:before 
{
    background-color: #c7c7c7;/*#30c209*/
}
#upload-video .checkbox-set input[type="checkbox"]:checked + .checkbox-btn
{
    background-color: #00800085;
}
#upload-video .checkbox-set input[type="checkbox"]:checked + .checkbox-btn:before
{
    background-color: green;
}
#upload-video .checkbox-set input[type="checkbox"]
{
    top: -2px;
}
/*header end*/
/*ELT-home page start*/
/*ELT-home page end*/
/*ELT-all-transactions page start*/
.content-box .box
{
    padding: 0px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 8px 3px 0px #0000000a;
    background-color: #fff;
    overflow: hidden;
}
.content-box .box .sub-header
{
    background-color: #f4f8fb;
    border-bottom: 1px solid  #e6eff6;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    color: #000;
    margin-bottom: 0px;
    text-align: center;
}
.content-box .box .box-content
{
    padding: 20px;
}
.content-box .box .label-large
{
    font-size: 18px;
    padding: 5px 0px;
    position: relative;
}
.content-box .box .details
{
    padding: 10px 20px;
}
.content-box .box .details .dec
{
    margin-bottom: 10px;
}
.content-box .box .box-btn .btn
{
    margin: 0px 10px;
    padding: 3px 15px !important;
}
.content-box .box .box-btn .btn i
{
    padding-right: 8px;
}
.content-box .box .dlt-btn
{
    position: absolute;
    right: -22px;
    top: 0;
}
.content-box .box .dlt-btn a
{
    border-radius: 10px 0px 0px 10px;
}
.plans .owl-nav
{
    position: absolute;
    display: inline-block;
    font-size: 20px;
    right: 0;
    left: 0;
    text-align: center;
    top: 48%;
}
.plans .owl-nav .owl-prev
{
    margin: 0px 10px;
    position: absolute;
    left: -70px;
    display: inline-block;
}
.plans .owl-nav .owl-next
{
    margin: 0px 10px;
    position: absolute;
    right: -70px;
    display: inline-block;
}
.plans .owl-nav .owl-prev i,.plans .owl-nav .owl-next i
{
    font-weight: 600;
}
.plans #highchart
{
    min-width: 310px; 
    height: 300px; 
    margin: 0 auto;
}
.plans #highchart1
{
    min-width: 310px; 
    height: 300px; 
    margin: 0 auto;
}
.plans #highchart2
{
    min-width: 310px; 
    height: 300px; 
    margin: 0 auto;
}
.plans #highchart3
{
    min-width: 310px; 
    height: 300px; 
    margin: 0 auto;
}
.plans #highchart4
{
    min-width: 310px; 
    height: 300px; 
    margin: 0 auto;
}
.plans #highchart5
{
    min-width: 310px; 
    height: 300px; 
    margin: 0 auto;
}
.all-transactions .table
{  
    border-radius: 5px;
}
.filter
{
    padding: 15px 0px;
}
.filter .form-control
{
    border:1px solid transparent;
}
.filter .form-control:focus
{
    border-color: #d21a24 !important;
    border:1px solid;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th
{
    border: 1px solid #e6eff6;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
    padding: 10px 20px;
}
.table>thead>tr>th
{
    border-bottom: 2px solid #e6eff6;
}
.table>tbody>tr>td
{
    padding: 15px 20px;
    vertical-align: middle;
}
.search-panel
{
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    height: 34px;
}
.search-panel input
{
    background: transparent;
    padding-right: 50px;
    border-color: transparent;
}
.search-panel i
{
    position: absolute;
    right: 0;
    top: 5px;
    border-left: 1px solid #ddd;
    padding: 5px 15px 5px 10px;
    z-index: 0;
}
/*ELT-all-transactions page end*/
/*PR-section*/
.my-cases li {
    border-radius: 10px;
    padding: 15px !important;
    position: relative;
    margin: 10px 0px;
}
.my-cases li .icon span {
    display: inline-block;
    font-size: 70px;
}
.my-cases li .case-dec {
    padding-left: 20px;
}
.my-cases li .left-side {
    display: inline-block;
}
.my-cases li .right-side {
    padding-right: 80px;
}
.my-cases li .right-side li {
    border-radius: 0px;
    padding: 15px 35px !important;
    margin: 0px;
}
.my-cases li .icon-dd {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 25px;
}
.cases .back-lg .icon-dd .btn {
    background-color: green;
}
.cases .back-lg .icon-dd a {
    color: green;
}
.cases .icon-dd .dwnld-file {
    margin-right: 20px;
}
.remove .dwnld-file {
    opacity: 0;
    transition: all 0.3s linear;
}
.dwnld-file {
    opacity: 1;
}
.cases .remove .icon-dd .down {
    opacity: 0;
}
.cases .icon-dd .down {
    opacity: 1;
    position: relative;
    top: 4px;
}
.cases .remove .icon-dd .up {
    opacity: 1;
    z-index: 0;
}
.cases .icon-dd .up {
    position: absolute;
    top: 7px;
    right: 0px;
    opacity: 0;
    z-index: -1;
    color: red;
}
.progress-indicator {
    margin: 0px 100px 0px 0px;
    padding: 0px;
    font-size: 90%;
    display: flex;
    justify-content: space-between;
}
.flexer-element, .progress-indicator>li {
    margin-top: 20px;
}
.progress-indicator>li {
    list-style: none;
    text-align: center;
    width: 23%;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: var(--textgray-reguler);
    display: block;
}
.my-cases li {
    border-radius: 10px;
    padding: 15px;
    position: relative;
    margin: 10px 0px;
}
.progress-indicator>li .bubble {
    border-radius: 50% !important;
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto .5em;
}
.progress-indicator>li .bubble .progress-indicator>li .bubble:after, .progress-indicator>li .bubble:before {
    display: block;
    position: absolute;
    top: 24px;
    width: 100%;
    margin-left: 56%;
    height: 2px;
    content: '';
    background-color: transparent;
    border-top: 1px dashed gray;
}
.progress-indicator>li .bubble:before {
    left: 0;
}
.progress-indicator>li:last-child .bubble:before {
    display: none;
}
.progress-indicator .timeline-details {
    background-color: #9e9e9e14;
    border-radius: 10px;
    padding: 15px 40px;
    margin-top: 20px;
    min-height: 140px;
    position: relative;
}
.case-list {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 15px;
}
.timeline-details .btn
{
    padding: 3px 12px !important;
    margin-top: 10px;
}
.timeline-details .btn-file
{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}
.timeline-details .icon span {
    font-size: 50px !important;
} 
.my-cases .change-btn
{
    position: absolute;
}
.pr-home .border-tp
{
    border-color: #e9e9e9;
}
.case-list li {
    padding-right: 40px;
    padding-left: 5px;
    width: 130px !important;
}
.case-list li b{
    font-size: 16px;
}
.group-btn a {
    margin-right: 20px;
}
.dwnld-file {
    opacity: 1;
}
/*////////////////////////////////////////*/
.special-cases .special-case-header,.sub-title
{
    padding-left: 20px;
    position: relative;
}
.special-cases .special-case-header:before,
.sub-title:before
{
    content: '';
    position: absolute;
    left: 0px;
    top: 5px;
    height: 10px;
    width: 10px;
    background-color: #d21a24;
    border-radius: 50%;
}
/*////////////////////////////////////////*/
.all-accessours .title
{
    position: relative;
}
.all-accessours .title .badge,.badge-sub-title
{
    padding: 9px 0px;
    position: absolute;
    top: -3px;
    margin: 0px 20px;
    font-size: 14px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.all-accessours .my-cases li
{
    border-radius: 5px;
    width: 100%;
    margin-bottom: 30px;
}
.all-accessours .my-cases li .case-dec
{
    padding-left: 0px;
}
.all-accessours .my-cases li .case-dec .img
{
    display: inline-block;
    margin-right: 15px;
    position: relative;
    width: 100px;
    height: 62px;
}
.all-accessours .my-cases li .case-dec img 
{
    width: 100%;
    border-radius: 5px;
    position: absolute;
    top: -30px;
    display: inline-block;
}
.all-accessours .my-cases li .right-side ul
{
    display: flex;
    margin: 0px;
}
.all-accessours .my-cases li .left-side
{
    flex: 3 !important;
    text-align: left !important;
}
.all-accessours .my-cases li .right-side li:first-child
{
    text-align: left;
    border: 0px;
    padding: 0px !important;
}
.all-accessours .my-cases li .right-side li
{
    padding: 0px 15px !important;
    border-right: 1px solid #e7ecf1;
    flex: 1;
}
.all-accessours .my-cases li .right-side .group-btn,.pr-accessor-my-job .my-cases .new-cases li .right-side .group-btn
{
    border-right: none;
    width: 140px;
    padding-left: 15px !important;
}
.pr-accessor-my-job .my-cases li .right-side ul
{
    display: flex;
}
.pr-accessor-my-job .my-cases .new-cases li .right-side .group-btn
{
   padding: 0px 20px !important;
}
.all-accessours .my-cases li .right-side .group-btn a,.pr-accessor-my-job .my-cases li .right-side .group-btn a
{
    display: inline-block;
    width: 100%;
    margin: 2px 0px;
}
.all-accessours .my-cases li .right-side >ul>li>label
{
    min-height: 40px;
}
.daterangepicker.ltr
{
    z-index: 11111;
}
.date 
{
    position: relative;
    background-color: #fff;
    padding: 0px;
}
.date input
{
    border:none !important;
    background-color: transparent !important;
    padding-right: 30px;
}
.date i
{
    position: absolute;
    right: 10px;
    top: 10px;
}
.amount
{
    position: relative;
}
.amount span
{
    position: absolute;
    top: 10px;
    left: 25px;
    z-index: 111;
    color: #ababab;
}
.amount input
{
    padding-left: 25px;
}
/*////////////////////////////////////////*/
.ac-info .all-accessours .user-img
{
    flex: 1;
}
.ac-info .all-accessours .my-cases li .left-side
{
    flex: 20 !important;
    border:none;
}
.ac-info .all-accessours .my-cases li .left-side .group-btn
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    
}
.ac-info .all-accessours .my-cases li .right-side .group-btn a
{
    width: auto;
}
.list-dots-circle > .circle-space{ padding-left: 30px;  }
.list-dots-circle {position: relative;}
.list-dots-circle .circle{    left: 0px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #dedede;
    display: inline-block;
    position: absolute;
    top: 5px;
    z-index: 99999;}


/*PR-section*/

/*radio Button css*/

.radio-button {
    position: relative;
    margin-right: 5px;
}
.radio-button input[type="radio"] {
    opacity: 0;
    z-index: 9999;
    position: relative;
    width: 16px;
    margin-top: 0;
    height: 16px;
    top: 3px;
}
.radio-checked {
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 1px solid #333;
    border-radius: 50%;
    background-color: #f7f7f7;
    position: absolute;
    left: 0;
    top: 0px;
}
.radio-button input[type="radio"]:checked ~ .radio-checked {
    border: 1px solid #333;
}
.radio-button input[type="radio"]:checked ~ .radio-checked:after {
    content: '';
    width: 8px;
    height: 8px;
    background-color:#d21a24;
    position: absolute;
    border-radius: 50%;
    top: 3px;
    left: 3px;
}
 .accessours-pay-info .pay-mode{ display: inline-block;  }
 .accessours-pay-info .account-info ul{ display: flex; }
 .accessours-pay-info .account-info ul li{flex: 1;}
 .accessours-pay-info .account-info ul li:first-child{flex: 6;}
  .accessours-pay-info > li {padding: 15px;}
  .accessours-pay-info .pay-details{margin-bottom: 15px;}
/*///////////////////////////////////////////////////*/
.level .progress-indicator
{
    justify-content: normal;
}
#earnings ul li,.earnings ul li
{
    border-right: 1px solid #e7ecf1;
    border-radius: 0px;
}
.earnings .my-cases ul li
{
    flex: 1;
    padding: 0px 30px!important;
    margin: 20px 0px;
}
#earnings ul li:last-child,.earnings ul li:last-child,.all-designers .case-dec ul li:last-child
{
    border-right: 0px;
}
#team-info a,.team-info a
{
    text-decoration: underline;
    color: #1f83e7;
}
.remove-underline a
{
    text-decoration: none;
    color: inherit;
}
/*////////////////////////////////////////////////////*/
.my-account .details
{
    padding: 30px;
    border-radius: 5px;
    display:inline-block;
    width: 100%;
}
.my-account .profile-section
{
    width: calc(100% - 80%);
    display: inline-block;
}
.my-account .profile-details
{
    width: 80%;
    float: right;
    display: inline-block;
}
.my-account .profile-section .img img
{
    border-radius: 50%;
}
.my-account .profile-section .update-btn
{   
    margin: 15px 0px;
}
.checkbox-content
{
    margin-right: 15px;
}
.admin-team .img
{
    margin-top: 12px;
}
.level .progress-indicator>li .bubble .progress-indicator>li .bubble:after,.level .progress-indicator>li .bubble:before
{
    margin-left: 54%;
}
/*////////////////////////////////////////////////////*/
.video-details .videos, .partition-content .main-content-box {
    width: calc(100% - 340px);
    display: inline-block;
}
.full-box
{
    width: 100% !important;
}
.info-content-box {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
}
.jobs-list .job-content h3, .job-info h3 {
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.marketplace .input-label li, .skill-category > li {
    background-color: #f2f2f2;
    padding: 6px 12px;
    border-radius: 20px;
    display: inline-block;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
    font-weight: 600;
}
.jobs-list .job-details > span, .job-info .job-details > span {
    display: inline-block;
    margin-right: 30px;
}
.jobs-list .job-details > span > label, .job-info .job-details > span > label {
    margin-bottom: 0px;
}
.client-response {
    padding-left: 30px;
}
.client-response .answer {
    padding: 0px 15px;
    position: relative;
}
.client-response h3 {
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.client-response .answer h3 i {
    position: absolute;
    left: -25px;
    top: 0px;
    color: #d21a24;
}
.chat li.receiver {
    background-color: #f7f3f2;
    border-radius: 20px 20px 20px 0px;
    -moz-border-radius: 20px 20px 20px 0px;
    -webkit-border-radius: 20px 20px 20px 0px;
    -ms-border-radius: 20px 20px 20px 0px;
    -o-border-radius: 20px 20px 20px 0px;
}
.chat li {
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #e2e2e2;
    border-radius: 20px 20px 20px 0px;
    -moz-border-radius: 20px 20px 20px 0px;
    -webkit-border-radius: 20px 20px 20px 0px;
    -ms-border-radius: 20px 20px 20px 0px;
    -o-border-radius: 20px 20px 20px 0px;
}
.shortlisted .panel,.all-jobs .panel
{
    width: 100%;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
}
.shortlisted .img
{
    width: calc(100% - 92%);
    display: inline-block;
}
.shortlisted .empolyee-dec
{
    width:85%;
    display: inline-block;
    vertical-align: top;
}
.shortlisted .empolyee-dec .sub-header .badge
{
    position: relative !important;
    top: 0px !important;
    left: 10px;
    background-color: #d21a24 !important;
}
.shortlisted .empolyee-dec .group-btn
{
    padding: 22px 0px;
}
.shortlisted .empolyee-dec .left-side
{
    display: inline-block;
}
.shortlisted .empolyee-dec .left-side > div
{
    margin-top: 5px;
}
.shortlisted .img img
{
    border-radius: 10px;
    width: 70px;
}
.empolyee-dec .icon-dd
{
    top: 35px !important;
    right: 0px !important;
}
.empolyee-dec .icon-dd .up
{
    right: 20px !important;
    top: 2px !important;
}
.shortlisted .info-content-box
{
    box-shadow: none;
    padding: 0px;
    margin-top: 20px;
    position: relative;
    padding-left: 45px;
}
.gallery .box
{
    margin: 0px 10px 5px 0px;
    border-radius: 10px;
    overflow: hidden;
    height: 100px;
    width: 100px;
}
.gallery .box img
{
    width: 100%;
}
.badge-btn
{
    padding-right: 35px !important;
}
.badge-circle {
    border-radius: 50%;
    padding: 0px;
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 4px 0px;
    position: absolute !important;
    top: 5px !important;
    right: 6px;
    background-color: #e6eff6 !important;
}
.all-jobs .nav-tabs
{
    display: inline-block;
    top: 7px;
    left: 20px;
    position: relative;
}
.all-jobs .right-side li
{
    border-right: none !important;
    border-left: 1px solid #e7ecf1;
    margin: 8px 0px;
    padding: 0px 25px !important;
    border-radius: 0px;
}
.video-details .next-videos, .partition-content .sidebar-content {
    width: calc(320px);
    float: left;
}
.video-details .videos, .partition-content .main-content-box {
    width: calc(100% - 340px);
    display: inline-block;
    float: right;
}
.white-box {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
}
.client-dl-info img {
    width: 100px;
}
.client-dl-info .img img {
    margin: auto;
}
.sidebar-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 17px;
    margin-top: 0px;
}
.img .icon
{
    font-size: 100px;
}
.client-profile li
{
    padding: 0px 35px 0px 20px !important;
    margin: 0px;
    border-left:1px solid #e7ecf1;
    border-radius: 0px;
}
.reviews-list li .rating i,.star {
    color: #e6cc29;
}
.client-profile li:first-child,.designer .skill span:first-child
{
    border:none;
    padding-left: 0px !important;
}
.client .main-content-box .white-box
{
    margin-bottom: 10px;
}
.client-profile.box-list li
{
    padding: 0px 0px 0px 10px !important;
}
.designer .skill span
{
    padding: 0px 5px;
    border-left: 1px solid #e7ecf1;
}
.designer .history label
{
    width: 60px;
}
.reviews-list li {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.reviews-list li .reviewer-heading {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}
.reviews-list li .reviews-detils {
    margin-bottom: 10px;
}
.reviews-list li .reviews-detils > span {
    margin-right: 15px;
}
.reviews-list li .reviews-msg {
    border: 1px solid #dedede;
    padding: 10px;
    border-radius: 10px;
}
.reviews-list li .reviews-msg .msg-img {
    width: 65px;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    overflow: hidden;
}
.reviews-list li .reviews-msg .reviews-msg-content {
    width: calc(100% - 75px);
    display: inline-block;
    padding-left: 15px;
}
.reviews-list li .reviews-msg .reviews-msg-content .name > .reviews-name {
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}
.project-list ul li {
    margin-bottom: 20px;
    width: 32%;
}
.project-list ul li .project-content {
    background-color: #fff;
    border-radius: 10px !important;
    overflow: hidden;
}
.project-list ul li .project-content .desc {
    padding: 10px;
    border-top: 1px solid #f5f5f5;
}
.jobs-list ul, .project-list ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project-list ul li .project-content .desc .rating i {
    color: #e6cc29;
}
.project-list ul li .project-content .desc .share i {
    color: #a2a2a2;
    font-size: 18px;
}
.badge-sub-title
{
    background-color: #fff;
    color: #525355;
    padding: 7px 0px;
    height: 25px;
    width: 25px;
    margin: 0px 7px;
}
.designer .sub-title
{
    margin: 30px 0px;
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover
{
   background-color: #d21a24;
   border-color: #d21a24;
   color: #fff !important;
   text-decoration: none !important;
}
.pagination>li:first-child>a, .pagination>li:first-child>span,.pager li>a, .pager li>span
{
    border-radius: 0px;
    text-decoration: none !important;
}
.pagination li
{
    padding: 0px !important;
    margin: 0px !important;
}
.pagination li>a
{
    background-color: transparent;
    border: 0px;
    padding: 4px 5px;
    color: #525355;
}
.pagination li>a i
{
    font-size: 20px;
}
.pagination-section .status
{
    padding-right: 10px;
    display: inline-block;
}
.pager li>a:hover
{
    background-color: transparent;
    color: #d21a24;
}
section.all-designers .img
{
    width: 70px !important;
    position: inherit !important;
    height: inherit !important;
}
section.all-designers .img img
{
    position: inherit !important;
    top: 0px !important;
}
section.all-designers .my-cases li .right-side >ul>li>label
{
    min-height: inherit;
}
section.all-designers .my-cases .case-dec .right-side li.user-img
{
    flex: 0 !important
}
section.all-designers .my-cases .case-dec .right-side .designer-img
{
    flex: 2 !important;
}
section.all-designers .my-cases .case-dec .right-side li
{
    flex: 1 !important;
}
.team-info .remove-underline a
{
    font-weight: 600;
}
.admin-team-table .table tr td:last-child,.admin-team-table .table tr th:last-child
{
    border-left: 0px;
}
.admin-team-table .img,.pr-accessor-my-job .img
{
    height: 40px;
    width: 40px;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}
.admin-team-table .img img,.pr-accessor-my-job .img img
{
    width: 100%;
}
.admin-team-table .table tr td:nth-last-child(2),.admin-team-table .table tr th:nth-last-child(2)
{
    border-right: 0px;
}
.admin-team-table .img~a,.pr-accessor-my-job .img~a
{
    padding: 13px 0px;
    display: inline-block;
    vertical-align: top;
}
.admin-team-table .table>tbody>tr>td,.pr-accessor-my-job #team-info .table>tbody>tr>td
{
    padding: 7px 20px;
}
/*End Radio buttom css*/
/*media query*/
@media screen and (max-width: 1199px)
{
}
@media screen and (max-width: 1024px)
{
}
@media screen and (max-width: 991px)
{
}
@media screen and (max-width: 767px)
{
}
@media screen and (max-width: 480px)
{
    .logo img
    {
        width: 90px;
    }
    .login .title
    {
        font-size: 18px;
    }
    .btn-sm
    {
        padding: 3px 20px !important;
    }
    .login-bg .login
    {
        width: 300px;
        padding: 20px;
    }
}