/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 Dec, 2017, 6:40:23 PM
    Author     : Komal Kapadi <komal@creolestudios.com>
*/

.img-width-44{
    width:44%;
}
.active-case, .parent-accessor{
	display: none;
}
.cancel_btn{
	display: inline-block;
}
.validation-form .form-group{ position: relative; }
.validation-form .form-group .help-block{    position: absolute !important;
                                             background-color: #e80915;
                                             bottom: -25px;
                                             top: inherit;
                                             right: 0px;
                                             left: inherit;
                                             color: #fff !important;
                                             z-index: 999;}
.validation-form .form-group  .help-block:before{content: '';
                                                 border: 5px solid #e80915;
                                                 position: ABSOLUTE;
                                                 border-left: 5px solid transparent;
                                                 border-top: 5px solid transparent;
                                                 border-right: 5px solid transparent;
                                                 top: -10px;
                                                 right: 4px;}
.validation-form .form-group  .help-block{    color: #fff !important;
                                              margin: 0px;
                                              padding: 2px 8px;
                                              font-size: 12px;}
.validation-form .form-group   .errorImage{display: none !important;}