body {
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #323232;
	background: #f2f2f2;
}
h1, h2, h3, h4, h5 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
img {
	max-width: 100%;
	height: auto;
}
.circle {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.bold {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;
}
.red-bg {
	background: #ee7514;
	color: #fff;
}
.green-bg {
	background: #1478e8;
	color: #fff;
}
.blue-bg {
	background: #1dae35;
	color: #fff;
}
.no-radius {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.color-purple {
	color: #8972f0 !important;
}
.desktop-hide {
	display: none !important;
}
.container {
	max-width: 1300px;
	width: 100%;
}
.body-div {
	/*overflow: hidden*/
}
/*Button css Start*/
.uppercase {
	text-transform: uppercase;
}
.btn:focus {
	box-shadow: none !important;
}
a.btn, a {
	border: none;
	outline: none;
}
.btn {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 30px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	padding-left: 15px;
	padding-right: 15px;
	border: none;
	outline: none;
}
.btn-purple {
	background: #9f9fd6 !important;
	color: #fff !important;
}
.btn-purple:hover {
	background: #6e55c1 !important;
	color: #fff !important;
}
.btn-light-purple {
	background: #9f9fd6 !important;
	color: #fff !important;
}
.btn-light-purple:hover {
	background: #9191c3 !important;
	color: #fff !important;
}
.btn-pink {
	background: #f67599 !important;
	color: #fff !important;
}
.btn-pink:hover {
	background: #eb6187 !important;
	color: #fff !important;
}
.btn-light-red {
	background: #feb9ad !important;
	color: #000 !important;
}
.btn-light-red:hover {
	background: #ea9485 !important;
	color: #000 !important;
}
.btn-red {
	background: #f84c24 !important;
	color: #fff !important;
}
.btn-red:hover {
	background: #e6340b !important;
	color: #fff !important;
}
.btn-green {
	background: #69d753 !important;
	color: #fff !important;
}
.btn-green:hover {
	background: #23a109 !important;
	color: #fff !important;
}
.btn-light-purple {
	background: #e8e3ff !important;
	color: #141414 !important;
}
.btn-light-purple:hover {
	background: #8972f0 !important;
	color: #fff !important;
}
.btn-white {
	background: #ffffff !important;
	color: #8a75d0 !important;
}
.btn-white:hover {
	background: #ffffff !important;
	color: #8a75d0 !important;
}
/*Button css END*/

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #141414;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
 color: #141414;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
 color: #141414;
}
.form-control:-moz-placeholder { /* Firefox 18- */
 color: #141414;
}
/*panel Block css Start*/
.panel-block {
	margin-bottom: 20px;
	background: none;
	border: none;
	box-shadow: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}
.panel-block .panel-body {
	padding: 0;
	border: none;
	box-shadow: none;
}
.panel-block .panel-title {
	color: #454545;
	font-size: 20px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0
}
.panel-block .panel-title .active-page {
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	text-transform: capitalize;
	margin-left: 15px;
}
.panel-block .panel-title .active-page .icon-arrow {
	font-size: 21px;
	line-height: 14px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -3px;
	margin-right: 3px;
}
.panel-block .panel-title .number-text {
	width: 25px;
	height: 25px;
	background: #8972f0;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 25px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-left: 25px;
}
.panel-block .panel-heading {
	background: #fff;
	padding: 15px 25px;
	margin-bottom: 1px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.panel-block .content-div {
	background: #fff;
	padding: 15px 25px;
	color: #454545;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	margin-bottom: 1px;
	font-size: 12px;
}
.panel-block .content-div.padding15All {
	padding: 15px;
}
.panel-block .content-div h4 {
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #141414;
	line-height: 18px;
	margin-top: 0;
}
.panel-block .content-div .date-div {
	color: #141414;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	line-height: 18px;
	font-size: 12px;
	margin-bottom: 10px;
}
.panel-block .content-div .date-div .fa {
	margin-right: 10px;
	font-size: 14px;
}
.panel-block .content-div .right-div {
	text-align: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	height: 100%;
	min-height: 100%;
}
.panel-block .content-div .alert-div {
	color: #ed7154;
	font-size: 12px;
	padding: 0 0 10px 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.panel-block .content-div .alert-div .fa {
	font-size: 20px;
	margin-right: 5px;
}
.panel-block .content-div .right-div .btn {
	min-width: 160px;
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	height: 33px;
	line-height: 18px;
}
.panel-block .content-div .border-left {
	border-left: 2px solid #e3eefd !important;
}
.panel-block .content-div .right-div h6 {
	margin: 0;
	color: #141414;
	font-size: 12px;
	margin-bottom: 7px;
	text-transform: uppercase;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.panel-block .content-div .btn-link {
	color: #7c81af;
	text-decoration: underline;
}
.panel-block .content-div .right-div .btn-link {
	color: #7c81af;
	text-decoration: none;
}
.panel-block .media table {
	margin-bottom: 10px;
	color: #141414;
	font-size: 12px;
}
.panel-block .media table .sm-pic {
	width: 40px;
}
.panel-block .content-div .media .date-div {
	margin-bottom: 0;
}
.panel-block .content-div .media .date-div .fa {
	margin-right: 5px;
}
.panel-block .media .mr-3 {
	margin-right: 2.5rem !important;
}
/*panel Block css End*/

.btn .fa.lg-icon {
	font-size: 20px;
	margin-top: -4px;
	position: relative;
	top: 1px;
	margin-right: 3px;
	vertical-align: middle;
}
.flax-table {
	text-align: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: left;
}
.display-table {
	display: table;
	width: 100%;
}
.table-cell {
	display: table-cell;
	vertical-align: middle;
	float: none;
}
.page-heading h2 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #454545;
}
#main {
	padding: 20px;
	min-height: 500px;
}
.main-menu .navbar-brand {
	padding: 0;
	display: none
}
.main-menu .navbar-default {
	border: none;
	box-shadow: none;
	background: none
}
.main-menu .navbar {
	margin: 0;
	min-height: inherit
}
.main-menu .nav > li > a {
	padding: 7px 15px;
	color: #fff;
	background: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;
	outline: none;
	text-shadow: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.main-menu .navbar-default .navbar-nav > .active > a, .main-menu .nav > li > a:hover {
	color: #444444;
	box-shadow: none;
	background: #fff;
}
.navbar-default .navbar-brand {
	display: none;
}
header {
	background: #f67599;
	padding: 15px 0;
}
header .display-table {
	height: 65px;
}
.container {
	max-width: 100%;
	width: 100%;
}
.dropdown.head-right-dropdown {
	float: right;
	width: 150px;
}
.dropdown.head-right-dropdown button {
	display: block;
	width: 100%;
	background: none;
	border: none;
	color: #fff;
	outline: none;
}
.dropdown.head-right-dropdown .caret {
	margin-left: 15px;
	border-top: 6px solid #fff;
	border-right: 6px solid transparent;
	border-bottom: 0 dotted;
	border-left: 6px solid transparent;
}
.body-with-sidebar {
	padding-left: 210px;
}
.left-sidebar-menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 210px;
	background: #fff;
	height: 100%;
	overflow: auto;
	box-shadow: 0 0 55px rgba(0,0,0, 0.2);
	z-index: 9999999
}
.left-sidebar-menu .logo {
	padding: 15px;
	text-align: center;
}
.left-sidebar-menu .menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 20px;
}
.left-sidebar-menu .menu-list li a {
	display: block;
	padding: 11px 15px;
	font-size: 14px;
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif !important;
	font-weight: 500;
	color: #454545;
	text-decoration: none;
	border-right: 5px solid #fff;
}
.left-sidebar-menu .menu-list li.active a, .left-sidebar-menu .menu-list li:hover a {
	background: #ffe8ee;
	border-color: #f67599;
	color: #f67599;
}
.white-panel-div {
	padding: 20px;
	background: #fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 2px;
	color: #7c81af;
	font-size: 12px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif !important;
	font-weight: 500;
}
.white-panel-div p:last-child {
	margin-bottom: 0
}
.white-panel-div p {
	margin-bottom: 10px;
}
.white-panel-div.mb10 {
	margin-bottom: 10px;
}
.white-panel-div h4 {
	font-size: 14px;
	color: #454545;
	margin: 0;
	margin-bottom: 5px;
}
/* Style the tab content */
.tabcontent {
	display: none;
}
.all-jobs-section .page-heading>h2 {
	margin-bottom: 30px;
}
.all-jobs-section .Disputeslinks {
	float: right;
	margin-right: 0;
	background: #feb9ad;
	padding-left: 12px;
	padding-right: 12px;
	position: relative;
	box-shadow: none;
	display: inline-block;
	height: 30px;
	line-height: 19px;
}
.all-jobs-section .Disputeslinks.active {
	background: #ed3939;
	color: #fff;
}
.all-jobs-section .Disputeslinks .alert-span {
	font-size: 11px;
	width: 19px;
	height: 19px;
	display: inline-block;
	margin: -2px 0;
	margin-right: -0;
	margin-left: 5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	text-align: center;
	line-height: 19px;
	background: #ed3838;
	color: #fff;
	vertical-align: middle;
	position: relative;
}
.all-jobs-section .Disputeslinks.active .alert-span {
	background: #fff;
	color: #ed3838;
}
.all-jobs-section .tab-div {
	font-size: 0;
	border: 1px solid #cdcdcd;
	display: inline-block;
	font-size: 0
}
.all-jobs-section .tab-div .btn {
	margin-right: 0;
	background: #ede8fe;
	padding-left: 12px;
	padding-right: 12px;
	position: relative;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-right: 1px solid #cdcdcd;
	box-shadow: none;
	display: inline-block;
	height: 30px;
	line-height: 19px;
	font-weight: normal;
}
.all-jobs-section .tab-div .btn.active {
	background: #8a75d0;
	color: #fff;
}
.all-jobs-section .tab-div .btn .alert-span {
	font-size: 11px;
	width: 19px;
	height: 19px;
	display: inline-block;
	margin: -2px 0;
	margin-right: -0;
	margin-left: 5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	text-align: center;
	line-height: 20px;
	background: #ffffff;
	color: #8a75d0;
	vertical-align: middle;
	position: relative;
	top: -1px;
}
.all-jobs-section .tab-div .btn:last-child {
	border: none;
}
.all-jobs-section .b-left {
	border-left: 1px solid #dedede;
}
.all-jobs-section .filter-div label {
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif !important;
	font-weight: 500;
	font-size: 14px;
	display: block;
	padding-top: 3px;
}
.f-search-div {
	position: relative;
}
.f-search-div .form-control {
	height: 40px;
	padding-left: 50px;
	color: #141414;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif !important;
	font-weight: 500;
}
.f-search-div .search-icon {
	position: absolute;
	height: 53%;
	border-right: 1px solid #dedede;
	display: block;
	width: 40px;
	text-align: center;
	line-height: 20px;
	font-size: 20px;
	color: #dedede;
	left: 0;
	top: 10px;
}
/*All job page CSS Start*/
.all-jobs-section .white-panel-div .cName {
	font-size: 14px;
	color: #1478e8;
	text-decoration: underline;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;
}
.all-jobs-section .white-panel-div p.date-time-p {
	margin: 0
}
.all-jobs-section .white-panel-div .time-div {
	margin-left: 10px;
}
.post-info-list {
	margin: 0;
	list-style: none;
	font-size: 0;
	padding: 0
}
.post-info-list li {
	display: inline-block;
	font-size: 12px;
	width: 50%;
	padding: 1px 10px;
	border-left: 1px solid #dedede;
	margin-bottom: 10px;
	vertical-align: top;
}
.post-info-list li.bm-none {
	margin-bottom: 0
}
.post-info-list li .ci {
	margin-right: 8px;
	font-size: 16px;
	vertical-align: middle;
	position: relative;
	top: -0;
}
.post-info-list li span {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	color: #141414;
	margin-left: 5px;
}
.post-info-list li span.price {
	color: #141414;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif !important;
	font-weight: 500;
	margin-left: 0
}
.all-jobs-section .btn {
	font-size: 14px;
}
.active-job-head {
	margin: 0;
	padding: 0;
	list-style: none;
}
.active-job-head li {
	float: left;
	width: 25%;
	padding: 15px;
}
.active-job-head li .inner-div {
	background: #1478e8;
	color: #fff;
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
}
.active-job-head li .inner-div h3 {
	margin: 0;
	font-size: 20px;
	padding-top: 5px;
}
.active-job-head li .inner-div .icon-td {
	font-size: 25px;
	text-align: right;
}
.active-job-head li .inner-div .right-sm-text {
	text-align: right;
}
.active-job-head li .inner-div .right-sm-text .fa {
	margin-right: 10px;
}
.active-job-head li.green-box .inner-div {
	background: #1dae35
}
.active-job-head li.red-box .inner-div {
	background: #eb371f
}
/*All job page CSS End*/

/*pagination CSS Start*/
.pagination-div {
	color: #323232;
	margin: 15px 0;
}
.pagination-div ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	font-size: 0
}
.pagination-div ul li {
	display: inline-block;
	vertical-align: middle;
}
.pagination-div ul li a {
	width: 26px;
	height: 26px;
	display: block;
	position: relative;
	line-height: 26px;
	font-size: 12px;
	text-decoration: none;
	color: #323232;
	text-align: center;
}
.pagination-div ul li.active a {
	color: #f67599;
}
.pagination-div ul li.prev a, .pagination-div ul li.next a {
	display: inline-block;
	cursor: pointer;
	width: 28px;
	height: 28px;
	position: relative;
	font-size: 18px;
	vertical-align: middle;
	margin: 0 5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #f67599;
	text-align: left;
	color: #fff;
	text-decoration: none;
	line-height: 28px;
}
.pagination-div ul li.prev a {
	text-align: right;
}
.pagination-div .number-div {
	display: inline-block;
	vertical-align: middle;
}
.pagination-div ul li.prev a:hover, .pagination-div ul li.next a:hover {
	background: #ea698d !important;
	color: #fff !important;
}
/*pagination CSS End*/


/* Base for label styling */
.custom-checkbox {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px;
}
.custom-checkbox label {
	position: relative;
	margin: 0;
	display: block;
	min-width: 76px;
	padding: 5px 10px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	font-size: 12px;
	background: #e8e3ff;
}
.custom-checkbox [type="checkbox"]:not(:checked), .custom-checkbox [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
.custom-checkbox [type="checkbox"]:not(:checked) + label {
	position: relative;
	cursor: pointer;
	left: 0;
	width: 100%;
	height: 100%;
	top: 0;
}
.custom-checkbox [type="checkbox"]:checked + label {
	color: #fff;
	background: #63c35e;
}
/* checked mark aspect changes */
.custom-checkbox [type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
.custom-checkbox [type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
.custom-checkbox [type="checkbox"]:disabled:not(:checked) + label:before, .custom-checkbox [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
.custom-checkbox [type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
.custom-checkbox [type="checkbox"]:disabled + label {
	color: #aaa;
}
/* Base for label styling */
.custom-checkbox2 label {
	margin: 0;
}
.custom-checkbox2 [type="checkbox"]:not(:checked), .custom-checkbox2 [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
.custom-checkbox2 [type="checkbox"]:not(:checked) + label, .custom-checkbox2 [type="checkbox"]:checked + label {
	position: relative;
	padding-left: 40px;
	cursor: pointer;
	color: #7c81af;
	font-size: 12px;
	line-height: 25px;
}
/* checkbox aspect */
.custom-checkbox2 [type="checkbox"]:not(:checked) + label:before, .custom-checkbox2 [type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 25px;
	background: #e8e3ff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.custom-checkbox2 [type="checkbox"]:checked + label:before {
	background: #92e786;
}
/* checked mark aspect */
.custom-checkbox2 [type="checkbox"]:not(:checked) + label:after, .custom-checkbox2 [type="checkbox"]:checked + label:after {
	content: '✔';
	position: absolute;
	top: 0.5em;
	left: .5em;
	line-height: 0.8;
	color: #fff;
	transition: all .2s;
	font-size: 14px;
}
/* checked mark aspect changes */
.custom-checkbox2 [type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
.custom-checkbox2 [type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
.custom-checkbox2 [type="checkbox"]:disabled:not(:checked) + label:before, .custom-checkbox2 [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
.custom-checkbox2 [type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
.custom-checkbox2 [type="checkbox"]:disabled + label {
	color: #aaa;
}
/* accessibility */
.custom-checkbox2 [type="checkbox"]:checked:focus + label:before, .custom-checkbox2 [type="checkbox"]:not(:checked):focus + label:before {
}
/* Base for label styling */
.custom-checkbox1 label {
	margin: 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.custom-checkbox1 [type="checkbox"]:not(:checked), .custom-checkbox1 [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
.custom-checkbox1 [type="checkbox"]:not(:checked) + label, .custom-checkbox1 [type="checkbox"]:checked + label {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	color: #000000;
	font-size: 12px;
	line-height: 23px;
}
/* checkbox aspect */
.custom-checkbox1 [type="checkbox"]:not(:checked) + label:before, .custom-checkbox1 [type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 22px;
	height: 22px;
	background: #fff;
	border: 1px solid #b2b2b2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/* checked mark aspect */
.custom-checkbox1 [type="checkbox"]:not(:checked) + label:after, .custom-checkbox1 [type="checkbox"]:checked + label:after {
	content: '✔';
	position: absolute;
	top: 0.4em;
	left: .4em;
	line-height: 0.8;
	color: #8fbd92;
	transition: all .2s;
	font-size: 14px;
}
/* checked mark aspect changes */
.custom-checkbox1 [type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
.custom-checkbox1 [type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
.custom-checkbox1 [type="checkbox"]:disabled:not(:checked) + label:before, .custom-checkbox1 [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
.custom-checkbox1 [type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
.custom-checkbox1 [type="checkbox"]:disabled + label {
	color: #aaa;
}
/* accessibility */
.custom-checkbox1 [type="checkbox"]:checked:focus + label:before, .custom-checkbox1 [type="checkbox"]:not(:checked):focus + label:before {
}
.custom-radio1 [type="radio"]:checked, .custom-radio1 [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
.custom-radio1 [type="radio"]:checked + label, .custom-radio1 [type="radio"]:not(:checked) + label {
	position: relative;
	padding-left: 40px;
	cursor: pointer;
	color: #7c81af;
	font-size: 12px;
	line-height: 25px;
}
.custom-radio1 [type="radio"]:checked + label:before, .custom-radio1 [type="radio"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 25px;
	background: #e8e3ff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.custom-radio1 [type="radio"]:checked + label:before {
	background: #92e786;
}
.custom-radio1 [type="radio"]:checked + label:after, .custom-radio1 [type="radio"]:not(:checked) + label:after {
	content: '✔';
	position: absolute;
	top: 0.5em;
	left: .5em;
	line-height: 0.8;
	color: #fff;
	font-size: 14px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.custom-radio1 [type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.custom-radio1 [type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.custom-radio2 [type="radio"]:checked, .custom-radio2 [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
.custom-radio2 [type="radio"]:checked + label, .custom-radio2 [type="radio"]:not(:checked) + label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	color: #7c81af;
	font-size: 12px;
	line-height: 15px;
}
.custom-radio2 [type="radio"]:checked + label:before, .custom-radio2 [type="radio"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	background: none;
	border: 1px solid #e8e3ff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.custom-radio2 [type="radio"]:checked + label:before {
	border-color: #63c35e;
}
.custom-radio2 [type="radio"]:checked + label:after, .custom-radio2 [type="radio"]:not(:checked) + label:after {
	content: '✔';
	position: absolute;
	top: 0.4em;
	left: .4em;
	line-height: 0.8;
	color: #63c35e;
	font-size: 10px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.custom-radio2 [type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.custom-radio2 [type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.custom-radio3 [type="radio"]:checked, .custom-radio3 [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
.custom-radio3 [type="radio"]:checked + label, .custom-radio3 [type="radio"]:not(:checked) + label {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	color: #454545;
	font-size: 12px;
	line-height: 20px;
	margin-right: 30px;
}
.custom-radio3 [type="radio"]:checked + label:before, .custom-radio3 [type="radio"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	background: none;
	border: 1px solid #b4b4b4;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.custom-radio3 [type="radio"]:checked + label:after, .custom-radio3 [type="radio"]:not(:checked) + label:after {
	content: '';
	position: absolute;
	top: 0.6em;
	left: .6em;
	line-height: 0.8;
	color: #63c35e;
	font-size: 10px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	width: 8px;
	height: 8px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	display: block;
	background: #f6799c;
}
.custom-radio3 [type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.custom-radio3 [type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.mob-menu-sidebar {
	display: none;
}
.close-sidebar-menu {
	position: absolute;
	right: 10px;
	font-size: 26px;
	top: 2px;
	color: #f67599;
}
.tab-div {
	display: inline-block;
	font-size: 0;
	border: 1px solid #cdcdcd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 25px;
	overflow: hidden;
}
.tab-div .btn {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #ede8fe;
	box-shadow: none;
	font-size: 16px;
	height: 30px;
	padding-left: 12px;
	padding-right: 12px;
	border-right: 1px solid #cdcdcd;
	cursor: pointer;
}
.tab-div .btn:last-child {
	border: none;
}
.tab-div .btn.active {
	background: #8a75d0 !important;
	color: #fff;
}
.tags-div {
	font-size: 0;
	margin-bottom: 30px;
}
.tags-div .btn {
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	background: #63c35e;
	color: #fff;
	font-size: 14px;
	height: 26px;
	padding: 3px 10px;
	margin-right: 20px;
}
/*Project Details CSS*/
.project-details-section .project-id {
	font-size: 16px;
	margin-left: 10px;
}
.project-details-section h3 {
	font-size: 16px;
	color: #454545;
	margin: 0;
	margin-top: 10px;
}
.project-details-section .bownload-btn .btn {
	margin: 10px 0;
	height: 30px;
	line-height: 19px;
}
.project-details-section .time-line {
	margin-top: 15px;
}
.project-details-section .left-line {
	border-left: 2px solid #eae9e9;
	min-height: 135px;
	font-size: 14px;
}
.project-details-section .category-title {
	margin-top: 30px;
}
.project-details-section .buyer-pic {
	white-space: nowrap;
	display: table;
	margin-bottom: 15px;
	margin-top: 10px;
	text-align: center;
}
.project-details-section .invited-on {
}
.project-details-section .invited-on .fa {
	margin-right: 10px;
}
.project-details-section .tags-div .btn {
	font-size: 12px;
}
.project-details-section .cancle-project-bottom {
	font-size: 14px;
}
.project-details-section .cancle-project-bottom .btn {
	height: 30px;
	line-height: 19px;
}
.project-details-section .cancle-project-bottom .btn.btn-light-red {
	margin-top: 30px;
}
.project-details-section #MessagesTab .panel-body {
	padding: 0
}
.project-details-section .bt-div {
	font-size: 14px;
}
.project-details-section .project-post-date strong {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;
	color: #454545;
	font-size: 14px;
}
.project-details-section .project-post-date {
	margin-bottom: 28px;
}
.project-details-section .designer-suggestions-div {
	margin-top: 20px;
	max-width: 980px;
}
.project-details-section .designer-suggestions-div .bottom-div {
	text-align: center;
}
.project-details-section .designer-suggestions-div .bottom-div strong {
	font-size: 14px;
	color: #454545;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
}
.project-details-section .designer-suggestions-div .bottom-div .fa {
	font-size: 20px;
	vertical-align: middle;
	color: #63c35e;
	position: relative;
	top: -2px;
}
.project-details-section .designer-suggestions-div .bottom-div p {
	margin-bottom: 5px;
}
.timeline-info-list {
	margin: 25px 0;
	padding: 0;
	list-style: none;
	border: 1px solid #d7d6d6;
}
.timeline-info-list li {
	padding: 15px 20px;
	border-bottom: 1px solid #d7d6d6;
	font-size: 14px;
}
.timeline-info-list li:nth-child(2n+2) {
	background: #f6f7fd;
}
.timeline-info-list li:last-child {
	border-bottom: none;
}
.timeline-info-list li strong {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.timeline-info-list .right-div {
	text-align: right;
	color: #454545;
}
.timeline-info-list .right-div .price {
	display: inline-block;
	vertical-align: middle;
	min-width: 90px;
	text-align: left;
}
.timeline-info-list .icon-div {
	display: inline-block;
	vertical-align: middle;
	min-width: 30px;
	text-align: left;
	font-size: 18px;
}
.timeline-info-list .icon-div.green {
	color: #63c35e;
}
.timeline-info-list .icon-div.red {
	color: #eb3820;
}
.timeline-info-list .icon-div.sm-icon {
	font-size: 13px;
}
.project-details-section .rating-info p {
	font-size: 14px;
}
.project-details-section .rating-info p strong {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.project-details-section .rating-info table {
	width: 80%;
	margin-bottom: 20px;
	font-size: 14px;
}
.project-details-section .rating-info table td {
	padding: 5px 10px;
	padding-right: 0
}
.project-details-section .rating-info table th {
	padding: 5px 0;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	color: #454545;
}
.project-details-section .rating-div {
	font-size: 15px;
}
.project-details-section .rating-info .overall-rating {
	text-align: center;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #454545;
	border-left: 2px solid #eae9e9;
}
.project-details-section .rating-info .overall-rating>div {
	padding: 40px 0;
}
.project-details-section .rating-info .overall-rating h2 {
	font-size: 30px;
	margin: 0;
	margin-top: 5px;
}
/*Project Details CSS END*/



/*message board CSS Start*/
.message-board-section .head-winner-selected {
	font-size: 14px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #141414;
}
.message-board-section .head-winner-selected .fa {
	font-size: 25px;
	color: #8a75d0;
	margin-right: 10px;
	vertical-align: middle;
}
.project-info-section .panel-block .content-div .btn-link {
	text-decoration: none;
}
.chat-box {
	position: relative;
	padding: 10px;
	padding-left: 70px;
	padding-right: 60px;
	border: 1px solid #8972f0;
}
.chat-box .file-upload {
	position: absolute;
	left: 0;
	top: 0;
	width: 70px;
	height: 100%;
	overflow: hidden;
	text-align: center;
	line-height: 100%;
	line-height: 53px;
	font-size: 32px;
	color: #8972f0;
	cursor: pointer;
}
.chat-box .file-upload input {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Netscape */
	-moz-opacity: 0;
	/* Safari 1.x */
	-khtml-opacity: 0;
	/* Good browsers */
	opacity: 0;
	cursor: pointer;
}
.chat-box .btn {
	position: absolute;
	right: 0;
	top: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 50px;
	height: 88%;
	margin: 3px;
	font-size: 22px;
	padding: 0
}
.chat-box .form-control {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
	border-left: 1px solid #e3e3e3;
	padding-left: 25px;
}
.chat-list {
	margin: 15px 0;
	padding: 0;
	list-style: none;
}
.chat-list li {
	position: relative;
	margin: 35px 0;
	color: #7c81af;
}
.chat-list li.admin {
	padding-left: 72px;
	padding-right: 72px;
}
.chat-list li.admin .msg-div {
	width: 100%;
	background: #f7f5fd;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.chat-list li.admin .name {
	color: #454545;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	float: left;
}
.chat-list li.admin .date {
	float: right;
}
.chat-list li .pic-div {
	position: absolute;
	top: 0;
	right: 0;
}
.chat-list li.right {
	padding-right: 72px;
	text-align: right;
}
.chat-list li.right .pic-div {
	right: 0;
}
.chat-list li .msg-div {
	-moz-border-radius-topleft: 30px;
	-webkit-border-top-left-radius: 30px;
	border-top-left-radius: 30px;
	-moz-border-radius-topright: 1px;
	-webkit-border-top-right-radius: 1px;
	border-top-right-radius: 1px;
	-moz-border-radius-bottomright: 30px;
	-webkit-border-bottom-right-radius: 30px;
	border-bottom-right-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	-webkit-border-bottom-left-radius: 30px;
	border-bottom-left-radius: 30px;
	background: #e2ddfa;
	padding: 20px 25px;
	width: 75%;
	display: inline-block;
	text-align: left;
}
.chat-list li .name {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.chat-list li.right .name {
	float: right;
}
.chat-list li.right .date {
	float: left;
}
.chat-list li .c-div {
	margin-top: 10px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.chat-list li .c-div a {
	text-decoration: underline;
	color: #1478e8;
}
.chat-list li .dot-icon {
	width: 12px;
	height: 12px;
	z-index: 2;
	display: block;
	position: absolute;
	right: 0;
	background: #d7d7d7;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.chat-list li .dot-icon.online {
	background: #76de29;
}
.chat-list li.left {
	padding-left: 72px;
	padding-right: 0;
	text-align: left;
}
.chat-list li.left .msg-div {
	-moz-border-radius-topleft: 1px;
	-webkit-border-top-left-radius: 1px;
	border-top-left-radius: 1px;
	-moz-border-radius-topright: 30px;
	-webkit-border-top-right-radius: 30px;
	border-top-right-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-webkit-border-bottom-right-radius: 30px;
	border-bottom-right-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	-webkit-border-bottom-left-radius: 30px;
	border-bottom-left-radius: 30px;
	background: #f7f5fd;
}
.chat-list li.left .pic-div {
	left: 0;
	right: auto;
}
.pic-div img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.chat-list li.left .name {
	float: left;
}
.chat-list li.left .date {
	float: right;
}
.chat-list li p {
	margin-bottom: 15px;
}
.chat-list li .bottom-img-div img {
	border: 1px solid #e9e9e9;
}
.outer-progress-bar-div {
	position: absolute;
	width: 100.2%;
	top: 100%;
	left: -1px;
	z-index: 333;
	max-height: 300px;
	overflow: auto;
	background: #fff;
	border: 1px solid #8972f0;
}
.file-progress-bar {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	padding: 15px;
	padding-left: 90px;
	background: #fff;
	z-index: 333;
	border-bottom: 1px solid #8972f0;
}
.file-progress-bar:last-child {
	border: none;
}
.file-progress-bar .file-extension {
	position: absolute;
	left: 10px;
	width: 60px;
	height: 60px;
	background: #e2ddfb;
	color: #737665;
	text-align: center;
	display: table;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.file-progress-bar .file-extension span {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;
}
.file-progress-bar h4 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;
	margin: 12px 0;
	position: relative;
	color: #8a75d0 !important;
}
.file-progress-bar .close-btn {
	position: absolute;
	right: 0;
	top: 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.file-progress-bar .progress {
	height: 6px;
	background: #e1dcfc;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-bottom: 10px;
}
.file-progress-bar .progress-bar-success {
	background: #67d54e;
	box-shadow: none;
}
.file-progress-bar .close-btn a {
	color: #fb383e;
	text-decoration: none;
	font-size: 20px;
	vertical-align: middle;
	margin-left: 12px;
}
/*message board CSS END*/


/*Block Design 01 Start*/
.select-design-block {
	font-size: 14px;
	margin: 0 auto;
	margin-bottom: 25px;
	max-width: 400px;
}
.select-design-block .inner-div {
	border: 1px solid #e9e9e9;
	box-shadow: 0 3px 3px rgba(20, 19,19, 0.1);
}
.select-design-block:hover .inner-div {
	box-shadow: 0 5px 50px rgba(20, 19,19, 0.200);
}
.select-design-block .user-info {
	padding: 10px;
	color: #141414;
	border-top: 1px solid #e9e9e9;
}
.select-design-block .img-div {
	height: 220px;
	background-size: cover;
	background-repeat: no-repeat;
}
.select-design-block .user-info .sm-pic {
	width: 44px;
	padding-right: 8px;
}
.select-design-block .user-info .sm-pic img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.select-design-block .select-btn {
	text-align: center;
	margin: 30px 0;
}
.select-design-block .select-btn .btn {
	min-width: 99px;
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	height: 33px;
	line-height: 18px;
}
.select-design-block .browse-designers-button-next, .select-design-block .browse-designers-button-prev {
	width: 35px;
	height: 35px;
	background: #202e3f;
	position: absolute;
	left: -15px;
	top: 50%;
	margin-top: -20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: block;
	z-index: 2;
	color: #fff;
	line-height: 37px;
	padding: 0 5px;
}
.select-design-block .browse-designers-button-next {
	left: auto;
	right: -15px;
}
/*Block Design 01 End*/

/*Rating Start*/
.rating-div {
	color: #cfcdcd;
}
.rating1 i:nth-child(1) {
	color: #e0c21a;
}
.rating2 i:nth-child(1), .rating2 i:nth-child(2) {
	color: #e0c21a;
}
.rating3 i:nth-child(1), .rating3 i:nth-child(2), .rating3 i:nth-child(3) {
	color: #e0c21a;
}
.rating4 i:nth-child(1), .rating4 i:nth-child(2), .rating4 i:nth-child(3), .rating4 i:nth-child(4) {
	color: #e0c21a;
}
.rating5 i:nth-child(1), .rating5 i:nth-child(2), .rating5 i:nth-child(3), .rating5 i:nth-child(4), .rating5 i:nth-child(5) {
	color: #e0c21a;
}
/*Rating End*/


/*table css start*/
.tbl-listing {
	border: 1px solid #f8f8fd;
	font-size: 14px;
	overflow: auto;
}
.tbl-listing thead th {
	background: #f6f7f8;
	color: #141414;
	padding: 10px 10px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.tbl-listing table {
	min-width: 1000px;
}
.tbl-listing table tbody td {
	color: #141414;
	padding: 6px 10px;
}
.tbl-listing table tbody tr:nth-child(2n+2) td {
	background: #f6f7f8;
}
.tbl-listing table td.action {
	font-size: 0;
	text-align: center;
}
.tbl-listing table td.action .btn {
	display: inline-block;
	width: 27px;
	height: 27px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: 0;
	margin: 0 5px;
	background: #e4e5e5;
	color: #000;
	font-size: 14px;
	line-height: 28px;
}
/*table css end*/
/*Upload file css Start*/
.input-file-container {
	position: relative;
	width: 100%;
	border: 1px dashed #7c81af;
	padding: 0 20px;
	padding-top: 15px;
	border-radius: 0.25rem;
}
.js .input-file-trigger {
	display: block;
	padding: 10px 0;
	margin: 0;
	z-index: 55;
	font-size: 1em;
	transition: all .4s;
	cursor: pointer;
	position: relative;
}
.js .input-file {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	padding: 14px 0;
	cursor: pointer;
}
.js .input-file:hover + .input-file-trigger, .js .input-file:focus + .input-file-trigger, .js .input-file-trigger:hover, .js .input-file-trigger:focus {
	color: #39D2B4;
}
.file-return {
	margin: 0;
}
.file-return:not(:empty) {
	margin: 1em 0;
}
.js .file-return {
	font-style: italic;
	font-size: .9em;
	font-weight: bold;
}
.js .file-return:not(:empty):before {
	content: "Selected file:";
	font-style: normal;
	font-weight: normal;
}
/*Upload file css End*/

.custom-accordion .panel-collapse {
	display: none;
}
.custom-accordion .panel-heading.active .right-icon .fa.fa-plus:before {
	content: "\f068";
}
.custom-accordion .panel {
	background: #fff;
	box-shadow: none;
}
.custom-accordion .panel-heading {
	padding: 20px 25px;
	cursor: pointer;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.custom-accordion .panel-heading a {
	display: block;
	text-decoration: none;
	position: relative;
}
.custom-accordion .panel-heading .sm-text {
	float: right;
	margin-right: 55px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.custom-accordion .panel-body {
	padding: 20px 25px;
}
.custom-accordion.panel-group .panel + .panel {
	margin-top: 10px;
}
.custom-accordion .panel-heading .right-icon {
	display: block;
	width: 33px;
	height: 33px;
	line-height: 33px;
	color: #fff;
	background: #f67599;
	text-align: center;
	position: absolute;
	right: 0;
	top: -7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
}
.quizzes-section .media {
	font-size: 12px;
	color: #985165;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.quizzes-section .media > .pull-left {
	position: relative;
	margin-right: 20px;
}
.quizzes-section .media > .pull-left a {
	display: block;
	position: relative;
	color: #a2a2a2;
	text-decoration: none;
	font-size: 20px;
}
.quizzes-section .media > .pull-left .fa {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 55;
	margin-top: -10px;
	margin-left: -10px;
}
.quizzes-section .media h4 {
	font-size: 14px;
	color: #454545;
	margin: 0 0 3px 0;
}
.quizzes-section .info-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.quizzes-section .info-list li {
	display: inline-block;
	width: 50%;
	font-size: 12px;
	color: #985165;
	margin-bottom: 10px;
	padding-left: 10px;
	border-left: 1px solid #dedede;
	vertical-align: top;
}
.quizzes-section .info-list li .fa {
	color: #f67599;
	font-size: 16px;
	margin-right: 5px;
}
.quizzes-section .custom-accordion .text-right {
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif !important;
	margin-top: 15px;
}
.quizzes-section .custom-accordion .text-right .fa {
	font-size: 22px;
	margin-right: 3px;
}
.quizzes-section .custom-accordion .text-right.free {
	color: #77a268;
}
.quizzes-section .custom-accordion .text-right.paid {
	color: #f46262;
}
.quizzes-section .custom-accordion .ui-state-default {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 22px;
}
.quizzes-section .custom-accordion .ui-state-default:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.tab-div {
	display: inline-block;
	font-size: 0;
	border: 1px solid #cdcdcd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 25px;
	overflow: hidden;
}
.tab-div .btn {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #ffe8ee;
	box-shadow: none;
	font-size: 16px;
	height: 30px;
	padding-left: 12px;
	padding-right: 12px;
	border-right: 1px solid #cdcdcd;
	cursor: pointer;
}
.tab-div .btn:last-child {
	border: none;
}
.tab-div .btn.active {
	background: #f67599 !important;
	color: #fff;
}
.tags-div {
	font-size: 0;
	margin-bottom: 30px;
}
.tags-div .btn {
	font-size: 12px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	background: #63c35e;
	color: #fff;
	font-size: 14px;
	height: 26px;
	padding: 3px 10px;
	margin-right: 20px;
}
.upload-content-section .tab-div {
	font-size: 0;
	border: 1px solid #cdcdcd;
	display: inline-block;
	font-size: 0;
	margin-bottom: 0;
}
.upload-content-section .tab-div .btn {
	margin-right: 0;
	background: #ffe8ee;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-right: 1px solid #cdcdcd;
	box-shadow: none;
	display: inline-block;
	height: 30px;
	line-height: 19px;
	font-weight: normal;
}
.upload-content-section .tab-div .btn.last {
	border-right: none;
}
.upload-content-section .tab-div .btn.active {
	background: #f67599 !important;
	color: #fff;
}
.upload-content-section .panel-block .content-div {
	padding: 25px 25px;
}
.upload-content-section .form-control {
	border-color: #dedede;
	box-shadow: none;
	height: 40px;
}
.upload-content-section textarea.form-control {
	height: auto;
}
.upload-content-section select::-ms-expand {
 /* IE 8 */
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 /* IE 5-7 */
 filter: alpha(opacity=0);
 /* Good browsers :) */
 opacity:0;
}
.upload-content-section select {
	-webkit-box-shadow: none;
	appearance: none;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background: url('../../../images/dropdown-icon.png') no-repeat;  /*Adds background-image*/
	background-position: right center!important;  /*Position of the background-image*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/
	padding-right: 50px;
}
.upload-content-section .form-group {
	margin-bottom: 20px;
}
.upload-content-section .label {
	color: #985165;
	font-size: 14px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	padding: 2px 0
}
.upload-content-section .input-file-container {
	text-align: center;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 20px;
	border: 1px solid #dedede;
	margin-bottom: 20px;
}
.upload-content-section .input-file-container .fa {
	font-size: 50px;
	color: #e6e6e6;
}
.upload-content-section .input-file-container .form-control {
	height: 100%;
}
.upload-content-section .btn-Browse {
	background: #c7c7c7;
	color: #fff;
	position: absolute;
	right: 0;
	top: 2px
}
.upload-content-section .input-file-container+table td {
	position: relative;
}
.listing-line {
	margin: 0;
	padding: 0;
	list-style: none;
}
.listing-line>li {
	padding: 25px 0;
	border-bottom: 1px solid #eee;
}
.listing-line>li:first-child {
	padding-top: 0;
}
.quiz-manager-section .media {
	font-size: 14px;
	color: #454545;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.quiz-manager-section .media > .pull-left {
	position: relative;
	margin-right: 20px;
}
.quiz-manager-section .media > .pull-left a {
	display: block;
	position: relative;
	color: #a2a2a2;
	text-decoration: none;
	font-size: 20px;
}
.quiz-manager-section .media > .pull-left .fa {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 55;
	margin-top: -10px;
	margin-left: -10px;
}
.quiz-manager-section .media h4 {
	font-size: 16px;
	color: #454545;
	margin: 0 0 5px 0;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.quiz-manager-section .info-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.quiz-manager-section .info-list li {
	display: inline-block;
	width: 33.3%;
	font-size: 12px;
	color: #985165;
	margin-bottom: 10px;
	padding-left: 10px;
	border-left: 1px solid #dedede;
	vertical-align: top;
}
.quiz-manager-section .info-list li .fa {
	color: #f67599;
	font-size: 16px;
	margin-right: 5px;
}
.quiz-manager-section .listing-line .btn {
	margin-top: 12px;
}
/*create-new-quiz Start*/
.create-new-quiz-section .quiz-info-head {
	max-width: 650px;
	font-size: 12px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.create-new-quiz-section .quiz-info-head h3 {
	font-size: 16px;
	margin: 0;
	margin-bottom: 10px;
}
.create-new-quiz-section .quiz-info-head label {
	color: #985165;
	font-size: 14px;
}
.create-new-quiz-section .quiz-info-head .row.top {
	margin-bottom: 15px;
}
.create-new-quiz-section .quiz-info-head .row.top label {
	margin-top: 5px;
	display: block;
	text-align: left;
}
.create-new-quiz-section .quiz-info-head .form-control {
	border-color: #dedede;
	box-shadow: none;
	height: 40px;
	font-size: 12px;
		font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.create-new-quiz-section .quiz-info-head strong {
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.create-new-quiz-section .form-group {
	max-width: 650px;
	font-size: 12px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	margin-bottom: 25px;
}
.create-new-quiz-section hr {
	margin: 25px 0;
}
.create-new-quiz-section .panel-title .fa-check-circle {
	font-size: 24px;
	color: #90bd92;
	vertical-align: middle;
	margin-left: 5px;
	margin-top: -2px;
}
.create-new-quiz-section .cnq-form-div .label {
	padding-left: 0;
	color: #985165;
	font-size: 14px;
	margin-top: 10px;
	display: block;
	text-align: left;
}
.create-new-quiz-section .cnq-form-div .fields {
	position: relative;
}
.create-new-quiz-section .cnq-form-div .fields .icon {
	position: absolute;
	right: 10px;
	top: 6px;
	font-size: 20px;
	color: #f67599;
}
.create-new-quiz-section .cnq-form-div .form-control {
	border-color: #dedede;
	box-shadow: none;
	height: 40px;
	font-size: 12px;
		font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.create-new-quiz-section .cnq-form-div .new-option {
	font-size: 0
}
.create-new-quiz-section .cnq-form-div .new-option .btn {
	border: 2px solid #9f9fd6;
	height: 35px;
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #454545;
	margin-right: 15px;
	padding-left: 10px;
	padding-right: 10px;
}
.create-new-quiz-section .cnq-form-div .new-option .btn .fa {
	color: #9f9fd6;
	font-size: 18px;
	margin-top: -2px;
	margin-right: 5px;
	vertical-align: middle;
}
.create-new-quiz-section .cnq-form-div .custom-checkbox1 {
	margin-right: 13px;
	margin-top: 8px;
	display: inline-block;
}
.create-new-quiz-section .cnq-form-div .image-fields {
}
.create-new-quiz-section .cnq-form-div .image-fields .img-div {
	max-width: 135px;
	height: 90px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #eee;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
}
.create-new-quiz-section .cnq-form-div .image-fields .img-div .icon {
	position: absolute;
	right: -8px;
	top: -15px;
	font-size: 20px;
	color: #f67599;
	background: #fff;
	display: block;
	width: 35px;
	height: 35px;
	border: 2px solid #eee;
	text-align: center;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	line-height: 32px;
	z-index: 22;
}
.create-new-quiz-section .last-btn{
	margin-top: 20px;
}
.create-new-quiz-section .fprm-group .btn-div{
	font-size: 0;
}
.create-new-quiz-section .cnq-form-div .btn-div .btn{
	margin-right: 15px;
}
/*create-new-quiz End*/


.subscription-plans-section hr{
	margin: 30px 0;
}
.subscription-block {
	max-width: 1100px;
}
.subscription-block h2{
	font-size: 28px;
	margin: 0;
	margin-bottom: 15px;
		font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.subscription-block h2 strong{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.subscription-block h3{
	font-size: 16px;
	margin: 0;
	padding: 0;
	padding-left: 30px;
	margin-bottom: 10px;
}
.subscription-block table{
	margin-left: 30px;
	color: #985165;
		font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.subscription-block table td{
	padding: 5px 0;
}
.subscription-block table th{
	width: 40px;
	font-size: 16px;
	color: #f67599;
	text-align: center;
	padding: 5px 0;
}

.subscription-block .bottom-btn{
	margin-top: 30px;
	font-size: 0;
}
.subscription-block .bottom-btn .btn{
		font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
		    font-weight:normal;
				margin-right: 20px;
				margin-bottom: 5px;
}
.subscription-block .bottom-btn .btn .fa{
	font-size: 20px;
}

.custom-search-box{
	display: block;
	position: relative;
}
.custom-search-box .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #b1b1b1;
}
.custom-search-box .form-control::-moz-placeholder { /* Firefox 19+ */
 color: #b1b1b1;
}
.custom-search-box .form-control:-ms-input-placeholder { /* IE 10+ */
 color: #b1b1b1;
}
.custom-search-box .form-control:-moz-placeholder { /* Firefox 18- */
 color: #b1b1b1;
}
.custom-search-box .form-control{
	background: url(../../../images/search-icon.png) no-repeat;
	background-position: left center;
	padding-left: 50px;
	height: 40px;
	border-color: #dedede;
	box-shadow: none;
		font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}

.custom-select{display: block;}
.custom-select select::-ms-expand {
 /* IE 8 */
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 /* IE 5-7 */
 filter: alpha(opacity=0);
 /* Good browsers :) */
 opacity:0;
}
.custom-select select {
	-webkit-box-shadow: none;
	appearance: none;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background: url('../../../images/dropdown-icon.png') no-repeat;  /*Adds background-image*/
	background-position: right center!important;  /*Position of the background-image*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/
	padding-right: 50px;
	height: 40px;
		font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
		border-color: #dedede;
		box-shadow: none;
}

.transactions-filter{
	padding-right: 140px;
	position: relative;
}
.transactions-filter .btn{
	position: absolute;
	right: 0;
	top: 5px;
}
.transactions-filter .col{
	padding: 0 8px;
}

.transactions-filter .row{
	margin: 0 -8px;
}
.all-transactions-section .tbl-list{
	overflow: auto;
}
.all-transactions-section .tbl-list table{
	min-width: 800px;
}
.all-transactions-section .tbl-list th{
	font-size: 14px;
	padding:6px 5px;
	color: #000;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.all-transactions-section .tbl-list td{
	font-size: 14px;
	color: #985165;
	padding: 10px 5px;

}
.all-transactions-section .tbl-list td a{
	color: #985165;
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

.distributors-list-admin-section .tab-div{
	margin-bottom: 0;
	margin-left: 15px;
}
.distributors-list-admin-section .btn{vertical-align: top}
.distributors-list-admin-section .panel-heading .text-right{font-size: 0}

.head-filter-div{
	padding-right: 140px;
	position: relative;
}
.head-filter-div .btn{
	position: absolute;
	right: 0;
	top: 5px;
	width: 125px;
}
.head-filter-div .search{
	position: absolute;
    right: 370px;
    top: 5px;
    width: 132px;
}
.head-filter-div .export-to-excel{
	position: absolute;
	right: 0;
	top: 5px;
	width: 170px;	
}
.head-filter-div .export-to-csv{
	position: absolute;
	right: 185px;
	top: 5px;
	width: 170px;	
}
.head-filter-div .col{
	padding: 0 8px;
}

.head-filter-div .row{
	margin: 0 -8px;
}


.info-list-with-icon{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.info-list-with-icon-twinkle{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.info-list-with-icon li {
	display: inline-block;
	width: 100%;
	font-size: 12px;
	color: #985165;
	margin-bottom: 10px;
	padding-left: 10px;
	border-left: 1px solid #dedede;
	vertical-align: top;
}
.info-list-with-icon-twinkle li {
	display: inline-block;
	width: 100%;
	font-size: 12px;
	margin-bottom: 10px;
	padding-left: 10px;
	/*border-left: 1px solid #dedede;*/
	vertical-align: top;
}
.info-list-with-icon li .fa {
	color: #f67599;
	font-size: 16px;
	margin-right: 5px;
}

.border{
	border: 1px solid;
}

.margin{
	margin-left: 25%;
}

.distributors-list-admin-section .panel-block .content-div h4{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	margin: 0 0 3px 0;
}
.distributors-list-admin-section .panel-block .content-div p{
	color: #985165;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.distributors-list-admin-section .panel-block .content-div p span{
	color: #454545;
}
.distributors-list-admin-section .info-list-with-icon{
	margin-top: 9px;
}
.distributors-list-admin-section hr{margin: 20px 0;}

.distributors-list-admin-section .tb-padding{padding: 15px 0;}

.D-Info-A_Info-form label{
font-size: 14px;
color: #985165;
padding-left: 0;
display: block;
text-align: left;
}

.D-Info-A_Info-form .form-group{
	max-width: 1200px;
	margin-bottom: 20px;
}

.D-Info-A_Info-form .form-group .reload{text-decoration: none; color: #9f9fd6; font-size: 16px; padding-left: 5px;}
.D-Info-A_Info-form .form-group strong{
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}

.distributors-Info-A_Info-section .bottom-btn{font-size: 0; border-top: 1px solid #dedede; padding: 20px 25px; padding-bottom: 0; margin: 0 -25px;}
.distributors-Info-A_Info-section .bottom-btn .btn{
	margin: 5px 0;
	margin-right: 15px;
}

.tbl-list-no-border{
	overflow: auto;
}
.tbl-list-no-border table{
	min-width: 900px;
		font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.tbl-list-no-border th{
	font-size: 14px;
	padding:6px 5px;
	color: #000;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.tbl-list-no-border td{
	font-size: 14px;
	color: #985165;
	padding: 10px 5px;

}
.tbl-list-no-border td.customtransction{
	max-width: 400px;
    word-break: break-word;
} 
.tbl-list-no-border td a{
	color: #985165;
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

.distributors-Info-A_Info-section .pagination-div{
border-top: 1px solid #dedede; padding: 20px 25px; padding-bottom: 0; margin: 0 -25px;
margin-top: 15px;
}

.distributors-Info-A_Info-section .lg-text{
	font-size: 32px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.break-word {
  word-wrap: break-word;
}

.tabs-div .tablinks { border-radius: 20px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12); background-color: #ffffff; color: #f17598;}
.tabs-div .tablinks.active,.category-list li.active { background: #f17598 !important;color: #fff !important; }
.tabs-div .owl-dots { display:none; }
/*.tabs-div .tablinks.active:before { content: ''; position: absolute; left: 0; right: 0; top: calc(40% + 9px); border: 1px solid #cdcdcd; width: 12px; height: 12px; margin: auto; z-index: 1111; border-left: 0; border-top: 0; transform: rotate(45deg); background-color: #fff; }*/
.category-list li .subcategories-dropdown { font-size: 14px; }
.category-list li:nth-child(odd) { border-bottom: solid 0.4px #cdcdcd;border-right: solid 0.4px #cdcdcd; }
.category-list li:nth-child(even) { border-bottom: solid 0.4px #cdcdcd; }
.category-list li:nth-last-child(2):nth-child(odd),.category-list li:nth-last-child(1):nth-child(even),.category-list li:nth-last-child(1):nth-child(odd) { border-bottom:0; }
.category-list li.active { border:0;border-radius: 6px; }
.hidden-arrow:before,.hidden-arrow:after { opacity: 0; }
.column { columns: 2; margin-bottom: 15px; width: 85%; }	
.info-list-with-icon-twinkle { padding-top: 10px; }
.total-active-users { margin: 0px 0 15px;display: inline-block; }
.tabs-div { margin-bottom: 15px; }