@media only screen and (max-width: 1400px) {
}
 @media only screen and (max-width: 1299px) {
.white-block {
	padding: 30px 30px;
}
.cases-list li .head-div {
	padding-right: 55px;
}
.accessor-sccount-info-page .cases-list .expand-content, .open-cases-page .cases-list .expand-content, .open-special-cases-page .cases-list .expand-content {
	padding-left: 30px;
}
.accessor-more-info .left-form {
	padding-right: 0
}
}
 @media only screen and (max-width: 1199px) {
.buzz-english-section .box-be {
	height: 340px;
	max-width: 220px;
}
.accessor-more-info .line {
	border: none;
	border-right: 1px solid #d8d8d8;
	margin-top: 15px;
}
.accessor-more-info .line:last-child {
	border: none
}
.accessor-my-job-page .cases-list.new-cases li .right-button {
	font-size: 0;
	clear: both
}
.accessor-my-job-page .cases-list.new-cases li .right-button p {
	display: inline-block;
	margin: 0 15px 0 0;
}
}
 @media only screen and (max-width:991px) {
.second-header-menu ul.menu-sm li {
	margin: 2px 5px;
}
.second-header-menu ul.menu-sm {
	text-align: center
}
.main_nav {
	margin-right: -30px;
}
.main_nav .navbar-brand {
	margin-right: 40px;
}
.top-right-language {
	margin-top: 20px;
}
.top-right-language .btn {
	margin-left: 15px;
	height: 35px;
	font-size: 13px;
	line-height: 20px;
	min-width: 90px;
}
.top-right-language .btn:first-child {
	margin: 0
}
.main_nav .nav > li > a {
	padding: 5px 18px;
}
.main_nav .nav > li {
	margin-right: 3px;
}
.left-sidebar-menu {
	left: -300px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.mob-menu-sidebar {
	width: 40px;
	height: 40px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
	display: block;
	position: fixed;
	top: 29px;
	left: 10px;
	background: #e3e3e3;
	text-align: center;
	z-index: 999;
	padding-top: 7px;
}
.mob-menu-sidebar span {
	display: block;
	margin: 4px auto;
	background: #333;
	height: 3px;
	width: 23px;
}
.left-sidebar-menu .logo {
	margin-top: 25px;
}
.body-with-sidebar.active::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999;
	background: rgba(0, 0, 0, 0.5);
}
.body-with-sidebar.active .left-sidebar-menu {
	left: 0;
}
.body-with-sidebar {
	padding-left: 0
}
}
 @media only screen and (max-width: 767px) {
.accessor-more-info .form-group {
	margin-bottom: 15px;
}
.accessor-more-info .line {
	margin-top: 0
}
.heading-right-filter {
	text-align: left
}
.heading-right-filter {
	margin-top: 15px;
}
.cc-list-design li .media {
	margin-bottom: 15px;
}
.cc-list-design li .line {
	border: none;
}
.cc-list-design li .line:nth-child(2n-1) {
	border-right: 1px solid #d8d8d8;
}
.cc-list-design li .right-btn {
	text-align: left;
	margin-top: 15px;
	font-size: 0
}
.cc-list-design li .right-btn p {
	display: inline-block;
	margin-right: 15px;
}
.cases-list li .expand-content .right-btn {
	text-align: left;
	margin-bottom: 25px;
}
.cases-list .expand-content .case-d-list {
	margin-bottom: 15px;
}
.body-with-sidebar #main {
	padding: 20px 0;
}
.cases-list .expand-content .box-outer-div .dot-status:nth-child(2):before {
	display: none
}
.mob-menu-sidebar {
	top: 15px;
}
.body-with-sidebar header .display-table {
	height: auto
}
.display-table .table-cell, .display-table {
	display: block;
}
.main-menu {
	padding: 0 15px;
}
.navbar-toggle {
	margin-right: 0;
	margin: 0;
	background: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
	background: #333;
	color: #000;
}
.navbar-collapse {
	border-bottom: 1px solid #fff;
}
.navbar-default .navbar-brand {
	display: block;
	width: 114px;
	margin-bottom: 15px;
	margin-left: 45px;
}
.main_nav {
	margin-right: 0;
	position: relative;
	z-index: 12;
}
.main_nav .navbar-toggle {
	margin-right: 0;
	margin-top: 33px;
	background: none !important;
	border: none !important;
	outline: none !important;
}
.main_nav .navbar-brand {
	margin-right: 0;
	max-width: 137px;
}
.main_nav .navbar-default .navbar-toggle .icon-bar {
	background: #f17598;
}
.main_nav .navbar-nav {
	margin-top: 17px;
}
.main_nav .navbar-collapse {
	border-color: #f17598 !important
}
.main_nav .nav > li {
	margin: 0;
	margin-bottom: 10px;
}
header .pull-none767 {
	float: none !important
}
.top-right-language .btn {
	margin-left: 9px;
	height: 26px;
	font-size: 11px;
	line-height: 12px;
	min-width: 62px;
}
.top-right-language {
	margin-top: 0;
	position: absolute;
	right: 15px;
	top: 0;
	z-index: 44
}
.dropdown.head-right-dropdown .dropdown-menu {
	left: auto;
	right: 0
}
.tabs-div .btn {
	width: 100%;
	min-width: inherit
}
.footer-bg-repeat {
	height: 70px;
	background-size: auto 70px;
}
.main-footer {
	padding: 20px 0
}
footer {
	margin-top: 40px;
}
.main-footer .h-div {
	height: auto;
}
.main-footer table {
	margin-top: 25px;
}
.cases-list li .head-div {
	padding-right: 25px;
}
.cases-list li .head-div .right-btn {
	text-align: left
}
.cases-list .expand-content .case-d-list li {
	width: 33.3%;
}
.cases-list .right-content-block .line {
	border: none;
	border-right: 1px solid #d8d8d8;
	min-height: 70px;
	padding-top: 10px;
}
.cases-list .right-content-block .line:last-child {
	border: none
}
.cases-list .right-content-block {
	text-align: left;
	padding-left: 32px;
	/* border-top: 1px solid #000; */
	margin-top: 0;
	padding-top: 0;
	padding-left: 114px;
}
.accessor-account-info .right-btn {
	float: none
}
.accessor-account-info .right-btn .btn {
	margin: 0 10px 0 0
}
.box-width-border.accessor-more-info .text-right {
	text-align: left
}
.accessor-more-info .payment-mode {
	margin-bottom: 2px;
}
.accessor-my-job-page .cases-list.new-cases li .right-button {
	text-align: left;
	padding-left: 110px;
	padding-top: 10px;
}
.update-profile-info .upload-profile {
	margin-bottom: 25px;
}
}
 @media only screen and (max-width: 576px) {
.header-for-inner-page .right-div {
	margin-top: 12px;
}
.header-for-inner-page .right-div .btn {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 15px;
	height: 33px;
	line-height: 18px;
}
.cases-list .expand-content {
	padding-left: 30px;
}
.cc-list-design li .line {
	width: 50%;
	margin-bottom: 15px;
}
.heading-right-filter .d-inline {
	margin: 0;
	display: block;
	margin-bottom: 10px;
}
.heading-right-filter .btn {
	margin-left: 0
}
}
 @media only screen and (max-width: 480px) {
.accessor-my-account-page .box-width-border {
	padding: 20px;
}
.second-header-menu ul.menu-sm li a {
	padding: 8px 20px;
}
.page-title {
	margin-bottom: 20px;
}
.white-block {
	padding: 30px 20px;
}
.dropdown.head-right-dropdown {
	width: 150px;
}
.dropdown.head-right-dropdown td img {
	width: 35px;
}
.logo {
	max-width: 120px;
}
.tabs-div.col-2 .col-xs-6 {
	width: 100%;
	float: none
}
.tabs-div.col-2 {
	padding: 10px 0;
	margin-bottom: 15px;
}
.tabs-div.col-2 .btn {
	margin-bottom: 10px;
}
.cases-list li td.icon-div {
	width: 44px;
	text-align: left;
}
.cases-list li {
	padding: 15px;
}
.cases-list .expand-content .bottom-btn .btn {
	height: 30px;
	line-height: 16px;
	font-size: 10px;
	margin-right: 8px;
}
.cases-list li .head-div .btn {
	height: 30px;
	line-height: 16px;
	font-size: 10px;
}
.c-file-upload-section .dropzone {
	padding: 10px;
}
.cases-list .expand-content {
	padding-left: 0;
}
.title-section {
	margin-bottom: 20px;
}
.c-file-upload-section {
	margin-bottom: 30px;
}
.cases-list .right-content-block {
	padding-left: 0
}
.accessor-sccount-info-page .cases-list .expand-content, .open-cases-page .cases-list .expand-content, .open-special-cases-page .cases-list .expand-content {
	padding-left: 0;
}
.accessor-account-info .media .media-body {
	width: 100%;
	float: none
}
.accessor-my-job-page .cases-list.new-cases li .right-button {
	text-align: left;
	margin: 0
}
.accessor-my-job-page .cases-list.new-cases li .right-button p {
	margin: 0 10px 0 0
}
.accessor-my-job-page .cases-list.new-cases li .right-button {
	padding-left: 0
}
}
 @media only screen and (max-width: 450px) {
.tabs-div .col-xs-4 {
	width: 100%;
	float: none
}
.tabs-div {
	padding-bottom: 10px
}
.tabs-div .btn {
	margin-bottom: 10px;
}
.footer-bg-repeat {
	height: 50px;
	background-size: auto 50px;
}
.header-for-inner-page .right-div .btn {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
	height: 28px;
	line-height: 13px;
	font-size: 13px;
}
.cases-list .expand-content .box01 {
	height: 132px;
}
.cases-list .right-content-block {
	margin-top: 15px;
}
.cases-list .expand-content .case-d-list li {
	width: 50%;
}
.cases-list .right-content-block .line {
	width: 50%;
}
.cases-list li td.icon-div {
	border-width: 2px;
}
.cases-list .expand-content .box-outer-div .dot-status {
	width: 100%;
	clear: both;
	padding-left: 50px;
	padding-top: 0
}
.cases-list .expand-content .dot-status:after {
	top: 50%;
	left: 0;
	margin-top: 0;
	margin-left: 10px;
	margin-top: -30px;
}
.cases-list .expand-content .dot-status:before {
	border-left: 1px dotted #979797;
	width: 1px;
	height: 100%;
	left: 0;
	top: 50%;
	margin-top: -20px;
	margin-left: 25px;
}
.cases-list .expand-content .box-outer-div .dot-status:nth-child(2):before {
	display: block
}
.accessor-more-info .line {
	width: 50%;
}
.transaction-distory-list table {
	width: 450px;
	min-width: 450px;
}
.dropdown.head-right-dropdown {
    width: 100%;
}
}
@media only screen and (max-width: 320px) {
.head-search-box .form-control {
	padding-left: 40px;
}
.head-search-box .fa {
	left: 18px;
}
.cases-list li td {
	padding: 15px;
}
}
