 <article>
    <section class="sign-up-form">
        <div class="container">
            <h2 class="title">[['lbl_signup'|translate]]</h2>
            <div class="inner-block">
            	<form class="form-div" ng-submit="registerUser()" name="sphereForm" id="sphereForm" novalidate>
            		<div class="form-group">
            			<div class="row">
            				<div class="col-sm-4">
            					<label>[['lbl_email_address'|translate]]</label>
            				</div>
            				<div class="col-sm-8">
            					<input type="email" class="form-control" name="email_address" ng-model="email_address" required placeholder="[['lbl_email_address'|translate]]">
                                          <span class="sphere_error_class" ng-show="sphereForm.$submitted && sphereForm.email_address.$pristine">[['lbl_email_is_required'|translate]]</span>
                                          <span class="sphere_error_class" ng-show="sphereForm.email_address.$invalid && sphereForm.email_address.$touched">[['lbl_email_address_required'|translate]]</span>
            				</div>
            			</div>
            		</div>
            		<div class="form-group">
            			<div class="row">
            				<div class="col-sm-4">
            					<label>[['lbl_first_name'|translate]]</label>
            				</div>
            				<div class="col-sm-8">
            					<input type="text" class="form-control" required="" name="first_name" ng-model="first_name" placeholder="[['lbl_first_name'|translate]]">
                                          <span class="sphere_error_class" ng-show="sphereForm.$submitted && (sphereForm.first_name.$pristine || sphereForm.first_name.$error.required)">[['lbl_first_name_required'|translate]]</span>
            				</div>
            			</div>
            		</div>
                        <div class="form-group">
                              <div class="row">
                                    <div class="col-sm-4">
                                          <label>[['lbl_last_name'|translate]]</label>
                                    </div>
                                    <div class="col-sm-8">
                                          <input type="text" class="form-control" required="" name="last_name" ng-model="last_name" placeholder="[['lbl_last_name'|translate]]">
                                          <span class="sphere_error_class" ng-show="sphereForm.$submitted && (sphereForm.last_name.$pristine || sphereForm.last_name.$error.required)">[['lbl_last_name_required'|translate]]</span>
                                    </div>
                              </div>
                        </div>
            		<div class="form-group">
            			<div class="row">
            				<div class="col-sm-4">
            					<label>[['lbl_country'|translate]]</label>
            				</div>
            				<div class="col-sm-8">
            					<div class="custom-select-dropdown">
                                                <select class="form-control" required="" ng-model="country_id" id="country_dropdown" name="country_id">
                                                      <option value="">[['lbl_select'|translate]] [['lbl_country'|translate]]</option>
                                                      <option ng-repeat='optioncountry in countries' id="[[optioncountry.name]]_[[optioncountry.id]]" value="[[optioncountry]]">[[optioncountry.name]]</option>
                                                </select>
                                          </div>
                                          <span class="sphere_error_class" ng-show="sphereForm.$submitted && (sphereForm.country_id.$pristine || sphereForm.country_id.$error.required)">[['lbl_country_required'|translate]]</span>
            				</div>
            			</div>
            		</div>
            		<div class="form-group">
            			<div class="row">
            				<div class="col-sm-4">
            					<label>[['lbl_province_state'|translate]]</label>
            				</div>
            				<div class="col-sm-8">
            					<div class="custom-select-dropdown">
            						<select class="form-control" required="" id="state_dropdown" name="provience_id" ng-model="provience_id">
                                                      <option value="">[['lbl_select'|translate]] [['lbl_province'|translate]]</option>
                                                      <option ng-repeat='optionstates in states' id="[[optionstates.name]]_[[optionstates.id]]" value="[[optionstates.id]]">[[optionstates.name]]</option>
                                                </select>
            					</div>
                                          <span class="sphere_error_class" ng-show="sphereForm.$submitted && (sphereForm.provience_id.$pristine || sphereForm.provience_id.$error.required)">[['lbl_province_required'|translate]]</span>
            				</div>
            			</div>
            		</div>
            		<div class="form-group">
            			<div class="row">
            				<div class="col-sm-4">
            					<label>[['lbl_city'|translate]]</label>
            				</div>
            				<div class="col-sm-8">
                                          <div class="custom-select-dropdown">
                  					<select class="form-control" required="" id="city_dropdown" name="city_id" ng-model="city_id">
                                                      <option value="">[['lbl_select'|translate]] [['lbl_city'|translate]]</option>
                                                      <option ng-repeat='option in cities' id="[[option.name]]_[[option.id]]" value="[[option.id]]">[[option.name]]</option>
                                                </select>
                                          </div>
                                          <span class="sphere_error_class" ng-show="sphereForm.$submitted && (sphereForm.city_id.$pristine || sphereForm.city_id.$error.required)">[['lbl_city_select_required'|translate]]</span>
            				</div>
            			</div>
            		</div>
            		<div class="form-group">
            			<div class="row">
            				<div class="col-sm-4">
            					<label>[['lbl_dob'|translate]]</label>
            				</div>
            				<div class="col-sm-8">
            					<div class="bob-select-div">
            						<input type="text" class="form-control datepicker" date-picker name="dob" ng-model="dob" ng-change=calculateAge(dob,0) placeholder="[['lbl_dob'|translate]]" id="datepicker" onkeydown="return false">
            						<i class="fa fa-calendar"></i>
            					</div>
                                          <span class="sphere_error_class" ng-show="sphereForm.$submitted && sphereForm.dob.$pristine">[['lbl_dob_required'|translate]]</span>
                                          <span class="sphere_error_class" ng-show="sphereForm.$submitted && age < 18 && sphere_role == 1">[['lbl_age_limit'|translate]]</span>
                                          <span class="sphere_error_class" ng-show="sphereForm.$submitted && age < 16 && sphere_role == 0">[['lbl_age_16_limit'|translate]]</span>
                                    </div>
            			</div>
            		</div>
            		<div class="form-group">
            			<div class="row">
            				<div class="col-sm-4">
            					<label>[['lbl_phone_number'|translate]]</label>
            				</div>
            				<div class="col-sm-8">
                                          <div class="row">
                                            <div class="col-sm-3">
                                                <input type="text" ng-pattern="/^[0-9]*$/" ng-model="phonecode" required="" id="phonecode" name="phonecode" class="phonecode_custom form-control" placeholder="+">
                                                <!-- <span class="sphere_error_class" ng-show="sphereForm.$submitted && (sphereForm.phonecode.$error.required)">[['lbl_country_code_required'|translate]]</span>
                                                <span class="sphere_error_class" ng-show="sphereForm.phonecode.$error.pattern">[['lbl_valid_country_code_required'|translate]]</span> -->
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="text" ng-pattern="/^[0-9]*$/" ng-model="contact" required="" id="contact" name="contact" class="form-control" placeholder="[['lbl_phone_number'|translate]]">
                                                <!-- <span class="sphere_error_class" ng-show="sphereForm.$submitted && (sphereForm.contact.$pristine || sphereForm.contact.$error.required)">[['lbl_contact_number_is_required'|translate]]</span>
                                                <span class="sphere_error_class" ng-show="sphereForm.contact.$error.pattern">[['lbl_valid_phone_number_required'|translate]]</span> -->
                                            </div>
                                          </div>
                                          <span class="sphere_error_class" ng-show="sphereForm.$submitted && (sphereForm.phonecode.$error.required)">[['lbl_country_code_required'|translate]]</span>
                                          <span class="sphere_error_class" ng-show="sphereForm.phonecode.$error.pattern">[['lbl_valid_country_code_required'|translate]]</span>
                                          <span class="sphere_error_class" ng-show="sphereForm.$submitted && (sphereForm.contact.$pristine || sphereForm.contact.$error.required)">[['lbl_contact_number_is_required'|translate]]</span>
                                          <span class="sphere_error_class" ng-show="sphereForm.contact.$error.pattern">[['lbl_valid_phone_number_required'|translate]]</span>
            				</div>
            			</div>
            		</div>
            		<div class="form-group">
            			<div class="row">
            				<div class="col-sm-4">
            					<label>[['lbl_signing_up_as'|translate]]</label>
            				</div>
            				<div class="col-sm-8">
            					<table cellpadding="0" cellspacing="0">
            						<tr>
            							<td>
            								<label class="custom-radio-btn" for="sp1">[['lbl_a_student'|translate]]
      									  <input type="radio" ng-model="sphere_role" name="sphere_role" value="0" ng-change="Changerole(sphere_role)" required="" id="sp1">
      									  <span class="checkmark"></span>
      									</label> 
            							</td>
            							<td>
            								<label class="custom-radio-btn" for="sp2">[['lbl_a_parent'|translate]]
      									  <input type="radio" ng-model="sphere_role" name="sphere_role" value="1" ng-change="Changerole(sphere_role)" required="" id="sp2">
      									  <span class="checkmark"></span>
      									</label> 
            							</td>
            						</tr>
            					</table>
                                          <span class="sphere_error_class" ng-show="sphereForm.$submitted && sphereForm.sphere_role.$error.required">[['lbl_select_signing_up_as'|translate]]</span>
            				</div>
            			</div>
            		</div>
                        <div class="form-group" ng-if="sphere_role==0">
                              <div class="form-group">
                                    <div class="row">
                                          <div class="col-sm-4">
                                                <label>[['lbl_school_name'|translate]]</label>
                                          </div>
                                          <div class="col-sm-8">
                                                <input type="text" class="form-control" required="" name="school_name" ng-model="self.school_name" placeholder="[['lbl_school_name'|translate]]">
                                                <span class="sphere_error_class" ng-show="sphereForm.$submitted && (sphereForm.school_name.$pristine || sphereForm.school_name.$error.required)">[['lbl_school_name_is_required'|translate]]</span>
                                          </div>
                                    </div>
                              </div>
                              <div class="form-group">
                                    <div class="row">
                                          <div class="col-sm-4">
                                                <label>[['lbl_report_card'|translate]]</label>
                                          </div>
                                          <div class="col-sm-8">
                                                <label class="form-control" id="reportcardlabel" ng-click="Childreportcard()">[['lbl_upload_report_card'|translate]]</label>
                                                <input type="file" accept="image/*" id="reportcard" name="report_card" class="form-control hide" required="">
                                                <span class="sphere_error_class" ng-show="sphereForm.$submitted && !reportCard.reportCardSelected">[['lbl_upload_report_card'|translate]]</span>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="form-group" ng-if="sphere_role==1">
                              <div class="form-group">
                                    <div class="row">
                                          <div class="col-sm-4">
                                                <label>[['lbl_child_email_address'|translate]]</label>
                                          </div>
                                          <div class="col-sm-8">
                                                <input type="email" class="form-control" name="child_email_address" ng-model="child.child_email_address" required placeholder="[['lbl_child_email_address'|translate]]">
                                                <span class="sphere_error_class" ng-show="sphereForm.$submitted && sphereForm.child_email_address.$pristine">[['lbl_childs_email_address_is_required'|translate]]</span>
                                                <span class="sphere_error_class" ng-show="sphereForm.child_email_address.$invalid && sphereForm.child_email_address.$touched">[['lbl_childs_valid_email_address_is_required'|translate]]</span>
                                          </div>
                                    </div>
                              </div>
                              <div class="form-group">
                                    <div class="row">
                                          <div class="col-sm-4">
                                                <label>[['lbl_child_first_name'|translate]]</label>
                                          </div>
                                          <div class="col-sm-8">
                                                <input type="text" class="form-control" required="" name="child_first_name" ng-model="child.child_first_name" placeholder="[['lbl_child_first_name'|translate]]">
                                                <span class="sphere_error_class" ng-show="sphereForm.$submitted && (sphereForm.child_first_name.$pristine || sphereForm.child_first_name.$error.required)">[['lbl_childs_first_name_is_required'|translate]]</span>
                                          </div>
                                    </div>
                              </div>
                              <div class="form-group">
                                    <div class="row">
                                          <div class="col-sm-4">
                                                <label>[['lbl_child_last_name'|translate]]</label>
                                          </div>
                                          <div class="col-sm-8">
                                                <input type="text" class="form-control" required="" name="child_last_name" ng-model="child.child_last_name" placeholder="[['lbl_child_last_name'|translate]]">
                                                <span class="sphere_error_class" ng-show="sphereForm.$submitted && (sphereForm.child_last_name.$pristine || sphereForm.child_last_name.$error.required)">[['lbl_childs_last_name_is_required'|translate]]</span>
                                          </div>
                                    </div>
                              </div>
                              <div class="form-group">
                                    <div class="row">
                                          <div class="col-sm-4">
                                                <label>[['lbl_child_school_name'|translate]]</label>
                                          </div>
                                          <div class="col-sm-8">
                                                <input type="text" required="" name="child_school_name" ng-model="child.child_school_name" class="form-control" placeholder="[['lbl_child_school_name'|translate]]">
                                                <span class="sphere_error_class" ng-show="sphereForm.$submitted && (sphereForm.child_school_name.$pristine || sphereForm.child_school_name.$error.required)">[['lbl_childs_school_name_is_required'|translate]]</span>
                                          </div>
                                    </div>
                              </div>
                              <div class="form-group">
                                    <div class="row">
                                          <div class="col-sm-4">
                                                <label>[['lbl_child_dob'|translate]]</label>
                                          </div>
                                          <div class="col-sm-8">
                                                <div class="bob-select-div">
                                                      <input type="text" class="form-control datepicker" date-picker name="child_dob" ng-model="child.dob" ng-change=calculateAge(child.dob,1) placeholder="[['lbl_child_dob'|translate]]" id="datepicker" onkeydown="return false">
                                                      <i class="fa fa-calendar"></i>
                                                </div>
                                                <span class="sphere_error_class" ng-show="sphereForm.$submitted && sphereForm.child_dob.$pristine">[['lbl_childs_dob_is_required'|translate]]</span>
                                                <span class="sphere_error_class" ng-show="sphereForm.$submitted && child.childAge < 16">[['lbl_age_16_limit'|translate]]</span>
                                                <span class="sphere_error_class" ng-show="sphereForm.$submitted && child.childAge > age">[['lbl_childs_parent_elder_is_required'|translate]]</span>
                                          </div>
                                    </div>
                              </div>
                              <div class="form-group">
                                    <div class="row">
                                          <div class="col-sm-4">
                                                <label>[['lbl_child_report_card'|translate]]</label>
                                          </div>
                                          <div class="col-sm-8">
                                                <label class="form-control" id="reportcardlabel" ng-click="Childreportcard()">[['lbl_upload_report_card'|translate]]</label>
                                                <input type="file" accept="image/*" id="reportcard" name="report_card" class="form-control hide">
                                                <span class="sphere_error_class" ng-show="sphereForm.$submitted && !reportCard.reportCardSelected">[['lbl_upload_report_card'|translate]]</span>
                                          </div>
                                    </div>
                              </div>
                        </div>
            		<div class="form-group">
            			<div class="row">
            				<div class="col-sm-4">
            					 
            				</div>
            				<div class="col-sm-8">
            					<button type="submit" class="btn btn-green signup_btn">[['lbl_signup'|translate]]</button>
            				</div>
            			</div>
            		</div>
            	</form>
            </div>
        </div>
    </section> 
</article>
