
<article>
  <section class="teache-profile-section">
    <div class="container">
      <div class="page-content-block">
        <div class="heading-div">
          <h3 class="uppercase">
            <span style="cursor: pointer;" ng-click="redirectToTeachers()">Sphere Teachers</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            Teacher Profile
          </h3>
        </div>
        <div class="block-head-div">
          <div class="teacher-name pull-left">
             <h3>[[teacherData.display_name]]</h3>
          </div>
          <div class="right-div pull-right">
             <div class="inline-block">
              <table width="250" cellpadding="0" cellspacing="0">
                <tr>
                  <td  class="text" align="right">Plan an adhoc session</td>
                  <td width="100"><a href="#" class="btn btn-sm btn-green">Schedule</a></td>
                </tr>
              </table>
             </div>
             <div class="inline-block"> 
              <table width="300" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="right" class="text">Send a message to talk to [[teacherData.first_name]]</td>
                  <td width="100"><a href="sphere-messaging-teacher" class="btn btn-sm btn-green mrNone">Message</a></td>
                </tr>
              </table>
             </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="content-div">
           <div class="c-padding20 teache-profile-panel">
              <div class="row">
                <div class="col-md-3">
                  <div class="left-panel">
                    <div class="block-div t-photo-info">
                      <div class="img-div" style="background-image: url([[teacherData.display_image]])"></div>
                      <p>Joined Sphere : [[teacherData.created_at | monthYear]]</p>
                      <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> [[teacherData.city_state.name]], [[teacherData.city_state.state.name]]</p>
                    </div>
                    
                    <div class="block-div">
                       <p>Total Sessions Taken</p>
                       <h3>100+</h3> 
                       <hr>
                       <p>Total Students Taught</p>
                       <h3>500+</h3>
                       <hr>
                       <p>Adhoc Session Rate</p>
                       <h3>¥99/hour</h3>
                    </div>
                    
                    <div class="block-div">
                        <p>Subject Expertise</p>
                        <p ng-repeat="sub in teacherData.subjects">
                          <strong>[[sub.subject_name.subject_name]]</strong>
                        </p>
                     <hr>
                     <p>Education</p>
                     <p><strong>[[teacherData.education.education]]</strong></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="right-panel">
                    <div class="block-div">
                      <div class="heading">
                        <div class="row">
                          <div class="col-sm-6">
                            <h3>Courses Assigned</h3>
                          </div>
                          <div class="col-sm-6 text-right">
                            <ul class="tab-menu">
                        <li class="tabclickmeCA" data-tag="CA-tab-Upcoming"><a href="javascript:;">Upcoming</a></li>
                        <li  class="tabclickmeCA active" data-tag="CA-tab-Past"><a href="javascript:;">Past</a></li>
                      </ul>
                          </div>
                        </div>
                      </div> 
                      <div class="tabcontentdivCA c-padding hide" id="CA-tab-Upcoming">
                        <ul class="dashed-list">
                          <li>
                            <div class="row">
                              <div class="col-sm-5">
                                <a href="#">FC 105 Learning Trigonometry</a>
                              </div>
                              <div class="col-sm-2">
                                <p>Batch : 45</p>
                              </div>
                              <div class="col-sm-3">
                                <p>Sessions : 04/12</p>
                              </div>
                              <div class="col-sm-2">
                                <p>Students : 04</p>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="row">
                              <div class="col-sm-5">
                                <a href="#">FC 104 Learning Trigonometry</a>
                              </div>
                              <div class="col-sm-2">
                                <p>Batch : 45</p>
                              </div>
                              <div class="col-sm-3">
                                <p>Sessions : 04/12</p>
                              </div>
                              <div class="col-sm-2">
                                <p>Students : 04</p>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="row">
                              <div class="col-sm-5">
                                <a href="#">FC 104 Learning Trigonometry</a>
                              </div>
                              <div class="col-sm-2">
                                <p>Batch : 45</p>
                              </div>
                              <div class="col-sm-3">
                                <p>Sessions : 04/12</p>
                              </div>
                              <div class="col-sm-2">
                                <p>Students : 04</p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="tabcontentdivCA c-padding current" id="CA-tab-Past">
                        <ul class="dashed-list">
                          <li>
                            <div class="row">
                              <div class="col-sm-5">
                                <a href="#">FC 104 Learning Trigonometry</a>
                              </div>
                              <div class="col-sm-2">
                                <p>Batch : 45</p>
                              </div>
                              <div class="col-sm-3">
                                <p>Sessions : 04/12</p>
                              </div>
                              <div class="col-sm-2">
                                <p>Students : 04</p>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="row">
                              <div class="col-sm-5">
                                <a href="#">FC 104 Learning Trigonometry</a>
                              </div>
                              <div class="col-sm-2">
                                <p>Batch : 45</p>
                              </div>
                              <div class="col-sm-3">
                                <p>Sessions : 04/12</p>
                              </div>
                              <div class="col-sm-2">
                                <p>Students : 04</p>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="row">
                              <div class="col-sm-5">
                                <a href="#">FC 104 Learning Trigonometry</a>
                              </div>
                              <div class="col-sm-2">
                                <p>Batch : 45</p>
                              </div>
                              <div class="col-sm-3">
                                <p>Sessions : 04/12</p>
                              </div>
                              <div class="col-sm-2">
                                <p>Students : 04</p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    
                    <div class="block-div">
                      <div class="heading">
                        <div class="row">
                          <div class="col-sm-6">
                            <h3>Adhoc Sessions Taken</h3>
                          </div>
                          <div class="col-sm-6 text-right">
                            <ul class="tab-menu">
                        <li class="tabclickme" data-tag="tab-Upcoming"><a href="javascript:;">Upcoming</a></li>
                        <li  class="tabclickme active" data-tag="tab-Past"><a href="javascript:;">Past</a></li>
                      </ul>
                          </div>
                        </div>
                      </div> 
                      <div class="tabcontentdiv c-padding hide" id="tab-Upcoming">
                        <ul class="dashed-list">
                          <li>
                            <div class="row">
                              <div class="col-sm-3">
                                <p>12 Mar, 04:30 PM</p>
                              </div>
                              <div class="col-sm-4">
                                <p>Requested By : Rachael Bing</p>
                              </div>
                              <div class="col-sm-5">
                                <p>Subject : Doubts about Algebra...</p>
                              </div>
                               
                            </div>
                          </li>
                           <li>
                            <div class="row">
                              <div class="col-sm-3">
                                <p>12 Mar, 04:30 PM</p>
                              </div>
                              <div class="col-sm-4">
                                <p>Requested By : Rachael Bing</p>
                              </div>
                              <div class="col-sm-5">
                                <p>Subject : Doubts about Algebra...</p>
                              </div>
                               
                            </div>
                          </li>
                          <li>
                            <div class="row">
                              <div class="col-sm-3">
                                <p>12 Mar, 04:30 PM</p>
                              </div>
                              <div class="col-sm-4">
                                <p>Requested By : Rachael Bing</p>
                              </div>
                              <div class="col-sm-5">
                                <p>Subject : Doubts about Algebra...</p>
                              </div>
                               
                            </div>
                          </li>
                          
                        </ul>
                      </div>
                      <div class="tabcontentdiv c-padding current" id="tab-Past">
                        <ul class="dashed-list">
                          <li>
                            <div class="row">
                              <div class="col-sm-3">
                                <p>13 Mar, 04:30 PM</p>
                              </div>
                              <div class="col-sm-4">
                                <p>Requested By : Rachael Bing</p>
                              </div>
                              <div class="col-sm-5">
                                <p>Subject : Doubts about Algebra...</p>
                              </div>
                               
                            </div>
                          </li>
                           <li>
                            <div class="row">
                              <div class="col-sm-3">
                                <p>12 Mar, 04:30 PM</p>
                              </div>
                              <div class="col-sm-4">
                                <p>Requested By : Rachael Bing</p>
                              </div>
                              <div class="col-sm-5">
                                <p>Subject : Doubts about Algebra...</p>
                              </div>
                               
                            </div>
                          </li>
                          <li>
                            <div class="row">
                              <div class="col-sm-3">
                                <p>12 Mar, 04:30 PM</p>
                              </div>
                              <div class="col-sm-4">
                                <p>Requested By : Rachael Bing</p>
                              </div>
                              <div class="col-sm-5">
                                <p>Subject : Doubts about Algebra...</p>
                              </div>
                               
                            </div>
                          </li>
                          
                        </ul>
                      </div>
                    </div>
                    
                    <div class="block-div mbNone">
                      <div class="heading borNone">
                        <h3>[[teacherData.display_name]]'s Bio</h3>
                      </div> 
                      <div class="c-padding">
                        <p>[[teacherData.bio]]</p>
                      </div>
                    </div>
                    <div class="bottom-green-box">
                       <table cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="btn-td">
                            <a href="" class="btn btn-sm btn-white"><i class="fa fa-heart" aria-hidden="true"></i> Favorite</a>
                          </td>
                          <td>
                            Add [[teacherData.display_name]] as<br>your favorite teacher
                          </td>
                        </tr>
                       </table>
                       <a href="#" class="btn right-btn"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
           </div>
        </div>
      </div>
    </div>
  </section>
</article>
