<section class="buyer-gallery-product-info-section">
  <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-2">
          <div class="leftP-content-aera sidebar-div">
            <ul class="sidebar-link">
              <li class="active">
                <a href="#">[['lbl_all_designers'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_logo_designers'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_banner_designers'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_web_designers'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_3d_modeling_creators'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_mobile_ui_designers'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_web_ux_designers'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_painters'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_industrial_designers'|translate]]</a>
              </li>
              <li>
                <a href="#">[['lbl_packaging_designers'|translate]]</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-9 col-lg-10">
          <section class="rightP-content-aera animated">
            <div class="panel panel-block">
              <div class="panel-heading">
                <h3 class="panel-title">[['lbl_gallery'|translate]] <span class="active-page"><span class="icon-arrow">»</span> <strong class="bold">[['lbl_finance_app_ui'|translate]]</strong></span></h3>
              </div>
              <div class="panel-body">
                <div class="content-div">
                  <div class="row">

                    <div class="col-lg-6">
                      <div class="swiper-container gallery-top">
                      <div class="swiper-wrapper">
                      <div class="swiper-slide" style="background-image:url(resources/assets/images/bgi-img01.png)"></div>
                      <div class="swiper-slide" style="background-image:url(resources/assets/images/bgi-img01.png)"></div>
                      <div class="swiper-slide" style="background-image:url(resources/assets/images/bgi-img01.png)"></div>
                        <div class="swiper-slide" style="background-image:url(resources/assets/images/bgi-img01.png)"></div>

                        <div class="swiper-slide" style="background-image:url(resources/assets/images/bgi-img01.png)"></div>
                        <div class="swiper-slide" style="background-image:url(resources/assets/images/bgi-img01.png)"></div>
                          <div class="swiper-slide" style="background-image:url(resources/assets/images/bgi-img01.png)"></div>
                            <div class="swiper-slide" style="background-image:url(resources/assets/images/bgi-img01.png)"></div>
                      </div>
                      </div>
                      <div class="swiper-container gallery-thumbs">
                      <div class="swiper-wrapper">
                      <div class="swiper-slide" style="background-image:url(resources/assets/images/bgi-img-sm-01.png)"></div>
                      <div class="swiper-slide" style="background-image:url(resources/assets/images/bgi-img-sm-02.png)"></div>
                      <div class="swiper-slide" style="background-image:url(resources/assets/images/bgi-img-sm-03.png)"></div>
                      <div class="swiper-slide" style="background-image:url(resources/assets/images/bgi-img-sm-04.png)"></div>

                      <div class="swiper-slide" style="background-image:url(resources/assets/images/bgi-img-sm-01.png)"></div>
                      <div class="swiper-slide" style="background-image:url(resources/assets/images/bgi-img-sm-02.png)"></div>
                      <div class="swiper-slide" style="background-image:url(resources/assets/images/bgi-img-sm-03.png)"></div>
                      <div class="swiper-slide" style="background-image:url(resources/assets/images/bgi-img-sm-04.png)"></div>
                      </div>
                      </div>
                    </div>
                    <div class="col-lg-6 md-clearfix">
                      <div class="right-content-box">
                        <h4>[['lbl_set_of_70_general_purpose_icons'|translate]]</h4>
                        <div class="buy-now">
                          <div class="price"><i class="fa fa-jpy" aria-hidden="true"></i> 66</div>
                          <button class="btn btn-purple btn-sm">[['lbl_buy_now'|translate]]</button>
                        </div>
                        <hr>

                        <h4>[['lbl_product_description'|translate]] :</h4>
                        <p>
                          70+ Beautifully-Crafted, Modern & Creative Travel Icons Vector Set. Fully editable & customizable icons for the Travel, Tourism and Hospitality Industry. These are 100% vector icons so they are easy to edit, change color or resize. Icons include: flight, passport, luggage, cruise, beach, summer, camping, parachuting, diving, hotel, restaurant, sports... to say the least. Check them all out by clicking on the "Preview" button up top!
                        </p>
                        <hr>

                        <h4>[['lbl_product_uploaded_by'|translate]] :</h4>

                        <div class="product-by-div">
                          <div class="row">
                            <div class="col-sm-6">
                              <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                    <th class="sm-thum-img">
                                      <a href="javascript:;"><img src="resources/assets/images/lg-photo2.png" class="circle" alt="" width="60" height="60"></a>
                                    </th>
                                      <td>
                                         <h4>Meng Tu</h4>
                                      4.6/5 (11 [['lbl_reviews'|translate]])
                                      </td>
                                  </tr>
                              </tbody>
                              </table>
                            </div>
                            <div class="col-sm-6">
                              <a href="javascript:;" class="btn btn-purple btn-sm">[['lbl_view_profile'|translate]] </a>
                            </div>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>

          </section>
        </div>
      </div>
    </div>
  </div>
</section>
