<div class="modal fade designer-my-uploads-popup" id="termsandconditionsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title uppercase color-purple">[['lbl_termscondition'|translate]]</h4>
      </div>
      <div class="modal-body">
        <div>
            <p>[['lbl_termscondition_age_modal'|translate]]</p>
            <div class="form-group ">
                <span class="custom-checkbox2">
                    <input id="tandcAccept" name="tandcAccept" ng-model="tandcAccept" type="checkbox" value="1" />
                    <label for="tandcAccept">[['lbl_i_accept'|translate]] <label class="error_asterix" ng-if="!tandcAccept && tandcError"> *</label></label>
                </span>
            </div>
        </div>
        <div class="form-bottom-btn">
          <div class="row">

              <div class="col-sm-12">
                <button ng-click="Accepttermsandconditions()" class="btn btn-purple submit-btn uppercase btn-sm create-portfolio"> [['lbl_submit'|translate]]</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade designer-my-uploads-popup" id="anothertermsandconditionsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title uppercase color-purple">[['lbl_termscondition'|translate]]</h4>
      </div>
      <div class="modal-body">
        <div>
            <p>[['lbl_signup_terms_conditions_1'|translate]] <a href="sixteen-terms-of-service" target="_blank">[['lbl_terms_service'|translate]] </a>[['lbl_and_our'|translate]] <a href="privacy-policy" target="_blank">[['lbl_privacy_policy'|translate]] </a> [['lbl_signup_terms_conditions_2'|translate]]</p>
            <p>[['lbl_signup_terms_conditions_3'|translate]]</p>
            <div class="form-group ">
                <span class="custom-checkbox2">
                    <input id="another_tandcAccept" name="another_tandcAccept" ng-model="another_tandcAccept" type="checkbox" value="1" />
                    <label for="another_tandcAccept">[['lbl_i_accept'|translate]] <label class="error_asterix" ng-if="!another_tandcAccept && another_tandcError"> *</label></label>
                </span>
            </div>
        </div>
        <div class="form-bottom-btn">
          <div class="row">

              <div class="col-sm-12">
                <button class="btn-sm btn btn-purple submit-btn " ng-click="submitForm(designer)" >[['lbl_submit'|translate]]</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade designer-my-uploads-popup" id="signuptermsandconditionsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title uppercase color-purple">[['lbl_termscondition'|translate]]</h4>
      </div>
      <div class="modal-body">
        <div>
            <p>[['lbl_termscondition_coming_soon_signup'|translate]]</p>
            <div class="form-group ">
                <span class="custom-checkbox2">
                    <input id="signup_tandcAccept" name="signup_tandcAccept" ng-model="signup_tandcAccept" type="checkbox" value="1" />
                    <label for="signup_tandcAccept">[['lbl_i_accept'|translate]] <label class="error_asterix" ng-if="!signup_tandcAccept && signup_tandcError"> *</label></label>
                </span>
            </div>
        </div>
        <div class="form-bottom-btn">
          <div class="row">

              <div class="col-sm-12">
                <button class="btn-sm btn btn-purple submit-btn " ng-click="Acceptanothertermsandconditions()" >[['lbl_submit'|translate]]</button>
                <!-- <button ng-click="Acceptanothertermsandconditions()" class="btn btn-purple submit-btn uppercase btn-sm create-portfolio"> [['lbl_submit'|translate]]</button> -->
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade designer-my-uploads-popup" id="cropmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title uppercase color-purple">[['lbl_crop'|translate]]</h4>
      </div>
      <div class="modal-body">
        <div>
            <div class="resizeContainer">
                <div class="hide">
                    <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                </div>
                <div class="resizeArea">
                    <div class="cropArea">
                        <img-crop area-type="square" crop-data="image.cropInfo" image="imageDataURI" original-data="image.originalInfo" result-image="myCroppedImage">
                        </img-crop>
                    </div>
                    <div class="preview_container">
                        <div crop-data="image.cropInfo" image="imageDataURI" img-crop-result="" original-data="image.originalInfo" width="70%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-bottom-btn">
          <div class="row">

              <div class="col-sm-12">
                <button ng-click="Submitimage()" class="btn btn-purple submit-btn uppercase btn-sm create-portfolio"> [['lbl_submit'|translate]]</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="sign-up-section">
    <div class="left-g-circle ">
        <img src="resources/assets/images/gradient-circle.png"/>
    </div>
    <div class="right-g-sm-circle">
        <img src="resources/assets/images/gradient-circle.png" width="60"/>
    </div>
    <div class="right-g-trangle ">
        <img src="resources/assets/images/gradient-trangle.png"/>
    </div>
    <div class="container">
        <div class="head-sub-text text-center">
            <h3 class="header-text">
                [['lbl_seller_sign_up'|translate]]
            </h3>
            <!-- <p class=" animated fadeInUp">
                Sign up invitation from Jack Bauer (jack.bauer334@qqmail.com)
            </p> -->
        </div>
        <form class="FlowupLabels" enctype="multipart/form-data" id="Designersignupform" method="post" name="vm.form" ng-submit="vm.submitForm(vm.form.$valid)" novalidate="">
            <!--Step first-->
            <div class="upload-profile-pic">
              <div class="img-div">
                <input type="file" name="image" id="image">
                
                <!--after upload display block-->
                <div class="uploaded-img" id="dp"><i class="fa fa-user-o" aria-hidden="true"></i></div>
                <!--after upload display block End display:none -->
              </div>
              <label>[['lbl_profile_picture'|translate]]</label>
            </div>
            <div class="flowup-labels-form sign-up-form" id="sign-up-step01">
                <div class="form-group">
                    <div class="fl_wrap populated [[!email_address_decoded?email_address_error?'has-error':'':!email_exists_error?'has-success':'has-error']]">
                        <label class="fl_label" for="rf_email">
                            [['lbl_email_address'|translate]]
                        </label>
                        <input class="fl_input form-control" id="rf_email" ng-model="email_address_decoded" required="" type="email"  />
                        <i class="fa fa-check-circle out-icon" ng-if="email_address_decoded && !email_exists_error">
                        </i>
                        <i class="fa fa-exclamation-circle out-icon" ng-if="email_address_error && !email_address_decoded" title="[['lbl_email_is_required'|translate]]">
                        </i>
                        <i class="fa fa-exclamation-circle out-icon" ng-if="email_exists_error" title="[['lbl_email_already_exists'|translate]]">
                        </i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="fl_wrap [[!first_name?first_name_error?'has-error':'':'has-success']]">
                        <label class="fl_label" for="rf_fname">
                            [['lbl_first_name'|translate]]
                        </label>
                        <input class="fl_input form-control" id="rf_fname" name="first_name" ng-model="first_name" required="" type="text"/>
                        <i class="fa fa-check-circle out-icon" ng-if="first_name">
                        </i>
                        <i class="fa fa-exclamation-circle out-icon" ng-if="first_name_error && !first_name" title="[['lbl_first_name_required'|translate]]">
                        </i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="fl_wrap [[!last_name?last_name_error?'has-error':'':'has-success']]">
                        <label class="fl_label" for="rf_lfname">
                            [['lbl_last_name'|translate]]
                        </label>
                        <input class="fl_input form-control" id="rf_lfname" name="last_name" ng-model="last_name" required="" type="text"/>
                        <i class="fa fa-check-circle out-icon" ng-if="last_name">
                        </i>
                        <i class="fa fa-exclamation-circle out-icon" ng-if="last_name_error && !last_name" title="[['lbl_last_name_required'|translate]]">
                        </i>
                    </div>
                </div>
                <div ng-if="last_name && first_name">
                    <h3>
                        [['lbl_display_name'|translate]]
                    </h3>
                    <section class="project-availability">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="custom-radio1">
                                        <input id="display_name_1" name="display_name" type="radio" value="[[first_name]] [[last_name]]"/>
                                        <label for="display_name_1">
                                            [[first_name]] [[last_name]]
                                        </label>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="custom-radio1">
                                        <input id="display_name_2" name="display_name" type="radio" value="[[last_name]] [[first_name]]"/>
                                        <label for="display_name_2">
                                            [[last_name]] [[first_name]]
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="fl_wrap [[!password?password_error?'has-error':'':password_format_error? 'has-error':'has-success']]">
                                <label class="fl_label" for="rf_pwd">[['lbl_password' | translate]]</label>
                                <input class="fl_input form-control" type="password" id="rf_pwd" ng-model="password" name="password" placeholder="[['lbl_password_placeholder' | translate]]"  required="" />
                                <i class="fa fa-check-circle out-icon" ng-if="password && !password_format_error">
                                </i>
                                <i class="fa fa-exclamation-circle out-icon" ng-if="password && password_format_error" title="[['lbl_password_case' | translate]]">
                                </i>
                                <i class="fa fa-exclamation-circle out-icon" ng-if="password_error && !password" title="[['lbl_password_required' | translate]]"> 
                                </i> 
                          </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="fl_wrap [[!confirm_password ? confirm_password_error ?'has-error' :'': confirm_password!=password? 'has-error':cnf_password_format_error?'has-error':'has-success']] ">
                                <label class="fl_label" for="rf_cnfpwd">
                                    [['lbl_confirm_password'|translate]]
                                </label>
                                <input class="fl_input form-control" id="rf_cnfpwd" minlength="8" maxlength="16" name="confirm_password" ng-model="confirm_password" placeholder="[['lbl_password_placeholder' | translate]]" required="" type="password"/>
                                <i ng-if="(confirm_password) && (confirm_password==password) && (!cnf_password_format_error)" class="fa fa-check-circle out-icon" >
                                </i>
                                <i  ng-if=" !confirm_password && confirm_password_error" class="fa fa-exclamation-circle out-icon" title="[['lbl_confirm_password_required' | translate]]"></i>
                                <i ng-if="confirm_password && (confirm_password!=password)" class="fa fa-exclamation-circle out-icon"  title="[['lbl_password_not_match' | translate]]">
                                </i>
                                <i ng-if="confirm_password && cnf_password_format_error" class="fa fa-exclamation-circle out-icon"  title="[['lbl_password_case' | translate]]"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 ">
                        <div class="form-group">
                            <span>
                                [['lbl_password_text'|translate]] 
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="fl_wrap select-dropdown [[!country_id?country_id_error?'has-error':'':'has-success']]">
                        <label class="fl_label" for="rf_cor">
                            [['lbl_country_of_residence'|translate]]
                        </label>
                        <select class="fl_input form-control" id="rf_Nationality" ng-model="country_id" required="" type="text">
                            <option value="">
                                [['lbl_select'|translate]] [['lbl_country'|translate]]
                            </option>
                            <option ng-repeat="country in countrycitydata.country" value="[[country.id]]" data-country="[[country.phonecode]]">
                                [[country.name]]
                            </option>
                            <option value="other">
                                [['lbl_external'|translate]] 
                            </option>
                        </select>
                        <i class="fa fa-check-circle out-icon" ng-if="country_id">
                        </i>
                        <i class="fa fa-exclamation-circle out-icon" ng-if="country_id_error && !country_id" title="[['lbl_country_required'|translate]]">
                        </i>
                    </div>
                </div>
                <div class="form-group" ng-if="!showDropdown">
                  <div class="fl_wrap [[!obj.country_text?country_text_error?'has-error':'':'has-success']]">
                    <label class="fl_label" for="country_text">[['lbl_country'|translate]]</label>
                    <input class="fl_input form-control" type="text" ng-model="obj.country_text" name="country_text" id="country_text">
                    <i ng-if="obj.country_text" class="fa fa-check-circle out-icon"></i>
                    <i ng-if="country_text_error && !obj.country_text" class="fa fa-exclamation-circle out-icon" title="[['lbl_country_required' | translate]]"></i>
                  </div>
                </div>
                <div class="form-group" ng-if="showDropdown">
                    <div class="fl_wrap select-dropdown [[!provience_id?provience_id_error?'has-error':'':'has-success']]">
                        <label class="fl_label" for="rf_Province">
                            [['lbl_province'|translate]]
                        </label>
                        <select class="fl_input form-control" disabled="" id="rf_Province" name="provience_id" ng-model="provience_id" required="" type="text">
                            <option value="">
                                [['lbl_select'|translate]] [['lbl_province'|translate]]
                            </option>
                            <option ng-repeat="Province in states" value="[[Province.id]]">
                                [[Province.name]]
                            </option>
                        </select>
                        <!-- <i class="[[!provience_id?'fa fa-exclamation-circle out-icon':'fa fa-check-circle out-icon']]" ng-if="nextStep"> -->
                        <i class="fa fa-check-circle out-icon" ng-if="provience_id">
                        </i>
                        <i class="fa fa-exclamation-circle out-icon" ng-if="provience_id_error && !provience_id" title="[['lbl_province_required'|translate]]">
                        </i>
                        <!-- </i> -->
                    </div>
                </div>
                <div class="form-group" ng-if="!showDropdown">
                    <div class="fl_wrap [[!obj.state_text?state_text_error?'has-error':'':'has-success']]">
                      <label class="fl_label" for="state_text">[['lbl_province_state'|translate]]</label>
                      <input class="fl_input form-control" type="text" ng-model="obj.state_text" name="state_text" id="state_text">
                      <i ng-if="obj.state_text" class="fa fa-check-circle out-icon"></i>
                      <i ng-if="state_text_error && !obj.state_text" class="fa fa-exclamation-circle out-icon" title="[['lbl_province_required' | translate]]"></i>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-6" ng-if="showDropdown">
                        <div class="form-group">
                            <div class="fl_wrap select-dropdown [[!city_id?city_id_error?'has-error':'':'has-success']]">
                                <label class="fl_label" for="rf_city">
                                    [['lbl_city_name'|translate]]
                                </label>
                                <select class="fl_input form-control" disabled="" id="rf_City" name="city_id" ng-model="city_id" required="" type="text">
                                    <option value="">
                                        [['lbl_select'|translate]] [['lbl_city'|translate]]
                                    </option>
                                    <option ng-repeat="City in cities" value="[[City.id]]">
                                        [[City.name]]
                                    </option>
                                </select>
                                <i ng-if="city_id" class="fa fa-check-circle out-icon"></i>
                                <i ng-if="city_id_error && !city_id" class="fa fa-exclamation-circle out-icon" title="[['lbl_city_required' | translate]]"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" ng-if="!showDropdown">
                      <div class="form-group">
                        <div class="fl_wrap [[!obj.city_text?city_text_error?'has-error':'':'has-success']]">
                          <label class="fl_label" for="city_text">[['lbl_city_name'|translate]]</label>
                          <input class="fl_input form-control" type="text" ng-model="obj.city_text" name="city_text" id="city_text">
                          <i ng-if="obj.city_text" class="fa fa-check-circle out-icon"></i>
                          <i ng-if="city_text_error && !obj.city_text" class="fa fa-exclamation-circle out-icon"  title="[['lbl_city_required' | translate]]"></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="fl_wrap [[age < 16||age_undefined_error?'has-error':(age>=16 || age >= 18 ? not_accept==true?'has-success':'has-error' : '')]]">
                                <label class="fl_label" for="rf_dob">
                                    [['lbl_dob'|translate]]
                                </label>
                                <input ng-show="eng == true" class="fl_input form-control datetimepicker" id="datetimepicker-eng" name="dob" ng-change=calculateAge(dob) ng-model="dob" type="text" onkeydown="return false" />

                                <input ng-show="!eng" class="fl_input form-control datetimepicker" ng-change=calculateAge(dob) ng-model="dob" type="text" name="dob" id="datetimepicker-cn" type="text" onkeydown="return false"/>
                                <i class="fa fa-calendar">
                                </i>
                                <i ng-if="age >= 16 && not_accept==true" class="fa fa-check-circle out-icon"></i>
                                <i ng-if="age >= 16 && age < 18 && not_accept==false" class="fa fa-exclamation-triangle out-icon" title="[['lbl_dob_accept_terms_and_condition'|translate]]"></i>                                
                                <i ng-if="age < 16" class="fa fa-exclamation-circle out-icon" title="[['lbl_age_16_limit'|translate]]"></i>
                                <i ng-if="age_undefined_error" class="fa fa-exclamation-circle out-icon" title="[['lbl_dob_required'|translate]]"></i>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="age >= 16 && age < 18">
                    <div class="fl_wrap active [[guardian_id_error?'has-error':'']]" style="height:auto">
                        <label class="fl_label" for="guardian_id_proof">
                            [['lbl_guardian_id_proof'|translate]]
                        </label>
                        <div class="input-file-container">
                            <input class="input-file fl_input form-control" id="guardian_id_proof" name="guardian_id_proof" type="file">
                            <i class="fa fa-exclamation-circle out-icon" id="guardianID" style="display: block;color: #ed7154;" ng-if="guardian_id_error === true" title="[['lbl_guardian_id__proof_is_required'|translate]]"></i>
                            <i class="fa fa-check-circle out-icon" id="guardianIDSuccess" style="display:none;"></i>
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="110">
                                        <label class="input-file-trigger" for="my-file" tabindex="0">
                                            [['lbl_upload_files'|translate]]
                                        </label>
                                    </td>
                                    <td>
                                        <p class="file-return">
                                        </p>
                                    </td>
                                    <td class="att-icon" width="50">
                                        <i class="fa fa-paperclip">
                                        </i>                                        
                                    </td>                                    
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="fl_wrap">
                                <label class="fl_label" id="seller_phonecode_label">[['lbl_code'|translate]] </label>
                                <span  id="seller_phonecode">
                                    <input class="fl_input form-control" type="text" numbers-only ng-model="phonecode" name="phonecode" id="country_code">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <div class="fl_wrap [[!contact?contact_error?'has-error':'':'has-success']]">
                                <label class="fl_label" for="rf_Pn">
                                    [['lbl_phone_number'|translate]]
                                </label>
                                <input class="fl_input form-control" required=""  id="rf_Pn" name="contact" numbers-only ng-model="contact" type="text"/>
                                <i class="fa fa-check-circle out-icon" ng-if="contact">
                                </i>
                                <i class="fa fa-exclamation-circle out-icon" ng-if="contact_error && !contact" title="[['lbl_contact_number_is_required'|translate]]">
                                </i>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="form-group">
                    <div class="fl_wrap select-dropdown [[!school_id?school_id_error?'has-error':'':'has-success']]">
                        <label class="fl_label" for="rf_sn">
                            [['lbl_school_name'|translate]]
                        </label>
                        <select class="fl_input form-control" id="rf_sn" name="school_id" ng-model="school_id" required="" type="text">
                            <option value="">
                                [['lbl_select'|translate]] [['lbl_school'|translate]]
                            </option>
                            <option ng-repeat="school in schools" value="[[school.id]]">
                                [[school.name]]
                            </option>
                        </select>
                        <i class="fa fa-check-circle out-icon" ng-if="school_id">
                        </i>
                        <i class="fa fa-exclamation-circle out-icon" ng-if="school_id_error && !school_id" title="[['lbl_school_name_is_required'|translate]]">
                        </i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="fl_wrap [[!student_id?student_id_error?'has-error':'':'has-success']]">
                        <label class="fl_label" for="rf_sID">
                            [['lbl_student_id'|translate]]
                        </label>
                        <input class="fl_input form-control" required="" id="rf_sID" name="student_id" ng-model="student_id" type="text"/>
                        <i class="fa fa-check-circle out-icon" ng-if="student_id">
                        </i>
                        <i class="fa fa-exclamation-circle out-icon" ng-if="student_id_error && !student_id" title="[['lbl_student_id_is_required'|translate]]">
                        </i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="fl_wrap active [[student_id_proof_error?'has-error':'']]" style="height:auto">
                        <label class="fl_label" for="student_id_proof">
                            [['lbl_student_id_proof'|translate]]
                        </label>
                        <div class="input-file-container">
                            <input class="input-file-student fl_input form-control" id="student_id_proof" name="student_id_proof" type="file">
                             <i class="fa fa-exclamation-circle out-icon" id="studentIdProof" style="display: block;color: #ed7154;" ng-if="student_id_proof_error === true" title="[['lbl_student_id_proof_required'|translate]]"></i>
                             <i class="fa fa-check-circle out-icon" id="studentIdProofSuccess" style="display:none;"></i>
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="110">
                                        <label class="input-file-trigger-student" for="my-file" tabindex="0">
                                            [['lbl_upload_files'|translate]]
                                        </label>
                                    </td>
                                    <td>
                                        <p class="file-return-student">
                                        </p>
                                    </td>
                                    <td class="att-icon" width="50">
                                        <i class="fa fa-paperclip">
                                        </i>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="fl_wrap active [[id_proof_error?'has-error':'']]" style="height:auto">
                        <label class="fl_label" for="id_proof">
                            [['lbl_id_proof'|translate]]
                        </label>
                        <div class="input-file-container">
                            <input class="input-file fl_input form-control" id="id_proof" name="id_proof" type="file">
                            <i class="fa fa-exclamation-circle out-icon" id="IdProofFile" style="display: block;color: #ed7154;" ng-if="student_id_proof_error === true" title="[['lbl_id_proof_required'|translate]]"></i>
                            <i class="fa fa-check-circle out-icon" id="IdProofSuccess" style="display:none;"></i>
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="110">
                                        <label class="input-file-trigger" for="my-file" tabindex="0">
                                            [['lbl_upload_files'|translate]]
                                        </label>
                                    </td>
                                    <td>
                                        <p class="file-return">
                                        </p>
                                    </td>
                                    <td class="att-icon" width="50">
                                        <i class="fa fa-paperclip">
                                        </i>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            [['lbl_front_back_view_of_id'|translate]]
                        </div>
                    </div>
                </div>
                <!--    <div class="form-group">
                    <div class="fl_wrap active" style="height:auto">
                        <label class="fl_label" for="image">
                            [['lbl_image'|translate]]:
                        </label>
                        <div class="input-file-container">
                            <input class="input-file fl_input form-control" id="image" name="image" type="file">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="110">
                                            <label class="input-file-trigger" for="my-file" tabindex="0">
                                                [['lbl_upload_files'|translate]]
                                            </label>
                                        </td>
                                        <td>
                                            <p class="file-return">
                                            </p>
                                        </td>
                                        <td class="att-icon" width="50">
                                            <i class="fa fa-paperclip">
                                            </i>
                                        </td>
                                    </tr>
                                </table>
                            </input>
                        </div>
                    </div>
                </div> -->
                <div class="form-bottom-btn">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="step-text">
                                 [['lbl_step_1_of_2'|translate]]
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="right-btn text-right">
                                <a class="next-btn" href="javascript:;" id="gotostep2" ng-click="gotoNextStep()">
                                    [['lbl_next'|translate]]
                                    <span>
                                        &#8594;
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Step Second-->
            <div class="flowup-labels-form sign-up-form" id="sign-up-step02" style="display:none">
                <!--Design Capabilities Section-->
                <h3>
                    [['lbl_sesign_capabilities'|translate]]
                </h3>
                <section ng-if="!eng" class="design-capabilities paddingB50" >
                    [[skills]]
                    <span class="custom-checkbox" ng-repeat="skill in skills">
                        <input id="[[skill.id]]" name="skills[]" type="checkbox" value="[[skill.id]]"/>
                        <label for="[[skill.id]]" >
                            [[skill.skill_name]]
                        </label>
                    </span>
                </section>
                <section ng-if="eng == true" class="design-capabilities paddingB50">
                    [[skills]]
                    <span class="custom-checkbox" ng-repeat="skill in skills">
                        <input id="[[skill.id]]" name="skills[]" type="checkbox" value="[[skill.id]]"/>
                        <label for="[[skill.id]]" >
                            [[skill.skill_name_chinese]]
                        </label>
                    </span>
                </section>

                <!--Project Availability Section-->
                
                <h3>
                    [['lbl_project_availability'|translate]]
                </h3>
                <section class="project-availability paddingB50">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="custom-radio1">
                                    <input checked="" id="pa1" name="mp_designer_proj_availability" ng-model="mp_designer_proj_availability" type="radio" value="1"/>
                                    <label for="pa1">
                                        [['lbl_full_time'|translate]] [['lbl_full_time_txt'|translate]]
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="custom-radio1">
                                    <input id="pa2" name="mp_designer_proj_availability" ng-model="mp_designer_proj_availability" type="radio" value="2"/>
                                    <label for="pa2">
                                        [['lbl_part_time'|translate]] [['lbl_part_time_txt'|translate]]
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="custom-radio1">
                                    <input id="pa3" name="mp_designer_proj_availability" ng-model="mp_designer_proj_availability" type="radio" value="3"/>
                                    <label for="pa3">
                                        [['lbl_hobbist'|translate]] [['lbl_hobbist_time_txt'|translate]]
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="custom-radio1">
                                    <input id="pa4" name="mp_designer_proj_availability" ng-model="mp_designer_proj_availability" type="radio" value="4"/>
                                    <label for="pa4">
                                        [['lbl_casual'|translate]] [['lbl_casual_time_txt'|translate]]
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="project-availability paddingB50">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <span class="custom-checkbox2">
                                    <input id="longterm_availability" name="longterm_availability" ng-model="longterm_availability" type="checkbox"/>
                                    <label for="longterm_availability">
                                        [['lbl_available_for_long_term_projects'|translate]]
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Price Range Section-->
                <!-- <h3>
                    [['lbl_price_range'|translate]]
                </h3>
                <section class="price-range paddingB50">
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="range-example-input-2" max="5000" min="0" name="points" step="1" type="text" value="505,2000"/>
                        </div>
                        <div class="col-sm-12">
                            <ul>
                                <li>
                                    [['lbl_logo_design_project'|translate]]
                                </li>
                                <li>
                                    [['lbl_web_design_project'|translate]]
                                </li>
                                <li>
                                    [['lbl_mobile_design_project'|translate]]
                                </li>
                            </ul>
                        </div>
                    </div>
                </section> -->
                <!--Languages Known Section-->
                <h3>
                    [['lbl_language_known'|translate]]
                </h3>
                <section class="languages-known paddingB50">
                    <div class="selected-languages">
                        <span ng-if="isEnglish" ng-repeat="flang in finalLanguageEnglish">
                            [[flang.language_known]] - [[flang.language_proficiency]]
                            <a href="#">
                                <i class="fa fa-times-circle" ng-click="removeLanguage(flang)">
                                </i>
                            </a>
                        </span>
                        <span ng-if="!isEnglish" ng-repeat="flang in finalLanguageChinese">
                            [[flang.language_known]] - [[flang.language_proficiency]]
                            <a href="#">
                                <i class="fa fa-times-circle" ng-click="removeLanguage(flang)">
                                </i>
                            </a>
                        </span>
                    </div>
                    <div class="dropdown-div">
                        <div class="row">
                            <div class="col-sm-6" >
                                <select class="form-control languages_known" id="language" ng-model="lang">
                                    <option value="">
                                        [['lbl_select_language'|translate]]
                                    </option>
                                    <option  id="language_[[value.id]]" ng-repeat="value in languages_known" value="[[value]]">
                                        [[isEnglish?value.name:value.chinese_name]]
                                    </option>
                                    <!-- <option ng-show="!isEnglish" id="language_[[value.id]]" ng-repeat="value in languages_known" value="[[value]]">
                                        [[value.chinese_name]]
                                    </option> -->
                                </select> 
                              
                            </div>
                            
                            <div class="col-sm-6">
                                <select class="form-control" ng-model="language_proficiency">
                                    <option value="">
                                       [['lbl_proficiency'|translate]]
                                    </option>
                                    <option value="Beginner,初级">
                                       [['lbl_beginner'|translate]]
                                    </option>
                                    <option value="Intermediate,中等">
                                       [['lbl_intermediate'|translate]]
                                    </option>
                                    <option value="Fluent,流利">
                                       [['lbl_fluent'|translate]]
                                    </option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-purple" ng-click="submitLanguage(lang,language_proficiency)" ng-disabled="!lang || !language_proficiency">
                            [['lbl_add'|translate]]
                        </button>
                    </div>
                </section>
                <!-- <section class="languages-known paddingB50">
                    
                </section> -->
                <div class="form-bottom-btn">
                    <div class="row">
                        <div class="col-md-6">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="padding-right:10px">
                                        <a class="btn btn-purple submit-btn" href="javascript:;" id="gotostep1">
                                            [['lbl_back'|translate]]
                                        </a>
                                    </td>
                                    <td>
                                        <button class="signup_btn btn btn-purple submit-btn " ng-click="showsignupmodal()" ng-disabled="!vm.form.$valid && !finalLanguage.length">
                                            [['lbl_submit'|translate]]
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <div class="step-text">
                                    [['lbl_step_2_of_2'|translate]]
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>