<!-- Modal Gallery-->
<div class="modal fade designer-my-uploads-popup" id="GalleryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title uppercase color-purple">My Portfolio</h4>
      </div>
      <div class="modal-body">
        <div class="flowup-labels-form sign-up-form animated  go">
          <form class="FlowupLabels">
            <div class="form-group">
              <div class="fl_wrap">
                <label class="fl_label" for="rf_title">Title</label>
                <input class="fl_input form-control" type="text" id="rf_title" />
              </div>
            </div>
            <div class="form-group">
              <div class="fl_wrap textarea">
                <label class="fl_label" for="description">Description</label>
                <textarea class="fl_input form-control" type="text" id="description" ></textarea>
              </div>
            </div>
            <div class="form-group category">
              <h4>Category</h4>
              <div class="fl_wrap">
                <section class="design-capabilities">
                    <span class="custom-checkbox"> <input type="checkbox" id="test1" /><label for="test1">Logo Design</label></span>
                    <span class="custom-checkbox"> <input type="checkbox" id="test2" checked /><label for="test2">Banner Design</label></span>
                    <span class="custom-checkbox"> <input type="checkbox" id="test3" /><label for="test3">Brochure Design</label></span>
                    <span class="custom-checkbox"> <input type="checkbox" id="test4" /><label for="test4">Poster Design</label></span>
                    <span class="custom-checkbox"> <input type="checkbox" id="test5" /><label for="test5">Packaging Design</label></span>
                    <span class="custom-checkbox"> <input type="checkbox" id="test6" checked /><label for="test6">Web Design</label></span>
                    <span class="custom-checkbox"> <input type="checkbox" id="test7" /><label for="test7">Custom Calligraphy</label></span>
                    <span class="custom-checkbox"> <input type="checkbox" id="test8" /><label for="test8">3D Modelling</label></span>
                    <span class="custom-checkbox"> <input type="checkbox" id="test9" checked /><label for="test9">Mobile App Design</label></span>
                    <span class="custom-checkbox"> <input type="checkbox" id="test10" /><label for="test10">Flyer Design</label></span>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                    <div class="form-group upload-files">
                      <label>Header Image</label>
                      <div class="addfile">
                        <input type="file">
                        <i class="fa fa-paperclip" aria-hidden="true"></i> Add Image
                      </div>
                    </div>

                    <ul class="upload-files-list">
                      <li>
                        <span class="l-icon"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
                        Mobile UI Design
                        <a href="javascript:;" class="close-btn"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
                      </li>
                      <li>
                        <span class="l-icon"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
                        Mobile UI Design
                        <a href="javascript:;" class="close-btn"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
                      </li>
                    </ul>
              </div>
              <div class="col-sm-6">
                    <div class="form-group upload-files">
                      <label>Internal Images</label>
                      <div class="addfile">
                        <input type="file">
                        <i class="fa fa-paperclip" aria-hidden="true"></i> Add Image
                      </div>
                    </div>

                    <ul class="upload-files-list">

                      <li>
                        <span class="l-icon"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
                      Web UI Design
                        <a href="javascript:;" class="close-btn"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
                      </li>
                    </ul>
              </div>
            </div>
            <div class="form-bottom-btn">
              <div class="row">

                  <div class="col-sm-12">
                    <button class="btn btn-purple submit-btn uppercase btn-sm"> Submit</button>
                  </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Modal complated-portfolio-->
<div class="modal fade complated-portfolio-popup" id="complatedPortfolioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title uppercase color-purple">My sixclouds Portfolio</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="cp">Completed Projects:</label>
            </div>
            <div class="col-sm-9">
              <div class="right-selectDropdown">
                <select class="form-control">
                  <option>Design a logo  for a pharmaceutical comany</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="full-width-320 col-xs-6 col-sm-4 col-md-3">
            <label class="checkbox-with-thumb" style="background-image:url(assets/images/design-p-pic.png)">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span> </label>
          </div>
          <div class="full-width-320 col-xs-6 col-sm-4 col-md-3">
            <label class="checkbox-with-thumb" style="background-image:url(assets/images/design-p-pic.png)">
              <input type="checkbox">
              <span class="checkmark"></span> </label>
          </div>
          <div class="full-width-320 col-xs-6 col-sm-4 col-md-3">
            <label class="checkbox-with-thumb" style="background-image:url(assets/images/design-p-pic.png)">
              <input type="checkbox">
              <span class="checkmark"></span> </label>
          </div>
          <div class="full-width-320 col-xs-6 col-sm-4 col-md-3">
            <label class="checkbox-with-thumb" style="background-image:url(assets/images/design-p-pic.png)">
              <input type="checkbox">
              <span class="checkmark"></span> </label>
          </div>
        </div>

        <div class="bottom-btn">
          <button class="btn btn-purple submit-btn btn-sm">Reset</button>
          <button class="btn btn-purple submit-btn btn-sm">Upload</button>
        </div>
      </div>

    </div>
  </div>
</div>

<!--designer-portfolio section-->
<section class="designer-portfolio-section">
  <div class="container">
    <div class="panel panel-block">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="panel-title">MY PORTFOLIO</h3>
          </div>
          <div class="col-sm-6 spetos-left">
            Spetos Left : <strong>05</strong>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="content-div">
          <ul class="dPortfolioTab">
            <li class="active"><a href="javascript:;">Internal</a></li>
            <li><a href="javascript:;" data-toggle="modal" data-target="#GalleryModal">External</a></li>
          </ul>
        </div>
      </div>
      <div class="panel-body">
        <div class="content-div">
          <ul class="my-portfolio">

            <!--row-->

            <!--Add Item-->
            <li class="add-item">
              <div class="inner-content">
                <a href="javascript:;" class="border-div" data-toggle="modal" data-target="#complatedPortfolioModal">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    <span  class="un">Upload New</span>
                  </a>
              </div>
            </li>
            <!--Add Item End-->

            <li>
              <div class="inner-content">
                <div style="background-image:url(assets/images/design-p-pic.png)" class="img-div">
                  <div class="action-div">
                      <a href="javascript:;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
                <div class="bottom-content">
                  <table cellpadding="0" cellspacing="0" width="100%" height="40">
                    <tr>
                        <td class="title">Add Banner Examples</td>
                      </tr>
                  </table>
                </div>
              </div>
            </li>

            <li>
              <div class="inner-content">
                <div style="background-image:url(assets/images/design-p-pic2.png)" class="img-div">
                  <div class="action-div">
                      <a href="javascript:;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
                <div class="bottom-content">
                  <table cellpadding="0" cellspacing="0" width="100%" height="40">
                      <tr>
                        <td class="title">Add Banner Examples</td>
                      </tr>
                      <tr>
                        <td class="sm-img">
                            <img alt="" src="assets/images/sm-mp01.png" width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp02.png"  width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp03.png"   width="33" height="33"/>
                            <a class="btn btn-light-purple more-btn">7 More</a>
                          </td>
                      </tr>
                  </table>

                </div>
              </div>
            </li>

            <li>
              <div class="inner-content">
                <div style="background-image:url(assets/images/design-p-pic3.png)" class="img-div">
                  <div class="action-div">
                      <a href="javascript:;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
                <div class="bottom-content">
                  <table cellpadding="0" cellspacing="0" width="100%" height="40">
                      <tr>
                        <td class="title">Add Banner Examples</td>
                      </tr>
                      <tr>
                        <td class="sm-img">
                            <img alt="" src="assets/images/sm-mp01.png" width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp02.png"  width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp03.png"   width="33" height="33"/>
                            <a class="btn btn-light-purple more-btn">7 More</a>
                          </td>
                      </tr>
                  </table>
                </div>
              </div>
            </li>

            <li>
              <div class="inner-content">
                <div style="background-image:url(assets/images/design-p-pic4.png)" class="img-div">
                  <div class="action-div">
                      <a href="javascript:;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
                <div class="bottom-content">
                  <table cellpadding="0" cellspacing="0" width="100%" height="40">
                      <tr>
                        <td class="title">Add Banner Examples</td>
                      </tr>
                      <tr>
                        <td class="sm-img">
                            <img alt="" src="assets/images/sm-mp01.png" width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp02.png"  width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp03.png"   width="33" height="33"/>
                            <a class="btn btn-light-purple more-btn">7 More</a>
                          </td>
                      </tr>
                  </table>
                </div>
              </div>
            </li>

            <li>
              <div class="inner-content">
                <div style="background-image:url(assets/images/design-p-pic5.png)" class="img-div">
                  <div class="action-div">
                      <a href="javascript:;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
                <div class="bottom-content">
                  <table cellpadding="0" cellspacing="0" width="100%" height="40">
                      <tr>
                        <td class="title">Add Banner Examples</td>
                      </tr>
                      <tr>
                        <td class="sm-img">
                            <img alt="" src="assets/images/sm-mp01.png" width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp02.png"  width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp03.png"   width="33" height="33"/>
                            <a class="btn btn-light-purple more-btn">7 More</a>
                          </td>
                      </tr>
                  </table>
                </div>
              </div>
            </li>

            <!--row-->
            <li>
              <div class="inner-content">
                <div style="background-image:url(assets/images/design-p-pic.png)" class="img-div">
                  <div class="action-div">
                      <a href="javascript:;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
                <div class="bottom-content">
                  <table cellpadding="0" cellspacing="0" width="100%" height="40">
                    <tr>
                        <td class="title">Add Banner Examples</td>
                      </tr>
                  </table>
                </div>
              </div>
            </li>

            <li>
              <div class="inner-content">
                <div style="background-image:url(assets/images/design-p-pic2.png)" class="img-div">
                  <div class="action-div">
                      <a href="javascript:;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
                <div class="bottom-content">
                  <table cellpadding="0" cellspacing="0" width="100%" height="40">
                      <tr>
                        <td class="title">Add Banner Examples</td>
                      </tr>
                      <tr>
                        <td class="sm-img">
                            <img alt="" src="assets/images/sm-mp01.png" width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp02.png"  width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp03.png"   width="33" height="33"/>
                            <a class="btn btn-light-purple more-btn">7 More</a>
                          </td>
                      </tr>
                  </table>
                </div>
              </div>
            </li>

            <li>
              <div class="inner-content">
                <div style="background-image:url(assets/images/design-p-pic3.png)" class="img-div">
                  <div class="action-div">
                      <a href="javascript:;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
                <div class="bottom-content">
                  <table cellpadding="0" cellspacing="0" width="100%" height="40">
                      <tr>
                        <td class="title">Add Banner Examples</td>
                      </tr>
                      <tr>
                        <td class="sm-img">
                            <img alt="" src="assets/images/sm-mp01.png" width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp02.png"  width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp03.png"   width="33" height="33"/>
                            <a class="btn btn-light-purple more-btn">7 More</a>
                          </td>
                      </tr>
                  </table>
                </div>
              </div>
            </li>

            <li>
              <div class="inner-content">
                <div style="background-image:url(assets/images/design-p-pic4.png)" class="img-div">
                  <div class="action-div">
                      <a href="javascript:;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
                <div class="bottom-content">
                  <table cellpadding="0" cellspacing="0" width="100%" height="40">
                      <tr>
                        <td class="title">Add Banner Examples</td>
                      </tr>
                      <tr>
                        <td class="sm-img">
                            <img alt="" src="assets/images/sm-mp01.png" width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp02.png"  width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp03.png"   width="33" height="33"/>
                            <a class="btn btn-light-purple more-btn">7 More</a>
                          </td>
                      </tr>
                  </table>
                </div>
              </div>
            </li>

            <li>
              <div class="inner-content">
                <div style="background-image:url(assets/images/design-p-pic5.png)" class="img-div">
                  <div class="action-div">
                      <a href="javascript:;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
                <div class="bottom-content">
                  <table cellpadding="0" cellspacing="0" width="100%" height="40">
                      <tr>
                        <td class="title">Add Banner Examples</td>
                      </tr>
                      <tr>
                        <td class="sm-img">
                            <img alt="" src="assets/images/sm-mp01.png" width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp02.png"  width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp03.png"   width="33" height="33"/>
                            <a class="btn btn-light-purple more-btn">7 More</a>
                          </td>
                      </tr>
                  </table>
                </div>
              </div>
            </li>

            <!--row-->
            <li>
              <div class="inner-content">
                <div style="background-image:url(assets/images/design-p-pic.png)" class="img-div">
                  <div class="action-div">
                      <a href="javascript:;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
                <div class="bottom-content">
                  <table cellpadding="0" cellspacing="0" width="100%" height="40">
                    <tr>
                        <td class="title">Add Banner Examples</td>
                      </tr>
                  </table>
                </div>
              </div>
            </li>

            <li>
              <div class="inner-content">
                <div style="background-image:url(assets/images/design-p-pic2.png)" class="img-div">
                  <div class="action-div">
                      <a href="javascript:;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
                <div class="bottom-content">
                  <table cellpadding="0" cellspacing="0" width="100%" height="40">
                      <tr>
                        <td class="title">Add Banner Examples</td>
                      </tr>
                      <tr>
                        <td class="sm-img">
                            <img alt="" src="assets/images/sm-mp01.png" width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp02.png"  width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp03.png"   width="33" height="33"/>
                            <a class="btn btn-light-purple more-btn">7 More</a>
                          </td>
                      </tr>
                  </table>
                </div>
              </div>
            </li>

            <li>
              <div class="inner-content">
                <div style="background-image:url(assets/images/design-p-pic3.png)" class="img-div">
                  <div class="action-div">
                      <a href="javascript:;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
                <div class="bottom-content">
                  <table cellpadding="0" cellspacing="0" width="100%" height="40">
                      <tr>
                        <td class="title">Add Banner Examples</td>
                      </tr>
                      <tr>
                        <td class="sm-img">
                            <img alt="" src="assets/images/sm-mp01.png" width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp02.png"  width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp03.png"   width="33" height="33"/>
                            <a class="btn btn-light-purple more-btn">7 More</a>
                          </td>
                      </tr>
                  </table>
                </div>
              </div>
            </li>

            <li>
              <div class="inner-content">
                <div style="background-image:url(assets/images/design-p-pic4.png)" class="img-div">
                  <div class="action-div">
                      <a href="javascript:;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
                <div class="bottom-content">
                  <table cellpadding="0" cellspacing="0" width="100%" height="40">
                      <tr>
                        <td class="title">Add Banner Examples</td>
                      </tr>
                      <tr>
                        <td class="sm-img">
                            <img alt="" src="assets/images/sm-mp01.png" width="33" height="33" />
                            <img alt="" src="assets/images/sm-mp02.png"  width="33" height="33" />
                          </td>
                      </tr>
                  </table>
                </div>
              </div>
            </li>


            <div class="clearfix"></div>
          </ul>
          <div class="pagination-div text-right"> Showing 7 of 158 Images
              <div class="number-div">

                  <ul>
                    <li class="prev"><a href="javascript:;"><span>←</span></a></li>
                    <li><a href="javascript:;">1</a></li>
                    <li class="active"><a href="javascript:;">2</a></li>
                    <li><a href="javascript:;">3</a></li>
                    <li><a href="javascript:;">4</a></li>
                    <li class="next">  <a href="javascript:;" class=""><span>→</span></a> </li></ul></div>

            </div>
        </div>
      </div>
    </div>
  </div>
</section>
