<!--buyer past projects info section-->
<section class="project-info-section buyer-past-project-info-section">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_project_info'|translate]] #[[projectData.id]]
                </h3>
            </div>
            <div class="panel-body">
                <div class="content-div">
                    <div class="row">
                        <div class="col-md-10 col-lg-10">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#">
                                        <img alt="" class="" ng-src="[[projectData.image]]" width="70">
                                        </img>
                                    </a>
                                    <div class="clearfix">
                                    </div>
                                    [['lbl_buyer'|translate]]
                                    <h5>
                                        <!-- [[projectData.project_creator.first_name]] [[projectData.project_creator.last_name]] -->
                                        [[projectData.project_creator.display_name]]
                                    </h5>
                                </div>
                                <div class="media-body">
                                    <a class="btn-link" href="javascript:;">
                                        [['lbl_project_title'|translate]]
                                    </a>
                                    <h4>
                                        [[projectData.project_title]]
                                    </h4>
                                    <ul class="project-info-list">
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td class="icon-td">
                                                        <i class="fa fa-envelope-open-o">
                                                        </i>
                                                    </td>
                                                    <td>
                                                        [['lbl_invited_on'|translate]]:
                                                        <br/>
                                                        [[projectData.invitation_sent_on]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td class="icon-td">
                                                        <i class="fa fa-check-circle-o">
                                                        </i>
                                                    </td>
                                                    <td>
                                                        [['lbl_invited_accepted'|translate]]:
                                                        <br/>
                                                        [[projectData.invitation_accepted_on]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        
                                        <li class="completed">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td class="icon-td">
                                                        
                                                    </td>
                                                    <td>
                                                        [['lbl_budget'|translate]]:
                                                        <br/>
                                                        <span ng-if="current_domain=='cn'" class="left-yen">
                                                              ¥
                                                        </span>
                                                        <span ng-if="current_domain=='net'" class="left-yen">
                                                              S$
                                                        </span>
                                                        [[projectData.project_budget]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td class="icon-td">
                                                            <i class="fa fa-check-circle-o">
                                                            </i>
                                                        </td>
                                                        <td>
                                                            [['lbl_timeline'|translate]]:
                                                            <br/>
                                                            
                                                            [[projectData.project_timeline]] days
                                                        </td>
                                                    </tr>
                                                </table>
                                            </li>
                                            <li class="completed">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td class="icon-td">
                                                        <i class="fa fa-check-circle-o">
                                                        </i>
                                                    </td>
                                                    <td ng-if="projectData.project_status == 6">
                                                        [['lbl_cancelled_project'|translate]]
                                                    </td>
                                                    <td ng-if="projectData.projectdetailinfo.status == 2">
                                                        [['lbl_invitationrejected_project'|translate]]
                                                    </td>
                                                    <td ng-if="projectData.project_status != 6 && projectData.projectdetailinfo.status != 2">
                                                        [['lbl_completed_on'|translate]]
                                                        <br/>
                                                        [[projectData.project_completed_on]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                    </ul>
                                    <ul class="project-info-list">
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <span ng-if="skill_array.length>0">[['lbl_categories'|translate]]:</span>
                                                        <br/>
                                                        <section class="design-capabilities">
                                                            <span ng-if="skill.skill_detail.status==1" class="custom-checkbox" ng-repeat="skill in projectData.skills">
                                                                <label>[[skill.skill_detail.skill_name]]</label>
                                                            </span>
                                                        </section>
                                                    </td>
                                                </tr>

                                            </table>
                                        </li>
                                    </ul>
                                    <div class="projectDataText" id="projectDataText" style="display:none;">
                                        <ul class="project-info-list">
                                            
                                            
                                        </ul>
                                        <div id="projectInfoText">
                                            <span class="about-us-section" ng-bind-html="projectData.project_description"></span>
                                            <!-- <p>
                                                [[projectData.project_description]]
                                            </p> -->
                                        </div>
                                    </div>
                                    <p class="bottom-btn " role="tablist">
                                        <a class="btn btn-purple btn-sm projectDataBtn" href="javascript:;" id="ProjectInfoBtn">
                                            [['lbl_project_info'|translate]]
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--buyer message board section-->
<section class="message-board-section">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_message_board'|translate]]
                </h3>
            </div>
            <div class="panel-body">
                <div class="content-div">
                    <ul class="chat-list">
                        <li class="[[message.side_class]]" ng-if="projectData.message_board.length > 0" ng-repeat="message in projectData.message_board  | limitTo : limit" scroll-trigger="scrollEventCallback()">
                            <div class="msg-div" ng-if="message.type==1">
                                <div class="pic-div"  ng-if="message.user_role==1 || message.user_role==2">
                                    <img alt="" class="" ng-src="[[message.image]]" width="40"/>
                                </div>
                                <div class="name">
                                    [[message.name]]
                                </div>
                                <div class="date">
                                    [[message.message_on]]
                                </div>
                                <div class="clearfix">
                                </div>
                                <div class="c-div" ng-if="message.type==1">
                                    <p>
                                        [[message.message]]
                                    </p>
                                    <div class="bottom-img-div" ng-if="message.message_board.length">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-2" ng-repeat="message in message.message_board">
                                                <a download="" href="[[message.placeholder]]" target="_self">
                                                    <img alt="" class="" ng-src="[[message.placeholder]]" width="100%">
                                                    </img>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="note-message-board" ng-if="message.type==4" ng-bind-html="message.message"></div>
                        </li>
                        <li ng-if="projectData.message_board.length<=0">
                        <div class="">
                            <div class="c-div">
                                <p>
                                    <b>
                                        [['lbl_no_messages_sent_received_yet'|translate]]
                                    </b>
                                </p>
                            </div>
                        </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <li>
              <div class="head-winner-selected text-center"> <i class="fa fa-trophy"></i> Your entry was selected as WINNER by client! </div>
            </li> -->
