<!-- Profile Picture Preview-->
<div class="modal fade designer-my-uploads-popup" id="cropmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title uppercase color-purple">[['lbl_crop' | translate]]</h4>
      </div>
      <div class="modal-body">
        <div>
            <div class="resizeContainer">
                <div class="hide">
                    <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                </div>
                <div class="resizeArea">
                    <div class="cropArea">
                        <img-crop area-type="square" crop-data="image.cropInfo" image="imageDataURI" original-data="image.originalInfo" result-image="myCroppedImage">
                        </img-crop>
                    </div>
                    <div class="preview_container">
                        <div crop-data="image.cropInfo" image="imageDataURI" img-crop-result="" original-data="image.originalInfo" width="70%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-bottom-btn">
          <div class="row">

              <div class="col-sm-12">
                <button ng-click="Submitimage()" class="btn btn-purple submit-btn btn-sm create-portfolio">[['lbl_submit' | translate]]</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container my-account-section">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-block">
        <div class="panel-heading">
          <h3 class="panel-title">[['lbl_general_information' | translate]]</h3>
        </div>
        <div class="panel-body">
          <div class="content-div">
            <div class="flowup-labels-form">
              <form class="FlowupLabels" name="generalInfoForm" ng-submit="generalInfoForm.submitData()" novalidate="" id="generalInfoForm" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-sm-3 col-md-2 col-lg-2 pull-right">
                    <div class="upload-profile-pic">
                      <div class="img-div">
                        <input type="file" name="image" id="image">
                        <!-- <i class="fa fa-user-o" aria-hidden="true"></i> -->
                        <!--after upload display block-->
                        <div class="uploaded-img" id="dp" style="background-image:url([[userData.image]]); "></div> 
                        <input type="hidden" value="[[userData.profile_image]]" name="profile_image">
                        <!--after upload display block End-->
                      </div>
                      <label>[['lbl_profile_picture' | translate]]</label>
                    </div>
                  </div>
                  <div class="col-sm-9 col-md-10 col-lg-10 pull-left">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <div class="fl_wrap [[!first_name?first_name_error?'has-error':'':'has-success']]">
                            <label class="fl_label" for="rf_name">[['lbl_first_name' | translate]]</label>
                            <input class="fl_input form-control" type="text" id="rf_name" ng-model="first_name" required="" disabled="" />
                            <i class="fa fa-check-circle out-icon" ng-if="first_name">
                            </i>
                            <i class="fa fa-exclamation-circle out-icon" ng-if="first_name_error && !first_name">
                            </i> 
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <div class="fl_wrap [[!last_name?last_name_error?'has-error':'':'has-success']]">
                            <label class="fl_label" for="rf_l">[['lbl_last_name' | translate]]</label>
                            <input class="fl_input form-control" type="text" id="rf_l" ng-model="last_name" required="" disabled=""/>
                            <i class="fa fa-check-circle out-icon" ng-if="last_name">
                            </i>
                            <i class="fa fa-exclamation-circle out-icon" ng-if="last_name_error && !last_name">
                            </i> 
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <div class="fl_wrap [[!email_address?email_address_error?'has-error':'':'has-success']]">
                            <label class="fl_label" for="rf_email">[['lbl_email_address' | translate]]</label>
                            <input class="fl_input form-control" type="email" id="rf_email"  required="" ng-model="email_address"  />
                            <input type="hidden" ng-model="old_email">
                            <i class="fa fa-check-circle out-icon" ng-if="email_address">
                            </i>
                            <i class="fa fa-exclamation-circle out-icon" ng-if="email_address_error && !email_address">
                            </i>  
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <div class="fl_wrap select-dropdown ">
                            <label class="fl_label" for="rf_Country">[['lbl_country' | translate]]: </label>
                            <!-- <select class="fl_input form-control" type="text" id="rf_Country" ng-model='country' ng-change="Getstatesforcountry(country)" required ng-options='option.id as option.name for option in countries' >
                            </select> -->  
                            <select class="fl_input form-control" type="text" id="rf_Country" ng-click="Getstatesforcountry()" required >
                              <option ng-repeat='option in countries' id="[[option.name]]_[[option.id]]" value="[[option]]" ng-selected="country.id == option.id">[[option.name]]</option>
                              <option value="other">
                                  [['lbl_external'|translate]] 
                              </option>
                            </select>
                            <i ng-if="country.status==1" class="fa fa-check-circle out-icon"></i>
                            <i ng-if="country.status==2 " class="fa fa-info-circle info-icon" title="[['lbl_country_approve_pending' | translate]]"></i>
                          </div>
                        </div>
                      </div>
                    </div> 
                    <div class="row">
                      <div class="col-sm-6" ng-if="country_div">
                        <div class="form-group">
                          <div class="fl_wrap [[!obj.country_text?country_text_error?'has-error':'':'has-success']]">
                            <label class="fl_label" for="country_text">[['lbl_country'|translate]]</label>
                            <input class="fl_input form-control" type="text" ng-model="obj.country_text" name="country_text" id="country_text">
                            <i ng-if="obj.country_text" class="fa fa-check-circle out-icon"></i>
                            <i ng-if="country_text_error && !obj.country_text" class="fa fa-exclamation-circle out-icon" title="[['lbl_country_required' | translate]]"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6"  ng-if="showDropdown">
                        <div class="form-group">
                          <div class="fl_wrap select-dropdown">
                            <label class="fl_label" for="rf_cor">[['lbl_province' | translate]]: </label>
                            <!-- <select class="fl_input form-control" type="text" id="rf_State" ng-model='state.id' required ng-options='option.id as option.name for option in states'>
                              
                            </select> -->
                            <select class="fl_input form-control" type="text" id="rf_State" ng-click="Getcitiesforstate()" required >
                              <option ng-repeat='option in states' id="[[option.name]]_[[option.id]]" value="[[option]]" ng-selected="state.id == option.id">[[option.name]]</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6"  ng-if="showDropdown">
                        <div class="form-group">
                          <div class="fl_wrap select-dropdown">
                            <label class="fl_label" for="rf_cor">[['lbl_city_name' | translate]]: </label>
                            <select class="fl_input form-control" type="text" id="rf_City" ng-model='city.id' required ng-options='option.id as option.name for option in cities'></select>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6" ng-if="!showDropdown">
                        <div class="form-group">
                          <div class="fl_wrap [[!obj.state_text?state_text_error?'has-error':'':'has-success']]">
                            <label class="fl_label" for="state_text">[['lbl_province_state'|translate]]</label>
                            <input class="fl_input form-control" type="text" ng-model="obj.state_text" name="state_text" id="state_text">
                            <i ng-if="obj.state_text" class="fa fa-check-circle out-icon"></i>
                            <i ng-if="state_text_error && !obj.state_text" class="fa fa-exclamation-circle out-icon" title="[['lbl_province_required' | translate]]"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6" ng-if="!showDropdown">
                        <div class="form-group">
                          <div class="fl_wrap [[!obj.city_text?city_text_error?'has-error':'':'has-success']]">
                            <label class="fl_label" for="city_text">[['lbl_city_name'|translate]]</label>
                            <input class="fl_input form-control" type="text" ng-model="obj.city_text" name="city_text" id="city_text">
                            <i ng-if="obj.city_text" class="fa fa-check-circle out-icon"></i>
                            <i ng-if="city_text_error && !obj.city_text" class="fa fa-exclamation-circle out-icon"  title="[['lbl_city_required' | translate]]"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <div class="fl_wrap [[age < 18?'has-error':(age >= 18 ? 'has-success' : '')]]">
                            <label class="fl_label" for="rf_dob">[['lbl_dob' | translate]]:</label>
                            <input class="fl_input form-control" ng-change=calculateAge(dob) type="text" id="rf_dob" ng-model="dob" disabled=""/>
                            <i class="fa fa-calendar"></i> 
                            <i ng-if="age >= 18" class="fa fa-check-circle out-icon"></i>
                            <i ng-if="age >= 16 && age < 18" class="fa fa-exclamation-triangle out-icon"></i>
                            <i ng-if="age < 16" class="fa fa-exclamation-circle out-icon"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-2 col-xs-1 countrycode">
                        <div class="form-group">
                          <div class="fl_wrap ">
                            <label class="fl_label" ></label>
                            <div class=" account-phonecode">
                              <label class="fl_label " >[['lbl_code'|translate]]</label>
                              <span>
                                <input class="fl_input form-control" type="text" numbers-only ng-model="phonecode" name="phonecode" id="country_code">
                              </span>
                            </div>
                           
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4 col-xs-11">
                        <div class="form-group">
                          <div class="fl_wrap [[!contact?contact_error?'has-error':'':'has-success']]">
                            <label class="fl_label" for="rf_phoneNumber">[['lbl_phone_number' | translate]] </label>
                            <input class="fl_input form-control" numbers-only  type="text" id="rf_phoneNumber" required=""  ng-model="contact" name="contact"/>
                            <i class="fa fa-check-circle out-icon" ng-if="contact">
                            </i>
                            <i class="fa fa-exclamation-circle out-icon" ng-if="contact_error && !contact">
                            </i> 
                          </div>
                        </div>
                      </div>

                    </div>
                    <div ng-if="display_name">
                      <h4>
                          [['lbl_display_name'|translate]]
                      </h4>
                      <section class="project-availability">
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <span class="custom-radio1">
                                          <input ng-checked="display_name == '[[first_name]] [[last_name]]'" id="display_name_1" name="display_name" type="radio" value="[[first_name]] [[last_name]]"/>
                                          <label for="display_name_1">
                                              [[first_name]] [[last_name]]
                                          </label>
                                      </span>
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <span class="custom-radio1">
                                          <input ng-checked="display_name== '[[last_name]] [[first_name]]'" id="display_name_2" name="display_name" type="radio" value="[[last_name]] [[first_name]]"/>
                                          <label for="display_name_2">
                                              [[last_name]] [[first_name]]
                                          </label>
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </section>
                    </div>
                    <h4>
                        [['lbl_email_prefered_language'|translate]]
                    </h4>
                    <section class="project-availability">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="custom-radio1">
                                        <input ng-checked="current_language == 1" id="current_language_1" name="current_language" type="radio" value="1"/>
                                        <label for="current_language_1">
                                            [['lbl_lang_eng'|translate]]
                                        </label>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="custom-radio1">
                                        <input ng-checked="current_language== 2" id="current_language_2" name="current_language" type="radio" value="2"/>
                                        <label for="current_language_2">
                                            [['lbl_lang_chi'|translate]]
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="form-bottom-btn">
                      <button class="btn btn-purple btn-sm update-general-info" ng-click="submitData()">[['lbl_update' | translate]]</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-block">
        <div class="panel-heading">
          <h3 class="panel-title">[['lbl_change_password' | translate]]</h3>
        </div>
        <div class="panel-body">
          <div class="content-div">
            <div class="flowup-labels-form">
              <form class="FlowupLabels" novalidate="" name="passwordForm" ng-submit="passwordForm.changePassword()" novalidate="" id="passwordForm">
                <div class="row">
                  <div class="col-md-10">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <div class="fl_wrap [[!old_password?old_password_error?'has-error':'':old_password_same_error? 'has-error':'has-success']]">
                            <label class="fl_label" for="rf_op">[['lbl_old_password' | translate]]</label>
                            <input class="fl_input form-control" type="password" id="rf_op" ng-model="old_password"  required="" />
                            <i class="fa fa-check-circle out-icon" ng-if="old_password && !old_password_same_error">
                            </i>
                            <i class="fa fa-exclamation-circle out-icon" ng-if="old_password && old_password_same_error" title="[['lbl_old_password_not_match' | translate]]">
                            </i>
                            <i class="fa fa-exclamation-circle out-icon" ng-if="old_password_error && !old_password" title="[['lbl_old_password_required' | translate]]">
                            </i> 
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <div class="fl_wrap [[!new_password ? new_password_error ?'has-error':'': old_password==new_password? 'has-error':password_format_error?'has-error':'has-success']]">
                            <label class="fl_label" for="rf_np">[['lbl_new_password' | translate]]</label>
                            <input class="fl_input form-control" type="password" id="rf_np" 
                            ng-model="new_password" minlength="8" maxlength="16" placeholder="[['lbl_password_placeholder' | translate]]" />
                            <i ng-if="(new_password) && (new_password!=old_password) && (!password_format_error)" class="fa fa-check-circle out-icon"></i>
                            <i class="fa fa-exclamation-circle out-icon" ng-if="new_password_error  && !new_password" title="[['lbl_new_old_password' | translate]]"></i>
                            <i ng-if="new_password && (new_password==old_password)" class="fa fa-exclamation-circle out-icon"  title="[['lbl_new_old_not_same' | translate]]"></i>
                            </i> 
                            <i class="fa fa-exclamation-circle out-icon" ng-if="new_password && password_format_error"  title="[['lbl_password_case' | translate]]">
                            </i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <div class="fl_wrap [[!confirm_password ? confirm_password_error ?'has-error' :'': new_password!=confirm_password? 'has-error':cnf_password_format_error?'has-error':'has-success']]">
                            <label class="fl_label" for="rf_rp">[['lbl_confirm_password' | translate]]</label>
                            <input class="fl_input form-control" type="password" id="rf_rp" 
                            ng-model="confirm_password" minlength="8" maxlength="16" placeholder="[['lbl_password_placeholder' | translate]]" required  /> 
                            <i ng-if="(confirm_password) && (confirm_password==new_password) && (!cnf_password_format_error)" class="fa fa-check-circle out-icon"></i>
                            <i ng-if="!confirm_password && confirm_password_error" class="fa fa-exclamation-circle out-icon"  title="[['lbl_confirm_password_required' | translate]]"></i>
                            <i ng-if="confirm_password && (confirm_password!=new_password)" class="fa fa-exclamation-circle out-icon"  title="[['lbl_new_confirm_not_match' | translate ]]"></i>
                            </i> 
                            <i ng-if="confirm_password && cnf_password_format_error" class="fa fa-exclamation-circle out-icon"  title="[['lbl_password_case' | translate]]"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6"></div>
                    </div>
                  </div>
                  <div class="col-md-2"> </div>
                </div>
                <div class="row">
                      <div class="col-sm-8">
                          <span>
                              [['lbl_password_text'|translate]] 
                          </span>
                      </div>
                  </div>
                <div class="form-bottom-btn btn-margin">
                  <button class="btn btn-purple btn-sm update-password" ng-click="changePassword()">[['lbl_update' | translate]]</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-block" ng-if="userData.is_buyer==1">
        <div class="panel-heading">
          <h3 class="panel-title">[['lbl_buyer' | translate]]</h3>
        </div>
        <div class="panel-body">
          <div class="content-div">
            <h4>[['lbl_payment_history' | translate]]</h4>
            <div class="tbl-design">
              <table cellpadding="0" cellspacing="0" width="100%" class="table table-bordered">
                <thead>
                  <tr>
                    <th>[['lbl_sr_no' | translate]]</th>
                    <th>[['lbl_order_id' | translate]]</th>
                    <th>[['lbl_transaction_id' | translate]]</th>
                    <th>[['lbl_job_id' | translate]]</th>
                    <th>[['lbl_amount' | translate]]</th>
                    <th>[['lbl_status' | translate]]</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="payment in paymenthistory">
                    <td>[[payment.id]]</td>
                    <td>[[payment.id]]</td>
                    <td>[[payment.alipay_trade_no]]</td>
                    <td>[[payment.mp_project_id]]</td>
                    <td>
                      <span ng-if="current_domain=='cn'" class="left-yen">
                         ¥
                      </span>
                      <span ng-if="current_domain=='net'" class="left-yen">
                         S$
                      </span>[[payment.alipay_total_amount_paid]]</td>
                    <td>[[payment.payment_status]]</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <default-pagination currentpage="buyerPaymentHistory" like="userpaymenthistory(page)" paginate="buyerPaginate" range="rangeBuyerPaymentHistory">
            </default-pagination>
          </div>
        </div>
      </div>
      <div class="panel panel-block"  ng-show="userData.is_designer==1">
        <div class="panel-heading">
          <h3 class="panel-title">[['lbl_other_info' | translate]]</h3>
        </div>
        <div class="panel-body ">
          <div class="content-div">
            <form  name="sellerInfoForm" novalidate="" id="sellerInfoForm"  method="post">
              <div class="flowup-labels-form">
                <div class="FlowupLabels">
                  <div class="row">
                    <div class="col-md-10">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="fl_wrap select-dropdown" >
                              <label class="fl_label" for="rf_sn">[['lbl_school_name' | translate]]</label>
                              <select class="fl_input form-control" type="text" id="rf_sn" ng-model='school.id' required ng-options='option.id as option.name for option in schools'>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="fl_wrap">
                              <label class="fl_label" for="rf_SI">[['lbl_student_id' | translate]]</label>
                            <input class="fl_input form-control" type="text" id="rf_SI"  ng-model="student_id"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2"> </div>
                  </div>
                </div>
              </div>
              <h4>[['lbl_student_id_proof' | translate]]</h4>
              <div class="id-proof-div"> 
                <span class="left-icon">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </span> [[userData.student_id_proof_original]] 
                <a  class="download-btn student_id_proof" ng-click="downloadStudentId([[userData.student_id_proof]],'student_id_proof',[[userData.student_id_proof_original]])">
                  <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                </a>
                <a id="student_id_proof_dynamic" ></a>
                  <div class="clearfix"></div>
              </div>
               <h4>[['lbl_id_proof' | translate]]</h4>
              <div class="id-proof-div"> 
                <span class="left-icon">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </span> 
                [[userData.designer_id_proof_original]]
                <a class="download-btn id_proof" ng-click="download([[userData.designer_id_proof_document]],'id_proof',[[userData.designer_id_proof_original]])">
                  <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>

                </a>
                <a id="id_proof_dynamic" ></a>
                <div class="clearfix"></div>
              </div> 
              <!--Project Availability Section-->
              <h4>[['lbl_project_availability' | translate]]</h4>
              <section class="project-availability paddingB50">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group"> <span class="custom-radio1">
                    <input type="radio" name="radio-group" id="pa1"
                    ng-checked="userData.mp_designer_proj_availability==1"  value="1"/>
                    <label for="pa1">  [['lbl_full_time' | translate]] [['lbl_full_time_txt' | translate]]</label>
                    </span> </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group"> <span class="custom-radio1">
                    <input type="radio" name="radio-group" id="pa2" ng-checked="userData.mp_designer_proj_availability==2"  value="2"/>
                    <label for="pa2">[['lbl_part_time' | translate]] [['lbl_part_time_txt' | translate]]</label>
                    </span> </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group"> <span class="custom-radio1">
                    <input type="radio" name="radio-group" id="pa3" ng-checked="userData.mp_designer_proj_availability==3" value="3"/>
                    <label for="pa3">[['lbl_hobbist' | translate]] [['lbl_hobbist_time_txt' | translate]]</label>
                    </span> </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group"> <span class="custom-radio1">
                    <input type="radio" name="radio-group" id="pa4" ng-checked="userData.mp_designer_proj_availability==4" value="4"/>
                    <label for="pa4">[['lbl_casual' | translate]] [['lbl_casual_time_txt' | translate]]</label>
                    </span> </div>
                </div>
              </div>
            </section>
              <!--Price Range Section-->
              <!-- <h4>[['lbl_price_range' | translate]]</h4>
              <section class="price-range paddingB50">
                <div class="row">
                  <div class="col-sm-12">
                    <input class="range-example-input-2" type="text" min="0" max="5000" value="[[userData.mp_designer_min_price]],
                    [[userData.mp_designer_max_price]]" name="points" step="1" />
                  </div>
                  <div class="col-sm-12">
                    <ul>
                      <li>- 75% of the Logo Design Projects are in the range of 100-500 &yen</li>
                      <li>- 90% of the Web Design Projects are in the range of 1000-2300 &yen</li>
                      <li>- 82% of the Mobile App Design Projects are in the range of 900-1500 &yen</li>
                    </ul>
                  </div>
                </div>
              </section> -->
              <!--Languages Known Section-->
              <h4>[['lbl_language_known' | translate]]</h4>
              <section class="languages-known">
                <div ng-if="isEnglish" class="selected-languages"> <span ng-repeat="l in userData.languages">[[l.languages]]<a href="#" ng-click="Deletelanguage(l.key,l.language)">
                  <i class="fa fa-times-circle"></i></a></span> </div>
                <div ng-if="!isEnglish" class="selected-languages"> <span ng-repeat="l in userData.languages_chinese">[[l.languages]]<a href="#" ng-click="Deletelanguage(l.key,l.language)">
                  <i class="fa fa-times-circle"></i></a></span> </div>
                <div class="dropdown-div">
                  <div class="row">
                    <div class="col-sm-6" >
                      <select class="form-control" id="language" ng-model="language">
                          <option value="">
                              [['lbl_select_language'|translate]]
                          </option>
                          <option ng-show="isEnglish" ng-repeat="value in languages" id="language_[[value.id]]" value="[[value]]">
                              [[value.name]]
                          </option>
                          <option ng-show="!isEnglish" ng-repeat="value in languages" id="language_[[value.id]]" value="[[value]]">
                              [[value.chinese_name]]
                          </option>
                      </select>
                    </div>
                    <div class="col-sm-6">
                    <select class="form-control" id="language_proficiency" ng-model="language_proficiency">
                      <option value="">
                         [['lbl_proficiency'|translate]]
                      </option>
                      <option value="Beginner,初级">
                         [['lbl_beginner'|translate]]
                      </option>
                      <option value="Intermediate,中等"> 
                         [['lbl_intermediate'|translate]]
                      </option>
                      <option value="Fluent,流利">
                         [['lbl_fluent'|translate]]
                      </option>
                    </select>
                  </div>
                  </div>
                  <button class="btn btn-purple" ng-click="addLanguage(language,language_proficiency)"  ng-disabled="!language || !language_proficiency">[['lbl_add' | translate]]</button>
                  <h4>
                    [['lbl_about_yourself'|translate]]
                  </h4>
                  <div class="row">
                    <div class="col-sm-12">
                      <!-- <textarea name="about_seller" class="form-control" placeholder="About Yourself" rows="5">[[userData.about_us]]</textarea> -->
                      <div  id="editor"></div>
                    </div>
                  </div>
                </div>
                <div class="form-bottom-btn  btn-margin">
                  <a href="seller-profile/[[userData.slug]]" target="_blank" class="btn btn-purple btn-sm" >[['lbl_preview_profile' | translate]]</a>
                   <button class="btn btn-purple btn-sm update-seller-info" ng-click="Updatesellerdetails()" >[['lbl_update' | translate]]</button>
                </div>
              </section>
            </form>
            <h4>[['lbl_withdrawal_history' | translate]]</h4>
            <div class="tbl-design">
              <table cellpadding="0" cellspacing="0" width="100%" class="table table-bordered">
                <thead>
                  <tr>
                    <th>[['lbl_sr_no' | translate]]</th>
                    <th>[['lbl_transaction_id' | translate]]</th>
                    <th>[['lbl_job_id' | translate]]</th>
                    <th>[['lbl_amount' | translate]]</th>
                    <th>[['lbl_status' | translate]]</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="payment in paymenthistory">
                    <td>[[payment.id]]</td>
                    <td>[[payment.id]]</td>
                    <td>[[payment.mp_project_id]]</td>
                    <td>
                      <span ng-if="current_domain=='cn'" class="left-yen">
                            ¥
                      </span>
                      <span ng-if="current_domain=='net'" class="left-yen">
                            S$
                       </span>
                        [[payment.total_amount]]</td>
                    <td>[[payment.payment_status]]</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <default-pagination currentpage="buyerPaymentHistory" like="userpaymenthistory(page)" paginate="buyerPaginate" range="rangeBuyerPaymentHistory">
            </default-pagination>
          </div>
        </div>
      </div>

      <div class="panel panel-block" ng-show="userData.is_designer==1">
        <div class="panel-heading">
          <h3 class="panel-title">[['lbl_bank_details' | translate]]</h3>
        </div>
        <div class="panel-body">
          <div class="content-div">
            <div class="flowup-labels-form">
              <form class="FlowupLabels" novalidate="" name="bankdetailForm" ng-submit="bankdetailForm.editBankDetails()" novalidate="" id="bankdetailForm">
                <div class="row">
                  <div class="col-md-10">
                    <div class="form-group">
                      <div class="fl_wrap select-dropdown">
                        <label class="fl_label" for="rf_Country">[['lbl_country' | translate]]: </label>
                        <select class="fl_input form-control" type="text" id="bank_Country" ng-model="bank_select" ng-change="Changebankfields()" required >
                          <option value="">[['lbl_select' | translate]]...</option>
                          <option ng-repeat='option in countries' id="bank_[[option.name]]_[[option.id]]" value="[[option.id]]">[[option.name]]</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-10">
                    <div class="row">
                      
                      <div class="col-sm-6" ng-repeat="filed in fields" ng-if="!bankDetailsExist">
                        <div class="form-group">
                          <div class="fl_wrap">
                            <label class="fl_label" for="[[filed]]">[[filed | translate]]</label>
                            <input class="fl_input form-control" type="text" id="[[filed]]" name="[[filed]]" required=""/> 
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6" ng-repeat="(filed, value) in fieldsValue" ng-if="bankDetailsExist">
                        <div class="form-group">
                          <div class="fl_wrap">
                            <label class="fl_label" for="[[filed]]">[[filed | translate]]</label>
                            <input class="fl_input form-control" type="text" id="[[filed]]" name="[[filed]]" value="[[value]]" required=""/> 
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-2"> </div>
                </div>
                <div class="form-bottom-btn">
                  <button ng-if="showCancel" class="btn btn-purple btn-sm update-bank-detail" ng-click="canceleditbankdetails()">[['lbl_cancel' | translate]]</button>
                  <button ng-disabled="bank_select==undefined&&fields==undefined" class="btn btn-purple btn-sm update-bank-detail" ng-click="Editbankdetails()">[['lbl_update' | translate]]</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3" >
      <!-- do not remove this code -->
      <aside>
        <div class="panel panel-block" ng-show="userData.is_designer==1 && userData.ratings.length > 0">
          <div class="panel-heading">
            <!-- <h3 class="panel-title">[['lbl_send_invitation_seller' | translate]]</h3> -->
          </div>
          <div class="panel-body">
            <div class="rating-chart" style="min-width: 200px; max-width: 600px; height: 400px; text-align:center;"></div>
            <!-- <div class="content-div">
              <h4>[['lbl_invites_left' | translate]]: [[invites_left]]</h4>

              <div class="form-sent-invitation-to-sellers">
                <div class="form-group">
                    <div class="fl_wrap">
                        <label class="fl_label" for="rf_fname">
                            [['lbl_first_name'|translate]]
                        </label>
                        <input class="fl_input form-control" id="rf_fname" name="seller_first_name" ng-model="seller_first_name" required="" type="text">
                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="fl_wrap ">
                        <label class="fl_label" for="rf_lfname">
                            [['lbl_last_name'|translate]]
                        </label>
                        <input class="fl_input form-control" id="rf_lfname" name="seller_last_name" ng-model="seller_last_name" required="" type="text">
                        
                    </div>
                </div>
                <div class="form-group">
                      <label class="fl_label" for="semail">[['lbl_email_address'|translate]]</label>
                      <div class="fl_wrap">
                        <input class="fl_input form-control" type="email" id="semail" name="seller_email_address" ng-model="seller_email_address" />
                        
                      </div>
                    </div>
                <div class="form-group">
                  <button class="btn btn-purple btn-sm send_invitation" ng-click="Sendinvitation()" ng-disabled="invites_left==0"> [['lbl_submit'|translate]]</button>
                </div>
              </div>
            </div>
            <div class="content-div "  >
              <div class="invitation_section">
                <h4>[['lbl_sent_invitation'|translate]]</h4>
                <section class="new-project2-section">
                <div class="container">
                  <div class="panel panel-block">
                    <div class="row">
                      <div class="col-sm-12 invitation-detail" ng-repeat="invites in sentInvites">
                        <div class="col-md-2 invitation-index margin-auto"><label class="fl_label">[[$index +1]]</label></div>
                        <div class="">
                            <div class="">[[invites.first_name]] [[invites.last_name]]</div>
                            <div class="">[[invites.email_address]]</div>
                            <div class="">[[invites.invitation_sent_on]]</div>
                        </div>
                      
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="content-div " ng-show="userData.is_designer==1">
              <h4>[['lbl_unavailability_seller'|translate]]</h4>
              <div class="form-set-unavailability">
                    <div class="form-group">
                      <label>[['lbl_start_date'|translate]]:</label>
                      <input ng-show="!eng" type="text" class="form-control datetimepicker" ng-model="unavailability_start_date" onkeydown="return false" id="unavailability_start_date">
                    
                      <input  ng-show="eng == true" type="text" class="form-control datetimepicker" ng-model="unavailability_start_date" onkeydown="return false" id="unavailability_start_date_cn"/>
                      <i class="fa fa-calendar"></i> 
                    </div>
                  
                <div class="form-group">
                  <label>[['lbl_end_date'|translate]]:</label>
                  <input ng-show="!eng" type="text" class="form-control datetimepicker" ng-model="unavailability_end_date" onkeydown="return false" id="unavailability_end_date">

                  <input ng-show="eng == true" type="text" class="form-control datetimepicker" ng-model="unavailability_end_date" onkeydown="return false" id="unavailability_end_date_cn">
                  <i class="fa fa-calendar"></i> 
                </div>
                <div class="form-group">
                  <button class="btn btn-purple btn-sm"  ng-click="Addsellerunavailability(unavailability_start_date,unavailability_end_date)">[['lbl_add' | translate]]</button>
                </div>
                <ul>
                  <li  ng-repeat="unavailability in userData.seller_unavailability"> <span><a href="#" ng-click="Deleteunavailablity(unavailability.id)"><i class="fa fa-times-circle"></i></a>[[unavailability.unavailability_start_date]]<br>
                    to<br>
                    [[unavailability.unavailability_end_date]]</span> </li>
                </ul>
              </div>
            </div> -->
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>