<!--designer-portfolio section-->
<section class="designer-portfolio-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-block">
                    <div class="panel-body">
                        <div class="content-div head-profile-div">
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-lg-2">
                                    <div class="left-img-div">
                                        <img alt="" class="circle" src="[[designerdata.image]]" width="68">
                                        <h4>
                                            [[designerdata.display_name]]
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-md-10 col-lg-10">
                                    <p>
                                        [['lbl_sesign_capabilities'|translate]]
                                    </p> 
                                    <div id="en_profile_data">
                                        <section class="design-capabilities" id="en_newproject_data">
                                            <span class="custom-checkbox" ng-repeat="skill in skillDetail">
                                                <label>[[skill.skill_details.skill_name]]</label>
                                            </span>
                                        </section>
                                    </div>
                                    <div id="chi_profile_data">
                                        <section class="design-capabilities" id="en_newproject_data">
                                            <span class="custom-checkbox" ng-repeat="skill in skillDetail">
                                                <label>[[skill.skill_details.skill_name_chinese]]</label>
                                            </span>
                                        </section>
                                    </div>
                                    <hr>
                                    <p>
                                    [['lbl_project_availability'|translate]]
                                    </p>
                                    <span class="black-color" ng-if="designerdata.mp_designer_proj_availability==1">
                                        [['lbl_full_time'|translate]] [['lbl_full_time_txt'|translate]]
                                    </span>
                                    <span class="black-color" ng-if="designerdata.mp_designer_proj_availability==2">
                                        [['lbl_part_time'|translate]] [['lbl_part_time_txt'|translate]]
                                    </span>
                                    <span class="black-color" ng-if="designerdata.mp_designer_proj_availability==3">
                                        [['lbl_hobbist'|translate]] [['lbl_hobbist_time_txt'|translate]]
                                    </span>
                                    <span class="black-color" ng-if="designerdata.mp_designer_proj_availability==4">
                                        [['lbl_casual'|translate]] [['lbl_casual_time_txt'|translate]]
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- add static service block Senil : start -->
                <div class="panel panel-block services-div">
                    <div class="panel-heading">
                        <h3 class="panel-title">[['lbl_services'|translate]]</h3>
                    </div>
                    <div class="panel-body">
                        <div class="content-div">
                            <div class="accordion-div2">
                                <div class="accordion-block" ng-if="service.service_details.length>0" ng-repeat="service in services">
                                  <h5 id="service_[[service.id]]" ng-click="expand(service.id)" class=""><a href="javascript:;">[[isEnglish?service.service_skill_detail.skill_name:service.service_skill_detail.skill_name_chinese]]<span class="caret"></span></a></h5>
                                  <div class="inner-div-content">
                                      <section ng-repeat="service_detail in service.service_details">
                                          <!-- <h4 class="border-bottom">Service #[[banner.service_no]]</h4> -->
                                          <p><strong>[['lbl_service_name'|translate]]</strong></p>
                                          <p>[[service_detail.service_title]]</p>

                                          <p><strong>[['lbl_service_description'|translate]]</strong></p>
                                          <p ng-bind-html="[[service_detail.service_description]]"></p>
                                          <ul class="list1">
                                            <li>
                                              <strong>[['lbl_service_no_of_revisions'|translate]]:</strong>
                                               [[service_detail.no_of_revisions]]
                                            </li>
                                            <li>
                                              <strong>[['lbl_service_delivery_time'|translate]]:</strong>
                                               [[service_detail.delivery_time_in_days]] [['lbl_days'|translate]]
                                            </li>
                                            <li>
                                                <strong>[['lbl_service_price'|translate]]:</strong> 
                                                <span ng-if="current_domain=='cn'" class="left-yen">
                                                    ¥
                                                </span>
                                                <span ng-if="current_domain=='net'" class="left-yen">
                                                    S$
                                                </span>
                                                [[service_detail.price]]
                                            </li>
                                          </ul>
                                          <hr>
                                          <h4 ng-if="service_detail.service_extras.length > 0">[['lbl_service_project_extra'|translate]]</h4>
                                          <ul class="list1" ng-repeat="project_extra in service_detail.service_extras">
                                            <li>
                                              <strong>[['lbl_service_no_of_revisions'|translate]]:</strong>
                                               [[project_extra.no_of_revisions]]
                                            </li>
                                            <li>
                                              <strong>[['lbl_service_delivery_time'|translate]]:</strong>
                                               [[project_extra.delivery_time_in_days]] [['lbl_days'|translate]]
                                            </li>
                                            <li>
                                                <strong>[['lbl_service_price'|translate]]:</strong>  
                                                <span ng-if="current_domain=='cn'" class="left-yen">
                                                    ¥
                                                </span>
                                                <span ng-if="current_domain=='net'" class="left-yen">
                                                    S$
                                                </span>
                                                [[project_extra.price]]
                                            </li>
                                          </ul>
                                          <div class="bottom-img-div">
                                            <div class="row">
                                              <div class="full-width-320 col-xs-6 col-sm-4 col-md-12">
                                                <ul class="my-portfolio">
                                                    <li ng-repeat="image in service_detail.service_images" class="single-image-thumb service_margin_class" style="background-image:url([[image.image]])"></li>
                                                </ul>
                                                <!-- <div ng-repeat="image in service_detail.service_images" class="single-image-thumb" style="background-image:url([[image.image]])"></div> -->
                                              </div>
                                            </div>
                                          </div>
                                          <a class="btn btn-purple btn-sm" id="[[service_detail.id]]" ng-click="Changecart(service_detail)">[[purchaseButton|translate]]</a>
                                          <hr>
                                      </section>
                                  </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- add static service block Senil : end -->
                <div class="panel panel-block">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                             [['lbl_portfolio'|translate]]
                            <span class="number-text">
                                [[protfolioTotal]]
                            </span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="content-div">
                            <div class="row">
                                <div class="full-width-320 col-xs-6 col-sm-4 col-md-3" ng-repeat="p in designerPortfolio">
                                    <a href="[[baseurl]]seller-portfolio-item-details/[[p.slug]]|[[p.uploadedby.slug]]" target="_blank">
                                        <div class="single-image-thumb" style="background-image:url([[p.cover_image]])">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <default-pagination currentpage="currentProfilePaging" like="Getportfoliodata(data,page)" paginate="paginatePortfolio" range="rangeProfilepage">
                            </default-pagination>
                        </div>
                    </div>
                </div>
                <div class="panel panel-block work-history-review-div">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            [['lbl_workhistory_reviews'|translate]]
                            <span class="number-text">
                                [[projectTotal]]
                            </span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="content-div"  ng-repeat="project in designerWorkReviewsData">
                            <div class="row">
                                <div class="display-table">
                                    <div class="col-sm-9 display-table-cell left-content">
                                        <h4>
                                            [[project.project_details_designer.project_title]]
                                        </h4>
                                        <!-- <ul>
                                            <li>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td>
                                                            [['lbl_started_on'|translate]]:
                                                            <br/>
                                                            [[project.project_started_at]]
                                                        </td>
                                                    </tr>
                                                </table>
                                            </li>
                                            <li>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td>
                                                            [['lbl_completed_on'|translate]]:
                                                            <br/>
                                                            [[project.project_completed_on]]
                                                        </td>
                                                    </tr>
                                                </table>
                                            </li>
                                            <li>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td>
                                                            [['lbl_time_taken'|translate]]:
                                                            <br/>
                                                            [[project.time_taken_days]] [['lbl_days'|translate]] [[project.time_taken_hours]] [['lbl_hours'|translate]]
                                                        </td>
                                                    </tr>
                                                </table>
                                            </li>
                                            <li>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td>
                                                            [['lbl_budget'|translate]]:
                                                            <br/>
                                                            ¥ [[project.project_details_designer.project_budget]]
                                                        </td>
                                                    </tr>
                                                </table>
                                            </li>
                                            <li>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td>
                                                            [['lbl_timeline'|translate]]:
                                                            <br/>
                                                            <i class="fa fa-clock-o"></i>
                                                            [[project.project_details_designer.project_timeline]] [['lbl_days'|translate]]
                                                        </td>
                                                    </tr>
                                                </table>
                                            </li>
                                        </ul> -->
                                      <!-- <div  ng-bind-html="project.project_details_designer.project_description"></div>
                                       <div class="date-div" ng-if="[[project.project_details_designer.rating_for_project.rating]] != 0 || [[project.project_details_designer.rating_for_project.rating]] != ''">
                                        [['lbl_ratings'|translate]]:
                                        </div>
                                        <div class="date-div" ng-if="[[project.project_details_designer.rating_for_project.rating]] != 0 || [[project.project_details_designer.rating_for_project.rating]] != ''">
                                            Quality:
                                            <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.quality_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                            </i></span>
                                            <span class="line-span">
                                                |
                                            </span>
                                            Creativity:
                                            <span class="star-yellow" ng-repeat="n in returnRatingArray([[project.ratingMatrix.creativity_rating]])" ><i aria-hidden="true" class="fa fa-star">
                                            </i></span>
                                            <span class="line-span">
                                                |
                                            </span>
                                            Comprehension of the Buyer’s Requirements:
                                            <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.buyers_requirement_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                            </i></span>
                                            <span class="line-span">
                                                |
                                            </span>
                                            Timeliness:
                                            <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.timeliness_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                            </i></span>
                                            <span class="line-span">
                                                |
                                            </span>
                                            Responsiveness:
                                            <span  ng-repeat="n in returnRatingArray([[project.ratingMatrix.responsiveness_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                            </i></span>
                                        </div> -->
                                        <div class="date-div all-display-inline">
                                        [['lbl_ratings'|translate]]:
                                        </div>
                                        <div class="rating-div all-display-inline"  ng-init="returnRatingAvg(project.project_details_designer.rating_for_project.rating, project.id)" id="overAllRating_[[project.id]]"></div>
                                        <div class="all-display-inline">[[project.project_details_designer.rating_for_project.rating]]</div>

                                        <div class="date-div content" ng-class="{ less: hidden }">
                                            [['lbl_reviews'|translate]]:
                                            [[project.project_details_designer.review_for_project.review | limitTo:strLimit]] 
                                        </div>
                                        <a href="#" ng-if="project.project_details_designer.review_for_project.review.length > 100 && project.project_details_designer.review_for_project.review.length != strLimit" ng-click="showMore(project.project_details_designer.review_for_project.review)" >Read More</a> 
                                        <a href="#" ng-if="project.project_details_designer.review_for_project.review.length == strLimit" ng-click="showLess()" >Read Less</a>

                                        <div class="date-div all-display-inline">
                                        [['lbl_budget'|translate]]: ¥ [[project.project_details_designer.project_budget]]
                                        </div>
                                    </div>

                                    <div class="col-sm-3 display-table-cell client-info-right-div">
                                        <p>
                                            <img alt="" class="circle" height="44" ng-src="[[project.project_details_designer.project_creator.image]]" width="44"/>
                                        </p>
                                        <p>
                                            [['lbl_client_name'|translate]]
                                        </p>
                                        <p class="black-color">
                                            [[project.project_details_designer.project_creator.display_name]]
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    <default-pagination currentpage="currentWorkReviewPaging" like="Designerworkhistoryandreviews(data,page)" paginate="paginateWorkHistory" range="rangeWorkReviewpage">
                    </default-pagination>
                    </div>
                </div> 
                <div ng-if="designerdata.marketplace_current_role == 2" class="panel panel-block dprofile-gallery-inspiration-bank-uploads">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            [['lbl_gallery_inspiration_bank_uploads'|translate]]
                            <span class="number-text">
                                [[gallaryInspirationTotal]]   
                            </span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="content-div">
                            <div class="tab-div">
                                <!-- <button class="btn tablinks" onclick="openCity(event, 'GalleryTab')">
                                    Gallery
                                </button> -->
                                <!-- <button class="btn tablinks" id="defaultOpen"  onclick="openCity(event, 'InspirationBankTab')">
                                    [['lbl_inspiration_bank'|translate]]
                                </button> -->
                            </div>
                            <div class="tabcontent" id="GalleryTab">
                                <div class="row">
                                    <div class="full-width-320 col-xs-6 col-sm-4 col-md-3" >
                                        <div class="single-image-thumb" style="background-image:url()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabcontent" id="InspirationBankTab">
                                <div class="row">
                                    <div class="full-width-320 col-xs-6 col-sm-4 col-md-3" ng-repeat="i in gallaryInspirationData">
                                        <div class="single-image-thumb" style="background-image:url([[i.cover_img]])">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <default-pagination currentpage="currentInspirationPaging" like="Designerinspirationbanklisting(data,page)" paginate="paginateInspiration" range="rangeInspirationpage">
                            </default-pagination>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <aside class="right-sidbar-div">
                    <!-- add static service cart Senil : start --> <div class="cart-div-right">
                        <div ng-if="loginUserData"> 
                            <h3>[['lbl_cart'|translate]]</h3>
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr ng-repeat="cart in cartvalue">
                                    <td>
                                        <p><strong>[['lbl_services'|translate]]: [[isEnglish?cart.parent_service_name_english:cart.parent_service_name_chinese]]</strong></p>
                                        [[cart.service_title]]
                                    </td>
                                    <th width="80" align="right" valign="middle">
                                        <span ng-if="current_domain=='cn'" class="left-yen">
                                         ¥
                                                
                                        </span>
                                        <span ng-if="current_domain=='net'" class="left-yen">
                                            S$
                                         </span> &nbsp;[[cart.price]]</th>
                                </tr>
                                <tr ng-show="credit>0" id="temp_credit">
                                    <td>
                                        <p><strong>Credits</strong></p>
                                    </td>
                                    <th width="80" align="right" valign="middle"> - &yen; &nbsp;[[temp_credit]]</th>
                                </tr>
                                <!-- <tr>
                                    <td>
                                        <p><strong>Service: Banner Design</strong></p>
                                        Flat Logo Dersign with
                            a modern look Logo Dersign.
                                    </td>
                                    <th  align="right" valign="bottom">&yen; &nbsp;150</th>
                                </tr> -->
                                <tfoot>
                                <tr>
                                    <td><strong>[['lbl_total_amount'|translate]]</strong></td>
                                    <th align="right">
                                        <span ng-if="current_domain=='cn'" class="left-yen">
                                         ¥
                                                
                                        </span>
                                        <span ng-if="current_domain=='net'" class="left-yen">
                                        S$
                                         </span> &nbsp;[[cart_total]]</th>
                                </tr>
                                </tfoot>
                            </table>
                            <a href="javascript:;" class="btn btn-purple btn-sm proceed_button" ng-disabled="proceed==0" ng-click="Staticproceed()">[['lbl_proceed'|translate]]</a>
                        
                        <div class="r-sidebar-line8px"></div>
                    </div>
                    <!-- add static service cart Senil : end -->
                    <ul>
                        <li>
                            <h5>
                                [['lbl_ratings'|translate]]
                            </h5>
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <!-- <input type="text" id="quality_rating" name="quality_rating" class="rating-div kv-gly-star rating-loading" data-step="0.1" value="2.6"> -->
                                        <div class="rating-div" id="overAllRating">
                                        </div>
                                    </td>
                                    <td align="center" width="50">
                                        [[designerdata.average_ratings]]
                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <h5>
                                [['lbl_job_completed'|translate]]
                            </h5>
                            [[designerdata.projects_completed]]
                        </li>
                        <li>
                            <h5>
                                [['lbl_ongoing_job'|translate]]
                            </h5>
                            [[designerdata.projects_ongoing]]
                        </li>
                        <li>
                            <h5>
                                [['lbl_price_range'|translate]]
                            </h5>
                            [['lbl_min'|translate]]:[[designerdata.mp_designer_min_price]] − 

                            [['lbl_max'|translate]]:[[designerdata.mp_designer_max_price]]
                        </li>
                        <li class="languages-know" ng-if="(isEnglish && languageDetailLength > 0) || (!isEnglish && languageDetailChineseLength > 0)">
                            <h5>
                                [['lbl_language_known'|translate]]  
                            </h5>
                            <div class="selected-languages profile-selected-languages"> 
                                <span ng-if="isEnglish" ng-repeat="lang in languageDetail">[[lang.language]] - [[lang.proficiency]]</span> 
                                <span ng-if="!isEnglish" ng-repeat="lang in languageDetailChinese">[[lang.language]] - [[lang.proficiency]]</span> 
                            </div>
                            <!-- <div >
                                <span class="selected">[[lang.language]]</span><span>[[lang.proficiency]]
                                </span>
                            </div> -->
                        </li> 
                        <li>
                            <h5>
                                [['lbl_school_name'|translate]]
                            </h5>
                            [[designerdata.school.name]]
                        </li>
                        <li ng-if="designerdata.country.name">
                            <h5>
                                [['lbl_country_of_residence'|translate]]
                            </h5>
                            [[designerdata.country.name]]
                        </li>
                        <li ng-if="designerdata.about_us"> 
                            <h5>
                                [['lbl_about'|translate]]
                            </h5>
                            
                            <div class="about-us-section" ng-bind-html="[[designerdata.about_us]]"></div>
                        </li> 
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</section>
