<!--Review Modal -->
<div aria-labelledby="myModalLabel" class="modal fade" id="reviewModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    [['lbl_leave_review'|translate]]
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <input class="kv-gly-star rating-loading" data-size="sm" data-step="0.1" title="" type="text" value="0">
                        <textarea class="form-control" ng-model="review" rows="8">
                            [['lbl_write_here'|translate]]
                        </textarea>
                    </input>
                </form>
                <p ng-if="showError">
                    [['lbl_rate_review_seller'|translate]]
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light-purple" data-dismiss="modal" type="button">
                    [['lbl_close'|translate]]
                </button>
                <button class="btn btn-purple save-rating-review" ng-click="Doreviewrating()" type="button">
                    [['lbl_save'|translate]]
                </button>
            </div>
        </div>
    </div>
</div>



<!--designer past projects section-->
<section class="buyer-past-projects-section" >
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_past_projects'|translate]]
                    <span class="number-text">
                        [[projects.total]]
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="content-div" ng-if="projects.total>0" ng-repeat="project in projects.data">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="seller-past-project-info/[[project.slug]]">
                                <h4>
                                    [[project.project_title]]
                                </h4>
                            </a>
                            <ul class="invition-info">
                                <li class="cat">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <th class="sm-thum-img">
                                                <a href="javascript:;" class="profile-img">
                                                    <img alt="" class="" ng-src="[[project.project_creator.image]]" width="40"/>
                                                </a>
                                            </th>
                                            <td>
                                                <h5>
                                                    [['lbl_buyer'|translate]]
                                                </h5>
                                                 <!-- [[project.project_creator.first_name]] [[project.project_creator.last_name]] -->
                                                 [[project.project_creator.display_name]]
                                                 <p><span class="about-us-section">[[project.created_at]]</span></p>
                                            </td>
                                        </tr>
                                    </table>
                                </li>
                                <li  class="cat">
                                    <h5>
                                    [['lbl_ratings'|translate]]:
                                    </h5>
                                    <div class="date-div" ng-if="[[project.rating_for_project.rating]] != 0 || [[project.rating_for_project.rating]] != ''">
                                        <p>
                                        [['lbl_quality'|translate]]:
                                        <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.quality_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                        </i></span></p>
                                        <p>
                                        [['lbl_creativity'|translate]]:
                                        <span class="star-yellow" ng-repeat="n in returnRatingArray([[project.ratingMatrix.creativity_rating]])" ><i aria-hidden="true" class="fa fa-star">
                                        </i></span></p>
                                        <p>
                                        [['lbl_comprehension_of_the_buyers_requirements'|translate]]:
                                        <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.buyers_requirement_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                        </i></span></p>
                                        <p>
                                        [['lbl_timeliness'|translate]]:
                                        <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.timeliness_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                        </i></span></p>
                                        <p>
                                        [['lbl_responsiveness'|translate]]:
                                        <span  ng-repeat="n in returnRatingArray([[project.ratingMatrix.responsiveness_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                        </i></span></p>
                                    </div>
                                    <div class="date-div" ng-if="[[project.rating_for_project.rating]] == 0 || [[project.rating_for_project.rating]] == ''">
                                        <p>
                                        [['lbl_quality'|translate]]:
                                        <span class="star-yellow">
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                        </span></p>
                                        <p>
                                        [['lbl_creativity'|translate]]:
                                        <span class="star-yellow" >
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                        </span></p>
                                        <p>
                                        [['lbl_comprehension_of_the_buyers_requirements'|translate]]:
                                        <span class="star-yellow">
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                        </span></p>
                                        <p>
                                        [['lbl_timeliness'|translate]]:
                                        <span class="star-yellow">
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                        </span></p>
                                        <p>
                                        [['lbl_responsiveness'|translate]]:
                                        <span  class="star-yellow">
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                        </span></p>
                                    </div>
                                </li>
                                <li  class="cat">
                                    <h5>
                                    [['lbl_reviews'|translate]]:
                                    </h5>
                                    <p>
                                        <div class="date-div content" ng-if="[[project.review_for_project.review]] != ''">
                                            [[project.review_for_project.review | limitTo:strLimit]] 
                                        </div>

                                        <div class="" ng-if="[[project.review_for_project.review]] == '' ">
                                            [['lbl_review_pending'|translate]]
                                        </div>

                                        <a href="#" ng-if="project.review_for_project.review.length > 100 && project.review_for_project.review.length != strLimit" ng-click="showMore(project.review_for_project.review)" >[['lbl_readmore'|translate]]</a> 
                                        <a href="#" ng-if="project.review_for_project.review.length == strLimit" ng-click="showLess()" >[['lbl_readless'|translate]]</a> 
                                    </p>
                                </li>
                                <!-- <li  class="day">
                                    <h5>
                                    [['lbl_sent_on'|translate]]
                                    </h5>
                                    [[project.created_at]]
                                </li>
                                <li class="cat">
                                    <h5>
                                        [['lbl_categories'|translate]]
                                    </h5>
                                    [[project.category_list]]
                                </li>
                                <li class="day">
                                    <h5>
                                        [['lbl_timeline'|translate]]
                                    </h5>
                                    [[project.project_timeline]] [['lbl_days'|translate]]
                                </li>
                                <li class="text-center">
                                    <h5>
                                        [['lbl_budget'|translate]]
                                    </h5>
                                    <span class="yen">
                                        ¥
                                    </span>
                                     [[project.project_budget]]
                                </li>
                                <li class="day">
                                    <h5>
                                        [['lbl_project_accepted_date'|translate]]
                                    </h5>
                                   [[project.accepted_at]]
                                </li>
                                <li class="day">
                                    <h5>
                                        [['lbl_project_completed_date'|translate]]
                                    </h5>
                                   [[project.completed_at]]
                                </li>
                                <li class="day">
                                    <h5>
                                    [['lbl_message'|translate]]
                                    </h5>
                                    [[project.message_board_count]] [['lbl_message'|translate]]
                                </li> commented for demo-->
                            </ul>
                            <div class="media">
                                <!-- <p>
                                    <span class="about-us-section" ng-bind-html="project.project_description"></span>
                                </p> commented for demo-->
                                
                                <!-- <div class="date-div" ng-if="[[project.rating_for_project.rating]] != 0 || [[project.rating_for_project.rating]] != ''">
                                    [['lbl_ratings'|translate]]:
                                </div>
                                <div class="date-div" ng-if="[[project.rating_for_project.rating]] != 0 || [[project.rating_for_project.rating]] != ''">
                                    [['lbl_quality'|translate]]:
                                    <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.quality_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                    </i></span>
                                    <span class="line-span">
                                        |
                                    </span>
                                    [['lbl_creativity'|translate]]:
                                    <span class="star-yellow" ng-repeat="n in returnRatingArray([[project.ratingMatrix.creativity_rating]])" ><i aria-hidden="true" class="fa fa-star">
                                    </i></span>
                                    <span class="line-span">
                                        |
                                    </span>
                                    [['lbl_comprehension_of_the_buyers_requirements'|translate]]:
                                    <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.buyers_requirement_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                    </i></span>
                                    <span class="line-span">
                                        |
                                    </span>
                                    [['lbl_timeliness'|translate]]:
                                    <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.timeliness_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                    </i></span>
                                    <span class="line-span">
                                        |
                                    </span>
                                    [['lbl_responsiveness'|translate]]:
                                    <span  ng-repeat="n in returnRatingArray([[project.ratingMatrix.responsiveness_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                    </i></span>
                                </div> commented for demo-->
                                <!-- <div class="date-div content" ng-if="[[project.review_for_project.review]] != '' || ng-class="{ less: hidden }">
                                    [['lbl_reviews'|translate]]:
                                    [[project.review_for_project.review | limitTo:strLimit]] 
                                </div>

                                <a href="#" ng-if="project.review_for_project.review.length > 100 && project.review_for_project.review.length != strLimit" ng-click="showMore(project.review_for_project.review)" >[['lbl_readmore'|translate]]</a> 
                                <a href="#" ng-if="project.review_for_project.review.length == strLimit" ng-click="showLess()" >[['lbl_readless'|translate]]</a> commented for demo -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <default-pagination currentpage="currentPaging" like="pastprojects(page)" paginate="paginate" range="rangepage">
                </default-pagination>
                
            </div>
        </div>
    </div>
</section>

<!--buyer cancel projects section-->
<section class="buyer-past-projects-section" ng-if="cancelledprojects.total>0">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_cancelled_projects'|translate]]
                    <span class="number-text">
                        [[cancelledprojects.total]]
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="content-div" ng-if="cancelledprojects.total>0" ng-repeat="project in cancelledprojects.data">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="seller-past-project-info/[[project.slug]]">
                                <h4>
                                    [[project.project_title]]
                                </h4>
                            </a>
                            <div class="media">
                                <div class="pull-left">
                                    
                                    <ul class="invition-info">
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <th class="sm-thum-img">
                                                        <a href="javascript:;" class="profile-img">
                                                            <img alt="" class="" ng-src="[[project.project_creator.image]]" width="40"/>
                                                        </a>
                                                    </th>
                                                    <td>
                                                        <h5>
                                                            [['lbl_buyer'|translate]]
                                                        </h5>
                                                         [[project.project_creator.display_name]]
                                                         <p><span class="about-us-section">[[project.created_at]]</span></p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        
                                        <li  class="cat">
                                            <h5>
                                            [['lbl_ratings'|translate]]:
                                            </h5>
                                            <div class="date-div" ng-if="[[project.rating_for_project]] != 0 || [[project.rating_for_project]] != ''">
                                                <p>
                                                [['lbl_quality'|translate]]:
                                                <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.quality_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                                </i></span></p>
                                                <p>
                                                [['lbl_creativity'|translate]]:
                                                <span class="star-yellow" ng-repeat="n in returnRatingArray([[project.ratingMatrix.creativity_rating]])" ><i aria-hidden="true" class="fa fa-star">
                                                </i></span></p>
                                                <p>
                                                [['lbl_comprehension_of_the_buyers_requirements'|translate]]:
                                                <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.buyers_requirement_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                                </i></span></p>
                                                <p>
                                                [['lbl_timeliness'|translate]]:
                                                <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.timeliness_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                                </i></span></p>
                                                <p>
                                                [['lbl_responsiveness'|translate]]:
                                                <span  ng-repeat="n in returnRatingArray([[project.ratingMatrix.responsiveness_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                                </i></span></p>
                                            </div>
                                            <div class="date-div" ng-if="[[project.rating_for_project]] == 0 || [[project.rating_for_project]] == ''">
                                                <p>
                                                [['lbl_quality'|translate]]:
                                                <span class="star-yellow">
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                </span></p>
                                                <p>
                                                [['lbl_creativity'|translate]]:
                                                <span class="star-yellow" >
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                </span></p>
                                                <p>
                                                [['lbl_comprehension_of_the_buyers_requirements'|translate]]:
                                                <span class="star-yellow">
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                </span></p>
                                                <p>
                                                [['lbl_timeliness'|translate]]:
                                                <span class="star-yellow">
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                </span></p>
                                                <p>
                                                [['lbl_responsiveness'|translate]]:
                                                <span  class="star-yellow">
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                                </span></p>
                                            </div>
                                        </li>
                                        <li  class="cat">
                                            <h5>
                                            [['lbl_reviews'|translate]]:
                                            </h5>
                                            <p>
                                                <div class="" ng-if="[[project.review_for_project]] != ''">
                                                    [[project.review_for_project | limitTo:strLimit]] 
                                                </div>

                                                <div class="" ng-if="[[project.review_for_project]] == ''">
                                                    [['lbl_review_pending'|translate]]
                                                </div>

                                                <a href="#" ng-if="project.review_for_project.length > 100 && project.review_for_project.length != strLimit" ng-click="showMore(project.review_for_project)" >[['lbl_readmore'|translate]]</a> 
                                                <a href="#" ng-if="project.review_for_project.length == strLimit" ng-click="showLess()" >[['lbl_readless'|translate]]</a> 
                                            </p>
                                        </li>  
                                    </ul>
                                    <!-- <div>
                                        <span class="about-us-section" ng-bind-html="project.project_details_with_skill_detail.project_description"></span>
                                    </div> -->
                                </div>
                              
                            </div>
                        </div>
                    </div>
                    
                </div>
                <default-pagination currentpage="currentDesignerPastCancelPaging" like="Designercancelledprojects(page)" paginate="paginateDesignerPastCancel" range="rangepaginateDesignerPastCancelPage">
                </default-pagination>
            </div>
        </div>
            
    </div>
    
</section>
<!--designer project invitation rejected section-->
<section class="buyer-past-projects-section"  ng-if="projectinvitationrejectedprojects.total>0">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    
                    [['lbl_project_invitation_rejected'|translate]]
                    <span class="number-text">
                        [[projectinvitationrejectedprojects.total]]
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="content-div" ng-if="projectinvitationrejectedprojects.total>0" ng-repeat="project in projectinvitationrejectedprojects.data">
                    <div class="row">
                        <div class="display-table">
                            <div class="col-md-10 display-table-cell">
                                <a href="seller-past-project-info/[[project.project_details_with_skill_detail.slug]]">
                                    <h4>
                                        [[project.project_details_with_skill_detail.project_title]]
                                    </h4>
                                </a>
                                <ul class="invition-info">
                                    <li>
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <th class="sm-thum-img">
                                                    <a href="javascript:;" class="profile-img">
                                                        <img alt="" class="" ng-src="[[project.project_details_with_skill_detail.project_creator.image]]" width="40"/>
                                                    </a>
                                                </th>
                                                <td>
                                                    <h5>
                                                    [['lbl_buyer'|translate]]
                                                    </h5>
                                                     [[project.project_details_with_skill_detail.project_creator.display_name]]
                                                     <p><span class="about-us-section">[[project.created_at]]</span></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                    
                                    <li  class="cat">
                                        <h5>
                                        [['lbl_ratings'|translate]]:
                                        </h5>
                                        <div class="date-div" ng-if="[[project.project_details_with_skill_detail.rating_for_project]] != 0 || [[project.project_details_with_skill_detail.rating_for_project]] != ''">
                                            <p>
                                            [['lbl_quality'|translate]]:
                                            <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.quality_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                            </i></span></p>
                                            <p>
                                            [['lbl_creativity'|translate]]:
                                            <span class="star-yellow" ng-repeat="n in returnRatingArray([[project.ratingMatrix.creativity_rating]])" ><i aria-hidden="true" class="fa fa-star">
                                            </i></span></p>
                                            <p>
                                            [['lbl_comprehension_of_the_buyers_requirements'|translate]]:
                                            <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.buyers_requirement_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                            </i></span></p>
                                            <p>
                                            [['lbl_timeliness'|translate]]:
                                            <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.timeliness_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                            </i></span></p>
                                            <p>
                                            [['lbl_responsiveness'|translate]]:
                                            <span  ng-repeat="n in returnRatingArray([[project.ratingMatrix.responsiveness_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                            </i></span></p>
                                        </div>
                                        <div class="date-div" ng-if="[[project.project_details_with_skill_detail.rating_for_project]] == 0 || [[project.project_details_with_skill_detail.rating_for_project]] == ''">
                                            <p>
                                            [['lbl_quality'|translate]]:
                                            <span class="star-yellow">
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                            </span></p>
                                            <p>
                                            [['lbl_creativity'|translate]]:
                                            <span class="star-yellow" >
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                            </span></p>
                                            <p>
                                            [['lbl_comprehension_of_the_buyers_requirements'|translate]]:
                                            <span class="star-yellow">
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                            </span></p>
                                            <p>
                                            [['lbl_timeliness'|translate]]:
                                            <span class="star-yellow">
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                            </span></p>
                                            <p>
                                            [['lbl_responsiveness'|translate]]:
                                            <span  class="star-yellow">
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                            </span></p>
                                        </div>
                                    </li>
                                    <li  class="cat">
                                        <h5>
                                        [['lbl_reviews'|translate]]:
                                        </h5>
                                        <p>
                                            <div class="date-div content" ng-if="[[project.project_details_with_skill_detail.review_for_project]] != ''">
                                                [[project.project_details_with_skill_detail.review_for_project | limitTo:strLimit]] 
                                            </div>

                                            <div class="" ng-if="[[project.project_details_with_skill_detail.review_for_project]] == ''">
                                                [['lbl_review_pending'|translate]]
                                            </div>

                                            <a href="#" ng-if="project.project_details_with_skill_detail.review_for_project.length > 100 && project.project_details_with_skill_detail.review_for_project.length != strLimit" ng-click="showMore(project.project_details_with_skill_detail.review_for_project)" >[['lbl_readmore'|translate]]</a> 
                                            <a href="#" ng-if="project.project_details_with_skill_detail.review_for_project.length == strLimit" ng-click="showLess()" >[['lbl_readless'|translate]]</a> 
                                        </p>
                                    </li> 
                                </ul>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <default-pagination currentpage="currentprojectinvitationrejectedprojectsPaging" like="Designerprojectinvitationrejected(page)" paginate="paginateprojectinvitationrejectedprojects" range="rangepaginateprojectinvitationrejectedprojects">
                </default-pagination>
            </div>
                
            </div>
        </div>
    </div>
</section>