<!-- if cancel request for project -->
<section class="project-info-section buyer-past-project-info-section" ng-if="projectData.project_status== 8 && projectData.projectdetailinfo.status==11" >
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_cancel_project_reuest'|translate]]
                </h3>
            </div>
            <div class="panel-body">
                    <div class="content-div">
                        <div class="row">
                            <div class="display-table">
                                <div class="col-md-10 display-table-cell">
                                    <a href="seller-project-info/[[projectData.slug]]">
                                        <h4>
                                            [[projectData.project_title]]
                                        </h4>
                                    </a>
                                    <ul class="invition-info">
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <th class="sm-thum-img">
                                                        <a href="javascript:;" class="profile-img">
                                                            <img alt="" class="" ng-src="[[projectData.image]]" width="40"/>
                                                        </a>
                                                    </th>
                                                    <td>
                                                        <h5>
                                                            [['lbl_designer'|translate]]
                                                        </h5>
                                                        [[projectData.project_creator.display_name]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li class="day">
                                            <h5>
                                                [['lbl_days'|translate]]
                                            </h5>
                                            [[projectData.project_timeline]]
                                        </li>
                                        <li class="text-center">
                                            <h5>
                                                [['lbl_budget'|translate]]
                                            </h5>
                                            <span ng-if="current_domain=='cn'" class="left-yen">
                                                ¥
                                            </span>
                                            <span ng-if="current_domain=='net'" class="left-yen">
                                                S$
                                            </span>
                                            [[projectData.project_budget]]
                                        </li>
                                        <li  class="day">
                                            <h5>
                                                [['lbl_invited_on'|translate]]:
                                                       
                                            </h5>
                                            
                                                [[projectData.invitation_sent_on]]
                                        </li>
                                    </ul>
                                    <!-- <div>[[projectData.project_description]]</div> -->

                                    <div class="about-us-section" ng-bind-html="[[projectData.project_description]]"></div>
                                    <div>
                                    <h5>[['lbl_cancel_reason'|translate]]:</h5>
                                    [[projectData.  project_cancellation_reason]]</div>
                                </div>
                               
                                <div class="col-md-2 col-lg-2" ng-if="projectData.project_status!= 5  &&   projectData.project_status!= 9">
                                  <p class="bottom-btn" >
                                      <a class="btn btn-red btn-sm Reject" id="reject" href="#" ng-click="getData(projectData.id,projectData.selected_designer.assigned_designer_id,projectData.project_created_by_id)" data-target="#cancel_request_reason_modal" data-toggle="modal" id="reject">
                                          [['lbl_reject'|translate]]
                                      </a>
                                      <a class="btn btn-green btn-sm Accept" id="accept" href="#" ng-click="Changecancelprojectstatus('accept',5,13,projectData.id,projectData.selected_designer.assigned_designer_id,projectData.project_created_by_id,'')">
                                          [['lbl_accept'|translate]]
                                      </a>
                                  </p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</section>

<!-- Modal Extentsion Bank -->
<div aria-labelledby="myModalLabel" class="modal fade" id="ExtensionModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    [['lbl_extension'|translate]]
                </h4>
            </div>
            <div class="flowup-labels-form">
                <form class="FlowupLabels" id="extension_form" name="eform" ng-submit="eform.submitExtension()">
                    <div class="modal-body">
                        <div class="flowup-labels-form sign-up-form animated go">
                            <div class="form-group">
                                <div class="fl_wrap">
                                    <label class="fl_label" for="days">
                                        [['lbl_days'|translate]]
                                    </label>
                                    <input class="fl_input form-control" id="days" name="days" ng-model="ext.days" required="" type="number">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="fl_wrap">
                                    <label class="fl_label" for="reason">
                                        [['lbl_reason'|translate]]
                                    </label>
                                    <textarea class="fl_input form-control" id="reason" name="reason" ng-model="ext.reason" required=""></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="submit_extension btn btn-purple submit-btn uppercase btn-sm" ng-click="submitExtension(ext)" ng-disabled="!eform.$valid" type="submit">[['lbl_submit'|translate]]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--designer projects info section-->
<section class="project-info-section designer-project-info-section">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [[projectData.project_title]]
                    
                    <!-- <span class="number-text">
                        3
                    </span> -->
                </h3>
        </div>
            <div class="panel-body">
                <div class="content-div">
                    <div class="row">
                        <div class="col-md-10 col-lg-10">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#" class="profile-img">
                                        <img alt="" class="" ng-src="[[projectData.image]]" width="70">
                                        </img>
                                    </a>
                                    <div class="clearfix">
                                        [['lbl_buyer'|translate]]
                                    </div>
                                    <h5>
                                        [[projectData.project_creator.display_name]]
                                    </h5>
                                </div>
                                <div class="media-body">
                                    <a class="btn-link" href="javascript:;">
                                        [['lbl_project_id'|translate]] 
                                    </a>
                                    <h4>
                                        <!-- #[[projectData.id]] -->
                                        #[[projectData.project_number]]
                                    </h4>
                                    <ul class="project-info-list">
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td class="icon-td">
                                                        <i class="fa fa-envelope-open-o">
                                                        </i>
                                                    </td>
                                                    <td>
                                                        [['lbl_invited_on'|translate]]:
                                                        <br/>
                                                        <!-- March 12, 2018  4:45 PM -->
                                                        [[projectData.invitation_sent_on]]
                                                    </td>
                                                </tr>

                                            </table>
                                        </li>
                                        <li width="20%">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td class="icon-td">
                                                        <i class="fa fa-check-circle-o">
                                                        </i>
                                                    </td>
                                                    <td>
                                                        [['lbl_invited_accepted'|translate]]:
                                                        
                                                        <br/>
                                                        [[projectData.invitation_accepted_on]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        [['lbl_budget'|translate]]:
                                                        
                                                        <br/>
                                                        <span ng-if="current_domain=='cn'" class="left-yen">
                                                            ¥
                                                        </span>
                                                        <span ng-if="current_domain=='net'" class="left-yen">
                                                            S$
                                                        </span>
                                                        [[projectData.project_budget]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        [['lbl_timeline'|translate]]:
                                                        <br/>
                                                        <span>[[projectData.project_timeline]] [['lbl_days'|translate]]</span> 
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        [['lbl_days_left_infopage'|translate]]:
                                                        <br/>
                                                        <span class="counter-timer"  ng-if="projectData.days_remaining <= 1" countdown='' date='[[projectData.deadline]]'></span> 
                                                        <span  ng-if="projectData.days_remaining > 1">[[projectData.days_remaining]]</span> 
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                    </ul>
                                    <ul class="project-info-list">
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <span ng-if="skill_array.length>0">[['lbl_categories'|translate]]:</span>
                                                        <br/>
                                                        <div class="tags-div remove-margin">
                                                            <span  ng-if="skill.skill_detail.status==1"  ng-repeat="skill in projectData.skills" class="ng-binding ng-scope cat-span-active-projects btn background-span">
                                                            [[skill.skill_detail.skill_name]]
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </table>
                                        </li>

                                    </ul>
                                    <ul class="project-info-list" ng-if="projectData.project_status==9">
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <br/> 
                                                        <span ng-if="projectData.selected_designer.status==12">
                                                            [['lbl_disputed_by_you' | translate]]
                                                            
                                                        </span>
                                                        <span ng-if="projectData.selected_designer.status==10">
                                                           Disputed by [[projectData.project_creator.display_name]]
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                    </ul>
                                    <div id="projectInfoText" style="display:none;">
                                        <!-- <p>
                                            [[projectData.project_description]]
                                        </p> -->
                                        <div class="about-us-section" ng-bind-html="[[projectData.project_description]]"></div>
                                    </div>
                                    <p class="bottom-btn">
                                        <a class="btn btn-purple btn-sm" href="javascript:;" id="ProjectInfoBtn">
                                            [['lbl_project_info'|translate]]
                                        </a>
                                        <a class="btn btn-purple btn-sm" href="seller-inspiration-bank">
                                            [['lbl_inspiration_bank'|translate]]
                                        </a>
                                        <a ng-if="(projectData.project_status==1 || projectData.projectdetailinfo.status==8) && (projectData.projectdetailinfo.status!==6)" class="btn btn-green btn-sm mark-completed" ng-click="markCompleted(projectData.id)">
                                            [['lbl_mark_as_completed'|translate]]
                                        </a>
                                        <span ng-if="projectData.projectdetailinfo.status==6">
                                            [['lbl_seller_project_completion_request'|translate]]
                                        </span>
                                        <span ng-if="projectData.projectdetailinfo.status==7">
                                            [['lbl_seller_project_completion_request_accepted'|translate]]
                                        </span>
                                        <span ng-if="projectData.projectdetailinfo.status==8">
                                            [['lbl_seller_project_completion_request_rejected'|translate]]
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-md-2 col-lg-2">
                            <div class="dropdown custom-dropdown-btn">
                                <a aria-expanded="false" aria-haspopup="true" class="btn btn-purple btn-sm" data-target="#" data-toggle="dropdown" href="" id="dLabel" role="button">
                                    [['lbl_actions'|translate]]
                                    <span class="caret">
                                    </span>
                                </a>
                                <ul aria-labelledby="dLabel" class="dropdown-menu">
                                    <li ng-if="projectData.project_status==1">
                                        <a ng-click="Showmodal('lbl_cancel_project'|translate)">
                                            [['lbl_cancel_project'|translate]]
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="resetForm()" data-target="#withdraw_modal" data-toggle="modal" href="#">
                                            [['lbl_withdraw'|translate]]
                                        </a>
                                    </li>
                                    <li ng-if="projectData.extension_required == 1">
                                        <a ng-click="resetForm()" data-target="#ExtensionModal" data-toggle="modal" href="#">
                                            [['lbl_extension'|translate]]
                                        </a>
                                    </li>
                                    <li ng-if="projectData.extension_required == 0">
                                        <a ng-click="Nomoreextension()" href="#">
                                            [['lbl_extension'|translate]]
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--designer message board section-->
<section class="message-board-section">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_message_board'|translate]]
                </h3>
            </div>
            <div class="panel-body">
            </div>
            <div class="content-div">
                <form id="message_form" name="message_form" novalidate="" enctype="multipart/form-data">
                    <div class="chat-box">
                        <div class="file-upload">
                            <div ng-if="projectData.project_status == 3 ||  projectData.project_status == 5 || projectData.project_status == 6 || projectData.project_status == 8 || projectData.project_status == 10">
                                <i class="pointer-not-allowed fa fa-paperclip"></i>
                            </div>
                            <div ng-show="projectData.project_status != 3 ||  projectData.project_status != 5 || projectData.project_status != 6 || projectData.project_status != 8 || projectData.project_status != 10">
                                <input id="fileupload" multiple="" name="file[]" type="file">
                                <i class="pointer-cursor fa fa-paperclip"></i>
                            </div>
                        </div>
                        <input ng-disabled="projectData.project_status == 3 ||  projectData.project_status == 5 || projectData.project_status == 6 || projectData.project_status == 8 || projectData.project_status == 10" class="form-control" name="message" ng-model="message" placeholder="[[placeholder_messgae]]" required="" type="text">
                        <button ng-disabled="projectData.project_status == 3 ||  projectData.project_status == 5 || projectData.project_status == 6 || projectData.project_status == 8 || projectData.project_status == 10" class="btn btn-purple send_message" ng-click="Sendmessage(projectData.id,projectData.projectdetailinfo.assigned_designer_id,projectData.project_creator.email_address,projectData.project_creator.id)" type="submit">
                            <i class="fa fa-paper-plane-o">
                            </i>
                        </button>
                        <div class="outer-progress-bar-div">
                        </div>
                    </div>
                </form>
                <ul class="chat-list">
                    <li class="[[message.type!=4?message.side_class:'']]" ng-if="projectData.message_board.length > 0" ng-repeat="message in projectData.message_board  | limitTo : limit" scroll-trigger="scrollEventCallback()">
                        <div class="msg-div" ng-if="message.type==1">
                            <div class="pic-div" ng-if="message.user_role==1 || message.user_role==2">
                                <span class="profile-img">
                                    <img alt="" class="" ng-src="[[message.image]]" width="40"/>
                                </span>
                            </div>
                            <div class="name">
                                [[message.name]]
                            </div>
                            <div class="date">
                                [[message.message_on]]
                            </div>
                            <div class="clearfix">
                            </div>

                            <div class="c-div" ng-if="message.type==1">
                                <p>
                                    [[message.message]]
                                </p>
                                <div class="bottom-img-div" ng-if="message.message_board.length">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-2" ng-repeat="message in message.message_board">
                                            <a  download="" href="[[message.download_placeholder]]" target="_self">
                                                <img alt="" class="" ng-src="[[message.placeholder]]" width="100%">
                                                </img>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="message.user_role==1">
                                <span class="read-unread" ng-if="message.message_status_buyer==1"><img src="resources/assets/images/read.png"></span>
                                <span class="read-unread" ng-if="message.message_status_buyer==2"><img src="resources/assets/images/unread.png"></span>
                            </div>
                        </div>
                        <div ng-if="msg_lang">
                            <div class="note-message-board" ng-if="(message.type==4 && message.notification_msg_show_to==2) || (message.type==4 && message.notification_msg_show_to==3)" ng-bind-html="message.message"></div>    
                        </div>
                        <div ng-if="!msg_lang">
                            <div class="note-message-board" ng-if="(message.type==4 && message.notification_msg_show_to==2) || (message.type==4 && message.notification_msg_show_to==3)" ng-bind-html="message.message_in_chinese"></div>    
                        </div>
                    </li>
                    <li ng-if="projectData.message_board.length<=0">
                        <div class="">
                            <div class="c-div">
                                <p>
                                    <b>
                                        [['lbl_no_messages_sent_received_yet'|translate]]
                                    </b>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="Cancel_flag_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
                <h5 class="modal-title">
                    [[modalTitle]]
                </h5>
            </div>
            <div class="flowup-labels-form">
                <form id="reasonForm" name="reasonForm" ng-submit="reasonForm.reason()" novalidate="">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="fl_wrap">
                                <textarea class="fl_input form-control" id="reason" ng-model="reason" placeholder="[[placeholder]]" required="">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-purple cancel_prj_btn submit-btn btn-sm" ng-click="CancelProject(reason,projectData.id)" ng-disabled="!reasonForm.$valid" type="button">
                            [['lbl_submit'|translate]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="withdraw_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
                <h5 class="modal-title">
                    [['lbl_withdraw'|translate]]
                </h5>
            </div>
            <div class="flowup-labels-form">
                <form id="withdrawForm" name="withdrawForm" ng-submit="withdrawForm.reason()" novalidate="">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="fl_wrap">
                                <input type="number" class="fl_input form-control" id="total_amount" ng-model="total_amount" placeholder="[['lbl_amount'|translate]]" required=""/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button class="btn btn-purple submit-btn" ng-click="withdraw(total_amount,projectData.id)" ng-disabled="!withdrawForm.$valid" type="button">
                            [['lbl_submit'|translate]]
                        </button> -->
                        <button ng-click="withdraw(total_amount,projectData.id)" ng-disabled="!withdrawForm.$valid" class="withdraw-button btn btn-purple submit-btn uppercase btn-sm">[['lbl_submit'|translate]]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cancel_request_reason_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    [[modalTitle]]
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                          ×
                    </span>
                </button>
            </div>
            <div class="flowup-labels-form">
                <form id="cancelRequestReasonForm" name="cancelRequestReasonForm" ng-submit="cancelRequestReasonForm.reason()" novalidate="">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="fl_wrap">
                                <input type="text" class="fl_input form-control" id="cancel_request_reason" ng-model="cancel_request_reason" placeholder="Reason" required=""/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-purple submit-btn" ng-click="Changecancelprojectstatus('reject',9,12,project_id,designer_id,creator_id,cancel_request_reason)"  type="button">
                            [['lbl_submit'|translate]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>