<section class="login-section animatedParent animateOnce">
  <div class="left-g-circle animated bounceInLeft go"><img src="resources/assets/images/gradient-circle.png"></div>
  <div class="right-g-sm-circle animated growIn go"><img src="resources/assets/images/gradient-circle.png" width="60"></div>
  <div class="right-g-trangle animated bounceInRight go"><img src="resources/assets/images/gradient-trangle.png"></div>
  <div class="container">
    <div class="head-sub-text text-center animated fadeInUp go">
      <h3 class="header-text">[['lbl_sign_in'|translate]]</h3>
    </div>
    <div class="head-sub-text text-center animated fadeInUp go" ng-if="show_error">
      <h5>[[login_error]]</h5>
    </div>
  <!--Step first-->
    <div class="flowup-labels-form animated fadeInUp go">
      <form class="FlowupLabels" id="mpLoginForm" name="mpLoginForm" novalidate="" ng-submit="mpLoginForm.Dosignin()">
        <div class="form-group">
          <div class="fl_wrap [[!email_address?email_address_error?'has-error':'':'has-success']]">
            <label class="fl_label" for="rf_email">[['lbl_email_address'|translate]]</label>
            <input class="fl_input form-control" ng-model="email_address" type="email" id="rf_email"  required/>
            <i ng-if="email_address" class="fa fa-check-circle out-icon"></i>
            <i ng-if="email_address_error && !email_address" class="fa fa-exclamation-circle out-icon"></i>
          </div>
        </div>
        <div class="form-group">
          <div class="fl_wrap [[!password?password_error?'has-error':'':'has-success']]">
            <label class="fl_label" for="rf_name">[['lbl_password'|translate]]</label>
            <input class="fl_input form-control" ng-model="password" type="password" id="rf_name" required/>
            <i ng-if="password" class="fa fa-check-circle out-icon"></i>
            <i ng-if="password_error && !password" class="fa fa-exclamation-circle out-icon"></i>
          </div>
        </div>
        <div class="form-group tb-p-rf">
          <div class="row">
            <div class="col-xs-6">
              <span class="custom-checkbox2"> <input type="checkbox" id="test1" /><label for="test1">[['lbl_remember_me'|translate]]</label></span>
            </div>
            <div class="col-xs-6 text-right">
              <a data-target="#forgetPassword" data-toggle="modal" href="javascript:;">[['lbl_forgot_password'|translate]]?</a>
            </div>
          </div>
        </div>
        <div class="form-bottom-btn">
          <div class="row">
              <div class="col-sm-4">
                <button class="btn btn-purple submit-btn" ng-click="Dosignin()"> [['lbl_submit'|translate]]</button>
              </div>
              <div class="col-sm-8">
                <div class="dont-have-acccount">
                    [['lbl_dont_have_an_account'|translate]] <a href="express-interest">[['lbl_sign_up'|translate]]</a>
                </div>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<div class="modal fade" id="forgetPassword" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">[['lbl_forgot_password'|translate]]</h5>
        <button type="button" class="close give-margin-button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="flowup-labels-form">  
        <form class="FlowupLabels" name="forgetPasswordForm" ng-submit="forgetPasswordForm.Forgetpassword()" novalidate="" id="forgetPasswordForm">
          <div class="modal-body">
            <div class="form-group">
                <div class="fl_wrap [[!email?forgot_email_address_error?'has-error':'':'has-success']]">
                  <label class="fl_label" for="forgot_email_address">[['lbl_email_address'|translate]]</label>
                  <input class="fl_input form-control forgot-password-input" ng-model="email" type="email" id="forgot_email_address" required/>
                  <i ng-if="email" class="fa fa-check-circle out-icon forgot-password-circle"></i>
                  <i ng-if="forgot_email_address_error && !email" class="fa fa-exclamation-circle out-icon forgot-password-circle"></i>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button ng-click="Forgetpassword()" ng-disabled="!forgetPasswordForm.$valid" class="btn btn-purple submit-btn uppercase btn-sm forgot-password"> [['lbl_submit'|translate]]</button>
            <!-- <button type="button" class="btn btn-purple submit-btn" ng-click="Forgetpassword()" ng-disabled="!forgetPasswordForm.$valid">[['lbl_submit'|translate]]</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
