<section class="message-board-section">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Payment Processing
                </h3>
            </div>
            <div class="panel-body">
                <div class="content-div">
                    <ul  class="chat-list">
                        <li>
                            <div class="">
                                <div class="c-div">
                                    <p  ng-if="payment_credit==0">
                                        <b>
                                            Processing your payment. Please kindly wait....
                                        </b>
                                    </p>
                                    <p  ng-if="payment_credit==0">
                                        <b>
                                            If you are not automatically redirected within 10 seconds then...
                                        </b>
                                    </p>
                                    <p ng-if="payment_credit==1">
                                        <b>
                                            Thank you for payment.. Your amount is deduct from your credits...
                                        </b>
                                    </p>
                                    <p ng-if="payment_credit==1">
                                        <b>
                                            <button ng-click="returnFromCreditPayment()" class="btn btn-purple submit-btn btn-sm click-here" name="" >Click Here</button>
                                        </b>
                                    </p>
                                    <p  ng-if="payment_credit==0">
 
                                        <form method="post" ng-if="domainInfo == 'net'" name="paypal_form" action="https://www.sandbox.paypal.com/cgi-bin/webscr" class="">
                                            <input type="hidden" name="business" value="bhargav-facilitator@creolestudios.com">
                                            <input type="hidden" name="cmd" value="_cart">
                                            <input type="hidden" name="notify_url" value="https://www.sixclouds.net/paypal-payment-details">
                                            <!-- <input type="hidden" name="cancel_return" value="http://www.b1g1.info/#/upgraderenew-cancel"> -->
                                            <input type="hidden" name="cancel_return" value="https://www.sixclouds.net/buyer-dashboard">
                                            <input type="hidden" name="return" value="https://www.sixclouds.net/buyer-dashboard">
                                            <input type="hidden" name="currency_code" value="SGD">
                                            <input type="hidden" name="page_style" value="paypal">
                                            <input type="hidden" name="no_shipping" value="1">
                                                                        
                                            <input type="hidden" name="invoice" value="[[invoice]]">
                                            <input type="hidden" name="first_name" value="[[paymentInfo.projectpaymentuserdetailinfo.first_name]]">
                                            <input type="hidden" name="last_name" value="[[paymentInfo.projectpaymentuserdetailinfo.last_name]]">
                                            <input type="hidden" name="email" value="[[paymentInfo.projectpaymentuserdetailinfo.email_address]]">
                                            <input type="hidden" name="country" value="India" class="">
                                            <input type="hidden" name="upload" value="1">
                                            <input type="hidden" name="item_name_1" value="Escrow payment">
                                            <input type="hidden" name="item_number_1" value="1">
                                            <input type="hidden" name="quantity_1" value="1">
                                            <input type="hidden" name="amount_1" value="[[paymentInfo.payment_amount]]">
                                            <input type="submit" id="create_and_pay" class="btn btn-purple submit-btn btn-sm" name="" value="Click Here">
                                        </form> 
                                        <form ng-if="domainInfo == 'cn'" name="alipay_form" action="[[domainURL]]" method="post">
                                            <input type="hidden" name="project_budget" value="[[paymentInfo.payment_amount]]">
                                            <input type="hidden" name="out_trade_no" value="[[paymentInfo.id]]">
                                            <input type="hidden" name="title" value="[[paymentInfo.projectpaymentdetailinfo.project_title]]">
                                            <input type="hidden" name="desc" value="[[paymentInfo.projectpaymentdetailinfo.project_description]]">
                                            <input type="submit" id="create_and_pay" class="btn btn-purple btn-sm" name="" value="[['lbl_process_escrow'|translate]]">
                                        </form>
                                        
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>