<!--Home Slider Stert-->
<section class="header-slider ">
    <!-- Swiper -->
    <div class="swiper-container header-swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-content" style="background-image:url(resources/assets/images/slide-bg01.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="text-div">
                                    <h2>
                                        [['lbl_marketplace'|translate]]
                                    </h2>
                                    <div class="detail-div">
                                        <p>[['lbl_great_creations'|translate]]</p>
                                        <p>[['lbl_creative_options'|translate]]</p>
                                        <p>[['lbl_creative_flair'|translate]]</p>
                                        <p>[['lbl_sixteen_spot'|translate]]</p>
                                    </div>
                                    <!-- <a class="btn btn-white uppercase join-now-btn" href="buyer-sign-up">
                                        [['lbl_join_now'|translate]]
                                    </a> -->
                                </div>
                            </div>
                        </div>
                        <!-- <div class="right-img-div">
                            <img class="c-img" height="517" src="resources/assets/images/slider-img.png" width="506">
                                <div class="play-icon">
                                    <a data-target="#videoModal" data-toggle="modal" href="javascript:;">
                                        <i class="fa fa-play">
                                        </i>
                                    </a>
                                </div>
                            </img>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-content" style="background-image:url(resources/assets/images/slide-bg02.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="text-div">
                                    <h2>
                                        [['lbl_marketplace'|translate]]
                                    </h2>
                                    <div class="detail-div">
                                        <p>[['lbl_great_creations'|translate]]</p>
                                        <p>[['lbl_creative_options'|translate]]</p>
                                        <p>[['lbl_creative_flair'|translate]]</p>
                                        <p>[['lbl_sixteen_spot'|translate]]</p>
                                    </div>
                                    <!-- <a class="btn btn-white uppercase join-now-btn" data-target="#joinNowModal" data-toggle="modal" href="javascript:;">
                                        [['lbl_join_now'|translate]]
                                    </a> -->
                                    <!-- <a class="btn btn-white uppercase join-now-btn" href="buyer-sign-up">
                                        [['lbl_join_now'|translate]]
                                    </a> -->
                                </div>
                            </div>
                        </div>
                        <!-- <div class="right-img-div">
                            <img class="c-img" height="517" src="resources/assets/images/slider-img.png" width="506">
                                <div class="play-icon">
                                    <a data-target="#videoModal" data-toggle="modal" href="javascript:;">
                                        <i class="fa fa-play">
                                        </i>
                                    </a>
                                </div>
                            </img>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Home Slider END-->
<!--Section Start-->
<section class="">
    <div class="container">
        <div class="row flex-box">
            <div class="col-md-6">
                <div class="block-one-div">
                    <div class="img-div">
                        <img height="246" src="resources/assets/images/b-img01.png" width="290">
                        </img>
                    </div>
                    <h4>
                        [['lbl_buyer'|translate]]
                    </h4>
                    <h2>
                        [['lbl_buyer_desc'|translate]]
                    </h2>
                    <div class="detail-text">
                        <p>
                           [['lbl_buyer_req_desc'|translate]]
                        </p>
                    </div>
                    <div class="bottom-btn">
                        <a class="btn btn-purple uppercase" href="express-interest">
                            [['lbl_exlopre'|translate]] 
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block-one-div text-right">
                    <div class="img-div">
                        <img src="resources/assets/images/b-img02.png">
                        </img>
                    </div>
                    <h4>
                        [['lbl_designer'|translate]]
                    </h4>
                    <h2>
                        [['lbl_designer_desc'|translate]]
                    </h2>
                    <div class="detail-text">
                        <p>
                            [['lbl_designer_req_desc'|translate]]
                        </p>
                    </div>
                    <div class="bottom-btn seller-btn">
                        <a class="btn btn-purple uppercase" href="seller-signup">
                            [['lbl_get_started'|translate]]
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section End-->
<!--Section Start-->
<section class="graphic-deign-section" data-sequence="500" style="background-image:url(resources/assets/images/bg01.png)">
    <div class="container">
        <div class="normal-content-block" data-id="1">
            <h2>
                [['lbl_exlopre_services'|translate]]
            </h2>
            <!-- <h2>
                [['lbl_adventure'|translate]]
            </h2> -->
        </div>
        <div class="swiper-container graphic-deign-swiper" data-id="2">
            <div class="swiper-wrapper">
                <!--Slide Start-->
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd01.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_logo_design'|translate]]
                        </h3>
                        <!-- <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            
                            <br>
                                [['lbl_design_available'|translate]]
                                
                            </br>
                        </div> -->
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd06.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_business_cards'|translate]]
                        </h3>
                        <!-- <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div> -->
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd02.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_packaging_design'|translate]]
                        </h3>
                        <!-- <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div> -->
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd07.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_advertising_design'|translate]]
                        </h3>
                        <!-- <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div> -->
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd03.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_illustrations'|translate]]
                        </h3>
                        <!-- <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div> -->
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd08.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                           [['lbl_merchandise_design'|translate]]
                        </h3>
                        <!-- <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div> -->
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd04.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_web_design'|translate]]
                        </h3>
                        <!-- <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div> -->
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd09.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_app_design'|translate]]
                        </h3>
                        <!-- <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div> -->
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd05.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_2d_3d_design'|translate]]
                        </h3>
                        <!-- <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div> -->
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd10.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_video_animation'|translate]]
                        </h3>
                        <!-- <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd01.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_painting'|translate]]
                        </h3>
                        <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd06.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_d_design'|translate]]
                        </h3>
                        <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd02.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_font_design'|translate]]
                        </h3>
                        <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd07.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_info_graphics'|translate]]
                        </h3>
                        <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd03.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_logo_design'|translate]]
                        </h3>
                        <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd08.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_d_design'|translate]]
                        </h3>
                        <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd04.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_web_design'|translate]]
                        </h3>
                        <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd09.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_mobile_design'|translate]]
                        </h3>
                        <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd05.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_cartoon'|translate]]
                        </h3>
                        <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="GD-icon-box">
                        <div class="icon-img">
                            <a href="javascript:;">
                                <img height="164" src="resources/assets/images/graphic-design-icon/gd10.png" width="165"/>
                            </a>
                        </div>
                        <h3>
                            [['lbl_tshirt'|translate]]
                        </h3>
                        <div class="detail-div">
                            [['lbl_jobs_completed'|translate]]
                            <br>
                                [['lbl_design_available'|translate]]
                            </br>
                        </div>
                    </div>
                </div> -->
                <!--Slide End-->
            </div>
        </div>
        <div class="next-prev-div">
            <div class="graphicD-swiper-button-prev">
                <span>
                    ←
                </span>
            </div>
            <div class="graphicD-swiper-button-next">
                <span>
                    →
                </span>
            </div>
        </div>
    </div>
</section>
<!--Section End-->
<!--Section Start-->
<section class="p-matching-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-img-div">
                    <img height="544" src="resources/assets/images/designer-img.png" width="544">
                    </img>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="right-content-div normal-content-block ">
                    <h4>
                        [['lbl_suggest'|translate]]
                    </h4>
                    <h2>
                        [['lbl_suggest_desc'|translate]]
                    </h2>
                    <div class="detail-div">
                        <p>
                            [['lbl_suggest_desc_more'|translate]]
                        </p>
                    </div>
                    <!-- <a class="btn btn-purple uppercase read-more-margin" href="javascript:;">
                        [['lbl_read_more'|translate]]
                    </a> -->
                </div>
            </div>
        </div>
    </div>
    <span class="circle-span">
    </span>
</section>
<!--Section End-->
<!--Section Start-->
<!-- <section class="meet-our-talents-section" data-sequence="200" style="background-image:url(resources/assets/images/bg01.png)">
    <div class="container">
        <div class="normal-content-block" data-id="1">
            <h4>
                [['lbl_meet_talents'|translate]]
            </h4>
            <h2>
                [['lbl_find_someone'|translate]]
            </h2>
            
        </div>
        <br>
            <br>
                <div class="row" data-id="2">
                    <div class="col-md-6">
                        <ul class="university-list">
                            <li class="" data-id="1">
                                <a href="javascript:;">
                                    Shanghai Jiao  Tong University
                                </a>
                            </li>
                            <li class="" data-id="2">
                                <a href="javascript:;">
                                    Tsinghua  University
                                </a>
                            </li>
                            <li class="" data-id="3">
                                <a href="javascript:;">
                                    Peking  University
                                </a>
                            </li>
                            <li class="" data-id="4">
                                <a href="javascript:;">
                                    Shanghai Jiao  Tong University
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="our-client-div">
                            <div class="row">
                                <div class="col-xs-6 col-sm-4" ng-repeat="seller in sellerData | limitTo : 6">
                                    <a href="javascript:;">
                                        <img class="rounded seller_imag_landing_page" height="109" src="[[seller.seller_image]]" width="108"/>
                                    </a>
                                    <h4>
                                        <a href="seller-profile/[[seller.slug]]" target="_blank">[[seller.first_name]] [[seller.last_name]]</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </br>
        </br>
    </div>
</section> -->
<!--Section End-->
<!--Section Start-->
<!-- <section class="designer-section">
    <div class="container">
        <div class="" data-sequence="500">
            <div class="normal-content-block " data-id="1">
                <h4>
                    [['lbl_designer_plural'|translate]]
                </h4>
                <h2>
                    [['lbl_pick_work'|translate]]
                </h2>
            </div>
            <br>
                <br>
                    <div class="row" data-id="2">
                        <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="seller in sellerData">
                            <div class="design-post-block">
                                <div class="img-div">
                                    <a href="javascript:;" style="background-image:url([[seller.service_image]])">
                                    </a>
                                </div>
                                <div class="select-design-block landingpage-select-design-block">
                                    <div class="inner-div">
                                        <div class="swiper-container browse-designers-swiper designer-box">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide" ng-repeat="image in seller.show_images track by $index" >
                                                  <img ng-src="[[image]]" />
                                                </div>
                                            
                                            </div>
                                            <div class="browse-designers-button-prev hand-cursor text-right">
                                                <i class="fa fa-chevron-left"></i>
                                            </div>
                                            <div class="browse-designers-button-next hand-cursor text-left">
                                                <i class="fa fa-chevron-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="content-div">
                                    <h3>
                                        [[seller.skill_name]]
                                    </h3>
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <th>
                                                <img class="rounded seller_imag_landing_page" height="42" src="[[seller.seller_image]]" width="42"/>
                                            </th>
                                            <td>
                                                <strong>
                                                    <a href="seller-profile/[[seller.slug]]" target="_blank">[[seller.first_name]] [[seller.last_name]]</a>
                                                </strong>
                                                <div class="clearfix">
                                                </div>
                                                <div class="pull-left rating-div rating4">
                                                    <i class="fa fa-star">
                                                    </i>
                                                    
                                                </div>
                                                 <span class="rate-review-margin">[[seller.total_avg_rate | number:1]]
                                                ([[seller.reviews_count]] [['lbl_reviews'|translate]])</span>
                                               
                                            </td>
                                        </tr>
                                    </table>
                                </div>  
                            </div>
                        </div>
                    </div>
                </br>
            </br>
        </div>
        <div class="bottom-btn">
            <a class="btn btn-purple uppercase " href="javascript:;">
                [['lbl_view_all_designer'|translate]]
            </a>
        </div>
    </div>
</section> -->
<!--Section End-->
<!--Section Start-->
<!-- <section class="testimonial-section" data-sequence="500">
    <div class="container">
        <div class="" data-id="1">
            <div class="t-quote-icon">
                <img height="134" src="resources/assets/images/testimonial-quote-icon.png" width="191">
                </img>
            </div>
            <div class="normal-content-block">
                <h4>
                    [['lbl_real_testi'|translate]]
                </h4>
                <h2>
                    [['lbl_testi_desc'|translate]]
                </h2>
            </div>
        </div>
        <br>
            <br>
                <div class="swiper-container testimonial-swiper" data-id="2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-block-div">
                                <div class="media">
                                    <img alt="" class="mr-3 rounded" src="resources/assets/images/testimonial-img.png">
                                        <div class="media-body">
                                            <h5 class="mt-0">
                                                Bao Hung
                                            </h5>
                                            Sugono Founder
                                        </div>
                                    </img>
                                </div>
                                <p>
                                    “The work they do is just amazing. I recommend this to everyone. I can finally concentrate now on my business as it took a lot of stress off me.”
                                </p>
                                <h3>
                                    Logo Design
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-block-div">
                                <div class="media">
                                    <img alt="" class="mr-3 rounded" src="resources/assets/images/testimonial-img02.png">
                                        <div class="media-body">
                                            <h5 class="mt-0">
                                                Zhi Hsing
                                            </h5>
                                            Chemistry Technologist
                                        </div>
                                    </img>
                                </div>
                                <p>
                                    “Innovative and clean product is delivered always. Love to come here as I get exactly as I want. Don't remember the count as I come here every week.”
                                </p>
                                <h3>
                                    Web Design
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-block-div">
                                <div class="media">
                                    <img alt="" class="mr-3" src="resources/assets/images/testimonial-img03.png">
                                        <div class="media-body">
                                            <h5 class="mt-0">
                                                Guo Tang
                                            </h5>
                                            International economist
                                        </div>
                                    </img>
                                </div>
                                <p>
                                    “I have used it for logos, apps, banners, websites, everything. I can never get enough of it
              because of the fabulous services they provide.”
                                </p>
                                <h3>
                                    Infographics
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-block-div">
                                <div class="media">
                                    <img alt="" class="mr-3" src="resources/assets/images/testimonial-img04.png">
                                        <div class="media-body">
                                            <h5 class="mt-0">
                                                Hini Hung
                                            </h5>
                                            Chemistry Technologist
                                        </div>
                                    </img>
                                </div>
                                <p>
                                    “The designers are exceptional! I am totally satisfied with the quality of work they provide and willingness of the designers to work with you.”
                                </p>
                                <h3>
                                    Mobile Design
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-block-div">
                                <div class="media">
                                    <img alt="" class="mr-3 rounded" src="resources/assets/images/testimonial-img.png">
                                        <div class="media-body">
                                            <h5 class="mt-0">
                                                Bao Hung
                                            </h5>
                                            Sugono Founder
                                        </div>
                                    </img>
                                </div>
                                <p>
                                    “The work they do is just amazing. I recommend this to everyone. I can finally concentrate now on my business as it took a lot of stress off me.”
                                </p>
                                <h3>
                                    Logo Design
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-block-div">
                                <div class="media">
                                    <img alt="" class="mr-3 rounded" src="resources/assets/images/testimonial-img02.png">
                                        <div class="media-body">
                                            <h5 class="mt-0">
                                                Zhi Hsing
                                            </h5>
                                            Chemistry Technologist
                                        </div>
                                    </img>
                                </div>
                                <p>
                                    “Innovative and clean product is delivered always. Love to come here as I get exactly as I want. Don't remember the count as I come here every week.”
                                </p>
                                <h3>
                                    Web Design
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-block-div">
                                <div class="media">
                                    <img alt="" class="mr-3" src="resources/assets/images/testimonial-img03.png">
                                        <div class="media-body">
                                            <h5 class="mt-0">
                                                Guo Tang
                                            </h5>
                                            International economist
                                        </div>
                                    </img>
                                </div>
                                <p>
                                    “I have used it for logos, apps, banners, websites, everything. I can never get enough of it
              because of the fabulous services they provide.”
                                </p>
                                <h3>
                                    Infographics
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-block-div">
                                <div class="media">
                                    <img alt="" class="mr-3" src="resources/assets/images/testimonial-img04.png">
                                        <div class="media-body">
                                            <h5 class="mt-0">
                                                Hini Hung
                                            </h5>
                                            Chemistry Technologist
                                        </div>
                                    </img>
                                </div>
                                <p>
                                    “The designers are exceptional! I am totally satisfied with the quality of work they provide and willingness of the designers to work with you.”
                                </p>
                                <h3>
                                    Mobile Design
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="next-prev-div">
                    <div class="testimonial-swiper-button-prev">
                        <span>
                            ←
                        </span>
                    </div>
                    <div class="testimonial-swiper-button-next">
                        <span>
                            →
                        </span>
                    </div>
                </div>
            </br>
        </br>
    </div>
</section> -->
<!--Section End-->
