`<section class="section cases all-accessours">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<div class="title">
					ALL ACCESSORS<span class="badge back-white text-black">15</span>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="row">
					<label class="col-sm-2 control-label">Sort By:</label>
					<div class="col-sm-7">
						<select class="form-control">
							<option value="saab">All</option>
							<option value="volvo" selected="">Team 1-10</option>
							<option value="saab">Level 1-2</option>
						</select>
					</div>
					<div class="col-sm-3 text-right">
						<a class="btn" data-target="#add-new" data-toggle="modal"><i class="sci-add"></i> Add New</a>
					</div>
				</div>
			</div>
		</div>
		<div class="my-cases">
			<ul class="list-unstyled">
				<li class="panel">
					<div class="case-dec">
						<div class="right-side pd-zero">
							<ul class="list-unstyled list-inline">
								<li class="user-img">
									<div class="img">
										<img src="assets/images/user.jpg">
									</div>
								</li>
								<li class="left-side">
									<div class="sub-header text-black margin-zero">Simon Wong</div>
									<div>
										<label>ID:</label>
										<span>
											<span>201</span>
											<span>(Level 1)</span>
											<span>(Team 1)</span>
										</span>
									</div>
									<div>
										<label>Reporting Manager:</label>
										<span> Joseph Chang</span>
									</div>
								</li>
								<li class="">
									<label>Total Jobs:</label>
									<div><b>73</b></div>
								</li>
								<li class="">
									<label>Total Earnings:</label>
									<div> RMB73,564</div>
								</li>
								<li class="">
									<label>Total Fee: </label>
									<div><b>$75.00</b></div>
								</li>
								<li class="">
									<label>Outstanding Amount: </label>
									<div>RMB23,432</div>
								</li>
								<li class="">
									<label>Total Fee: </label>
									<div><b>$75.00</b></div>
								</li>
								<li class="group-btn box-list">
									<div class="box">
										<a class="btn btn-sm" href="#/PR-account-info">Account Info</a>
										<a class="btn btn-sm" data-target="#clear-payment" data-toggle="modal">Clear Payment</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="case-dec">
						<div class="right-side pd-zero">
							<ul class="list-unstyled list-inline">
								<li class="user-img">
									<div class="img">
										<img src="assets/images/user.jpg">
									</div>
								</li>
								<li class="left-side">
									<div class="sub-header text-black margin-zero">Simon Wong</div>
									<div>
										<label>ID:</label>
										<span>
											<span>201</span>
											<span>(Level 1)</span>
											<span>(Team 1)</span>
										</span>
									</div>
									<div>
										<label>Reporting Manager:</label>
										<span> Joseph Chang</span>
									</div>
								</li>
								<li class="">
									<label>Total Jobs:</label>
									<div><b>73</b></div>
								</li>
								<li class="">
									<label>Total Earnings:</label>
									<div> RMB73,564</div>
								</li>
								<li class="">
									<label>Total Fee: </label>
									<div><b>$75.00</b></div>
								</li>
								<li class="">
									<label>Outstanding Amount: </label>
									<div>RMB23,432</div>
								</li>
								<li class="">
									<label>Total Fee: </label>
									<div><b>$75.00</b></div>
								</li>
								<li class="group-btn box-list">
									<div class="box">
										<a class="btn btn-sm" href="#/PR-account-info">Account Info</a>
										<a class="btn btn-sm" data-target="#clear-payment" data-toggle="modal">Clear Payment</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="case-dec">
						<div class="right-side pd-zero">
							<ul class="list-unstyled list-inline">
								<li class="user-img">
									<div class="img">
										<img src="assets/images/user.jpg">
									</div>
								</li>
								<li class="left-side">
									<div class="sub-header text-black margin-zero">Simon Wong</div>
									<div>
										<label>ID:</label>
										<span>
											<span>201</span>
											<span>(Level 1)</span>
											<span>(Team 1)</span>
										</span>
									</div>
									<div>
										<label>Reporting Manager:</label>
										<span> Joseph Chang</span>
									</div>
								</li>
								<li class="">
									<label>Total Jobs:</label>
									<div><b>73</b></div>
								</li>
								<li class="">
									<label>Total Earnings:</label>
									<div> RMB73,564</div>
								</li>
								<li class="">
									<label>Total Fee: </label>
									<div><b>$75.00</b></div>
								</li>
								<li class="">
									<label>Outstanding Amount: </label>
									<div>RMB23,432</div>
								</li>
								<li class="">
									<label>Total Fee: </label>
									<div><b>$75.00</b></div>
								</li>
								<li class="group-btn box-list">
									<div class="box">
										<a class="btn btn-sm" href="#/PR-account-info">Account Info</a>
										<a class="btn btn-sm" data-target="#clear-payment" data-toggle="modal">Clear Payment</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="case-dec">
						<div class="right-side pd-zero">
							<ul class="list-unstyled list-inline">
								<li class="user-img">
									<div class="img">
										<img src="assets/images/user.jpg">
									</div>
								</li>
								<li class="left-side">
									<div class="sub-header text-black margin-zero">Simon Wong</div>
									<div>
										<label>ID:</label>
										<span>
											<span>201</span>
											<span>(Level 1)</span>
											<span>(Team 1)</span>
										</span>
									</div>
									<div>
										<label>Reporting Manager:</label>
										<span> Joseph Chang</span>
									</div>
								</li>
								<li class="">
									<label>Total Jobs:</label>
									<div><b>73</b></div>
								</li>
								<li class="">
									<label>Total Earnings:</label>
									<div> RMB73,564</div>
								</li>
								<li class="">
									<label>Total Fee: </label>
									<div><b>$75.00</b></div>
								</li>
								<li class="">
									<label>Outstanding Amount: </label>
									<div>RMB23,432</div>
								</li>
								<li class="">
									<label>Total Fee: </label>
									<div><b>$75.00</b></div>
								</li>
								<li class="group-btn box-list">
									<div class="box">
										<a class="btn btn-sm" href="#/PR-account-info">Account Info</a>
										<a class="btn btn-sm" data-target="#clear-payment" data-toggle="modal">Clear Payment</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="case-dec">
						<div class="right-side pd-zero">
							<ul class="list-unstyled list-inline">
								<li class="user-img">
									<div class="img">
										<img src="assets/images/user.jpg">
									</div>
								</li>
								<li class="left-side">
									<div class="sub-header text-black margin-zero">Simon Wong</div>
									<div>
										<label>ID:</label>
										<span>
											<span>201</span>
											<span>(Level 1)</span>
											<span>(Team 1)</span>
										</span>
									</div>
									<div>
										<label>Reporting Manager:</label>
										<span> Joseph Chang</span>
									</div>
								</li>
								<li class="">
									<label>Total Jobs:</label>
									<div><b>73</b></div>
								</li>
								<li class="">
									<label>Total Earnings:</label>
									<div> RMB73,564</div>
								</li>
								<li class="">
									<label>Total Fee: </label>
									<div><b>$75.00</b></div>
								</li>
								<li class="">
									<label>Outstanding Amount: </label>
									<div>RMB23,432</div>
								</li>
								<li class="">
									<label>Total Fee: </label>
									<div><b>$75.00</b></div>
								</li>
								<li class="group-btn box-list">
									<div class="box">
										<a class="btn btn-sm" href="#/PR-account-info">Account Info</a>
										<a class="btn btn-sm" data-target="#clear-payment" data-toggle="modal">Clear Payment</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="case-dec">
						<div class="right-side pd-zero">
							<ul class="list-unstyled list-inline">
								<li class="user-img">
									<div class="img">
										<img src="assets/images/user.jpg">
									</div>
								</li>
								<li class="left-side">
									<div class="sub-header text-black margin-zero">Simon Wong</div>
									<div>
										<label>ID:</label>
										<span>
											<span>201</span>
											<span>(Level 1)</span>
											<span>(Team 1)</span>
										</span>
									</div>
									<div>
										<label>Reporting Manager:</label>
										<span> Joseph Chang</span>
									</div>
								</li>
								<li class="">
									<label>Total Jobs:</label>
									<div><b>73</b></div>
								</li>
								<li class="">
									<label>Total Earnings:</label>
									<div> RMB73,564</div>
								</li>
								<li class="">
									<label>Total Fee: </label>
									<div><b>$75.00</b></div>
								</li>
								<li class="">
									<label>Outstanding Amount: </label>
									<div>RMB23,432</div>
								</li>
								<li class="">
									<label>Total Fee: </label>
									<div><b>$75.00</b></div>
								</li>
								<li class="group-btn box-list">
									<div class="box">
										<a class="btn btn-sm" href="#/PR-account-info">Account Info</a>
										<a class="btn btn-sm" data-target="#clear-payment" data-toggle="modal">Clear Payment</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<div class="modal fade" id="add-new">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add New</h4>
			</div>
			<div class="modal-body inline-block">
				<div class="upload-details">
					<form>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-3">Video Title :</label>
									<div class="col-sm-9">
										<input type="" name="" class="form-control">
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-3">Last Name :</label>
									<div class="col-sm-9">
										<input type="" name="" class="form-control">
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-3">Email Address :</label>
									<div class="col-sm-9">
										<input type="" name="" class="form-control">
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-3">Birth Date :</label>
									<div class="col-sm-9">
										<input type="" name="" class="form-control">
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-3">Phone Number :</label>
									<div class="col-sm-9">
										<input type="" name="" class="form-control">
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-3">Team :</label>
									<div class="col-sm-9">
										<select class="form-control">
											<option>Section #1</option>
											<option>Section #2</option>
											<option>Section #3</option>
											<option>Section #4</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-3">Reporting Officer: </label>
									<div class="col-sm-9">
										<input type="" name="" class="form-control">
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<div class="pull-left">
					<a class="btn">
						<i class="sci-cancel"></i> Cancel
					</a>
				</div>
				<div class="pull-right">
					<a class="btn back-green">
						<i class="sci-add"></i> Add
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="clear-payment">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add New</h4>
			</div>
			<div class="modal-body inline-block">
				<div class="upload-details">
					<form>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-4">Outstanding Amount:</label>
									<label class="col-sm-8 control-label"> &yen; 3,432</label>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-4">Cleared Amount: </label>
									<div class="col-sm-8 amount">
										<input type="" name="" class="form-control">
										<span>&yen;</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-4">Payment Mode :</label>
									<div class="col-sm-8">
										<select class="form-control">
											<option>Bank Transfer to (****4243)</option>
											<option>Section #2</option>
											<option>Section #3</option>
											<option>Section #4</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-4">Transfer Date :</label>
									<div class="col-sm-8">
										<div class="date form-control" data-provide="datepicker">
											<input type="text" name="singledate-picker" value="10/24/1984" class="form-control" />
											<i class="sci-calendar"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<div class="pull-left">
					<a class="btn">
						<i class="sci-cancel"></i> Cancel
					</a>
				</div>
				<div class="pull-right">
					<a class="btn back-green">
						<i class="sci-add"></i> Confirm
					</a>
				</div>
			</div>
		</div>
	</div>
</div>