.admin-header-menu {
    width: 200px !important;
}
.create-new-quiz-section .form-group{
    max-width: 100%!important;
}
.profile-img {
    background: #e8e3ff;
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
}

.profile-img img {
    width: 100%;
}

.hand-cursor:hover {
    cursor: pointer;
}

#TimelineTab .swiper-slide {
    height: 199px;
    text-align: center;
    display: flex;
}

#TimelineTab .swiper-slide img {
    margin: auto;
}

.admin-message-div-img {
    border: none !important;
}

.all-jobs-btn-div {
    margin: 20px 0 10px 0;
    text-align: right;
}
.margin-between-row, .margin_top_20{
    margin-top: 20px;
}
.post-info-list.time li
{
    width: 100%;
}
.post-info-list.time li i
{
    margin-right: 0px;
}
.no-active-checkbox
{
    background: #e8e3ff !important;
    color: #7c81af !important;
}
.post-info-list li .ci
{
    margin-right: 0px;
}
.designer-name, .data-display
{
    display: inline-block;
    width: 100%;
}
.even-list.post-info-list li:nth-child(even)
{
    width: 40%;
}
.marketplace-designers-section .post-info-list li:nth-child(6), .marketplace-designers-section .post-info-list li:nth-child(5), .marketplace-designers-section .post-info-list li:nth-child(4)
{
    margin-bottom: 10px;
}
.marketplace-designers-section .post-info-list li
{
    width: 30%;
}
.marketplace-designers-section .email
{
    margin-bottom: 5px;
}
.data-display{
    margin-left: 27px !important;
}
.tags-div .btn{
    margin-bottom: 10px;
}
.chat-list .center{
    text-align: center;
  
}
.project-details-section .chat-list .center .msg-div{
    color: #323232;
    background: #f2f2f2;
    border-top-right-radius: 30px;
}
.project-details-section .tab-div .btn{
    font-size: 18px;
    height: 35px;
}

/*Added by Ketan Solanki DATE: 27th June 2018*/

.custom-class-exportdropdown {
    width: 200px;
    margin-left: 50px;
}
.custom-class-exportbutton{
    margin-left: 30px;
}
.custom-class-buyerexportdropdown{
    width: 155px;
    margin-left: 10px;
}
.custom-class-buyerexportbutton, .add_sub_category{
    margin-left: 30px;   
}
.custom-class-Sellerexportbutton{
    margin-left: 30px;
    min-width: 50px !important;   
}
.cityClass{
    padding-left: 50px;
}
.star-yellow {
    color: #fde16d !important;
}
.my-portfolio {
    margin: 0 -15px;
    padding: 0;
    list-style: none;
    font-size: 0;
}
.services-div .my-portfolio li {
    display: inline-block;
    float: left;
    padding: 10px 15px;
    width: 20%;
    margin-bottom: 10px;
}
.services-div .service_margin_class {
    margin-right: 20px !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.portfolio-div .single-image-thumb{
    background-size: contain !important;
    background-position: center center;
}
.ticket-status{
    border-radius: 50px;
}
.background-ticket-list{
    background: #e8e3ff !important;
}
.ticket-sm-title{
    width: 50%;
    display: inline-block;
}
.ticketlist-sm-title{
    width: 9%;
    display: inline-block;
}
.create-issue{
    background-color: #009eda; 
    color: #FFF;
}
.create-issue:hover{
    color: #fff;
    cursor: auto;
}
.btn-green:hover{
    background: #69d753 !important;
    cursor: auto;
}
.btn_reject:hover{
    background: #f84c24 !important;
    cursor: auto;   
}
.calendar
{
    position: relative;
}
.calendar input
{
    background-color: transparent;
    z-index: 1;
    position: relative;
}
.calendar i
{
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 0;
}
.upper-space{
    margin-bottom: 5px !important;
}
.horizontal_video_details li{
    width: auto;
    display: inline-block;
    padding: 0px 14px;
    list-style-type: none;
    border-right: 1px solid;
    margin-bottom: 5px;
}
.horizontal_video_details li:last-child
{
    border:0px;
}
.horizontal_video_details
{
    text-align: center;
    color: #f67599;
}
.quizzes-section .custom-accordion .ui-state-default
{
    padding-bottom: 0px;
}


/*Added by ketan solanki for buyer infor page*/
.project-info-section .media > .pull-left {
	width: 90px;
	font-size: 14px;
	text-align: center;
	margin-right: 25px;
}
.project-info-section .media > .pull-left img {
	margin-bottom: 15px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.project-info-section .media > .pull-left h5 {
	margin: 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #141414;
	margin-top: 5px;
}
.project-info-section .media .media-body {
	padding-top: 5px;
	color: #141414;
}
.project-info-list {
	margin: 20px 0;
	padding: 0;
	list-style: none;
	width: 100%;
	display: table;
	max-width: 700px;
}
.project-info-list li {
	margin: 0;
	padding: 0;
	list-style: none;
	/*width: 33%;*/
	padding: 0 25px;
	display: table-cell;
	border-right: 1px solid #eaeaea;
	vertical-align: middle;
}
.project-info-list li:first-child {
	padding-left: 0
}
.project-info-list li:last-child {
	border: none;
}
.project-info-list li .icon-td {
	vertical-align: middle;
	width: 35px;
	font-size: 22px;
}
.project-info-list li .icon-td .fa {
	width: 20px;
	position: relative;
	top: 0;
}
.project-info-list li.completed .fa {
	color: #70d95b;
}
.quiz_image_option{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.question_spacing, .sub_category_margin, .margin_bottom10
{
    margin-bottom: 10px;
}
.mainCategoryDiv{
    max-width: 650px!important;
}
.bundle-identifier{
    display: inline;
    display: inline-flex;
}
.disable_color{
    background-color: #eeeeee !important;
    font-style: bold;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #9e9e9e;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
 color: #9e9e9e;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
 color: #9e9e9e;
}
.form-control:-moz-placeholder { /* Firefox 18- */
 color: #9e9e9e;
}

.video-learning-section .post-info-list {
    margin-bottom: 10px;
    max-width: 1000px;
}
.post-info-list {
    margin: 0;
    list-style: none;
    font-size: 0;
    padding: 0;
}
.video-learning-section .post-info-list li {
    width: 20%;
    color: #454545;
}
.post-info-list li {
    display: inline-block;
    font-size: 12px;
    width: 50%;
    padding: 1px 10px;
    border-left: 1px solid #dedede;
    margin-bottom: 10px;
    vertical-align: top;
}
.video-learning-section .video-div {
    margin: 25px 0;
    max-width: 1000px;
}

.question-image-class{
    width: auto;
    height: 100%;
    margin: auto;
}
.question-image-class-div{
    /*text-align: center;*/
    min-height:200px !important;
    min-width:200px !important;
    border:0px !important;
    height:90px !important;
}
.new-icon-class{
    position: inherit !important;
    font-size: 20px !important;
    color: #f67599 !important;
    margin-left: 50px !important;
}
.anchor_decoration_none{
    color: #454545 !important;
    text-decoration: none !important;
}
.anchor_decoration_none:hover{
    color: #f67599 !important;
    text-decoration: none !important;
}
.anchor_decoration_none_invoice{
    font-size: 14px;
    text-decoration: none !important;
}
.anchor_decoration_none_invoice:hover{
    color: #f67599 !important;
    font-size: 14px;
    text-decoration: none !important;
}
.bottom-class{
    margin-bottom: 25px;
}
.work-sheet-file-div {
    border: 1px dashed #f67599;
    background: #fff;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 14px;
    color: #323232;
    width: 650px;
}
.work-sheet-file-div .download-btn {
    float: right;
    font-size: 30px;
    line-height: 30px;
    color: #f67599;
}
.icon_left_custom{
    float: right;
}
.remove-max-width{
    max-width: none !important;
}
.qr-code-class{
    cursor: pointer;
    border: 1px solid #f67599;    
}
.reload-new{
    position: absolute;    
    text-decoration: none;
    color: #9f9fd6;
    font-size: 18px;
    padding-left: 5px; 
    cursor: pointer;
}
.unique-link-class{
    word-wrap: break-word;
    text-align: justify;
}
.thumbnail_custom{
    max-width: 135px !important;
    height: 90px !important;
    border-radius: 5px;
    border: 1px solid #eee;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.custom_checkbox_div
{
    position: relative;
    display: inline-block;
        padding-right: 10px;
    padding-top: 12px;
}
.custom_checkbox_div .custom_checkbox_span
{
    width: 22px;
    height: 22px;
    background: #fff;
    border: 1px solid #b2b2b2;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    top: 8px;
}
.custom_checkbox_div input
{
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 1px;
    right: 0;
    height: 20px;
    width: 20px;
    margin: 0px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
/*.custom_checkbox_div input:checked ~ span
{
    background-color: #63c35e;
}*/
.custom_checkbox_div input + .custom_checkbox_span:after{
    content: '✔';
    position: absolute;
    top: 0.5em;
    left: .4em;
    line-height: 0.8;
    color: #8fbd92;
    transition: all .2s;
    font-size: 14px;
}
.custom_checkbox_div input:checked + .custom_checkbox_span:after{
    opacity: 1;
    transform: scale(1);
}
.custom_checkbox_div input[type="checkbox"]:not(:checked) + .custom_checkbox_span:after {
    opacity: 0;
    transform: scale(0);
}
.custom_checkbox_div .text
{
   padding-left: 27px;
}
.custom_tab_div{
    /*margin-left: 15px !important;*/
    margin-bottom: 2px !important;
}
.custom_checkbox{
    /*margin: 0px 200px 30px !important;*/
    margin-bottom: 30px !important;
}
.delete_right_icon {
    right: 40px !important;
    background: rgb(221, 107, 85) !important;
}
.remove_height_custom{
    min-height: 120px !important;
}
.btn_green_custom {
    background: #69d753 !important;
    color: #fff !important;
}
.btn_green_custom:hover {
    background: #5fbf4c !important;
    color: #fff !important;
    cursor: pointer;
}
.all_content_custom{
    max-width: 128px !important;
    max-height: 72px !important;
}
.modal-lg
{
    width: 900px;
}
.team_member_modal label{
    white-space: initial;
}
.dice_class{
    margin-top: 8px;
}
.margin_top_5{
    margin-top: 5px;
}
.text_decoration_none_custom{
    text-decoration: none !important;
}
.lg_icon_custom{
    margin-right: 0px !important;
}
.back_custom_link{
    color: #f67599 !important;
}
.tab_custom_status{
    background-color: #f67599 !important;
    color: #fff;
    cursor: default;
}
.tab_custom_status:hover{
    background-color: #f67599 !important;
    color: #fff;
    cursor: default;
}
/*Table Listing CSS start*/
.table-div {
    border: 1px solid #cdcdcd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: auto
}
.table-div table {
    margin: 0;
    min-width: 800px;
}
.table-div table thead tr th {
    background: #fbfbfb;
    padding: 5px 20px !important;
    height: 70px;
    vertical-align: middle;
    font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.table-div table tbody tr td {
    height: 50px;
    vertical-align: middle;
    font-size: 12px;
    padding: 5px 20px !important;
    font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
}
.table-div table td .btn {
    height: 23px;
    box-shadow: none;
    background: #ccc;
    font-size: 12px;
    padding: 3px;
    line-height: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
}
.table-div table td .btn.success {
    background: rgba(126,211,33,0.2);
    color: #7ed321
}
.table-div table td .btn.failed {
    background: rgba(226,41,13,0.2);
    color: #e2290d
}
/*Table Listing CSS END*/
/*Earnings Page css Start*/
.earnings-div .head-year {
    max-width: 300px;
    margin: 40px auto;
}
.earnings-div .head-year label {
    padding-top: 8px;
}
.earnings-div table tbody td, .earnings-div table thead th {
    text-align: center;
}
.earnings-div table tfoot tr {
    background: rgba(255, 187, 210, 0.2);
}
.earnings-div table tfoot td {
    font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.earnings-div .container {
    max-width: 1400px;
}
/*Earnings Page css End*/
.shake_custom{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.margin_right_custom10{
    margin-right: 10px !important;
}
.margin_right_custom40{
    margin-right: 40px !important;
}
.row_bottom_15 > .row{
    margin-bottom: 15px !important;
    line-height: 30px !important;
}
.line_height_custom30{
    line-height: 30px !important;
}
.right_icon_custom {
    margin-left: 500px;
}
.fix_size_textarea{
    max-width: 480px !important;
    height: 120px !important;
}
.pink_checkbox > .custom-checkbox [type="checkbox"]:not(:checked) + label {
    background: #fee8ee !important;
}
.pink_checkbox > .custom-checkbox [type="checkbox"]:checked + label {
    background: #f67599 !important;
}
.quiz_banner {
    width: 128px !important;
    height: 72px !important;
}
.small_blak_color{
    color: #454545;
}
.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
.inlinedisplay {
  display: inline;
}
.inlineDisplayBlock {
  display: inline-block;
}
.marginTop {
  margin-top: 6px;
}
.marginLeft {
    margin-left: 35px;
}
.displayNone {
    display: none;
}
.height60 {
    height: 60px;
}
.customHW {
    height: 72px;
    width: 128px;

}